#filterrific_results.filter_btm_space
  %p
    Total Courses:
    = courses.count
  =will_paginate courses, renderer: BootstrapPagination::Rails
  %table#table_id.gr-table-bordered.table-hover.courses_data_table
    %thead
      %tr
        %th Course ID
        %th Name
        %th City
        %th Product version
        %th Enrolment end date
        %th Expiry date
        /%th Paypal only
        / %th Student count
        / %th Class size
        / %th Tutors Assigned?
        / - if !current_user.student?
        /   %th.action_edit Actions
        /   %th.action_enrolment
        /   %th.action_destroy
        /   %th.action_duplicate
        /   - if params[:action] == "archived_courses"
        /     %th.action_unarchived

    %tbody
      - courses.each do |course|
        %tr
          %td= course.id
          %td= course.name
          %td= course.city
          %td
            = course.product_version.name if course.product_version
            = "(#{course.product_version.type})" if course.product_version
          %td= course.enrolment_end_date.try(:strftime, '%d/%m/%Y')
          %td= course.expiry_date.try(:strftime, '%d/%m/%Y')
          /%td= check_box_tag :paypal_only, true, course.paypal_only, id: "#{course.id}-paypal", class: "paypal-only" 
          / %td= course.student_list.count
          / %td= course.class_size
          / %td= course.tutor_assigned?
          / - if !current_user.student?
          /   %td= link_to 'Edit', edit_course_path(course), class: 'btn btn-info btn-sm', target: :_blank
          /   %td= link_to 'Enrolment', course , class: 'btn btn-info btn-sm', target: :_blank
          /   %td
          /     - if course.users.size == 0
          /       = link_to 'Destroy', course, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger btn-sm'
          / %td= link_to 'Duplicate', duplicate_course_path(course), method: :post, data: { confirm: 'It will create duplicate course' }, class: 'btn btn-success btn-sm', target: :_blank
          / - if params[:action] == "archived_courses"
          /   %td= link_to 'Unarchived', unarchived_course_path(course), method: :post, data: { confirm: 'It will unarchive the course' }, class: 'btn btn-success btn-sm'


:javascript

  $('.paypal-only').change(function(){
    var courseId = this.id.split('-')[0]
    var checked = this.checked
    $.ajax({
      url: "/courses/update_paypal",
      type: "POST",
      dataType: 'script',
      data: {course_id: courseId, paypal_only: checked},
    }).done(function() {
    });
  })  
  $('#table_id').DataTable({
    "bPaginate": false,
    "aoColumnDefs" : [
      { orderable: false, targets: [8,9] } ]
  });
