-if course_version
  .panel.panel-default
    .panel-heading
      %h3.panel-title Course
    .panel-body
      %p
        %strong Name:
        = course_version.course.title
      %p
        %strong Description:
        = course_version.course.description
      %p
        %strong Version number:
        = course_version.version_number
      %p
        %strong Date added:
        = format_date_long course_version.date_added
      %p
        %strong Class size:
        = course_version.class_size
      %p
        %strong Expiary date:
        = format_date_long course_version.expiry_date
      %p
        %strong Enrolment end added:
        = format_date_long course_version.enrolment_end_added
      %p
        %strong Students count:
        = course_version.students_count

      -if @address
        %hr
        %p
          %strong Address
          =render 'addresses/address', {address: course_version.address}
