%h1 Listing comments

%table.table.table-bordered.table-hover
  %thead
    %tr
      %th Commentable
      %th User
      %th Content
      %th{colspan: 2} Actions

  %tbody
    - @comments.each do |comment|
      %tr{'data-link': url_for(comment)}
        %td= comment.commentable_type
        %td= comment.user
        %td= comment.content
        %td= link_to 'Edit', edit_comment_path(comment), class: 'btn btn-info btn-sm'
        %td= link_to 'Delete', comment, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger btn-sm'

%br
