#mcq-exam-review-rating-modal.modal.latest_pop.fade{:role => "dialog", :tabindex => "-1", }
  .modal-dialog.modal-md{:role => "document"}
    .modal-content
      - path = ""
      - if params[:online_mock_exam_attempt_id].present?
        - path = create_update_question_rating_online_mock_exam_attempt_section_attempt_section_item_attempt_path(@attemptable.id,@section_attempt.id, item_attempt.id)
      - elsif params[:online_mock_exam_attempt_temp_id].present?
        - path = create_update_question_rating_online_mock_exam_attempt_temp_section_attempt_section_item_attempt_path(@attemptable.id,@section_attempt.id, item_attempt.id)
      - else
        - path = create_update_question_rating_online_exam_attempt_section_attempt_section_item_attempt_path(@attemptable.id,@section_attempt.id, item_attempt.id)
      = simple_form_for(rating , method: :post, url: path, remote: true, html:{class: "rate_form"}) do |f|
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"} &times;
          %h4.modal-title Rate this question
        .modal-body
          .form-group
            .form-inputs
              =f.label :stars, 'How do you feel this set of questions represented the official ACER practice questions?'
            = rating_for_user item_attempt.mcq_stem, current_user, nil, disable_after_rate: false, star: 10, enable_half: true, cancel: false
          .form-group
            .form-inputs
              = f.input :description, label: 'Please elaborate if appropriate.', as: :text, input_html: { rows: 5, cols: 10}
        .modal-footer
          = link_to "Next", "javascript:void(0)", class: 'rate_btn default_btn hvr-shutter-in-horizontal'
          =# f.button :submit, "Submit", class: "hvr-shutter-in-horizontal btn btn-default auto_wdt"
= javascript_include_tag "ratyrate"
:javascript
  $(document).ready(function(){
    $(".rate_btn").on('click', function(){
      $("form.rate_form").submit();
    });
  });


