- content_for :page_heading, 'Online Exams and Diagnostic Assessment'
.dashbord_right
  .resource_col
    %a.show_all_faq.default_btn.hvr-shutter-in-horizontal{href: "javascript:void(0)"} Hide All
  .faq_list.para_fs14
    - if current_user && (current_user.student?)
      - if !@announcement.nil?
        = render 'announcements/student_announcement', announcement: @announcement, title: 'Online Exams Announcements', user_announcement: @user_announcement
        .faq_list_col
          = render "pages/partial/feature_videos/exam_video", announcement: @announcement
    .clearfix
      .mtop10
        .clearfix
        %h4.mtop10
          Online Exams
    .faq_list_col.table_3_col
      .faq_list_col
        -if request.variant.blank?
          %table.table.mobile_data_table.table-bordered.table-hover.essay_table#exam_table
            %thead
              %tr
                %th Online exam
                %th Mark
                %th Percentile
                %th Completed at
                %th Action
            %tbody
              - if @online_exams.present?
                - @online_exams.sort_by{ |online_exam| online_exam.position || 99999999 }.each do |online_exam|
                  %tr
                    %td.mobile_mousehover_tool= online_exam.title
                    %td
                    %td
                    %td
                    %td
                      %a.table_icon_col.toggle-plus.create_exam_attempt{"data-original-title" => "", "data-placement" => "top", "data-toggle" => "tooltip", 'data-id' => "#{online_exam.id}", href: "javascript:void(0)"}
                  %tr
                    %td{colspan:5, id: "new_exam_attempt_div#{online_exam.id}", class: "disable"}
                      = simple_form_for(@online_exam_attempt, url: online_exam_attempts_path, html:{id:"assessment_attempt_form#{online_exam.id}"}) do |f|
                        = f.error_notification
                        .form-inputs
                          = f.hidden_field :course_id, value: current_course.try(:id)
                          = f.hidden_field :attempt_mode, value: 'Online Exam'
                          = f.hidden_field :section_one_score, value:0
                          = f.hidden_field :section_three_score, value:0
                          = f.input :assessable_id, as: :hidden, input_html: {value: online_exam.id}
                        .form-inputs
                          = f.input :question_style, as: :select, collection: Exercise.exercise_question_styles.map { |k, v| [k, v]  }, label: "Question Style", include_blank: false, selected: 1
                        .form-inputs
                          = f.label :timer_option_type, 'Timer Option'
                          %i.glyphicon.glyphicon-question-sign.question-sign{:title => "If you select Apply Time Limit to Individual Questions, a time limit will be set for each question. Once the allotted time is elapsed you will automatically be moved on to the next question, but you are still able to go back and answer previous question."}
                          = f.input :timer_option_type, as: :select, collection: [["Apply Time Limit to Entire Exam ", "entire_exam"], ["Apply Time Limit to Individual Questions", "individual_question"]], label: false, include_blank: false

                        .form-actions.text-center
                          = f.button :submit, "Create Online Exam", class: 'default_btn hvr-shutter-in-horizontal', onclick: "dd_loader();"
              - if @online_exam_attempts.present?
                - @online_exam_attempts.each do |online_exam_attempt|
                  %tr
                    %td.mobile_mousehover_tool= online_exam_attempt.assessable.title
                    %td= online_exam_attempt.mark || 0
                    %td= percentile(online_exam_attempt)
                    %td= online_exam_attempt.completed_at ? online_exam_attempt.completed_at.strftime("%d-%m-%Y %I:%M %p") : "N/A"
                    %td= link_to online_exam_attempt.completed_at.nil? ? image_tag('https://gradready.s3.ap-southeast-2.amazonaws.com/static/student_pages/start-img.svg') : image_tag('https://gradready.s3.ap-southeast-2.amazonaws.com/static/student_pages/view.svg'), online_exam_attempt.attempt_mode == 'Print Exam Questions' ? print_exam_questions_online_exam_attempt_path(online_exam_attempt.assessable) : online_exam_attempt_path(online_exam_attempt), target: :_blank,data: {toggle: "tooltip", placement: "top", "original-title" => online_exam_attempt.completed_at.nil? ? 'Start' : 'View'}

              -if @remaining_online_exams.present?
                - @remaining_online_exams.each do |online_exam|
                  %tr
                    %td.mobile_mousehover_tool= online_exam.title
                    %td
                    %td
                    %td
                    %td
                      = link_to image_tag('https://gradready.s3.ap-southeast-2.amazonaws.com/static/student_pages/lock-icon.png'), feature_logs_path,data: {toggle: "tooltip", placement: "top", "original-title" => "Purchase"}, onclick: 'dd_loader();'

        -else
          .mobile_table_border
            %ul.tbl_head
              %li.width_inc Online exam
              %li.mobile_wdt_th.rht56.mobile_mousehover_tool
                M
                %span.heading_tool_tip.mrht37
                  %p Mark
              %li.mobile_wdt_th.rht15.mobile_mousehover_tool
                P
                %span.heading_tool_tip.mrht37
                  %p Percentile
              - if @online_exams.present?
                -@online_exams.sort_by(&:position).each do |online_exam|
                  %ul.mobile_table_body.listing.tbl_head.bdr_none#exam_table
                    %li.mobile_mousehover_tool.width_inc
                      = online_exam.title
                      %ul.tool_tip
                        %li
                          Mark:
                        %li
                          Percentile:
                        %li
                          Completed at:
                        %li{colspan:5, class: "tooltip_exam_form"}
                          = simple_form_for(@online_exam_attempt, url: online_exam_attempts_path, html:{id:"assessment_attempt_form#{online_exam.id}"}) do |f|
                            = f.error_notification
                            .form-group
                              = f.hidden_field :course_id, value: current_course.try(:id)
                              = f.hidden_field :attempt_mode, value: 'Online Exam'
                              = f.hidden_field :section_one_score, value: 0
                              = f.hidden_field :section_three_score, value: 0
                              = f.input :assessable_id, as: :hidden, input_html: {value: online_exam.id}
                            .form-group
                              = f.input :question_style, as: :select, collection: Exercise.exercise_question_styles.map { |k, v| [k, v]  }, label: "Question Style", include_blank: false
                            .form-group
                              = f.label :timer_option_type, 'Timer Option'
                              = f.input :timer_option_type, as: :select, collection: [["Apply Time Limit to Entire Exam ", "entire_exam"], ["Apply Time Limit to Individual Questions", "individual_question"]], label: false, include_blank: false

                            .form-actions.text-center
                              = f.button :submit, "Create Online Exam", class: 'default_btn hvr-shutter-in-horizontal', onclick: "dd_loader();"
                    %li.mobile_mousehover_tool.mobile_wdt_th.rht56
                    %li.mobile_mousehover_tool.mobile_wdt_th.rht15

              - if @online_exam_attempts.present?
                - @online_exam_attempts.each do |online_exam_attempt|
                  %ul.mobile_table_body.listing.tbl_head.bdr_none
                    %li.mobile_mousehover_tool.width_inc
                      = online_exam_attempt.assessable.title
                      %ul.tool_tip
                        %li
                          Mark:
                          = online_exam_attempt.mark || 0
                        %li
                          Percentile:
                          = percentile(online_exam_attempt)
                        %li
                          Completed at:
                          = online_exam_attempt.completed_at ? online_exam_attempt.completed_at.strftime("%d-%m-%Y %I:%M %p") : "N/A"
                        %li
                          Action:
                          = link_to online_exam_attempt.completed_at.nil? ? image_tag('https://gradready.s3.ap-southeast-2.amazonaws.com/static/student_pages/start-img.svg') : image_tag('https://gradready.s3.ap-southeast-2.amazonaws.com/static/student_pages/view.svg'), online_exam_attempt.attempt_mode == 'Print Exam Questions' ? print_exam_questions_online_exam_attempt_path(online_exam_attempt.assessable) : online_exam_attempt_path(online_exam_attempt), target: :_blank,data: {toggle: "tooltip", placement: "top", "original-title" => online_exam_attempt.completed_at.nil? ? 'Start' : 'View'}, class: "table_icon_col"
                    %li.mobile_mousehover_tool.mobile_wdt_th.rht56= online_exam_attempt.mark || 0
                    %li.mobile_mousehover_tool.mobile_wdt_th.rht15= percentile(online_exam_attempt)
              -if @remaining_online_exams.present?
                - @remaining_online_exams.each do |online_exam|
                  %ul.mobile_table_body.listing.tbl_head.bdr_none
                    %li.mobile_mousehover_tool.width_inc
                      = online_exam.title
                      %ul.tool_tip
                        %li
                          Mark:
                        %li
                          Percentile:
                        %li
                          Completed at:
                        %li
                          Action:
                          = link_to image_tag('https://gradready.s3.ap-southeast-2.amazonaws.com/static/student_pages/lock-icon.png'), feature_logs_path,data: {toggle: "tooltip", placement: "top", "original-title" => "Locked"}, class: "table_icon_col"
                    %li.mobile_mousehover_tool.mobile_wdt_th.rht56
                    %li.mobile_mousehover_tool.mobile_wdt_th.rht15

-if @access == 'false'
  = render 'partial/access_limit_modal', type: 'Exam', p_course_path: @p_course_path, product_line: @product_line, path: online_exam_attempts_path

:javascript

  $( ".create_attempt" ).click(function() {
    var test_id = $(this).attr('data-id');
    var collapsed = $(this).hasClass('toggle-plus');
    if(collapsed){
      $(this).removeClass('toggle-plus');
      $(this).addClass('toggle-minus');
    }else{
      $(this).removeClass('toggle-minus');
      $(this).addClass('toggle-plus');
    }
    $("#new_attempt_div"+test_id).toggleClass("disable");
    $('[id^="new_attempt_div"]').not($("#new_attempt_div"+test_id)).addClass('disable');
  });

  $( ".create_exam_attempt" ).click(function() {
    var exam_id = $(this).attr('data-id');
    var collapsed = $(this).hasClass('toggle-plus');
    if(collapsed){
      $(this).removeClass('toggle-plus');
      $(this).addClass('toggle-minus');
    }else{
      $(this).removeClass('toggle-minus');
      $(this).addClass('toggle-plus');
    }

    $("#new_exam_attempt_div"+exam_id).toggleClass("disable");
    $('[id^="new_exam_attempt_div"]').not($("#new_exam_attempt_div"+exam_id)).addClass('disable');
  });
  $( ".select_attempt_type" ).click(function() {
    var exam_id = $(this).attr('data-id');
    if($("#select_attempt_type"+exam_id).val() == 'Online Exam'){
      $(this).hide();
      $("#assessment_attempt_form" + exam_id).show();
    }
  });

  $( ".select_attempt_type" ).click(function() {
    var exam_id = $(this).attr('data-id');
    if($("#select_attempt_type"+exam_id).val() == 'Online Exam'){
      $(this).hide();
      $("#assessment_attempt_form" + exam_id).show();
    }else{
      dd_loader();
      window.location = '/online_exam_attempts/'+ exam_id + '/print_exam_questions'

    }
  });

  $(".attempt_mode_select").on('change', function(){
    var exam_id = $(this).attr('data-id');
    if($(this).val() != 'Online Exam'){
      $("#assessment_attempt_form" + exam_id).hide();
      $("#contnue_att"+exam_id).show();
    }
  });


:css
  / add .new_assessment_attempt
  #exam_table .simple_form{
    display: none;
  }
