= simple_form_for(@mcq_student_answer) do |f|
  = f.error_notification

  .form-inputs
    = f.association :user
    = f.association :mcq_answer
    = f.input :time_taken

  .form-actions
    = f.button :submit
