.packages_col.swiper-container
  - show_package = 3
  .swiper-wrapper
    - pvfps.each_with_index do |pvfp, index|
      -fl = pvfp.feature_logs.includes(:purchase_item).where('enrolment_id = (?) AND purchase_items.id IS NOT NULL', enrolment.id).references(:purchase_items).first
      - if course_type == 1
        - cus_fl = pvfp.feature_logs.where(enrolment_id: enrolment.id, description: 'custom purchase')
        - show_package += 1 if cus_fl.present? && index <= 3
      -else
        - cus_fl = nil
      -unless cus_fl.present?
        .col-md-4.swiper-slide
          .package_box{class: "#{index < show_package ? 'show' : ''} pvfp_#{pvfp.master_feature_id} #{fl.present? ? 'featured_pro_aded' : ''}"}
            = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/#{pvfp.master_feature.title.remove(' ').downcase}.png"
            - if pvfp.master_feature.most_popular
              %span.most_popular most popular
            .package_box_footer
              -if pvfp.master_feature.name == "GamsatAttendanceTutorialsFeature"
                %p= pvfp.master_feature.title
              -else
                %p= pvfp.master_feature.addons_name
              -if course_type == 1 || course_type == 11
                %span.lrge="$#{pvfp.ten_percent_gst_amount.to_i}"
              -else
                %span.strike
                  %strike="#{pvfp.ten_percent_gst_amount.to_i}"
                %span.lrge="#{pvfp.price_after_discount.to_i}"
                %span.off (25% off)
              %ul.cart_wrapper
                -if pvfp.master_feature.mcq_feature? && course_type == 1
                  %li.width_inc
                    = select_tag "select_qty", options_for_select([500, 1000, 1500, 2000, 2500, 3000, 3500, 4000], selected: 4000), pvfp: pvfp.id, class: 'change_qty'

                -if pvfp.master_feature.private_tutoring? || pvfp.master_feature.essay?
                  %li.width_inc
                    = select_tag "select_qty", options_for_select((1..10), selected: pvfp.qty), pvfp: pvfp.id, class: 'change_qty'
                %li
                  %a.default_btn.hvr-shutter-in-horizontal.cart_btn{:href => "javascript:void(0)", pvfp: "#{pvfp.id}", id: "pvfp#{pvfp.id}"} Add To Cart
            .pro_cart_added_col
              %span.prod_cart_heading Feature added to cart
              %a.remove_cart_col{:href => "javascript:void(0)", purchase_item_id: "#{fl.present? ? fl.purchase_item.id : ''}"} Remove

  .swiper-pagination
:javascript
  $(document).ready(function(){

    $(".cart_btn").click(function(){
      var pvfp_id = $(this).attr('pvfp');
      var order_id = '#{order.id}';
      var enrolment_id = '#{enrolment.id}';
      var qty = $(this).parents('ul').find('select#select_qty').val();
      $.ajax({
        url: "/orders/"+ order_id +"/add_to_cart",
        method: "POST",
        data: {pvfp_id:  pvfp_id, enrolment_id: enrolment_id, qty: qty},
        success: function(obj) {
          var cart_add = ".package_box.pvfp_" + obj['master_feature_id']
          $(cart_add).addClass("featured_pro_aded");
          $(cart_add).find('a.remove_cart_col').attr('purchase_item_id', obj['purchase_item_id'])
        }
      });
    });

    $(".remove_cart_col").click(function(){
      var purchase_item_id = $(this).attr('purchase_item_id');
      $.ajax({
        url: "/purchase_items/"+ purchase_item_id,
        method: "DELETE",
        dataType: 'json',
        data: {},
        success: function(obj) {}
      });
      $('#textbook_hardcopy').attr('checked', false);
      $(this).parents(".package_box").removeClass("featured_pro_aded");
    });

    $(".change_qty").on('change', function(){
      var id = $(this).attr('pvfp');
      var qty = $(this).val();
      var course_type = '#{course_type}';
      $.ajax({
        url: "/feature_logs/"+ id +"/pvfp_qty_price",
        method: "GET",
        data: {qty:  qty, course_type: course_type},
        success: function(obj) {
          var cart_add = ".package_box.pvfp_" + obj['master_feature_id']
          if(obj['discount_price'] == 0){
            $(cart_add).find('span.lrge').text(obj['total_price'])
          }else{
            $(cart_add).find('strike').text(obj['total_price']);
            $(cart_add).find('span.lrge').text(obj['discount_price']);
          }
        }
      });
    })

    $("#online_textbook, #textbook_hardcopy").click(function(){
      var pvfp_id = $(this).val();
      var order_id = '#{order.id}';
      var enrolment_id = '#{enrolment.id}';
      var online_check = $('#online_textbook').is(':checked');
      var hardcopy_checked = $('#textbook_hardcopy').is(':checked');
      $.ajax({
        url: "/orders/"+ order_id +"/textbook_cart",
        method: "POST",
        data: {pvfp_id:  pvfp_id, enrolment_id: enrolment_id, online_check: online_check, hardcopy_checked: hardcopy_checked},
        success: function(obj) {
          if(obj['master_feature_id'] && obj['purchase_item_id']){
            var cart_add = ".package_box.pvfp_" + obj['master_feature_id']
            $(cart_add).addClass("featured_pro_aded");
            $(cart_add).find('a.remove_cart_col').attr('purchase_item_id', obj['purchase_item_id'])
          }else if(obj['master_feature_id']){
            var cart_add = ".package_box.pvfp_" + obj['master_feature_id']
            $(cart_add).removeClass("featured_pro_aded");
          }
        }
      });
    });
  });
