.col-lg-7.col-md-6.col-sm-12.col-xs-12
  .cr_descr_text_col
    %p.text_content
      This package contains the absolute essentials needed to succeed in the
      = product_line
      %sup ®
      exam.
      Although considered the bare minimum by GradReady standards, this
      = product_line
      %sup{ style: "margin-right: -5px;"} ®
      exam prep course is comparable to the flagship courses provided by numerous other
      = product_line
      %sup ®
      exam preparation course providers. The Online package contains a comprehensive set of review material for the
      = product_line
      %sup ®
      exam in both text and video form. In addition, you will be able to develop your understanding of concepts by working through our
      = product_line
      %sup ®
      = 'exam style MCQs. For details, please refer to the points below.'
      All online materials are available immediately after purchase.

      - if product_line == "GAMSAT" && !gamsat_improvment_scores[course_type.to_s.to_sym].nil?
        = render 'public_page_partial/pv/course_description/gamsat_improved_percentile'
      -elsif product_line == "UMAT" && !umat_improvment_scores[course_type.to_s.to_sym].nil?
        = render 'public_page_partial/pv/course_description/umat_improved_percentile'
    .content-mask
  %a.read_more_cr_decr{href: "javascript:void(0)"} Read more
  %a.read_less_cr_decr{href: "javascript:void(0)"} Read less

.col-lg-5.col-md-6.col-sm-12.col-xs-12.pull-right.cr_descr_banner_col
  #cr_description_col.carousel.slide{"data-ride" => "carousel", "data-interval" => "false"}
    .carousel-inner{role: "listbox"}
      .item.active
        %video.video-js.vjs-default-skin{:controls => "", "data-autoplay" => "false", "data-autoresize" => "fit", "data-controls" => "true", "data-setup" => "{ \"playbackRates\": [2, 1.5, 1.2, 1, 0.5] }", :poster => 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/vincenzo.png', :title => "GAMSATReady", :width => "100%", height: "312px"}
          %source{:src => "https://gradready-prod.s3.amazonaws.com/public/GAMSATReady%20Testimonial%20(Vince).mp4", :type => "video/mp4"}
            %source{"data-quality" => "hd", :src => "https://gradready-prod.s3.amazonaws.com/public/GAMSATReady%20Testimonial%20(Vince).mp4", :type => "video/mp4"}
      - if product_line == "GAMSAT"
        .item
          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/ol_ess_desc.png', class: "heigh_312"
    - if product_line == "GAMSAT"
      %a.left.carousel-control{"data-slide" => "prev", href: "#cr_description_col", role: "button"}
        %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
        %span.sr-only Previous
      %a.right.carousel-control{"data-slide" => "next", href: "#cr_description_col", role: "button"}
        %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
        %span.sr-only Next
