%h1 Listing Events

%table.table.table-bordered.table-hover
  %thead
    %tr
      %th Time start
      %th Time end
      %th Name
      %th Student
      %th Tutor
      %th Type
      %th{colspan: 2} Actions

  %tbody
    - @events.each do |event|
      %tr{'data-link': url_for(event)}
        %td= event.time_start
        %td= event.time_end
        %td= event.name
        %td= event.student
        %td= event.tutor
        %td= event.type
        %td= link_to 'Edit', event.edit_path, class: 'btn btn-info btn-sm'
        %td= link_to 'Destroy', event, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger btn-sm'

%br

= link_to 'New Appointment', new_apoitment_path, class: 'btn btn-primary'

