.container
  .row
    = simple_form_for(@mark_mcq_student_answer, url: mark_mcq_student_answer_path(user_id: current_user.id), method: :post ) do |f|
      .panel.panel-success
        .panel-heading
          %h1.panel-title
            %strong New Mark
        .panel-body
          .row
            .col-md-offset-1.col-md-10
              = f.error_notification
              .form-inputs
                .row
                  .col-md-6
                    -# = f.input :user_id, as: :hidden, input_html: { value: current_user.id }
                    = f.association :mcq_student_answer, collection: @mcq_student_answers
                    = f.input :value, input_html: { value: 0 }
                    = f.input :description, collection: ['Easy', 'Medium', 'Hard'], include_blank: false
                    = f.input :correct, as: :boolean, checked_value: true, unchecked_value: false
        .panel-footer
          .btn-group
            = f.button :submit, class: 'btn btn-success cl-white'
            = link_to 'Back', marks_path, class: 'btn btn-default'
