- content_for :page_heading, 'Past Orders'
- if current_user.student?
  - content_for :show_left_panel, true if current_user.confirmed_at.nil?
  -if current_user.confirmed_at.present?
    .dashbord_right
      = render 'orders'
  -else
    = render 'orders'
-else
  #msform
    .full_container
      %h1 Listing Past Orders
      .panel.panel-default
        .panel-body
          .form-group
            = form_for_filterrific @filterrific do |f|
              %p
                Search by Braintree/Unique Reference Number
                = f.text_field :with_reference, class: 'form-control', placeholder: 'Braintree/Unique Reference Number'
              %p
              = link_to 'Reset filters', reset_filterrific_url, class: 'btn btn-default'

      = render :partial => 'orders/index', locals: { orders: @orders }
