- title "Free GAMSAT Preparation Resources | GradReady GAMSAT Prep"
- meta_description "Want to take your GAMSAT Preparation to the next level? Here at GradReady we have put together the most comprehensive library of GAMSAT Study Materials available to help you get a head start on your GAMSAT Preparation today. Download our GAMSAT Study Planner, try some GAMSAT MCQs or read corrected GAMSAT essays all for free!"
- meta_keywords "gamsat preparation materials, gamsat preparation resources"

%section.talk_to_bg.home_faq.dashboard_bg
  #typed.notification_bar
    %p
      = render 'pages/partial/announcement', product_line: map_path_to_prodline(request.env['PATH_INFO']), relative: false
  .container.public_container
    .support_col.looking_corse.text-center.gradready_question
      %h1
        Free GAMSAT Preparation Materials
%section.faq_wrapper.faq_details.free_sources_sec
  .container.public_container
    .download-counter-badge
      %p.download_read= show_estimated_read_time
      %span|
      %i.fa.fa-user{'aria-hidden': "true"}
      %p.download_read= show_download_hit_count
    .preparation_col.head_aftr_none
      %p.mtop_zero
        Here at GradReady, we get it – Studying for the GAMSAT
        %sup ®
        is hard and it can be tough to get your hands on free GAMSAT
        %sup ®
        resources & practice questions. That’s why we’ve worked hard to put together the most comprehensive set of Free GAMSAT
        %sup ®
        Preparation Materials available on the market, to help give you a head start on your GAMSAT
        %sup ®
        prep and give you an idea of the GradReady approach to studying for the GAMSAT
        %sup ®
        Exam.
      .gamsat_extra_feature_row
        .first_row_gamsat_study_syllabus_card
          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/gamsatstudysyllabus.png', class: "icon40"
          %a.gamsat_study_syllabus.hvr-shutter-in-horizontal{href: "/gamsat-study-syllabus", target: :_blank} GAMSAT Study Syllabus
        .first_row_gamsat_study_syllabus_card
          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/GAMSAT_Free_Trial_Image.png', class: "icon40"
          %a.gamsat_study_syllabus.hvr-shutter-in-horizontal{href: "/gamsat-preparation-courses/free-gamsat-trial", target: :_blank} GAMSAT Free Trial
        .first_row_gamsat_study_syllabus_card
          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/essay_writing_guide_image.png', class: "icon40"
          %a.gamsat_study_syllabus.hvr-shutter-in-horizontal{href: "/gamsat-example-essay", target: :_blank} GAMSAT Essay Guide
        .second_row_gamsat_study_syllabus_card
          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/GAMSAT_quote_generator_image.png', class: "icon40"
          %a.gamsat_study_syllabus.hvr-shutter-in-horizontal{href: "/gamsat-quote-generator", target: :_blank} GAMSAT Quote Generator
        .second_row_gamsat_study_syllabus_card
          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/GAMSAT_physics_formulas.png', class: "icon40"
          %a.gamsat_study_syllabus.hvr-shutter-in-horizontal{href: "/gamsat-physics-formula-sheet", target: :_blank} GAMSAT Physics Formulas
        .second_row_gamsat_study_syllabus_card
          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/gamsat_study_schedule_new.jpg', class: "icon40", style: "height: 200px;"
          %a.gamsat_study_syllabus.hvr-shutter-in-horizontal{href: "/gamsat-study-schedule", target: :_blank} GAMSAT Study Planner
        .second_row_gamsat_study_syllabus_card
          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/Season_Image.png', class: "icon40"
          %a.gamsat_study_syllabus.hvr-shutter-in-horizontal{href: "/gamsat-podcast", target: :_blank} GradReady GAMSAT Podcast
      %p.mtop_zero
        For those of you dipping into the world of GAMSAT
        %sup ®
        preparation for the first time we understand that it can be both daunting and bewildering. We’ve put together some additional free resources and advice below to help you make the right start to studying for the GAMSAT
        %sup ®
        exam.
      %ol
        %li
          %a{href: "#an_intro"}
            The GAMSAT
            %sup ®
            Exam: An Introduction
        %li
          %a{href: "#genral_gamsat"}
            Free General GAMSAT
            %sup ®
            Preparation Resources
        %li
          %a{href: "#section1prep"}
            GAMSAT
            %sup ®
            Section 1 Free Preparation Materials
        %li
          %a{href: "#section2prep"}
            GAMSAT
            %sup ®
            Section 2 Free Preparation Materials
        %li
          %a{href: "#section3prep"}
            GAMSAT
            %sup ®
            Section 3 Free Preparation Materials

    .preparation_col.head_aftr_none
      %h2#an_intro
        The GAMSAT Exam: An Introduction
      %p.mtop_zero
        The Graduate Medical School Admissions Test (GAMSAT
        %sup ®
        = ") is a standardised exam coordinated by the Australian Council for Education Research ("
        %a{href: "https://gamsat.acer.org/", target: :_blank}
          %strong
            ACER )
        designed to ‘assess the capacity to undertake high-level intellectual studies in the medical and health professional programs’. In essence, the GAMSAT
        %sup ®
        exam is designed to assess your analytical and critical thinking skills as well as how you organise and communicate your ideas in order to select candidates for graduate level medical studies.

    .preparation_col.head_aftr_none
      %h3.mtop10.mbot20
        How do you study for the GAMSAT Exam?
      %p
        The secret to GAMSAT
        %sup ®
        preparation lies in the approach. Make no mistake, the GAMSAT
        %sup ®
        exam is focused on examining your reasoning and problem solving skills rather than relying on your previous experiences or your ability to recall specific content and in this respect, it requires a different approach to preparation compared with a typical university assessment.
      %p
        Preparing for the GAMSAT
        %sup ®
        exam can be best summarised as the following:
      .diffr_country
        %ul.cstm_list_style
          %li.mtop_zero
            Build up solid foundational GAMSAT
            %sup ®
            knowledge
          %li.mtop_zero
            This process can take various forms. For example: Covering the foundational physics concepts required for the GAMSAT
            %sup ®
            exam or building up a GAMSAT
            %sup ®
            Section 2 Essay Idea Bank.
          %li.mtop_zero
            Begin practicing, as early as possible, your application of this knowledge with GAMSAT
            %sup ®
            = "-Style MCQs or practice essays, depending on the section you’re preparing for."
          %li.mtop_zero
            As you become familiar with the style of MCQs, build up a GAMSAT
            %sup ®
            As you become familiar with the style of MCQs, focus on developing a personalised GAMSAT
            %sup ®
            MCQ strategy.
          %li.mtop_zero
            If you’re writing essays, make sure to get constant feedback and criticism.
          %li.mtop_zero
            Make sure to track your progress, paying attention to where your shortfalls may be as well as which concepts you may be struggling with and set them aside to review.
          %li.mtop_zero
            Gradually build up to answering GAMSAT
            %sup ®
            = "Style MCQs or typing Section 2 Essays under realistic conditions (i.e. time pressure)"
          %li.mtop_zero
            Regularly make necessary adjustments that are effective and beneficial for you, remember that it’s not just about how much you study but also how you study.
          %li.mtop_zero
            Stimulate sitting the GAMSAT
            %sup ®
            exam under accurate conditions - An online exam set to time.
        %p
          For a more detailed breakdown of the GAMSAT
          %sup ®
          study process and general tips on GAMSAT
          %sup ®
          preparation,
          %a{href: "/gamsat-preparation",target: :_blank}
            %strong you can find a more detailed guide here.
    .preparation_col.head_aftr_none
      %h3.mtop10.mbot20
        How long does it take to study for the GAMSAT?
      %p
        Students often ask how much time they should spend studying for the GAMSAT
        %sup ®
        exam but the quantitative ‘amount’ of preparation that any candidate should do is a complex question and is difficult to accurately answer.
      %p
        However, in a practical sense, in trying to determine how much time you need to prepare for the GAMSAT
        %sup ®
        exam, it is much more important that you study up to a point where you are able to answer GAMSAT
        %sup ®
        = "-style questions quickly and accurately. It’s recommended that you start your GAMSAT® preparation early in order to give you time to identify your weaknesses and make necessary adjustments. This subsequently means that you’ll have a considerable amount of time to improve, which is important especially if you’re a cautious candidate or once from a non-science background."
      %p
        Nevertheless, the GAMSAT
        %sup ®
        exam is a diverse test, and even biomedical and science undergraduate students should start their GAMSAT
        %sup ®
        preparation early, as even they may require tutelage in certain areas – especially the humanities, which is a general weak point for students with such a background.

      .thought_col
        %p.quotes_para
          %i
            Remember: Even starting with one or two hours a week early on can make a huge difference to your GAMSAT
            %sup ®
            preparation later down the line as the exam draws nearer.
          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/quotes_rht.png'

      %p
        Overall, we recommend that you start your GAMSAT
        %sup ®
        preparation 6 months prior to sitting the exam – i.e in September if you are sitting the March GAMSAT
        %sup ®
        exam. The reasoning is that you don’t know what you'll need to work on until you seriously start to plan your GAMSAT
        %sup ®
        prep. It also gives you enough time to work on your weaknesses without suffering from preparation fatigue. Remember: Even starting with one or two hours a week early on can make a huge difference to your GAMSAT
        %sup ®
        preparation later down the line as the exam draws nearer.
      %p
        To make the most of your time when you study, set yourself goals and a schedule you can adhere to. Targeted and purposeful study is much more effective than just sampling questions in some dedicated time – you won’t progress if you’re not thinking about how you’re studying. Answering a few questions and then dedicating time to read the worked solutions and analyse your performance will be much more high yield than just flying through a lot of questions. When you talk with others about their preparation, do not be alarmed or assured so easily by what they say, effective preparation for the GAMSAT
        %sup ®
        exam is highly dependent on your own ability and circumstances.
      %p
        There is a misconception that the scoring for the GAMSAT® exam is based on a percentile system due to the way scores are presented when results are released – In fact it is based on
        %a{href: "https://en.wikipedia.org/wiki/Item_response_theory", target: :_blank}
          %strong Item Response Theory (IRT)
        , which applies adjustments for each GAMSAT
        %sup ®
        exam to standardise the student performance across different sittings. Be open to advice or guidance and feel free to discuss ideas and preparation material that you can integrate into your own approach, but the primary focus should be on yourself.
      %p
        To help you with your preparation, download our
        %a{href: "/gamsat-study-schedule", target: :_blank}
          %strong
            free GAMSAT
            %sup ®
            Study Schedule
        to help you plan out your GAMSAT
        %sup ®
        preparation journey. If you’re looking for a more detailed week-by-week breakdown for each section,
        %a{href: "/gamsat-preparation-courses/free-gamsat-trial", target: :_blank}
          %strong sign up for our free trial
        to access a week-by-week study guide for each GAMSAT
        %sup ®
        Section.


    .preparation_col.head_aftr_none
      %h2#genral_gamsat
        Free General GAMSAT Preparation Resources
      %p.mtop_zero
        To help you get a better idea of how you can you plan and structure your GAMSAT
        %sup ®
        preparation you can visit the free detailed GAMSAT
        %sup ®
        guides below:
      .diffr_country
        %ul.cstm_list_style
          %li.mtop_zero
            %a{href: "/gamsat-2021", target: :_blank}
              %strong
                GAMSAT
                %sup ®
                2021: Everything You Need to Know
          %li.mtop_zero
            %a{href: "/what-is-gamsat", target: :_blank}
              %strong
                What is the GAMSAT
                %sup ®
                Exam?
          %li.mtop_zero
            %a{href: "/gamsat-scores", target: :_blank}
              %strong
                The Definitive Guide to GAMSAT
                %sup ®
                Scores
          %li.mtop_zero
            %a{href: "/gamsat-preparation", target: :_blank}
              %strong
                How to Prepare for the GAMSAT
                %sup ®
                Exam
          %li.mtop_zero
            %a{href: "/medical-school-entry-requirements", target: :_blank}
              %strong
                Australian Medical Schools Guide: Criteria & Cutoffs
      %p
        Our tutors regularly share their GAMSAT
        %sup ®
        advice and experiences in medical school at our
        %a{href: "/blog/gamsat-preparation-courses", target: :_blank}
          %strong
            GradReady GAMSAT
            %sup ®
            Blog.

      #myCarousel.carousel.slide.blog_slider.blg_mrgn_tp_prep_material{"data-ride" => "carousel"}
        %ol.carousel-indicators
          - @posts.each_with_index do |post, index|
            %li{"data-slide-to" => "#{index}", "data-target" => "#myCarousel", class: "#{ "active" if index == 0 }"}
        .carousel-inner
          - @posts.each_with_index do |post, index|
            .item{class: "#{ "active" if index == 0 }"}
              .blog_slider_wrapper
                .blog_cars_img_sec
                  - if post.image.url(:medium) == "/images/medium/missing.png"
                    = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/blog_slider_no_image.jpg'
                  - else
                    -if post.alt_text.present?
                      = image_tag post.image.url(:thumb), alt: "#{@post.try(:alt_text)}"
                    -else
                      = image_tag post.image.url(:thumb)

              .carousel-caption-prep-material
                %h2= post.name
                %a.default_btn.hvr-shutter-in-horizontal.rd_more.btn_position.mtop10{href: "#{posts_by_product_line_path(id: post.friendly_id,type: post.product_line_type)}"} Read More
        .blog_cara_next_prv
          %a.left.carousel-control{"data-slide" => "prev", href: "#myCarousel"}
          %a.right.carousel-control{"data-slide" => "next", href: "#myCarousel"}
    .preparation_col.head_aftr_none
      %h2#section1prep
        Section 1 – Free GAMSAT Preparation Materials
      %p.mtop_zero
        Section 1 of the GAMSAT
        %sup ®
        Exam is also known as “Reasoning in Humanities and Social Sciences”.
        %a{href: "https://gamsat.acer.org/", target: :_blank}
          %strong
            ACER
        uses this multi choice section to assess your interpretation of qualitative information as well as your reading comprehension. As a result, it could be considered the foil to GAMSAT
        %sup ®
        Section 2, which is an assessment of your language production.
      %p
        For a detailed breakdown of how to prepare for Section 1 visit our guide below:
      .diffr_country
        %ul.cstm_list_style
          %li.mtop_zero
            %a{href: "/gamsat-section-1", target: :_blank}
              %strong
                GAMSAT
                %sup ®
                Section 1: How to Prepare
      %p
        We’ve compiled a list of free GAMSAT
        %sup ®
        preparation resources for Section 1 here:



      %ul.sub_listing
        %li
          %p.mtop_zero.mbot0
            Poetry
          %ul.cstm_list_style.mg_top0.mbot10
            %li
              %a{href: "https://en.wikipedia.org/wiki/Poetry", target: "_blank"}
                %strong
                  Poetry - Wikipedia
            %li
              %a{href: "https://www.vocabulary.com/lists/251961", target: "_blank"}
                %strong
                  Poetic Devices
            %li
              %a{href: "https://en.wikipedia.org/wiki/Narrative_paradigm", target: "_blank"}
                %strong
                  Narrative Paradigm - Wikipedia
            %li
              %a{href: "https://www.shmoop.com/narrative-theory/", target: "_blank"}
                %strong
                  Narrative Theory


      %ul.sub_listing
        %li
          %p.mtop_zero.mbot0
            Prose
          %ul.cstm_list_style.mg_top0.mbot10
            %li
              %a{href: "http://literary-devices.com/", target: "_blank"}
                %strong
                  List of Literary Devices

      %ul.sub_listing
        %li
          %p.mtop_zero.mbot0
            Cartoons
          %ul.cstm_list_style.mg_top0.mbot10
            %li
              %a{href: "http://theweek.com/cartoons", target: "_blank"}
                %strong
                  The Week - Cartoons
            %li
              %a{href: "https://www.theguardian.com/cartoons/archive", target: "_blank"}
                %strong
                  The Guardian - Cartoons
            %li
              %a{href: "https://www.usnews.com/cartoons", target: "_blank"}
                %strong
                  US News - Cartoons


      %p
        If you’re looking for a free GAMSAT
        %sup ®
        Section 1 Reading List, the below may help:


      %ul.sub_listing
        %li
          %p.mtop_zero.mbot0
            Newspapers
          %ul.cstm_list_style.mg_top0.mbot10
            %li
              %a{href: "https://theconversation.com/au", target: "_blank"}
                %strong
                  The Conversation
            %li
              %a{href: "https://www.economist.com/", target: "_blank"}
                %strong
                  The Economist
            %li
              %a{href: "https://www.theguardian.com/au", target: "_blank"}
                %strong
                  The Guardian
            %li
              %a{href: "https://www.aljazeera.com/", target: "_blank"}
                %strong
                  Al Jazeera
            %li
              %a{href: "http://www.afr.com/", target: "_blank"}
                %strong
                  Australian Financial Review

      %ul.sub_listing
        %li
          %p.mtop_zero.mbot0
            Useful Authors for Books & Short Stories
          %ul.cstm_list_style.mg_top0.mbot10
            %li
              %a{href: "https://en.wikipedia.org/wiki/Oscar_Wilde_bibliography", target: "_blank"}
                %strong
                  Oscar Wilde
            %li
              %a{href: "https://en.wikipedia.org/wiki/Ralph_Waldo_Emerson", target: "_blank"}
                %strong
                  Ralph Waldo Emerson
            %li
              %a{href: "https://en.wikipedia.org/wiki/Anton_Chekhov_bibliography", target: "_blank"}
                %strong
                  Chekhov
            %li
              %a{href: "https://en.wikipedia.org/wiki/Noam_Chomsky_bibliography_and_filmography", target: "_blank"}
                %strong
                  Noam Chomsky
            %li
              %a{href: "https://en.wikipedia.org/wiki/George_Orwell_bibliography", target: "_blank"}
                %strong
                  George Orwell

      %ul.sub_listing
        %li
          %p.mtop_zero.mbot0
            Essays
          %ul.cstm_list_style.mg_top0.mbot10
            %li
              %a{href: "http://www.mdpi.com/journal/humanities", target: "_blank"}
                %strong
                  Humanities Open Access Journal
            %li
              %a{href: "https://www.aldaily.com/", target: "_blank"}
                %strong
                  Arts and Letters Daily
            %li
              %a{href: "http://australianhumanitiesreview.org/", target: "_blank"}
                %strong
                  Australian Humanities Review
      %ul.sub_listing
        %li
          %p.mtop_zero.mbot0
            Poetry
          %ul.cstm_list_style.mg_top0.mbot10
            %li
              %a{href: "https://www.poets.org/poetsorg/text/how-read-poem-0", target: "_blank"}
                %strong
                  How to read a poem
            %li
              %a{href: "https://www.poets.org/poetsorg/poems", target: "_blank"}
                %strong
                  List of Poems

    .preparation_col.head_aftr_none
      %h2#section2prep
        Section 2 – Free GAMSAT Preparation Materials
      %p.mtop_zero
        Section 2 of the GAMSAT
        %sup ®
        exam, also known as ‘Written Communication’, assesses your ability to express your thoughts in a logical and effective manner in response to two sets of stimuli. According to
        %a{href: "https://gamsat.acer.org/", target: :_blank}
          %strong
            ACER
        , it is meant to be a reflection of your ability to produce and develop ideas in writing. As the only written section of the exam, Section 2 is more often than not the bane of most students sitting the exam, particularly those with a pure science-background.

      %p
        For a more detailed breakdown of how to prepare for Section 2, visit our guide below:
      .diffr_country
        %ul.cstm_list_style
          %li.mtop_zero
            %a{href: "/gamsat-section-2", target: :_blank}
              %strong
                GAMSAT
                %sup ®
                Section 2: How to Prepare
      %p
        You can find some more free GAMSAT
        %sup ®
        preparation materials here:
      .gamsat_extra_feature_row
        .gamsat_study_syllabus_card
          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/essay_writing_guide_image.png', class: "icon40"
          %a.gamsat_study_syllabus.hvr-shutter-in-horizontal{href: "/gamsat-example-essay", target: :_blank} GAMSAT Essay Guide
        .gamsat_study_syllabus_card.mob_study_sll_crd
          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/GAMSAT_quote_generator_image.png', class: "icon40"
          %a.gamsat_study_syllabus.hvr-shutter-in-horizontal{href: "/gamsat-quote-generator", target: :_blank} GAMSAT Quote Generator

      .diffr_country
        %ul.cstm_list_style

      %p
        In addition to the Section 1 Reading List, you can add the following free GAMSAT
        %sup ®
        resources that are geared towards helping with your GAMSAT
        %sup ®
        preparation for Section 2:
      .diffr_country
        %ul.cstm_list_style
          %li.mtop_zero
            %a{href: "https://www.ted.com/", target: :_blank}
              %strong
                TED
          %li.mtop_zero
            %a{href: "http://www.abc.net.au/tv/qanda/", target: :_blank}
              %strong
                Q&A
          %li.mtop_zero
            %a{href: "http://www.abc.net.au/insiders/", target: :_blank}
              %strong
                Insiders
          %li.mtop_zero
            %a{href: "https://www.sbs.com.au/news/insight", target: :_blank}
              %strong
                Insight
          %li.mtop_zero
            %a{href: "http://tetw.org/Greats", target: :_blank}
              %strong
                150 Great Articles and Essays

      %p
        The following books are not free but may be of value – If you’re lucky, you might be able to find them at your local uni library:
      .diffr_country
        %ul.cstm_list_style
          %li.mtop_zero
            = "Anthony Clifford Grayling -"
            %a{href: "https://www.amazon.com.au/Meaning-Things-Applying-Philosophy-life/dp/0753813599", target: :_blank}
              %strong
                The Meaning of Things
          %li.mtop_zero
            = "Ben Dupre –"
            %a{href: "https://www.amazon.com.au/Big-Ideas-Really-Need-Know-ebook/dp/B0064BWF9I", target: :_blank}
              %strong
                50 Big Ideas

    .preparation_col.head_aftr_none
      %h2#section3prep
        Section 3 – Free GAMSAT Preparation Materials
      %p.mtop_zero
        Section 3 of the GAMSAT
        %sup ®
        exam, also known as ‘Reasoning in Biological and Physical Sciences’ is designed to test your reasoning and problem solving skills within a scientific context.
      %p
        It is the only section for which
        %a{href: "https://gamsat.acer.org/", target: :_blank}
          %strong
            ACER
        provides clear guidelines on expected prerequisite knowledge, and is therefore, for some, the easiest section to prepare for. GAMSAT
        %sup ®
        Section 3 is also the longest section of the GAMSAT
        %sup ®
        exam and is weighted accordingly, being usually worth double Section 1 or Section 2 (exceptions do apply - Make sure to check our
        %a{href: "https://gradready.com.au/gamsat-scores", target: :_blank}
          %strong
            Guide to GAMSAT
            %sup ®
            Results
        to learn more).

      %p
        For a detailed breakdown of how to prepare for Section 3 and individual topic lists for GAMSAT
        %sup ®
        Biology, Chemistry and Physics, visit our guides:

      .diffr_country
        %ul.cstm_list_style
          %li.mtop_zero
            %a{href: "/gamsat-section-3", target: :_blank}
              %strong
                GAMSAT
                %sup ®
                Section 3: How to Prepare
          %li.mtop_zero
            %a{href: "/gamsat-biology", target: :_blank}
              %strong
                How to Prepare for GAMSAT
                %sup ®
                Biology
          %li.mtop_zero
            %a{href: "/gamsat-chemistry", target: :_blank}
              %strong
                How to Prepare for GAMSAT
                %sup ®
                Chemistry
          %li.mtop_zero
            %a{href: "/gamsat-physics", target: :_blank}
              %strong
                How to Prepare for GAMSAT
                %sup ®
                Physics
          %li.mtop_zero
            %a{href: "/posts/gamsat-preparation-courses/preparing-for-the-gamsat-with-a-non-science-background", target: :_blank}
              %strong
                How to Prepare for the GAMSAT
                %sup ®
                with a non-science background

      %p
        You can also have a look at the area specific free GAMSAT
        %sup ®
        Preparation materials listed below.
    .preparation_col.head_aftr_none
      %h3.mtop10.mbot20
        Free GAMSAT Biology Preparation Materials

      .diffr_country
        %ul.cstm_list_style
          %li.mtop_zero
            %a{href: "https://www.khanacademy.org/science/biology", target: :_blank}
              %strong
                Khan Academy
          %li.mtop_zero
            %a{href: "https://www.youtube.com/user/armandohasudungan", target: :_blank}
              %strong
                Youtube - Armando Hasudungan
          %li.mtop_zero
            %a{href: "https://www.youtube.com/channel/UCNI0qOojpkhsUtaQ4_2NUhQ", target: :_blank}
              %strong
                Youtube - Osmosis
          %li.mtop_zero
            %a{href: "https://www.youtube.com/user/crashcourse", target: :_blank}
              %strong
                Youtube - Crash Course
          %li.mtop_zero
            %a{href: "https://www.youtube.com/channel/UC-i2EBYXH6-GAglvuDIaufQ", target: :_blank}
              %strong
                Youtube - Speed Pharmacology
          %li.mtop_zero
            %a{href: "https://www.youtube.com/user/TheAnatomyZone", target: :_blank}
              %strong
                Youtube - Anatomyzone
    .preparation_col.head_aftr_none
      %h3.mtop10.mbot20
        Free GAMSAT Chemistry Preparation Materials

      .diffr_country
        %ul.cstm_list_style
          %li.mtop_zero
            %a{href: "https://www.khanacademy.org/science/chemistry", target: :_blank}
              %strong
                Khan Academy
          %li.mtop_zero
            %a{href: "https://www.chemguide.co.uk/", target: :_blank}
              %strong
                Chemguide
          %li.mtop_zero
            %a{href: "https://www.youtube.com/user/crashcourse", target: :_blank}
              %strong
                Youtube - Crash Course
          %li.mtop_zero
            %a{href: "https://www.youtube.com/channel/UCEWpbFLzoYGPfuWUMFPSaoA", target: :_blank}
              %strong
                Youtube - Organic Chemistry Tutor
          %li.mtop_zero
            %a{href: "https://www.youtube.com/user/Mousentel", target: :_blank}
              %strong
                Youtube - Elise Ashley
          %li.mtop_zero
            %a{href: "https://www.youtube.com/user/Leah4sciMCAT", target: :_blank}
              %strong
                Youtube - Leah4Sci
    .preparation_col.head_aftr_none
      %h3.mtop10.mbot20
        Free GAMSAT Physics Preparation Materials
      .gamsat_physics_feature.mtop20.mbot20{:style => "text-align: center"}
        .gamsat_study_syllabus_icon
          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/GAMSAT_physics_formulas.png', class: "icon40"
        .button_right_section_study_syllabus
          %a.gamsat_study_syllabus.hvr-shutter-in-horizontal{href: "/gamsat-physics-formula-sheet", target: :_blank} GAMSAT Physics Formulas

      .diffr_country
        %ul.cstm_list_style
          %li.mtop_zero
            %a{href: "https://www.khanacademy.org/science/biology", target: :_blank}
              %strong
                Khan Academy
          %li.mtop_zero
            %a{href: "https://www.youtube.com/user/crashcourse", target: :_blank}
              %strong
                Youtube - Crash Course
          %li.mtop_zero
            %a{href: "https://phet.colorado.edu/en/simulations/category/new", target: :_blank}
              %strong
                Physics Simulations (Get an intuitive feeling of physical systems)
          %li.mtop_zero
            %a{href: "http://www.feynmanlectures.caltech.edu", target: :_blank}
              %strong
                Feynman’s Lectures on Physics (A comprehensive series of lectures and notes for those who really enjoy their physics)

      %p
        The following book is not free but is useful for those who did not study physics and who may want something more basic. It’s quite fun to read and very insightful – Again, if you’re lucky you might be able to get a free e-copy through your university library.

      .diffr_country
        %ul.cstm_list_style
          %li.mtop_zero
            = "Paul Hewitt –"
            %a{href: "https://www.amazon.com/Conceptual-Physics-Eleventh-international-Hewitt/dp/B007YXXQVQ/ref=mt_paperback?_encoding=UTF8&me=", target: :_blank}
              %strong
                Conceptual Physics

      %p
        Don’t forget to also sign up for our GAMSAT
        %sup ®
        Free Trial and take advantage of 50 free MCQs from our Intelligent MCQ Bank, a week-by-week study guide for each section of the GAMSAT
        %sup ®
        Exam as well as a wealth of other free resources.
        .boxed
          Get Access to:
          %ul{:style => "list-style-type:none;padding: 13px 0px;"}
            %li 50 Free MCQs
            %li Week-By-Week Study Guide
            %li Complete Session 3 Topic List
            %li Recorded Webinars
          .free_gamsat_icon
            = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/free_trial.png', class: "icon30"
          .button_right_section
            %a.free_trial_btn.hvr-shutter-in-horizontal{href: "/gamsat-preparation-courses/free-gamsat-trial"} GAMSAT Free Trial

:javascript
  $(".open_recommender").click(function(){
    $("#course-recommender .cr").addClass("cr--on")
  });
  // Select all links with hashes
  $('a[href*="#"]')
  // Remove links that don't actually link to anything
  .not('[href="#"]')
  .not('[href="#0"]')
  .click(function(event) {
    // On-page links
    if (
      location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
      &&
      location.hostname == this.hostname
    ) {
      // Figure out element to scroll to
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      // Does a scroll target exist?
      if (target.length) {
        // Only prevent default if animation is actually gonna happen
        event.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top-74
        }, 1000, function() {
          // Callback after animation
          // Must change focus!

        });
      }
    }
  }); 
:css
  @media only screen and (min-width: 260px) and (max-width: 767px){
    .first_row_gamsat_study_syllabus_card,.second_row_gamsat_study_syllabus_card{
     width:100%;
    }
  .gamsat_study_syllabus_card.mob_study_sll_crd{
   display: flex;
    align-items: center;
  }
   .gamsat_study_syllabus_card.mob_study_sll_crd .gamsat_study_syllabus{
    margin: initial;
    text-align:center;
   }
  }
