- title "GAMSAT Section 2 Essays: How to Prepare in 2022"
- meta_description "Struggling with your preparation for GAMSAT Section 2 in 2022? Get study tips on how to prepare and write the perfect GAMSAT Essay under time pressure, and expand your essay idea bank with our GAMSAT Reading List."
- meta_keywords "gamsat section 2"

%section.talk_to_bg.home_faq.dashboard_bg
  #typed.notification_bar
    %p
      = render 'pages/partial/announcement', product_line: map_path_to_prodline(request.env['PATH_INFO']), relative: false
  .container.public_container
    .support_col.looking_corse.text-center.gradready_question
      %h1
        GAMSAT Section 2 Essays: How to Prepare in 2022
%section.faq_wrapper.faq_details
  .row
    .container.public_container
      .download-counter-badge
        %p.download_read= show_estimated_read_time
        %span|
        %i.fa.fa-user{'aria-hidden': "true"}
        %p.download_read= show_download_hit_count
      .preparation_col.head_aftr_none
        %p.mtop_zero
          Section 2 of the GAMSAT
          %sup ®
          exam, also known as ‘Written Communication’, assesses your ability to express your thoughts in a logical and effective manner in response to two sets of stimuli. According to
          %a{href: "https://gamsat.acer.org/", target: :_blank}
            %strong
              ACER
          , it is meant to be a reflection of your ability to produce and develop ideas in writing.  Section 2 is more often than not the bane of most students sitting the exam, particularly those with a pure science-background. As the only written section of the exam, students commonly struggle with both their writing skills as well as the need to write under time pressure, skills that may have been neglected since high school. This guide aims to provide you with an overview of how to prepare for and approach Section 2 of the GAMSAT
          %sup ®
          exam.

        %ol
          %li
            %a{href: "#whatIsSection2"}
              What is GAMSAT
              %sup ®
              Section 2?
          %li
            %a{href: "#howIsSection2Marked"}
              How is GAMSAT
              %sup ®
              Section 2 marked?
          %li
            %a{href: "#whatIsThePurpose"}
              What is the purpose of GAMSAT
              %sup ®
              Section 2?
          %li
            %a{href: "#whatToExpect"}
              What to expect from GAMSAT
              %sup ®
              Section 2
          %li
            %a{href: "#howPrepareSection2"}
              How to prepare for GAMSAT
              %sup ®
              Section 2
          %li
            %a{href: "#section2EssayTopics"}
              GAMSAT
              %sup ®
              Section 2 Essay Topics
          %li
            %a{href: "#section2StudyGuide"}
              GAMSAT
              %sup ®
              Section 2 Essay Study Guide
          %li
            %a{href: "#section2Tips"}
              GAMSAT
              %sup ®
              Section 2 Essay Tips
          %li
            %a{href: "#section2IdeaBank"}
              Building a GAMSAT
              %sup ®
              Essay Idea Bank
          %li
            %a{href: "#section2ReadingList"}
              GAMSAT
              %sup ®
              Section 2 Reading List
          %li
            %a{href: "#whatIsGoodScore"}
              What is a good GAMSAT
              %sup ®
              Section 2 essay score?
          %li
            %a{href: "#furtherPrepMat"}
              Further Preparation Materials

      .preparation_col.head_aftr_none
        %h2.mbot10.mbot20#whatIsSection2
          What is GAMSAT
          / %sup{style: "text-decoration:none"} ®
          Section 2?

      .preparation_col.head_aftr_none
        %h3.mtop10.mbot20
          GAMSAT
          / %sup ®
          Section 2 Timing

        .tbl_responsive.fl_none
          %table.table.cstm_tbl.table-bordered.table-condensed.custom_table_data
            %thead
              %th Section
              %th.text-center Description
              %th.text-center.width11 Breakdown
              %th.text-center.width11 Duration
            %tbody
              %tr
                %td Section 2: Written Communication
                %td Tests your general knowledge and ability to draw on prior knowledge under pressure to construct a cohesive argument or reflection.
                %td.text-center
                  %span.bdr_bottm Reading Time
                  %span Writing Time
                %td.text-center
                  %span.bdr_bottm 5 Minutes
                  %span 60 Minutes

        %p{:style => "margin-bottom: auto;"}
          With 60 minutes in total for two essays, this means 30 minutes per essay. In terms of breaking down your time, a common piece of advice is to follow the below:
        %ol
          %li 5 Minutes to Plan
          %li 20 Minutes to Write
          %li 5 Minutes to Review

      .preparation_col.head_aftr_none
        %h3.mtop10.mbot20
          GAMSAT
          / %sup ®
          Section 2 Structure

        %p
          Section 2 of the GAMSAT
          %sup ®
          exam consists of written responses to two sets of stimuli, commonly referred to as Task A and B. You will be presented with two set of quotes that are each related to a common theme.

        .highlight_box.gamsat-prep.mbot20
          %ol{style: 'line-height: 25px;'}
            %li
              %h4
                GAMSAT
                / %sup ®
                Section 2: Task A
              %span Task A generally deals with socio-cultural issues and is best suited to an argumentative style of essay.
            %li
              %h4
                GAMSAT
                / %sup ®
                Section 2: Task B
              %span Task B centres around themes targeted at more personal and social issues and allows for students to express themselves through a more creative or reflective essay style.

        %p
          This section is strongly believed to be where you can demonstrate to the markers how strong your understanding and comprehension of human emotion is, an obviously critical skill in the profession of a doctor.

        .preparation_col.head_aftr_none
          %h3.mtop10.mbot20
            GAMSAT
            / %sup ®
            Section 2 Essay Length
          %p
            ACER does not provide any guidelines in regards to a minimum word count, or how long your Section 2 essays should be. However, a maxim that holds true even for the GAMSAT
            %sup ®
            Exam is Quality over Quantity.
          %p
            The quality of what you write is much more important than the quantity and as such, you should focus on what you write about and your expression and organisation of ideas. A good guideline is to aim for:
          .diffr_country
            %ul.cstm_list_style
              %li.mtop_zero An Introduction
              %li.mtop_zero 3 Body Paragraphs
              %li.mtop_zero A Conclusion
          %p
            Note however that this example structure is not necessarily applicable to every type of essay. If you were to write a creative piece, the structure of your GAMSAT
            %sup ®
            essay could certainly be more flexible. The main factor to take into account is how best to organise your ideas to ensure that your arguments are conveyed logically and coherently.
          %p
            A common piece of advice is to aim for about 500 words, but the most important point is to focus on the quality of your essay rather than the quantity. If you can express an idea clearly and effectively in less words then do it.
          %p
            For further tips on Section 2 of the GAMSAT
            %sup ®
            exam, download our
            %a{href: "/gamsat-example-essay", target: :_blank}
              %strong Essay Writing Guide
            today – our guide includes a summary of the key principles needed to help you develop your essay writing skills along with 3 example Marked Essays featuring a low, medium, and high quality response.
          .full_width
          .gamsat_study_syllabus
            .gamsat_study_syllabus_icon{:style => "margin-right: 50px"}
              = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/essay_writing_guide_image.png', class: "icon40"
            .button_right_section_study_syllabus
              %a.gamsat_study_syllabus.hvr-shutter-in-horizontal{href: "/gamsat-example-essay", target: :_blank} DOWNLOAD YOUR ESSAY WRITING GUIDE
          %p
            For general tips and strategies on how you can prepare for the GAMSAT
            %sup ®
            Exam, visit our
            %a.green{href: "/gamsat-preparation", target: :_blank}
              %strong
                Guide to GAMSAT
                %sup ®
                Preparation.

        .preparation_col.head_aftr_none
          %h2#howIsSection2Marked
            How is GAMSAT Section 2 marked?
          %h3.mtop10.mbot20
            GAMSAT Section 2 Criteria
          .tbl_responsive.fl_none
            %table.table.cstm_tbl.table-bordered.table-condensed.custom_table_data
              %thead
                %th
                  %h4 Thought and Content
                %th
                  %h4 Organisation and Expression
              %tbody
                %tr.text-center
                  %td
                    %p
                      %strong
                        %i The quality of what is said
                    %p What is made of and developed from the task
                    %p The kinds of thoughts and feelings offered in response to the task
                  %td
                    %p
                      %strong
                        %i The quality of the structure developed and the language used
                    %p The shape and form of the piece
                    %p The effectiveness and fluency of the language

          %p
            According to
            %a{href: "https://gamsat.acer.org/", target: :_blank}
              %strong
                ACER
            , your Section 2 essay is assessed on two main criteria. The information in the table above is taken from the
            %a{href: "https://gamsat.acer.org/files/GAMSAT_Information_Booklet.pdf", target: :_blank}
              %strong
                GAMSAT
                %sup ®
                Information Booklet.

          %p
            Unfortunately, ACER does not provide a clear essay marking criteria or rubric but does note that assessment is based on:

          .thought_col
            %p.quotes_para
              %i
                The quality of the thinking about a topic and the control of language demonstrated in its development. Assessment focuses on the way in which ideas are integrated into a thoughtful response to the task
              = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/quotes_rht.png'
            %span.authhor
              ACER
              %a.green{href: "https://gamsat.acer.org/files/GAMSAT_Information_Booklet.pdf", target: :_blank}
                %strong
                  (GAMSAT
                  %sup ®
                  Information Booklet)

          %p.mtop_zero
            Control of language, i.e. grammatical structure and expression, is not assessed as an isolated criteria but incorporated into the assessment of the overall effectiveness of the response. Your  GAMSAT
            %sup ®
            essays will also be assessed on the depth of the ideas presented rather than their breadth so it is often more effective to take a few concepts and analyse them in depth rather than inundating your essay with different arguments.

          %p.mtop_zero
            Finally, ACER also notes that candidates are not assessed on the ‘correctness’ of the ideas or attitudes they display – it is not your opinion that matters but the way in which you express it. Each individual essay will be assessed by three independent markers.


          %p.mtop_zero
            If you’re struggling with your writing, consider getting your GAMSAT
            %sup ®
            essays professionally marked. GradReady has an essay marking service where you can get 10 essays marked by our expert Section 2  tutors with personal feedback within 72 hours.
            %a.green{href: "/gamsat-preparation-courses/custom", target: :_blank}
              %strong
                Learn more here.
      .preparation_col.head_aftr_none
        %h2#whatIsThePurpose
          What is the purpose of GAMSAT Section 2?
        %p
          If
          %a{href: 'https://gradready.com.au/gamsat-section-1', target: :_blank}
            %strong
              Section 1 of the GAMSAT
              %sup ®
              exam
          aims to test your comprehension and interpretation skills, Section 2 is all about how you construct your ideas and communicate effectively.
        %p
          Communication skills are paramount in any medical profession. Medical professionals are expected to communicate verbally and through written material regularly to patients, colleagues and the broader community. The ability to convey information succinctly and clearly is essential to a professionals’ ability to provide care, especially when you are discussing complex scientific ideas.
        %p
          In addition to challenging your written communication skills, Section 2 of the GAMSAT
          %sup ®
          exam provides students an opportunity to demonstrate the way they build and present their ideas. This is an interesting way of assessing your ability to think logically through a problem. While the link may not seem immediately obvious, having the ability to communicate your reasoning in a logical manner under time-pressure is essential to the demands of a medical professional. You may use this skill when explaining your decision-making to patients and colleagues, or when justifying community health measures to the general public.
        %p
          Finally, Section 2 of the GAMSAT® exam is the perfect chance to show examiners your capacity for empathy and your understanding of the world. Medical professionals do not work in a bubble! It’s important for any person working in healthcare to show an interest in broader societal systems, especially those that may have an impact on community health. The
          %a{href: 'https://gradready.com.au/gamsat-example-essay', target: :_blank}
            %strong
              essay section of the GAMSAT
              %sup ®
              exam
          is a relatively open platform for you to discuss ideas and problems that are important to you - whilst also illustrating your written communication skills.
      .preparation_col.head_aftr_none
        %h2#whatToExpect
          What to expect in GAMSAT Section 2?
        %p
          There are three main challenges you can expect for this section of the GAMSAT
          %sup ®
          exam.
        %ol
          %li Being able to identify a general theme from the prompts. 
          %li Having evidence and substance to support your ideas
          %li Writing under time pressure
        %p
          Let’s begin with the first challenge - You’ll need to be able to quickly and effectively analyse the provided prompts and generate themes and ideas around which to focus your response. We go into more detail about this process
          %a{href: '#Understand_theme'}
            %strong in the section below.
          While this can seem like a really difficult task at first, this is a skill which almost all students become confident in through practice.
        %p
          The second is having evidence and substance to support your ideas. Many students forget that even when writing reflectively, it is important to explain and substantiate your ideas with examples, analogies, imagery or any other writing tools you have available to you. The easiest way to improve this aspect of your writing is to read widely and regularly, whether that be reputable journals or short stories, and to essentially
          %a{href: '#section2IdeaBank'}
            %strong build an ideas bank.
        %p
          Finally, and possibly the greatest challenge, is the time pressure. Thirty minutes is an extremely limited amount of time in which to write an essay and this is often something students initially struggle with. Nonetheless, this is also an aspect of the task which is greatly improved with practice.

      .preparation_col.head_aftr_none
        %h2#howPrepareSection2
          How to Prepare for GAMSAT
          / %sup{style: "text-decoration:none"} ®
          Section 2
        %p.mtop_zero
          Your preparation for GAMSAT
          %sup ®
          Section 2 can be seen as having several key steps:
        .highlight_box.gamsat-prep.mbot20
          %ol
            %li
              Begin writing GAMSAT
              %sup ®
              essays regularly – whether this be once a day or once a week, the key is to get into the habit of doing this. Remember, the earlier the better.
            %li Generate an essay writing process and get into a rhythm.
            %li At the same time begin building an idea bank – try and cast the net wide and look at a variety of issues, and from viewpoints outside your comfort zone.
            %li
              It can be useful to develop a list of resources to read or view - You can learn more here:
              %a.green{href: "#section2ReadingList"}
                %strong
                  GAMSAT
                  %sup ®
                  Section 2 Reading List.
            %li As you begin to write, don’t feel as though you need to stick to the time limit immediately. It’s better that you develop a process and gradually apply time pressure.
            %li Make sure that you get feedback. Use friends, family, other students, anyone else willing to read your essays. Accept their feedback and criticism and use it to improve your writing.
            %li
              Consider getting your essays professionally marked if you’re able to – GradReady has a
              %a.green{href: "/gamsat-preparation-courses/custom", target: :_blank}
                %strong
                  GAMSAT
                  %sup ®
                  essay marking service
              with personal feedback from our expert Section 2 tutors.
            %li As you near the exam begin to write under realistic conditions to stimulate the time pressure on the day.
        %p
          For further free advice, sign up for our
          %a{href: "/gamsat-preparation-courses/free-gamsat-trial", target: :_blank}
            %strong Free Trial
          which includes a GAMSAT
          %sup ®
          Study Guide with an in-depth, day-by-day study schedule for Section 2 along with a recording of our GAMSAT
          %sup ®
          Essay Writing Workshop. You’ll also get access to 50 MCQs from our Intelligent MCQ Bank and a wealth of other free resources.
        %p
          Sign up to test our industry-leading online learning technology for yourself:
        .boxed
          Get Access to:
          %ul{:style => "list-style-type:none;padding: 13px 0px;"}
            %li 50 Free MCQs
            %li Week-By-Week Study Guide
            %li Complete Session 3 Topic List
            %li Recorded Webinars
          .free_gamsat_icon
            = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/free_trial.png', class: "icon30"
          .button_right_section
            %a.free_trial_btn.hvr-shutter-in-horizontal{href: "/gamsat-preparation-courses/free-gamsat-trial", target: :_blank} GAMSAT Free Trial

      .preparation_col.head_aftr_none
        %h2#section2EssayTopics
          GAMSAT
          / %sup{style: "text-decoration:none"} ®
          Section 2 Essay Topics
        %p.mtop_zero
          As noted above in the
          %a.green{href: "#whatIsSection2"}
            %strong
              What is GAMSAT
              %sup ®
              Section 2?
          , Section 2 consists of two different essays (usually called Task A and Task B), each in response to their own set of stimuli. These prompts are presented as a set of 5 quotes, with each set centred around a common theme.

      .preparation_col.head_aftr_none
        %h3.mtop10.mbot20
          GAMSAT
          %sup ®
          Section 2 Task A Themes:
        %ol
          %li
            Freedom
          %li
            War
          %li
            Punishment
          %li
            Science
          %li
            Technology
          %li
            Crime
          %li
            Poverty
          %li
            Wealth
      .preparation_col.head_aftr_none
        %h3.mtop10.mbot20
          GAMSAT
          %sup ®
          Section 2 Task B Themes:
        %ol
          %li
            Friendship
          %li
            Love
          %li
            Beauty
          %li
            Youth
          %li
            Ageing
          %li
            Suffering
          %li
            Originality
          %li
            Conformity
          %li
            Humour

      .preparation_col.head_aftr_none
        %h3.mtop10.mbot20
          GAMSAT
          / %sup ®
          Section 2 Questions


        .highlight_box.gamsat-prep.mbot20
          %h4 Theme: Truth
          %ol
            %li
              Gossip, as usual, was one-third right and two-thirds wrong.
              %i (L.M. Montgomery, Chronicles of Avonlea)
            %li
              The truth is rarely pure and never simple.
              %i (Oscar Wilde, The Importance of Being Earnest)
            %li
              Truth is a matter of the imagination.
              %i (Ursula K. Le Guin, The Left Hand of Darkness)
            %li
              You don't destroy what you want to acquire in the future.
              %i (Suzanne Collins, Mockingjay)
            %li
              To be fully seen by somebody, then, and be loved anyhow - this is a human offering that can border on miraculous.
              %i (Elizabeth Gilbert, Committed: A Skeptic Makes Peace with Marriage)
        %br
        .highlight_box.gamsat-prep.mbot20
          %h4 Theme: Justice
          %ol
            %li
              Being good is easy, what is difficult is being just.
              %i (Victor Hugo)

            %li
              I don't want tea, I want justice!
              %i (Ally Carter, Uncommon Criminals)

            %li
              It is better to risk saving a guilty person than to condemn an innocent one.
              %i (Voltaire, Zadig)

            %li
              Right is right, even if everyone is against it, and wrong is wrong, even if everyone is for it.
              %i (William Penn)

            %li
              Keep your language. Love its sounds, its modulation, its rhythm. But try to march together with men of different languages, remote from your own, who wish like you for a more just and human world.
              %i (Hélder Câmara, Spiral Of Violence)

        .highlight_box.gamsat-prep.mbot20
          %h4 Theme: Choice
          %ol
            %li
              There seemed to be three choices: to give up trying to love anyone, to stop being selfish, or to learn to love a person while continuing to be selfish.
              %i (Lydia Davis)
            %li
              My mother's menu consisted of two choices: Take it or leave it.
              %i (Buddy Hackett)
            %li
              Love is a choice you make from moment to moment.
              %i (Barbara De Angelis)
            %li
              Gay marriage rights coming and going, always being an issue for the voting public when it should be an individual‘s private choice.
              %i (G.A. Hauser, Being Screwed)
            %li
              I wish sometimes that the gods would either choose better, or make their wishes clearer.
              %i (Jacqueline Carey, Kushiel’s Choice)
        %p
          For more essay topics, take advantage of our free and comprehensive GAMSAT
          %sup ®
          Quote Generator with over 90 Section 2 Essay Prompts, covering 40+ themes.
        .full_width
          .gamsat_study_syllabus
            .gamsat_study_syllabus_icon{:style => "margin-right: 50px"}
              = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/GAMSAT_quote_generator_image.png', class: "icon40"
            .button_right_section_study_syllabus
              %a.gamsat_study_syllabus.hvr-shutter-in-horizontal{href: "/gamsat-quote-generator", target: :_blank}
                GAMSAT
                %sup ®
                Quote Generator
      .preparation_col.head_aftr_none
        %h2#section2StudyGuide
          GAMSAT
          / %sup{style: "text-decoration:none"} ®
          Section 2 Essay Study Guide
        %p.mtop_zero
          Developing and practising your essay writing skills is arguably the most important aspect of your Section 2 Preparation, and something you should aim to start from early on. Indeed, a lot of the preparation for Section 2 of the GAMSAT
          %sup ®
          Exam should revolve around simply writing a lot of essays, at least one a week. However, this advice comes with several caveats:

        .highlight_box.gamsat-prep.mbot20
          %ol
            %li
              You need to get feedback on your essays. It is vital that you get your friends, family, tutors, and anyone else to read these essays, and be modest and inviting of critique. It is of utmost importance to be criticised and then learn from your mistakes. GradReady has an essay marking service where you can get 10 essays marked by our expert tutors with personal feedback within 72 hours.
              %a.green{href: "/gamsat-preparation-courses/custom", target: :_blank}
                %strong
                  Learn more here.

            %li You need to possess a great deal of self-critique. After every essay you write, you must read it out loud to yourself, and listen if it makes sense.

            %li Don’t feel the need to write under time pressure from the word go. It’s more important that you develop and improve your essay writing skills before gradually applying realistic time pressure.

            %li
              You need to vary the type of essays that you write! You should make sure you try argumentative, personal reflective essays,
              %a.green{href: "/posts/gamsat-preparation-courses/writing-the-creative-gamsat-essay", target: :_blank}
                %strong
                  fictional creative essays
              , poetry, and any other medium that can work in the GAMSAT
              %sup ®
              exam. Even though it’s recommended you write an argumentative essay, you are able to write in almost any style in the ‘reflective’ essay segment – this is meant to be a creative endeavour and demonstrate that you can identify, and express emotions of the characters involved.

        %p
          For more tips on Section 2 of the GAMSAT
          %sup ®
          exam,
          %a{href: "/gamsat-example-essay",target: :_blank}
            %strong download our Essay Writing Guide
          which includes 3 example Marked Essays of low, medium, and high quality to help you develop your essay writing skills.
        %p
          The below is an abbreviated strategy guide provided by our Section 2 GAMSAT
          %sup ®
          Tutors and essay markers. The guide is meant to act as a step-by-step guide to writing the best GAMSAT
          %sup ®
          Essay.

        .preparation_col.head_aftr_none
          %h3.mtop10.mbot20
            Step 1: How to plan your GAMSAT
            / %sup ®
            Essay

          %ol
            %li
              %a{href: "#Understand_theme"}
                Understand the Theme:
              Read the quote and make sure that you look for the related ideas, not just the main theme.
            %li
              %a{href: "#Brainstorm_Ideas"}
                Brainstorm Ideas:
              Use whatever techniques you find the most useful and make the most of the Idea Bank that you’ve prepared.
            %li
              %a{href: "#Create_Thesis"}
                Create a Thesis:
              What is your main message? Is it clear? Is it communicated regularly?
            %li
              %a{href: "#Choose_Structure"}
                Choose a Structure:
              Consider what is most appropriate for the theme and explore your options.
            %li
              %a{href: "#Plan_Body_Paragraphs"}
                Plan Body Paragraphs Thematically:
              Plan your topic sentences and the main points of your thesis.

          %p.mbot0 Read on for a breakdown of what each step involves:

          %ol.diffr_country.only_li_number
            %li
              %h4.mtop10#Understand_theme
                %b Understand the theme
              %p Read the provided quotes, determine the theme, and argue for or against one/some of them. Whilst this is a common approach, it’s not always the one that will stand out. Always look for related ideas associated with the main theme of the quotes. There’s rarely just one theme in the quotes provided, and this raises the point of the brainstorm.
            %li
              %h4.mtop10#Brainstorm_Ideas
                %b Brainstorm Ideas
              %p By whatever means most accessible to you (mind maps, lists or drawings), flesh out the main theme of the quotes into related information and sub-themes and sub-ideas. This process, as part of your Section 2 preparation at home, can take some time, but on the examination day, you’ll need to work fast! Work out which groups of ideas can be linked together most easily by a recurring argument, or can be substantiated the best, and use these for your writing.
              %p
                For advice on how to build up your idea bank, visit the section below:
                %a.green{href: "#section2IdeaBank"}
                  %strong
                    Building a GAMSAT
                    %sup ®
                    Essay Idea Bank

            %li
              %h4.mtop10#Create_Thesis
                %b Create a Thesis
              %p This is a statement that should be maintained or proved in your writing. A thesis is essential to all forms of writing, no matter the format (including essays, argumentative or reflective, and creative pieces including short stories, diary entries, letter-to-the-editor, etc.). The thesis, or main message, must be communicated regularly, explicitly, and implicitly throughout your writing. The best theses (plural of singular thesis) address the theme, are creative, sometimes witty, and often make meaningful commentary on the issues(s) at hand, i.e. the theme.

            %li
              %h4.mtop10#Choose_Structure
                %b Choose a Structure
              %p
                Select a medium to write in that is most appropriate for the theme of the quotes. Many formats can be chosen for the Section 2 of the GAMSAT
                %sup ®
                exam: your task is to select the most appropriate medium to effectively and engagingly communicate your thesis.
              %p For example, if the theme of the quotes refer to ‘political governance’ in general, an argumentative essay is likely to be an effective and easy format to support a line of argument on this topic. If the theme however, refers to ‘relationships’, some students may wish to demonstrate the value or importance of relationships through a more reflective, personal, or emotional format that resembles a narrative, such as diary entries or a short story.
              %p
                These forms of writing are likely to be less familiar to many students, and the different styles of writing can make some students feel uncomfortable. Nevertheless, if an alternative format suits your writing style (or you feel it is more appropriate for the theme), you should make the judgement call. Playing with different writing styles and formats is a task that should most certainly be undertaken during your preparation for the GAMSAT
                %sup ®
                Section 2 Essay.
              %p
                To read an example of a Creative GAMSAT
                %sup ®
                Section 2 Essay written by one of our essay markers, click here:
                %a.green{href: "/posts/gamsat-preparation-courses/writing-the-creative-gamsat-essay", target: :_blank}
                  %strong
                    Writing the Creative GAMSAT
                    %sup ®
                    Essay
            %li
              %h4.mtop10#Plan_Body_Paragraphs
                %b Plan Body Paragraphs Thematically
              %p Using those ideas that you came up with in brainstorm, plan a number of ‘topic sentences’ that form the main idea for each paragraph, or chunk of writing, in your piece. Each paragraph should address one idea only and should be directly related to the thesis. Each idea should continue to build and extend the thesis, convincing and compelling the reader of your overall contention (opinion) on the issue.
              %p On the big day, planning your essay should take no longer than five minutes. Practice makes perfect, and most importantly, improves your speed.

        .preparation_col.head_aftr_none
          %h3.mtop10.mbot20
            Step 2: Write your GAMSAT
            / %sup ®
            Essay

          %p.mbot0 Now’s the time to put pen to paper and etch those stupendous ideas into a fully-fledged piece of writing.

          %ol.diffr_country.only_li_number
            %li
              %h4.mtop10
                %b Be Clear & Succinct
              %p Write in logical and well-phrased sentences that can be easily understood by a marker who will be reading your essay at a fast pace because that’s the reality of it.

            %li
              %h4.mtop10
                %b Support What You Write
              %p Each topic sentence needs to have some form of ‘evidence’ or reasoning to support what you contend. Depending on the form you have chosen to write in (e.g. essay, short story), this may occur in the style of real-life events, personal narrative, creative narrative, experience, or logical reasoning that is theoretical.


            %li
              %h4.mtop10
                %b Always Come Back to the Thesis
              %p If in doubt, word your paragraph in such a way that the ‘supporting evidence’ demonstrates the topic sentence AND the thesis. Your aim is to persuade the reader such that they truly believe what you have written.

          %p
            You can find some further writing tips below:
            %a.green{href: "#section2Tips"}
              %strong
                GAMSAT
                %sup ®
                Section 2 Writing Tips

        .preparation_col.head_aftr_none
          %h3.mtop10.mbot20
            Step 3: Review your GAMSAT
            / %sup ®
            Essay

          %p Review what you have written and ensure it makes sense. There’s not much time to do this, so it’s a quick fly-by of your writing to ensure it is logical and communicates what you are actually thinking.

          %p
            GradReady has an essay marking service where you can get 10 essays marked by our expert tutors with personal feedback within 72 hours.
            %a{href: 'https://gradready.com.au/gamsat-preparation-courses/custom', target: :_blank}
              %strong Learn more here.

          %p
            For further free advice, sign up for our
            %a{href: "/gamsat-preparation-courses/free-gamsat-trial", target: :_blank}
              %strong Free Trial
            which includes a GAMSAT
            %sup ®
            Study Guide with an in-depth, day-by-day study schedule for Section 2 along with a recording of our GAMSAT
            %sup ®
            Essay Writing Workshop. You’ll also get access to 50 MCQs from our Intelligent MCQ Bank and a wealth of other free resources.
        %p
          Sign up to test our industry-leading online learning technology for yourself:
        .boxed
          Get Access to:
          %ul{:style => "list-style-type:none;padding: 13px 0px;"}
            %li 50 Free MCQs
            %li Week-By-Week Study Guide
            %li Complete Session 3 Topic List
            %li Recorded Webinars
          .free_gamsat_icon
            = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/free_trial.png', class: "icon30"
          .button_right_section
            %a.free_trial_btn.hvr-shutter-in-horizontal{href: "/gamsat-preparation-courses/free-gamsat-trial", target: :_blank} GAMSAT Free Trial

      .preparation_col.head_aftr_none
        %h2.mtop10#section2Tips
          GAMSAT
          / %sup{style: "text-decoration:none"} ®
          Section 2 Essay Tips
        %p.mtop_zero
          Students often ask for specific pieces of advice to improve their essay writing, but such advice is most effective when it is specific to the individual. However, below are some general GAMSAT
          %sup ®
          Essay Writing Tips:

        %ol
          %li
            %a{href: "#Sentence_Structure"}
              Sentence Structure:
            Keep it concise and vary your sentence length to create cadence.
          %li
            %a{href: "#Rhetorical_Question"}
              The Rhetorical Question:
            Commonly overused by students. Make sure that you use it in the appropriate context.
          %li
            %a{href: "#Creating_Narrative"}
              Creating a Narrative:
            Keep the reader engaged and organise your writing as a series of causal steps.
          %li
            %a{href: "#Using_Analogies"}
              Using Analogies:
            A great literary technique to explain difficult concepts and to trigger emotions.

        .preparation_col.head_aftr_none
          %h3.mtop10.mbot20#Sentence_Structure
            Sentence Structure

          %p.mbot0 This aspect can be divided into the two following features:

          %ol.diffr_country.only_li_number
            %li
              %h4.mtop10
                %b Concision
              %p This is about those long wordy sentences which have several ideas packed into a single sentence. This veils the meaning of your sentence and makes your point difficult to decipher. As a rule, it is better to have just one idea within a single sentence. This makes it easier for the reader to understand your point in the sentence.

            %li
              %h4.mtop10
                %b Variety
              %p Sentence length should also have variety. Long sentences interspersed with short sentences create a good cadence for the essay. Cadence means rhythm, it is the way the words interact and show meaning. Lengthy sentences all together can make an essay monotonous and the meaning would be blurred. Think about making short and sharp statements before or after a long sentence. Variety in sentence length helps to put out your point in fewer words but with more impact.

        .preparation_col.head_aftr_none
          %h3.mtop10.mbot20#Rhetorical_Question
            The Rhetorical Question

          %p Use this as sparingly as you would with a future patient.

          %p
            At one point or another, most students feel the impulse to use a
            %a.green{href: "https://en.wikipedia.org/wiki/Rhetorical_question", target: :_blank}
              %strong
                rhetorical question
            = " – sometimes to the detriment of their essays. The GAMSAT"
            %sup ®
            Section 2 essay usually requires a response that is reflective or argumentative. The latter may engender the use of the rhetorical question to make an argument persuasive by asking the reader to consider a point, while providing an underlying response to their concern.

          %p As far as persuasion goes, the rhetorical question is quite effective but only when backed up with appropriate argumentation throughout the essay. Your argument itself should be the most effective feature of the essay. If the rhetorical question only distracts from the argument, it is better to use it carefully. A quick checklist can be used to confirm its appropriate use:


          .diffr_country
            %ul.cstm_list_style
              %li.mtop_zero Is my argument strong enough to leave out the rhetorical question?
              %li.mtop_zero Do I want to introduce a counter argument?
              %li.mtop_zero What effect will the rhetorical question create?
              %li.mtop_zero Does the question fall flat because the answer is obvious?

          %p
            It is rarely necessary to use a rhetorical question. There are usually other ways of conveying the point without using a question. If, however, you feel strongly about it, use the checklist above to confirm that your rhetorical question is contributing to your essay effectively. Each word in your essay should have a purpose, and there is nothing more problematic than having a question that does not achieve its desired effect. Nevertheless, used appropriately, the rhetorical question is an emotive device which can make reader’s question themselves and their actions.


        .preparation_col.head_aftr_none
          %h3.mtop10.mbot20#Creating_Narrative
            Creating a Narrative

          %p With a limited amount of time and a less-than-captive audience, it is important to make as big an impact as possible, as quickly as possible. This is so you distinguish yourself from the hordes of competitors and improve your chances.


          %p One way to bring colour to your writing is in forming a narrative and the use of metaphors.


          %p Humans as a part of their cognitive evolution will always seek out patterns to make sense of any information that they are presented with. More so than patterns, they will also seek out narratives to establish causal relationships.This is something that can be used to your advantage. By simply presenting your writing as a sequence of causal relationships, you will grip your reader as they seek to understand the pattern and keep reading to determine the endpoint.

          %p This can be accomplished in both creative and analytical writing. The former should be obvious, but in the latter by starting at the beginning of a chain of evidence and slowly building from causal step to causal step, your ultimate conclusion will be all the more persuasive.

        .preparation_col.head_aftr_none
          %h3.mtop10.mbot20#Using_Analogies
            Using Analogies

          %p Analogies are a great tool to help readers understand abstract or unfamiliar content. By linking abstract information to a concrete concept, it becomes easier for people to understand the information.


          %p How many times have any of us had the experience when a concept we were familiar with but never understood was explained in a slightly different or novel way, leading to an immediate, illuminating understanding – this is the power of an analogy. Whilst precision and technical language are all well and good, it can sometimes be inaccessible to those who do not have a grounding in the field. In these cases, analogies can be invaluable by couching unfamiliar concepts within familiar, or at least intuitive examples.

          %p Not only this, analogies can also be very effective for triggering emotions. This is valuable, because if people experience some elevation of emotion during their reading, not only will it make their experience more enjoyable, but also more memorable compared to the many other examples of essays. Emotions not only make your design appealing to people but also more effective, enjoyable, and memorable.

          %p
            For more specific feedback, GradReady has an essay marking service where you can get 10 essays marked by our expert tutors with personal feedback within 72 hours.
            %a.green{href: "/gamsat-preparation-courses/custom", target: :_blank}
              %strong
                Learn more here.

          %p
            For further tips on Section 2 of the GAMSAT
            %sup ®
            exam, download our
            %a{href: "/gamsat-example-essay", target: :_blank}
              %strong Essay Writing Guide
            today. The guide includes a summary of the key principles needed to help you develop your essay writing skills along with 3 example Marked Essays featuring a low, medium and high quality response.
          .full_width
            .gamsat_study_syllabus
              .gamsat_study_syllabus_icon{:style => "margin-right: 50px"}
                = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/essay_writing_guide_image.png', class: "icon40"
              .button_right_section_study_syllabus
                %a.gamsat_study_syllabus.hvr-shutter-in-horizontal{href: "/gamsat-example-essay", target: :_blank} DOWNLOAD YOUR ESSAY WRITING GUIDE


      .preparation_col.head_aftr_none
        %h2#section2IdeaBank
          Building a GAMSAT
          / %sup{style: "text-decoration:none"} ®
          Essay Idea Bank
        %p.mtop_zero
          Having a wide-reaching, dynamic and interesting idea bank for GAMSAT
          %sup ®
          Section 2 is crucial to your overall GAMSAT
          %sup ®
          Preparation. Having interesting topics to write about can ultimately make or break the essays that you write.
          %a.green{href: "https://gamsat.acer.org/", target: :_blank}
            %strong
              ACER
          states that originality is one of the modalities they assess, and so being able to create a piece that the essay marker enjoys reading greatly enhances your marks and it’s not hard to see why.
        %p
          For example, if we look at the microcosm of a single city where GAMSAT
          %sup ®
          essays are being marked, imagine a set of stimuli for the exam were about standing up to tyranny and oppression. A large proportion of people will likely fall into the trap of writing about clichés such as Hitler, WW1, and similar high school history topics. Therefore, the essay markers in that single city could mark literally hundreds of similar essays. Not only does it get repetitive and boring, they are then subconsciously comparing your essay to every similar essay, something you’d likely want to avoid. If you can pull strong, unique examples to support your arguments you will demonstrate a large knowledge base and will stimulate the essay markers.

        %p Note however that examples should directly relate to the theme and your discussion regarding it. If your example only makes up one sentence in the whole paragraph, that usually means the example is not detailed enough.
        %p Furthermore, many students like to use personal examples in their essays. These can be quite good as people can reflect on their lives and write about them in length. These are great when they are paired with descriptive language about specific incidents and events in the life of a person.
        %p Nevertheless, in generating an Essay Idea Bank, it’s important for you to cast your net wide and look at a range of different issues. Some ideas include:



        .diffr_country
          %ul.cstm_list_style.mg_top0.mbot10
            %li.mtop_zero
              Arts
            %li.mtop_zero
              Culture
            %li.mtop_zero
              Business/Finance/Economy
            %li.mtop_zero
              History
            %li.mtop_zero
              Environment
            %li.mtop_zero
              Medicine/Health
            %li.mtop_zero
              Politics
            %li.mtop_zero
              Sociology
            %li.mtop_zero
              STEM


        %p
          These categories allow you to build ideas in a deliberate way, covering a broad spectrum of topics. While making sure that you cover all your bases is important, don’t get too caught up if you find yourself gravitating towards specific areas. Remember, this is only one aspect of your GAMSAT
          %sup ®
          preparation, and it’s important that you concurrently dedicate time to practicing essay writing, argument development, and working under time pressure.
        %p
          It’s a synthesis of efforts across these different areas over an extended period of time that makes a great GAMSAT
          %sup ®
          essay.

      .preparation_col.head_aftr_none
        %h2#section2ReadingList
          GAMSAT
          / %sup{style: "text-decoration:none"} ®
          Section 2 Reading List
        %p.mtop_zero
          To help you build your GAMSAT
          %sup ®
          Essay Idea Bank, we’ve compiled the below Section 2 Reading List. A common piece of advice is to read widely in order to expose yourself to different media in preparation for Section 2 of the GAMSAT
          %sup ®
          exam. However if this is not performed mindfully in a systematic manner, it is next to useless and may in fact harm you as it will essentially become busy work with limited gains.
        %p It is therefore important to have in mind what you are wanting to achieve out of your readings and use these goals to ensure that you read actively.

        %p Below are some guidelines on how to achieve this:



        .highlight_box.gamsat-prep.mbot20
          %ol
            %li Read in detail rather than prioritising quantity. Sometimes the more time you spend with a piece of writing, the more likely it is to elicit a profound response from you, allowing you to build a more developed perspective on a particular issue.

            %li
              Practice developing a personal response and opinion on a theme or subject. GAMSAT
              %sup ®
              Section 2 requires students to display critical thinking and actively developing an opinion on what you read will help with this.


            %li Push yourself to expand your boundaries and look for views outside of your bubble. Not only will this offer insight into differing views and experiences, but it will also allow you to practice argument development.


            %li
              Embed your reading into different aspects of your everyday life to maximise your time. For example, read the news with your morning tea break instead of scrolling through social media. Find ways to expand your idea bank in your leisure time.


        %p
          If you’re looking for a reading list specific to Section 1 of the GAMSAT
          %sup ®
          exam, visit our guide to preparing for Section 1 here:
          %a.green{href: "/gamsat-section-1", target: :_blank}
            %strong
              GAMSAT
              %sup ®
              Section 1 - How to Prepare

        .preparation_col.head_aftr_none{:style => "margin-bottom: 0px;"}
          %h3.mtop10
            Section 2 Reading List

          %ol
            %li
              %h4.mtop10
                %b Newspapers
              %p To appreciate current affairs, social issues, and how good (and bad) argumentative writing may appear, reading the news/newspapers is a good idea. Stay away from anything that is known for sensationalism, such as The Courier Mail, A Current Affair (TV), Today Tonight, the Herald Sun etc.
              %p Scouring the opinion columns of reputable news sources can be helpful to get some ideas as to how you may approach the argumentative essay, and the news will generally help you stay relevant with your writing (and assist in using real-world/contemporary examples). The newspapers listed here arguably offer some of the least biased and fairest reporting:

              %h5.mbot20 Free Resources:

              .diffr_country
                %ul.cstm_list_style
                  %li.mtop_zero
                    %a{href: "https://theconversation.com/au", target: :_blank}
                      %strong
                        The Conversation
                  %li.mtop_zero
                    %a{href: "https://www.economist.com/", target: :_blank}
                      %strong
                        The Economist
                  %li.mtop_zero
                    %a{href: "https://www.theguardian.com/au", target: :_blank}
                      %strong
                        The Guardian
                  %li.mtop_zero
                    %a{href: "http://www.bbc.com/news/world/australia", target: :_blank}
                      %strong
                        BBC
                  %li.mtop_zero
                    %a{href: "https://www.aljazeera.com/", target: :_blank}
                      %strong
                        Al Jazeera
                  %li.mtop_zero
                    %a{href: "https://www.afr.com/", target: :_blank}
                      %strong
                        Australian Financial Review

            %li
              %h4.mtop10
                %b Books & Short Stories
              %p Reading excellent writing is crucial. There is no better way to expand your vocabulary than to sit down with an excellent fictional novel, poem, or play, along with a dictionary – and then look up each word you are unfamiliar with. Utilising a dictionary as you read will help develop your vocabulary, and reading is just beneficial overall to help expand your thoughts and enhance your own personal development.

              %p
                It is best to focus on authors who have mastered the short-story modality, such as those listed below. However, reading any book at all is going to help you in both Sections 1 and Section 2 of the GAMSAT
                %sup ®
                , and it is purely just crucial to expanding your thoughts and enhancing your own personal development.

              %h5.mbot20 Free Resources:

              .diffr_country
                %ul.cstm_list_style
                  %li.mtop_zero
                    %a{href: "https://en.wikipedia.org/wiki/Oscar_Wilde_bibliography", target: :_blank}
                      %strong
                        Oscar Wilde
                  %li.mtop_zero
                    %a{href: "https://en.wikipedia.org/wiki/Ralph_Waldo_Emerson", target: :_blank}
                      %strong
                        Ralph Waldo Emerson
                  %li.mtop_zero
                    %a{href: "https://en.wikipedia.org/wiki/Anton_Chekhov_bibliography", target: :_blank}
                      %strong
                        Chekhov
                  %li.mtop_zero
                    %a{href: "https://en.wikipedia.org/wiki/Noam_Chomsky_bibliography_and_filmography", target: :_blank}
                      %strong
                        Noam Chomsky
                  %li.mtop_zero
                    %a{href: "https://en.wikipedia.org/wiki/George_Orwell_bibliography", target: :_blank}
                      %strong
                        George Orwell


            %li
              %h4.mtop10
                %b Essays
              %p Again, take advantage of the shorter texts allowing you to read one a day.

              %h5.mbot20 Free Resources:

              .diffr_country
                %ul.cstm_list_style
                  %li.mtop_zero
                    %a{href: "http://www.mdpi.com/journal/humanities", target: :_blank}
                      %strong
                        Humanities Open Access Journal
                  %li.mtop_zero
                    %a{href: "https://www.aldaily.com/", target: :_blank}
                      %strong
                        Arts and Letters Daily
                  %li.mtop_zero
                    %a{href: "http://australianhumanitiesreview.org/", target: :_blank}
                      %strong
                        Australian Humanities Review

            %li
              %h4.mtop10
                %b TV Programs and Visual Media
              %p Often forgotten as a legitimate channel through which you can expose yourself to new ideas and issues, this medium can be readily incorporated into your daily routine. For example, you can move away from regular TV programs and switch to any of the below resources. Any program or medium that has a certain amount of depth and substance to them can be beneficial.

              %h5.mbot20 Free Resources:

              .diffr_country
                %ul.cstm_list_style
                  %li.mtop_zero
                    %a{href: "https://www.ted.com/", target: :_blank}
                      %strong
                        TED
                  %li.mtop_zero
                    %a{href: "http://www.abc.net.au/tv/qanda/", target: :_blank}
                      %strong
                        Q&A
                  %li.mtop_zero
                    %a{href: "http://www.abc.net.au/insiders/", target: :_blank}
                      %strong
                        Insiders
                  %li.mtop_zero
                    %a{href: "https://www.sbs.com.au/news/insight", target: :_blank}
                      %strong
                        Insight
      .preparation_col.head_aftr_none
        %h2#whatIsGoodScore
          What is a good GAMSAT Section 2 score?
        %p
          As always, it’s useful to have a solid understanding of how GAMSAT
          %sup ®
          scores work in general, and
          %a{href: 'https://gradready.com.au/gamsat-scores', target: :_blank}
            %strong our guide is a great place to start.
          The same percentiles that apply to the overall exam scores apply to the specific section scores. As such, a score of roughly 59 will place you around the 50th percentile, that is to say the average score for Section 2. A score of around 65 will place you at around the 75th percentile, or the top 25% of students. Students should typically aim for a score of 65 and above as this is generally considered a good score, and anything over 70 is considered excellent.
        %p
          That said, what determines a good score for Section 2 is highly dependent on your performance across the other sections of the exam. Section 2 can be a difficult section for many students, particularly those from a pure science background, and as such, a lower score can be deemed
          %i ‘good enough’
          provided you do well in other sections to counterbalance a low Section 2 score.
      .preparation_col.head_aftr_none
        %h2.mbot10.mbot20#furtherPrepMat
          Further Preparation Materials
        %p.mtop_zero
          %ol.ordr_list
            %li
              %h5
                %a{href: "/what-is-gamsat", target: :_blank}
                  What is the GAMSAT
                  %sup ®
                  ?
              %p.mtop_zero
                Everything you need to know about the GAMSAT
                %sup ®
                exam from structure and overview to which universities require the GAMSAT
                %sup ®
                = '.'

            %li
              %h5
                %a{href: "/gamsat-scores", target: :_blank}
                  Understanding your GAMSAT
                  %sup ®
                  Results
              %p.mtop_zero
                Covers everything you need to know about your GAMSAT
                %sup ®
                results – How the scoring works, result release dates and even GAMSAT
                %sup ®
                score cutoffs.

            %li
              %h5
                %a{href: "/gamsat-preparation", target: :_blank}
                  How to study for the GAMSAT
                  %sup ®
                  Exam
              %p.mtop_zero
                A breakdown of how to approach study effectively and how to set up a GAMSAT
                %sup ®
                study schedule
            %li
              %h5
                %a{href: "/gamsat-example-essay", target: :_blank}
                  Free GAMSAT
                  %sup ®
                  Example Essays
              %p.mtop_zero
                Download our Essay Writing Guide and read through our free Example Essays featuring low, medium and high quality responses.
            %li
              %h5
                %a{href: "/gamsat-quote-generator", target: :_blank}
                  Free GAMSAT
                  %sup ®
                  Quote Generator
              %p.mtop_zero
                Take advantage of our free and comprehensive GAMSAT
                %sup ®
                Quote Generator for over 90 Section 2 Essay Topics covering 40+ different themes.
            %li
              %h5
                %a{href: "/gamsat-section-1", target: :_blank}
                  How to prepare for GAMSAT
                  %sup ®
                  Section 1
              %p.mtop_zero
                An overview of what to expect in Section 1 of the GAMSAT
                %sup ®
                exam, and how to prepare
            %li
              %h5
                %a{href: "/gamsat-section-3", target: :_blank}
                  How to prepare for GAMSAT
                  %sup ®
                  Section 3
              %p.mtop_zero
                An overview of what to expect in Section 3 of the GAMSAT
                %sup ®
                exam, and how to prepare for each of the topics: Biology, Chemistry, & Physics.
            .boxed
              Get Access to:
              %ul{:style => "list-style-type:none;padding: 16px 0px;line-height: 0.9;"}
                / Get Access to:
                %li 50 Free MCQs
                %li Week-By-Week Study Guide
                %li Complete Session 3 Topic List
                %li Recorded Webinars
              .free_gamsat_icon
                = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/free_trial.png', class: "icon30"
              .button_right_section
                %a.free_trial_btn.hvr-shutter-in-horizontal{href: "/gamsat-preparation-courses/free-gamsat-trial", target: :_blank} GAMSAT Free Trial


:javascript
  $(".open_recommender").click(function(){
    $("#course-recommender .cr").addClass("cr--on")
  });
  // Select all links with hashes
  $('a[href*="#"]')
  // Remove links that don't actually link to anything
  .not('[href="#"]')
  .not('[href="#0"]')
  .click(function(event) {
    // On-page links
    if (
      location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
      &&
      location.hostname == this.hostname
    ) {
      // Figure out element to scroll to
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      // Does a scroll target exist?
      if (target.length) {
        // Only prevent default if animation is actually gonna happen
        event.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top-74
        }, 1000, function() {
          // Callback after animation
          // Must change focus!

        });
      }
    }
  });
