- title "GAMSAT Section 1: How to Prepare in 2022"
- meta_description "Struggling with your preparation for the 2022 GAMSAT Section 1? Get study tips, a breakdown of question types and check out our GAMSAT Reading list to help you ace Section 1"
- meta_keywords "gamsat section 1"

%section.talk_to_bg.home_faq.dashboard_bg
  #typed.notification_bar
    %p
      = render 'pages/partial/announcement', product_line: map_path_to_prodline(request.env['PATH_INFO']), relative: false
  .container.public_container
    .support_col.looking_corse.text-center.gradready_question
      %h1
        GAMSAT Section 1: How to prepare in 2022
%section.faq_wrapper.faq_details
  .row
    .container.public_container
      .download-counter-badge
        %p.download_read= show_estimated_read_time
        %span|
        %i.fa.fa-user{'aria-hidden': "true"}
        %p.download_read= show_download_hit_count
      .preparation_col.head_aftr_none
        %p.mtop_zero
          Although it isn’t the longest section of the GAMSAT
          %sup ®
          exam, preparing for GAMSAT
          %sup ®
          Section 1 can be challenging for many students, most ostensibly due to the fact that, unlike Section 3, there isn’t really a clear list of things you need to know. Furthermore, it’s not uncommon for science-background students to struggle with Section 1 (and Section 2 for that matter) due to a lack of wider reading. This guide aims to provide you with an overview of how to prepare for and approach Section 1 of the GAMSAT
          %sup ®
          exam
        %ol
          %li
            %a{href: "#whatIsSection1"}
              What is GAMSAT
              %sup ®
              Section 1?
          %li
            %a{href: "#whatIsThePurpose"}
              What is the purpose of GAMSAT
              %sup ®
              Section 1?
          %li
            %a{href: "#whatToExpect"}
              What to expect for GAMSAT
              %sup ®
              Section 1?
          %li
            %a{href: "#howPrepareSection1"}
              How to prepare for GAMSAT
              %sup ®
              Section 1
          %li
            %a{href: "#section1ReadingList"}
              GAMSAT
              %sup ®
              Section 1 Reading List
          %li
            %a{href: "#section1Tips"}
              GAMSAT
              %sup ®
              Section 1 Tips
          %li
            %a{href: "#whatIsGoodScore"}
              What is a good GAMSAT
              %sup ®
              Section 1 Score?
          %li
            %a{href: "#furtherPrepMat"}
              Further Preparation Materials

      .preparation_col.head_aftr_none
        %h2#whatIsSection1
          What is GAMSAT Section 1?
        %p.mtop_zero{:style => "margin-bottom: auto;"}
          Section 1 of the GAMSAT
          %sup ®
          exam is also known as “Reasoning in Humanities and Social Sciences”.
          %a{href: "https://gamsat.acer.org/", target: :_blank}
            %strong
              ACER
          uses this multi-choice section to assess your interpretation of qualitative information as well as your reading comprehension. As a result, it could be considered the foil to Section 2, which is an assessment of your language production. For Section 1 of the GAMSAT
          %sup ®
          exam you will be asked questions on a wide array of different media forms, which may include the following (note that this list is not exhaustive):
          %ol
            %li Literature
            %li Psychology
            %li Anthropology
            %li Non-Fiction
            %li Graphic Comics

      .preparation_col.head_aftr_none
        %h3.mtop10.mbot20
          GAMSAT Section 1 Overview

        .tbl_responsive.fl_none
          %table.table.cstm_tbl.table-bordered.table-condensed.custom_table_data
            %thead
              %th
              %th.text-center Description
              %th.text-center.width11 Breakdown
              %th.text-center.width11 Duration
            %tbody
              %tr
                %td Section 1: Reasoning in Humanities
                %td Tests critical reasoning skills as well as the ability to draw conclusions based on evidence with stimuli derived from a variety of non-scientific texts, from fiction and poetry to cartoons
                %td.text-center
                  %span.bdr_bottm Reading Time
                  %span 62 MCQs
                %td.text-center
                  %span.bdr_bottm 8 Minutes
                  %span 92 Minutes

        %h3.mtop10.mbot20
          GAMSAT
          %sup ®
          Section 1 Timing
        .diffr_country
          %ul.cstm_list_style
            %li.mtop_zero 62 MCQs
            %li.mtop_zero 100 Minutes (including 8 mins reading time)
            %li.mtop_zero ~ 1 min 29 seconds writing time to complete each question
        %p
          As in all the sections of the GAMSAT
          %sup ®
          exam, exam, the questions in Section 1 will range in difficulty, and so it’s important to be able to answer the ‘easy’ questions quickly, and ‘bank’ some time for yourself. This will come in handy when you have to spend time on the more difficult questions- Due to the nature of the GAMSAT
          %sup ®
          exam, it will be these questions that differentiate you from the crowd.
        %p
          Having a rough estimate of the allotted time per MCQ will also help you keep track of your progress to ensure that you are making adequate progress on the day, and let you know if you need to redouble your efforts to finish in time. It's important to keep in mind that you can obviously only get marks for questions you answer, so make sure that you make it to the end.
        %p
          For general tips and strategies on how you can prepare for the GAMSAT
          %sup ®
          exam, visit our
          %a{href: "/gamsat-preparation", target: :_blank}
            %strong
              Guide to GAMSAT
              %sup ®
              Preparation.
      .preparation_col.head_aftr_none
        %h2#whatIsThePurpose
          What is the purpose of the GAMSAT Section 1?
        %p
          The purpose of the GAMSAT
          %sup ®
          Section 1 is to challenge your reasoning and comprehension skills relating to the humanities and social sciences. The skills tested here are more important than you might think in the life of a medical student and medical professional. 
        %p
          One of the first and most important jobs in the life of a medical professional is to collect information on patient history and their current health status. When interacting with patients in a hospital or clinical setting, it is essential that medical professionals are able to understand both the literal facts in a patient’s story, as well as the subtext of what they might be saying. 
        %p
          For example, if a person is unable to walk due to an injury in their ankle, medical professionals must do more than simply assess and provide care for the physical pain. Healthcare is about understanding the broader context of a person’s illness or disease and providing long-term, culturally appropriate and effective solutions. This may mean that you need to know whether the patient lives alone, whether they will need railings in their home to assist them in their recovery, or if they have any ongoing fears relating to their injury. 
        %p
          These are all parts of a patient’s story which you may need to identify from a single interaction. More to the point - you may have to sift through a large amount of unnecessary information to identify the key points. It is these skills that are tested in the GAMSAT® Section 1. 
      .preparation_col.head_aftr_none
        %h2#whatToExpect
          What to expect for GAMSAT Section 1?
        %p
          On a surface level, this section will involve reading a text and responding to questions related to that text. There are 62 multiple choice questions in total, and there can be as many 15+ texts to read throughout the section. Nothing too difficult, right? 
        %p
          Students often neglect Section 1 while studying for the GAMSAT
          %sup ®
          under the false assumption that it is the easiest part of the exam. However, the combination of time pressure and the complexity of the worded questions can often make this section one of the most challenging for students. 
        %p
          In this section you can expect to be pushed to your limits in terms of time-management skills, and you can expect to analyse and synthesise a large quantity of information. Most importantly, you will be expected to make difficult decisions on often ambiguous aspects of tone, imagery, language and ideas.
        %h3
          What sort of questions might you expect in GAMSAT Section 1?
        %p
          As they are dependent on the passage, the types of questions you can receive in GAMSAT
          %sup ®
          Section 1 can vary widely. Nonetheless, there are a number of common categories that questions may fall under. These include:
        %ol
          %li
            %b Main idea questions
            = '- These test your understanding of the <i>themes</i> presented in the passage.'.html_safe
          %li
            %b Assessment of evidence
            = '- These will ask you to identify the <i>evidence</i> used to support ideas in the passage.'.html_safe
          %li
            %b Tone questions
            = '- These will ask you to evaluate or identify the <i>tone</i> of the piece.'.html_safe
          %li
            %b Implied information
            = '- These questions will demand an analysis of the <i>implied information</i> or <i>subtext</i> of a passage. These are often the most difficult questions to answer.'.html_safe
        %p
          In addition to these four major categories, examiners may add complexity to the questions by using modifiers such as ‘except’, ‘least’ or ‘not’ to make sure that students are reading the questions carefully. This section is also notorious for use of Roman Numeral style questions, where you may have to choose from multi-component answers using a Roman Numeral system - For example:
        %h4
          GAMSAT Section 1 Practice MCQ
        %p{style: 'margin-left: 20px;'}
          %b
            %u
              Homecoming
              %br
          %i
            By Bruce Dawe
          %br
          %br
          All day, day after day, they’re bringing them home,
          %br
          they’re picking them up, those they can find, and bringing them home,
          %br
          they’re bringing them in, piled on the hulls of Grants, in trucks, in convoys,
          %br
          they’re zipping them up in green plastic bags,
          %br
          they’re tagging them now in Saigon, in the mortuary coolness
          %br
          they’re giving them names, they’re rolling them out of
          %br
          the deep-freeze lockers — on the tarmac at Tan Son Nhut
          %br
          the noble jets are whining like hounds,
          %br
          they are bringing them home
          %br
          = '– curly heads, kinky-hairs, crew-cuts, balding non-coms,'
          %br
          = '– they’re high, now, high and higher, over the land, the steaming chow mein,'
          %br
          their shadows are tracing the blue curve of the Pacific
          %br
          with sorrowful quick fingers, heading south, heading east,
          %br
          home, home, home — and the coasts swing upward, the old ridiculous curvatures
          %br
          of earth, the knuckled hills, the mangrove-swamps, the desert emptiness…
          %br
          in their sterile housing they tilt towards these like skiers
          %br
          = '– taxiing in, on the long runways, the howl of their homecoming rises'
          %br
          surrounding them like their last moments (the mash, the splendour)
          %br
          then fading at length as they move
          %br
          on to small towns where dogs in the frozen sunset
          %br
          raise muzzles in mute salute,
          %br
          and on to cities in whose wide web of suburbs
          %br
          telegrams tremble like leaves from a wintery tree
          %br
          and the spider grief swings in his bitter geometry
          %br
          = '– they’re bringing them home, now, too late, too early.'
          %ol
            %li
              Which component(s) accurately describe(s) the poem?
              %br
              %b I.
              The use of em-dash imbues the verse with a sense of urgency
              %br
              %b II.
              The speaker’s repeated use of canine metaphor belies his or her irreverence towards returned servicemen.
              %br
              %b III.
              The named inclusion of physical locations situates the poem in time
              %br
              %ol{type: 'A'}
                %li I
                %li I and II
                %li III
                %li II and III
        %p
          Our
          %a{href: 'https://gradready.com.au/gamsat-preparation-courses/free-gamsat-trial', target: :_blank}
            %strong Free Trial
          includes a GAMSAT
          %sup ®
          Study Guide with an in-depth, day-by-day study schedule for Section 1 along with all the other sections of the GAMSAT
          %sup ®
          exam to help you plan out your preparation. You’ll also get access to 50 MCQs from our Intelligent MCQ Bank and a wealth of other free resources.
        %p
          Sign up to test our industry-leading online learning technology for yourself:
        .boxed
          Get Access to:
          %ul{:style => "list-style-type:none;padding: 16px 0px;line-height: 0.9;"}
            %li{style: 'margin-bottom: 5px;'} 50 Free MCQs
            %li{style: 'margin-bottom: 5px;'} Week-By-Week Study Guide
            %li{style: 'margin-bottom: 5px;'} Complete Session 3 Topic List
            %li Recorded Webinars
          .free_gamsat_icon
            = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/free_trial.png', class: "icon30"
          .button_right_section
            %a.free_trial_btn.hvr-shutter-in-horizontal{href: "/gamsat-preparation-courses/free-gamsat-trial", target: :_blank} GAMSAT Free Trial

      .preparation_col.head_aftr_none
        %h2#howPrepareSection1
          How to Prepare for GAMSAT Section 1
        %p.mtop_zero{:style => "margin-bottom: auto;"}
          Your preparation for GAMSAT
          %sup ®
          Section 1 should be seen as two-fold:
        .diffr_country
          %ol
            %li
              Preparing for the content
              %ul.cstm_list_style
                %li.mtop_zero This involves becoming familiar with the principles underlying the humanities and social sciences, or perhaps more accurately, the principles underlying the main mediums through which you’ll be assessed
            %li Developing an MCQ Strategy
        %p
          It would be foolhardy to attempt to read material in the hope of encountering it again in the GAMSAT
          %sup ®
          exam – exposing oneself to content in the hope of encountering it again in the exam is a Sisyphean task and is well beyond the abilities of mortals or any but the luckiest.
        %p
          Instead, it is much more useful to consider the different types of media that you might encounter in GAMSAT
          %sup ®
          Section 1. If you understand the basic elements of a medium as well as the techniques often utilised in them, it can help you go a long way to answering the questions.

      .preparation_col.head_aftr_none
        %h3.mtop10.mbot20
          %b
            1. GAMSAT
            %sup ®
            Section 1 - Poetry

        %p Poetry is an increasingly diverse genre. However, the defining feature is some degree of rhythm or meter. Poetry is primarily concerned with creating effects or capturing moods through the use of language. As such, the weight of what poetry is expressing is not always explicit in the meaning of words, but rather the sounds they make, the way they are combined, or in references to other material. As such, it is important to familiarise yourself with literary techniques and poetic devices so that you can successfully identify them, and better understand their implications and imagery when you are asked questions on them. A good place to start might be the resources below:
        .diffr_country
          %ul.cstm_list_style
            %li.mtop_zero
              %a{href: "https://en.wikipedia.org/wiki/Poetry", target: :_blank}
                %strong
                  Poetry - Wikipedia
            %li.mtop_zero
              %a{href: "https://www.vocabulary.com/lists/251961", target: :_blank}
                %strong
                  Poetic Devices
            %li.mtop_zero
              %a{href: "https://en.wikipedia.org/wiki/Narrative_paradigm", target: :_blank}
                %strong
                  Narrative Paradigm - Wikipedia
            %li.mtop_zero
              %a{href: "https://www.shmoop.com/narrative-theory", target: :_blank}
                %strong
                  Narrative Theory

      .preparation_col.head_aftr_none
        %h3.mtop10.mbot20
          %b
            2. GAMSAT
            %sup ®
            Section 1 - Fiction

        %p
          Similar to poetry, there is an exceptionally broad variety of fiction available, and a vast array of styles. As such there is a veritable Pandora’s box of literary techniques that you may encounter. One example might be dialogue where you will be asked to identify emotional states or motivations from third person interactions. Another might be the use of irony in a situation where what appears to be the case differs wildly from actuality. Irony is a subtle device and actually an umbrella term for many devices including dramatic irony, situational irony and verbal irony. You would not go wrong to read the
          %a{href: "https://en.wikipedia.org/wiki/Irony", target: :_blank}
            %strong
              Wikipedia page on Irony
          = '.'
          Similar to above, it’s important to have a solid understanding of these
          %a{href: "https://literary-devices.com/", target: :_blank}
            %strong literary devices
          to allow you to successfully identify and interpret questions on them. When reading a fiction passage, it’s important to ask some key questions: Who’s point of view is it? Who are the characters? What is the structure of the passage? What happens? What are the stylistic elements? What is the tone?

      .preparation_col.head_aftr_none
        %h3.mtop10.mbot20
          %b
            3. GAMSAT
            %sup ®
            Section 1 - Non-Fiction

        %p
          The variety of non-fiction passages used in Section 1 of the GAMSAT
          %sup ®
          exam is vast: Academic articles, autobiography, biography, essays, guides, critiques, reports, statutes, philosophy and social theory amongst others. Accordingly, the non-fiction questions generally make up the largest portion of Section 1 MCQs. Over recent years there has been a trend towards more technical and jargonistic writing - It’s important to remember that you’re not expected to have specialised knowledge in any of the fields presented to you and to avoid becoming intimidated by unfamiliar language and terms. Always aim to consider the style of the passage, the theme, and what you think the author is trying to say.

      .preparation_col.head_aftr_none
        %h3.mtop10.mbot20
          %b
            4. GAMSAT
            %sup ®
            Section 1 - Graphic Media & Cartoons
        %p
          Graphic media and cartoons should not be neglected. They provide a valuable opportunity to assess the understanding of the distinction between
          %a{href: "https://www.vocabulary.com/articles/chooseyourwords/imply-infer/", target: :_blank}
            %strong
              implication and inference
          = '.'
          A good source of practice would be satirical political cartoons in newspapers. You should endeavor to identify the message the cartoon is presenting as well as describe what each individual component of it represents. Some useful sites with free cartoons include:

        .diffr_country
          %ul.cstm_list_style
            %li.mtop_zero
              %a{href: "http://theweek.com/cartoons", target: :_blank}
                %strong
                  The Week - Cartoons
            %li.mtop_zero
              %a{href: "https://www.theguardian.com/cartoons/archive", target: :_blank}
                %strong
                  The Guardian - Cartoons
            %li.mtop_zero
              %a{href: "https://www.usnews.com/cartoons", target: :_blank}
                %strong
                  US News - Cartoons

      .preparation_col.head_aftr_none
        %h3.mtop10.mbot20
          %b
            5. GAMSAT
            %sup ®
            Section 1 - Charts & Diagrams
        %p
          The use of charts and diagrams is becoming increasingly prominent in Section 1 of the GAMSAT
          %sup ®
          exam, often used to display textual information in a visual form. Similar to preparing for Section 3, the key to preparing here is to develop a practiced approach to reading and understanding graphs and diagrams.

      .preparation_col.head_aftr_none
        %h3.mtop10.mbot20
          %b
            6. GAMSAT
            %sup ®
            Section 1 - Quotes
        %p
          Section 1 of the GAMSAT
          %sup ®
          exam may also present you with stems that consist of a single quote, asking you to identify key themes or ideas. These sorts of MCQs are quite similar to Section 2 in respect to testing this skill, and it may be helpful to prepare by practicing the exercise of theme finding.

        .diffr_country
          %ul.cstm_list_style
            %li.mtop_zero
              %a{href: "https://gradready.com.au/gamsat-quote-generator", target: :_blank}
                %strong
                  GAMSAT
                  %sup ®
                  Quote Generator

        %p In addition to understanding the principles behind these different types of media, working on something as basic as your vocabulary can be particularly helpful. Developing your vocabulary has multiple advantages:

        %ol
          %li Firstly, if you are asked about a word in a question, or there is a word that is pivotal in answering the question that you do not know, you will be in trouble.
          %li Secondly, by having knowledge of the meaning of words you will be more readily able to make subtle distinctions between words. This can be especially important when it comes to identifying motivations or emotional states.
          %li Finally, there is a theory that an increased vocabulary will artificially improve your intelligence. This is because it is faster to think of, and make connections with, a single word than it is to do the same with the concept that the word represents. As such it can be understood that this effect is compounded by an extensive vocabulary.
        %p
          Our
          %a{href: "/gamsat-preparation-courses/free-gamsat-trial", target: :_blank}
            %strong Free Trial
          includes a GAMSAT
          %sup ®
          Study Guide with an in-depth, day-by-day study schedule for Section 1 along with all the other sections of the GAMSAT
          %sup ®
          exam to help you plan out your preparation. You’ll also get access to 50 MCQs from our Intelligent MCQ Bank and a wealth of other free resources.
        %p
          Sign up to test our industry-leading online learning technology for yourself:
          .boxed
            Get Access to:
            %ul{:style => "list-style-type:none;padding: 13px 0px;"}
              %li 50 Free MCQs
              %li Week-By-Week Study Guide
              %li Complete Session 3 Topic List
              %li Recorded Webinars
            .free_gamsat_icon
              = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/free_trial.png', class: "icon30"
            .button_right_section
              %a.free_trial_btn.hvr-shutter-in-horizontal{href: "/gamsat-preparation-courses/free-gamsat-trial", target: :_blank} GAMSAT Free Trial

      .preparation_col.head_aftr_none
        %h2#section1ReadingList
          GAMSAT Section 1 Reading List
        %p.mtop_zero
          A common piece of advice is to read widely in order to expose yourself to different media in preparation for Section 1 of the GAMSAT
          %sup ®
          exam. However, if this is not performed mindfully in a systematic manner, it is next to useless and may in fact harm you as it will essentially become busy work with limited gains.
        %p
          It is therefore important to have in mind what you are wanting to achieve out of your readings and use these goals to ensure that you read
          %i
            actively.
        %p Below are some guidelines on how to achieve this:

        %ol
          %li Choose short texts. You’re able to finish them faster and it’s important to expose yourself to as many different styles of writing, as many different characters, interactions, and themes as possible. It’s fine to enjoy The Lord of the Rings in your own time, but there is only one writing style there. Instead, target collections of short stories, essays and long-form articles.
          %li In order to read actively, perform some exercises. One such exercise involves pausing your reading at the conclusion of each character dialogue or interaction. Explicitly identify each character’s motivations and then the reasons why (with these motivations in mind) they say and do the things they do at each new step. Finally, try to identify how each character's knowledge and motivations have changed as a result of this interaction.
          %li Another exercise is to try and identify the emotional state and responses to each action.
          %li
            Include a certain amount of Australian content as
            %a{href: "https://gamsat.acer.org/", target: :_blank}
              %strong
                ACER
            will often make special note of including this in the exam.

        %p
          Nevertheless, when performed correctly, reading widely can definitely be beneficial in terms of your GAMSAT
          %sup ®
          Preparation. In terms of what to read, this can be broken down into multiple categories. Keep in mind that any reading you do will help with both Section 1 and Section 2 of the GAMSAT
          %sup ®
          exam.

      .preparation_col.head_aftr_none
        %h3.mtop10.mbot20
          Section 1 Reading List
        .tbl_responsive.fl_none
          %table.table.cstm_tbl.table-bordered.table-condensed.custom_table_data
            %thead
              %th.text-center.width11 Type of Media
              %th.text-center.width40 Description
              %th.text-center Free Resources
            %tbody
              %tr
                %td.text-center
                  %h4 Newspapers
                %td.text-center
                  Newspapers are perhaps one of the more obvious mediums through which you can read on a wide range of topics and issues.The newspapers listed here arguably offer some of the least biased and fairest reporting.
                %td.text-center
                  %ul.sub_listing.table_bullet_none
                    %li
                      %a{href: "https://theconversation.com/au", target: :_blank}
                        %strong
                          The Conversation
                    %li
                      %a{href: "https://www.economist.com/", target: :_blank}
                        %strong
                          The Economist
                    %li
                      %a{href: "https://www.theguardian.com/au", target: :_blank}
                        %strong
                          The Guardian
                    %li
                      %a{href: "https://www.aljazeera.com/", target: :_blank}
                        %strong
                          Al Jazeera
                    %li
                      %a{href: "http://www.afr.com/", target: :_blank}
                        %strong
                          Australian Financial Review
              %tr
                %td
                  %h4
                    Books & Short Stories
                %td.text-center
                  It’s best to aim for short texts. Aim for excellent writing with a focus on authors who have mastered the short-story modality.
                %td.text-center
                  %ul.sub_listing.table_bullet_none
                    %li
                      %a{href: "https://en.wikipedia.org/wiki/Oscar_Wilde_bibliography", target: :_blank}
                        %strong
                          Oscar Wilde
                    %li
                      %a{href: "https://en.wikipedia.org/wiki/Ralph_Waldo_Emerson", target: :_blank}
                        %strong
                          Ralph Waldo Emerson
                    %li
                      %a{href: "https://en.wikipedia.org/wiki/Anton_Chekhov_bibliography", target: :_blank}
                        %strong
                          Chekhov
                    %li
                      %a{href: "https://en.wikipedia.org/wiki/Noam_Chomsky_bibliography_and_filmography", target: :_blank}
                        %strong
                          Noam Chomsky
                    %li
                      %a{href: "https://en.wikipedia.org/wiki/George_Orwell_bibliography", target: :_blank}
                        %strong
                          George Orwell
              %tr
                %td
                  %h4
                    Essays
                %td.text-center
                  Again, take advantage of the shorter texts allowing you to read one a day.
                %td.text-center
                  %ul.sub_listing.table_bullet_none
                    %li
                      %a{href: "http://www.mdpi.com/journal/humanities", target: :_blank}
                        %strong
                          Humanities Open Access Journal
                    %li
                      %a{href: "https://www.aldaily.com/", target: :_blank}
                        %strong
                          Arts and Letters Daily
                    %li
                      %a{href: "http://australianhumanitiesreview.org/", target: :_blank}
                        %strong
                          Australian Humanities Review
              %tr
                %td
                  %h4
                    Poetry
                %td.text-center
                  Poetry is often an area that students tend to dislike, but it’s still a medium that you should familiarise yourself with. Poems are generally a lot shorter so they provide you with an opportunity to read one daily.
                %td.text-center
                  %ul.sub_listing.table_bullet_none
                    %li
                      Poems.org -
                      %a{href: "https://www.poets.org/poetsorg/text/how-read-poem-0", target: :_blank}
                        %strong
                          How to read a poem
                    %li
                      Poems.org -
                      %a{href: "https://www.poets.org/poetsorg/poems", target: :_blank}
                        %strong
                          List of Poems
        %p Utilising a dictionary as you read will help develop your vocabulary, and reading is just beneficial overall to help expand your thoughts and enhance your own personal development.
        %p
          Another area that can often be of value to students in their preparation is philosophy. The focus on philosophy in the GAMSAT
          %sup ®
          exam can be tricky in terms of complex ideas and ambiguous writing. Nevertheless there are some common philosophers that may be worthwhile reading as part of your preparation. Delving into this particular topic will familiarise you with philosophical writing and introduce you to another style of writing and different ways of forming ideas.
        %p
          To begin with, the following
          %a{href: "http://www.dailymail.co.uk/home/moslive/article-1279320/Ten-greatest-Philosophical-principles.html", target: :_blank}
            %strong
              Daily Mail article
          is a great starting point as an introduction to famous philosophers and their theories, but you should follow up for more scholarly information. Some recommended philosophers include:
        %ol.sub_listing
          %li
            %a{href: "https://www.iep.utm.edu/santayan/", target: :_blank}
              %strong
                George Santayana
          %li
            Anthony Clifford Grayling -
            %a{href: "https://www.amazon.com.au/Meaning-Things-Applying-Philosophy-life/dp/0753813599", target: :_blank}
              %strong
                The Meaning of Things
          %li
            %a{href: "https://www.youtube.com/user/schooloflifechannel/playlists", target: :_blank}
              %strong Youtube: School of Life Philosophy

      .preparation_col.head_aftr_none
        %h2#section1Tips
          GAMSAT Section 1 Tips
        %p.mtop_zero
          If preparing for the content should be the first pillar of our preparation, the second involves developing your exam technique and MCQ Strategy. This is important as with good technique, it is possible to get the right answer without necessarily knowing what the answer is by application of some basic statistics and educated guesswork.
        %p
          MCQs are good for examiners because they can be rapidly and objectively marked. However, there are some benefits for examinees as well. This is because their very design can be taken advantage of. What’s more, the individuals applying the formula to write these questions are victims of the same fallacies and foibles as any other person. If these can be identified then they can also be exploited.
        %p The first thing to appreciate is how MCQs are written. By doing so it is easier to take advantage of their flaws:
        .highlight_box.gamsat-prep.mbot20
          %ol
            %li Firstly, the examiner determines what skills or knowledge they want to test with a question. For example, “I want to test the ability to identify metaphor.”
            %li The correct option is written, “A: Metaphor”
            %li
              The next step is to write the incorrect answers, or what are known as
              %b
                distractors.
              Because of the way the human brain works, it is much easier to write something that is true than is untrue. It is more difficult to write plausible incorrect responses and so some of these will be obviously wrong for want of better choice This often leads to distractors being obvious or repetitive and this can be taken advantage of if we notice it.
            %li
              Finally, the stem will be written or chosen. This is a huge source of error. Because the correct answer must be irrefutably correct to maintain the validity of the question, the stem by definition has to include elements that invalidate the distracting options. This can often be clumsy or awkward and suggest the correct answer even if you do not explicitly know what it is.
            %li
              Importantly, after this the question will go through an editing process. Frequently editors will contrive a situation or specific interpretation of the question in which the current correct answer is wrong and further modify the stem to close this loophole, further making the correct answer obvious.

        %p
          So, as you can see, with a keen eye for inconsistencies you can very quickly narrow your acceptable answers down.
        %p
          However, this will not get you 100% of the way. What follows is a method for approaching each and every MCQ that will further increase your odds of arriving at the correct option.

          %ol.diffr_country.only_li_number
            %li
              %h4.mtop10
                %b Read the question
              %p Read the question, i.e. the task you need to complete to answer the question correctly. Nothing will save you from choosing the wrong answer if you misread the question and so this step is essential. Not only this, but it will prime your mind on what to look for in the stem.
            %li
              %h4.mtop10
                %b Read the answer options
              %p Not only will this also prime your mind on what to look for in the stem, it will also demonstrate the way in which your mind should be working. It will give you key words and grammatical cues to look for in the stem such as the difference between “an” and “a.”
            %li
              %h4.mtop10
                %b Identify the objective
              %p Through the combination of these two you should be able to identify the objective of the question, i.e. what knowledge or skill they are testing. For example, even though you may be asked about what a certain phrase means, what it is actually assessing is your ability to understand the concept of metaphor.
            %li
              %h4.mtop10
                %b Read the stem
              %p As you are reading you should be able to identify elements that lend towards one or more options being the answer, and elements that detract from one or more of the options. You can then tally at the end to see which answer is the most likely. Couple this with your ability to rule out obvious detractors and your statistical odds alone, and you improve your chances of getting the right option.
        %p
          For further tips and advice make sure you sign up for our
          %a{href: "https://gradready.com.au/gamsat-preparation-courses/free-gamsat-trial", target: :_blank}
            %strong
              GAMSAT
              %sup ®
              Free Trial
          to watch a recording of our GAMSAT
          %sup ®
          Section 1 Workshop - Check out the 12 minute excerpt below
        .tab-content
          .container.video_container_width
            #grad_video_testimonial.carousel.slide.blog_slider.result_slider{"data-ride" => "carousel", "data-interval" => "false"}
              .carousel-inner.tab1
                .item.active
                  %video.video-js.vjs-default-skin.test_slide_height{controls: "", "data-autoplay" => "false", "data-autoresize" => "fit", "data-controls" => "true", "data-setup" => "{ \"playbackRates\": [2, 1.5, 1.2, 1, 0.5] }"}
                    %source{src: "https://gradready-prod.s3-ap-southeast-2.amazonaws.com/public/Section1HowtoPrepareVideoExcerpt.mp4", type: "video/mp4"}
        %p.mtop_zero
          %ol.ordr_list
            .boxed
              Get Access to:
              %ul{:style => "list-style-type:none;padding: 16px 0px;line-height: 0.9;"}
                %li 50 Free MCQs
                %li Week-By-Week Study Guide
                %li Complete Session 3 Topic List
                %li Recorded Webinars
              .free_gamsat_icon
                = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/free_trial.png', class: "icon30"
              .button_right_section
                %a.free_trial_btn.hvr-shutter-in-horizontal{href: "https://gradready.com.au/gamsat-preparation-courses/free-gamsat-trial", target: :_blank} GAMSAT Free Trial
      .preparation_col.head_aftr_none
        %h2#whatIsGoodScore
          What is a good score on the GAMSAT Section 1?
        %p
          As always, it’s useful to have a solid understanding of how GAMSAT
          %sup ®
          scores work in general, and
          %a{href: 'https://gradready.com.au/gamsat-scores', target: :_blank}
            %strong our guide is a great place to start.
          The same percentiles that apply to the overall exam scores apply to the specific section scores. As such, a score of roughly 59 will place you around the 50th percentile, that is to say the average score for Section 1. A score of around 65 will place you at around the 75th percentile, or the top 25% of students, and as such, 65 and above is typically a good place to aim. That said, what determines a good score for Section 1 is highly dependent on your performance across the other sections of the exam. Section 1 is typically a difficult section for most students, and as such, a lower score can be deemed
          %i ‘good enough’
          provided you do well in other sections to counterbalance a low Section 1 score.
      .preparation_col.head_aftr_none
        %h2#furtherPrepMat
          Further Preparation Materials
        %p.mtop_zero
          %ol.ordr_list
            %li
              %h5
                %a{href: "/what-is-gamsat", target: :_blank}
                  What is the GAMSAT
                  %sup ®
                  ?
              %p.mtop_zero
                Everything you need to know about the GAMSAT
                %sup ®
                exam from structure and overview to which universities require the GAMSAT
                %sup ®
                = '.'

            %li
              %h5
                %a{href: "/gamsat-scores", target: :_blank}
                  Understanding your GAMSAT
                  %sup ®
                  Results
              %p.mtop_zero
                Covers everything you need to know about your GAMSAT
                %sup ®
                Results - How the scoring works, result release dates and even GAMSAT
                %sup ®
                score cutoffs.

            %li
              %h5
                %a{href: "/gamsat-preparation", target: :_blank}
                  How to study for the GAMSAT
                  %sup ®
                  Exam
              %p.mtop_zero
                A breakdown of how to approach study effectively and how to set up a GAMSAT
                %sup ®
                study schedule.
            %li
              %h5
                %a{href: "/gamsat-section-2", target: :_blank}
                  How to prepare for GAMSAT
                  %sup ®
                  Section 2
              %p.mtop_zero
                An overview of what to expect in Section 2 of the GAMSAT
                %sup ®
                exam, how to prepare and how to perfect your essay technique.
            %li
              %h5
                %a{href: "/gamsat-section-3", target: :_blank}
                  How to prepare for GAMSAT
                  %sup ®
                  Section 3
              %p.mtop_zero
                An overview of what to expect in Section 3 of the GAMSAT
                %sup ®
                exam and how to prepare for each of the topics  – Biology, Chemistry, & Physics.

:javascript
  $(".open_recommender").click(function(){
    $("#course-recommender .cr").addClass("cr--on")
  });
  // Select all links with hashes
  $('a[href*="#"]')
  // Remove links that don't actually link to anything
  .not('[href="#"]')
  .not('[href="#0"]')
  .click(function(event) {
    // On-page links
    if (
      location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
      &&
      location.hostname == this.hostname
    ) {
      // Figure out element to scroll to
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      // Does a scroll target exist?
      if (target.length) {
        // Only prevent default if animation is actually gonna happen
        event.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top-74
        }, 1000, function() {
          // Callback after animation
          // Must change focus!

        });
      }
    }
  });
