- title "Free GAMSAT Section 2 Example Essays"
- meta_description "Struggling with how to write the perfect GAMSAT Essay? Check out our free corrected GAMSAT Example Essays with tips and feedback, and download our Free GAMSAT Essay Writing Guide to master your preparation for GAMSAT Section 2 Essays"
- meta_keywords "gamsat essays, gamsat example essays, gamsat writing"

%section.talk_to_bg.home_faq.dashboard_bg
  #typed.notification_bar
    %p
      = render 'pages/partial/announcement', product_line: map_path_to_prodline(request.env['PATH_INFO']), relative: false
  .container.public_container
    .support_col.looking_corse.text-center.gradready_question
      %h1 Free GAMSAT Example Essays
%section.faq_wrapper.faq_details
  .row
    .container.public_container
      .download-counter-badge
        %p.download_read= show_estimated_read_time  
        %span|
        %i.fa.fa-user{'aria-hidden': "true"}
        %p.download_read= show_download_hit_count
      .preparation_col.head_aftr_none
        %p.mtop_zero
          Writing GAMSAT
          %sup ®
          practice essays is the most important aspect of preparing for Section 2 of the GAMSAT
          %sup ®
          Exam. Regularly writing essays allows you to develop and practise your essay writing skills and is something you should aim to start from early on. It’s important to get into a routine: Whether you aim to type an essay once a week or once a day, every bit counts. 
        %p.mtop_zero
          Writing regularly also helps develop your confidence, and prevents having that ‘writer’s block’ moment in the exam. 
        %p.mtop_zero  
          We’ve prepared a handy GAMSAT
          %sup ® 
          Essay Writing Guide you can download which includes all the information on this page, as well as some extra tips, some example essays to help you get a head start on your preparation for Section 2 of the GAMSAT
          %sup ®
          Exam. Start preparing today!
        %ol
          %li
            %a{href: '#GAMSATEssayWritingTips'}
              %strong
                GAMSAT
                %sup ®
                Essay Writing Tips
          %li
            %a{href: "#GAMSATEssayQualities"}
              %strong
                GAMSATE
                %sup ®
                Essay Qualities
          %li
            %a{href: "#GAMSATEssayWritingGuide"}
              %strong
                GAMSAT
                %sup ® 
                Essay Writing Guide
          %li
            %a{href: "#section2EssayTopics"}
              %strong
                GAMSAT
                %sup ®
                Section 2 Essay Topics
          %li
            %a{href: '#section2ExampleEssays'}
              %strong
                GAMSAT
                %sup ®
                Section 2 Example Essays
          %li
            %a{href: '#furtherPrepMat'}
              %strong
                Further Free GAMSAT
                %sup ®
                Preparation Materials
        .full_width
          .gamsat_study_syllabus
            .gamsat_study_syllabus_icon{:style => "margin-right: 50px"}
              = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/essay_writing_guide_image.png', class: "icon40"
            .button_right_section_study_syllabus
              %a.gamsat_study_syllabus.hvr-shutter-in-horizontal{href: download_gradready_gamsat_essay_writing_guide_path } DOWNLOAD YOUR GRADREADY GAMSAT ESSAY WRITING GUIDE
      .preparation_col.head_aftr_none
        %h2#GAMSATEssayWritingTips
          GAMSAT
          / %sup{style: "text-decoration:none"} ®
          Essay Writing Tips
        %p
          Simply writing GAMSAT
          %sup ®
          essays is not enough - It needs to be done in a structured fashion to ensure that you get the most out of your preparation. We recommend that you:
        %ol
          %li
            Get feedback on your essays. It is vital that you get your friends, family, tutors and anyone else to read these essays - ask them to provide criticism and suggestions.
          %li
            Critique your own essays. After every essay you write, read it aloud to yourself and listen to see if it makes sense. Try to mark your own essays -use the 
            %a{href: "#GAMSATEssayQualities"}
              %strong
                list below as a useful guide
          %li
            Start gently. Don’t feel the need to write under time pressure from the word go. It’s more important that you develop and improve your essay writing skills before gradually applying realistic time pressure.
          %li
            Type your practice essays. It’s important that you get accustomed to typing your responses. There is no spell-check function in the GAMSAT
            %sup ® 
            exam , so practise typing responses into word processors without spelling and grammar corrections. You may also need to work on your typing speed. You will still be able to use provided sheets of paper for planning and brainstorming if necessary.
          %li
            Vary the type of essays that you write. You should make sure you try argumentative, personal reflective essays, 
            %a.green{href: "/posts/gamsat-preparation-courses/writing-the-creative-gamsat-essay", target: :_blank}
              %strong
                fictional creative essays
            , poetry, and any other medium that can work in the GAMSAT
            %sup ®
            exam. The GAMSAT
            %sup ®
            exam can throw up unexpected prompts that might be difficult to write in a particular style: it’s important to give yourself the flexibility to deal with anything the exam might throw at you.
        %p
          You can find more detailed GAMSAT
          %sup ®
          Section 2 Essay Writing Tips and a Section 2 Reading List on our guide here:
          %a.green{href: "/gamsat-section-2", target: :_blank}
            %strong
              How to Prepare for GAMSAT
              %sup ®
              Section 2.
        %p
          Make sure you also sign up for our GAMSAT
          %sup ®
          Free Trial to get a wealth of other free GAMSAT
          %sup ®
          Resources including a recording of our GAMSAT
          %sup ®
          Essay Writing Webinar:
        %br
        .boxed
          Get Access to:
          %ul{:style => "list-style-type:none;padding: 13px 0px;"}
            %li 50 Free MCQs
            %li Week-By-Week Study Guide
            %li Complete Session 3 Topic List
            %li Recorded Webinars
          .free_gamsat_icon
            = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/free_trial.png', class: "icon30"
          .button_right_section
            %a.free_trial_btn.hvr-shutter-in-horizontal{href: "/gamsat-preparation-courses/free-gamsat-trial"} GAMSAT Free Trial
      .preparation_col.head_aftr_none.ex_essay_col
        %h2#GAMSATEssayQualities
          GAMSAT Essay Qualities
        %p
          A strong GAMSAT
          %sup ®
          essay, no matter what structure you choose, should:
        %ol
          %li
            %b Be strongly related to the theme of the prompts.
            The GAMSAT
            %sup ®
            is a test of reasoning skills: Your markers want to see how you think. In order to assess this, they need to see how you have thought about the prompts provided. GAMSAT
            %sup ®
            essays that are unrelated give the impression of being ‘pre-written’, and are penalised quite heavily.
          %li 
            %b Be well-written and well-structured.
            Sentences should be clear and concise. Paragraphs should only contain one main idea. Introductions and conclusions should summarise the essay, and not include any information that you do not analyse in your body paragraphs.
          %li 
            %b Be interesting and original.
            Rather than simply arguing that the theme of the prompts is ‘good’ or ‘bad’, try to come up with something more specific. For example, for a set of prompts about research, rather than arguing that ‘research is good for the development of society’, you could take a more specific approach and argue that ‘research is a male-dominated field that suppresses female voices’.
          %li 
            %b Include detailed critical analysis.
            Again, your writers want to see how you think, not ‘what you know’. This means pulling your examples apart in great detail. Ask yourself questions, and answer them in your response. What were the motivations behind it? Was there a driving ideology? What were the consequences? What does this show about human society?
        When writing your GAMSAT
        %sup ®
        essays, try to critique your essay by seeing if it follows these four points.
        %br 
        %br
      .preparation_col.head_aftr_none.ex_essay_col
        %h2#GAMSATEssayWritingGuide
          GAMSAT
          / %sup{style: "text-decoration:none"} ®
          Essay Writing Guide
        %h3.mtop10.mbot20
          How do you start writing a GAMSAT
          %sup ®
          essay?
        %ol
          %li
            Understand the Theme: Read the quote, identify the main theme, and any other related ideas. Your response needs to engage strongly with this - otherwise your markers cannot reward you.
          %li
            Brainstorm Ideas: Build a bank of ideas. Look over many essay prompts, and try to come up with three supporting examples that could be used for the theme. If you can’t think of any, do some research - current affairs, history, literature - anything that is relevant. 
          %li
            Create a Thesis: What is your opinion on the theme? Make it clear, concise, and easy to understand. 
          %li
            Choose a Structure: Consider what is most appropriate for the theme and explore your options. You might choose an argumentative response with concrete supporting examples, a more reflective response drawing on your own experience, or a fictional response that allows you to explore emotions and psychology. 
          %li
            Plan Body Paragraphs: Each body paragraph needs to support your thesis, and go into detailed critical analysis. Support your thesis by referring back to your central idea at the beginning and end of each paragraph, and throughout your analysis.
          %li
            Be Clear & Succinct: Write in logical and well-phrased sentences that can be easily understood by a marker who will be reading your essay at a fast pace. Long sentences are not necessarily sophisticated sentences. Think of the great speech-makers. They use concise language. Simple writing is often the most powerful.
          %li
            Review your Essay: Review what you have written and ensure it makes sense. Check for typos and errors of grammar and punctuation. You want to give your marker the best impression possible. 
        %p
          For a further breakdown and more tips visit our guide:
          %a.green{href: "/gamsat-section-2", target: :_blank}
            %strong
              How to Prepare for GAMSAT
              %sup ®
              Section 2.


      .preparation_col.head_aftr_none
        %h3.mtop10.mbot20
          GAMSAT
          / %sup ®
          Essay Structure
        %p.mtop_zero
          ACER does not provide any guidelines in regards to an essay structure, minimum word count, or how long your GAMSAT
          %sup ®
          Section 2 essays should be. However, a maxim that holds true even for the GAMSAT
          %sup ®
          Exam is 'quality over quantity'.
        %p
          The quality of what you write is much more important than the quantity and as such, you should focus on what you write about and your expression and organisation of ideas. A basic guideline to your GAMSAT
          %sup ®
          Essay Structure is:

        .diffr_country
          %ul.cstm_list_style
            %li.mtop_zero An Introduction
            %li.mtop_zero 3 Body Paragraphs
            %li.mtop_zero A Conclusion
        %p.mtop_zero
          Note however that this example structure is not necessarily applicable to every type of essay. If you were to write a creative piece, the structure of your GAMSAT
          %sup ®
          Essay could certainly be more flexible. The main factor to take into account is how to best organise your ideas to ensure that your arguments are conveyed logically and coherently.You can practise using our Free 
          %a.green{href: "/gamsat-quote-generator", target: :_blank}
            %strong
              GAMSAT
              %sup ®
              Quote Generator 
          which has over 90 Section 2 essay prompts, covering 40+ themes.
        %h3.mtop10.mbot20
          How many words should a GAMSAT essay be?
        %p
          A common piece of advice is to aim for about 500 words, but the most important point is to focus on the quality of your essay rather than the quantity. If you can express an idea clearly and effectively in fewer words then do it.
        %p
          For tips on Section 2 of the GAMSAT
          %sup ®
          exam, our study guide contains a 14 pg Section 2 Essay Writing Guide. Sign up here:
          %a.green{href: "/gamsat-preparation-courses/free-gamsat-trial", target: :_blank}
            %strong
              GAMSAT
              %sup ®
              Free Trial
        %p
          For general tips and strategies on how you can prepare for the GAMSAT
          %sup ®
          Exam, visit our
          %a.green{href: "/gamsat-preparation", target: :_blank}
            %strong
              Guide to GAMSAT
              %sup ®
              Preparation.
        %h3.mtop10.mbot20
          How do you choose a GAMSAT essay style?
        %p
          There are many GAMSAT
          %sup ®
          essay styles to try, and each have their own advantages, disadvantages, and challenges. The list below is by no means exhaustive but may help provide you with some ideas and styles to trial. You should aim to test different styles and work out what works for you best.
        .diffr_country
          %ul.cstm_list_style 
            %li.mtop_zero 
              %a.green{href: "#ArgumentativeEssays",}
                %strong
                  Argumentative Essays
            %li.mtop_zero 
              %a.green{href: "#Personalreflectiveessays",}
                %strong
                  Personal Reflective Essays
            %li.mtop_zero 
              %a.green{href: "#Shortstories",}
                %strong
                  Short Stories
        %h4#ArgumentativeEssays
          Argumentative Essays
        %p  
          These GAMSAT
          %sup ®
          essays follow a basic structure, using an introduction, 2-3 body paragraphs, and a conclusion. You will take a strong central opinion, and introduce it in your introduction. Each body paragraph should contain one supporting example, and detailed critical analysis, in order to defend your argument. These essays:
      .diffr_country
        %ul.cstm_list_style
          %li.mtop_zero
            Are usually students’ preferred option.
          %li.mtop_zero
            Allow you to analyse political and social themes very effectively.
          %li.mtop_zero
            Require a good breadth of knowledge in order to provide three supporting examples.
          %li.mtop_zero
            Follow a set structure or formula, and can therefore be easier to get the hang of if you are not as comfortable writing.
          %li.mtop_zero
            %b However,
            argumentative essays can be difficult if the prompts are about something very personal or introspective, for example, ‘love’.
          %li.mtop_zero 
            %b They can also make it more difficult to be interesting and original in your response.
          %br 
      .preparation_col.head_aftr_none
        %h4#Personalreflectiveessays
          Personal reflective essays
        %p 
          These GAMSAT
          %sup ®
          essays allow you to demonstrate your emotional intelligence, self-awareness, and empathy. These are vital qualities to demonstrate in the entrance exam for medical school. Try to avoid a hybrid of argumentative and personal styles: personal essays that take three short anecdotes and discuss them in an introduction/three body paragraphs/conclusion structure do not usually come across as sincere.

        %p 
          Taking one, strong personal experience that is related to the theme of the prompts, and analysing it in detail, is a great way to start. Show your marker what you felt and why you felt that way - demonstrate your emotional and psychological analytical skills. These essays:
      .diffr_country
        %ul.cstm_list_style
          %li.mtop_zero
            Are an excellent way of being interesting and original: your experience is your own.
          %li.mtop_zero
            Make it easier to demonstrate emotional awareness - It is much easier to provide emotional insight into something with which you have personal experience.
          %li.mtop_zero
            Can move your marker. Your marker is a human being! Giving them a personal response gives them a connection to you. 
          %li.mtop_zero
            Are the least challenging of the non-argumentative essays - most students like to start with these essays before branching into more creative writing. 
          %li.mtop_zero 
            %b However,
            it can be difficult to write these essays if you have no experience related to the theme of the prompts. Collecting a ‘bank’ of personal experiences that can be used for various themes is a helpful way of knowing whether you can use a personal reflection for a set of prompts.
      .preparation_col.head_aftr_none
        %h4#Shortstories
          Short stories
        %p
          Writing short stories is an excellent way of standing out. They allow you to show emotional and psychological insight, but without having the restraint of personal experience. 
        %p 
          In a short story, try to stick within your own realm of experience. A short story does not have to be a Hollywood Blockbuster: often the simplest plots are those that are the most sincere, touching, and effective. Remember that the point of these essays is not to write a dramatic story. It is to demonstrate your social, emotional, or psychological reasoning skills to your marker. These essays:
      .diffr_country
        %ul.cstm_list_style
          %li.mtop_zero
            Require practice. Refine your writing style to be simple, sincere, and not far-fetched.
          %li.mtop_zero
            Require creativity! Think of creative ways to describe emotions or situations. Avoid cliches in your descriptions.
          %li.mtop_zero
            Should deal with one strong central idea that is related to the theme of the prompts.
          %li.mtop_zero
            Can produce outstanding marks. Well-written and thoughtful short stories allow you to demonstrate the sophistication of your expression, your originality, and your analytical skills.
        
        In order to choose a style, it’s important to look at the theme of the prompts, and what they invite. There is no ‘correct’ approach!
        %br
        %br
      .preparation_col.head_aftr_none
        %h2#section2EssayTopics
          GAMSAT
          / %sup{style: "text-decoration:none"} ®
          Section 2 Essay Topics
        %p.mtop_zero
          Section 2 of the GAMSAT
          %sup ®
          Essay consists of two different essays (usually called Task A and Task B), each in response to their own set of stimuli. These prompts are presented as a set of quotes (usually 5), with each set centred around a common theme.

      .preparation_col.head_aftr_none
        %h3.mtop10.mbot20
          GAMSAT
          / %sup ®
          Section 2 Task A Themes:
        %ol
          %li
            Freedom
          %li
            War
          %li
            Punishment
          %li
            Science
          %li
            Technology
          %li
            Crime
          %li
            Poverty
          %li
            Wealth
          %li
            Humour
      .preparation_col.head_aftr_none
        %h3.mtop10.mbot20
          GAMSAT
          / %sup ®
          Section 2 Task B Themes:
        %ol
          %li
            Friendship
          %li
            Love
          %li
            Beauty
          %li
            Youth
          %li
            Ageing
          %li
            Suffering
          %li
            Originality
          %li
            Conformity
          %li
            Wisdom

      .preparation_col.head_aftr_none
        %h3.mtop10.mbot20
          GAMSAT
          / %sup ®
          Section 2 Questions


        .highlight_box.gamsat-prep.mbot20
          %h4 Theme: Truth
          %ol
            %li
              Gossip, as usual, was one-third right and two-thirds wrong.
              %i (L.M. Montgomery, Chronicles of Avonlea)
            %li
              The truth is rarely pure and never simple.
              %i (Oscar Wilde, The Importance of Being Earnest)
            %li
              Truth is a matter of the imagination.
              %i (Ursula K. Le Guin, The Left Hand of Darkness)
            %li
              You don't destroy what you want to acquire in the future.
              %i (Suzanne Collins, Mockingjay)
            %li
              To be fully seen by somebody, then, and be loved anyhow - this is a human offering that can border on miraculous.
              %i (Elizabeth Gilbert, Committed: A Skeptic Makes Peace with Marriage)
        %br
        .highlight_box.gamsat-prep.mbot20
          %h4 Theme: Justice
          %ol
            %li
              Being good is easy, what is difficult is being just.
              %i (Victor Hugo)

            %li
              I don't want tea, I want justice!
              %i (Ally Carter, Uncommon Criminals)

            %li
              It is better to risk saving a guilty person than to condemn an innocent one.
              %i (Voltaire, Zadig)

            %li
              Right is right, even if everyone is against it, and wrong is wrong, even if everyone is for it.
              %i (William Penn)

            %li
              Keep your language. Love its sounds, its modulation, its rhythm. But try to march together with men of different languages, remote from your own, who wish like you for a more just and human world.
              %i (Hélder Câmara, Spiral Of Violence)
        %p
          You can find further essay topics using this free GAMSAT
          %sup ®
          Section 2 Essay Quote Generator:
        .full_width
          .gamsat_study_syllabus
            .gamsat_study_syllabus_icon{:style => "margin-right: 50px"}
              = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/GAMSAT_quote_generator_image.png', class: "icon40"
            .button_right_section_study_syllabus
              %a.gamsat_study_syllabus.hvr-shutter-in-horizontal{href: "/gamsat-quote-generator", target: :_blank}
                GAMSAT
                %sup ®
                Quote Generator


      .preparation_col.head_aftr_none
        %h2#section2ExampleEssays
          GAMSAT
          / %sup{style: "text-decoration:none"} ®
          Section 2 Example Essays
        %p.mtop_zero
          Even with all of the above tips and topics, it can be difficult to start writing without an idea of what a GAMSAT
          %sup ®
          Essay should look like. That’s why we’ve decided to provide an example essay below with feedback provided by our tutors to help you make a start on your preparation for Section 2 of the GAMSAT
          %sup ®
          Exam.

      .preparation_col.head_aftr_none.ex_essay_col
        %h3.mtop10.mbot20
          GAMSAT
          / %sup ®
          Section 2 Task A Example Essay

        %h4 Task A Example Essay Question
        %ol
          %li
            Don’t forget your great guns, which are the most respectable argument for the rights of kings.
            %i (Frederick the Great)
          %li
            The people are that part of the state that does not know what it wants.
            %i (G W F Hegel)
          %li
            Those who cast the votes decide nothing. Those who count the votes decide everything.
            %i (Joseph Stalin)
          %li
            Win or lose, we go shopping after the election.
            %i (Imelda Marcos)
          %li
            Democracy is the worst form of government except for all those other forms which have been tried from time to time.
            %i (Winston Churchill)

        %h4.mbot20 Task A Example Essay: Medium Standard Essay

        .highlight_box.gamsat-prep.mbot20
          %ul
            %li.mbot20
              The people are lead to believe that their votes decide the power, however the real power resides with those who count the votes. Whether the power is attained by corruption or manipulation, the people have little say even what they try to stage a backlash. Examples of corruption aren’t hard to find, but the frustrating case of Robert Mugabe is a strong example. Constant broken pre-election promises try to manipulate the people even at a staged constituency.  Time and again tyrants pop up to demonstrate clearly how compromised the electoral process can sometimes become.

            %li.mbot20
              The strings of bad decisions made by Robert Mugabe have devastated Zimbabwe, whilst somehow benefiting him and his family. In 200 President Mugabe enacted the removal of white ownership of farmland. His plan was to give the land to the native Zimbabwean’s to make them more successful and therefor give them more of the power. This was an important promise and made him very popular with his countrymen.  During the crossover period, Mugabe’s family ended up with 39 farms, with the rest going to un-experienced Zimbabweans. The result was a complete slump in food production and in return a failing economy for Zimbabwe, forcing them to abandon their currency in 2009. Ironically the white farmers had been very effective in their farming and had bolstered the economy. In the 2010 election, despite being generally despised by many Zimbabweans, Robert Mugabe won another term by a giant 60% of the votes. It seems unlikely he would win reelection given the circumstances.  Corruption among the voting officials who were under the control of Mugabe is suspected but few are willing to question his authority.

            %li.mbot20
              It’s partially expected by citizens of democratic countries that pre-election promises are seldom kept. However when a candidate is making promises that would highly benefit you and your community, it’s hard not to jump on their bandwagon. In the 2013 election, the Labor party promised millions to rural communities to fund different community projects which would have provided stimulation for their economy. However since winning the election and releasing the budget, those promises have been revoked in order to cut costs. Resulting in thousands of rural citizens feeling manipulated by false promises made by the Labor party.

            %li.mbot20
              Most recently in WA, an alleged 1800 people have voted multiple times at different polling stations in the 2013 election.  Before this, thousands of votes had believed to have simply vanished so a new election was to be held, but in light of this new information an additional investigation is being held. This is an example of the people trying to take back the power. Although it is illegal, most would not consider it to be any less morally wrong than corruption or manipulation especially on a huge scales such as the examples of Robert Mugabe and the Labor party. Voting is only a human invention, and it can be easily manipulated just like any other human invention.

            %li
              Tactics of politics are harsh. With emotional and physical tries to power, its not a surprise that votes feel the need to use the same tactics in order to win back the power.  Examples can be found all over the globe with Zimbabwe and Australia just scratching the surface. In the words of Joseph Stalin – “Those who cast the votes deiced nothing. Those who count the votes decide everything.”

        %h4.mbot20 Task A Example Essay Correction and Feedback
        .highlight_box.gamsat-prep.mbot20.green_box
          %ul
            %li.mbot20
              This is a well-written essay and appears to make a sound argument by incorporating some well-informed examples.
            %li.mbot20
              There is no major flaw with the written expression in this essay. While sentences in some cases can be shortened and written in a more direct manner, this is not a major criticism of the essay. There are, however, multiple small errors: ‘people are lead to believe’ should be ‘people are led to believe’; ‘the people have little say even what they try to stage a backlash’ should be ‘the people have little say even when they try to stage a backlash’, amongst others. Whilst these are small details, it’s important to give your marker a strong impression of the quality of your written expression.
            %li.mbot20
              The structure of the essay also follows the basic argumentative essay structure. One of the main issues that prevents this essay from receiving a higher mark is that the quote that the writer has selected is not compatible with the second example that they have provided. This example talks about a political party changing its tune after an election. It is not clear how it furthers the argument that the electoral process itself is compromised in some way. In argumentative essays, every supporting example should be defending and strengthening the thesis. Irrelevant examples and analysis is very difficult for a marker to reward. In fact, they can actually weaken, rather than strengthen, an argument, as they distract the reader from the central idea.

            %li.mbot20
              The content of this essay appears informed. The writer, however, has made a crucial mistake in saying that the Labour party won the 2013 election. It was the Liberal party. If this mistake were made once in the text it could be dismissed as a typographical error under the time pressure; however, it is repeated.

            %li.mbot20
              This essay could also go to a more sophisticated level of critical analysis. The details of the examples could be teased out to further support the central example. For example, in the third body paragraph, what are the consequences of these votes being ‘lost’? Democracy is being compromised and people’s votes are being silenced: imagine living in a country where voting is compulsory, yet your vote is not counted. Is this a betrayal of the people? How is it an example of the people trying to take back power? Perhaps because they are demanding accountability from their democratic government. Is this, in itself, promising? Namely, whilst voting is open to corruption, in a true democracy, the people have a right to freedom of speech and to transparency of government. Does the true spirit of democracy, then, help to defeat the possible corruption of the voting process? 
            %li.mbot20
              Going into this level of detail would demonstrate stronger reasoning skills. Markers want to see how a candidate thinks, and how deeply they think - not simply ‘what they know’.   
            %li
              This essay is quite good, and it has chosen a challenging argument to present. However, it can be improved by a better selection of content that goes directly to the argument that the writer is trying to make.

      .preparation_col.head_aftr_none.ex_essay_col
        %h3.mtop10.mbot20
          GAMSAT
          / %sup ®
          Section 2 Task B Example Essay

        %h4 Task B Example Essay Question
        %ol
          %li
            Creativity is the defeat of habit by originality.
            %i (Arthur Koestler)
          %li
            Create like a god; command like a king; work like a slave.
            %i (Constantin Brancusi)
          %li
            Truth and reality in art do not arise until you no longer understand what you are doing.
            %i (Henri Matisse)
          %li
            You are lost the instant you know what the result will be.
            %i (Juan Gris)
          %li
            An essential aspect of creativity is not being afraid to fail.
            %i (Edwin Land)
        %h4.mbot20 Task B Example Essay - High Standard Essay

        .highlight_box.gamsat-prep.mbot40
          %ul
            %li.mbot20
              Creation is a power no mortal man should be gifted with. And it’s exactly that. A gift. It can give rise to ugly life forms capable of destruction yet it can also wondrously design and improve our small insignificant lives. A gift not bestowed upon me and perhaps for good reason.
            %li.mbot20
              The power of creation is given to those who sit on the outskirts of our society, like outcasts and the insane. These poor souls, if poor is the best fitting word, let their minds wander aimlessly and ironically discover and churn out fantastical and absurd ideas. How blissful.
            %li.mbot20
              Desperation summons creative too. When we are pushed to the extremes and our normal ways fail, new ideas spawn almost spontaneously. When there is no other option but to be creative, we find ourselves stumble upon the new and the amazing.
            %li.mbot20
              Regardless, there is a very good reason being creative is not easy. It's not for everyone. Chaos would conspire. Creativity is power. Power corrupts the mind. Corruption is fatal.
              But just for a minute, let's indulge and pretend we possessed the power of creation. What to do? What should I create? I would not create equality amongst equality amongst race or world peace or a cure for aids. That’s not out of the hexagon enough for me.  It's not that I do not support world peace or todays real issues, but someone with a smaller capacity for creation can do that. A child. A dying war veteran. I’m going to create something unfathomable. It's my duty, my unspoken agreement to create something for more unimaginable. Good or evil? Black or white? The answers to these questions are never easy.
            %li
              Who knows. Let drugs and hallucinogens do their work there. Because I can’t create anything of such a nature. I’m skin and bone. Not god. Not even a demi-god. I’m not burdened by the gift of creation. But god knows someone is. What a frustration to wait for the day they realize, what a terror to see what follows.
        %h4.mbot20 Task B Example Essay Correction and Feedback
        .highlight_box.gamsat-prep.mbot20.green_box
          %ul
            %li.mbot20
              This essay is challenging and different. The written expression in this essay, whilst simple, is powerful. It can be read as a form of dramatic monologue and the writer has carefully selected each word and sentence length to ensure that the essay is read in a dramatic tone. It resembles speeches by accomplished orators: simple and moving. The purpose of many essays is to convince the reader. It is much easier to convince someone if they can understand it; even easier to convince someone if they are moved by it.

            %li.mbot20
              The structure of this essay is almost similar to a free verse poem in that there is no real structure; however, there is cohesion between paragraphs. The writer’s ideas on the issue are easy to follow.
            %li.mbot20
              This essay is considered a high standard mainly because of the content and the original perspective on the theme. The writer reflects upon what creativity is, but in a way that is not often executed by students under strict exam conditions.
            %li.mbot20
              Each paragraph of the essay covers a different twist on what creativity means. It challenges the reader to consider the writer’s opinions and stands out from other essays. Also note that although this essay is a high standard response, the length of the response is much shorter than the other examples. This is a good demonstration of how quality is more important than quantity.
            %li.mbot20
              As with every essay, however, there are aspects that could be improved. 
            %li.mbot20
              There are simple errors throughout: these detract from the writer’s otherwise powerful and strong sense of voice.
            %li
              One other important way in which this essay could improve would be to have a stronger central idea. The essay clearly focussed on creativity, and different interpretations of it. However, unifying the essay behind one perspective, such as the danger of creativity, could make this response more effective. 

      .preparation_col
        %p.mtop_zero
          Make sure to also sign up to our
          %a.green{href: "/gamsat-preparation-courses/free-gamsat-trial",target: "_blank"}
            %strong{:style => "font-size: 15px;"}
              GAMSAT
              %sup ®
              Free Trial
          to watch a recording of our GAMSAT
          %sup ®
          Essay Writing Workshop! Check out the 10 minute excerpt below:
        .tab-content.mtop40
          .container.video_container_width
            #grad_video_testimonial.carousel.slide.blog_slider.result_slider{"data-ride" => "carousel", "data-interval" => "false"}
              .carousel-inner.tab1
                .item.active
                  %video.video-js.vjs-default-skin.test_slide_height{controls: "", "data-autoplay" => "false", "data-autoresize" => "fit", "data-controls" => "true", "data-setup" => "{ \"playbackRates\": [2, 1.5, 1.2, 1, 0.5] }"}
                    %source{src: "https://gradready-prod.s3-ap-southeast-2.amazonaws.com/public/Section2EssayWritingVideoExcerpt.mp4", type: "video/mp4"}

        %p.mtop_zero
          %ol.ordr_list
            .boxed{:style => "margin-top: -30px;"}
              Get Access to:
              %ul{:style => "list-style-type:none;padding: 16px 0px;line-height: 0.9;"}
                %li 50 Free MCQs
                %li Week-By-Week Study Guide
                %li Complete Session 3 Topic List
                %li Recorded Webinars
              .free_gamsat_icon
                = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/free_trial.png', class: "icon30"
              .button_right_section
                %a.free_trial_btn.hvr-shutter-in-horizontal{href: "https://gradready.com.au/gamsat-preparation-courses/free-gamsat-trial", target: :_blank} GAMSAT Free Trial

      .preparation_col.head_aftr_none
        %h2#furtherPrepMat
          Further Free GAMSAT
          / %sup ®
          Preparation Materials
        %p.mtop_zero
          %ol.ordr_list
            %li
              %h5
                %a{href: "/free-gamsat-preparation-materials", target: :_blank}
                  Free GAMSAT Preparation Materials
              %p.mtop_zero
                The most comprehensive library of free GAMSAT Preparation materials available.
            %li
              %h5
                %a{href: "/gamsat-scores", target: :_blank}
                  Understanding your GAMSAT
                  %sup ®
                  Results
              %p.mtop_zero
                Covers everything you need to know about your GAMSAT
                %sup ®
                Results - How the scoring works, result release dates and even GAMSAT
                %sup ®
                score cutoffs.

            %li
              %h5
                %a{href: "/gamsat-preparation", target: :_blank}
                  How to study for the GAMSAT
                  %sup ®
                  Exam
              %p.mtop_zero
                A breakdown of how to approach study effectively and how to set up a GAMSAT
                %sup ®
                study schedule
            %li
              %h5
                %a{href: "/gamsat-section-1", target: :_blank}
                  How to prepare for GAMSAT
                  %sup ®
                  Section 1
              %p.mtop_zero
                An overview of what to expect in Section 1 of the GAMSAT
                %sup ®
                Exam, how to prepare.
            %li
              %h5
                %a{href: "/gamsat-section-2", target: :_blank}
                  How to prepare for GAMSAT
                  %sup ®
                  Section 2
              %p.mtop_zero
                An overview of what to expect in Section 2 of the GAMSAT
                %sup ®
                Exam, how to prepare and how to perfect your essay technique.
            %li
              %h5
                %a{href: "/gamsat-section-3", target: :_blank}
                  How to prepare for GAMSAT
                  %sup ®
                  Section 3
              %p.mtop_zero
                An overview of what to expect in Section 3 of the GAMSAT
                %sup ®
                Exam and how to prepare for each of the topics - Biology, Chemistry, & Physics.

      .preparation_col.head_aftr_none
        %h2
          GradReady GAMSAT
          / %sup ®
          Preparation Courses
        .tbl_responsive.fl_none
          %table.table.cstm_tbl.table-bordered.table-condensed.custom_table_data
            %thead
              %tr
                %th
                  Course
                %th.text-center
                  Key Features
                %th.text-center
                  Description
            %tbody
              %tr
                %td.gray_background{colspan: 3}
                  GradReady GAMSAT
                  %sup ®
                  Online Courses
              %tr.text-center
                %td
                  %a.green.fnt14{href: "/gamsat-preparation-courses/online-essentials", target: :_blank}
                    %strong Online (Essentials)
                %td
                  4000+ Intelligent MCQ Bank
                  %br
                  1200+ page Textbook
                  %br
                  8 Online Practice Exams
                %td
                  Designed for students who are unable to make our attendance classes, this course gives you the essentials to succeed.
              %tr.text-center
                %td
                  %a.green.fnt14{href: "/gamsat-preparation-courses/online-comprehensive", target: :_blank}
                    %strong Online (Comprehensive)
                %td
                  10 Marked Essays with Personal Feedback
                  %br
                  GetClarity: Tutor Assistance when you need it on whatever you need it on
                %td
                  All the features of our Online (Essentials) Course plus Marked Essays and on-demand Tutor Assistance with our GetClarity system

              %tr
                %td.gray_background{colspan: 3}
                  GradReady GAMSAT
                  %sup ®
                  Attendance Courses
              %tr.text-center
                %td
                  %a.green.fnt14{href: "/gamsat-preparation-courses/attendance-essentials", target: :_blank}
                    %strong Attendance (Essentials)
                %td
                  15 Day Course - 75+ hours of Learning
                  %br
                  Interactive Classes capped at 21 students
                  %br
                  Mock Exam and Subsequent Review
                %td
                  Includes all the Online Resources included in our Online (Essentials) Course.
              %tr.text-center
                %td
                  %a.green.fnt14{href: "/gamsat-preparation-courses/attendance-comprehensive", target: :_blank}
                    %strong Attendance (Comprehensive)
                %td
                  15 Day Course - 75+ hours of Learning
                  %br
                  10 Marked Essays with Personal Feedback
                  %br
                  GetClarity: Tutor Assistance when you need it on whatever you need it on
                %td
                  Our most popular course, includes all the live classes and Mock Exam as well as access to our Online (Comprehensive) resources
              %tr.text-center
                %td
                  %a.green.fnt14{href: "/gamsat-preparation-courses/attendance-complete-care", target: :_blank}
                    %strong Attendance (Complete Care)
                %td
                  15 Day Course - 75+ hours of Learning
                  %br
                  7 x 1 hour Private Tuition sessions.
                %td
                  Everything you need to succeed – includes private tutoring sessions in addition to the Attendance (Comprehensive) Package
        %p
          To learn more about our GAMSAT
          %sup ®
          Preparation courses and compare their different components, view an in depth comparison here:
          %a{href: "/gamsat-preparation-courses#gamsat_course_table", target: :_blank}
            %strong
              GradReady Course Comparison
        %p
          If you’re not sure which course is best for you, try our
          %a.open_recommender{"data-target" => "#course_recommeder_modal", "data-toggle" => "modal", :href => "javascript:void(0)"}
            %strong
              Course Recommender.
        %p
          If you’re after a single feature, such as our Textbook, or access to our 4000+ Intelligent MCQ Bank, or if you want to customise your preparation, you can do so here:
          %a{href: "/gamsat-preparation-courses/custom", target: :_blank}
            %strong
              GradReady GAMSAT
              %sup ®
              Custom Course.

        %p.mtop_zero
          At GradReady, we pride ourselves on providing students with the
          %strong Best Results
          at the
          %strong Best Value:

        .diffr_country
          %ul.cstm_list_style
            %li.mtop_zero
              Our team is consistently reinvesting in our internal operational technology to ensure that we're constantly improving our efficiency and productivity. The end result for our students is that we stand head and shoulders above our competition in the comprehensiveness of the tools we offer and the effectiveness of our teachings  –
              %a.green{href: "/gamsat-preparation-courses#comparison_table", target: :_blank}
                %strong> all at the best value
                \.
            %li.mtop_zero
              We believe in a data-driven approach: using student performance data to fine tune our practice questions, study content and teaching styles has allowed us to achieve
              %a.green{href: "/gamsat-preparation-courses/student_testimonials#2017_perform", target: :_blank}
                %strong unparalleled results
              for our students.
            %li.mtop_zero
              We are the only provider with Statistically Significant Proven Results – our students achieved an average improvement of
              %a.green{href: "/gamsat-preparation-courses/student_testimonials", target: :_blank}
                %strong 20+ Percentile Points, 9 years in a row,
              with an average improvement of 25 Percentile Points for the May 2020 GAMSAT
              %sup ®
              exam.
            %li.mtop_zero
              We achieve these results through our interactive teaching style and adaptive online learning technologies. Our classes are capped at 21 students, and taught by a specialist tutor for each subject, tutors who are themselves Medical Students who have sat the GAMSAT
              %sup ®
              \.
            %li.mtop_zero Our online systems make learning into a science and we are the only provider with a proprietary online system that uses algorithmic-assisted, targeted learning. Unlike other providers who purchase a 3rd Party System, the targeted system that we've developed tracks your performance, quickly identifying your weaknesses and pointing you to the most relevant materials and even tutor assistance.
        %p.mtop20.flt_left
          To learn more about our courses and compare us to the competition, visit:
          %a.green{href: "/gamsat-preparation-courses", target: :_blank}
            %strong
              GradReady GAMSAT
              %sup ®
              Preparation Courses

:javascript
  $(".open_recommender").click(function(){
    $("#course-recommender .cr").addClass("cr--on")
  });
  // Select all links with hashes
  $('a[href*="#"]')
  // Remove links that don't actually link to anything
  .not('[href="#"]')
  .not('[href="#0"]')
  .click(function(event) {
    // On-page links
    if (
      location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
      &&
      location.hostname == this.hostname
    ) {
      // Figure out element to scroll to
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      // Does a scroll target exist?
      if (target.length) {
        // Only prevent default if animation is actually gonna happen
        event.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top-74
        }, 1000, function() {
          // Callback after animation
          // Must change focus!

        });
      }
    }
  });
