- title "Free GAMSAT Study Guide | 2022 GAMSAT Study Syllabus"
- meta_description "The GAMSAT exam can be overwhelming in its breadth and density of content. It covers a wide range of varying areas, making it crucial to cover all your bases with a comprehensive checklist. Further, each section has its own nuances, so here are some free tips for tackling each part of the GAMSAT in our GAMSAT Study Syllabus."
-meta_keywords "gamsat study syllabus"

%section.talk_to_bg.home_faq.dashboard_bg
  #typed.notification_bar
    %p
      = render 'pages/partial/announcement', product_line: map_path_to_prodline(request.env['PATH_INFO']), relative: false
  .container.public_container
    .support_col.looking_corse.text-center.gradready_question
      %h1
        GAMSAT Study Syllabus:
        %br 
        Preparing for the GAMSAT exam
%section.faq_wrapper.faq_details
  .row
    .container.public_container
      / .download-counter-badge
      /   %i.fa.fa-user{'aria-hidden': "true"}
      /   = show_download_hit_count :gam_study_syllabus
      .preparation_col
        %p
          The GAMSAT
          %sup ®
          exam is a comprehensive examination of all your reasoning and problem solving skills, and likely covers more content than you have ever been tested on before in a single occasion. This makes it essential to have a GAMSAT
          %sup ®
          Study Syllabus that covers all the areas you need to prepare for, and also to organise your study in a way that will allow you to learn all this in an efficient manner. Each section tests fundamentally different content and skills, meaning a one-size-fits-all approach is unlikely to be successful. At GradReady, we’re here to help by providing you with a free GAMSAT
          %sup ®
          Study Guide that summarises all the key information you need to know to ace the GAMSAT
          %sup ®
          exam.

        %ol
          %li
            %a{href: "#study_syllabus"}
              GAMSAT
              %sup ®
              Study Syllabus
          %li
            %a{href: "#use_study_syllabus"}
              Using the GAMSAT
              %sup ®
              Study Syllabus
          %li
            %a{href: "#gam_prep"}
              Preparing for the GAMSAT
              %sup ®
          %li
            %a{href: "#prep_material"}
              Further Preparation Materials
      .preparation_col.head_aftr_none
        %h2#study_syllabus
          GAMSAT
          / %sup{style: "text-decoration:none"} ®
          Study Syllabus

        %p.mtop_zero
          One of the most common questions we hear about the GAMSAT
          %sup ®
          exam is “Is there a syllabus for the GAMSAT
          %sup ®
          ?” Although
          %a.green{href: 'https://gamsat.acer.org/about-gamsat', target: :_blank}
            %strong
              ACER
          doesn’t provide a concrete syllabus for students to refer to, here at Gradready we’ve compiled a list of general topics that come up time and time again in the GAMSAT
          %sup ®
          exam. 
        %p.mtop_zero
          Our GAMSAT
          %sup ®
          Study Syllabus is a brief overview of the GAMSAT
          %sup ®
          exam and how to approach it. It can be accessed for free through the below link. You can use it to kickstart your study, to check off topics as you go, and to get some insight into organising and managing your preparation.
        .fr_text_center
          .full_width
          .gamsat_study_syllabus
            .gamsat_study_syllabus_icon{:style => "margin-right: 50px"}
              = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/gamsatstudysyllabus.png', class: "icon40"
            .button_right_section_study_syllabus
              %a.gamsat_study_syllabus.hvr-shutter-in-horizontal{href: download_gam_study_syllabus_path}
                GAMSAT
                %sup ®
                Study Syllabus
          .text-center.mbot20
            .download-counter-badge
              %i.fa.fa-user{'aria-hidden': "true"}
              %p.download_read= show_download_hit_count :gam_study_syllabus

        %p
          You can also access our more detailed week-by-week GAMSAT
          %sup ®
          Study Guide by signing up for our free trial here:
          %a{href: '/gamsat-preparation-courses/free-gamsat-trial', target: :_blank}
            %strong
              GAMSAT
              %sup ®
              Free Trial.
          Our Free Trial includes a complete breakdown of the GAMSAT
          %sup ®
          Syllabus, 50 free MCQs as well as a wealth of other preparation materials to help you kickstart your preparation.
        %br
        .boxed.mtop20.mbot20
          Get Access to:
          %ul{:style => "list-style-type:none;padding: 13px 0px;"}
            %li 50 Free MCQs
            %li Week-By-Week Study Guide
            %li Complete Session 3 Topic List
            %li Recorded Webinars
          .free_gamsat_icon
            = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/free_trial.png', class: "icon30"
          .button_right_section
            %a.free_trial_btn.hvr-shutter-in-horizontal{href: "/gamsat-preparation-courses/free-gamsat-trial", target: :_blank} GAMSAT Free Trial

      .preparation_col.head_aftr_none
        %h2#use_study_syllabus
          Using the GAMSAT
          / %sup ®
          Study Syllabus
        %p.mtop_zero
          This Study Syllabus is designed to help guide you in your GAMSAT
          %sup ®
          Preparation and also acts as a GAMSAT
          %sup ®
          checklist - It describes and summarises the recommended content for each section, and provides study tips from our expert tutors on how to tackle each part of the GAMSAT
          %sup ®
          exam.
        %p.mtop_zero
          GradReady’s GAMSAT
          %sup ®
          Study Guide will help you to gain an overview of the GAMSAT
          %sup ®
          exam and its core components and is a useful tool in planning your preparation. To make the best use of it, you should also ensure to do the following:

        %ol
          %li.list_num_size
            %h4.mtop10.mbot20
              Have a solid GAMSAT
              %sup ®
              Study Plan in place.

            %p.mtop_zero
              Time management and studying efficiently is a core skill to succeeding in the GAMSAT
              %sup ®
              =". Getting into a steady routine is vital in managing your preparation, reducing stress, and improving performance. For example, planning ahead gives you more direction over your study, so that you always know whether you are on track, and what you need to study when you sit down at your desk for the day. To help you with this, we have created a free"
              %a.green{href: "/gamsat-study-schedule", target: :_blank}
                %strong
                  GAMSAT
                  %sup ®
                  Study Schedule
              which provides a framework and some key checkpoints along your study journey.

          %li.list_num_size
            %h4.mtop10.mbot20
              Thoroughly understand the GAMSAT
              %sup ®
              and each of its sections

            %p.mtop_zero
              The GAMSAT
              %sup ®
              exam tests knowledge and skills across many different areas, so it is important to have a thorough understanding of what exactly you will be assessed on. While this GAMSAT
              %sup ®
              Study checklist gives you an insight into the GAMSAT
              %sup ®
              exam, it is only an overview of the process. To learn more about the GAMSAT
              %sup ®
              exam, you can read our comprehensive guides for each Section:
            %ol
              %li
                %a.green{href: "/gamsat-section-1", target: :_blank}
                  %strong
                    GAMSAT
                    %sup ®
                    Section 1: How to Prepare
                  %br
                Section 1 of the GAMSAT
                %sup ®  
                exam assesses your interpretation of qualitative information as well as your reading comprehension. Here, you will be asked questions designed to test your ability to draw conclusions from a variety of media forms such as non-scientific texts, fiction, poetry or cartoons.
              %li
                %a.green{href: "/gamsat-section-2", target: :_blank}
                  %strong
                    GAMSAT
                    %sup ®
                    Section 2: How to Prepare
                  %br
                Section 2 of the GAMSAT
                %sup ®
                exam assesses your ability to express your thoughts in a logical and effective manner in response to two sets of stimuli. According to ACER, it is meant to assess your ability to produce and develop a cohesive argument or reflection under pressure. To have a look at the example Section 2 essay topics,
                %a.green{href: '/gamsat-example-essay', target: :_blank}
                  %strong
                    visit our example essays here.
              %li
                %a.green{href: "/gamsat-section-3", target: :_blank}
                  %strong
                    GAMSAT
                    %sup ®
                    Section 3: How to Prepare
                  %br
                Section 3 of the GAMSAT
                %sup ®
                exam is  here.designed to test your reasoning and problem-solving skills within a scientific context. This is the only section for which
                %a.green{href: 'https://www.acer.org/au', target: :_blank}
                  %strong
                    ACER
                provides some guidelines on the expected level of prerequisite knowledge; first year university levels of Biology and Chemistry along with a Year 12 level of physics. For a comprehensive breakdown of each of the individual GAMSAT
                %sup ®
                science disciplines, visit our separate guides for
                %a.green{href: '/gamsat-biology', target: :_blank}
                  %strong
                    Biology,
                %a.green{href: '/gamsat-chemistry', target: :_blank}
                  %strong
                    Chemistry,
                and
                %a.green{href: '/gamsat-physics', target: :_blank}
                  %strong
                    Physics.
      .preparation_col.head_aftr_none
        %h2#gam_prep
          GAMSAT Section Syllabus Overview
        %ol
          %li.list_num_size
            %h4.mtop10.mbot20
              GAMSAT Section 1 Syllabus
            %p.mtop_zero
              For Section 1 of the GAMSAT
              %sup ®
              Exam you will be asked questions on a wider array of different media which may include the following (this list is not exhaustive):
              %ul.sub_listing
                %li 
                  Literature
                %li 
                  Psychology
                %li 
                  Anthropology
                %li 
                  Non-Fiction
                %li 
                  Graphic Comics
              For further details and ideas refer to our
              %a.green{href: '/gamsat-section-1#section1ReadingList', target: :_blank}
                %strong
                  GAMSAT Section 1 Reading List.
          %li.list_num_size
            %h4.mtop10.mbot20
              GAMSAT Section 2 Syllabus
            %p.mtop_zero
              Section 2 of the GAMSAT
              %sup ®
              exam, also known as ‘Written Communication’, assesses your ability to express your thoughts in a logical and effective manner in response to two sets of stimuli. 
            %p.mtop_zero
              Task A generally deals with socio-cultural issues and is best suited to an argumentative style of essay. Some example themes include:
              %ul.sub_listing
                %li 
                  Freedom
                %li 
                  War
                %li 
                  Punishment
                %li 
                  Science
                %li 
                  Technology
                %li 
                  Crime
                %li 
                  Poverty
                %li 
                  Wealth
            %p.mtop_zero
              Task B centres around themes targeted at more personal and social issues and allows for students to express themselves through a more creative or reflective essay style. Some example themes include:
              %ul.sub_listing
                %li 
                  Friendship
                %li 
                  Love
                %li 
                  Beauty
                %li 
                  Youth
                %li 
                  Ageing
                %li 
                  Suffering
                %li 
                  Originality
                %li 
                  Conformity
                %li 
                  Humour
              %br
            %p.mtop_zero
              For further ideas, head to our
              %a.green{href:'/gamsat-quote-generator', target: :_blank}
                %strong
                  GAMSAT Section 2 Essay Quote Generator. 
          %li.list_num_size
            %h4.mtop10.mbot20
              GAMSAT Section 3 Syllabus
            %p.mtop_zero
              For Section 3, the questions are based on three discipline areas along the following ratios:
            .diffr_country
              %ul.cstm_list_style
                %li.mtop_zero
                  %a.green{href:'/gamsat-section-3#howPrepareSection3Biology', target: :_blank}
                    %strong
                      Biolology 

                  %span
                    ="-40%"
                %li.mtop_zero 
                  %a.green{href:'/gamsat-section-3#howPrepareSection3Chemistry', target: :_blank}
                    %strong
                      Chemistry
                  %span
                    ="-40%"
                %li.mtop_zero 
                  %a.green{href:'/gamsat-section-3#howPrepareSection3Physics', target: :_blank}
                    %strong
                      Physics
                  %span
                    ="-20%"
            %p.mtop_zero
              You are advised to have a level of basic knowledge equivalent to first year university levels of biology and chemistry along with a Year 12 level of physics. 
        %h3#biologyTopics
          GAMSAT
          %sup ® 
          Biology Topics
        %br
        .highlight_box.gamsat-prep.green_box.mbot20
          %ol
            .div_left.pad_lf80
              %li
                Biomolecules & the Cell
              %li
                Enzymes, Cellular Metabolism & the Central Dogma
              %li
                Cell Division
              %li
                Nervous System
              %li
                Musculoskeletal System
              %li
                Cardiovascular System 
              %li
                Respiratory System
            .div_ryt.pad_lf130
              %li
                Gastrointestinal System
              %li
                Renal System
              %li
                Endocrine System
              %li
                Immune System
              %li
                Genetics & Evolution
              %li
                Reproductive System
              %li
                Experimental Design and Data Analysis
        %h3#chemistryTopics
          GAMSAT 
          %sup ®
          Chemistry Topics
        %br 
        .highlight_box.gamsat-prep.green_box.mbot20
          %ol
            .div_left.pad_lf80
              %li
                Atoms
              %li
                Arithmetic and Stoichiometry
              %li
                Electronegativity and Bond Polarity
              %li
                Electrons and Chemical Bonds
              %li
                Gases
              %li
                Thermodynamics and Kinetics
            .div_ryt.pad_lf130
              %li
                Acid and Bases
              %li
                Electrochemistry
              %li
                Common and Special Organic Reactions
              %li
                Stereochemistry and Projections
              %li
                Biochemistry
              %li
                Spectroscopies, Spectrometry and Laboratory Technique
        %h3#physicsTopics
          GAMSAT 
          %sup ®
          Physics Topics
        %br 
        .highlight_box.gamsat-prep.green_box.mbot20
          %ol
            .div_left.pad_lf80
              %li Motion (1D and 2D Motion, Acceleration and Graphs)
              %li Newton’s Laws (in particular Equilibrium) and Torque
              %li Energy, Work and Conservation of moment
              %li Physics of Liquids (especially Pressure, Archimedes’ Principle, Buoyant Force)
              %li Electricity and Magnetism (electrostatic and magnetic forces)
            .div_ryt.pad_lf130
              %li Electric Circuits
              %li Optics
              %li Radioactive Decay and other exponential-type mathematical laws
              %li Mathematical Operations, Fractions and Scientific Notation
              %li Mathematical Functions (especially logarithmic and trigonometric functions)  
      .preparation_col.head_aftr_none
        %h2#gam_prep
          Preparing for the GAMSAT
          / %sup{style: "text-decoration:none"} ®
      .preparation_col.head_aftr_none
        %h3#where_to_start.mtop10.mbot20
          Do I need to study for the GAMSAT
          %sup ®
          ?
        %p.mtop_zero
          You may have heard that the GAMSAT
          %sup ®
          = "‘cannot be studied for’, or that it only tests your general intelligence meaning there is no point in preparing. However, a review of more than 50 academic studies of over 130,000 participants finds that in general, preparation improves performance on any test. In the context of the GAMSAT"
          %sup ®
          exam, this is the case because:

        %ol
          %li
            It is important to become familiar with the concepts tested. Although the exam focuses on your reasoning skills, you still need to know the vast amount of knowledge involved in order to apply these skills.

          %li
            You will learn to become familiar with the exam and how to approach it. Being familiar with the exam, its format, and common pitfalls will always put you in a better position than going into it ‘blind’. Having a solid exam strategy is key to achieving a great score.

          %li
            Preparing puts you in a better mental state for the exam. The more trial runs you have, the more confident and calm you will be, and the better you will perform.


      .preparation_col.head_aftr_none
        %h3.mtop10
          Quick tips to acing the GAMSAT
          / %sup ®
          Exam
        %ol
          %li.list_num_size
            %h4.mtop10.mbot20
              Make studying an active process
            %p.mtop_zero
              When learning new content, focus on asking questions, putting information in context, and summarising information. Then, revisit the material periodically and test yourself regularly. One of the biggest pitfalls students encounter is simply passively reading information, which they are likely to forget immediately. It’s important to remember that the GAMSAT
              %sup ®
              exam is not designed to test your recall of knowledge but rather your reasoning skills - As such, it’s important to think critically as you work through practice questions and consider the type of skills they’re testing.

          %li.list_num_size
            %h4.mtop10.mbot20
              Understand your strengths and weaknesses
            %p.mtop_zero
              Spending all your time on chemistry doesn’t help you much if you are already a science whiz but can’t write an essay within the allotted time. Before you start spending a lot of time on studying a specific area, assess whether it will actually help you do better on the exam. Use our GAMSAT
              %sup ®
              Study Guide to get a quick overview of the various areas in the exam.
          %li.list_num_size
            %h4.mtop10.mbot20
              Never lose sight of your goal
            %p.mtop_zero
              You don’t need to know what score or university you want, but it is helpful to have some perspective of why you are sitting the exam. You most likely want to get into a study program that leads into a healthcare field that you are passionate about. Having this goal somewhere (and tangible reminders of it) to refer back to in tough times will help keep you on track.

      .preparation_col.head_aftr_none
        %h2#prep_material
          Further Preparation Materials
        %p.mtop_zero
          %ol.ordr_list
            %li
              %h5
                %a{href: "/free-gamsat-preparation-materials", target: :_blank}
                  Free GAMSAT Preparation Materials
              %p.mtop_zero
                The most comprehensive library of free GAMSAT Preparation materials available.
            %li
              %h5
                %a{href: "/gamsat-scores", target: :_blank}
                  Understanding your GAMSAT
                  %sup ®
                  Results
              %p.mtop_zero
                Covers everything you need to know about your GAMSAT
                %sup ®
                Results - How the scoring works, result release dates and even GAMSAT
                %sup ®
                score cutoffs.

            %li
              %h5
                %a{href: "/gamsat-preparation", target: :_blank}
                  How to study for the GAMSAT
                  %sup ®
                  Exam
              %p.mtop_zero
                A breakdown of how to approach study effectively and how to set up a GAMSAT
                %sup ®
                study schedule
            %li
              %h5
                %a{href: "/gamsat-section-1", target: :_blank}
                  How to prepare for GAMSAT
                  %sup ®
                  Section 1
              %p.mtop_zero
                An overview of what to expect in Section 1 of the GAMSAT
                %sup ®
                Exam, how to prepare for the Reasoning and Humanities questions.
            %li
              %h5
                %a{href: "/gamsat-section-2", target: :_blank}
                  How to prepare for GAMSAT
                  %sup ®
                  Section 2
              %p.mtop_zero
                An overview of what to expect in Section 2 of the GAMSAT
                %sup ®
                Exam, how to prepare and how to perfect your essay technique.
            %li
              %h5
                %a{href: "/gamsat-section-3", target: :_blank}
                  How to prepare for GAMSAT
                  %sup ®
                  Section 3
              %p.mtop_zero
                An overview of what to expect in Section 3 of the GAMSAT
                %sup ®
                Exam and how to prepare for each of the topics - Biology, Chemistry, & Physics.
            .boxed
              Get Access to:
              %ul{:style => "list-style-type:none;padding: 16px 0px;line-height: 0.9;"}
                / Get Access to:
                %li 50 Free MCQs
                %li Week-By-Week Study Guide
                %li Complete Session 3 Topic List
                %li Recorded Webinars
              .free_gamsat_icon
                = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/free_trial.png', class: "icon30"
              .button_right_section
                %a.free_trial_btn.hvr-shutter-in-horizontal{href: "/gamsat-preparation-courses/free-gamsat-trial"} GAMSAT Free Trial

:javascript
  // Select all links with hashes
  $('a[href*="#"]')
  // Remove links that don't actually link to anything
  .not('[href="#"]')
  .not('[href="#0"]')
  .click(function(event) {
    // On-page links
    if (
      location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
      &&
      location.hostname == this.hostname
    ) {
      // Figure out element to scroll to
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      // Does a scroll target exist?
      if (target.length) {
        // Only prevent default if animation is actually gonna happen
        event.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top-74
        }, 1000, function() {
          // Callback after animation
          // Must change focus!

        });
      }
    }
  });
