- title "GradReady GAMSAT Partners"
- meta_description "Here at GradReady we have partnered with colleges, societies and other associations around Australia to ensure that students everywhere can benefit from our courses, free events and scholarships. Learn more about GradReady GAMSAT Partners Today."

%section.talk_to_bg.home_faq
  #typed.notification_bar
    %p
      = render 'pages/partial/announcement', product_line: map_path_to_prodline(request.env['PATH_INFO']), relative: false
  .container
    .support_col.looking_corse.text-center
      %h1
        GradReady GAMSAT Partners

%section.pad50
  .container
    .encoraging_col
      .text-center
        %p Interested in partnering with us? Send us an email at partnerships@gradready.com.au and we'd be happy to have a chat
        %h2 University Residential Colleges
        .clear
        .col-md-4.encorag_box.partner_col.mg_right35.first_cols
          %a{href: "https://www.unicol.unimelb.edu.au/", target: "_blank"}
            .img-col
              = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/partner_logo/university_college.jpg'
            %h3 University College (UniMelb)
          .faq_list
            %p At University College we are dedicated to providing opportunities and support for students from diverse backgrounds. Our mission is to assist students to become well-informed global citizens with the capacity to negotiate their way successfully in a rapidly changing and complex world.

        .col-md-4.encorag_box.partner_col.mg_right35.first_cols
          %a{href: "https://newman.unimelb.edu.au/", target: "_blank"}
            .img-col
              = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/partner_logo/newman.jpg'
            %h3 Newman College (UniMelb)
          .faq_list
            %p Newman College's fundamental purpose is to foster the intellectual, ethical and spiritual life of its members, to enable them to become effective leaders in the community, mature in faith and committed to justice. The College seeks to assist its members in achieving the highest standards in their personal lives, in their studies and in the professions they will enter, standards based on Christian values and showing a genuine compassion and respect for others.

        .col-md-4.encorag_box.partner_col.mg_right35.first_cols
          %a{href: "https://www.ormond.unimelb.edu.au/", target: "_blank"}
            .img-col
              = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/partner_logo/ormond.jpg'
            %h3 Ormond College (UniMelb)
          .faq_list
            %p Ormond College is committed to providing an outstanding residential and learning experience for members of the University of Melbourne through its core values of community, learning, integrity, diversity and heritage.
        .clear

        .col-md-4.encorag_box.partner_col.mg_right35
          %a{href: "http://www.standrewscollege.edu.au/", target: "_blank"}
            .img-col
              = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/partner_logo/andrew.jpg'
            %h3 St Andrew's College (USYD)
          .faq_list
            %p St Andrew's College, governed by its own elected Council, is situated within the campus of the University of Sydney. Set in its own picturesque grounds, it offers students and a unique opportunity to get the most out of their University education – a combination of intellectual independence, academic support from the College Life team and personal development through involvement in Students’ Club activities such as a wide range of sporting, philanthropic and cultural activities, and the gift of life-long friendships.

        .col-md-4.encorag_box.partner_col.mg_right35
          %a{href: "http://www.stleos.uq.edu.au/", target: "_blank"}
            .img-col
              = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/partner_logo/leo_college.jpg'
            %h3 St Leo's College (UQ)
          .faq_list
            %p St Leo’s College at the University of Queensland was opened on 12 March 1961. In keeping with the rich traditions of the past century, St Leo’s Residents enjoy a diverse and active lifestyle embracing study, cultural and sporting opportunities, faith developments, community service and a wealth of social opportunities.This is alongside state of the art facilities and a learning environment that offers an exciting and rewarding academic experience. As the College continues to grow it remains committed to providing an environment where Residents feel respected and valued and can grow on their life journeys.

        .col-md-4.encorag_box.partner_col.mg_right35
          %a{href: "https://www.womens.uq.edu.au/", target: "_blank"}
            .img-col
              = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/partner_logo/The_Woman_College_Logo.jpg'
            %h3 The Women's College (UQ)
          .faq_list
            %p The Women’s College within the University of Queensland (UQ) prepares women to think big and reach far. The Equity Pledge, written by our Student Leadership Team in 2017, demonstrates the unmistakable spirit at College. A spirit that you can feel within our halls. A spirit that is visible, too, in the lives of our alumnae, women who have become leaders in a wide range of fields, including those in which women are traditionally underrepresented.
        .clear

        .col-md-4.encorag_box.partner_col.mg_right35.hght_420
          %a{href: "https://stcatherines.uwa.edu.au/", target: "_blank"}
            .img-col
              = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/partner_logo/cathriene.jpg'
            %h3 St Catherine's College (UWA)
          .faq_list
            %p St Catherine's is a selective, co-educational living and learning environment for 400 students from a diverse range of backgrounds, both local and overseas, undergraduate and postgraduate. St Catherine's is a college without borders, and focuses on the development of the whole person, providing a highly personalised experience that prepares students to take their place as global citizens of excellence.


    .encoraging_col
      .text-center
        %h2 University Student Societies
        .clear
        .col-md-4.encorag_box.partner_col.mg_right35.hght_420
          %a{href: "https://melbunisss.org/", target: "_blank"}
            .img-col
              = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/partner_logo/sss.jpg'
            %h3 Science Students Society (UniMelb)
          .faq_list
            %p The Science Students’ Society (SSS) is the official faculty based society for students undertaking the Bachelor of Science at the University of Melbourne. They are the largest student club at the University of Melbourne and the largest science society for students in Australia.

        .col-md-4.encorag_box.partner_col.mg_right35.hght_420
          %a{href: "https://www.facebook.com/biomedbear.unimelb/", target: "_blank"}
            .img-col
              = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/partner_logo/bms.jpg'
            %h3 Biomedicine Student Society (UniMelb)
          .faq_list
            %p The Biomedicine Student Society (BSS) is the official faculty based society for students undertaking the Bachelor of Biomedicine at the University of Melbourne.

        .col-md-4.encorag_box.partner_col.mg_right35.hght_420
          %a{href: "https://www.facebook.com/uqbiomed/", target: "_blank"}
            .img-col
              = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/partner_logo/abs.jpg'
            %h3 UQ Association of Biomedical Sciences
          .faq_list
            %p UQABS is a society that supports biomedical students. By hosting both social and professional networking events, they hope to enhance the university experience for biomedical students at UQ.
        .clear
        .col-md-4.encorag_box.partner_col.mg_right35.hght_530
          %a{href: "http://www.unswscisoc.com/", target: "_blank"}
            .img-col
              = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/partner_logo/scisoc.jpg'
            %h3 UNSW Science Society
          .faq_list
            %p The UNSW Science Society was founded in 2012 to bridge the academic and social gap between all the individual school-based societies. Since that time, the UNSW Science Society has grown to be a recognisable Constituent Club on campus encompassing members studying: Aviation; Biology, Earth and Environmental Sciences; Biotechnology and Biomolecular Sciences; Chemistry; Materials Science and Engineering; Mathematics and Statistics; Optometry and Vision Science; Physics; and Psychology.

        .col-md-4.encorag_box.partner_col.mg_right35.hght_530
          %a{href: "https://uqpms.com/", target: "_blank"}
            .img-col
              = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/partner_logo/queensland_society.jpg'
            %h3 UQ Pre-Medical Society
          .faq_list
            %p UQPMS was founded with the purpose of supporting provisional-entry medical students at UQ. However, with the introduction of the MD, their focus has expanded to accommodate for all undergraduate students wishing to enter into medicine via graduate entry. One of their main objectives is to ease the transition into university for their members. Throughout the years, they hope to better equip members with academic advice and help, as well as host various social events to encourage new relationships. UQPMS aims to provide its members with an unforgettable university experience.

        .col-md-4.encorag_box.partner_col.mg_right35.hght_530
          .img-col
            = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/partner_logo/gubsa.png'
          %h3 Griffith University Biomedical Science Association (GUBSA)
          .faq_list
            %p The Griffith University Biomedical Student Association (GUBSA) is a student-run organization based at Griffith University, Brisbane. GUBSA was founded to help enrich the university experience of students interested in the biomedical sciences, medical sciences, and other health-science related fields. The club seeks to support student development through various social, academic, and professional initiatives, and aims to facilitate a community for the future leaders of health and science.
        .clear
        .col-md-4.encorag_box.partner_col.mg_right35.hght_430
          .img-col
            = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/partner_logo/scisoc.png'
          %h3 University of Sydney Science Society
          .faq_list
            %p The University of Sydney Science Society (SciSoc) has been making sure that campus life is as fun, exciting and vibrant as it should be for every Science student at the University of Sydney since 1904. Today, SciSoc boasts over 5000 members, including undergraduate and postgraduate students, staff members and enthusiasts of Science at the University of Sydney.
    .encoraging_col
      .text-center
        %h2 Associations
        .clear
        .col-md-4.encorag_box.partner_col.mg_right35
          %a{href: "https://gradaustralia.com.au/", target: "_blank"}
            .img-col
              = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/partner_logo/grad_aust.jpg'
            %h3 GradAustralia
          .faq_list
            %p GradAustralia was founded by three graduates from the University of Adelaide.
            %p Co-founders Jeﬀ Duncan, Steve Butler and Geoﬀ Adams shared a vision to launch new products that would help every university student get the best possible start to their career.
            %p In 2015, GradAustralia was officially launched and the first edition of Australia’s Top 100 Graduate Employers guide was published. Jeﬀ, Steve and Geoﬀ were overwhelmed by the positive feedback from students, educators, and careers services alike, and GradAustralia has since grown to produce a range of print and online products that are used by over 500,000 students annually.

        .col-md-4.encorag_box.partner_col.mg_right35.hght_595
          %a{href: "https://postgradaustralia.com.au/", target: "_blank"}
            .img-col
              = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/partner_logo/grad_austrialia.jpg'
            %h3 PostgradAustralia
          .faq_list
            %p PostgradAustralia is an online platform that allows prospective students to explore, compare, shortlist, and apply for their perfect postgraduate course, all in one place. At the same time, it offers universities and higher education institutions an opportunity to showcase their course and degree offerings to a highly targeted audience who are ready to apply.
            %p Our aim is to help students make informed decisions about their careers by creating market leading tools and resources for researching postgraduate study options. By reducing decision paralysis, promoting postgraduate education domestically, and engaging international students, we aim to grow the higher education industry in Australia.
