- title "GAMSAT Preparation: How to Study for the GAMSAT"
- meta_description "Preparing for the GAMSAT can seem like a huge task. Learn more about how to study for the GAMSAT in 2022, how hard it really is, and some general study tips covering all backgrounds, including non-science backgrounds."
- meta_keywords "gamsat preparation, gamsat prep, gamsat study guide, how to prepare for the gamsat, how to study for the gamsat"
%section.talk_to_bg.home_faq.dashboard_bg
  #typed.notification_bar
    %p
      = render 'pages/partial/announcement', product_line: map_path_to_prodline(request.env['PATH_INFO']), relative: false
  .container.public_container
    .support_col.looking_corse.text-center.gradready_question
      %h1
        How to Prepare for the GAMSAT
%section.faq_wrapper.faq_details
  .row
    .container.public_container
      .download-counter-badge
        %p.download_read= show_estimated_read_time
        %span|
        %i.fa.fa-user{'aria-hidden': "true"}
        %p.download_read= show_download_hit_count
      .preparation_col.head_aftr_none
        %p.mtop_zero
          The secret to preparing for the Graduate Australian Medical School Admissions Test (
          GAMSAT
          %sup ®
          ) lies in the approach. The
          GAMSAT
          %sup ®
          is designed to
          %i 'assess the capacity to undertake high-level intellectual studies in the medical and health professional programs’
          , and it does this by assessing your analytical and critical thinking skills. Make no mistake, the
          GAMSAT
          %sup ®
          Exam is focused on examining your reasoning and problem-solving skills rather than your recall of specific content and, in this respect, it requires a different approach to preparation compared with a typical university assessment.

        %p
          Preparing for the GAMSAT
          %sup ®
          exam can be best summarised as the following:

        .diffr_country
          %ul.cstm_list_style
            %li.mtop_zero
              Learn the required content and build up a solid foundation of GAMSAT
              %sup ®
              knowledge.
            %li.mtop_zero
              This process can take various forms. For example: Covering the
              %a{href: "/gamsat-section-3",target: :_blank}
                %strong foundational physics concepts
              required for the GAMSAT
              %sup®
              exam or building up a
              %a{href: "/gamsat-section-2",target: :_blank}
                %strong Section 2 Essay Idea Bank.
            %li.mtop_zero
              Begin practising your application of this knowledge with GAMSAT
              %sup ®
              ='-'
              Style MCQs or practice essays, depending on the section you’re preparing for.
            %li.mtop_zero
              As you become familiar with the style of MCQs, build up an MCQ Strategy.
            %li.mtop_zero
              If you’re writing essays, make sure to get constant feedback and criticism.
            %li.mtop_zero
              Make sure to track your progress, specifically your approach and which areas you are struggling with and set them aside to review.
            %li.mtop_zero
              Gradually build up to answering MCQs or writing Section 2 Essays under realistic conditions (i.e. time pressure).
            %li.mtop_zero
              Stimulate sitting the GAMSAT
              %sup ®
              exam under accurate conditions, such as an online exam set to time, or better yet a mock exam.
        %p
          The above is only a summary, the below  guide is designed to provide you with further tips and information on how you can organise and approach your GAMSAT
          %sup ®
          prep to give you the best chance of success.

        %ol
          %li
            %a{href: "#gamsat_exam_prep"}
              GAMSAT
              %sup ®
              Exam Preparation Overview
          %li
            %a{href: "#how_study_gamsat"}
              How to Study for the GAMSAT
              %sup ®
          %li
            %a{href: "#planStudySchedule"}
              GAMSAT
              %sup ®
              Study Schedule
          %li
            %a{href: "#howHardGamsat"}
              How Hard is the GAMSAT
              %sup ®
              ?
          %li
            %a{href: "#needToStudyGamsat"}
              Do I need to study for the GAMSAT
              %sup ®
              ?
          %li
            %a{href: "#whatNeedToStudyGamsat"}
              What do I need to study for the GAMSAT
              %sup ®
              ?
          %li
            %a{href: "#ways_to_improve"}
              The Best Ways To Improve on the GAMSAT
              %sup ®
              ?
          %li
            %a{href: "#HowLongToStudyGamsat"}
              How long does it take to study for the GAMSAT
              %sup ®
              ?
          %li
            %a{href: "#last_min_prep"}
              Last Minute GAMSAT
              %sup ®
              Preparation
          %li
            %a{href: "#Digital2020Onwards"}
              Going Digital from 2020 onwards
          %li
            %a{href: "#BalancingGamsatStudy"}
              Balancing GAMSAT
              %sup ®
              Study and Work
          %li
            %a{href: "#retakingGamsat"}
              Retaking the GAMSAT
              %sup ®
              Exam
          %li
            %a{href: "#furtherGamsatTips"}
              Further GAMSAT
              %sup ®
              Study Tips
          %li
            %a{href: "#FutherPreparation"} Further Preparation Materials

      .preparation_col.head_aftr_none
        %h3.mtop10.mbot20
          GradReady GAMSAT Preparation Strategy
        %p.mtop_zero
          Here at GradReady, we strive to provide the Gold Standard in GAMSAT preparation. We do this by organising our GAMSAT
          %sup ®
          Preparation Strategy under three key stages:

        .tbl_responsive.fl_none
          %table.table.cstm_tbl.table-bordered.table-condensed.custom_table_data
            %thead
              %th.text-center Step
              %th.text-center Description
            %tbody
              %tr
                %td.text-center Build the foundational content and knowledge
                %td.text-center
                  Our
                  %a.green.fnt14{href: "/gamsat-preparation-courses/student_testimonials", target: :_blank}
                    %strong GradReady Students
                  have access to our 1200+ page GAMSAT
                  %sup ®
                  Textbook as well as over 25 hours of videos to provide them with all the tools they need to establish this essential foundation. In addition, as a GradReady student, if you ever need any further help with a particular concept or subject, our GetClarity system allows you to directly contact a GAMSAT
                  %sup ®
                  Tutor who specialises in your area of query anytime – it’s just like having a personal tutor at your fingertips.

              %tr
                %td.text-center
                  Apply this knowledge and develop a GAMSAT
                  %sup ®
                  Exam and MCQ Strategy
                %td.text-center
                  We ask our students to prepare for our live classes by reviewing the content beforehand in order to allow our GAMSAT
                  %sup ®
                  tutors to focus their time on teaching you to develop an exam strategy. As the GAMSAT
                  %sup ®
                  exam has shifted towards challenging your reasoning skills in recent years, our courses have evolved accordingly to focus on developing your logical reasoning and giving you the skills to take MCQs apart.
              %tr
                %td.text-center
                  Practice with realistic questions under accurate conditions
                %td.text-center
                  As a GradReady student you will have access to 8 Intelligent Online Exams, over 4000 MCQs, and the most realistic Mock Exam out there, featuring percentile reporting for your overall performance and a breakdown for each section that compares you to thousands of GradReady students, past and present.

        %p
          To learn more about our GAMSAT
          %sup ®
          Preparation courses and compare their different components, view an in depth comparison here:
          %a{href: "/gamsat-preparation-courses#gamsat_course_table", target: :_blank}
            %strong  GradReady Course Comparison
        %p
          If you want to try out our industry-leading learning technology and student LMS for yourself, sign up for our GAMSAT Free Trial today!
        %br
          .boxed
            Get Access to:
            %ul{:style => "list-style-type:none;padding: 13px 0px;"}
              %li 50 Free MCQs
              %li Week-By-Week Study Guide
              %li Complete Session 3 Topic List
              %li Recorded Webinars
            .free_gamsat_icon
              = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/free_trial.png', class: "icon30"
            .button_right_section
              %a.free_trial_btn.hvr-shutter-in-horizontal{href: "/gamsat-preparation-courses/free-gamsat-trial", target: :_blank} GAMSAT Free Trial

      .preparation_col.head_aftr_none
        %h2.mtop10.mbot20#gamsat_exam_prep
          GAMSAT Exam - Preparation Overview
        %p.mtop_zero
          The GAMSAT
          %sup ®
          Exam is broken down into three major sections and we have three separate guides that provide specific tips on preparing for each section:
        %ol.section_listing
          %li
            %h3.mtop10.mbot20
              %a{href: "/gamsat-section-1", target: :_blank}
                Section 1: Reasoning in Humanities and Social Sciences
            %p
              %span.time_est_col 62 MCQs, 100 Mins (including 8 mins reading time)
              %br
              This section is designed to assess reading comprehension and the ability to apply this comprehension and understanding of the humanities in an MCQ environment. Questions contained within Section 1 are variable in their content, length, and difficulty. There may be interpretation of cartoons, analysis of poetry, comprehension of extended passages from famous works of literature, and questions relating to political understanding.
            %p
              Visit our Section 1 Guide:
              %a{href: "/gamsat-section-1", target: :_blank}
                How to Study for GAMSAT
                %sup ®
                Section 1
          %li
            %h3.mtop10.mbot20
              %a{href: "/gamsat-section-2", target: :_blank}
                Section 2: Written Communication
            %p
              %span.time_est_col 2 Essays, 65 Mins (including 5 mins reading time)
              %br
              For this section, you are provided with two sets of stimuli (in the form of five quotes per stimulus), which relate to several themes, from which you must create a written response per stimulus. This section generally calls for the application of argumentative writing for one essay, and the utilisation of more creative, or reflective, writing for the other.
            %p
              Visit our Section 2 Guide:
              %a{href: "/gamsat-section-2", target: :_blank}
                How to Study for GAMSAT
                %sup ®
                Section 2

          %li
            %h3.mtop10.mbot20
              %a{href: "/gamsat-section-3", target: :_blank}
                Section 3: Reasoning in Biological and Physical Sciences
            %p
              %span.time_est_col 75 MCQs, 150 Mins (including 8 mins reading time)
              .diffr_country
                %ul.cstm_list_style
                  %li.mtop_zero
                    %a{href:"/gamsat-biology",target: :_blank}
                      %strong
                        Biology
                    = '- 40%'
                  %li.mtop_zero
                    %a{href:"/gamsat-chemistry",target: :_blank}
                      %strong
                        Chemistry
                    = '- 40%'
                  %li.mtop_zero
                    %a{href:"/gamsat-physics",target: :_blank}
                      %strong
                        Physics
                    = '- 20%'
            %p.mg_top0
              The
              %a{href:"https://gamsat.acer.org/",target: :_blank}
                %strong
                  GAMSAT
                  %sup ®
                  ACER website
              advises that first year tertiary levels of biology and chemistry are assumed knowledge, along with year 12 level of physics. Section 3 is built upon long, complex passages in which you must work to unpack the relevant information and solve the presented problem. It is also double-weighted (exceptions apply – visit our
              %a{href: "/gamsat-scores", target: :_blank}
                Guide to GAMSAT
                %sup ®
                Results
              to learn more), making it the most important section in the GAMSAT
              %sup ®
              Exam. In addition, the majority of universities across Australia require a score of 50 in all three sections to be eligible for selection, so practicing and perfecting strategies for Section 3 is imperative. It is important to note that although any direct recall-type knowledge of the sciences is not required, a working ability with the sciences at the required level is essential in understanding the questions.
            %p
              Visit our Section 3 Guide:
              %a{href: "/gamsat-section-3", target: :_blank}
                How to Study for GAMSAT
                %sup ®
                Section 3
            %p
              For my information about the GAMSAT
              %sup ®
              Exam itself, visit our guide:
              %a{href: "/what-is-gamsat", target: :_blank}
                What is the GAMSAT
                %sup ®
                ?

      .preparation_col.head_aftr_none
        %h2#how_study_gamsat
          How to Study for the GAMSAT
        %p.mtop_zero
          The GAMSAT
          %sup ®
          exam can be incredibly overwhelming and it can often feel like a challenge in and of itself to just start your GAMSAT
          %sup ®
          prep. There’s also the question of how long it takes to study for the GAMSAT
          %sup ®
          , which we’ve addressed separately below:
          %a{href: "#HowLongToStudyGamsat"}
            %strong
              How long do I need to study for the GAMSAT
              %sup ®
              ?
              ='.'

        %p
          The confusion exists primarily because there are a wide range of diverse and often conflicting opinions as to how to best prepare for the GAMSAT
          %sup ®
          exam. Here at GradReady, we’ve tried to filter out all the noise, simplify the process and break it down into the following no-nonsense approach to help you start your GAMSAT
          %sup ®
          preparation. The best thing about this approach is that it can be adapted as a general set of principles to how you, as an individual, study best, and provides you with a framework to best prepare for the GAMSAT
          %sup ®
          exam.

        %ol
          %li
            %a{href: "#planStudySchedule"}
              Plan a GAMSAT
              %sup ®
              Study Schedule
          %li
            %a{href: "#organizeGamsatStudy"}
              Organise your GAMSAT
              %sup ®
              Study to be effective
          %li
            %a{href: "#targetGamsatStudy"}
              Target your GAMSAT
              %sup ®
              Study
          %li
            %a{href: "#practiceGamsat"}
              How to Practice for the GAMSAT
              %sup ®
          %li
            %a{href: "#maximiseSpareTime"}
              Maximise your Spare Time

      .preparation_col.head_aftr_none
        %h3.mtop10.mbot20#planStudySchedule
          Plan a GAMSAT Study Schedule
        %p.mtop_zero
          The most crucial aspect of studying effectively for the GAMSAT
          %sup ®
          exam is planning – this is the key first step to help you start preparing for the GAMSAT
          %sup ®.
          Planning study by month, by week, by day, and often by hour, is typically necessary to ensure that you’re well covered on all the sections of the GAMSAT
          %sup ®
          exam, and allows you to achieve the necessary amount of question-based practice.

        %p
          Setting goals using the
          %a{href: "https://www.mindtools.com/pages/article/smart-goals.htm", target: :_blank}
            %strong
              SMART algorithm

          is an important aspect of the planning stage, and this acronym stands for the following (with GAMSAT
          %sup ®
          ='-type example/questions to reflect upon):'

        .highlight_box.gamsat-prep.mbot20
          %p
            %b S: Specific
            %br
            Is studying clinical pharmacology specific for the GAMSAT
            %sup ®
            ?
          %p
            %b M: Measurable
            %br
            Where does this specific part of study end? Reading a certain number of pages, chapters, etc.? Or answering a certain number of questions?
          %p
            %b A: Achievable
            %br
            Is it realistic to achieve this? Can you read every piece of English-translated classic literature prior to the exam?
          %p
            %b R: Relevant
            %br
            Are these readings/questions relevant to the GAMSAT? Are these questions, which require direct knowledge recall, relevant for study?
          %p
            %b T: Time-sensitive
            %br
            Are these goals defined by time? Complete by the hour/day/week?
        %p
          SMART goals are a great tool to ensure that you remain focused on what matters in your preparation and that you make real, measurable progress.
        %p
          When planning your study, a good approach is to set up a calendar or journal, and start at the very last date – usually when the next GAMSAT
          %sup ®
          exam is, and work backwards.
          %ol
            %li
              First, put in reminders – ‘Exam Day in 1 week’, ‘1 month’ etc. This can include other major milestones/deadlines.
            %li
              Then schedule set times for study – say Sunday afternoons, one weeknight evening per week etc.
            %li
              Increase the frequency the closer you get to the exams – even up to several hours a day.

        %p
          For further tips on planning your time, check out the suggestions here:
          %a{href: "#BalancingGamsatStudy"}
            %strong
              Balancing GAMSAT
              %sup ®
              and Work
        %p
          For a better idea of how much time you should aim to spend on your preparation, check out the section below:
          %a{href: "#HowLongToStudyGamsat"}
            %strong
              How much should I study for the GAMSAT
              %sup ®
              ?
        %h4.mbot20
          GAMSAT Study Guide
        .carousel_align_center.mtop10
          #gamsatPrepCarousel.carousel.slide{"data-ride" => "carousel"}

            .carousel-inner
              .item.active
                = image_tag URI.encode('https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/1. Study Guide Image.png'), alt: 'GAMSAT Study Schedule'
              .item
                = image_tag URI.encode('https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/2. Study Guide Image.png'), alt: 'GAMSAT Study Schedule'
              .item
                = image_tag URI.encode('https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/3. Study Guide Image.png'), alt: 'GAMSAT Study Schedule'

            / Left and right controls
            %a.left.carousel-control{"data-slide" => "prev", :href => "#gamsatPrepCarousel"}
              %span.glyphicon.glyphicon-chevron-left
              %span.sr-only Previous
            %a.right.carousel-control{"data-slide" => "next", :href => "#gamsatPrepCarousel"}
              %span.glyphicon.glyphicon-chevron-right
              %span.sr-only Next

        %p
          Our
          %a{href:"/gamsat-preparation-courses/free-gamsat-trial",target: :_blank}
            %strong Free Trial
          includes a GAMSAT
          %sup ®
          Study Guide with a week-by-week study schedule for each section to help you plan out your preparation, as well as key excerpts from our 1200+ page Textbook.
        %p
          Sign up to access the study schedule as well as a wealth of other free GAMSAT
          %sup ®
          resources:
          .boxed
            Get Access to:
            %ul{:style => "list-style-type:none;padding: 13px 0px;"}
              %li 50 Free MCQs
              %li Week-By-Week Study Guide
              %li Complete Session 3 Topic List
              %li Recorded Webinars
            .free_gamsat_icon
              = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/free_trial.png', class: "icon30"
            .button_right_section
              %a.free_trial_btn.hvr-shutter-in-horizontal{href: "/gamsat-preparation-courses/free-gamsat-trial", target: :_blank} GAMSAT Free Trial

      .preparation_col.head_aftr_none
        %h3.mtop10.mbot20#organizeGamsatStudy
          Organise your GAMSAT Study
        %p.mtop_zero
          Once you’ve set up a study schedule you can begin to plan the details of your study sessions – this will help you set goals for your study, and help you avoid getting bogged down trying to work out which things to prioritise.
        %p
          The following points are key to follow:
        %ol
          %li Set a start and end time
          %li Determine when breaks are to be had
          %li Write down exactly what you are going to cover in that time
          %li Study in a location that is associated with study, and separate the areas for relaxation and play. For example, studying in bed is a poor idea, as it is associated with sleep.

        %p
          A common erroneous belief is that the longer the time spent studying, the more you will cover. In fact, it is more likely that you will absorb information more effectively in the long-term if you take
          %a{href: "/posts/gamsat-preparation-courses/studying-with-friends-and-pomodoros", target: :_blank}
            %strong
              small breaks every 45 minutes.
          Break up your study and restore your mental energy. A useful time management technique is Pomodoros - You can learn more on our blog
          %a{href: "/posts/gamsat-preparation-courses/studying-with-friends-and-pomodoros", target: :_blank}
            %strong
              here
          = '.'

        %p In addition, get into the habit of studying at the same times each day to establish a good routine. Routine is particularly important in times of high stress such as right before exams. If you have a routine that involves study, eating, and sleeping at the same time each day, it eliminates the stress that comes with uncertainty. It also trains your brain to concentrate better between these times. For example, if you are more of a morning person, get up at 7am and study until mid-afternoon. Alternatively, if you’re a late night studier, assign study time between 3 and 10pm, for example. Ideally, you don’t want to be studying any later than 10pm to allow you a proper night sleep – unless of course you only thrive on late night study!

        %p
          Goals help you stay focused and allow you to monitor your progress, as created through the
          %a{href: "#planStudySchedule"}
            %strong
              SMART template above.
          At the beginning of each day, write a list of all the things you aim to complete in the day. As you sit down in each session (which, as above, should be ~45 mins), write down exactly what you want to achieve in that time (for example, “complete 30 Section 3 MCQs”). The key to making this skill a successful one is being realistic! Don’t try and be ambitious, if you have heaps to do, don’t rush it, just take a bit more time to do it.

      .preparation_col.head_aftr_none
        %h3.mtop10.mbot20#targetGamsatStudy
          Target your GAMSAT Study
        %p.mtop_zero
          You need to know what to actually study, and this can be the hardest part of studying for the GAMSAT
          %sup ®
          exam. It’s important to make sure that you’re familiar with the content and structure of the exam. To learn more, you can read our introductory overview:
          %a{href: "/what-is-gamsat", target: :_blank}
            %strong
              What is the GAMSAT
              %sup ®
              ?
        %p
          Make sure that you’re familiar with each Section of the GAMSAT
          %sup ®
          exam, and work out where your strengths and weaknesses lie. For more information you can refer to the specific guides for each individual section below, which contain section-specific tips as well as a breakdown of the content:
          %ol
            %li
              %a{href: "/gamsat-section-1", target: :_blank}
                GAMSAT
                %sup ®
                Section 1: How to Prepare
            %li
              %a{href: "/gamsat-section-2", target: :_blank}
                GAMSAT
                %sup ®
                Section 2: How to Prepare
            %li
              %a{href: "/gamsat-section-3", target: :_blank}
                GAMSAT
                %sup ®
                Section 3: How to Prepare
        %p
          Download our GAMSAT
          %sup ®
          Study Syllabus for a full list of Section 3 topics as well as tips and advice for Section 1 and 2:
        %p.mbot20
          .full_width.mbot20
            .gamsat_study_syllabus
              .gamsat_study_syllabus_icon{:style => "margin-right: 50px"}
                = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/gamsatstudysyllabus.png', class: "icon40"
              .button_right_section_study_syllabus
                %a.gamsat_study_syllabus.hvr-shutter-in-horizontal{href: "/gamsat-study-syllabus", target: :_blank} GAMSAT STUDY SYLLABUS
        %p
          Our
          %a{href: "/#free_study_guide", target: :_blank}
            %strong
              GAMSAT
              %sup ®
              Study Guide
          also contains a week-by-week study schedule for each individual section to help you plan out your preparation, with schedules for 3 months and 2 month of study. Sign up for the study schedule here:
          %a{href: "/#free_study_guide", target: :_blank}
            %strong
              Free GAMSAT
              %sup ®
              Study Guide

      .preparation_col.head_aftr_none
        %h3.mtop10.mbot20#practiceGamsat
          How to Practice for the GAMSAT
        %p.mtop_zero
          Once you’ve worked out what, when, and how to study, it’s time to begin practicing. Practicing GAMSAT
          %sup ®
          ='-style questions is a vital component of GAMSAT'
          %sup ®
          study, and may be approached following a familiarisation with the test content/areas that are assessed.
        %p
          It’s important to remember that the GAMSAT
          %sup ®
          is an exam that tests your reasoning and problem-solving skills rather than your recall of specific content. As such, it's pointless to try and study for the GAMSAT
          %sup®
          it as if it were a knowledge-based exam (that is, by trying to memorise endless amounts of information to try and regurgitate in the test). In this respect, practice of GAMSAT
          %sup ®
          ='- style'
          questions can often be the most valuable use of your time – it allows you to develop problem-solving skills and familiarises you with the style of questions you’ll face on the day. To learn more, visit our introduction to the GAMSAT
          %sup ®
          = ':'
          %a{href: "/what-is-gamsat#exam_theory", target: :_blank}
            %strong
              What is the GAMSAT
              %sup ®
              ?
        %p
          Vitally, you should acquire as many practice resources as you can – MCQs and Essay Stimuli. Find tests online by googling the topic, or use the materials from
          %a{href: "/gamsat-preparation-courses", target: :_blank}
            %strong
              GAMSAT
              %sup ®
              Preparation Courses.
          It is also highly recommended that you save and use
          %a{href: "https://gamsat.acer.org/prepare/preparation-materials", target: :_blank}
            %strong
              ACER’s Practice Exams
          as the final step of your preparation.
          %p
            The GAMSAT
            %sup ®
            exam requires a lot of mental stamina, and it is recommended that you eventually work up to practising under exam conditions.
            .diffr_country
              %ul.cstm_list_style
                %li.mtop_zero
                  There’s no point in trying to force yourself to stick to the time limits of the GAMSAT
                  %sup ®
                  exam to begin with. It’s more important to develop a strategy and build up your familiarity with the questions and foundational content to begin with.
                %li.mtop_zero As you begin to get comfortable with the style of questions and content, you should start applying time pressure by writing essays under timed conditions, and answering a bulk of MCQs in a similar fashion.
          %p
            As part of our
            %a{href: "/gamsat-preparation-courses", target: :_blank}
              %strong
                GradReady GAMSAT
                %sup ®
                Preparation Courses
            , we focus on this vital first step of guiding you to develop tried and tested MCQ & Exam Strategies and then subsequently build up your stamina through our extensive Online Intelligent MCQ Bank and Practice Exams.

          %p
            However, it is also vitally important that you reflect and assess how you are tracking with the questions and essays.

            .diffr_country
              %ul.cstm_list_style
                %li.mtop_zero Get a friend or family member to mark your essay, and be gracious in accepting feedback! Utilise this feedback, and improve. Furthermore, another tip is to read your essay aloud to ensure that it sounds well-structured and sensical.
                %li.mtop_zero Go over the MCQs you got wrong in detail and work out why this was the case – was it just a simple error or was it something you need to revise again? Look at the questions you got wrong overall – do they point to a particular area of weakness? It can be helpful to make a list of topics you’re struggling with and revisit them when you have the energy to do so.
          %p
            Our
            %a{href: "/gamsat-preparation-courses/attendance-comprehensive#reviews_col_tabbing", target: :_blank}
              %strong
                Online Intelligent MCQ Bank
            is designed to help you with this and analyse your performance with the most advanced technology on the market. Our proprietary online system allows you to track your performance across 43 subcategories of MCQs to help you identify your strengths and weaknesses, whilst also providing you with all the relevant resources (textbook chapters and videos) at the click of a button. Try our industry-leading online LMS for yourself and access 50 Free MCQs with our
            %a{href: "/gamsat-preparation-courses/free-gamsat-trial", target: :_blank}
              %strong
                GAMSAT
                %sup ®
                Free Trial.

      .preparation_col.head_aftr_none
        %h3.mtop10.mbot20#maximiseSpareTime
          Maximise your Spare Time
        %p.mtop_zero
          Got half an hour to spare on the train? Reading is one of the easiest ways to maximise your spare time and study for the GAMSAT
          %sup ®
          exam as you can do it anywhere, anytime.
        %p
          Many students who are from a science-based background may find the humanities sections (1 and 2) particularly difficult, as they focus upon a very broad and thorough grounding in the humanities. Reading poetry, opinion pieces, scientific journals, political analysis, or novels is all extremely helpful. Reading improves vocabulary, increases awareness of socio-economic and political issues, and fosters creativity for essay-based writing. Some good sources for increasing your political awareness and accessing news are listed below.  It’s important to be up-to-date in current affairs for the humanities sections in the GAMSAT
          %sup ®
          , and not to mention the medical interviews.


          %ol
            %li
              The Conversation:
              %a{href: "http://theconversation.com/au", target: :_blank}
                http://theconversation.com/au
            %li
              The Economist:
              %a{href: "http://www.economist.com/", target: :_blank}
                http://www.economist.com/
            %li
              The Ethics Centre:
              %a{href: "http://www.ethics.org.au/home", target: :_blank}
                http://www.ethics.org.au/home

            %li
              The Guardian:
              %a{href: "https://www.theguardian.com/au", target: :_blank}
                https://www.theguardian.com/au
            %li
              The Independent:
              %a{href: "https://www.independent.co.uk/", target: :_blank}
                https://www.independent.co.uk/
            %li
              The Atlantic:
              %a{href: "https://www.theatlantic.com/world/", target: :_blank}
                https://www.theatlantic.com/world/
        %p
          In essence, anything that will broaden your knowledge base can be useful. However, make sure you’re not just skimming over things. Analyse what the author is saying and form opinions on the content. To get more tips on preparing for the humanities sections of the GAMSAT
          %sup ®
          exam, visit the below guides:

          %ol
            %li
              %a{href: "/gamsat-section-1", target: :_blank}
                GAMSAT
                %sup ®
                Section 1: How to Prepare
            %li
              %a{href: "/gamsat-section-2", target: :_blank}
                GAMSAT
                %sup ®
                Section 2: How to Prepare
        %p
          The overall point is to find ways to incorporate study into your daily routine – read the paper with breakfast or read blogs at lunch instead of scrolling through social media. There are a number of apps that can help with your reading, including ones that send you a
          %a{href: "https://www.readpoetry.com/11-poetry-apps-for-the-poet-on-the-go/", target: :_blank}
            %strong poem per day to read.
          Another tip is to follow newspapers, websites and other sources of information on social media. Their posts will pop up in your newsfeed, prompting you to read, even while procrastinating.
        %p
          To help you learn on the go, our newly updated GradReady Online Learning Management System now features a mobile-friendly experience. Because our system is proprietary, we are able to constantly make updates in line with student feedback to ensure that students are getting the best learning experience possible. With our new update, you can now utilise our Intelligent MCQ Bank whenever and wherever your phone goes. You can read our textbook or view our course videos on the go and maximise your spare time.
        %p
          To test out our new online learning system, sign up for our
          %a{href: "/gamsat-preparation-courses/free-gamsat-trial",  target: :_blank}
            %strong free trial
          today.

      .preparation_col.head_aftr_none
        %h2#howHardGamsat
          How Hard is the GAMSAT?
        %p.mtop_zero
          Time pressure is consistently voiced as one of the major difficulties of the GAMSAT
          %sup ®
          exam, which highlights the importance of practicing plenty of tests under exam conditions to enhance time-management skills. The exam runs for approximately 5.25 hours, however in every section, students will generally struggle to complete the allotted questions. Passages and questions are verbose and syntactically complex, and it can take a while to comprehend the questions at a baseline.

        %p
          The GAMSAT
          %sup ®
          exam is not a matter of simple memorisation and regurgitation, unlike many other major exams in high school and university. It tests your ability to apply various concepts from more than one discipline to solve problems. The GAMSAT
          %sup ®
          exam asks candidates to utilise complex thinking and perform problem solving within a very short amount of time.

        %p
          Iit is vastly different from other exams in that it tests logical understanding, reasoning, pattern recognition, and problem solving, which is not common in other types of examinations. This is the biggest factor that makes the GAMSAT
          %sup ®
          exam difficult, coupled with the intense time restrictions. For further insight from our tutors,
          %a{href: "/posts/gamsat-preparation-courses/how-hard-is-the-gamsat", target: :_blank}
            %strong you can read this article here.
      .preparation_col.head_aftr_none
        %h2#needToStudyGamsat
          Do I need to study for the GAMSAT?
        %p.mtop_zero
          According to a review of 50 scientific studies with more than 130,000 participants, the answer is a resounding yes. In fact, preparation for any sort of test works and
          %a{href: "/gamsat-preparation-courses", target: :_blank}
            %strong
              preparation courses
          are especially helpful – there is no reason to believe that the GAMSAT
          %sup ®
          exam would be any exception.

        %p
          Here's an excerpt from an August 2015 Harvard Business Review Article explaining why test preparation works:

        .thought_col
          %p.quotes_para.long_text
            A review of 50 scientific studies with more than 130,000 participants shows that practice boosts performance on pretty much any kind of test, for three reasons. First, it decreases anxiety. As you’d imagine, the more trial runs you’ve had, the more confident and calm you’ll be when taking a high-stakes test, because the various formats and questions, as well as the entire experience, will seem more familiar. You’ll also discover what you don’t know, so you can brush up and feel more prepared. Second, practice makes proven test-taking strategies, such as skipping and revisiting difficult questions, come more naturally when the pressure is on. You’ll learn to ignore irrelevant information and make fewer errors in interpretation. And third, repeated test taking can help you develop the very qualities that employers measure.
            = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/quotes_rht.png'
          %span.authhor
            %a.green{href: "https://hbr.org/2015/07/ace-the-assessment", target: :_blank}
              %strong Harvard Business Review (Ace the Assessment)
        %p
          Applying the above concepts to the GAMSAT
          %sup ®
          exam,here's why
          %a{href: "/gamsat-preparation-courses", target: :_blank}
            %strong
              GradReady GAMSAT
              %sup ®
              Preparation Courses
          work:
          %ol
            %li
              Firstly, you need to be reminded of the concepts tested in the GAMSAT
              %sup ®
              exam. The GAMSAT
              %sup ®
              exam covers a vast breadth of knowledge, from social sciences to essay writing to life and natural sciences. You become very rusty at anything you don’t use on a regular basis; the chances are that you will have at least a few major “rust spots”. GradReady's extensive set of
              %a{href: "/gamsat-preparation-courses/attendance-comprehensive#reviews_col_tabbing", target: :_blank}
                %strong
                  technology enabled resources
              allows you to most efficiently identify which parts you need to brush up on.

            %li
              Secondly, you should familiarise yourself with the test and develop the skills it demands. You may have a good knowledge base, but you also need to develop your reasoning skills and put that knowledge into context.
              %a{href: "/", target: :_blank}
                %strong GradReady's
              large MCQ bank and number of online exams – augmented by our suite of advanced online tools - allow you to be completely familiar with the test and easily work on your weaknesses.

            %li
              Thirdly, you would benefit immensely from the insights of our experienced
              %a{href: "/gamsat-preparation-courses/team", target: :_blank}
                %strong
                GAMSAT
                %sup ®
                exam tutors
              , all of whom scored well at the GAMSAT
              %sup ®
              exam. While there is no substitute for hard work, our experiences have taught us that most students can work smarter – both in terms of how to study and approaching the GAMSAT
              %sup ®
              exam questions.

        %p
          Let's look at this another way: imagine that you are driving to your lodge in a small town during a trip in a new country. Maybe you think that your brain and a map are all you’d need, and that you’d make it to your destination easily. But that's only in theory. In reality, you probably stopped to ask for directions, you were probably confused and distracted by the various foreign road signs and driving norms, and you probably had to turn back a few times due to mistakes. In reality, the drive was a lot more difficult than you thought, and a local person, who is more familiar with the roads will always get to the destination faster and make less wrong turns than you would – even if you’re a renowned rally driver. But it's okay, you weren't in a race; you weren't competing against the local person.

        %p
          Now look at the GAMSAT
          %sup ®
          exam. The GAMSAT
          %sup ®
          exam is the drive. Some people say that all you need are the general skills that you’ve picked up throughout your life – that is your brain and map in our previous scenario. But that's only in theory. In reality, you need guidance, you would benefit from being taught to recognise the various conventions and question types in the GAMSAT
          %sup ®
          exam, and you do not have the time to constantly go back to correct your mistakes. In reality, if you are familiar with both the core concepts and how to approach questions based on those concepts, you will always do better than someone who is not.

        %p
          Our
          %a{href: "/gamsat-preparation-courses", target: :_blank}
            %strong
              GradReady GAMSAT
              %sup ®
              Preparation Courses
          show you what it means to be truly familiar with the GAMSAT® exam, and that's why our students do so well. Check out our statistically significant student results over the last 8 years to learn more:
          %a{href: "/gamsat-preparation-courses/student_testimonials", target: :_blank}
            %strong GradReady Student Results.
      .preparation_col.head_aftr_none
        %h2#whatNeedToStudyGamsat
          What do I need to study for GAMSAT?
        %p
          This is a really big question. The GAMSAT
          %sup ®
          exam exceeds 5 hours of testing time and draws on more content than you have likely ever been tested on in a single occasion before. This is coupled with the fact that the GAMSAT
          %sup ®
          exam is primarily designed to test your reasoning skills and is therefore unlike any of the knowledge recall exams you would have done throughout your tertiary studies. The first thing to do when studying for the GAMSAT
          %sup ®
          is to make sure you have an understanding of each section so that you can begin to understand what each section is designed to test you on. This can be found in our comprehensive guides for each section:
          %ul.sub_listing
            %li
              %a{href: 'https://gradready.com.au/gamsat-section-1', target: :_blank}
                GAMSAT
                %sup ®
                Section 1: How To Prepare
            %li
              %a{href: 'https://gradready.com.au/gamsat-section-2', target: :_blank}
                GAMSAT
                %sup ®
                Section 2: How To Prepare
            %li
              %a{href: 'https://gradready.com.au/gamsat-section-3', target: :_blank}
                GAMSAT
                %sup ®
                Section 3: How To Prepare
        %p
          Now that you know what each of the sections entail, it is essential to have a compact and concise study syllabus that reminds you of all the areas you need to prepare for and allows you to organise your study in an efficient way. At GradReady, we have tried to do this for you in the best way we know how - by creating our own
          %a{href: 'https://gradready.com.au/gamsat-study-syllabus', target: :_blank}
            %strong
              GAMSAT
              %sup ®
              Study Syllabus.
          Our syllabus is a brief overview of the exam and how to best approach it by summarising the recommended content for each section and providing expert study tips along the way. You can choose to use it to kickstart your study, or as a way to check off topics as you go. You can
          %a{href: 'https://gradready.com.au/gamsat-study-syllabus', target: :_blank}
            %strong access it for free here.
          %h3
            Is Undergraduate Science useful for the GAMSAT?
          %p
            The short answer is yes. However, the long answer is much more complex. Having a background in the sciences will undoubtedly be useful for
            %a{href: 'https://gradready.com.au/gamsat-section-3', target: :_blank}
              %strong
                Section 3 of the GAMSAT
                %sup ®
                exam
            = '- however it should be stressed that you do not need to have done an undergraduate degree in the sciences to do well in this Section. As mentioned previously, the GAMSAT'
            %sup ®
            exam is not designed to test your ability to recall pieces of information; rather all the information needed to answer the question is provided to you. It is up to you to use an appropriate set of skills which are deemed conducive to pursuing a degree in the medical field. In many ways, this has levelled the field for students with non-science backgrounds. In addition, it’s worth noting that most medical schools have removed prerequisites for graduate-entry medicine: All sorts of undergraduate degrees and backgrounds are welcome with the goal of creating a more diverse medical workforce. The exception amongst Australian graduate-entry medical schools is the University of Queensland - For further details read our guide to the
            %a{href: 'https://gradready.com.au/medical-school-entry-requirements', target: :_blank}
              %strong Medical Admissions Process.
          %p
            That being said, a familiarity with basic science fundamentals and an understanding of the scientific method will help you engage with the content and ideas presented to you in Section 3, it will also help you make reasonable scientific judgements. This is akin to solving a puzzle with some pieces already put together for you and an idea of the final image, rather than starting a puzzle from scratch with no idea what the image will be.
          %p
            For students from pure science backgrounds, while it is true that you may already have a firm grasp of the basic fundamentals needed for Section 3, this is no guarantee you will do well. In many ways, your scientific knowledge is double-edged: While it may give you a tremendous grasp of the scientific content presented to you, this knowledge can simultaneously hinder your  ability to assess the questions and exam in an unbiased fashion. There will be an tendency or instinct to answer every question in a manner similar to your approach in previous science exams and a self-expectation that this will be your “bread and butter” section. You will find however that while the questions may seem familiar at face value, you will be forced to use the information provided to you.
          %p
            Overall, the message for students is to treat Section 3 of the GAMSAT
            %sup ®
            exam as its own separate entity. Do not be disheartened if you have not done much science nor be too dismissive if you have done lots of science, it is essential that students become familiar with the style and approaches required for this section.
      .preparation_col.head_aftr_none
        %h2#ways_to_improve
          The Best Ways to Improve on the GAMSAT
        %p
          The GAMSAT
          %sup ®
          is an extremely daunting, challenging, and unfortunately necessary part of graduate-entry medicine. It’s an exam that students will typically sit more than once - Therefore, how can you go about ensuring that you can improve between sittings?
        %h3
          GAMSAT Background Knowledge
        %p
          It is common knowledge that there are some standards of assumed background knowledge for Section 3 of the GAMSAT
          %sup ®
          exam. ACER advises that the level of knowledge required for this section corresponds to the first year tertiary levels of
          %a{href: 'https://gradready.com.au/gamsat-biology', target: :_blank}
            %strong biology
          and
          %a{href: 'https://gradready.com.au/gamsat-chemistry', target: :_blank}
            %strong chemistry
          , along with a year 12 level of
          %a{href: 'https://gradready.com.au/gamsat-physics', target: :_blank}
            %strong physics -
          A list of topics with assumed knowledge can be found in our
          %a{href: 'https://gradready.com.au/gamsat-study-syllabus', target: :_blank}
            free study syllabus
          or on our
          %a{href: 'https://gradready.com.au/gamsat-section-3', target: :_blank}
            %strong
              GAMSAT
              %sup ®
              Section 3 page.
          Whilst the GAMSAT
          %sup ®
          exam has definitely moved away from direct rote learning of the sciences and towards problem-solving, it is important to understand that a baseline comprehension of the sciences is necessary to give yourself the chance to break down and interpret the questions quickly.
        %p
          When it comes to sections 1 and 2, many students believe that there are no expectations of background or prerequisite knowledge. Whilst this is technically true, both of these sections require a significant appreciation of global and social issues if students wish to excel in them. More specifically,
          %a{href: 'https://gradready.com.au/gamsat-section-1', target: :_blank}
            %strong
              GAMSAT
              %sup ®
              Section 1
          requires the understanding of a range of text types, including interpretation of cartoons, analysis of poetry, comprehension of extended passages from famous works of literature, and questions relating to political understanding. Students should become familiar with all of the above text types and more, and might find it useful to begin reading up on important social science issues through newspapers, phone apps or social media. When it comes to
          %a{href: 'https://gradready.com.au/gamsat-section-2', target: :_blank}
            %strong
              GAMSAT
              %sup ®
              Section 2
          , students will again be tested on social and cultural issues, but this time through the medium of personal writing. Again, students must be very well-read and well-informed on global issues, and must have an evolved and captivating writing style. ACER specifically states that responses that have been pre-prepared and do not relate to the provided themes will not score well. This only highlights the importance of having a broad range of knowledge on socio-cultural issues so that you are able to adapt and think on the spot to develop an engaging and thought-provoking piece of writing.
        %h3
          GAMSAT Problem Solving Skills
        %p
          As previously explained, in recent years the
          %a{href: 'https://gradready.com.au/what-is-gamsat', target: :_blank}
            %strong
              GAMSAT
              %sup ®
              exam
          has moved away from testing direct science recall and towards general skills in problem solving, logical reasoning and critical thinking. Whilst the multiple choice style of questioning remains the same, the questions themselves have transformed to include long passages, graphical and tabulated displays of information, and mathematical relationships. 

        %p
          For
          %a{href: 'https://gradready.com.au/gamsat-section-1', target: :_blank}
            %strong Section 1
          , students are expected to unpack and interpret socio-cultural and interpersonal concepts through a range of text types and stimuli. Here’s an excerpt from the
          %a{href: 'https://gamsat.acer.org/files/GAMSAT_Info_booklet_2022.pdf', target: :_blank}
            %strong
              ACER GAMSAT
              %sup ®
              information booklet 2022
          describing the main types of questions found in Section 1:
        .thought_col
          %span.quotes_para
            Questions in the Reasoning in Humanities and Social Sciences section demand varying degrees of complex verbal processing and conceptual thinking, logical and plausible reasoning, and objective and subjective thinking. 
            %ul.sub_listing{style: 'float: none;'}
              %li
                Questions that emphasise understanding involve the recognition of explicit and implicit meanings through close reading of words and phrases and global interpretations of text.
              %li
                Questions that emphasise plausible reasoning involve interrelating, elaborating and extending concepts and ideas, and drawing conclusions. 
              %li
                Questions that emphasise critical thinking require candidates to make discriminations and judgments in the realm of plausible reasoning.
            %span.authhor{style: 'text-align: right;font-size: 18px;display: inline-block;width: 100%;'}
              %a{href: 'https://gamsat.acer.org/files/GAMSAT_Info_booklet_2022.pdf', target: :_blank}
                ACER GAMSAT
                %sup ®
                Information Booklet

        %p
          For
          %a{href: 'https://gradready.com.au/gamsat-section-2', target: :_blank}
            %strong Section 2
          , there is not as much emphasis on problem solving per say, but assessment of the standard of writing is made based on the student’s quality of argument and thought as well as their control of language to articulate their ideas and opinions.
        %p
          %a{href: 'https://gradready.com.au/gamsat-section-3', target: :_blank}
            %strong Section 3
          is typically the most challenging component of the exam in regards to problem-solving. Students must have well-developed skills in data interpretation, logical reasoning and critical analysis. For example, students may receive a passage of information about an unknown scientific domain that is accompanied by a graph or table. Questions for this unit may then revolve around interpreting the data within the graph or table, discovering relationships between text and data, extrapolating or interpolating evidence, formulating hypotheses and deducing consequences. Students will not be expected to have any pre-existing knowledge of the science that underpins the unit, rather they should be able to work with the information on the page to deduce the answer. These skills can predominantly be expanded on with repeated long-term practice of multiple choice questions, giving students the chance to also see patterns and strategies emerge.
        %h3
          Dedicate time to all sections
        %p
          Another common error students make is to only focus on 1 or 2 sections and hope that this will outweigh any deficits in the other section(s). It is highly recommended that you dedicate time to work on
          %b all sections
          of the GAMSAT
          %sup ®
          exam, not just one or two sections. While the overall GAMSAT
          %sup ®
          score is
          %a{href: 'https://gradready.com.au/gamsat-scores', target: :_blank}
            %strong calculated with Section 3 doubly weighted
          , some universities use an average GAMSAT
          %sup ®
          score in which each section is weighted equally (placing an importance on all sections), and the
          %a{href: 'https://gradready.com.au/medical-school-entry-requirements', target: :_blank}
            %strong University of Sydney ranks students by each section separately.
          Therefore, to maximise your chances of success, you should work on every section of the exam which would give you both a strong average score and overall score.
        %p
          Furthermore, many universities require a score of 50 in each section as a minimum to even be eligible for interview selection. You would not want to place yourself in a situation where you do amazingly well in 2 sections only to score under 50 in one section, rendering you ineligible. As you’re unable to mix and match scores across different sittings, your high performance in the other sections would be invalidated.
        %p
          There are nuances to each section and it is remarkably important that you have a good grasp of what each section will look like and what is expected of you. A good example of this is
          %a{href: 'https://gradready.com.au/gamsat-section-2', target: :_blank}
            %strong Section 2
          = '- Many students expect that just because they were good essay writers in high school means that they will ace Section 2 with no troubles, and so do not take the time to learn about the nuances of the section such as what common themes include, testing different essay styles, or how long to spend on each essay so you don’t run out of time. Another example is not being well-read on a range of global and social topics, or not staying up to date with current affairs. If you think about it, the GAMSAT'
          %sup ®
          exam tries to draw out a whole range of skills and traits that we aim to cultivate in future doctors, and being well-rounded and well-informed is invariably important.
      .preparation_col.head_aftr_none
        %h2#HowLongToStudyGamsat
          How long does it take to study for the GAMSAT?
        %p.mtop_zero
          Students often ask how much time they should spend studying for the GAMSAT
          %sup ®
          exam but the quantitative ‘amount’ of study that any candidate should do is a complex question, and not accurately answered – various candidate-specific factors obviously influence the amount of revision that is required to firstly understand the basic concepts in the GAMSAT
          %sup ®
          exam.
        %p
          However, in a practical sense, in trying to determine how much time you need to prepare for the GAMSAT
          %sup ®
          exam, it is much more important that you study up to a point where you are able to answer GAMSAT
          %sup ®
          ='-'
          style questions quickly and accurately. This means you should aim to do a few practice tests (at least). It’s recommended that you start your GAMSAT
          %sup ®
          prep early in order to give you time to identify your weaknesses. This subsequently means that you’ll have a considerable amount of time to improve them, which is important especially if you are a cautious candidate or a candidate from a non-science background. To learn more on preparing for the GAMSAT
          %sup ®
          exam with a non-science background, visit our blog here:
          %a{href: "/posts/gamsat-preparation-courses/preparing-for-the-gamsat-with-a-non-science-background", target: :_blank}
            %strong
              GAMSAT
              %sup®
              Preparation for Non-Science Backgrounds
        %p
          Nevertheless, the GAMSAT
          %sup ®
          exam is a diverse test, and even biomedical undergraduate and science undergraduate students should start studying early, as even they may require tutelage and direction in certain areas – especially the humanities, which is a general weak point for students with such a background.

        .thought_col
          %p.quotes_para
            %i
              Remember: even starting with one or two hours a week early on can make a huge difference to your preparation later down the line as the exam draws nearer.
            = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/quotes_rht.png'

        %p
          Overall, we recommend that you start 6 months prior to sitting the GAMSAT
          %sup ®
          exam, i.e. in September if you are sitting the March GAMSAT
          %sup ®
          exam. The reasoning is that you don’t know what you'll need to work on until you seriously start to plan your preparation for the GAMSAT
          %sup ®
          exam. 6 months should be enough time for you to work on your weaknesses without suffering from preparation fatigue. Remember: even starting with one or two hours a week early on can make a huge difference to your preparation later down the line as the exam draws nearer.
        %p
          For tips on how you can start studying for the GAMSAT
          %sup ®
          exam, read the section above:
          %a{href: "#how_study_gamsat"}
            %strong
              How to Study for the GAMSAT
              %sup ®
      .preparation_col.head_aftr_none
        %h2#last_min_prep
          Last Minute GAMSAT Preparation
        %p
          So you’ve made more of a last minute decision to sit the
          %a{href: 'https://gradready.com.au/gamsat-2022', target: :_blank}
            %strong
              GAMSAT
              %sup ®
              exam
          or you didn’t realise how much preparation was necessary? That’s ok, not everyone has the luxury of months and months to prepare. If you find yourself with only a couple of weeks to prepare, there are some strategies and techniques to streamline your preparation and make sure you’re only studying the most high-yield content.
        %p
          Firstly, let’s reinforce the idea that the GAMSAT® exam is moving away from memorising specific scientific content and towards logical reasoning and scientific interpretation skills. This means that spending your limited time in the textbooks will not prove to be very helpful at all. Instead, it is most important to complete practice MCQs to pick up on patterns and general problem solving skills. Work on your MCQ strategy, and as a bonus, learn the science along the way with each answer. Try our industry-leading online LMS for yourself and access 50 Free MCQs with our
          %a{href: 'https://gradready.com.au/gamsat-preparation-courses/free-gamsat-trial', target: :_blank}
            %strong
              GAMSAT
              %sup ®
              Free Trial.
        %p
          Once you’ve done a couple of papers, try to pick up on your areas of weakness - whether this be a particular branch of science, or maybe even components of section 1 and 2. Once you’ve found your weakness, focus a big chunk of the remainder of your time on working on this. While it may feel like the less daunting avenue, there’s not a huge amount of usefulness in continuously repeating and relearning topics that you are already familiar and comfortable with. You may find that you may need to quickly step into the textbooks and learn a bit of theory before jumping back into the practice questions of your weak area. Alternatively, you may find that you need to seek out more exemplar essays before focusing on writing essays and getting your friends and family to read and critique them. Maybe you thought that section 1 was all about reading and comprehension, and have now realised that you want to read up and become better versed in different text styles. Whatever it is, you should now turn your focus here.
        %p
          As mentioned above, students - particularly science students - often neglect sections 1 and 2 of the GAMSAT
          %sup ®
          exam. Whilst there is some logic in this - section 3 is often double-weighted after all - many students find that not performing as well in sections 1 and 2 are what let their overall mark down. On top of this, most universities require you to score a minimum of 50 in each section, regardless of your overall score. Even if you have a limited time to study, make sure that you do not neglect any section. In a limited time frame, this may mean reading through
          %a{href: 'https://gradready.com.au/gamsat-example-essay', target: :_blank}
            %strong exemplar essays
          , downloading newspaper apps on your phone to read in your spare time, or as always, completing
          %a{href: 'https://gradready.com.au/gamsat-section-1', target: :_blank}
            %strong practice MCQs for section 1.
      .preparation_col.head_aftr_none
        %h2#Digital2020Onwards
          Going Digital from 2020 onwards
        %p.mtop_zero
          From 2020 onwards, the GAMSAT will be delivered using a digital format rather than the traditional paper format. As such, there will be some changes you should consider in how you prepare for an online exam, for example:
          .diffr_country
            %ul.cstm_list_style
              %li.mtop_zero
                Familiarise yourself and become proficient using a mouse and keyboard
              %li.mtop_zero
                Preparation strategies should utilise digital methods where possible e.g. reading graphs and textual information from a computer rather than from a physical booklet
              %li.mtop_zero
                Work on typing speed and accuracy for Section 2
              %li.mtop_zero
                Only doing rough working on scrap paper – no annotations
              %li.mtop_zero
                Familiarise yourself with the layout of the exam by using the Online Platform Demo supplied by ACER

        %h3.mtop10.mbot20 GAMSAT Online Format Practice
        %p
          At GradReady, our focus on delivering industry-leading online learning systems allows you to study smarter, not harder for the new digital format. Our Intelligent GAMSAT
          %sup ®
          MCQ Bank utilises cutting edge web education technology in performance tracking and topic targeting, allowing you to track your progression across 43 subtopics. In addition, you are able to set the difficulty of the questions, allowing you to tailor the MCQs to your own ability. Fully Worked Solutions are provided for all MCQs.
        %p
          We are the only GAMSAT
          %sup ®
          Preparation Provider with our own proprietary online system - Unlike other providers who simply purchase a 3rd Party System, we’ve gone to the trouble of creating our online system to allow you to track your performance, quickly identifying your weaknesses and pointing you to the most relevant materials and even tutor assistance. As a proprietary system, we are also able to make updates in line with student feedback to ensure that students are getting the best learning experience possible.

      .preparation_col.head_aftr_none
        %h2#BalancingGamsatStudy
          Balancing GAMSAT Study and Work
        %p.mtop_zero
          The thought of having to work full-time while studying for the GAMSAT
          %sup ®
          exam can be enough to deter the best of us making a start on our preparation. However, although you might not have as much time, if you’re organised and motivated, there’s nothing stopping you from excelling in the GAMSAT
          %sup ®
          exam. The secret is in the planning: check out the section above on
          %a{href: "#planStudySchedule"}
            %strong
              Planning out your GAMSAT
              %sup ®
              Study.
        %p
          Here are some extra tips for those of you currently in this situation:
          %ol
            %li Figure out your non-negotiable commitments and then plan around them.
            %li Be prepared to sacrifice your weekends and some social engagements.
            %li Start big: set up a monthly planner and populate with landmarks (eg. source materials for base knowledge/revision, mastering MCQs, attending prep courses, completing practise exams).
            %li Then think small: get into a weekly routine that takes all of your activities into account.  Set aside a day for timed essay writing and use weeknights for revision and MCQ blocks. Divide your time according to your strengths and weaknesses.
            %li Plan your approach for each subject area and work it into the study plan you’ve developed.
            %li Mix it up - Don’t just study one subject area or you’ll start to lose focus and concentration.
            %li
              Be realistic - remember to
              %a{href: "#planStudySchedule"}
                %strong
                  keep your goals SMART.
            %li Track progress through your understanding of concepts, time management, weighting of scores (e.g. proportion of correct answers by subject area), rather than just raw scores.  Most practise tests will vary in difficulty, so don’t get too bogged down in your actual marks.
            %li Accept that you will have strengths and weaknesses.  Try to prevent your weaknesses from being your Achilles heel, but don’t be disheartened if you never quite master physics.
            %li
              Arrange leave – if you can, get some leave approved for the week or two before the GAMSAT
              %sup ®
              Exam.  You’re under no obligation to tell your employer what you’re doing, but having that time for dedicated GAMSAT
              %sup ®
              exam study without work distractions can be a lifesaver.
        %p
          One of the most important areas in preparing for the GAMSAT
          %sup ®
          exam that students often forget is the art of looking after oneself. It can often feel overwhelming but it’s important that you practice self-care physically, emotionally, and mentally.
        %p
          We can all lose our connections to the exterior world – we become insular, focused on the infinitesimally-minute details. It’s important we don’t become so myopic that our vision for the future blurs; it’s important to maintain a view of the larger portrait before us.
        %p
          How do you do it? Maintain your connections through text message and face-to-face contact with friends and family. Set aside the time to spend valuable and meaningful time with those people who form important support structures in your lives.
        %p
          Moreover, part of effective study for GAMSAT
          %sup ®
          exam is safeguarding against burnout and loss of interest. Ensure you’re well connected to those who are willing to support you through the emotionally-distressing times and haul you out of depressive shadows or anxious whirlpools. If you find yourself caught in a dark place, secondary to GAMSAT
          %sup ®
          exam study or a mixture of life’s throngs, empower yourself with the courage to seek help and speak with a guidance counsellor, your family doctor, or a trustworthy individual who can empathise with your situation and provide some way out.
        %p
          At the end of the day, we’ve all got different priorities and commitments, so you need to figure out what works for you.  But by planning ahead and being prepared for a hectic few months, you can at least tackle everything head on.
      .preparation_col.head_aftr_none
        %h2#retakingGamsat
          Retaking the GAMSAT Exam
        %p.mtop_zero
          The competitive nature of the admissions process and the
          %a{href: "/gamsat-scores", target: :_blank}
            %strong
              incredible cut-off scores
          seen for contemporary applications means that a re-sit and hopefully a corresponding score boost is often necessary to improve a student’s chances in the subsequent year. It is extremely difficult to rebound back into the GAMSAT again, as it is such a draining affair – especially as most people are taking holidays and relaxing over the holiday break! However, students should be comforted in the fact that they know what to expect, they have a better feel for what’s high-yield study, and they feel the pressure to motivate further revision.
        %p
          It is best to go back to basics
          %a{href: "/posts/gamsat-preparation-courses/how-to-improve-your-gamsat-score", target: :_blank}
            %strong when you are looking to re-sit the GAMSAT,
          and this means goal-setting with the
          %a{href: "#planStudySchedule"}
            %strong
              SMART template.
          You should think about all the things you want to cover for each section and write it down.  Then, order and prioritise these study items, set their achievement within a goal-based framework, and then start planning.  You should then ensure that you make a note of when to commence addressing GAMSAT
          %sup ®
          Exam-style questions and when to do the official ACER practice exams.
        %p
          For those who have experienced a GAMSAT
          %sup ®
          exam before, you have already gone through the arduous motions, and know exactly what to expect – though this shouldn’t be a cause of comfort and induce a slackening off. You know exactly what you need to do and what to improve on, so there are no excuses. Strong self-care, planning, and effective goal setting are crucial. You have a major advantage in being there before.
        %p
          You can get further insights from our tutors
          %a{href: "/posts/gamsat-preparation-courses/preparing-to-sit-the-gamsat-again", target: :_blank}
            %strong in this blog article here.
      .preparation_col.head_aftr_none
        %h2#furtherGamsatTips
          Further GAMSAT Study Tips
        %p.mtop_zero
          If you’re looking for further tips on how to prepare for the GAMSAT
          %sup ®
          , visit
          %a{href: "/blog/gamsat-preparation-courses", target: :_blank}
            %strong our blog
          for regular articles and insight on sitting the GAMSAT
          %sup ®
          and the medical journey in general. The below are some hand-picked articles that you might find helpful:

        .diffr_country
          %ul.cstm_list_style
            %li.mtop_zero
              %h5
                %a{href: "/posts/gamsat-preparation-courses/surviving-the-one-exam-to-rule-them-all-my-top-five-study-tips", target: :_blank}
                  Surviving the One Exam to Rule Them All – My Top Five Study Tips
            %li.mtop_zero
              %h5
                %a{href: "/posts/gamsat-preparation-courses/10-study-habits-that-work", target: :_blank}
                  10 GAMSAT
                  %sup ®
                  Study Habits That Work
            %li.mtop_zero
              %h5
                %a{href: "/posts/gamsat-preparation-courses/common-pitfalls-that-students-make-in-the-gamsat", target: :_blank}
                  Common Pitfalls that Students Make in the GAMSAT
                  %sup ®
            %li.mtop_zero
              %h5
                %a{href: "/posts/gamsat-preparation-courses/preparing-for-the-gamsat-with-a-non-science-background", target: :_blank}
                  Preparing for the GAMSAT
                  %sup ®
                  with a non-science background
            %li.mtop_zero
              %h5
                %a{href: "/posts/gamsat-preparation-courses/how-to-revise-for-the-gamsat", target: :_blank}
                  How to revise for the GAMSAT
                  %sup ®
            %li.mtop_zero
              %h5
                %a{href: "https://gradready.com.au/posts/gamsat-preparation-courses/managing-time-in-the-gamsat-exam", target: :_blank}
                  Managing Time in the GAMSAT
                  %sup ®
                  Exam
            %li.mtop_zero
              %h5
                %a{href: "/posts/gamsat-preparation-courses/life-hacks-organising-a-study-group", target: :_blank}
                  Organising a GAMSAT
                  %sup ®
                  Study Group
            %li.mtop_zero
              %h5
                %a{href: "/posts/gamsat-preparation-courses/management-strategies-for-balancing-gamsat-study-with-university-work-other-life-commitments", target: :_blank}
                  Management Strategies for Balancing GAMSAT
                  %sup ®
                  Study with University, Work & Other Life Commitments
            %li.mtop_zero
              %h5
                %a{href: "/posts/gamsat-preparation-courses/studying-with-friends-and-pomodoros", target: :_blank}
                  Studying with Friends and Pomodoros
            %li.mtop_zero
              %h5
                %a{href: "/posts/gamsat-preparation-courses/not-another-year-of-procrastination", target: :_blank}
                  How to Avoid Procrastination

      .preparation_col.head_aftr_none
        %h2#FutherPreparation
          Further Preparation Materials
        %p.mtop_zero
          %ol.ordr_list
            %li
              %h5
                %a{href: "/what-is-gamsat", target: :_blank}
                  What is the GAMSAT
                  %sup ®
                  ?
              %p.mtop_zero
                Everything you need to know about the GAMSAT
                %sup ®
                exam, from structure and overview to which universities require the GAMSAT
                %sup ®
                = '.'

            %li
              %h5
                %a{href: "/gamsat-scores", target: :_blank}
                  Understanding your GAMSAT
                  %sup ®
                  Results
              %p.mtop_zero
                Covers everything you need to know about your GAMSAT
                %sup ®
                Results – How the scoring works, result release dates and even GAMSAT
                %sup ®
                score cutoffs.

            %li
              %h5
                %a{href: "/gamsat-section-1", target: :_blank}
                  How to prepare for GAMSAT
                  %sup ®
                  Section 1
              %p.mtop_zero
                An overview of what to expect in Section 1 of the GAMSAT
                %sup ®
                exam and how to prepare.
            %li
              %h5
                %a{href: "/gamsat-section-2", target: :_blank}
                  How to prepare for GAMSAT
                  %sup ®
                  Section 2
              %p.mtop_zero
                An overview of what to expect in Section 2 of the GAMSAT
                %sup ®
                exam, how to prepare, and how to perfect your essay technique.
            %li
              %h5
                %a{href: "/gamsat-section-3", target: :_blank}
                  How to prepare for GAMSAT
                  %sup ®
                  Section 3
              %p.mtop_zero
                An overview of what to expect in Section 3 of the GAMSAT
                %sup ®
                exam and how to prepare for each of the topics – Biology, Chemistry, & Physics.
            %li
              %h5
                %a{href: "/gamsat-biology", target: :_blank}
                  How to prepare for GAMSAT
                  %sup ®
                  Biology
              %p.mtop_zero
                Get even further details and specific tips for the Biology component of Section 3 of the GAMSAT
                %sup ®
                Exam
            %li
              %h5
                %a{href: "/gamsat-chemistry", target: :_blank}
                  How to prepare for GAMSAT
                  %sup ®
                  Chemistry
              %p.mtop_zero
                Further advice and information specific to GAMSAT
                %sup ®
                Section 3 Chemistry - Get a detailed breakdown of various topics.
            %li
              %h5
                %a{href: "/gamsat-physics", target: :_blank}
                  How to prepare for GAMSAT
                  %sup ®
                  Physics
              %p.mtop_zero
                Not sure about the value of preparing for GAMSAT
                %sup ®
                Physics? Think again - The Physics component of Section 3 can be a key separator of student performance, get further details on how to prepare.
            .boxed
              Get Access to:
              %ul{:style => "list-style-type:none;padding: 16px 0px;line-height: 0.9;"}
                %li 50 Free MCQs
                %li Week-By-Week Study Guide
                %li Complete Session 3 Topic List
                %li Recorded Webinars
              .free_gamsat_icon
                = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/free_trial.png', class: "icon30"
              .button_right_section
                %a.free_trial_btn.hvr-shutter-in-horizontal{href: "/gamsat-preparation-courses/free-gamsat-trial", target: :_blank} GAMSAT Free Trial
            %br
      .preparation_col.head_aftr_none
        %h2.mtop10.mbot20
          GradReady GAMSAT Preparation Courses
        .tbl_responsive.fl_none
          %table.table.cstm_tbl.table-bordered.table-condensed.custom_table_data
            %thead
              %tr
                %th
                  Course
                %th.text-center
                  Key Features
                %th.text-center
                  Description
            %tbody
              %tr
                %td.gray_background{colspan: 3}
                  GradReady GAMSAT
                  %sup ®
                  Online Courses
              %tr.text-center
                %td
                  %a.green.fnt14{href: "/gamsat-preparation-courses/online-essentials", target: :_blank}
                    %strong Online (Essentials)
                %td
                  4000+ Intelligent MCQ Bank
                  %br
                  1200+ page Textbook
                  %br
                  8 Online Practice Exams
                %td
                  Designed for students who are unable to make our attendance classes, this course gives you the essentials to succeed.
              %tr.text-center
                %td
                  %a.green.fnt14{href: "/gamsat-preparation-courses/online-comprehensive", target: :_blank}
                    %strong Online (Comprehensive)
                %td
                  10 Marked Essays with Personal Feedback
                  %br
                  GetClarity: Tutor Assistance when you need it on whatever you need it on
                %td
                  All the features of our Online (Essentials) Course plus Marked Essays and on-demand Tutor Assistance with our GetClarity system

              %tr
                %td.gray_background{colspan: 3}
                  GradReady GAMSAT
                  %sup ®
                  Attendance Courses
              %tr.text-center
                %td
                  %a.green.fnt14{href: "/gamsat-preparation-courses/attendance-essentials", target: :_blank}
                    %strong Attendance (Essentials)
                %td
                  15 Day Course - 75+ hour of Learning
                  %br
                  Interactive Classes capped at 21 students
                  %br
                  Mock Exam and Subsequent Review
                %td
                  Includes all the Online Resources included in our Online (Essentials) Course.
              %tr.text-center
                %td
                  %a.green.fnt14{href: "/gamsat-preparation-courses/attendance-comprehensive", target: :_blank}
                    %strong Attendance (Comprehensive)
                %td
                  15 Day Course - 75+ hour of Learning
                  %br
                  10 Marked Essays with Personal Feedback
                  %br
                  GetClarity: Tutor Assistance when you need it on whatever you need it on
                %td
                  Our most popular course: Includes all the live classes and Mock Exam as well as access to our Online (Comprehensive) resources
              %tr.text-center
                %td
                  %a.green.fnt14{href: "/gamsat-preparation-courses/attendance-complete-care", target: :_blank}
                    %strong Attendance (Complete Care)
                %td
                  15 Day Course - 75+ hour of Learning
                  %br
                  7 x 1 hour Private Tuition sessions
                %td
                  Everything you need to succeed - Includes private tutoring sessions in addition to the Attendance (Comprehensive) Package
        %p
          To learn more about our GAMSAT
          %sup ®
          Preparation courses and compare their different components, view an in depth comparison here:
          %a{href: "/gamsat-preparation-courses#gamsat_course_table", target: :_blank}
            %strong
              GradReady Course Comparison
        %p
          If you’re not sure which course is best for you, try our
          %a.open_recommender{"data-target" => "#course_recommeder_modal", "data-toggle" => "modal", :href => "javascript:void(0)"}
            %strong
              Course Recommender.
        %p
          If you’re after a single feature, such as our Textbook, or access to our 4000+ Intelligent MCQ Bank, or if you want to customise your preparation, you can do so here:
          %a{href: "/gamsat-preparation-courses/custom", target: :_blank}
            %strong
              GradReady GAMSAT
              %sup ®
              Custom Course.

        %p.mtop_zero
          At GradReady, we pride ourselves on providing students with the
          %strong Best Results
          at the
          %strong Best Value:

        .diffr_country
          %ul.cstm_list_style
            %li.mtop_zero
              Our team is consistently reinvesting in our internal operational technology to ensure that we're constantly improving our efficiency and productivity. The end result for our students is that we stand head and shoulders above our competition in the comprehensiveness of the tools we offer and the effectiveness of our teachings –
              %a.green{href: "/gamsat-preparation-courses#comparison_table", target: :_blank}
                %strong> all at the best value
                \.
            %li.mtop_zero
              We believe in a data-driven approach: using student performance data to fine tune our practice questions, study content and teaching styles has allowed us to achieve
              %a.green{href: "/gamsat-preparation-courses/student_testimonials#2017_perform", target: :_blank}
                %strong unparalleled results
              for our students.
            %li.mtop_zero
              We are the only provider with Statistically Significant Proven Results – our students achieved an average improvement of
              %a.green{href: "/gamsat-preparation-courses/student_testimonials", target: :_blank}
                %strong 20+ Percentile Points, 8 years in a row.
            %li.mtop_zero
              We achieve these results through our interactive teaching style and adaptive online learning technologies. Our classes are capped at 21 students, and taught by a specialist tutor for each subject, tutors who are themselves Medical Students who have sat the GAMSAT
              %sup ®
              \.
            %li.mtop_zero Our online systems make learning into a science and we are the only provider with a proprietary online system that uses algorithmic-assisted, targeted learning. Unlike other providers who purchase a 3rd Party System, the targeted system that we've developed tracks your performance, quickly identifying your weaknesses and pointing you to the most relevant materials and even tutor assistance.
        %p.mtop20.flt_left
          To learn more about our courses and compare us to the competition, visit:
          %a.green{href: "/gamsat-preparation-courses", target: :_blank}
            %strong
              GradReady GAMSAT
              %sup ®
              Preparation Courses

#recommender_div
  #course-recommender
    = javascript_include_tag 'course-recommender'

:css
  .thought_col>span{
    display: block;
    padding-left: 37px;
    position: relative;
    font-size: 16px;
    line-height: 34px;
    background: #efefef;
    padding: 20px 50px;
    border-radius: 10px;
  }
  .thought_col span.quotes_para.long_text {
    font-size: 14px;
    line-height: 25px;
  }
  .thought_col>span.quotes_para:before {
    content: "";
    background-image: image-url("https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/quotes.png");
    background-repeat: no-repeat;
    width: 44px;
    height: 34px;
    position: absolute;
    left: 15px;
  }
  .thought_col > span.quotes_para.no_name:after{ display:none }

  .thought_col>span.quotes_para:after{
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    content: "";
    position: absolute;
    border-right: 15px solid transparent;
    border-top: 20px solid #efefef;
    right: 30px;
    bottom: -16px;
  }
  .thought_col>span.quotes_para img {
    margin-left: 10px;
  }

:javascript
  $(".open_recommender").click(function(){
    $("#course-recommender .cr").addClass("cr--on")
  });
  // Select all links with hashes
  $('a[href*="#"]')
  // Remove links that don't actually link to anything
  .not('[href="#"]')
  .not('[href="#0"]')
  .click(function(event) {
    // On-page links
    if (
      location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
      &&
      location.hostname == this.hostname
    ) {
      // Figure out element to scroll to
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      // Does a scroll target exist?
      if (target.length) {
        // Only prevent default if animation is actually gonna happen
        event.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top-74
        }, 1000, function() {
          // Callback after animation
          // Must change focus!

        });
      }
    }
  });
