- title "GAMSAT 2022: Everything You Need to Know"
- meta_description "Thinking about taking the GAMSAT in 2022? Get everything you need to know about sitting the GAMSAT 2022 Exam, from test dates and locations to details on how to register and prepare."
%section.talk_to_bg.home_faq.dashboard_bg
  #typed.notification_bar
    %p
      = render 'pages/partial/announcement', product_line: map_path_to_prodline(request.env['PATH_INFO']), relative: false
  .container.public_container
    .support_col.looking_corse.text-center.gradready_question
      %h1
        GAMSAT 2022: Everything You Need to Know
%section.faq_wrapper.faq_details
  .row
    .container.public_container
      / .download-counter-badge
      /   %p.download_read= show_estimated_read_time
      /   %span|
      /   %i.fa.fa-user{'aria-hidden': "true"}
      /   %p.download_read= show_download_hit_count
      .preparation_col
        %p
          Thinking about taking the GAMSAT
          %sup ®
          Exam in #{Date.today.year}? You’re not alone. It’s estimated that at least 10 000 students worldwide will take the Graduate Australian Medical School Admissions Test
          = surround '(', ')' do
            GAMSAT
            %sup ®
          this year.
        %p
          Make sure that you know when and how to register by reading our guide to the GAMSAT
          %sup ®
          Exam in #{Date.today.year} below. If you’re completely lost and need an overview of the
          = surround '', ',' do
            GAMSAT
            %sup ®
          visit our guide:
          %a{href: "/what-is-gamsat", target: :_blank}
            %strong
              What is the GAMSAT
              = surround '', '?' do
                %sup ®
        %p
          %i
            Due to the COVID-19 pandemic and corresponding social distancing programs that have been implemented worldwide, the information on this page may not always be up-to-date. It is highly recommended that you check the
            %a.green{href: "https://gamsat.acer.org/", target: :_blank}
              %strong{style: 'text-decoration: underline;'} ACER website
            for the most accurate information.
        %ol
          %li
            %a{href: "#gamsat_exam"}
              When is the GAMSAT
              %sup ®
              Exam?
          %li
            %a{href: "#reg_exam"}
              How do I register for the GAMSAT
              %sup ®
              Exam?
          %li
            %a{href: "#2020_2022"}
              2020-2022 Changes to the GAMSAT
              %sup ®
              Exam
          %li
            %a{href: "#result_valid"}
              How long are my GAMSAT
              %sup ®
              Results Valid?
          %li
            %a{href: "#text_location"}
              GAMSAT
              %sup ®
              Exam Test Locations
          %li
            %a{href: "#medical_process"} Medical Admissions Process 2022
          %li
            %a{href: "#prep_material"}
              GAMSAT
              %sup ®
              Preparation Materials
      .preparation_col.head_aftr_none
        %h2#gamsat_exam
          When is the GAMSAT Exam?
        %p.mtop_zero
          The GAMSAT
          %sup ®
          exam runs on two separate occasions in 2022:
        %h3.mtop10.mbot20
          2022 GAMSAT Exam Dates
        .tbl_responsive.fl_none{:style => "margin-bottom: -20px;"}
          %table.table.cstm_tbl.table-bordered.table-condensed.custom_table_data
            %thead
              %th
              %th.text-center
                March GAMSAT
                %sup ®
                exam
              %th.text-center
                September GAMSAT
                %sup ®
                exam
            %tbody
              %tr
                %td
                  %h6
                    %strong Test Date
                %td
                  %h6 18 – 23 March 2022
                %td
                  %h6 5 – 9 September 2022
              %tr
                %td
                  %h6
                    %strong Registration Opens
                %td
                  %h6 Early November 2021
                %td
                  %h6 Mid May 2022
              %tr
                %td
                  %h6
                    %strong Registration Closes
                %td
                  %h6
                    Monday 31 January 2022
                    %br
                    10 AM GMT
                    %br
                    9 PM AEDT

                %td
                  %h6
                    Friday 22 July 2022
                    %br
                    1 PM BST
                    %br
                    10 PM AEST
              %tr
                %td
                  %h6
                    %strong Late Registration Closure
                %td
                  %h6
                    Wednesday 9 February 2022
                    %br
                    10 AM GMT
                    %br
                    9 PM AEDT
                %td
                  %h6
                    Friday 29 July 2022
                    %br
                    1 PM BST
                    %br
                    10 PM AEST
              %tr
                %td
                  %h6
                    %strong Refund/Deferral Request Closure
                %td
                  %h6
                    Wednesday 9 February 2022
                    %br
                    10 AM GMT
                    %br
                    9 PM AEDT
                %td
                  %h6
                    Friday 29 July 2022
                    %br
                    1 PM BST
                    %br
                    10 PM AEST
              %tr
                %td
                  %h6
                    %strong Cost
                %td
                  %h6 AUD$515
                %td
                  %h6 AUD$515
              %tr
                %td
                  %h6
                    %strong Late Fee
                %td
                  %h6 AUD$100
                %td
                  %h6 AUD$100
              %tr
                %td
                  %h6
                    %strong Results Available
                %td
                  %h6 Late May 2022
                %td
                  %h6 Mid November 2022
          %p If you’ve just missed out on the GAMSAT 2022 registration closure dates, late registrations are accepted up to a certain point but will require a late fee - an additional payment of $100
        %p
          GAMSAT
          %sup ®
          Results are generally released about 2 months after sitting the exam - Around late May for the March sitting and mid-November for the September Sitting.
        %p
          To learn more about how GAMSAT
          %sup ®
          Results are calculated and see a list of past release dates visit our guide:
          %a{href: "/gamsat-scores", target: :_blank}
            %strong
              Understanding your GAMSAT
              %sup ®
              Results
      .preparation_col.head_aftr_none
        %h3.mtop10
          March vs September GAMSAT Exam - What’s the difference ?
        %p
          Apart from the difference in when you can apply with the results from these exams (see
          = succeed ")," do
            %a{href: "#result_valid"}
              %strong
                How long are my GAMSAT
                %sup ®
                results valid?
          there’s technically no difference in how your performance is measured and scored. The transition towards a digital format has now been confirmed by
          %a{href: "https://gamsat.acer.org/files/GAMSAT_Info_Booklet_2022.pdf", target: :_blank}
            %strong ACER as permanent.
          Nevertheless, it still requires the same fundamental preparation as the previous paper format as they are essentially designed to test the same skills and the results are standardised to be comparable across all sittings. For further details on the digital format, visit our guide here:
          %a{href: "https://gradready.com.au/what-is-gamsat", target: :_blank}
            %strong
              What is the GAMSAT
              %sup ®
              exam?
        %p
          There is no penalty or different weighting applied to a September GAMSAT
          %sup ®
          Exam score on medical school entry applications.

        %p.mtop_zero
          Many students view the September GAMSAT
          %sup ®
          exam as a second chance to obtain a satisfactory result for the next calendar year without having to wait a whole year in between attempts and there are certain advantages to this:
        %ol.ordr_list.mbot20
          %li
            It provides you with extra time to consolidate further on preparation put into the March GAMSAT
            %sup ®
            exam
          %li
            It allows you to make a second attempt on the actual exam in the same year with the benefit and experience of having already sat the GAMSAT
            %sup ®
            Exam
        %p
          Alternatively, some students also view the September GAMSAT
          %sup ®
          exam as a ‘Practice GAMSAT
          %sup ®
          Exam’ with the aim of working on flaws in their approach and familiarising themselves with the exam before they sit the exam ‘properly’ in the March of the next year.
        %p
          One additional thing to consider is location, the March exam (being the more popular sitting for the application deadline in the same year) has
          %a{href: '#text_location'}
            %strong more venues than the September exam.
          This means that when you decide which GAMSAT
          %sup ®
          sitting you should attend, you may need to factor in travel and any associated costs, especially if the exam is held in your city only in March. While online proctoring has been used in the past for the May 2020 exam (likely due to the lack of resources and planning for the COVID-19 pandemic), it is unlikely that the GAMSAT
          %sup ®
          will use this format again. Candidates are now expected to attend the exam at the locations specified by ACER.
        %p
          Ultimately it is up to you whether or not you take either of these approaches but it is important to remember that any results for the September GAMSAT
          %sup ®
          exam are equally valuable to those of the March GAMSAT
          %sup ®
          exam, and the results of either can be used in your Medical School Entry Applications.
      .preparation_col.head_aftr_none
        %h3.mtop10
          Will GAMSAT 2022 be online?
        %p
          The
          %a{href: '#online_exam_structure'}
            March 2020 GAMSAT
            %sup ®
            Exam
          was forced into a digital format, run remotely with online proctoring in response to the COVID-19 pandemic. The September 2020 exam stuck with the digital test format, but switched to running tests in-person at a venue. ACER then confirmed that
          %a{href: '#2020_2022'}
            %strong all future sittings will be run as a digital test,
          held at specific supervised testing centres (see
          %a{href: '#text_location'}
            %strong
              Australian GAMSAT
              %sup ®
              Exam Test Locations #{Date.today.year}
          ). The digital format offers easier invigilation, data tracking and storage, and is cheaper and more environmentally-friendly to run. As such, the 2022 GAMSAT
          %sup ®
          exams will be run in the same digital format and there are some considerations you should take in how you prepare for a digital format, for example:
          %ul.sub_listing
            %li
              Familiarise yourself and become proficient using a mouse and keyboard
            %li
              Preparation strategies should utilise digital methods where possible e.g. reading graphs and textual information from a computer rather than from a physical booklet
            %li
              Work on typing speed and accuracy for Section 2
            %li
              Only doing rough working on scrap paper - no annotations
            %li
              Familiarise yourself with the layout of the exam by using the Online Platform Demo supplied by ACER
      .preparation_col.head_aftr_none
        %h3.mtop10
          What can we expect for the 2022 GAMSAT?
        %p
          The 2022 GAMSAT
          %sup ®
          exams have been updated with a new format for Section 1 -
          %a{href: 'https://gradready.com.au/gamsat-section-1', target: :_blank}
            %strong
              Section 1
          will now consist of
          %b
            62 MCQs over 100 minutes
          instead of 47 MCQs over 70 minutes. The exam is made up of 5.25 hours of exam time, however you should anticipate being at the testing centre for around 7 or 8 hours as there will be processing times, waiting times and lunch time incorporated into the day. Section I and II will run together, followed by a 1 hour lunch break, and concluding with Section III.
        %p
          .tbl_responsive.fl_none.mtop50
            %table.table.cstm_tbl.table-bordered.table-condensed.custom_table_data
              %thead
                %th
                %th.text-center Number Of Questions
                %th.text-center Total Test Time
              %tbody
                %tr
                  %td
                    %a{href: 'https://gradready.com.au/gamsat-section-1', target: :_blank, style: 'color: #00853e;'}
                      Section 1: Humanities
                  %td.text-center 62
                  %td.text-center 100 mins (8 mins reading + 92 writing)
                %tr
                  %td
                    %a{href: 'https://gradready.com.au/gamsat-section-2', target: :_blank, style: 'color: #00853e;'}
                      Section 2: Essay Writing
                  %td.text-center 2
                  %td.text-center 65 mins (5 mins reading + 60 minutes writing)
                %tr
                  %td
                    %a{href: 'https://gradready.com.au/gamsat-section-3', target: :_blank, style: 'color: #00853e;'}
                      Section 3: Sciences
                  %td.text-center 75
                  %td.text-center 150 mins (8 mins reading + 142 mins writing)
        %p
          As for the actual exam content, we know that the overarching trend has been to move away from memorised scientific content to problem solving and lateral thinking skills. Visit our guide -
          %a{href: 'https://gradready.com.au/what-is-gamsat', target: :_blank}
            %strong
              What is the GAMSAT
              %sup ®
          for an overview.

      .preparation_col.head_aftr_none
        %h2#reg_exam
          How do I register for the GAMSAT Exam?
        %p.mtop_zero
          The GAMSAT
          %sup ®
          Exam is administered and assessed by
          %a{href: "https://gamsat.acer.org/", target: :_blank}
            = succeed "." do
              %strong ACER
          One of the most important things you can do if you’re thinking about registering for the GAMSAT
          %sup ®
          Exam is to read the
          %a{href: "https://gamsat.acer.org/files/GAMSAT_Info_booklet_2022.pdf", target: :_blank}
            = succeed "." do
              %strong
                ACER GAMSAT
                %sup ®
                information booklet
          The booklet covers all the information and finer details required for sitting the GAMSAT
          %sup ®
          Exam – in the lead-up, on the day and after the test, as well as some information on applying to medical schools.
        %p
          In order to enrol for the GAMSAT
          %sup ®
          Exam you can simply register on the
          %a{href: "https://gamsat.acer.org/", target: :_blank}
            = succeed "." do
              %strong ACER Website
        %p.mtop20 In terms of eligibility, ACER advises:
        .thought_col
          %p.quotes_para
            %i
              GAMSAT
              %sup ®
              is available to any person who has completed a Bachelor or an undergraduate honours degree, or who will be enrolled in their penultimate (second-last) or final year of study, at the time of sitting the test
            = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/quotes_rht.png'
          %span.authhor
            ACER
            %a.green{href: "https://gamsat.acer.org/about-gamsat/eligibility", target: :_blank}
              %strong (Eligibility)
      .preparation_col.head_aftr_none
        %h3.mtop10.mbot20
          How many times can I take the GAMSAT Exam?
        %p.mtop_zero
          There is no limit on the number of times you take the GAMSAT
          %sup ®
          Exam and most students do in fact sit the exam twice or more. If you have taken it multiple times, you may choose which result to include in your application. Universities will not have access to the scores that you choose not to submit.
        %h3.mtop10.mbot20 Am I allowed a calculator or dictionary?
        %p A calculator is not allowed for any section of the test and standard english dictionaries are not permitted either. An exception applies to those whose first language was not english - You are permitted to bring a printed bilingual dictionary into the exam for use in Sections I and II only.
        %h3.mtop10.mbot20 How do I prepare for the Exam Day itself?
        %p
          The GAMSAT
          %sup ®
          Exam Day is long and exhausting and it’s important that you’re well rested and mentally prepared for the exam. You’ll need to remember to bring specific items on the day as well as plan out your travel there and back.
        %p
          For tips on how to get yourself set for the big day, read our guide here:
          %a{href: "/posts/gamsat-preparation-courses/gamsat-exam-what-to-do-the-night-before", target: :_blank}
            %strong
              Preparing for GAMSAT
              %sup ®
              Exam Day

      .preparation_col.head_aftr_none
        %h2#2020_2022
          2020-2022 Changes to the GAMSAT Exam
        %p.mtop_zero
          We have witnessed unprecedented changes to the GAMSAT
          %sup®
          Format in the last 2 years due to COVID-19.
        %p
          The implementation of social distancing restrictions and lockdowns around Australia and the world have forced the exam to move away from a paper format to a digital format from 2020 onwards.
        %h3.mtop10.mbot20
          Current GAMSAT
          %sup®
          Exam Structure

        .tbl_responsive.fl_none
          %table.table.cstm_tbl.table-bordered.table-condensed.custom_table_data
            %thead
              %th
              %th.text-center Description
              %th.text-center.width11 Breakdown
              %th.text-center.width11 Duration
            %tbody
              %tr
                %td Registration
                %td Pre-testing procedures should be faster  as there will be fewer candidates per testing venue than in previous years. However, it is not possible to guarantee start and finish times just in case unforeseen delays occur.
                %td.text-center -
                %td.text-center ~1 hour
              %tr
                %td Section 1: Reasoning in Humanities
                %td Tests critical reasoning skills as well as the ability to draw conclusions based on evidence with stimuli derived from a variety of non-scientific texts.
                %td.text-center
                  %span.bdr_bottm Reading Time
                  %span 62 MCQs
                %td.text-center
                  %span.bdr_bottm 8 Minutes
                  %span 92 Minutes
              %tr
                %td Section 2: Written Communication
                %td Tests your general knowledge and ability to draw on prior knowledge under pressure to construct a cohesive argument or reflection.
                %td.text-center
                  %span.bdr_bottm Reading Time
                  %span Writing Time
                %td.text-center
                  %span.bdr_bottm 5 Minutes
                  %span 60 Minutes
              %tr
                %td Lunch
                %td Take a well deserved break! Consider bringing your own lunch as the break only lasts 60 minutes and purchasing food is not always an option.
                %td.text-center -
                %td.text-center 60 Minutes
              %tr
                %td Section 3: Reasoning in Biological and Physical Sciences
                %td 40% Biology, 40% Chemistry, 20% Physics
                %td.text-center
                  %span.bdr_bottm Reading Time
                  %span 75 MCQs
                %td.text-center
                  %span.bdr_bottm 8 Minutes
                  %span 142 Minutes

        %p
          ACER has now also released their
          %a{href: "https://gamsat.acer.org/files/GAMSAT_Info_booklet_2022.pdf", target: :_blank}
            %strong
              2022 GAMSAT
              %sup ®
              Information Booklet
          with details on the format of the exam. The key change? ACER has yet again updated the format of the exam -
          %a{href: 'https://gradready.com.au/gamsat-section-1', target: :_blank}
            %strong Section 1
          will now consist of
          %b
            62 MCQs over 100 minutes
          instead of 47 MCQs over 70 minutes.
        %p
        From 2020 onwards, the GAMSAT
        %sup ®
        exam has been, and will continue to be delivered as a
        %b
          digital test
        at multiple venues over a set time period, usually about 2 weeks.
        .thought_col
          %p.quotes_para
            %i
              GAMSAT is offered twice a year, in March and September. GAMSAT which was previously delivered as paper based test will be delivered as a digital test
              %b from 2020 onwards.
            = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/quotes_rht.png'
          %span.authhor
            ACER
            %a.green{href: "https://gamsat.acer.org/files/GAMSAT_Info_Booklet_2021.pdf", target: :_blank}
              %strong ((Information Booklet)
        %p
          ACER will randomly allocate candidates to testing venues and sessions in their selected test centre location. This is subject to candidate demand and the availability of testing venues at that location. ACER advises to register early as places may be limited.
        %p
          Candidates should be aware that, if changes to government restrictions for COVID-19 mean the exam can no longer be conducted at an allocated test centre, ACER will contact all affected candidates by email with further instructions.
          %a{href: 'https://gamsat.acer.org/covid-19-advice', target: :_blank}
            %strong
              ACER notes
          as well that
          %i
            “should you choose not to, or cannot, undertake a sitting of GAMSAT
            %sup ®
            at a test centre that can remain open and host the GAMSAT
            %sup ®
            under the relevant restrictions, in those circumstances ACER is under no obligation to provide alternative arrangements for you to undertake the GAMSAT
            %sup ®
            ”.
        %p
          The structure of the GAMSAT
          %sup ®
          Exam has undergone several revisions, outlined in detail below. For the current format, there is a 60 min break between
          %a{href: 'https://gradready.com.au/gamsat-section-2', target: :_blank}
            %strong Section 2
          and 3. Although the total testing time is 5.25 hours, ACER recommends that students should anticipate being at the test centre for 8 hours with the lunch break and administrative time.
        %p
          When sitting the GAMSAT
          %sup ®
          Exam, students are allowed 2 pieces of paper per session; i.e. 2 sheets for Section 1 & 2 and 2 sheets for
          %a{href: 'https://gradready.com.au/gamsat-section-3', target: :_blank}
            %strong Section 3.
          In regards to other equipment allowed during the exam, this is comprehensively covered in pages 11-13 of the
          %a{href: "https://gamsat.acer.org/files/GAMSAT_Info_booklet_2022.pdf", target: :_blank}
            = succeed "." do
              %strong ACER Information Booklet
          Also outlined in the information booklet is that students should make sure that they have the correct identification documents prepared before exam day, as well as their Admission Ticket.

        %h3.mtop10.mbot20
          Previous GAMSAT
          %sup®
          Exam Structures
        %h4
          Paper GAMSAT
          %sup®
          Exam Structure

        .tbl_responsive.fl_none.mtop20
          %table.table.cstm_tbl.table-bordered.table-condensed.custom_table_data
            %thead
              %th
              %th.text-center Section 1
              %th.text-center Section 2
              %th.text-center Section 3
            %tbody
              %tr
                %td Number of questions
                %td.text-center 75
                %td.text-center 2
                %td.text-center 110
              %tr
                %td Reading Time
                %td.text-center 10 minutes
                %td.text-center 5 minutes
                %td.text-center 10 minutes
              %tr
                %td Writing Time
                %td.text-center 100 minutes
                %td.text-center 60 minutes
                %td.text-center 170 minutes

        %p
          A quick glance of the numbers above should reveal that the paper GAMSAT
          %sup®
          Exam was a real marathon, with around 6 hours of testing time - Students could in fact expect to remain at the venue for roughly 8-9 hours including administrative time and the 1 hour lunch break.
        %p
          That is not to say that the new digital format is any less gruelling - Indeed there are additional challenges posed by the digital test, including an inability to directly annotate questions as well as the added element of eye strain from viewing a device screen for such an extended period of time.
        %h4#online_exam_structure
          May 2020 Online GAMSAT
          %sup®
          Exam Structure
        .tbl_responsive.fl_none.mtop20
          %table.table.cstm_tbl.table-bordered.table-condensed.custom_table_data
            %thead
              %th
              %th.text-center Section 1
              %th.text-center Section 2
              %th.text-center Section 3
            %tbody
              %tr
                %td Number of questions
                %td.text-center 40
                %td.text-center 2
                %td.text-center 60
              %tr
                %td Test Time (Reading & Writing time combined)
                %td.text-center 60 minutes
                %td.text-center 65 minutes
                %td.text-center 120 minutes

        %p
          Interestingly, this particular sitting was delivered remotely with online proctoring. In addition, Section 1 & 2 was conducted in a different session from Section 3. Students could sit Section 1 & 2 on a particular day and Section 3 roughly a week later. There was no separate reading time for this sitting - Reading time was incorporated into the writing time.
        %p
          It now appears that the format of the May 2020 Online GAMSAT
          %sup®
          Exam will remain a one-off occurrence, reflective of the unique and challenging circumstances at the beginning of 2020 and COVID-19.

        %h4
          2021 GAMSAT
          %sup®
          Exam Structure
        .tbl_responsive.fl_none.mtop20
          %table.table.cstm_tbl.table-bordered.table-condensed.custom_table_data
            %thead
              %th
              %th.text-center Section 1
              %th.text-center Section 2
              %th.text-center Section 3
            %tbody
              %tr
                %td Number of questions
                %td.text-center 47
                %td.text-center 2
                %td.text-center 75
              %tr
                %td Reading Time
                %td.text-center 6 minutes
                %td.text-center 5 minutes
                %td.text-center 8 minutes
              %tr
                %td Writing Time
                %td.text-center 64 minutes
                %td.text-center 60 minutes
                %td.text-center 142 minutes

        %p
          From September 2020 onwards, the GAMSAT exam moved to a computer based test delivered in supervised test centres, rather than remotely. The above exam structure ran from September 2020 - September 2021, and included a 30 mins lunch break rather than a 1 hour lunch break. Due to the shortened duration, ACER ran two sittings a day, with a morning sitting at around 7 AM and an afternoon sitting at 2PM.


      .preparation_col.head_aftr_none
        %h2#result_valid
          How long are my GAMSAT results valid?
        %p.mtop_zero
          Your GAMSAT
          %sup ®
          results are valid for 2 years. For example, if you sat the exam during March 2022, the result will be valid for your 2022 application for a medical or health sciences program commencing in 2023; it will also be valid for your 2023 application for a program commencing in 2024. However, it will not be valid for your 2024 application for 2025 entry. Note that the below information is specific to Australian universities and the details may differ, particularly for students based in the UK - Students in the UK should check the details on
          %a{href: "https://gamsat.acer.org/university-admission/admission-uk", target: :_blank}
            %strong ACER’s website here.

        %h3.mtop10.mbot20
          Currency of GAMSAT
          %sup ®
          Results
        .tbl_responsive.fl_none.mtop10
          %table.table.cstm_tbl.table-bordered.table-condensed.custom_table_data
            %thead
              %tr
                %th.text-center Application Details
                %th.text-center Valid Results
            %tbody
              %tr.text-center
                %td Apply 2022 for 2023 Commencement
                %td
                  March GAMSAT
                  %sup> ®
                  \: 2021, 2022
                  %br
                  September GAMSAT
                  %sup> ®
                  \: 2020, 2021
              %tr.text-center
                %td Apply 2023 for 2024 Commencement
                %td
                  March GAMSAT
                  %sup> ®
                  \: 2022, 2023
                  %br
                  September GAMSAT
                  %sup> ®
                  \: 2021, 2022
              %tr.text-center
                %td Apply 2024 for 2025 Commencement
                %td
                  March GAMSAT
                  %sup> ®
                  \: 2023, 2024
                  %br
                    September GAMSAT
                    %sup> ®
                    \: 2022, 2023
        %p
          On the other hand, results from a September Sitting cannot be used for an application in that same year for commencement in the subsequent year. For example, if you sit the September 2022 GAMSAT
          %sup®
          Exam, you will only be able to use the results of this exam for application in 2023 for a program commencing in 2024, and for application in 2024 for a program starting in 2025. You won’t be able to use this result for an application in 2022 for 2023 entry. This is because medical school applications, which require submission of GAMSAT
          %sup®
          scores, start around May with offers for interviews being made from August to September (see
          %a{href: "#medical_process"}
            %strong Timeline
          below).
        %p
          If you’re applying in 2022 for a course commencing in 2023, ONLY the following results can be used: September 2020, May 2021, September 2021, March 2022.
        %p
          To learn more about how GAMSAT
          %sup ®
          Scores are actually calculated, visit our guide:
          %a{href: "/gamsat-scores", target: :_blank}
            %strong
              Understanding your GAMSAT
              %sup ®
              Scores
      .preparation_col.head_aftr_none
        %h3.mtop10.mbot20
          When should I sit the GAMSAT Exam?
        %p.mtop_zero
          We recommend that you should, at the latest, sit the GAMSAT
          %sup ®
          exam during the year prior to the year of your medical school application. For example, if you are applying in 2023 for entry in 2024, then you should sit the exam in September 2022 at the latest. The reasoning here is that if you perform poorly, you have another chance with the next March sitting to achieve a good score for your 2023 application.
        %p.mbot0 Otherwise, you can consider the following:
        .diffr_country
          %ul.sub_listing.padd_top.padd_bot
            %li.mtop_zero
              %p
                %span> First Year:
                You might be considering having a ‘practice run’ but it’s important to remember that your results won’t be valid for admissions. Nevertheless, there is merit in this idea as a big part of the GAMSAT
                %sup ®
                Exam is exam technique and having experience of it is a huge help - You’ll need to weigh up the actual cost of the exam and the potential benefit and ensure it doesn’t distract you from your uni work - Your GPA is important too!
            %li
              %p
                %span> Second Year:
                As the penultimate year for a three-year degree, this is often the time most students start thinking about the GAMSAT
                %sup ®
                Exam. If you do well enough and
                %a{href: "/gamsat-scores", target: :_blank}
                  %strong obtain a competitive score,
                you can put off thinking about admissions for a year and just focus on your degree (and working on your GPA). If there’s room for improvement then you’ve got another shot next year (or even earlier if you’re able to sit the September GAMSAT
                %sup ®
                Exam)

            %li
              %p
                %span> Third Year:
                Sitting the GAMSAT
                %sup ®
                Exam in third year, you’ve got the benefit of an almost locked in GPA, and therefore may have a little more time to devote to the exam. You’re also older and wiser and probably have far better exam technique. If you’re in a health or medical science degree, you’re increasingly familiar and comfortable with all that pesky ‘assumed knowledge’. However, the trade-off is that if things don’t go as planned, you’ll need to have ‘plan b’.
        %p
          The difficulty of the GAMSAT
          %sup ®
          Exam cannot be overstated and most students do sit the exam twice or more. Unfortunately it’s not just a question of preparing but also preparing for the right things and in this respect, you can check out our
          %a{href: "/gamsat-preparation-courses/free-gamsat-trial", target: :_blank}
            %strong GAMSAT
            %sup ®
            %strong Free Trial,
          for detailed week by week plans of how you should be spending your time and tips on the best preparation strategy as well as free practice MCQs.
          .boxed
            Get Access to:
            %ul{:style => "list-style-type:none;padding: 13px 0px;"}
              %li 50 Free MCQs
              %li Week-By-Week Study Guide
              %li Complete Session 3 Topic List
              %li Recorded Webinars
            .free_gamsat_icon
              = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/free_trial.png', class: "icon30"
            .button_right_section
              %a.free_trial_btn.hvr-shutter-in-horizontal{href: "/gamsat-preparation-courses/free-gamsat-trial"} GAMSAT Free Trial
        %p
          You can also visit our guide on how to effectively study for the GAMSAT
          %sup ®
          Exam with breakdowns for each individual section:
          %a{href: "/gamsat-preparation", target: :_blank}
            %strong
              How to Study for the GAMSAT
              %sup ®
      .preparation_col.head_aftr_none
        %h2#text_location
          GAMSAT Exam Test Locations
        %h3.mtop10.mbot20
          Australian GAMSAT Exam Test Locations 2022
        .aus_map
          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/australia_map5.png', class: "mbot30"
        %p.mtop20
          ACER is running the GAMSAT
          %sup ®
          exams in the following cities around Australia:
        .tbl_responsive.fl_none
          %table.table.cstm_tbl.table-bordered.table-condensed.custom_table_data
            %thead
              %tr
                %th.text-center Test Date
                %th.text-center Locations
            %tbody
              %tr.text-center{rowspan: "3"}
                %td
                  March 2022 GAMSAT
                  %sup ®
                  Exam
                %td
                  %table.table.mbot0.table-condensed
                    %tbody
                      %tr
                        %td.brdr_none.width50 Adelaide
                        %td.brdr_none.width50 Melbourne
                      %tr
                        %td.brdr_none.width50 Albury
                        %td.brdr_none.width50 Newcastle
                      %tr
                        %td.brdr_none.width50 Alice Springs
                        %td.brdr_none.width50 Perth
                      %tr
                        %td.brdr_none.width50 Brisbane
                        %td.brdr_none.width50 Sunshine Coast
                      %tr
                        %td.brdr_none.width50 Canberra
                        %td.brdr_none.width50 Sydney
                      %tr
                        %td.brdr_none.width50 Darwin
                        %td.brdr_none.width50 Townsville
                      %tr
                        %td.brdr_none.width50 Dubbo
                        %td.brdr_none.width50 Wollongong
                      %tr
                        %td.brdr_none.width50 Hobart
                        %td.brdr_none.width50 Whyalla
                      %tr
                        %td.brdr_none.width50 Wellington (NZ)
              %tr.text-center{rowspan: "2"}
                %td
                  September 2022 GAMSAT
                  %sup ®
                  Exam
                %td
                  %table.table.mbot0.table-condensed
                    %tbody
                      %tr
                        %td.brdr_none.width50 Adelaide
                        %td.brdr_none.width50 Dubbo
                      %tr
                        %td.brdr_none.width50 Albury
                        %td.brdr_none.width50 Melbourne
                      %tr
                        %td.brdr_none.width50 Brisbane
                        %td.brdr_none.width50 Perth
                      %tr
                        %td.brdr_none.width50 Canberra
                        %td.brdr_none.width50 Sydney
                      %tr
                        %td.brdr_none.width50 Darwin
                        %td.brdr_none.width50 Townsville
                      %tr
                        %td.brdr_none.width50 Wellington (NZ)
        %p
          The test is held over an allocated period at all test locations. Places are limited and are allocated on a first-come, first-served basis. As such, if you intend to sit the GAMSAT
          %sup ®
          exam it’s important to register early. When registering, you’ll only be able to select a preferred test centre, and in the event that your chosen centre is no longer available, ACER will book your exam at the nearest available test location. Please be aware that the September exam offers less locations.
      %p
        There are additional testing locations in other cities throughout the UK, USA, Ireland, and Singapore. A complete list of these testing locations can be found in the
        %a.green.fnt14{href: "https://gamsat.acer.org/files/GAMSAT_Info_booklet_2022.pdf", target: :_blank}>
          %strong ACER GAMSAT information booklet.
      .preparation_col.head_aftr_none
        %h2#medical_process
          Medical Applications Process
        %h3.mtop10.mbot20 Medical Applications Timeline 2022
        .tbl_responsive.fl_none
          %table.table.cstm_tbl.table-bordered.table-condensed.custom_table_data
            %thead
              %tr
                %th.text-center Event
                %th.text-center Dates
            %tbody
              %tr
                %td.text-center.width70
                  Application Period. Submit your application through GEMSAS.
                  %a.green.fnt14{href: "http://sydney.edu.au/medicine/study/md/", target: :_blank}>
                    %strong University of Sydney
                  \.
                  %a.green.fnt14{href: "http://www.flinders.edu.au/medicine/courses/medical-course/medical-course-home.cfm", target: :_blank}
                    %strong Flinders University
                  \&amp;
                  %a.green.fnt14{href: "https://www.monash.edu/medicine/som/grad-entry", target: :_blank}
                    %strong Monash Uni
                  are not part of GEMSAS
                %td.text-center April - May 2022
              %tr.text-center
                %td GAMSAT Results Released
                %td Late May 2022
              %tr.text-center
                %td Interview Offers Released
                %td August - September 2022
              %tr.text-center
                %td Interviews are held
                %td September - October 2022
              %tr.text-center
                %td Medical Offers Released
                %td September - December 2022
              %tr.text-center
                %td Additional Offers made to fill vacancies
                %td December 2022 - January 2023
        %p
          The GAMSAT
          %sup ®
          exam is merely the first step in your journey through the Medical School Applications Process. To  get a timeline and learn more about the different criteria and cutoffs for Graduate Medical Schools around Australia, visit our guide:
          %a{href: "/medical-school-entry-requirements", target: :_blank}
            %strong Australian Medical Schools - Entry Requirements
      .preparation_col.head_aftr_none
        %h2#prep_material
          GAMSAT Preparation Materials
        %p.mtop_zero
          Now that you’re aware of all the key dates for 2022, make a start on your preparation with our guides and free resources:
        %ol.ordr_list
          %li
            %h5
              %a{href: "/what-is-gamsat", target: :_blank}
                What is the GAMSAT
                %sup ®
                ?
            %p.mtop_zero
              Everything you need to know about the GAMSAT
              %sup ®
              Exam from structure and overview to which universities require the GAMSAT
              %sup ®
          %li
            %h5
              %a{href: "/gamsat-preparation", target: :_blank}
                How to study for the GAMSAT
                %sup ®
                Exam
            %p.mtop_zero
              A breakdown of how to approach study effectively and how to set up a GAMSAT
              %sup ®
              study schedule
          %li
            %h5
              %a{href: "/gamsat-section-1", target: :_blank}
                How to prepare for GAMSAT
                %sup ®
                Section 1
            %p.mtop_zero
              An overview of what to expect in Section 1 of the GAMSAT
              %sup ®
              Exam and how to prepare.
          %li
            %h5
              %a{href: "/gamsat-section-2", target: :_blank}
                How to prepare for GAMSAT
                %sup ®
                Section 2
            %p.mtop_zero
              An overview of what to expect in Section 2 of the GAMSAT
              %sup ®
              Exam, how to prepare and how to perfect your essay technique.
          %li
            %h5
              %a{href: "/gamsat-section-3", target: :_blank}
                How to prepare for GAMSAT
                %sup ®
                Section 3
            %p.mtop_zero
              An overview of what to expect in Section 3 of the GAMSAT
              %sup ®
              Exam and how to prepare for each of the topics - Biology, Chemistry, &amp; Physics.
          .boxed
            Get Access to:
            %ul{:style => "list-style-type:none;padding: 16px 0px;line-height: 0.9;"}
              / Get Access to:
              %li 50 Free MCQs
              %li Week-By-Week Study Guide
              %li Complete Session 3 Topic List
              %li Recorded Webinars
            .free_gamsat_icon
              = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/free_trial.png', class: "icon30"
            .button_right_section
              %a.free_trial_btn.hvr-shutter-in-horizontal{href: "/gamsat-preparation-courses/free-gamsat-trial"} GAMSAT Free Trial
:javascript
  // Select all links with hashes
  $('a[href*="#"]')
  // Remove links that don't actually link to anything
  .not('[href="#"]')
  .not('[href="#0"]')
  .click(function(event) {
    // On-page links
    if (
      location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
      &&
      location.hostname == this.hostname
    ) {
      // Figure out element to scroll to
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      // Does a scroll target exist?
      if (target.length) {
        // Only prevent default if animation is actually gonna happen
        event.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top-74
        }, 1000, function() {
          // Callback after animation
          // Must change focus!

        });
      }
    }
  });
