- title "GAMSAT Preparation for a Non-Science Background"
- meta_description "Section 3 of the GAMSAT exam might seem intimidating to those who come from a non-science background, but there are countless ways to optimise your GAMSAT® non-science background preparation and ace the exam. Learn the best practices and strategies for preparing for the GAMSAT® exam from a non-science background and what level of science you need to get the results you want. "
- meta_keywords "gamsat non science background"

%section.talk_to_bg.home_faq.dashboard_bg
  #typed.notification_bar
    %p
      = render 'pages/partial/announcement', product_line: map_path_to_prodline(request.env['PATH_INFO']), relative: false
  .container.public_container
    .support_col.looking_corse.text-center.gradready_question
      %h1
        GAMSAT Non-Science Background: How to Prepare
%section.faq_wrapper.faq_details
  .row
    .container.public_container
      .download-counter-badge
        %p.download_read= show_estimated_read_time rescue nil
        %span|
        %i.fa.fa-user{'aria-hidden': "true"}
        %p.download_read= show_download_hit_count rescue nil
      .preparation_col.head_aftr_none
        %p
          When it comes to preparing for the GAMSAT
          %sup ®
          exam, most students from a non-science background may feel overwhelmed and even intimidated by the amount of assumed knowledge required for Section 3 of the GAMSAT® exam. GAMSAT
          %sup ®
          Section 3 is made up of questions that draw from the disciplines of Biology, Chemistry and Physics questions. Given the fact that it is double-weighted for most medical schools, this simply adds to the pressure of preparing for the GAMSAT
          %sup ®
          exam if you come from a non-science background. This guide aims to provide you with an overview of what level of science is needed for the GAMSAT
          %sup ®
          exam and how to best prepare for the exam if you come from a non-science background.
        %ol
          %li
            %a{href: "#sittingWithNonScience"}
              Sitting the GAMSAT
              %sup ®
              with a non-science background
          %li
            %a{href: "#needToKnowScience"}
              Do you need to know science for the GAMSAT
              %sup ®
              ?
          %li
            %a{href: "#bestWayToPrepare"}
              GAMSAT
              %sup ®
              non-science background: Best way to prepare
          %li
            %a{href: "#faqs"}
              GAMSAT
              %sup ®
              non-science background: FAQs
          %li
            %a{href: "#finalAdvice"}
              GAMSAT
              %sup ®
              non-science background: Final advice
          %li
            %a{href: "#furtherResources"}
              Further Preparation Resources

      .preparation_col.head_aftr_none
        %h2#sittingWithNonScience
          Sitting the GAMSAT
          %sup ®
          with a non-science background
        %p.mtop_zero{:style => "margin-bottom: auto;"}
          There’s no avoiding the issue, preparing for the GAMSAT
          %sup ®
          exam with a non-science background is a challenge that intimidates most students who will likely feel that they are at a disadvantage compared to others who have studied a science-based degree. 
        %p
          However, rest assured that even those with a non-science background can still ace the GAMSAT
          %sup ®
          exam with a few months of targeted study. We often forget that students from non-science backgrounds can often be very competitive in Section 1 and 2 as these sections primarily focus on humanities. While Section 3 of the GAMSAT
          %sup ®
          exam is the most heavily weighted section of the exam for most medical schools, Sections 1 and 2 can make the difference as most students with a science background struggle with these areas. As with most things related to the GAMSAT
          %sup ®
          exam, preparing with a non-science background comes down to a matter of time, and most importantly,
          %a{href: 'https://gradready.com.au/gamsat-preparation', target: :_blank}
            %strong
              starting your preparation early.
        %h3
          How hard is it to perform well in the GAMSAT
          %sup ®
          without a science background?
        %p
          The GAMSAT® consists of three sections:
          %ol
            %li
              %a{href: "https://gradready.com.au/gamsat-section-1", target: :_blank}
                Section 1: Reasoning in Humanities and Social Sciences
            %li
              %a{href: "https://gradready.com.au/gamsat-section-2", target: :_blank}
                Section 2: Written Communication
            %li
              %a{href: "https://gradready.com.au/gamsat-section-3", target: :_blank}
                Section 3: Reasoning in Biological & Physical Sciences

        %p
          There are a few things to consider when trying to answer this question - As mentioned above, most non-science background students forget that they are likely at an advantage when it comes to Section 1 and 2 compared to those with a science-heavy focus to their studies so far. We often forget that very few students excel across all Sections, and that an average Section 3 score can be compensated for with strong performances in Section 1 and 2. When it comes to Section 3 however, there is an element of non-negotiable science knowledge that is required. This is often referred to as the foundational or assumed knowledge, and ACER recommends that students are proficient in first year
          %a{href: 'https://gradready.com.au/gamsat-biology', target: :_blank}
            %strong
              Biology
          and
          %a{href: 'https://gradready.com.au/gamsat-chemistry', target: :_blank}
            %strong
              Chemistry,
          and Year 12 equivalent
          %a{href: 'https://gradready.com.au/gamsat-physics', target: :_blank}
            %strong
              Physics.
        %p
          Although a certain amount of assumed knowledge is essentially non-negotiable when it comes to doing well on Section 3 of the GAMSAT
          %sup ®
          exam, it’s important to recognise that the GAMSAT
          %sup ®
          exam is not designed to test your ability to recall such knowledge. It’s an exam that is instead designed to assess your reasoning and critical thinking skills by providing you with novel scenarios and information, and ask you to interpret data and form conclusions. This is the crux of the challenge of Section 3 of the GAMSAT
          %sup ®
          exam and although having a science-background provides you with a headstart in preparing for this section, it does not guarantee success. Conversely, having a non-science background may mean that you need to put in some additional effort, but it does not mean you will perform poorly on Section 3. By building up your knowledge and reasoning skills, there is no reason why a student with a non-science background cannot do well on the GAMSAT
          %sup ®
          exam.
        %p
          As part of the process of building your reasoning skills, one of the most valuable things you can do is spend time working through GAMSAT
          %sup ®
          practice questions, analysing the skills required and where you’ve made mistakes. You can access 50 free MCQs from our GAMSAT
          %sup ®
          MCQ Bank  by signing up for our free trial below. Our Free Trial includes a complete breakdown of the GAMSAT® Syllabus, an Essay Writing Guide as well as a wealth of other preparation materials
        .boxed
          Get Access to:
          %ul{:style => "list-style-type:none;padding: 13px 0px;"}
            %li 50 Free MCQs
            %li Week-By-Week Study Guide
            %li Complete Session 3 Topic List
            %li Recorded Webinars
          .free_gamsat_icon
            = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/free_trial.png', class: "icon30"
          .button_right_section
            %a.free_trial_btn.hvr-shutter-in-horizontal{href: "/gamsat-preparation-courses/free-gamsat-trial", target: :_blank} GAMSAT Free Trial
      .preparation_col.head_aftr_none
        %h2#needToKnowScience
          Do you need to know science for the GAMSAT
          %sup ®
          ?
        %p
          It is expected that students learn scientific knowledge equivalent to first year
          %a{href: 'https://gradready.com.au/gamsat-biology', target: :_blank}
            %strong
              Biology
          and
          %a{href: 'https://gradready.com.au/gamsat-chemistry', target: :_blank}
            %strong
              Chemistry,
          and Year 12 equivalent
          %a{href: 'https://gradready.com.au/gamsat-physics', target: :_blank}
            %strong
              Physics.
          However, remember that the GAMSAT
          %sup ®
          exam is not a test of knowledge, but focuses rather on testing your reasoning and analytical thinking skills. So while it is important to learn the science to some degree, greater emphasis should be placed on learning the basics and core principles so that you can move towards working through practice questions and developing your problem-solving and reasoning skills. In general, there is no need to cover the specifics of Biology, Chemistry and Physics in great detail - It would be a poor use of time to sit there trying to memorise various undergraduate science textbooks. Most of the questions you’ll be faced with will present new information and novel scenarios that would be unfamiliar to an undergraduate science student. However, ensuring that you have a solid foundation in the sciences will allow you to filter out the unnecessary information and analyse the questions and information more quickly, saving you valuable time. As many students don’t actually finish Section 3, time is a critical factor in doing well on the GAMSAT
          %sup ®
          exam.
        %h3
          What level of science do you need for GAMSAT
          %sup ®
          ?
        %p
          ACER stipulates that you need science knowledge equivalent to first year
          %a{href: 'https://gradready.com.au/gamsat-biology', target: :_blank}
            %strong
              Biology
          and
          %a{href: 'https://gradready.com.au/gamsat-chemistry', target: :_blank}
            %strong
              Chemistry,
          and Year 12 equivalent
          %a{href: 'https://gradready.com.au/gamsat-physics', target: :_blank}
            %strong
              Physics
          to score well in GAMSAT
          %sup ®
          Section 3. For a complete list of relevant topics, head to our free
          %a{href: 'https://gradready.com.au/gamsat-study-syllabus', target: :_blank}
            %strong
              GAMSAT
              %sup ®
              Study Syllabus
          which covers Section 1, 2 and 3.
        %h3
          What is the best way of learning the science you need for the GAMSAT
          %sup ®
          ?
        %p
          A useful starting point for GAMSAT
          %sup ®
          non-science background preparation is creating a
          %a{href: 'https://gradready.com.au/gamsat-study-syllabus', target: :_blank}
            %strong
              GAMSAT
              %sup ®
              study plan.
          The goal of this plan is to help organise your study, ensuring that you cover all the relevant topics, and spreading your study out over time to ensure a sustainable approach. The three sections of the GAMSAT
          %sup ®
          exam all test different skills and consequently require a different approach to preparation, and it's essential to not only start early, but to begin with a plan in mind.
        %p
          You can access a list of key topics and areas for each Section in our
          %a{href: 'https://gradready.com.au/gamsat-study-syllabus', target: :_blank}
            %strong
              GAMSAT
              %sup ®
              Syllabus.
          Once you have a clear idea of what science topics you need to review, the next step is to allocate some time and resources to learning this foundational content. You can find plenty of free resources on our website on our
          %a{href: 'https://gradready.com.au/gamsat-section-3', target: :_blank}
            %strong
              GAMSAT
              %sup ®
              Section 3 guide
          or the individual guides for
          %a{href: 'https://gradready.com.au/gamsat-biology', target: :_blank}
            %strong
              GAMSAT
              %sup ®
              Biology,
          %a{href: 'https://gradready.com.au/gamsat-chemistry', target: :_blank}
            %strong
              Chemistry
          and
          %a{href: 'https://gradready.com.au/gamsat-physics', target: :_blank}
            %strong
              Physics.
          Ensure that you’re keeping track of your strengths and weaknesses as you work through the science topics so you know what you need to come back and revise.
        %p
          The most important thing to keep in mind as you’re working through the assumed knowledge is that you should be focusing on the key principles rather than trying to memorise specific examples. As mentioned above, most of the questions you’ll be faced with will present new information and novel scenarios that would be unfamiliar to an undergraduate science student. As such there is little value in trying to memorise a large amount of detail. Instead focus on the principles as these will help you decipher information more rapidly and allow you to move on to the problem-solving aspect of each question.
        %p
          As you begin working through the assumed science knowledge, it may be helpful to schedule in regular time to tackle some
          %a{href: 'https://gradready.com.au/gamsat-free-practice', target: :_blank}
            %strong
              GAMSAT
              %sup ®
              practice questions
          so that you can see how concepts are used in the exam, and finetune your approach to learning the science to ensure you are not going into too much detail. Once you get through the foundational knowledge, move onto completing GAMSAT
          %sup ®
          questions and building up your reasoning and critical thinking skills - This should form the bulk of your preparation.
        %p
          It might also be useful to consider signing up for a
          %a{href: 'https://gradready.com.au/gamsat-preparation-courses', target: :_blank}
            %strong
              GAMSAT
              %sup ®
              preparation course.
          One of the key advantages of a course is that you’ll be able to develop your reasoning and problem-solving skills under the guidance of an experienced tutor who has sat the exam before and gone through the same process, in a collaborative environment where you can learn and share skills with your peers.
        %h3
          Do you need physics for the GAMSAT?
        %p
          Due to the fact that Physics makes up only 20% of Section 3 of the GAMSAT
          %sup ®
          exam, many students make the mistake of thinking they can get away with simply skipping these questions and the associated marks. The truth is that Physics is and has always been a key differentiator in the GAMSAT
          %sup ®
          exam - Given that few students have physics backgrounds, these marks may very well be the separation between you and other students.
        %p
          Furthermore, we’ve seen ACER increasingly combine elements of Physics within BOTH
          %a{href: 'https://gradready.com.au/gamsat-biology', target: :_blank}
            %strong
              Biology
          and
          %a{href: 'https://gradready.com.au/gamsat-chemistry', target: :_blank}
            %strong
              Chemistry
          questions. This means that you may find that 40-50% of GAMSAT
          %sup ®
          Section 3 MCQs actually require a certain level of maths (i.e. basic arithmetic) as well as some physics knowledge despite the stem of the question being predominantly biology or chemistry-based.
        %p
          A classic example would be a stem that reviews the flow of blood through a major artery. What happens if the blood pressure increases? Would the diameter of the blood vessel decrease/increase? Similar questions are found not only in the actual GAMSAT
          %sup ®
          Exam but also when you start your medical degree. Approach the GAMSAT
          %sup ®
          exam as a training ground before starting your medical career. Developing the ability to reason logically and process information systematically when given new information/formulas/data are important qualities in becoming a good doctor.
        %p
          The fear of physics is understandable but irrational. With all the pressure of expectation and time constraints, physics stems appear very difficult at just a glance. Out of the sciences, the format physics takes is often the most unfamiliar; there will be an emphasis on
          %a{href: 'https://gradready.com.au/gamsat-physics-formula-sheet', target: :_blank}
            %strong
              formulas, equations and graphs,
          even the options may appear alien. You will however often find that after reading through the stem and having a think about the ideas put forth, the reasoning and interpretation is mostly the same. It is the format that may be off-putting: instead of reasoning with words you might be reasoning with formulas. The important thing is to always make an honest attempt. To read more about how to prepare for Physics, visit our guide,
          %a{href: 'https://gradready.com.au/gamsat-physics', target: :_blank}
            %strong
              GAMSAT Physics: How to Prepare.
      .preparation_col.head_aftr_none
        %h2#bestWayToPrepare
          GAMSAT
          %sup ®
          non-science background: Best way to prepare
        %p
          The best way to prepare for GAMSAT
          %sup ®
          will be different for everyone based on your current knowledge. Section 3 can often be more daunting than Section 1 and 2 when it comes to GAMSAT
          %sup ®
          non-science background preparation. In this case, it can be advantageous to get a good grasp on the key biomedical concepts and then attempt GAMSAT
          %sup ®
          practice questions. Check out the tips below to help guide your preparation:
        %ul.sub_listing
          %li
            %a{href: "#startEarly"}
              Start Early
          %li
            %a{href: "#dontFeelLikeYouKnow"}
              Don't feel like you need to know it all
          %li
            %a{href: "#focusOnSkills"}
              Focus on Skills
          %li
            %a{href: "#dontNeglectHumanities"}
              Don't neglect Humanities
        %h3#startEarly
          Start Early
        %p
          There’s no getting around the fact that with a non-science background you’ll need to put in a bit of extra time to get up to speed with the principles of Biology, Chemistry and Physics. As such, it’s critical that you start your preparation early and plan out your study to ensure that you can work through the foundational knowledge early and move on to completing practice questions and practice exams in the leadup to the actual day.
        %h3#dontFeelLikeYouKnow
          Don't feel like you need to know it all
        %p
          Remember that
          %a{href: 'https://gradready.com.au/gamsat-section-3', target: :_blank}
            %strong
              Section 3 of the GAMSAT
              %sup ®
              exam
          is designed to examine your reasoning and problem-solving skills rather than your recall of specific content. This section is not a test of theoretical knowledge or memory but rather the ability to reason, make logical deductions and form judgements by assessing the information provided. You will instead be faced with advanced-level, novel content designed to assess your reasoning skills; content often presented in the form of graphs, tables, diagrams and mathematical relationships. Having said all that, a good level of basic scientific knowledge and familiarity with more advanced scientific concepts will improve the speed at which you comprehend and answer the
          %a{href: 'https://gradready.com.au/gamsat-free-practice', target: :_blank}
            %strong
              time-pressured GAMSAT
              %sup ®
              questions.
          Don’t feel like you need to memorise entire textbooks - Focus on the key principles and core concepts as you’ll often see these ideas repeated but in novel scenarios and with new information.
        %h3#focusOnSkills
          Focus on skills
        %p
          Following on from the above tip, once you get through learning the sciences and assumed knowledge, move onto developing your MCQ strategy and reasoning skills as soon as possible - This should form the bulk of your
          %a{href: 'https://gradready.com.au/gamsat-section-3', target: :_blank}
            %strong
              Section 3 preparation.
          Note down any concepts that you’re struggling with as you work through example questions. As you work out your strengths and weaknesses, you can return to the foundational sciences knowledge and brush up on any topics you find difficult, whether it be Acids and Bases or Electrostatic and Magnetic Forces.
        %h3#dontNeglectHumanities
          Don't neglect Humanities
        %p
          Even if Humanities is your strong suit, do not neglect it! It is critical to play to your own strengths when it comes to achieving a
          %a{href: 'https://gradready.com.au/gamsat-scores', target: :_blank}
            %strong
              high score in the GAMSAT
              %sup ®
              exam.
          Spend some time going over practice questions for Section 1 and 2 to get an idea of preparing essays in a timed condition. Although you may be confident in your essay writing skills, the style of communication in the GAMSAT
          %sup ®
          is quite different from a standard essay. A good way to perfect your Section 1 and 2 approaches would be to go through the broad range of tests and question styles. Check out our comprehensive guides on
          %a{href: 'https://gradready.com.au/gamsat-section-1', target: :_blank}
            %strong
              GAMSAT
              %sup ®
              Section 1 Preparation
          and
          %a{href: 'https://gradready.com.au/gamsat-section-2', target: :_blank}
            %strong
              GAMSAT
              %sup ®
              Section 2 Preparation.
      .preparation_col.head_aftr_none.mtop35
        %h2#faqs
          GAMSAT
          %sup ®
          non-science background: FAQs
        %p
          Below you’ll find the answers to a couple of commonly-asked questions related to GAMSAT
          %sup ®
          non-science background preparation:
        %ul.sub_listing
          %li
            %a{href: "#whatAreMyChances"}
              Can I get into medical school without a science background? What are my chances?
          %li
            %a{href: "#interviewOffer"}
              Do I need a high Section 3 score to get an interview or offer?
          %li
            %a{href: "#howToStudy"}
              How do I study for Section 1 and Section 2?
          %li
            %a{href: "#ignoreSection3"}
              Can I ignore Section 3 preparation and focus on Section 1 & Section 2?
        %h3#whatAreMyChances
          Can I get into medical school without a science background? What are my chances?
        %p
          It is perfectly possible to do well in the GAMSAT
          %sup ®
          even if you have never studied science before. Different schools will have different prerequisites however to date almost all medical schools have removed subject prerequisites, with the exception of the University of Queensland. As such, for all other
          %a{href: 'https://gradready.com.au/australian-medical-schools', target: :_blank}
            %strong
              Graduate-Entry Medical Schools,
          students can come from a variety of undergraduate degrees. A student from a non-science background will gain the same level of medical training and qualification as a biomedical science undergraduate in medical school. 
        %p
          The GAMSAT
          %sup ®
          and medical school require their candidates to have a range of skills and traits that are not exclusive to students that have completed science-based undergraduate degrees. If you’d like to learn more about the medical school application requirements, check out our comprehensive guide,
          %a{href: 'https://gradready.com.au/medical-school-entry-requirements', target: :_blank}
            %strong
              Australian Graduate Medical Schools - Admission Requirements.
        %h3#interviewOffer
          Do I need a high Section 3 score to get an interview or offer?
        %p
          The short answer is it depends. It’s important to remember that Section 3 is double-weighted for most, though not all, graduate-entry medical schools, and therefore contributes significantly to your overall
          %a{href: 'https://gradready.com.au/gamsat-scores', target: :_blank}
            %strong
              GAMSAT
              %sup ®
              score.
          As such, depending on the medical schools you’re interested in, your Section 3 score may be more important than your Section 1 and 2 scores. Nevertheless, it’s important to recognise that you can counterbalance an average Section 3 score with strong performances in Section 1 and 2, particularly at
          %a{href: 'https://gradready.com.au/australian-medical-schools', target: :_blank}
            %strong
              medical schools where all three sections are weighted equally.
          Furthermore, it would be remiss to ignore other important factors, such as
          %a{href: 'https://gradready.com.au/medical-school-entry-requirements', target: :_blank}
            %strong
              your GPA and in some cases, your portfolio.
          In general a high Section 3 score will help greatly in improving your chances of getting an interview or offer, but an average performance is not a strict barrier depending on other factors like your GPA and Section 1 and 2 scores.
        %h3#howToStudy
          How do I study for Section 1 and Section 2?
        %p
          Section 1 of the GAMSAT
          %sup ®
          exam assesses your interpretation of qualitative information as well as your reading comprehension. Here, you will be asked questions to test your ability to draw conclusions from a variety of media forms such as non-scientific texts, fiction, poetry or cartoons.
          %a{href: 'https://gradready.com.au/gamsat-section-1', target: :_blank}
            %strong
              You can refer to our detailed guide on preparation for Section 1 here.
        %p
          Section 2 of the GAMSAT
          %sup ®
          exam assesses your ability to express your thoughts in a logical and effective manner in response to two sets of stimuli. According to ACER, it is meant to be a reflection of your ability to produce and develop a cohesive argument of reflection under pressure.
          %a{href: 'https://gradready.com.au/gamsat-section-2', target: :_blank}
            %strong
              You can refer to our detailed guide on preparation for Section 2 here.
          Check out our
          %a{href: 'https://gradready.com.au/gamsat-example-essay', target: :_blank}
            %strong
              Free GAMSAT
              %sup ®
              Example Essays
          for further resources to guide your preparation.
        %h3#ignoreSection3
          Can I ignore Section 3 preparation and focus on Section 1 & Section 2?
        %p
          It’s important to remember that Section 3 generally has twice as much weighting compared to the other sections in the calculation of the overall GAMSAT
          %sup ®
          score. Depending on the medical schools you’re interested in, your Section 3 score may be more important than your Section 1 and 2 scores, so you shouldn’t ignore it in your GAMSAT
          %sup ®
          non-science background preparation.
      .preparation_col.head_aftr_none.mtop35
        %h2#finalAdvice
          GAMSAT non-science background: Final advice 
        %p
          The GAMSAT
          %sup ®
          exam is a fundamental part of your medical school application and is one of the most important considerations for admission. It’s meant to provide the admission committees in medical schools a way to compare students from a varied range of backgrounds. GAMSAT
          %sup ®
          non-science background preparation is difficult, but not impossible, and it’s in no way a strict barrier to getting into medical school.
        %p
          With such a huge task ahead, it can often seem very daunting to know where to start. Hopefully by following the tips and tricks above, this has provided you some clarity on what you can do to better equip yourself for the GAMSAT
          %sup ®
          exam.
        %p
          Start early, study hard and practice, practice, practice! The more questions you are exposed to, the easier it becomes to identify the pattern/style of questions that emerge from the actual GAMSAT
          %sup ®
          exam and the thought process required.
        %p
          Lastly, do YOUR best! While the GAMSAT
          %sup ®
          is just an exam, it is an IMPORTANT hurdle not just to get into a medical school but also to develop your sense of character! You will have to face many more exams in your future medical career so treat GAMSAT
          %sup ®
          non-science background preparation as the first in the line of many to conquer along the way.
      .preparation_col.head_aftr_none.mtop35
        %h2#furtherResources
          Further Preparation Resources
        %ol
          %li
            %a.green{href: 'https://gradready.com.au/what-is-gamsat', target: :_blank}
              What is the GAMSAT
              %sup ®
              ?
            %br
            Everything you need to know about the GAMSAT
            %sup ®
            exam, from structure and overview to which universities require the GAMSAT
            %sup ®
          %li
            %a.green{href: 'https://gradready.com.au/gamsat-section-1', target: :_blank}
              How to prepare for GAMSAT
              %sup ®
              Section 1
            %br
            An overview of what to expect in Section 1 of the GAMSAT
            %sup ®
            exam and how to prepare.
          %li
            %a.green{href: 'https://gradready.com.au/gamsat-section-2', target: :_blank}
              How to prepare for GAMSAT
              %sup ®
              Section 2
            %br
            An overview of what to expect in Section 2 of the GAMSAT
            %sup ®
            exam, how to prepare, and how to perfect your essay technique.
          %li
            %a.green{href: 'https://gradready.com.au/gamsat-section-3', target: :_blank}
              How to prepare for GAMSAT
              %sup ®
              Section 3
            %br
            An overview of what to expect in Section 3 of the GAMSAT
            %sup ®
            exam and how to prepare for each of the topics – Biology, Chemistry, & Physics.
          %li
            %a.green{href: 'https://gradready.com.au/gamsat-chemistry', target: :_blank}
              How to prepare for GAMSAT
              %sup ®
              Chemistry
            %br
            What to expect and how to prepare for Chemistry in the GAMSAT
            %sup ®
            exam.
          %li
            %a.green{href: 'https://gradready.com.au/gamsat-physics', target: :_blank}
              How to prepare for GAMSAT
              %sup ®
              Physics
            %br
            What to expect and how to prepare for Physics in the GAMSAT
            %sup ®
            exam.
          %li
            %a.green{href: 'https://gradready.com.au/gamsat-biology', target: :_blank}
              How to prepare for GAMSAT
              %sup ®
              Biology
            %br
            What to expect and how to prepare for Biology in the GAMSAT
            %sup ®
            exam.
        %p
          For further tips and advice make sure you sign up for our
          %a{href: "https://gradready.com.au/gamsat-preparation-courses/free-gamsat-trial", target: :_blank}
            %strong
              GAMSAT
              %sup ®
              Free Trial
          = '- Our tutors have also released a podcast on this very topic, so make sure you have a listen!'
        .tab-content
          .container.video_container_width
            .episode-frame
              %iframe.iframe_class{src: @podcast.frame_url, frameborder: "0", scrolling: "no", style: 'width: -webkit-fill-available; margin-top: 25px; margin-bottom: 25px;'}
        %p.mtop_zero
          %ol.ordr_list
            .boxed
              Get Access to:
              %ul{:style => "list-style-type:none;padding: 16px 0px;line-height: 0.9;"}
                %li 50 Free MCQs
                %li Week-By-Week Study Guide
                %li Complete Session 3 Topic List
                %li Recorded Webinars
              .free_gamsat_icon
                = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/free_trial.png', class: "icon30"
              .button_right_section
                %a.free_trial_btn.hvr-shutter-in-horizontal{href: "/gamsat-preparation-courses/free-gamsat-trial", target: :_blank} GAMSAT Free Trial

:css
  .preparation_col h3 {
    font-size: 20px !important;
  }
  @media only screen and (min-width: 260px) and (max-width: 767px){
    .highlight_box{
      padding: 10px 0px;
    }
    .green_box .div_left.pad_lf80 {
      padding-left: 20px;
    }
    .green_box .div_ryt.pad_lf130{
      padding-left: 30px;
    }
    .highlight_box .div_ryt {
      width: 47%;
    }
    .mob_padlft30{
      padding-left:30px;
    }
    .iframe_class{
      height: 102px ;
      width: 700px ;
    }

    .iframe_class{
      width: 100%;
    }

    .mob_pad0{
      padding: 0;
    }
  }

:javascript
  $(".open_recommender").click(function(){
    $("#course-recommender .cr").addClass("cr--on")
  });
  // Select all links with hashes
  $('a[href*="#"]')
  // Remove links that don't actually link to anything
  .not('[href="#"]')
  .not('[href="#0"]')
  .click(function(event) {
    // On-page links
    if (
      location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
      &&
      location.hostname == this.hostname
    ) {
      // Figure out element to scroll to
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      // Does a scroll target exist?
      if (target.length) {
        // Only prevent default if animation is actually gonna happen
        event.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top-74
        }, 1000, function() {
          // Callback after animation
          // Must change focus!

        });
      }
    }
  });



