- title "Free GAMSAT Practice Questions and Preparation Material"
- meta_description "Get access to our Free GAMSAT Practice Questions and heaps of other Free GAMSAT Preparation Materials. Start your preparation, test your knowledge and improve your GAMSAT Results. Review our guides for each Section with links to free online resources"
- meta_keywords "gamsat practice test, gamsat practice questions"

%section.talk_to_bg.home_faq.dashboard_bg
  #typed.notification_bar
    %p
      = render 'pages/partial/announcement', product_line: map_path_to_prodline(request.env['PATH_INFO']), relative: false
  .container.public_container
    .support_col.looking_corse.text-center.gradready_question
      %h1
        Free GAMSAT
        Practice Questions and Materials
%section.faq_wrapper.faq_details
  .row
    .container.public_container
      .download-counter-badge
        %i.fa.fa-user{'aria-hidden': "true"}
        %p.download_read= show_download_hit_count
      .preparation_col.head_aftr_none
        %p.mtop_zero
          Completing GAMSAT
          %sup ®
          Practice Questions is arguably the most important aspect of your GAMSAT
          %sup ®
          Exam Preparation as it allows you to develop your reasoning skills and familiarise yourself with the style of questions you’ll face on the day of the exam. Practicing with GAMSAT
          %sup ®
          Style Questions is often one part of an overall preparation strategy and is usually approached following a familiarisation with the different areas of content that typically appear in the GAMSAT
          %sup ®
          Exam.

        %p
          To learn more, you can visit our free guide on
          %a.green{href: "/gamsat-preparation", target: :_blank}
            %strong
              How to Prepare for the GAMSAT
              %sup ®
          = ". In addition, if you’re yet to familiarise yourself with the different sections of the GAMSAT"
          %sup ®
          Exam, you can find further free GAMSAT
          %sup ®
          Preparation Materials here:


        %ol.section_listing
          %li.mbot20
            %h3.mtop10
              GAMSAT
              / %sup ®
              Preparation Materials: Section 1
            %p.free_practice_list.mbot0
              %b Guide:
              %a.green{href: "/gamsat-section-1", target: :_blank}
                %strong
                  How to Prepare for GAMSAT
                  %sup ®
                  Section 1
            %p
              An overview of what to expect in Section 1 of the GAMSAT
              %sup ®
              Exam and how to prepare: Includes study tips, MCQ tricks and a reading list.

          %li.mbot20
            %h3.mtop30
              GAMSAT
              / %sup ®
              Preparation Materials: Section 2
            %p.free_practice_list.mbot0
              %b Guide:
              %a.green{href: "/gamsat-section-2", target: :_blank}
                %strong
                  How to Prepare for GAMSAT
                  %sup ®
                  Section 2
            %p
              An overview of what to expect in Section 2 of the GAMSAT
              %sup ®
              Exam and how to prepare: Learn how to build up an ideas bank and how to structure your writing.

            %p.free_practice_list.mbot0
              %b Essay Topics:
              %a.green{href: "/gamsat-quote-generator", target: :_blank}
                %strong
                  Free GAMSAT
                  %sup ®
                  Section 2 Quote Generator
            %p
              Get over 90 free essay topics for Section 2 of the GAMSAT
              %sup ®
              Exam

            %p.free_practice_list.mbot0
              %b Guide:
              %a.green{href: "/gamsat-example-essay", target: :_blank}
                %strong GAMSAT Example Essays
            %p
              Download our GAMSAT
              %sup ®
              Essay Writing guide with 3 marked GAMSAT
              %sup ®
              example essays of varying qualities.

          %li
            %h3.mtop30
              GAMSAT
              / %sup ®
              Preparation Materials: Section 3
            %p.free_practice_list.mbot0
              %b Guide:
              %a.green{href: "/gamsat-section-3", target: :_blank}
                %strong
                  How to Prepare for GAMSAT
                  %sup ®
                  Section 3
            %p
              An overview of what to expect in Section 3 of the GAMSAT
              %sup ®
              Exam and how to prepare. Get a topic list of everything you need to know for Biology, Chemistry and Physics.
            %p.free_practice_list.mbot0
              %b Guide:
              %a.green{href: "/gamsat-biology", target: :_blank}
                %strong
                  How to Prepare for GAMSAT
                  %sup ®
                  Biology
            %p
              Get even further details and specific tips for the Biology component of Section 3 of the GAMSAT
              %sup ®
              Exam
            %p.free_practice_list.mbot0
              %b Guide:
              %a.green{href: "/gamsat-chemistry", target: :_blank}
                %strong
                  How to Prepare for GAMSAT
                  %sup ®
                  Chemistry
            %p
              Further advice and information specific to GAMSAT
              %sup ®
              Section 3 Chemistry - Get a detailed breakdown of various topics.
            %p.free_practice_list.mbot0
              %b Guide:
              %a.green{href: "/gamsat-physics", target: :_blank}
                %strong
                  How to Prepare for GAMSAT
                  %sup ®
                  Physics
            %p
              Not sure about the value of preparing for GAMSAT
              %sup ®
              Physics? Think again - The Physics component of Section 3 can be a key separator of student performance, get further details on how to prepare.
        %p
          It’s important to remember that the GAMSAT
          %sup ®
          exam that tests your reasoning and problem solving skills rather than your recall of specific content - As such, it's important that you avoid trying to study for it as if it were a knowledge-based exam. The greater focus should lie in learning to apply that knowledge and using it in a problem-solving setting -  i.e. Problem Based Learning (you can learn more
          %a.green{href: "https://citl.illinois.edu/citl-101/teaching-learning/resources/teaching-strategies/problem-based-learning-(pbl)", target: :_blank}
            %strong
              here
          = "). This is most effectively done by completing GAMSAT"
          %sup ®
          Practice Questions.


      .preparation_col.head_aftr_none
        %h2#section2IdeaBank
          GradReady GAMSAT
          / %sup{style: "text-decoration:none"} ®
          Free Trial
        %p.mtop_zero
          To get even more free MCQs, make sure you sign up for our GAMSAT Free Trial which includes 50 free MCQs from our Intelligent MCQ Bank as well as a wealth of other free resources.
        %p
          .boxed
            Get Access to:
            %ul{:style => "list-style-type:none;padding: 13px 0px;"}
              %li 50 Free MCQs
              %li Week-By-Week Study Guide
              %li Complete Session 3 Topic List
              %li Recorded Webinars
            .free_gamsat_icon
              = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/free_trial.png', class: "icon30"
            .button_right_section
              %a.free_trial_btn.hvr-shutter-in-horizontal{href: "/gamsat-preparation-courses/free-gamsat-trial"} GAMSAT Free Trial
        %p.mtop_zero
          Our Intelligent GAMSAT
          %sup ®
          MCQ Bank utilises cutting edge web education technology in performance tracking and topic targeting.
        %p
          The 4000+ MCQs are categorised into 43 subtopics - our advanced MCQ system not only tracks your performance in each subtopic, it also allows you to create sets of MCQs based on subtopics of your choosing – meaning you can focus on what you need to. In addition, you are able to set the difficulty of the questions, allowing you to tailor the MCQs to your own ability. Fully Worked Solutions are provided for all MCQs.
        %p
          We are the only GAMSAT
          %sup ®
          Preparation Provider with our own proprietary online system - Unlike other providers who simply purchase a 3rd Party System, we’ve gone to the trouble of creating our online system to allow you to track your performance, quickly identifying your weaknesses and pointing you to the most relevant materials and even tutor assistance. Our online algorithmic-assisted resources are designed to provide you with a targeted experience and makes learning into a science.
        %p
          In addition, because it is a proprietary system, we are able to constantly make updates in line with student feedback to ensure that students are getting the best learning experience possible. Our newly updated Online Learning Management systems means that we are the only GAMSAT
          %sup ®
          Preparation Provider with a mobile-friendly experience - You can now utilise our Intelligent MCQ Bank whenever and wherever your phone goes.

      .preparation_col.head_aftr_none
        %h2#section2IdeaBank
          Free GAMSAT
          / %sup{style: "text-decoration:none"} ®
          Practice Questions
        %p.mtop_zero
          If you’re looking for some free GAMSAT
          %sup ®
          Practice Questions, you can find several examples below, separated according to their different Sections:

        %ol
          %li
            %a{href: "#Section1PracticeQuestion"}
              GAMSAT
              %sup ®
              Section 1 Practice Question
          %li
            %a{href: "#Section2PracticeQuestion"}
              GAMSAT
              %sup ®
              Section 2 Practice Question
          %li
            %a{href: "#Section3BioPracticeQuestion"}
              GAMSAT
              %sup ®
              Section 3 Biology Practice Question
          %li
            %a{href: "#Section3ChemPracticeQuestion"}
              GAMSAT
              %sup ®
              Section 3 Chemistry Practice Question
          %li
            %a{href: "#Section3PhyPracticeQuestion"}
              GAMSAT
              %sup ®
              Section 3 Physics Practice Question
          %li
            %a{href: "#Answers"}
              Answers


      .preparation_col.head_aftr_none.ex_essay_col
        %h3.mtop10.mbot20#Section1PracticeQuestion
          GAMSAT
          / %sup ®
          Section 1 Practice Question
        %p
          The following is a poem titled
          %b A Bird Came Down The Walk
          by Emily Dickinson.
        .row
          .col-md-6
            %p
              A bird came down the walk:
              %br
              He did not know I saw;
              %br
              He bit an angle-worm in halves
              %br
              And ate the fellow, raw.
            %p
              And then he drank a dew
              %br
              From a convenient grass,
              %br
              And then hopped sidewise to the wall
              %br
              To let a beetle pass.
            %p
              He glanced with rapid eyes
              %br
              That hurried all abroad,
              %br
              They looked like frightened beads, I thought;
          .col-md-6
            %p
              He stirred his velvet head
            %p
              Like one in danger; cautious,
              %br
              I offered him a crumb,
              %br
              And he unrolled his feathers
              %br
              And rowed him softer home
            %p
              Than oars divide the ocean,
              %br
              Too silver for a seam,
              %br
              Or butterflies, off banks of noon,
              %br
              Leap, splashless, as they swim.

        %p.mbot10 1. What theme is most evident in A Bird Came Down The Walk?
        %ul
          %li a) Cruelty
          %li b) Benevolence
          %li c) Nature
          %li d) Humanity


        %p.mbot10
          2. In the final two stanzas, the bird is described as flying away. The depiction that the bird's flight "rowed him softer..." than oars dividing the ocean implies:

        %ul
          %li a) Natural beauty surpasses man-made beauty
          %li b) Passage by flight is more inspiring than passage by sea
          %li c) There is a stark, superficial, contrast between animals and humans
          %li d) Nature supersedes nurture

      .preparation_col.head_aftr_none
        %h3.mtop10.mbot20#Section2PracticeQuestion
          GAMSAT
          / %sup ®
          Section 2 Practice Question

        .highlight_box.gamsat-prep.bg_nn
          %h4 Theme: Knowledge
          %ol
            %li
              A little knowledge is a dangerous thing. So is a lot.
              %i (Albert Einstein)
            %li
              Some people still think knowledge is power.
              %i (Chuck Palahniuk, Lullaby)
            %li
              The power of human thought grows exponentially with the number of minds that share that thought.
              %i (Dan Brown, The Lost Symbol)
            %li
              The thing that's important to know is that you never know. You're always sort of feeling your way.
              %i (Diane Arbus, Diane Arbus Revelations)
            %li
              Any fool can know. The point is to understand.
              %i (Albert Einstein)
        %p
          You can find more free GAMSAT
          %sup ®
          Essay Topics and a Free GAMSAT
          %sup ®
          Essay Quote Generator at our guide here:
          %a.green{href: "/gamsat-section-2", target: :_blank}
            %strong
              GAMSAT
              %sup ®
              Section 2 Essays: How to Prepare

        %p
          You can find some free example essays here:
          %a.green{href: "/gamsat-example-essay", target: :_blank}
            %strong
              Free GAMSAT
              %sup ®
              Example Essay


      .preparation_col.head_aftr_none
        %h3.mtop10.mbot20#Section3BioPracticeQuestion
          GAMSAT
          / %sup ®
          Section 3 Biology Practice Question

        .que_img
          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/bio_graph.png', alt: "GAMSAT Section 3 Biology Practice Question"
        %p
          The diagram above shows the absorbance of NAD+ and NADH at various wavelengths of light. As NAD+ is a dinucleotide it absorbs, like all nucleotides, strongly in the 260-280 nm range. It can also be seen that the protonated form exhibits a modified absorbance spectra.
        %p
          An important biochemical measure of the health of a cell is known as the redox state and is the ratio of NAD+ to NADH. A healthy cell has a redox state of around 700. This high ratio makes oxidative reactions favourable and thus enables oxidative phosphorylation, or the aerobic formation of ATP.
        %p
          To do this, reference samples of known concentrations of NAD+ and NADH are made up and measured in a spectrophotometer. The unknown samples are then measured and compared to the reference samples to determine the quantity of NAD+ or NADH in the sample.

        %p
          A molecular biologist has a number of samples that they wish to test the redox state of. For each question select the correct answer using the knowledge provided in this section

        %p
          1. What wavelength would be most appropriate for determining the concentration of NAD
          %sup +
          ?
        %ul
          %li.mbot20
            a) 240 nm
          %li.mbot20
            b) 260 nm
          %li.mbot20
            c) 340 nm
          %li
            d) 300 nm

        %p
          2. What wavelength would be most appropriate for determining the concentration of NADH when discriminating against NAD
          %sup +
          concentration?
        %ul
          %li.mbot20
            a) 240 nm
          %li.mbot20
            b) 260 nm
          %li.mbot20
            c) 340 nm
          %li
            d) 300 nm

        %p
          3. What redox state would most likely be found in a cell that was overwhelmed with the work of metabolizing alcohol?

        %ul
          %li.mbot20
            a) NAD+/NADH greater than 700
          %li.mbot20
            b) NAD+/ NADH less than 700
          %li.mbot20
            c) NAD+/ NADH equal to 700
          %li
            d) Not enough information to determine

      .preparation_col.head_aftr_none
        %h3.mtop10.mbot20#Section3ChemPracticeQuestion
          GAMSAT
          / %sup ®
          Section 3 Chemistry Practice Question

        .que_img
          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/chem_graph.png', alt: "GAMSAT Section 3 Chemistry Practice Question"
        %p
          The increased emission of carbon dioxide into the atmosphere leads to a decrease in the pH of ocean water due to a chemical equilibrium between carbon dioxide (CO
          %sub{style: "margin-left: -4px;"} 2
          ) and carbonic acid (H
          %sub{style: "margin-left: -4px;"} 2
          CO
          %sub{style: "margin-left: -4px;"} 3
          ) which can then contribute protons into the ocean:
        %p.text-center
          CO
          %sub{style: "margin-left: -4px;"} 2
          + H
          %sub{style: "margin-left: -4px;"} 2
          O ↔  H
          %sub{style: "margin-left: -4px;"} 2
          CO
          %sub{style: "margin-left: -4px;"} 3
        %p.text-center
          H
          %sub{style: "margin-left: -4px;"} 2
          CO
          %sub{style: "margin-left: -4px;"} 3
          ↔ H
          %sup +
          + HCO
          %sub{style: "margin-left: -4px;"} 3
          %sup -
        %p.text-center
          HCO
          %sub{style: "margin-left: -4px;"} 3
          %sup -
          ↔ H
          %sup +
          + CO
          %sub{style: "margin-left: -4px;"} 3
          %sup 2-

        %p
          The relative abundance of the above species at a given pH is represented on a Bjerrum Plot.
        %p
          1. In 1751 the ocean pH was 8.25, but it is expected by 2100 that [H+] in the ocean will increase by 2.5 fold.  Which of the following indicates the expected ocean pH in 2100?

        %ul
          %li.mbot20
            a) 10.75
          %li.mbot20
            b) 7.85
          %li.mbot20
            c) 7.25
          %li
            d) 5.75

        %p
          2. The initial [H
          %sup +
          ] in 1751 was 5.62 * 10
          %sup -9
          M, and Ca(OH)
          %sub{style: "margin-left: -4px;"} 2
          is a strong base that is expected to dissociate completely.  How much Ca(OH)
          %sub{style: "margin-left: -4px;"} 2
          (1.0 M) would be required to return a 4 L water sample from the year 2100 back to the acidities of year 1751?

        %ul
          %li.mbot20
            a) 11.2 nanolitres
          %li.mbot20
            b) 17.0 nanolitres
          %li.mbot20
            c) 28.1 nanolitres
          %li
            d) 56.2 nanolitres

        %p
          3. Oceanic species such as corals and plankton have calcium carbonate (CaCO
          %sub{style: "margin-left: -4px;"} 3
          ) skeletal structures that require the levels of CO
          %sub{style: "margin-left: -4px;"} 3
          %sup 2-
          to be saturated in ocean waters.  What effect would an increase in CO
          %sub{style: "margin-left: -4px;"} 2
          emissions have on these species?

        %ul
          %li.mbot20
            a) The dissolving of their skeletons
          %li.mbot20
            b) The forming of carbonate aggregates on their skeletons
          %li.mbot20
            c) A thriving environment for skeletal formation
          %li
            d) No obvious effect

      .preparation_col.head_aftr_none
        %h3.mtop10.mbot20#Section3PhyPracticeQuestion
          GAMSAT
          / %sup ®
          Section 3 Physics Practice Question

        .que_img
          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/phy_graph.jpg', alt: "GAMSAT Section 3 Physics Practice Question"
        %p
          Hydraulic force multiplication is one of the mechanisms that allow the force applied to a car’s brake pedal by a person's foot to be multiplied to a level that can stop a car quickly. A very simplified diagram is provided below.

        %p
          Piston A and B are both cylindrical and are at the same height. The fluid used, in blue, is water. The diameter of Piston A is 10 cm.

        %p
          1. How much pressure would the person be applying to the water if they push down on the brake pedal with 200 N of force?


        %ul
          %li.mbot20
            a) 10/π kPa

          %li.mbot20
            b) 2/π kPa
          %li.mbot20
            c) 20/π kPa

          %li
            d) 80/π kPa

        %p
          2. It is known that a fluid’s density increases as temperature increases and decreases as the temperature decreases. If the efficiency of the hydraulic braking system is defined as how effectively the forces are multiplied, what happens to the braking system efficiency on a hot day?

        %ul
          %li.mbot20
            a) Pressure increases, brake efficiency increases

          %li.mbot20
            b) Pressure increases, Brake efficiency decreases
          %li.mbot20
            c) Pressure decreases, Brake efficiency remains constant
          %li
            d) Pressure increases, brake efficiency remains constant


      .preparation_col.head_aftr_none
        %h2#Answers
          GAMSAT
          / %sup{style: "text-decoration:none"} ®
          Practice Question Answers


      .preparation_col.head_aftr_none
        %h3.mtop_zero
          Section 1 Answers
        %p 1. C is correct.
        %p Dickinson repeatedly compares and contrasts the cruelty/fear ("...bit an angle-worm in halves" depicting the predator-prey relationship between bird and worm) and beauty ("...he unrolled his feathers, And rowed him softer home") of nature. Students may interpret the poem to represent the other themes, however these are either not suggested (Answers 1 and 2) or a minor theme (Answer 4).


        %p 2. A is correct.
        %p As the comparative 'softer' is used, it suggests that the natural sight of a bird flying is more beautiful than boat oars that create gentle ripples in the water. This implies natural beauty surpasses man-made beauty, as oars and boats are man-made. Use of enjambment (the continuation of a sentence without a pause beyond the end of a line, couplet, or stanza) creates a relaxed tone.

      .preparation_col.head_aftr_none
        %h3.mtop10
          Section 3 Biology Answers
        %p 1. B is correct.
        %p
          260nm is the answer as this is in the range light is most strongly absorbed by NAD
          %sup +
          , which assists its measurement by a spectrophotometer
        %p 2. C is correct.
        %p
          At 340nm, there is the greatest amount of difference between the standard molar absorbance of NAD
          %sup +
          and NADH, and this would be the most appropriate point to measure the two comparatively.

        %p 3. B is correct.
        %p
          In the stem, it is indicated that '
          %i a healthy cell has a redox state of around 700. This high ratio makes oxidative reactions favourable and thus enables oxidative phosphorylation, or the aerobic formation of ATP
          = "'."
        %p We can infer that a cell overwhelmed with the work of metabolizing alcohol is less healthy, and therefore the ratio would be less than 700.
        %p
          The enzymes used to metabolise ethanol (ADH and ALDH2) reduce NAD
          %sup +
          to NADH, and therefore the cellular NAD
          %sup +
          = "/ NADH redox ratio is lowered as a consequence of ethanol metabolism."

      .preparation_col.head_aftr_none
        %h3.mtop10
          Section 3 Chemistry Answers
        %p 1. B is correct.
        %p Students should be familiar with pH being a logarithmic scale with a change in 1 pH unit corresponding to a [H+] change of a factor of 10. Therefore, for an acidification with a [H+] factor change of 2.5 the pH is expected to decrease, but by less than 1 pH unit.  The only answer that fulfills this criteria is B.
        %p 2. B is correct.
        %p
          Calculate difference in proton concentration by determining concentration in 2100 and taking away initial concentration.
        %p
          In 1751: [H
          %sup +
          ] = 5.62 * 10
          %sup -9
          M (mol L
          %sup -1
          )
        %p.mr_lft.mbot0
          Multiply by 2.5 to get 2100 levels:  [H
          %sup +
          ] = 14.1 * 10
          %sup -9
          mol L
          %sup -1
        %span.mr_lft_52
          Difference in [H
          %sup +
          ] (2100 levels - 1751 levels) =  8.48 * 10
          %sup -9
          mol L
          %sup -1
        %p
          Determine amount of H
          %sup +
          to be neutralised in a 4 L sample (multiply difference by 4 L):
        %p.mr_lft
          4 L sample = 33.9 * 10
          %sup -9
          mol to be neutralised
        %p
          Each Ca(OH)
          %sub{style: "margin-left: -4px;"} 2
          provides two hydroxides, therefore we require half this amount of Ca(OH)
          %sub{style: "margin-left: -4px;"} 2
          = ":"
        %p.mr_lft
          n(Ca(OH)
          %sub{style: "margin-left: -4px;"} 2
          ) = 17.0 * 10
          %sup -9
          mol
        %p
          Concentration is 1.0 M (mol L
          %sup -1
          ), therefore answer is 17.0 nanolitres (17.0 * 10
          %sup -9
          L).

        %p 3. A is correct.

        %p
          Of the extra carbon dioxide added into the oceans, some remains as dissolved carbon dioxide, while the rest contributes towards making additional carbonic acid and additional bicarbonate as in the equilibria. This also increases the concentration of hydrogen ions, and the percentage increase in hydrogen is larger than the percentage increase in bicarbonate, creating an imbalance in the reaction HCO
          %sub{style: "margin-left: -4px;"} 3
          %sup −
          ↔ CO
          %sub{style: "margin-left: -4px;"} 3
          %sup 2−
          + H
          %sup +
          = ". To maintain chemical equilibrium, some of the carbonate ions already in the ocean combine with some of the hydrogen ions to make further bicarbonate. Thus the ocean's concentration of carbonate ions is reduced, creating an imbalance in the reaction Ca"
          %sup 2+
          + CO
          %sub{style: "margin-left: -4px;"} 3
          %sup 2-
          ↔ CaCO
          %sub{style: "margin-left: -4px;"} 3
          , and making the dissolution of formed CaCO
          %sub{style: "margin-left: -4px;"} 3
          structures more likely. In other words, the CO32- concentration drops, so that the ocean is no longer saturated and CO
          %sub{style: "margin-left: -4px;"} 3
          %sup 2-
          dissolves from the coral. This can be seen on the Bjerrum plot - as pH drops, the concentration of CO
          %sub{style: "margin-left: -4px;"} 3
          %sup 2-
          drops too.

      .preparation_col.head_aftr_none
        %h3.mtop10
          Section 3 Physics Answers
        %p 1. D is correct.
        %p
          Using the formula P=F/A and keeping in mind that the
          %b radius
          of Piston A is 5 cm ,

        .highlight_box
          .cstm_frmula
            %span p =
            .cstm_frmula_col
              %p.text-center.brdr_btm 200
              %p
                π x 5
                %sup 2
            .cstm_frmula_col
              %p.text-center.brdr_btm N
              %p
                cm
                %sup 2

          .cstm_frmula
            %span &nbsp; =
            .cstm_frmula_col
              %p.text-center.brdr_btm 200
              %p
                π x 25
            .cstm_frmula_col
              %p.text-center.brdr_btm N
              %p
                cm
                %sup 2

          .cstm_frmula
            %span &nbsp; =
            .cstm_frmula_col
              %p.text-center.brdr_btm 8
              %p
                π
            .cstm_frmula_col
              %p.text-center.brdr_btm N
              %p
                cm
                %sup 2

          .cstm_frmula
            %span &nbsp; =
            .cstm_frmula_col
              %p.text-center.brdr_btm 8
              %p
                π
            .cstm_frmula_col
              %p.text-center.brdr_btm N
              %p
                (1/100m)
                %sup 2

          .cstm_frmula
            %span &nbsp; =
            .cstm_frmula_col
              %p.text-center.brdr_btm 8
              %p
                π
            .cstm_frmula_col
              %p.text-center
                X
            .cstm_frmula_col
              %p.text-center
                100
                %sup 2
            .cstm_frmula_col
              %p.text-center.brdr_btm N
              %p
                m
                %sup 2

          .cstm_frmula
            %span &nbsp; =
            .cstm_frmula_col
              %p.text-center.brdr_btm 8
              %p
                π
            .cstm_frmula_col
              %p.text-center
                X
            .cstm_frmula_col
              %p.text-center
                10
                %sup 4
            .cstm_frmula_col
              %p.text-center Pa

          .cstm_frmula
            %span &nbsp; =
            .cstm_frmula_col
              %p.text-center.brdr_btm 80
              %p
                π
            .cstm_frmula_col
              %p.text-center kPa

        %p
          Remember that Pa (pascals) is the equivalent of N/m
          %sup 2
        %p 2. D is correct.
        %p
          On a hot day, the density of the water increases.
          Using the formula P = ρ X g X h it is clear that if the density (ρ) increases, then the pressure will increase.
        %p
          However, this pressure increase is applied to both pistons. While this might increase the force applied to the water in Piston A, it increases the force applied to Piston B by the same proportion. In other words, the
          %b ratio
          of forces between the pistons remains the same, so the brake efficiency remains the same.

      .preparation_col.head_aftr_none
        %h2#furtherPrepMat
          Further Free GAMSAT
          / %sup ®
          Preparation Materials
        %p.mtop_zero
          %ol.ordr_list
            %li
              %h5
                %a{href: "/free-gamsat-preparation-materials", target: :_blank}
                  Free GAMSAT Preparation Materials
              %p.mtop_zero
                The most comprehensive library of free GAMSAT Preparation materials available.
            %li
              %h5
                %a{href: "/gamsat-scores", target: :_blank}
                  Understanding your GAMSAT
                  %sup ®
                  Results
              %p.mtop_zero
                Covers everything you need to know about your GAMSAT
                %sup ®
                Results - How the scoring works, result release dates and even GAMSAT
                %sup ®
                score cutoffs.

            %li
              %h5
                %a{href: "/gamsat-preparation", target: :_blank}
                  How to study for the GAMSAT
                  %sup ®
                  Exam
              %p.mtop_zero
                A breakdown of how to approach study effectively and how to set up a GAMSAT
                %sup ®
                study schedule
            %li
              %h5
                %a{href: "/gamsat-section-1", target: :_blank}
                  How to prepare for GAMSAT
                  %sup ®
                  Section 1
              %p.mtop_zero
                An overview of what to expect in Section 1 of the GAMSAT
                %sup ®
                Exam and how to prepare.
            %li
              %h5
                %a{href: "/gamsat-section-2", target: :_blank}
                  How to prepare for GAMSAT
                  %sup ®
                  Section 2
              %p.mtop_zero
                An overview of what to expect in Section 2 of the GAMSAT
                %sup ®
                Exam, how to prepare and how to perfect your essay technique.
            %li
              %h5
                %a{href: "/gamsat-section-3", target: :_blank}
                  How to prepare for GAMSAT
                  %sup ®
                  Section 3
              %p.mtop_zero
                An overview of what to expect in Section 3 of the GAMSAT
                %sup ®
                Exam and how to prepare for each of the topics - Biology, Chemistry, & Physics.
            %li
              %h5
                %a{href: "/gamsat-biology", target: :_blank}
                  How to prepare for GAMSAT
                  %sup ®
                  Biology
              %p.mtop_zero
                Get even further details and specific tips for the Biology component of Section 3 of the GAMSAT
                %sup ®
                Exam
            %li
              %h5
                %a{href: "/gamsat-chemistry", target: :_blank}
                  How to prepare for GAMSAT
                  %sup ®
                  Chemistry
              %p.mtop_zero
                Further advice and information specific to GAMSAT
                %sup ®
                Section 3 Chemistry - Get a detailed breakdown of various topics.
            %li
              %h5
                %a{href: "/gamsat-physics", target: :_blank}
                  How to prepare for GAMSAT
                  %sup ®
                  Physics
              %p.mtop_zero
                Not sure about the value of preparing for GAMSAT
                %sup ®
                Physics? Think again - The Physics component of Section 3 can be a key separator of student performance, get further details on how to prepare.
            .boxed
              Get Access to:
              %ul{:style => "list-style-type:none;padding: 16px 0px;line-height: 0.9;"}
                / Get Access to:
                %li 50 Free MCQs
                %li Week-By-Week Study Guide
                %li Complete Session 3 Topic List
                %li Recorded Webinars
              .free_gamsat_icon
                = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/free_trial.png', class: "icon30"
              .button_right_section
                %a.free_trial_btn.hvr-shutter-in-horizontal{href: "/gamsat-preparation-courses/free-gamsat-trial"} GAMSAT Free Trial
      .preparation_col.head_aftr_none
        %h2
          GradReady GAMSAT
          / %sup ®
          Preparation Courses
        .tbl_responsive.fl_none
          %table.table.cstm_tbl.table-bordered.table-condensed.custom_table_data
            %thead
              %tr
                %th
                  Course
                %th.text-center
                  Key Features
                %th.text-center
                  Description
            %tbody
              %tr
                %td.gray_background{colspan: 3}
                  GradReady GAMSAT
                  %sup ®
                  Online Courses
              %tr.text-center
                %td
                  %a.green.fnt14{href: "/gamsat-preparation-courses/online-essentials", target: :_blank}
                    %strong Online (Essentials)
                %td
                  4000+ Intelligent MCQ Bank
                  %br
                  1200+ page Textbook
                  %br
                  8 Online Practice Exams
                %td
                  Designed for students who are unable to make our attendance classes, this course gives you the essentials to succeed.
              %tr.text-center
                %td
                  %a.green.fnt14{href: "/gamsat-preparation-courses/online-comprehensive", target: :_blank}
                    %strong Online (Comprehensive)
                %td
                  10 Marked Essays with Personal Feedback
                  %br
                  GetClarity: Tutor Assistance when you need it on whatever you need it on
                %td
                  All the features of our Online (Essentials) Course plus Marked Essays and on-demand Tutor Assistance with our GetClarity system

              %tr
                %td.gray_background{colspan: 3}
                  GradReady GAMSAT
                  %sup ®
                  Attendance Courses
              %tr.text-center
                %td
                  %a.green.fnt14{href: "/gamsat-preparation-courses/attendance-essentials", target: :_blank}
                    %strong Attendance (Essentials)
                %td
                  19 Day Course - 100+ hours of Learning
                  %br
                  Interactive Classes capped at 21 students
                  %br
                  Mock Exam and Subsequent Review
                %td
                  Includes all the Online Resources included in our Online (Essentials) Course.
              %tr.text-center
                %td
                  %a.green.fnt14{href: "/gamsat-preparation-courses/attendance-comprehensive", target: :_blank}
                    %strong Attendance (Comprehensive)
                %td
                  19 Day Course - 100+ hours of Learning
                  %br
                  10 Marked Essays with Personal Feedback
                  %br
                  GetClarity: Tutor Assistance when you need it on whatever you need it on
                %td
                  Our most popular course, includes all the live classes and Mock Exam as well as access to our Online (Comprehensive) resources
              %tr.text-center
                %td
                  %a.green.fnt14{href: "/gamsat-preparation-courses/attendance-complete-care", target: :_blank}
                    %strong Attendance (Complete Care)
                %td
                  19 Day Course - 100+ hours of Learning
                  %br
                  7 x 1 hour Private Tuition sessions
                %td
                  Everything you need to succeed – includes private tutoring sessions in addition to the Attendance (Comprehensive) Package
        %p
          To learn more about our GAMSAT
          %sup ®
          Preparation courses and compare their different components, view an in depth comparison here:
          %a{href: "/gamsat-preparation-courses#gamsat_course_table", target: :_blank}
            %strong
              GradReady Course Comparison
        %p
          If you’re not sure which course is best for you, try our
          %a.open_recommender{"data-target" => "#course_recommeder_modal", "data-toggle" => "modal", :href => "javascript:void(0)"}
            %strong
              Course Recommender.
        %p
          If you’re after a single feature, such as our Textbook, or access to our 4000+ Intelligent MCQ Bank, or if you want to customise your preparation, you can do so here:
          %a{href: "/gamsat-preparation-courses/custom", target: :_blank}
            %strong
              GradReady GAMSAT
              %sup ®
              Custom Course.

        %p.mtop_zero
          At GradReady, we pride ourselves on providing students with the
          %strong Best Results
          at the
          %strong Best Value:

        .diffr_country
          %ul.cstm_list_style
            %li.mtop_zero
              Our team is consistently reinvesting in our internal operational technology to ensure that we're constantly improving our efficiency and productivity. The end result for our students is that we stand head and shoulders above our competition in the comprehensiveness of the tools we offer and the effectiveness of our teachings  –
              %a.green{href: "/gamsat-preparation-courses#comparison_table", target: :_blank}
                %strong> all at the best value
                \.
            %li.mtop_zero
              We believe in a data-driven approach: using student performance data to fine tune our practice questions, study content and teaching styles has allowed us to achieve
              %a.green{href: "/gamsat-preparation-courses/student_testimonials#2017_perform", target: :_blank}
                %strong unparalleled results
              for our students.
            %li.mtop_zero
              We are the only provider with Statistically Significant Proven Results – our students achieved an average improvement of
              %a.green{href: "/gamsat-preparation-courses/student_testimonials", target: :_blank}
                %strong 20+ Percentile Points, 7 years in a row,
              with an average improvement of 25 Percentile Points for the May 2020 GAMSAT
              %sup ®
              exam.
            %li.mtop_zero
              We achieve these results through our interactive teaching style and adaptive online learning technologies. Our classes are capped at 21 students, and taught by a specialist tutor for each subject, tutors who are themselves Medical Students who have sat the GAMSAT
              %sup ®
              \.
            %li.mtop_zero Our online systems make learning into a science and we are the only provider with a proprietary online system that uses algorithmic-assisted, targeted learning. Unlike other providers who purchase a 3rd Party System, the targeted system that we've developed tracks your performance, quickly identifying your weaknesses and pointing you to the most relevant materials and even tutor assistance.
        %p.mtop20.flt_left
          To learn more about our courses and compare us to the competition, visit:
          %a.green{href: "/gamsat-preparation-courses", target: :_blank}
            %strong
              GradReady GAMSAT
              %sup ®
              Preparation Courses
:javascript
  $(".open_recommender").click(function(){
    $("#course-recommender .cr").addClass("cr--on")
  });
  // Select all links with hashes
  $('a[href*="#"]')
  // Remove links that don't actually link to anything
  .not('[href="#"]')
  .not('[href="#0"]')
  .click(function(event) {
    // On-page links
    if (
      location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
      &&
      location.hostname == this.hostname
    ) {
      // Figure out element to scroll to
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      // Does a scroll target exist?
      if (target.length) {
        // Only prevent default if animation is actually gonna happen
        event.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top-74
        }, 1000, function() {
          // Callback after animation
          // Must change focus!

        });
      }
    }
  });
:css
  @media only screen and (min-width: 260px) and (max-width: 767px){
    .que_img img {
      max-width: 100%;
  }
  }
