- title "GAMSAT Chemistry: How to Prepare for Section 3 Chemistry in 2022"
- meta_description "40% of Section 3 of the GAMSAT exam will test your Chemistry knowledge and reasoning skills. Learn the best ways to prepare for GAMSAT Chemistry and succeed in the exam in 2022."
- meta_keywords "gamsat chemistry"

%section.talk_to_bg.home_faq.dashboard_bg
  #typed.notification_bar
    %p
      = render 'pages/partial/announcement', product_line: map_path_to_prodline(request.env['PATH_INFO']), relative: false
  .container.public_container
    .support_col.looking_corse.text-center.gradready_question
      %h1
        GAMSAT Chemistry: How to Prepare in 2022
%section.faq_wrapper.faq_details
  .row
    .container.public_container
      .download-counter-badge
        %p.download_read= show_estimated_read_time rescue nil
        %span|
        %i.fa.fa-user{'aria-hidden': "true"}
        %p.download_read= show_download_hit_count rescue nil
      .preparation_col.head_aftr_none
        %p.mtop_zero
          It’s hard to know which discipline students find more difficult when preparing for
          %a{href: 'https://gradready.com.au/gamsat-section-3', target: :_blank}
            %strong Section 3
          of the GAMSAT
          %sup ®
          exam - GAMSAT
          %sup ®
          Chemistry or
          %a{href: 'https://gradready.com.au/gamsat-physics', target: :_blank}
            %strong Physics.
          On one hand,
          %a{href: 'https://gradready.com.au/gamsat-physics', target: :_blank}
            %strong Physics
          is generally a lot more unfamiliar to the typical student, but Chemistry makes up a larger portion of
          %a{href: 'https://gradready.com.au/gamsat-section-3', target: :_blank}
            %strong Section 3
          and the concepts and ideas covered can be more difficult to visualise and tricky to work through.
        %p
          GAMSAT
          %sup ®
          Chemistry is very much about the application of certain theories and ideas to specific problems and broadly speaking requires a smaller knowledge base than the
          %a{href: 'https://gradready.com.au/gamsat-biology', target: :_blank}
            Biology component
          of the exam. In addition, it requires a certain level of maths (similar to
          %a{href: 'https://gradready.com.au/gamsat-physics', target: :_blank}
            %strong Physics
          ) to often use the information provided - This may take the form of equations, the need to make large approximations, and the ability to work with logarithmic scales.
        %p
          This guide will help you to understand why Chemistry is important, both for the GAMSAT
          %sup ®
          Exam and in the medical profession. But most importantly, this guide will provide you with tips and advice to help maximize your efficiency when studying for GAMSAT
          %sup ®
          Chemistry.
        %ol
          %li
            %a{href: "#whatIsChemistry"}
              Why is Chemistry in the GAMSAT
              %sup ®
              ?
          %li
            %a{href: "#whatToExpect"}
              What to Expect from GAMSAT
              %sup ®
              Chemistry
          %li
            %a{href: "#bestWaysStudyChemistry"}
              How to Prepare for GAMSAT
              %sup ®
              Chemistry
          %li
            %a{href: "#chemistryTopics"}
              GAMSAT
              %sup ®
              Chemistry Topics
          %li
            %a{href: "#tipsForStudyingChemistry"}
              GAMSAT
              %sup ®
              Chemistry Study Tips
          %li
            %a{href: "#importantCognitiveSkills"}
              Important Cognitive Skills for GAMSAT
              %sup ®
              Chemistry
          %li
            %a{href: "#approachingChemistry"}
              Approaching GAMSAT
              %sup ®
              Chemistry Questions on Exam Day
          %li
            %a{href: "#freeOnlineResources"}
              Free Online GAMSAT
              %sup ®
              Chemistry Resources
          %li
            %a{href: "#furtherPreparationResources"}
              Further Preparation Resources

      .preparation_col.head_aftr_none
        %h2#whatIsChemistry
          Why is Chemistry in the GAMSAT?
        %p
          Chemistry is the scientific study of the properties and behavior of matter and covers the elements that make up matter to the compounds composed of atoms, molecules and ions: their composition, structure, properties, behavior and the changes they undergo during a reaction with other substances. It is essential in the study of medicine as chemistry underpins many of our physiological systems and functions, as well as extending to disciplines such as pharmacology and toxicology. Furthermore, chemistry is intractably intertwined with
          %a{href: 'https://gradready.com.au/gamsat-biology', target: :_blank}
            %strong biology
          and as such it’s helpful to combine the study of these two disciplines (the so-called biochemistry). Building a solid foundation of chemistry is not only important for the GAMSAT
          %sup ®
          exam, but for medical school as well.
        %p
          Reasoning in biological and chemical sciences is something medical professionals and medical students do day-to-day - It requires a solid foundation of chemistry knowledge, and then an ability to analyse how different compounds and molecules may interact with one another. For example, take electrolyte and fluid management: This is something that almost every patient in a hospital setting needs managed, and it’s essential to appreciate how different ions interact with one another, interactions with medications, and the consequences of diseases on the ability of the human body to adequately maintain the correct electrolyte and fluid balance. Take another example of the body’s acid-base balance - As medical students, you’ll learn about how your body maintains a certain pH, and the potential causes of acidaemia or alkalaemia. When it comes to management of such conditions, it’s essential for you to be able to apply the chemistry principles and understand how different treatments or management plans work.
        %p
          GAMSAT
          %sup ®
          Chemistry is designed to test these sorts of skills that will be your bread-and-butter as a future medical professional. GAMSAT
          %sup ®
          Chemistry makes up a fairly large chunk of
          %a{href: 'https://gradready.com.au/gamsat-section-3', target: :_blank}
            %strong
              section 3 of the GAMSAT
              %sup ®
              exam.
          A general rule of thumb is that around 40% of MCQs will cover Chemistry; However, do keep in mind that many questions incorporate multiple science disciplines (
          %a{href: 'https://gradready.com.au/gamsat-physics', target: :_blank}
            %strong physics,
          %a{href: 'https://gradready.com.au/gamsat-biology', target: :_blank}
            %strong biology,
          chemistry). When you consider that many medical schools place more weight on
          %a{href: 'https://gradready.com.au/gamsat-section-3', target: :_blank}
            %strong
              section 3 of the GAMSAT
              %sup ®
          in
          %a{href: 'https://gradready.com.au/gamsat-scores', target: :_blank}
            %strong
              calculating your overall GAMSAT
              %sup ®
              score
          , the importance of chemistry study in scoring well becomes even more evident.
        %p
          If you’re new to the GAMSAT
          %sup ®
          exam, this guide to the exam in general is a useful starting point:
          %a{href: 'https://gradready.com.au/what-is-gamsat', target: :_blank}
            What is the GAMSAT® Exam?

      .preparation_col.head_aftr_none
        %h2#whatToExpect
          What to expect from GAMSAT Chemistry
        %p
          Students from all backgrounds find
          %a{href: 'https://gradready.com.au/gamsat-section-3', target: :_blank}
            %strong preparing for Section 3
          challenging, and while the
          %a{href: 'https://gradready.com.au/gamsat-physics', target: :_blank}
            %strong physics content
          is often feared by students the most, the level of assumed knowledge of chemistry (and
          %a{href: 'https://gradready.com.au/gamsat-biology', target: :_blank}
            %strong biology
          ) is higher than that of physics. This means that
          %a{href: 'https://www.acer.org/au', target: :_blank}
            %strong ACER
          can assess complex chemical concepts and combine these with concepts from the realms of
          %a{href: 'https://gradready.com.au/gamsat-physics', target: :_blank}
            %strong physics
          or
          %a{href: 'https://gradready.com.au/gamsat-biology', target: :_blank}
            %strong biology.
          Though the breakdown of
          %a{href: 'https://gradready.com.au/gamsat-section-3', target: :_blank}
            %strong
              GAMSAT
              %sup ®
              Section 3
          allocates roughly 40% of questions to chemistry, units are often a mix of at least two of the sciences, plus analytical and logical reasoning skills.
        %p
          Combining disciplines makes it less likely that the content of a unit will be familiar to students. Having a confident grasp on chemistry puts you in a strong position to tackle these ‘combined units’ (which make up most of the exam), as well as the ‘pure chemistry’ units.
        .highlight_box.gamsat-prep.mbot20
          %b Don’t let the lines, letters and arrows overwhelm you!
          In a very simplistic nutshell, the GAMSAT exam comes down to assessing
          %b logical ways of thinking
          and
          %b basic scientific principles
          disguised behind complex, abstract and unfamiliar scientific contexts. 
        %p
          Chemistry in particular can seem particularly daunting in a visual sense: GAMSAT
          %sup ®
          Chemistry questions often present students with complex arrangements of large molecules or reaction pathways with lots of steps. The visual layout of long skeleton structures of chemicals, as well as jumbles of letters and numbers, can (understandably) be confronting to students, causing them to forget that the basic chemical principles still apply. Remember that the chemical structures may be new (and may have long names with lots of numbers and hyphens), but the underlying rules of chemistry still apply.
      .preparation_col.head_aftr_none
        %h2#bestWaysStudyChemistry
          How to Prepare for GAMSAT Chemistry
        %p
          The overarching process can be best summarised as the following:
        %ol
          %li
            Build up foundational GAMSAT
            %sup ®
            Chemistry knowledge
          %li
            Begin practising your application of this knowledge with GAMSAT
            %sup ®
            = '-Style MCQs'
          %li
            As you become familiar with the style of MCQs, build up an MCQ Strategy
          %li
            Make sure to track which areas and topics you are struggling with
          %li
            Gradually build up to answering MCQs under realistic conditions (i.e. time pressure)
        %p
          This is essentially a roadmap to preparing for
          %a{href: 'https://gradready.com.au/gamsat-section-3', target: :_blank}
            %strong
              Section 3 of the GAMSAT
              %sup ®
              exam
          in general, but we can tailor our approach to specifically focus on GAMSAT
          %sup ®
          Chemistry.
        %p
          The Chemistry component of the GAMSAT
          %sup ®
          exam is different in that it is much more focused on the application of concepts, that is to say the ability to apply theories and ideas to individualised problems. This is actually advantageous to students as it means that you can simply learn some basic principles and then refine how you apply them to answer questions. In addition, there is also a level of maths required. You can expect to see equations, make approximations and apply a level of pattern recognition.
        %h3#chemistryTopics
          GAMSAT Chemistry Topics
        %p
          We can organise the Chemistry topics that we regularly see in the GAMSAT
          %sup ®
          exam into the broad topics below. Remember, when looking at these topics you only want to know the principles underpinning these areas.
        .highlight_box.gamsat-prep.green_box.mbot20
          %ol
            .div_left.pad_lf80
              %li
                Atoms
              %li
                Arithmetic and Stoichiometry
              %li
                Electronegativity and Bond Polarity
              %li
                Electrons and Chemical Bonds
              %li
                Gases
              %li
                Thermodynamics and Kinetics
            .div_ryt.pad_lf130
              %li
                Acid and Bases
              %li
                Electrochemistry
              %li
                Common and Special Organic Reactions
              %li
                Stereochemistry and Projections
              %li
                Biochemistry
              %li
                Spectroscopies, Spectrometry and Laboratory Techniques
        .thought_col.mbot20
          %p.quotes_para
            %i
              Remember, when looking at these topics you only want to know the principles underpinning the chemistry
            = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/quotes_rht.png'
        %p
          For some example questions asked in Chemistry Section 3 of the GAMSAT
          %sup ®
          , visit our library of
          %a{href: 'https://gradready.com.au/gamsat-free-practice', target: :_blank}
            %strong
              Free GAMSAT
              %sup ®
              Practice Questions and Materials.
        %h3
          How to study for GAMSAT Chemistry
        %p
          The list of GAMSAT
          %sup ®
          Chemistry topics above should provide you with a good place to start your GAMSAT
          %sup ®
          study. Your approach to studying Chemistry will depend largely on your current level of background knowledge. Remember, while you need to feel confident with the assumed knowledge in chemistry, in recent years
          %a{href: 'https://gradready.com.au/gamsat-section-3', target: :_blank}
            %strong Section 3
          has become less of a traditional science exam and more of an assessment of analytical and reasoning skills in a scientific context. This has different implications for students with a strong background in chemistry and students who are less familiar with this field.
        %p
          For all students, but particularly those
          %a{href: 'https://gradready.com.au/posts/gamsat-preparation-courses/preparing-for-the-gamsat-with-a-non-science-background', target: :_blank}
            %strong from a non-science background
          , a good approach to studying the chemistry component of
          %a{href: 'https://gradready.com.au/gamsat-section-3', target: :_blank}
            %strong Section 3
          is outlined below:
        %ol
          %li
            Review the fundamental topics
          %li
            Assess your strengths & weaknesses
          %li
            Plan your study
          %li
            Jump into practice MCQs
          %li
            Put yourself under time pressure
        %h4
          Review the fundamental topics
        %p
          Having a strong base in the fundamental topics is akin to having a puzzle with some pieces already put together for you - you just have to figure out how new pieces fit in. As you can imagine, this is much more efficient than starting a puzzle completely from scratch. Your learning does not need to include memorising facts and information; rather try to appreciate the broader processes that underpin each concept and consider the consequences of changes and manipulations to these processes. Familiarity with scientific vocabulary will also allow you to navigate complex ideas more quickly. If you think about it, learning foundational content is akin to practice for dissecting and understanding new information in the GAMSAT
          %sup ®
          exam!
        %p
          It’s best to focus on active learning and engaging with the content. This usually involves comparing concepts, answering questions, and manipulating the content, rather than writing out paragraphs and trying to memorise details. As you study GAMSAT
          %sup ®
          Chemistry, aim to continuously build upon your level of knowledge by relating new concepts back to what you already know. This will not only make it easier to learn the new concepts, but also consolidate the old concepts as well.
        .thought_col.mbot20
          %p.quotes_para
            %i
              Focus your time on familiarising yourself with big-picture concepts (e.g. organic chemistry and polarity) rather than remembering minor specific details (e.g. specific reactions or reaction types). That time is better spent developing skill through practice (e.g. doing practice questions).
            = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/quotes_rht.png'
        %h4
          Assess your strengths & weaknesses
        %p
          Assess which GAMSAT
          %sup ®
          Chemistry topics you feel the most and least confident with. For example, you can use free resources like
          %a{href: 'https://www.khanacademy.org/science/chemistry', target: :_blank}
            %strong Khan Academy
          which provides written and video summaries by topic - See below for some more useful chemistry resources. It may be a good idea to rank the topics (e.g. using a traffic light system) based on how confident you feel:
        %ul.sub_listing
          %li
            %b Green:
            Confident
          %li
            %b Orange:
            Needs revision/review
          %li
            %b Red:
            Weak
        %p
          It is still important to do this step even if you have a strong background in chemistry so that you know where your strengths and weaknesses lie!
        %h4
          Plan Your Study
        %p
          Don’t forget to
          %a{href: 'https://gradready.com.au/gamsat-preparation', target: :_blank}
            %strong plan your study
          based on your rankings. Devote more time to working through the harder GAMSAT
          %sup ®
          Chemistry topics first, but give yourself a breather by looking over ‘easier’ topics from time to time (so you don’t get rusty on these). Work out which resources are the most effective for you and your studying style. The amount of time you spend building your foundational knowledge before launching into practice questions will vary depending on your science background, but don’t feel like you need to have covered everything before you start doing GAMSAT
          %sup ®
          Section 3 questions! A more time-effective method is to develop a study timetable that lets you revise concepts and then test yourself with practice questions.
        %h4
          Jump into practice MCQs
        %p
          As mentioned above,
          %a{href: 'https://gradready.com.au/gamsat-section-3', target: :_blank}
            %strong Section 3
          is not a test of memorising detailed scientific concepts; it tests how you can reach logical conclusions using scientific knowledge in unfamiliar situations. For this reason, it is very worthwhile spending as much time as you can going through practice MCQs. Do as many
          %a{href: 'https://gradready.com.au/gamsat-free-practice', target: :_blank}
            %strong
              practice GAMSAT
              %sup ®
              questions
          as you can get your hands on to help familiarise yourself with the style - This is also an effective way of identifying your weak areas.
        %p
          GAMSAT
          %sup ®
          Chemistry involves lots of patterns and rules that require practice in order for you to answer questions confidently and efficiently (remember: time is a scarce resource in the GAMSAT
          %sup ®
          Exam). Whenever you come across a concept you don’t understand, remember to go back to your study resources and look it up - Tracking these with a revision list is an effective way of doing this. Make sure you simulate test conditions as much as possible, including completing full practice exams.
        %h4
          Put yourself under time pressure
        %p
          Ideally, you want to complete as many full practice exams under timed conditions as possible: this simulates not only the time pressure but also the fact that the real GAMSAT
          %sup ®
          exam alternates rapidly between
          %a{href: 'https://gradready.com.au/gamsat-biology', target: :_blank}
            %strong biology,
          chemistry and
          %a{href: 'https://gradready.com.au/gamsat-physics', target: :_blank}
            %strong physics,
          as well as between different question styles (e.g. graphical interpretation, tables, comparative analyses, lengthy stems). Adapting your thinking style to tackle these different types of questions requires you to rapidly ‘shift gears’, which takes practice. However, remember that your aim is to get in as many practice MCQs as you can: if you don’t have time to schedule an entire practice exam (especially early on in your studying), do as many questions as possible and try to split these into random questions and questions on topics you find difficult.
        %p
          To make a start with some free MCQs, you can sign up for our GAMSAT
          %sup ®
          Free Trial which includes 50 free MCQs from our intelligent MCQ Bank, as well as heaps of other free resources!
        .boxed
          Get Access to:
          %ul{:style => "list-style-type:none;padding: 13px 0px;"}
            %li 50 Free MCQs
            %li Week-By-Week Study Guide
            %li Complete Session 3 Topic List
            %li Recorded Webinars
          .free_gamsat_icon
            = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/free_trial.png', class: "icon30"
          .button_right_section
            %a.free_trial_btn.hvr-shutter-in-horizontal{href: "/gamsat-preparation-courses/free-gamsat-trial", target: :_blank} GAMSAT Free Trial
      .preparation_col.head_aftr_none.mtop35
        %h2#tipsForStudyingChemistry
          GAMSAT Chemistry Study Tips
        %p
          As a general rule, you likely will not need to know more detail than what is listed in the chapter summaries of an average undergraduate chemistry textbook. GAMSAT
          %sup ®
          Chemistry study can be overwhelming with its amount of content and detail, but the content can seem much more reasonable once distilled down to core principles.
      .highlight_box.gamsat-prep.mbot20
        .diffr_country
          %ul.cstm_list_style
            %li.mtop_zero
              %b Atoms:
              Make sure to understand the features/structure of atoms and how these they change across the periodic table according to patterns.
            %li.mtop_zero
              %b Stoichiometry:
              Balancing chemical equations takes practice but it is a skill that is frequently assessed in the GAMSAT
              %sup ®
              Exam, especially as chemical equations often feature in biology and physics questions, too.
            %li.mtop_zero
              %b Electronegativity and Bond Polarity:
              Like equations, this concept crops up throughout the GAMSAT
              %sup ®
              Exam, as it is relevant not just to chemistry, but to biology and physics more broadly. This is an example of a topic that can assess a student’s ability to make inferences using inductive reasoning: for example students may be asked to predict or compare how various molecules will behave based on the principles of electronegativity and polarity.
            %li.mtop_zero
              %b Electrons and Chemical Bonds:
              GAMSAT
              %sup ®
              Break this topic down into the metallic, covalent, ionic and hydrogen bonding. Once you are confident with these types of bonds and how they are represented (e.g. Lewis diagrams and VSEPR theory), delve deeper into sigma and pi bonds.
            %li.mtop_zero
              %b Gases:
              Know the essential equations like PV=nRT and be comfortable manipulating them. You should understand the individual parameters of this equation and how they influence the behaviour of gases.
            %li.mtop_zero
              %b Thermodynamics and Kinetics:
              Enthalpy, entropy and Gibb’s Free Energy can seem like daunting concepts but it is important to understand them so that you can manipulate the key equations. Reaction rates (including rate-limiting steps) and different order reactions (e.g. zero order, first order etc.) may also feature in chemistry and biology questions, so make sure you familiarise yourself with these concepts.
            %li.mtop_zero
              %b Acids and Bases:
              You should be able to define what makes an acid and a base and be comfortable drawing connections between this topic, trends across the periodic table and electronegativity.
            %li.mtop_zero
              %b Electrochemistry:
              Questions addressing this topic often draw connections to concepts from physics and often involve redox equations. Make sure you are comfortable constructing reduction and oxidation half equations.
            %li.mtop_zero
              %b Organic Reactions:
              You need to have a firm grasp on nomenclature and skeleton structures of carbon compounds. You should also understand how the functional groups of a molecule affect its physical properties as well as polarity and electronegativity. This topic is a good opportunity to assess students on comparative analytical skills of unfamiliar, complex molecules (but remember that no matter how complex the molecule, functional groups all behave the same!).
            %li.mtop_zero
              %b Stereochemistry and Projections:
              3D visualisation can be tricky under exam pressure, especially when taking an online exam, so practicing drawing out different molecular conformations and enantiomers is key! Make sure you understand concepts like chirality, which is often paired with topics like Biochemistry.
            %li.mtop_zero
              %b Biochemistry:
              Synthesis pathways of protein, fat and carbohydrates, as well as the citric acid cycle, are prime areas for overlap between the disciplines of biology and chemistry. Don’t forget that these familiar concepts are never assessed in a straight-forward manner, but rather will involve stem comprehension and diagram/graph interpretation; but a solid foundation of the biochemical processes themselves will set you up to analyse the information in the unit efficiently.
            %li.mtop_zero
              %b Spectroscopies, Spectrometries and Laboratory Techniques:
              As data interpretation is a common theme across the GAMSAT
              %sup ®
              Exam, you should be familiar with the common techniques used to collect data in the field of chemistry. Again, these questions require interpretation of unfamiliar data in a familiar context: for example, you may be presented with the results of chromatography (a familiar context) from which you need to draw conclusions and compare unknown substances (unfamiliar data).
      .preparation_col.head_aftr_none
        %p
          For further free GAMSAT
          %sup®
          Exam resources, including a complete topic list for Section 3, check out a complete list here:
          %a{href: "https://gradready.com.au/free-gamsat-preparation-materials", target: :_blank}
            %strong
              Free GAMSAT
              %sup ®
              Preparation Materials
        %p
          Download our GAMSAT
          %sup ®
          Exam Study Syllabus for a full list of Section 3 topics as well as tips and advice for Section 1 and 2:
        .fr_text_center
          .full_width
          .gamsat_study_syllabus
            .gamsat_study_syllabus_icon{:style => "margin-right: 50px"}
              = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/gamsatstudysyllabus.png', class: "icon40"
          .button_right_section_study_syllabus
            %a.gamsat_study_syllabus.hvr-shutter-in-horizontal{href: "https://gradready.com.au/gamsat-study-syllabus", target: :_blank}
              GAMSAT
              %sup ®
              Study Syllabus

      .preparation_col.head_aftr_none.mtop35
        %h2#importantCognitiveSkills
          What are the most important cognitive skills for GAMSAT Chemistry?
        %p
          Section 3 of the GAMSAT
          %sup ®
          is designed to examine your reasoning and problem-solving skills rather than your recall of specific content. This section is not a test of theoretical knowledge or memory knowledge but rather the ability to reason, make logical deductions and form judgements by assessing the information provided. So in order to successfully answer GAMSAT
          %sup ®
          Chemistry questions, it is critical to develop an ability to integrate new information into an existing framework of knowledge.
        %p
          The key cognitive skill you will require is to be able to break down long and confusing questions, diagrams and graphs into relevant ‘chunks’ of information. You will then need to connect these fundamental pieces of information in a meaningful way to arrive at a logical answer.
        %p
          Why do you need this skill? As a clinician, you will constantly be facing similar situations where there is a need to combine knowledge across multiple disciplines such as microbiology, anatomy, physiology and pharmacology to arrive at an accurate diagnosis. This is why the GAMSAT® exam is designed to test you on the demands of the medical field.
        %h3
          Do you get a periodic table in the GAMSAT Exam?
        %p
          In the GAMSAT
          %sup ®
          exam, you will not be provided a periodic table. However, all the information required to answer the questions (such as the atomic weight or the atomic number) is generally provided either in the stem, the figures or the graphs.
      .preparation_col.head_aftr_none.mtop35
        %h2#approachingChemistry
          Approaching GAMSAT Chemistry Questions on Exam Day
        %p.mtop_zero
          %b
            %i Breathe!
          %br
          The body’s physiological response to stress prevents us from thinking clearly and can quickly spiral into ‘panic mode’. Simple breathing exercises before you start the exam can quieten your nerves and let you channel your adrenaline into solving the problems in front of you, instead of creating an ‘adrenaline brain fog’. Practice simple breathing exercises in the lead up to exam day. Don’t forget: nerves are normal in the GAMSAT
          %sup ®
          Exam! There will always be some level of stress, but you can find a way to turn your nerves into productivity.
        %p
          %b
            %i Back to Basics
          %br
          When you get stuck on a question or unit, take a moment to return to the basics; whether that be the ‘facts’ of the unit, or the basic scientific principles the unit is assessing. For example, return to something as simple as “I know that oxidation means that electrons are lost” and then continue your reasoning from there.
        %p
          %b
            %i Don’t Jump to Conclusions
          %br
          Make sure your thinking process is clear and systematic. Because chemistry often involves maths, you need to be able to return to your working and reassess your steps if your answer doesn’t match any of the options.

        %p
          %b
            %i Cutting Losses
          %br
          %a{href: 'https://gradready.com.au/gamsat-section-3', target: :_blank}
            %strong
              GAMSAT
              %sup ®
              Section 3
          involves a large number of questions, usually too many to get through in the time limit. Practice as best as you can and aim to attempt all the questions, but in the exam remember that sometimes you’ll need to cut your losses. If you are really struggling with a question, or you really can’t interpret a graph, it will probably be in your favour to move on so that you have more time to give the rest of the questions a go (there might be some questions that you can answer more easily waiting at the end of the exam).

        %p
          %b
            %i Never leave an answer blank!
          %br
          If you do have to move on from a question, take your best guess and select an answer then and there (don’t leave an answer blank in the hope of coming back to it, as you probably won’t have time). You can always mark it down for review on the spare paper in case you do have time to return to it, but make sure you’ve selected an answer before you move on in case you run out of time. You are not penalised for incorrect answers!
      .preparation_col.head_aftr_none
        %h2#freeOnlineResources
          Free Online GAMSAT Chemistry Resources
        %ul.sub_listing
          %li
            %a.green{href: 'https://www.khanacademy.org/science/biology', target: :_blank}
              Khan Academy
          %li
            %a.green{href: 'https://www.youtube.com/user/armandohasudungan', target: :_blank}
              Youtube - Armando Hasudungan
          %li
            %a.green{href: 'https://www.youtube.com/channel/UCNI0qOojpkhsUtaQ4_2NUhQ', target: :_blank}
              Youtube - Osmosis
          %li
            %a.green{href: 'https://www.youtube.com/user/crashcourse', target: :_blank}
              Youtube - Crash Course
          %li
            %a.green{href: 'https://www.youtube.com/channel/UC-i2EBYXH6-GAglvuDIaufQ', target: :_blank}
              Youtube - Speed Pharmacology
          %li
            %a.green{href: 'https://www.youtube.com/user/TheAnatomyZone', target: :_blank}
              Youtube - Anatomyzone
        %p
          Our GAMSAT
          %sup ®
          Free Trial includes an in-depth, day-by-day study guide for different areas of the GAMSAT
          %sup ®
          exam: Humanities, Biology, Chemistry and Physics. You can also find a wealth of further free resources including 50 free MCQs.
        .boxed
          Get Access to:
          %ul{:style => "list-style-type:none;padding: 13px 0px;"}
            %li 50 Free MCQs
            %li Week-By-Week Study Guide
            %li Complete Session 3 Topic List
            %li Recorded Webinars
          .free_gamsat_icon
            = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/free_trial.png', class: "icon30"
          .button_right_section
            %a.free_trial_btn.hvr-shutter-in-horizontal{href: "/gamsat-preparation-courses/free-gamsat-trial", target: :_blank} GAMSAT Free Trial
        %h3#conclusion
          Conclusion
        .thought_col.mbot20
          %p.quotes_para
            %i
              Chemistry is ‘money for jam’
            = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/quotes_rht.png'
        %p
          Though chemistry can seem somewhat daunting and mysterious at first (especially when presented in the form of GAMSAT
          %sup ®
          questions), the good news is that molecules behave very predictably (at least, when we study chemistry in a theoretical context such as the GAMSAT
          %sup ®
          Exam). Once you get your head around the break-down of topics in chemistry (listed above) and the essential equations, you can practice applying these rules, and you will have a solid foundation from which to jump into abstract or unfamiliar situations (which students encounter around every corner in the GAMSAT
          %sup ®
          Exam). Mastering the essential chemical principles and equations is “money for jam”: you can make a lot of jam at only a small cost and sell it for lots of money (in other words, these concepts are
          %b high yield
          because the rules themselves never change).
        %p
          %a{href: 'https://gradready.com.au/gamsat-preparation', target: :_blank}
            %strong
              The key to successful studying for the GAMSAT
              %sup ®
          is to plan out your schedule so that you maximise the time you can spend practicing and reviewing chemistry practice questions. Once you have your head around the basic concepts and equations, put them into practice!

      .preparation_col.head_aftr_none
        %h2#furtherPreparationResources
          Further Preparation Resources
        %p.mtop_zero
          %ol.ordr_list
            %li
              %h5
                %a{href: "/what-is-gamsat", target: :_blank}
                  What is the GAMSAT
                  %sup ®
                  ?
              %p.mtop_zero
                Everything you need to know about the GAMSAT
                %sup ®
                exam from structure and overview to which universities require the GAMSAT
                %sup ®
                = '.'

            %li
              %h5
                %a{href: "/gamsat-scores", target: :_blank}
                  Understanding your GAMSAT
                  %sup ®
                  Results
              %p.mtop_zero
                Covers everything you need to know about your GAMSAT
                %sup ®
                Results - How the scoring works, result release dates and even GAMSAT
                %sup ®
                score cutoffs.

            %li
              %h5
                %a{href: "/gamsat-section-1", target: :_blank}
                  How to prepare for GAMSAT
                  %sup ®
                  Section 1
              %p.mtop_zero
                An overview of what to expect in Section 1 of the GAMSAT
                %sup ®
                exam, and how to prepare.
            %li
              %h5
                %a{href: "/gamsat-section-2", target: :_blank}
                  How to prepare for GAMSAT
                  %sup ®
                  Section 2
              %p.mtop_zero
                An overview of what to expect in Section 2 of the GAMSAT
                %sup ®
                exam, how to prepare, and how to perfect your essay technique.
            %li
              %h5
                %a{href: "/gamsat-section-3", target: :_blank}
                  How to prepare for GAMSAT
                  %sup ®
                  Section 3
              %p.mtop_zero
                An overview of what to expect in Section 3 of the GAMSAT
                %sup ®
                exam, and how to prepare for each of the topics – Biology, Chemistry, & Physics.
            %li
              %h5
                %a{href: "/gamsat-biology", target: :_blank}
                  How to prepare for GAMSAT
                  %sup ®
                  Biology
              %p.mtop_zero
                What to expect and how to prepare for Biology in the GAMSAT
                %sup ®
                exam.
            %li
              %h5
                %a{href: "/gamsat-physics", target: :_blank}
                  How to prepare for GAMSAT
                  %sup ®
                  Physics
              %p.mtop_zero
                What to expect and how to prepare for Physics in the GAMSAT
                %sup ®
                exam.
        %p
          For further tips and advice make sure you sign up for our
          %a{href: "https://gradready.com.au/gamsat-preparation-courses/free-gamsat-trial", target: :_blank}
            %strong
              GAMSAT
              %sup ®
              Free Trial
          to watch a recording of our GAMSAT
          %sup ®
          Section 3 Workshop - Check out the 10 minute excerpt below
        .tab-content
          .container.video_container_width
            #grad_video_testimonial.carousel.slide.blog_slider.result_slider{"data-ride" => "carousel", "data-interval" => "false"}
              .carousel-inner.tab1
                .item.active
                  %video.video-js.vjs-default-skin.test_slide_height{controls: "", "data-autoplay" => "false", "data-autoresize" => "fit", "data-controls" => "true", "data-setup" => "{ \"playbackRates\": [2, 1.5, 1.2, 1, 0.5] }"}
                    %source{src: "https://gradready-prod.s3-ap-southeast-2.amazonaws.com/public/Section3HowtoPrepareVideoExcerpt.mp4", type: "video/mp4"}
        %p.mtop_zero
          %ol.ordr_list
            .boxed
              Get Access to:
              %ul{:style => "list-style-type:none;padding: 16px 0px;line-height: 0.9;"}
                %li 50 Free MCQs
                %li Week-By-Week Study Guide
                %li Complete Session 3 Topic List
                %li Recorded Webinars
              .free_gamsat_icon
                = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/free_trial.png', class: "icon30"
              .button_right_section
                %a.free_trial_btn.hvr-shutter-in-horizontal{href: "/gamsat-preparation-courses/free-gamsat-trial", target: :_blank} GAMSAT Free Trial
:css
  .mbtm20{
    margin-bottom: 20px !important;
  }
  @media only screen and (min-width: 260px) and (max-width: 767px){
    .highlight_box{
      padding: 10px 0px;
  }
  .green_box .div_left.pad_lf80 {
    padding-left: 20px;
    }
    .green_box .div_ryt.pad_lf130{
    padding-left: 30px;
    }
    .highlight_box .div_ryt {
      width: 47%;
  }
  .mob_padlft30{
   padding-left:30px;
  }
  }
