- title "GAMSAT Physics: How to Prepare for Section 3 Physics in 2022"
- meta_description "Although only 20% of Section 3 of the GAMSAT exam will test your Physics knowledge this oft-neglected topic can be the make or break for your Section 3 score. Learn the best ways to prepare for GAMSAT Physics and succeed in the exam in 2022."
- meta_keywords "gamsat physics"

%section.talk_to_bg.home_faq.dashboard_bg
  #typed.notification_bar
    %p
      = render 'pages/partial/announcement', product_line: map_path_to_prodline(request.env['PATH_INFO']), relative: false
  .container.public_container
    .support_col.looking_corse.text-center.gradready_question
      %h1
        GAMSAT Physics: How to Prepare in 2022
%section.faq_wrapper.faq_details
  .row
    .container.public_container
      .download-counter-badge
        %p.download_read= show_estimated_read_time rescue nil
        %span|
        %i.fa.fa-user{'aria-hidden': "true"}
        %p.download_read= show_download_hit_count rescue nil
      .preparation_col.head_aftr_none
        %p.mtop_zero
          Physics is arguably the least represented background among students who decide to sit the GAMSAT
          %sup ®
          Exam. Most students come in with a background in
          %a{href: "/gamsat-biology", target: :_blank}
            %strong biology
          or
          %a{href: "/gamsat-chemistry", target: :_blank}
            %strong chemistry
          , or at times humanities, but rarely have a strong physics background. This makes the GAMSAT
          %sup ®
          Physics questions and concepts seen on the exam seem much harder than their other subject counterparts, especially because many students intentionally avoid studying physics knowing it will be a bit of an uphill battle and instead hoping to rely on their biology and chemistry background - Don’t fall into this trap! Physics is a potentially invaluable window to increase your
          %a{href: 'https://gradready.com.au/gamsat-section-3', target: :_blank}
            %strong
              GAMSAT
              %sup ®
              Section 3
          score.
        %p
          This guide will help you to understand why Physics is important, both for the GAMSAT
          %sup ®
          Exam and in the medical profession. But most importantly, this guide will provide you with tips and advice to help maximize your efficiency when studying for GAMSAT
          %sup ®
          Physics.
        %ol
          %li
            %a{href: "#whatIsPhysics"}
              Why is Physics in the GAMSAT
              %sup ®
              ?
          %li
            %a{href: "#whatToExpect"}
              What to expect from GAMSAT
              %sup ®
              Physics
          %li
            %a{href: "#howToPrepare"}
              How to Prepare for GAMSAT
              %sup ®
              Physics
          %li
            %a{href: "#physicsTopics"}
              GAMSAT
              %sup ®
              Physics Topics
          %li
            %a{href: "#tipsForStudyingPhysics"}
              GAMSAT
              %sup ®
              Physics Study Tips
          %li
            %a{href: "#approachingPhysics"}
              Approaching GAMSAT
              %sup ®
              Physics Questions on Exam Day
          %li
            %a{href: "#freeOnlineResources"}
              Free Online GAMSAT
              %sup ®
              Physics Resources
          %li
            %a{href: "#finalAdvice"}
              Final Advice
          %li
            %a{href: "#furtherPreparationResources"}
              Further Preparation Resources

      .preparation_col.head_aftr_none
        %h2#whatIsPhysics
          Why is Physics in the GAMSAT?
        %p.mtop_zero
          It wouldn’t be exaggerating to say that the majority of students harbour a certain irrational fear towards GAMSAT
          %sup ®
          physics questions. But why? Most believe that physics-based questions are overly difficult since they did not study high school physics or have not touched any form of physics during their high school or undergraduate study. Others feel that physics is a foreign topic that extends far beyond their intellectual capabilities. The rest believe that physics and medicine go hand in hand like oranges and apples (i.e. there is absolutely no correlation between the two disciplines), hence lack the motivation to improve their understanding of basic physics.
        %p
          But do these reasons justify the notion to skip physics questions and lose valuable marks in the GAMSAT
          %sup ®
          Exam? Absolutely not! Given few students have physics backgrounds, this may very well be the separation between you and other students.
        .highlight_box.gamsat-prep.mbot20
          If most of the cohort taking the exam do quite well on the
          %a.green{href: 'https://gradready.com.au/gamsat-chemistry', target: :_blank, style: 'font-size: inherit;'}
            %strong chemistry
          and
          %a.green{href: 'https://gradready.com.au/gamsat-biology', target: :_blank, style: 'font-size: inherit;'}
            %strong biology
          portions of the exam (given most of them will have some sort of background in at least one or both of these subjects), that makes the physics questions the separator between an average and competitive percentile. A few correctly answered physics questions could mean a significant difference in your overall score and standing within your cohort, especially if the rest of the cohort is purposely avoiding studying the physics content and is skipping those questions during the GAMSAT
          %sup ®
          exam.
        %p
          Let’s go back to the belief that there is very little or no correlation whatsoever between medicine and physics - Nothing could be further from the truth! A strong foundation in physics is essential in medicine. Take for example the principles of respiration: Understanding the physics of pressure and airflow is vital to appreciating how our lungs function, understanding clinical signs of respiratory disease, and safely managing patients on mechanical ventilation. Consider the entire field of medical physics and its contributions in areas ranging from medical imaging to radiotherapy and interventional radiology. The concepts and skills covered by GAMSAT
          %sup ®
          Physics are essential in the role of a medical professional.
        %p
          If you’re new to the GAMSAT® exam, this guide to the exam in general is a useful starting point:
          %a{href: 'https://gradready.com.au/what-is-gamsat', target: :_blank}
            %strong
              What is the GAMSAT
              %sup ®
              Exam?

      .preparation_col.head_aftr_none
        %h2#whatToExpect
          What to expect from GAMSAT Physics
        %p.mtop_zero
          According to ACER, GAMSAT
          %sup ®
          Physics makes up 20% of Section 3. While this may be true, in recent years, we’ve seen
          %a{href: 'https://www.acer.org/au', target: :_blank}
            %strong ACER
          increasingly combine elements of physics within BOTH
          %a{href: 'https://gradready.com.au/gamsat-biology', target: :_blank}
            %strong biology
          and
          %a{href: 'https://gradready.com.au/gamsat-chemistry', target: :_blank}
            %strong chemistry
          questions. This means that you may find that 40-50% of GAMSAT
          %sup ®
          Section 3 MCQs actually require a certain level of maths (i.e. basic arithmetic) as well as some physics knowledge despite the stem of the question being predominantly biology or chemistry-based.
        %p
          A classic example would be a stem that reviews the flow of blood through a major artery. What happens if the blood pressure increases? Would the diameter of the blood vessel decrease/increase? Similar questions are found in the actual GAMSAT
          %sup ®
          Exam but also when you start your medical degree. Approach the GAMSAT
          %sup ®
          exam as a training ground before starting your medical career. Developing the ability to reason logically and process information systematically when given new information/formulas/data are important qualities in becoming a good doctor.
        %p
          The fear of physics is understandable but irrational. With all the pressure of expectation and time constraints, physics stems appear very difficult at just a glance. Out of the sciences, the format physics takes is often the most unfamiliar; there will be an emphasis on formulas, equations and graphs, even the options may appear alien. You will however often find that after reading through the stem and having a think about the ideas put forth, the reasoning and interpretation is mostly the same. It is the format that may be off-putting: instead of reasoning with words you might be reasoning with formulas. The important thing is to always make an honest attempt.
        %h3
          Aren’t all questions worth the same?
        %p
          The GAMSAT
          %sup ®
          Exam is marked in a certain way such that questions which are highly predictive of high scores (i.e. those that high performing students get right, and low performing students get wrong) have greater weight. For further details on this topic, refer to our guide on
          %a{href: 'https://gradready.com.au/gamsat-scores', target: :_blank}
            %strong
              GAMSAT
              %sup ®
              scores
          and
          %a{href: 'https://en.wikipedia.org/wiki/Item_response_theory', target: :_blank}
            %strong Item Response Theory.
          Since GAMSAT
          %sup ®
          physics questions tend to be poorly answered, they often are ‘worth’ more than other questions.
        %p
          According to a
          %a{href: 'https://bmcmededuc.biomedcentral.com/articles/10.1186/s12909-015-0316-3', target: :_blank}
            %strong 10-year retrospective
          , graduates of physical sciences courses (physics, maths) are more likely to perform better than their biomedical or social sciences colleagues, especially overall in GAMSAT
          %sup ®
          Section 3. Hence, there is greater incentive to nail these GAMSAT
          %sup ®
          physics questions to give you the best chance to attain a higher overall percentile.

      .preparation_col.head_aftr_none
        %h2#howToPrepare
          How to Prepare for GAMSAT Physics
        %p
          The overarching process can be best summarised as the following:
        %ol
          %li
            Build up foundational GAMSAT
            %sup ®
            Physics knowledge
          %li
            Begin practicing your application of this knowledge with GAMSAT
            %sup ®
            = '-Style MCQs'
          %li
            As you become familiar with the style of MCQs, build up an MCQ Strategy
          %li
            Make sure to track which areas and topics you are struggling with
          %li
            Gradually build up to answering MCQs under realistic conditions (i.e. time pressure)
        %p
          This is essentially a roadmap to preparing for
          %a{href: 'https://gradready.com.au/gamsat-section-3', target: :_blank}
            Section 3 of the GAMSAT
            %sup ®
            exam
          in general, but we can tailor our approach to specifically focus on GAMSAT
          %sup ®
          Physics.
        %p
          It is worth reflecting on why physics is such a difficult subject in the GAMSAT
          %sup ®
          exam. Apart from lack of familiarity with the subject, time pressure and having to perform mental calculations are challenges even for those with a background in mathematical sciences. These considerations should give you an indication on how to study for the GAMSAT
          %sup ®
          Physics questions. As with other sections of the exam, your study goal should be to become familiar with the patterns of questions so that you have a rough idea about how to answer it in the first 20 or so seconds. If you are unable to find an answer in that short time span, at least make sure you have an idea on how to make a sensible guess.
        .thought_col.mbot20
          %p.quotes_para
            %i
              Your Study Goal should include becoming familiar with the patterns of questions asked so that you have a rough idea about how to answer an MCQ in the first 20 or so seconds
            = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/quotes_rht.png'
        %h3#physicsTopics
          GAMSAT Physics Topics
        %p
          We can organise the Physics topics that we regularly see in the GAMSAT
          %sup ®
          exam into the broad topics below. Remember, when looking at these topics you only want to know the principles underpinning these areas.
        .highlight_box.gamsat-prep.green_box.mbot20
          %ol
            .div_left.pad_lf80
              %li Motion (1D and 2D Motion, Acceleration and Graphs)
              %li Newton’s Laws (in particular Equilibrium) and Torque
              %li Energy, Work and Conservation of moment
              %li Physics of Liquids (especially Pressure, Archimedes’ Principle, Buoyant Force)
              %li Electricity and Magnetism (electrostatic and magnetic forces)
            .div_ryt.pad_lf130
              %li Electric Circuits
              %li Optics
              %li Radioactive Decay and other exponential-type mathematical laws
              %li Mathematical Operations, Fractions and Scientific Notation
              %li Mathematical Functions (especially logarithmic and trigonometric functions)
        %h3
          Do I need to memorise Physics equations for the GAMSAT?
        %p
          Formulas are not everything! Remember that the GAMSAT
          %sup ®
          Exam is all about reasoning, not knowledge recall. GAMSAT
          %sup ®
          questions assess your ability to digest, interpret and detect patterns in information provided to you and for you to make logical inferences.
        %p
          Whilst memorising formulas will generally help, this is not always necessary as the GAMSAT
          %sup ®
          Physics MCQs will normally provide you with any necessary information. That said, learning how to apply such formulas, and getting practice using and manipulating them is an important part of your preparation. Too many students have a tendency to believe that GAMSAT
          %sup ®
          Physics is all about remembering formulas! This is certainly not the case - It’s much more useful to be comfortable using new formulas and manipulating some general ones than to memorise them, and ACER specifically designs GAMSAT
          %sup ®
          questions to avoid simple ‘plug-in and solve’ questions.
        %p
          What is important is that you are able to generate relationships between different formulas and have the confidence in your algebraic manipulation skills to highlight new relationships and make logical conclusions.
        %h3
          How to study for GAMSAT Physics
        %p
          The list of GAMSAT
          %sup ®
          Physics topics above should provide you with a good place to start your GAMSAT
          %sup ®
          study. Your approach to studying Physics will depend largely on your current level of background knowledge. Remember, while you need to be familiar with the assumed knowledge in Physics, in recent years
          %a{href: 'https://gradready.com.au/gamsat-section-3', target: :_blank}
            %strong Section 3
          has become less of a traditional science exam and more of an assessment of analytical and reasoning skills in a scientific context.
        %p
          There are many different approaches to studying for GAMSAT
          %sup ®
          Physics and you’ll need to find what works for you and stick to it. Below are some key tips on how to study for GAMSAT
          %sup ®
          Physics from our tutors:
        %ul.sub_listing
          %li Routine is Key
          %li Read | Check | Analyse | Repeat
          %li Focus your study & Identify weaknesses
          %li Practice Questions & Mock Exams
        %h4
          Routine is key!
        %p
          Begin studying early and create a timetable for yourself. Being consistent with your schedule and completing as many practice questions as possible is essential to build up that necessary confidence. Having a study plan allows you to keep track of your progress and make sure that you hit your key goals.
        %p
          For example -
        .highlight_box.gamsat-prep.mbot20
          %b Monthly Goal:
          Completing 400 MCQs, 2 ACER booklets and 2 Online Practice exams
          %br
          %b Weekly Goal:
          Look at what you want to get done for Physics, whilst taking into account the other sections you need to prepare for. For example, set yourself a certain amount of topics to revise and then aim to complete ~20 questions for each topic within an allocated time frame.
        %p
          Having a schedule allows you to revisit concepts multiple times over your GAMSAT
          %sup ®
          study. Spaced repetition has a plethora of evidence behind it for being an effective way to develop your content base and your analytical skills.
        %p
          For more advice on how to schedule and plan your GAMSAT
          %sup ®
          study, you can visit our guide here:
          %a{href: 'https://gradready.com.au/gamsat-preparation', target: :_blank}
            %strong
              Planning your GAMSAT
              %sup ®
              Preparation.
        %h4
          Read | Check | Analyse | Repeat 
        %p
          While these steps may seem intuitive, you’d be surprised how many students are not competently doing this. 
        %ul.sub_listing
          %li For any question you encounter (especially Physics related), take the time to read the stem carefully because most of the info required is always there! 
          %li Don’t try to memorise facts/steps for each answer (because chances are you won’t get the same question again). 
          %li Understand why you are getting questions wrong BUT ALSO why you are getting them right based on the stem provided. This is imperative to develop your problem solving and deductive reasoning especially to answer questions that you’ve never seen before.
          %li Avoid imposing a hard time limit from the start of your study as this is often counter-productive. Taking the time to answer questions right rather than doing them quickly is a much better way to help accelerate your learning and improve your scores

        %h4
          Focus your study & Identify weaknesses
        %p
          Do not be discouraged if you’re not mastering all the topics (nobody knows everything!). Instead,
          %a{href: 'https://gradready.com.au/gamsat-preparation', target: :_blank}
            %strong narrow down your study
          and hone in on your areas of weaknesses and place more emphasis on these topics in your study
        %p
          Covering as many questions as possible will reduce concerns that you are missing out on anything and help minimise wasting your valuable time on topics which rarely or never appear (which you might do if you try to study everything at once).
        %h4
          Practice Questions & Mock Exams
        %p
          %a{href: 'https://gradready.com.au/gamsat-section-3', target: :_blank}
            %strong
              GAMSAT
              %sup ®
              Section 3
          is
          %i not
          a test of memorising detailed scientific concepts; it tests how you can reach logical conclusions using scientific knowledge in unfamiliar situations. For this reason, it is very worthwhile spending as much time as you can going through practice MCQs. Do as many
          %a{href: 'https://gradready.com.au/gamsat-free-practice', target: :_blank}
            %strong
              practice GAMSAT
              %sup ®
              questions
          as you can get your hands on to help familiarise yourself with the style - This is also an effective way of identifying your weak areas.
        %p
          GAMSAT
          %sup ®
          Physics involves lots of patterns and rules that require practice in order for you to answer questions confidently and efficiently (remember: time is a scarce resource in the GAMSAT
          %sup ®
          Exam). Whenever you come across a concept you don’t understand, remember to go back to your study resources and look it up - Tracking these with a revision list is an effective way of doing this. 
        %p
          As you start to make some progress, make sure you begin to simulate test conditions as much as possible, including completing practice exams - this is the best way to test your speed and pace in answering GAMSAT
          %sup ®
          questions to finish the exam on time. This also reflects the fact that the real GAMSAT
          %sup ®
          exam alternates rapidly between
          %a{href: 'https://gradready.com.au/gamsat-biology', target: :_blank}
            %strong biology
          ,
          %a{href: 'https://gradready.com.au/gamsat-chemistry', target: :_blank}
            %strong chemistry
          and physics, as well as between different question styles (e.g. graphical interpretation, tables, comparative analyses, lengthy stems). Adapting your thinking style to tackle these different types of questions requires you to rapidly ‘shift gears’, which takes practice.
        %p
          Completing full practice exams means completing Section 1 and 2 back-to-back then taking a rest before completing
          %a{href: 'https://gradready.com.au/gamsat-section-3', target: :_blank}
            %strong
              Section 3 of the GAMSAT
              %sup ®
          in the allocated time to stimulate the actual fatigue you’ll encounter on the day. It is best to simulate this in a quiet place outside home (e.g.  university library) to experience the arduous nature of the exam in a foreign environment. Remember, surgeons have to consistently be in the operating theatre to hone on their surgical skills. Likewise, greater exposure to exam conditions to build up the necessary endurance to perform optimally (not just survive) the actual GAMSAT
          %sup ®
          exam.
        %p
          To make a start with some free MCQs, you can sign up for our GAMSAT
          %sup ®
          Free Trial which includes 50 free MCQs from our intelligent MCQ Bank, as well as heaps of other free resources!
        .boxed
          Get Access to:
          %ul{:style => "list-style-type:none;padding: 13px 0px;"}
            %li 50 Free MCQs
            %li Week-By-Week Study Guide
            %li Complete Session 3 Topic List
            %li Recorded Webinars
          .free_gamsat_icon
            = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/free_trial.png', class: "icon30"
          .button_right_section
            %a.free_trial_btn.hvr-shutter-in-horizontal{href: "/gamsat-preparation-courses/free-gamsat-trial", target: :_blank} GAMSAT Free Trial
      .preparation_col.head_aftr_none
        %h2#tipsForStudyingPhysics
          GAMSAT Physics Study Tips
        %p.mtop_zero
          Here are some further tips collated by our expert GAMSAT
          %sup ®
          Physics Tutors: 
        %ul.sub_listing
          %li Avoid just solving questions mindlessly and moving on to the next problem. Try to grasp the pattern for certain types of physics problems. 
          %li For example, many physics questions involve time evolution where an initial state is given and a final state is obtained through a time evolution equation. You can develop such insights by solving many problems on the same topic and appreciating how one physics equation/principle can be applied to many different situations.
          %li
            Focus on solving problems quickly. For example, learn to leave mathematical simplifications to the last step of solving a problem, learn when unit conversions are unnecessary (e.g. in many problems involving torque). Finally, once you solve a GAMSAT
            %sup ®
            Physics question your job is not finished – try to find alternative ways that would have saved you time.
          %li
            Develop an understanding of simple physical systems and their variations. For example, what happens to the total current in a circuit when you add one resistor in parallel? Does it go up, down, or stay the same? Many GAMSAT
            %sup ®
            Physics questions are designed to be answered quickly by one being able to answer such questions without flinching.
          %li
            Brush up on your maths - We can put together a core list of maths skills and tips, based on expert tutor experiences, to keep in mind for Section 3 of the GAMSAT
            %sup ®
            exam:
          %ul
            %li Approximation and estimation - involves combining, rounding up numbers and simplifying the equations 
            %li Watch out for units - manipulation of units to ensure consistency across multi-step calculations 
            %li Familiarise yourself with functions, graphs, logarithm and the exponential law 
            %li Improve the speed of mental algebraic calculation
            %li Understand trigonometry

      .preparation_col.head_aftr_none.mtop35
        %h2#approachingPhysics
          Approaching GAMSAT Physics Questions on Exam Day
        %p.mtop_zero Exam day. You’re here. What now?
        %ol.section_listing
          %li
            %h3 Eat well & stay hydrated
            %p
              Many students often forget the GAMSAT
              %sup ®
              exam is a whole-day event. What you eat/drink before and during the breaks is important. Prepare meals the day before (but nothing that will give you a food coma!). Good options include high fibre snacks (e.g. nuts, bars) and avoiding greasy foods. Most importantly (for those with weak bladders), go to the bathroom when prompted!
          %li
            %h3 In the Zone!
            %p
              Recognise that there will always be exam stress. This is perfectly normal. To stay in the zone, focus on what works for you! Sometimes talking with others is a good way to brush off some cobwebs, while being quiet/meditating works just as well. If you feel uncomfortable listening to the banter before entering the exam hall, walk to another location where you feel comfortable and keep your mind as calm as possible. Remember that the GAMSAT
              %sup ®
              exam is just one of many exams you will have to undertake in your medical career. Finding what works for you is critical!
          %li
            %h3 Pace Yourself
            %p
              This is a balancing act - It’s important to be patient and take your time to do each question to ensure you get them right. You’d be surprised that this approach yields better results than randomly guessing 30-40 questions in the hope of completing all the questions in
              %a{href: 'https://gradready.com.au/gamsat-section-3', target: :_blank}
                GAMSAT
                %sup ®
                Section 3.
              That said, it’s also important to recognise when a question or unit may be a loss cause and to move onto the subsequent question to avoid wasting too much time - Remember, time is a scarce resource in the GAMSAT
              %sup ®
              exam. Move on to the next question and mark any questions you’ve skipped so you can return to them at the end, and make educated guesses if necessary.
          %li
            %h3 Attack and never give up
            %ul.sub_listing.gmst_physics_sublist
              %li
                Section 3 is arduous, torturous and relentless. You will experience exam fatigue sometime around the midway point. Remember to breathe, hydrate and regather yourself if you need to before each question.
              %li
                Remain focused throughout the exam as there are always easy physics questions to answer. Don’t try to count how many physics questions you need to get right, as this may lower your motivation to attempt some questions.
              %li
                If you encounter a difficult question, don’t spend more than 2 mins on it. Rather narrow down your options and move on. Do not procrastinate over the previous question! Every new unit is a new chance to prove yourself and an opportunity to earn (not lose) more marks!
              %li
                Remember to keep your calculations tidy: This saves you time and makes silly mistakes less likely.
          %li{style: 'font-size: 15px;'}
            %h3 It is Multiple choice!
            %ul.sub_listing.gmst_physics_sublist
              %li
                Check what options are given: ‘unphysical’ answers can be eliminated just by glancing at the question.
              %li
                If you are running out of time, fill in
                %b all
                of your answers. Doing this does not mean you have failed, most students actually struggle to finish
                %a{href: 'https://gradready.com.au/gamsat-section-3', target: :_blank}
                  %strong Section 3.
                As long as you are confident that your previous answers are correct, you should feel satisfied with how you performed in the exam.
      .preparation_col.head_aftr_none.mtop35
        %h2#freeOnlineResources
          Free Online GAMSAT Physics Resources
        %ul.sub_listing
          %li
            One way to develop an intuitive feeling of physical systems is using interactive simulations, which can be found here:
            %a{href: 'https://phet.colorado.edu/en/simulations/category/new', target: :_blank}
              https://phet.colorado.edu/en/simulations/category/new
          %li
            For those who did not study physics and want something more basic, the book
            %a{href: 'https://www.amazon.com/Conceptual-Physics-Eleventh-international-Hewitt/dp/B007YXXQVQ/ref=mt_paperback?_encoding=UTF8&me=', target: :_blank}
              “Conceptual Physics”
            by Paul Hewitt is quite fun to read and very insightful. You might be able to get a free e-copy through your university library.
          %li
            For fast track students with a background in calculus, Feynman Lectures on physics might have some useful insights:
            %a{href: 'http://www.feynmanlectures.caltech.edu/', target: :_blank}
              http://www.feynmanlectures.caltech.edu
          %li
            %a{href: 'https://www.khanacademy.org/science/chemistry', target: :_blank}
              Khan Academy
          %li
            %a{href: 'https://www.youtube.com/user/crashcourse', target: :_blank}
              Youtube - Crash Course
        %p
          For further free GAMSAT
          %sup®
          Exam resources, including a complete topic list for Section 3, check out a complete list here:
          %a{href: "https://gradready.com.au/free-gamsat-preparation-materials", target: :_blank}
            %strong
              Free GAMSAT
              %sup ®
              Preparation Materials
        %p
          Download our GAMSAT
          %sup ®
          Exam Study Syllabus for a full list of Section 3 topics as well as tips and advice for Section 1 and 2:
        .fr_text_center
          .full_width
          .gamsat_study_syllabus
            .gamsat_study_syllabus_icon{:style => "margin-right: 50px"}
              = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/gamsatstudysyllabus.png', class: "icon40"
          .button_right_section_study_syllabus
            %a.gamsat_study_syllabus.hvr-shutter-in-horizontal{href: "https://gradready.com.au/gamsat-study-syllabus", target: :_blank}
              GAMSAT
              %sup ®
              Study Syllabus

      .preparation_col.head_aftr_none.mtop35
        %h2#finalAdvice
          Final Advice
        %p.mtop_zero
          For some candidates, physics is not and may never be their cup of tea. If you have followed the tips above and still feel that GAMSAT
          %sup ®
          Physics is still a foreign unattainable world that can never be understood, it would be wise to judiciously skip “pure” physics questions (esp. topics that you have no knowledge of) in the actual GAMSAT
          %sup ®
          Exam and concentrate on other questions.

        %p
          Nevertheless, it is imperative to recognise easy physics questions and make sure you get them right! Mark any missed questions for review on the spare paper provided and come back to difficult physics questions (if you have time). However, narrow down the options as best you can and select an appropriate answer (sometimes you get lucky!).

        %p
          Be committed to doing well for the GAMSAT
          %sup ®
          Exam and preparing in earnest. Remember that about 20-40% of candidates are sitting the exam for the first time with little to no preparation. Most will undoubtedly struggle so this should give you confidence that your preparation gives you that extra edge to score that higher score and percentile!

        %p
          %a{href: "/gamsat-preparation", target: :_blank}
            %strong
              Start early, study hard and practice, practice, practice!
          The more questions you are exposed to, the easier it becomes to identify the pattern/style of questions that emerge from the actual GAMSAT
          %sup ®
          and the thought process required.

        %p
          Lastly, do your best! While the GAMSAT
          %sup ®
          is just an exam, it is an important hurdle not just to get into a medical school but also developing your sense of character! You will have to face many more exams in your future medical career so treat the GAMSAT
          %sup ®
          as the first in the line of many to conquer along the way.

      .preparation_col.head_aftr_none
        %h2#furtherPreparationResources
          Further Preparation Resources
        %p.mtop_zero
          %ol.ordr_list
            %li
              %h5
                %a{href: "/what-is-gamsat", target: :_blank}
                  What is the GAMSAT
                  %sup ®
                  ?
              %p.mtop_zero
                Everything you need to know about the GAMSAT
                %sup ®
                exam from structure and overview to which universities require the GAMSAT
                %sup ®
                = '.'

            %li
              %h5
                %a{href: "/gamsat-scores", target: :_blank}
                  Understanding your GAMSAT
                  %sup ®
                  Results
              %p.mtop_zero
                Covers everything you need to know about your GAMSAT
                %sup ®
                Results - How the scoring works, result release dates and even GAMSAT
                %sup ®
                score cutoffs.

            %li
              %h5
                %a{href: "/gamsat-section-1", target: :_blank}
                  How to prepare for GAMSAT
                  %sup ®
                  Section 1
              %p.mtop_zero
                An overview of what to expect in Section 1 of the GAMSAT
                %sup ®
                exam, and how to prepare.
            %li
              %h5
                %a{href: "/gamsat-section-2", target: :_blank}
                  How to prepare for GAMSAT
                  %sup ®
                  Section 2
              %p.mtop_zero
                An overview of what to expect in Section 2 of the GAMSAT
                %sup ®
                exam, how to prepare, and how to perfect your essay technique.
            %li
              %h5
                %a{href: "/gamsat-section-3", target: :_blank}
                  How to prepare for GAMSAT
                  %sup ®
                  Section 3
              %p.mtop_zero
                An overview of what to expect in Section 3 of the GAMSAT
                %sup ®
                exam, and how to prepare for each of the topics – Biology, Chemistry, & Physics.
            %li
              %h5
                %a{href: "/gamsat-biology", target: :_blank}
                  How to prepare for GAMSAT
                  %sup ®
                  Biology
              %p.mtop_zero
                What to expect and how to prepare for Biology in the GAMSAT
                %sup ®
                exam.
            %li
              %h5
                %a{href: "/gamsat-chemistry", target: :_blank}
                  How to prepare for GAMSAT
                  %sup ®
                  Chemistry
              %p.mtop_zero
                What to expect and how to prepare for Chemistry in the GAMSAT
                %sup ®
                exam.
        %p
          For further tips and advice make sure you sign up for our
          %a{href: "https://gradready.com.au/gamsat-preparation-courses/free-gamsat-trial", target: :_blank}
            %strong
              GAMSAT
              %sup ®
              Free Trial
          to watch a recording of our GAMSAT
          %sup ®
          Section 3 Workshop - Check out the 10 minute excerpt below
        .tab-content
          .container.video_container_width
            #grad_video_testimonial.carousel.slide.blog_slider.result_slider{"data-ride" => "carousel", "data-interval" => "false"}
              .carousel-inner.tab1
                .item.active
                  %video.video-js.vjs-default-skin.test_slide_height{controls: "", "data-autoplay" => "false", "data-autoresize" => "fit", "data-controls" => "true", "data-setup" => "{ \"playbackRates\": [2, 1.5, 1.2, 1, 0.5] }"}
                    %source{src: "https://gradready-prod.s3-ap-southeast-2.amazonaws.com/public/Section3HowtoPrepareVideoExcerpt.mp4", type: "video/mp4"}

        %p.mtop_zero
          %ol.ordr_list
            .boxed
              Get Access to:
              %ul{:style => "list-style-type:none;padding: 16px 0px;line-height: 0.9;"}
                %li 50 Free MCQs
                %li Week-By-Week Study Guide
                %li Complete Session 3 Topic List
                %li Recorded Webinars
              .free_gamsat_icon
                = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/free_trial.png', class: "icon30"
              .button_right_section
                %a.free_trial_btn.hvr-shutter-in-horizontal{href: "/gamsat-preparation-courses/free-gamsat-trial", target: :_blank} GAMSAT Free Trial

:css
  .gmst_physics_sublist li {
    font-weight: normal !important;
  }
  .gmst_physics_section ul{
    float: none !important;
  }
  .gmst_physics_section li{
    margin-bottom: 10px !important;
  }
  @media only screen and (min-width: 260px) and (max-width: 767px){
    .highlight_box{
      padding: 10px 0px;
  }
  .green_box .div_left.pad_lf80 {
    padding-left: 20px;
    }
    .green_box .div_ryt.pad_lf130{
    padding-left: 30px;
    }
    .highlight_box .div_ryt {
      width: 47%;
  }
  .mob_padlft30{
   padding-left:30px;
  }
  }
