- title "GAMSAT Section 3: How to Prepare"
- meta_description "Don't know where to start with your GAMSAT Section 3 Preparation in 2022? Read our guide on how and what to study for Biology, Chemistry and Physics in the GAMSAT exam, as well as everything you need to know for Section 3 including Study and Exam Tips and Strategies"
- meta_keywords "gamsat section 3"

%section.talk_to_bg.home_faq.dashboard_bg
  #typed.notification_bar
    %p
      = render 'pages/partial/announcement', product_line: map_path_to_prodline(request.env['PATH_INFO']), relative: false
  .container.public_container
    .support_col.looking_corse.text-center.gradready_question
      %h1
        GAMSAT Section 3: How to Prepare in 2022
%section.faq_wrapper.faq_details
  .row
    .container.public_container
      .download-counter-badge
        %p.download_read= show_estimated_read_time
        %span|
        %i.fa.fa-user{'aria-hidden': "true"}
        %p.download_read= show_download_hit_count
      .preparation_col.head_aftr_none
        %p.mtop_zero
          Section 3 of the GAMSAT
          %sup ®
          exam, also known as ‘Reasoning in Biological and Physical Sciences’ is designed to test your reasoning and problem-solving skills within a scientific context.

        %p
          It is the only section for which
          %a.green{href: "https://gamsat.acer.org/", target: :_blank}
            %strong
              ACER
          provides some guidelines on expected level of prerequisite knowledge, and is therefore, for some, the easiest section to prepare for GAMSAT
          %sup ®
          Section 3 is also the longest section of the GAMSAT
          %sup ®
          exam and is weighted double compared to Section 1 or Section 2 (exceptions do apply – make sure to check our
          %a.green{href: "/gamsat-scores", target: :_blank}
            %strong
              Guide to GAMSAT
              %sup ®
              Results
          to learn more).

        %p
          Preparation for Section 3 of the GAMSAT
          %sup ®
          exam is often an area to which students dedicate a lot of time and an area of particular difficulty for
          %a.green{href: "/posts/gamsat-preparation-courses/preparing-for-the-gamsat-with-a-non-science-background", target: :_blank}
            %strong
              those with a non-science background.
          Conversely, stylistic changes to the Section 3 format have shifted away from the reliance on the recall and exposure to scientific concepts, with a stricter focus on the utilisation of appropriate skills. Effectively, these changes have been designed to level the field for those who may not have the same scientific background.
        %p
          This guide aims to provide you with an overview and breakdown of each area within Section 3 as well as providing you with some advice on how to best prepare for each area.
        %ol
          %li
            %a{href: "#whatIsSection3"}
              What is GAMSAT
              %sup ®
              Section 3?
          %li
            %a{href: "#whatToExpect"}
              What to Expect in GAMSAT
              %sup ®
              Section 3
          %li
            %a{href: "#preparingforgamsatsection3"}
              How to Prepare for GAMSAT
              %sup ®
              Section 3
          %li
            %a{href: "#howPrepareSection3Biology"}
              GAMSAT
              %sup ®
              Section 3 Biology Guide
          %li
            %a{href: "#section3BiologyTopics"}
              Biology Topics Covered in GAMSAT
              %sup ®
              Section 3
          %li
            %a{href: "#howPrepareSection3Chemistry"}
              GAMSAT
              %sup ®
              Section 3 Chemistry Guide
          %li
            %a{href: "#section3ChemistryTopics"}
              Chemistry Topics Covered in GAMSAT
              %sup ®
              Section 3
          %li
            %a{href: "#howPrepareSection3Physics"}
              GAMSAT
              %sup ®
              Section 3 Physics Guide
          %li
            %a{href: "#section3PhysicsTopics"}
              Physics Topics Covered in GAMSAT
              %sup ®
              Section 3
          %li
            %a{href: "#section3Maths"}
              GAMSAT
              %sup ®
              Section 3 Maths
          %li
            %a{href: "#furtherPrepMat"}
              Further Preparation Materials

      .preparation_col.head_aftr_none
        %h2.mtop10.mbot20#whatIsSection3
          What is GAMSAT Section 3?
      .preparation_col.head_aftr_none
        %h3.mtop10.mbot20
          GAMSAT Section 3 Timing

        .tbl_responsive.fl_none
          %table.table.cstm_tbl.table-bordered.table-condensed.custom_table_data
            %thead
              %th.text-center Section
              %th.text-center{colspan: "2"} Description
              %th.text-center.width11 Breakdown
              %th.text-center.width11 Duration
            %tbody
              %tr
                %td Section 3: Reasoning in Biological and Physical Sciences
                %td.text-center
                  %span Biology - 40%
                  %span Chemistry - 40%
                  %span Physics - 20%
                %td.text-center
                  %span 75 MCQs
                  %span 4 Alternative Answers

                %td.text-center
                  %span.bdr_bottm Reading Time
                  %span Writing Time
                %td.text-center
                  %span.bdr_bottm 8 Minutes
                  %span 142 Minutes
        %p.mtop_zero
          As noted above, the questions are based on three discipline areas along the following ratios:

        .diffr_country
          %ul.cstm_list_style
            %li.mtop_zero
              %a{href: 'https://gradready.com.au/gamsat-biology', target: :_blank}
                Biology
              = "- 40%"
            %li.mtop_zero
              %a{href: 'https://gradready.com.au/gamsat-chemistry', target: :_blank}
                Chemistry
              = "- 40%"
            %li.mtop_zero
              %a{href: 'https://gradready.com.au/gamsat-physics', target: :_blank}
                Physics
              = "- 20%"
        %p.mtop_zero
          You are advised to have a level of basic knowledge equivalent to first year university levels of Biology and Chemistry along with a Year 12 level of Physics. These disciplines are discussed further down in this guide, but make sure to check out our separate guides for each subject linked below:

          .diffr_country
            %ul.cstm_list_style
              %li.mtop_zero
                %a{href: 'https://gradready.com.au/gamsat-biology', target: :_blank}
                  GAMSAT
                  %sup ®
                  Biology: How to Prepare
              %li.mtop_zero
                %a{href: 'https://gradready.com.au/gamsat-chemistry', target: :_blank}
                  GAMSAT
                  %sup ®
                  Chemistry: How to Prepare
              %li.mtop_zero
                %a{href: 'https://gradready.com.au/gamsat-physics', target: :_blank}
                  GAMSAT
                  %sup ®
                  Physics: How to Prepare
          Sign up for our Free Trial to get a full list of essential topics and key excerpts from our 1200+ page textbook along with a wealth of other resources.
          %br
          %br
          .boxed
            Get Access to:
            %ul{:style => "list-style-type:none;padding: 13px 0px;"}
              %li 50 Free MCQs
              %li Week-By-Week Study Guide
              %li Complete Session 3 Topic List
              %li Recorded Webinars
            .free_gamsat_icon
              = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/free_trial.png', class: "icon30"
            .button_right_section
              %a.free_trial_btn.hvr-shutter-in-horizontal{href: "/gamsat-preparation-courses/free-gamsat-trial", target: :_blank} GAMSAT Free Trial
      .preparation_col.head_aftr_none
        %h3.mtop10.mbot20
          GAMSAT Section 3 Skills
        %p.mtop_zero
          According to ACER, Section 3 of the GAMSAT
          %sup ®
          exam is designed to assess your ability to do the following:
          .highlight_box.gamsat-prep.mbot20
            .diffr_country
              %ul.cstm_list_style
                %li.mtop_zero Identify knowledge in new contexts
                %li.mtop_zero Analyse and interpret data
                %li.mtop_zero Discover relationships and make comparisons
                %li.mtop_zero Translate knowledge from one form to another
                %li.mtop_zero Formulate and apply hypotheses and make generalisations
                %li.mtop_zero Deduce consequences from models
                %li.mtop_zero Follow and evaluate a line of reasoning
                %li.mtop_zero Evaluate evidence, Extrapolate & Interpolate
                %li.mtop_zero Categorise and select information relevant to problems
                %li.mtop_zero Generate and apply strategies to solve problems
                %li.mtop_zero Estimate and recognise limits in accuracy
          %p.mtop_zero
            For further details, make sure you read
            %a.green{href: "https://gamsat.acer.org/files/GAMSAT_Info_booklet_2022.pdf", target: :_blank}
              %strong
                ACER’s GAMSAT
                %sup ®
                Information Booklet.

        .preparation_col.head_aftr_none
          %h3.mtop10.mbot20#Section3PreparationStrategy
            What is the purpose of GAMSAT Section 3?

          %p
            In essence, the Section 3 of the GAMSAT
            %sup ®
            exam is designed to assess your analytical and critical thinking skills in a scientific context, in order to select candidates for
            %a{href: 'https://gradready.com.au/medical-school-entry-requirements', target: :_blank}
              %strong Graduate Entry Medical Studies.
            The GAMSAT tests skills that will be needed both as a medical student and as a professional.
          %p
            Medical decisions and strategies are almost always based on assessments of data, scientific information and systems. The ability to interpret patterns and anomalies, and use this to make decisions regarding a person’s health, is key in life as a medical professional. This information can come in almost limitless forms, whether that be imaging, blood tests, ECGs, histories or examinations. A good medical professional and medical students will have the ability to apply their learned knowledge of physiological systems to new information or data as well as to block out any extraneous information that is irrelevant to the problem at hand. They need to be able to synthesise information from multiple sources and confidently tackle complex presentations of data. These are the skills that are tested in GAMSAT Section 3.

        .preparation_col.head_aftr_none
          %h3.mtop10.mbot20#whatToExpect
            What to expect in GAMSAT Section 3?
          %p
            There are three main challenges you can expect for this section of the GAMSAT
            %sup ®
            exam.
          %ol
            %li
              Analysing a variety of different data and information
            %li
              Working across multiple science disciplines
            %li
              Dealing with time pressure

          %p
            One of the key challenges of GAMSAT
            %sup ®
            Section 3 is being able to work efficiently through the stems. Section 3 MCQs will often contain long stems consisting of a variety of data types: large blocks of texts, tables, graphs, figures, schematics, diagrams etc. One of the first challenges is simply working out what information is actually relevant - MCQs will often have extraneous information that is designed to waste your exam time and it’s important to sort this information out quickly. Next you’ll run into the other presentations of information - GAMSAT
            %sup ®
            Section 3 is notorious for bombarding students with unfamiliar graphs and diagrams that test your ability to analyse information presented in these novel formats, and then subsequently link this back to the stem text. You’ll need to be able to think quickly on the fly and develop strategies for analysing unfamiliar diagrams and figures - This is best done through consistent practice and exposure to GAMSAT
            %sup ®
            Section 3 MCQs.

          %p
            Compounding this is the fact that you’ll need to be proficient across the multiple science disciplines of
            %a{href: 'https://gradready.com.au/gamsat-biology', target: :_blank}
              %strong Biology
            ,
            %a{href: 'https://gradready.com.au/gamsat-chemistry', target: :_blank}
              %strong Chemistry
            ,
            and
            %a{href: 'https://gradready.com.au/gamsat-physics', target: :_blank}
              %strong Physics.
            As mentioned above, ACER does recommend a certain level of assumed knowledge across these subjects and this foundation is important in allowing you to work through the provided information more efficiently. GAMSA
            %sup ®
            Section 3 has moved away from testing the recall of scientific concepts, but a strong foundation is still essential in allowing you to quickly understand the basic premise or principles behind questions and immediately moving to analysing the information provided and generating conclusions. Students require a solid grasp of these principles in order to be able to apply them in novel situations. Many students will have a natural preference for 1 or even 2 of the 3 science disciplines, and one of the challenges of GAMSAT
            %sup ®
            Section 3 is balancing your preparation across all 3.
          %p
            Finally, and possibly the greatest challenge, is the time pressure. It’s quite common for students to leave GAMSAT
            %sup ®
            Section 3 unfinished (or to at least guess a certain number of MCQs at the end) simply due to the enormous time pressure of this section. It’s the reason why the foundational knowledge is important as it helps with the following pressures:
          %ol
            %li
              %b Time:
              If you have a comprehensive understanding of the scientific basics, you’ll be familiar with the language used and the mechanisms and concepts included as part of the MCQ Stem. This means that you can save time reading it and fill in any gaps if necessary. Rather than attempt to learn something completely new during the exam itself, a solid foundation allows you to quickly understand the context of the question and make scientifically legitimate interpretations.
            %li
              %b Stress:
              Although people feel it to a varying degree, there is no doubt that you will be stressed during the GAMSAT
              %sup ®
              exam. The atmosphere, pressure and your own expectations can all exacerbate this sensation on the day. Making sure that you can quickly understand the principles behind questions will reduce this basal level of stress, give you confidence when answering the questions and allow you to answer questions faster and more accurately. 
          %p
            The time pressure is also why consistent practice is paramount in allowing you to develop strategies and techniques to analysing information quickly.


        .preparation_col.head_aftr_none
          %h2#preparingforgamsatsection3
            How to Prepare for GAMSAT Section 3
          %p
            Section 3 of the GAMSAT
            %sup ®
            is designed to examine your reasoning and problem-solving skills rather than your recall of specific content. This section is not a test of theoretical knowledge or memory knowledge but rather the ability to reason, make logical deductions and form judgements by assessing the information provided. Having said all that, a good level of basic scientific knowledge and familiarity with more advanced scientific concepts will improve the speed at which you comprehend and answer the time-pressured Section 3 questions.
          %h3
            GAMSAT
            %sup ®
            Section 3 Preparation Strategy
          %ol
            %li
              Build up a solid foundation of basic scientific principles relevant for GAMSAT
              %sup ®
              Section 3.
            %li
              Familiarise yourself with common logical reasoning and problem-solving techniques.
            %li
              Begin practising your application of these reasoning skills with GAMSAT
              %sup ®
              = '-Style MCQs.'
            %li
              As you become familiar with the style of MCQs, build up an MCQ Strategy.
            %li
              Gradually build up with conditions simulating the real exam (i.e. time pressure).
          %p
            Although the assumed knowledge is equivalent to first year university levels of Biology and Chemistry along with a Year 12 level of Physics, you will largely be faced with stems with figures and information that may appear familiar, but unlikely to have been covered in any standard science course or subject. Don’t expect any knowledge-based recall questions – you will instead be presented with advanced-level, novel content designed to assess your reasoning skills; content often presented in the form of graphs, tables, diagrams and mathematical relationships. In fact, over the recent years we’ve noticed a greater emphasis on graphs, diagrams and mathematical relationships, all targeting the candidate’s ability to interpret and integrate unfamiliar information. It is also fairly common that students struggle with at least one of the disciplines (Biology, Chemistry, Physics) tested in Section 3.
          .thought_col.mbot20
            %p.quotes_para
              %i
                Since problem-based learning techniques are central to modern medical curricula, GAMSAT is constructed with a major focus on the assessment of problem solving ability across a wide range of subject areas.
              = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/quotes_rht.png'
            %span.authhor
              = '- ACER'
              %a.green{href: "https://gamsat.acer.org/about-gamsat/structure-and-content", target: :_blank}
                %strong
                  (Structure and Content)
          %h3
            How do I study for GAMSAT Section 3?
          %p
            Your focus in preparing for Section 3 of the GAMSAT
            %sup ®
            exam must lie in learning to apply your knowledge of the foundational content in a problem-solving setting, which is to say Problem-Based Learning (you can learn more
            %a{href: 'http://www.uq.edu.au/teach/flipped-classroom/problem-bl.html', target: :_blank}
              = succeed ').' do
                %strong here
            = surround '', '' do
              As such, a large part of your preparation for GAMSAT
            %sup ®
            Section 3 should involve utilising GAMSAT
            %sup ®
            = '-Style MCQs to build up the required reasoning skills and to familiarise yourself with the GAMSAT® MCQ format and style.'
          %p
            Unfortunately, ACER doesn’t have a magical document of things you can memorise, regurgitate on the day and then get into medicine.
          .thought_col.mbot20
            %p.quotes_para
              %i
                The purpose of GAMSAT is to assess the ability to understand and analyse written and graphically presented material. GAMSAT measures … the ability to reason, make logical deductions and form judgments…. some specific preparation covering relevant basic sciences to first year university level is highly recommended
              = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/quotes_rht.png'
            %span.authhor
              = '- ACER'
              %a.green{href: "https://gamsat.acer.org/prepare", target: :_blank}
                %strong
                  (Prepare)
          .thought_col.mbot20
            %p.quotes_para
              %i
                It must be stressed that success in GAMSAT is unlikely without knowledge and ability in the biological and physical sciences.
              = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/quotes_rht.png'
            %span.authhor
              = '- ACER'
              %a.green{href: "https://gamsat.acer.org/about-gamsat/eligibility", target: :_blank}
                %strong
                  (Eligibility)
          %p
            That’s why our
            %a{href: 'https://gradready.com.au/gamsat-preparation-courses', target: :_blank}
              GradReady GAMSAT
              %sup ®
              Preparation Courses
            focus on first building the necessary foundational content before honing in on how to best apply the reasoning and problem-solving skills, thus building an approach or mindset appropriate for the GAMSAT
            %sup ®
            Exam.
          %ol
            %li
              Build the foundational content and knowledge
            %li
              Apply this knowledge and develop a GAMSAT
              %sup ®
              Exam and MCQ Strategy
            %li
              Practice with realistic questions under accurate conditions
          %p
            Once you’ve established that solid foundation, our approach is to focus on Problem-Based Learning, all whilst letting you familiarise yourself with the question formats and helping you build up MCQ strategies. In addition, ensuring that you gradually build up to practicing under realistic conditions is invaluable as the time pressure on the day is often quoted as one of the hardest aspects of the GAMSAT
            %sup ®
            Exam.
          %p
            To get more tips on how to prepare, visit our guide on
            %a{href: 'https://gradready.com.au/gamsat-preparation', target: :_blank}
              How to Study for the GAMSAT
            %sup ®.
          %p
            You can also sign up for our
            %a{href: 'https://gradready.com.au/gamsat-preparation-courses/free-gamsat-trial', target: :_blank}
              Free Trial
            which includes a GAMSAT
            %sup ®
            Study Guide with a week-by-week study schedule for Section 3 (as well as Section 1 & 2) to help you plan out your preparation.
          .boxed
            Get Access to:
            %ul{:style => "list-style-type:none;padding: 13px 0px;"}
              %li 50 Free MCQs
              %li Week-By-Week Study Guide
              %li Complete Session 3 Topic List
              %li Recorded Webinars
            .free_gamsat_icon
              = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/free_trial.png', class: "icon30"
            .button_right_section
              %a.free_trial_btn.hvr-shutter-in-horizontal{href: "/gamsat-preparation-courses/free-gamsat-trial", target: :_blank} GAMSAT Free Trial
          %h3
            Preparing for GAMSAT Section 3 from a Non-Science Background
          %p
            Many students who sit the GAMSAT
            %sup ®
            come from a non-science background, and whilst it can be daunting, the right approach and understanding of Section 3 will go a long way. As mentioned above, the GAMSAT
            %sup ®
            exam is designed to assess your reasoning and problem-solving skills rather than your recall of specific content. While scientific knowledge is not necessary to do well in Section 3, having a firm understanding of basic and fundamental scientific concepts will still help. Therefore, it is recommended that students have a basic understanding of core scientific concepts and students from non-science backgrounds should factor this into their study plan. At the same time, it is just as important for all students to test their understanding of these basic concepts through practice questions, and at the same time rehearse their analysis and application of information introduced in question stems. For more advice on how to approach the1 GAMSAT
            %sup ®
            exam from a non-science background, check out
            %a{href: "/posts/gamsat-preparation-courses/preparing-for-the-gamsat-with-a-non-science-background",target: :_blank}
              %strong this blog article.
          %h3
            What is a good GAMSAT Section 3 score?
          %p
            As always, it’s useful to have a solid understanding of how GAMSAT
            %sup ®
            scores work in general, and
            %a{href: 'https://gradready.com.au/gamsat-scores', target: :_blank}
              our guide is a great place to start.
            The same percentiles that apply to the overall exam scores apply to the specific section scores. As such, a score of roughly 59 will place you around the 50th percentile, that is to say the average score for Section 3. A score of around 65 will place you at around the 75th percentile, or the top 25% of students. Students should typically aim for a score of 65 and above as this is generally considered a good score, and anything over 70 is considered excellent.
          %p
            That said, what determines a good score for GAMSAT
            %sup ®
            Section 3 is highly dependent on your performance across the other sections of the exam. Section 3 is often the highest scoring section for students from a science background and is relied upon to counterbalance poorer performances across Section 1 and 2. As such, a higher score may be necessary if you plan on relying on Section 3 in this way.
          %p
            In addition, it’s important to remember that Section 3 generally has twice as much weighting compared to the other sections in the calculation of the overall GAMSAT
            %sup ®
            score - For further details refer to our
            %a{href: 'https://gradready.com.au/gamsat-scores', target: :_blank}
              %strong
                GAMSAT
                %sup ®
                Scores guide.
            Depending on the medical schools you’re interested in, your Section 3 score may be more important than your Section 1 and 2 scores
        .preparation_col.head_aftr_none
          %h2#howPrepareSection3Biology
            GAMSAT Section 3 Biology Guide
          %p.mtop_zero
            The process of preparing for the
            %a{href: 'https://gradready.com.au/gamsat-biology', target: :_blank}
              %strong
                Biology component of GAMSAT
                %sup ®
                Section 3
            largely follows the general guidelines provided under
            %a.green{href: "#preparingforgamsatsection3"}
              %strong
                GAMSAT
                %sup ®
                Section 3 Preparation Strategy:
          %ol
            %li
              Build up foundational
              %a{href: 'https://gradready.com.au/gamsat-biology', target: :_blank}
                GAMSAT
                %sup ®
                Biology  knowledge
            %li
              Begin practising your application of this knowledge with GAMSAT
              %sup ®
              = "-Style MCQs"
            %li As you become familiar with the style of MCQs, build up an MCQ Strategy
            %li Make sure to track which areas and topics you are struggling with
            %li Gradually build up to answering MCQs under realistic conditions (i.e. time pressure)
          %p
            For further advice and tips, head to our
            %a.green{href: "/gamsat-biology", target: :_blank}
              %strong
                specific guide on preparing for GAMSAT
                %sup ®
                Biology.
        .preparation_col.head_aftr_none
          %h3.mtop10.mbot20#section3BiologyTopics
            Biology Topics covered in GAMSAT Section 3
          %p.mtop_zero
            We can organise the Biology topics that we regularly see in the GAMSAT
            %sup ®
            exam into the broad topics below. Remember, when looking at these topics you only want to know the principles underpinning these areas.
          .highlight_box.gamsat-prep.green_box.mbot20
            %ol
              .div_left.pad_lf80
                %li
                  Biomolecules & the Cell
                %li
                  Enzymes, Cellular Metabolism & the Central Dogma
                %li
                  Cell Division
                %li
                  Nervous System
                %li
                  Musculoskeletal System
                %li
                  Cardiovascular System
                %li
                  Respiratory System
              .div_ryt.pad_lf130
                %li
                  Gastrointestinal System
                %li
                  Renal System
                %li
                  Endocrine System
                %li
                  Immune System
                %li
                  Genetics & Evolution
                %li
                  Reproductive System
                %li
                  Experimental Design and Data Analysis

          .thought_col.mbot20
            %p.quotes_para.no_name
              %i
                Remember, when looking at these topics you only want to know the principles underpinning these areas.
              = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/quotes_rht.png'
            %p
              Note that the
              %a{href: 'https://gradready.com.au/gamsat-biology', target: :_blank, style: 'font-size: inherit;'}
                %strong
                  Biology component of GAMSAT
                  %sup ®
                  Section 3
              is typically the area in which students sitting the exam have the most background knowledge in. To balance this, ACER will largely avoid questions based on assumed biology knowledge, or simple recall questions, and focus on those that are designed to test the application of this knowledge. Note however that the principles and ideas are often incorporated into MCQ Stems.


        .preparation_col.head_aftr_none
          %h3.mtop10.mbot20#StudyGamsatBiology
            GAMSAT Section 3 Biology Study Approach

          %p.mtop_zero
            The list of GAMSAT
            %sup ®
            Biology topics above should provide you with a good place to start your GAMSAT
            %sup ®
            study. However, the next question is, how do you begin to build this foundational knowledge and then start answering questions?
          .highlight_box.gamsat-prep.mbot20
            %ol
              %li
                %b Content:
                Develop an appreciation of the processes and principles.
              %li
                %b Questions:
                Answer GAMSAT
                %sup ®
                = "-Style Questions and develop your problem-solving skills."
              %li
                %b Discussion:
                Test your understanding and way of approaching questions with other students.
              %li
                %b Exams:
                Develop your exam technique and learn to cope with time pressure.
              %li
                %b Review:
                Make sure you understand why you answered a question incorrectly.
          %p
            A detailed breakdown of these steps are discussed in
            %a{href: 'https://gradready.com.au/gamsat-biology', target: :_blank}
              %strong
                our separate GAMSAT
                %sup ®
                Biology guide.
          .preparation_col.head_aftr_none
            %h3.mtop10.mbot20#section3BiologyFreeResources
              GAMSAT Section 3 Biology: Free Online Resources

          .highlight_box.gamsat-prep.mbot20
            .diffr_country
              %ul.cstm_list_style
                %li.mtop_zero
                  %a{href: "https://www.khanacademy.org/science/biology", target: :_blank}
                    Khan Academy
                %li.mtop_zero
                  %a{href: "https://www.youtube.com/user/armandohasudungan", target: :_blank}
                    Youtube - Armando Hasudungan
                %li.mtop_zero
                  %a{href: "https://www.youtube.com/channel/UCNI0qOojpkhsUtaQ4_2NUhQ", target: :_blank}
                    Youtube - Osmosis
                %li.mtop_zero
                  %a{href: "https://www.youtube.com/user/crashcourse", target: :_blank}
                    Youtube - Crash Course
                %li.mtop_zero
                  %a{href: "https://www.youtube.com/channel/UC-i2EBYXH6-GAglvuDIaufQ", target: :_blank}
                    Youtube - Speed Pharmacology
                %li.mtop_zero
                  %a{href: "https://www.youtube.com/user/TheAnatomyZone", target: :_blank}
                    Youtube - Anatomyzone
          %p
            For further advice and tips, head to our
            %a.green{href: "/gamsat-biology", target: :_blank}
              %strong
                specific guide for GAMSAT
                %sup ®
                Biology.
          %p.mtop_zero
            Our GAMSAT
            %sup ®
            Free Trial includes an in-depth, day-by-day study guide for different areas of the GAMSAT
            %sup ®
            exam: Humanities, Biology, Chemistry and Physics. You can also find a wealth of further free resources including 50 free MCQs.
          .boxed
            Get Access to:
            %ul{:style => "list-style-type:none;padding: 13px 0px;"}
              %li 50 Free MCQs
              %li Week-By-Week Study Guide
              %li Complete Session 3 Topic List
              %li Recorded Webinars
            .free_gamsat_icon
              = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/free_trial.png', class: "icon30"
            .button_right_section
              %a.free_trial_btn.hvr-shutter-in-horizontal{href: "/gamsat-preparation-courses/free-gamsat-trial", target: :_blank} GAMSAT Free Trial
          .preparation_col.head_aftr_none
            %h3.mtop10.mbot20
              GAMSAT Section 3 Biology: Exam tips
            %p.mtop_zero
              Our experienced tutors have provided the below exam tips:
          .highlight_box.gamsat-prep.mbot20
            .diffr_country
              %ul.cstm_list_style
                %li.mtop_zero
                  %b Remain Calm:
                  It sounds simple but the pressure on the day of the GAMSAT
                  %sup ®
                  exam can often get to students. Understand that you have put in the time and effort, that you are well prepared, and should have faith in your own ability.
                %li.mtop_zero
                  %b Develop a system or method to read and answer questions:
                  This is commonly known as an MCQ Strategy or Exam Strategy and is one of the most important things we cover as part of our courses. This is important as it provides you with a tried and tested process to tackling questions which can help minimise stress on the day.
                %li.mtop_zero
                  %b Know your Strengths and Weaknesses:
                  Some students prefer to answer their strongest areas first, e.g. biology and chemistry first and then physics last. The essential point is to recognise your weaknesses and avoid wasting time on questions you know you will struggle on – move on to the next question and come back later if you have time. It is also fairly common that students struggle with at least one of the disciplines (Biology, Chemistry, Physics) so the best thing is to prepare before test day.
      .preparation_col.head_aftr_none
        %h2#howPrepareSection3Chemistry
          GAMSAT Section 3 Chemistry Guide
        %p.mtop_zero
          The process of preparing for the
          %a{href: 'https://gradready.com.au/gamsat-chemistry', target: :_blank}
            %strong
              Chemistry component of GAMSAT
              %sup ®
              Section 3
          largely follows the guidelines provided under
          %a{href: "#preparingforgamsatsection3"}
            %strong
              GAMSAT
              %sup ®
              Section 3 Preparation Strategy:

        %ol
          %li
            Build up foundational
            %a{href: 'https://gradready.com.au/gamsat-chemistry', target: :_blank}
              GAMSAT
              %sup ®
              Chemistry
            knowledge
          %li
            Begin practising your application of this knowledge with GAMSAT
            %sup ®
            = "-Style MCQs"
          %li
            As you become familiar with the style of MCQs, build up an MCQ Strategy
          %li
            Make sure to track which areas and topics you are struggling with
          %li
            Gradually build up to answering MCQs under realistic conditions (i.e. time pressure)

        %p
          However, the
          %a{href: 'https://gradready.com.au/gamsat-chemistry', target: :_blank}
            %strong
              Chemistry component of the GAMSAT
              %sup ®
              exam
          differs in that is much more focused on the application of concepts, that is to say the ability to apply theories and ideas to individualised problems. This is actually advantageous to students as it means that if you can simply learn some basic principles and then refine how you apply them to answer questions. In addition, the content differs from
          %a{href: "#howPrepareSection3Biology"}
            %strong
              GAMSAT
              %sup ®
              Biology
          in that there is also a level of maths required. You can expect to see equations, make approximations and apply a level of pattern recognition.
        %p
          For further advice and tips, head to our
          %a.green{href: "/gamsat-chemistry", target: :_blank}
            %strong
              specific guide for GAMSAT
              %sup ®
              Chemistry.
      .preparation_col.head_aftr_none
        %h3.mtop10.mbot20#section3ChemistryTopics
          Chemistry Topics covered in GAMSAT Section 3

        %p.mtop_zero
          We can organise the Chemistry topics that we regularly see in the GAMSAT
          %sup ®
          exam into the broad topics below.  Remember, when looking at these topics you only want to know the principles underpinning the Chemistry. It is unlikely that you’ll be asked any direct recall questions, but the principles and ideas are often incorporated into MCQ Stems.

        .highlight_box.gamsat-prep.green_box.mbot20
          %ol
            .div_left.pad_lf80
              %li
                Atoms
              %li
                Arithmetic and Stoichiometry
              %li
                Electronegativity and Bond Polarity
              %li
                Electrons and Chemical Bonds
              %li
                Gases
              %li
                Thermodynamics and Kinetics
            .div_ryt.pad_lf130
              %li
                Acid and Bases
              %li
                Electrochemistry
              %li
                Common and Special Organic Reactions
              %li
                Stereochemistry and Projections
              %li
                Biochemistry
              %li
                Spectroscopies, Spectrometry and Laboratory Techniques
      .preparation_col.head_aftr_none
        %h3.mtop10.mbot20
          GAMSAT Section 3 Chemistry Study Approach

        %p.mtop_zero
          Again, the process of preparing for
          %a{href: 'https://gradready.com.au/gamsat-chemistry', target: :_blank}
            GAMSAT
            %sup ®
            Chemistry
          is near identical to that of preparing for
          = succeed '.' do
            %a{href: 'https://gradready.com.au/gamsat-biology', target: :_blank}
              Biology in the GAMSAT
              %sup ®
          Nevertheless, you can find some additional tips below:

        .highlight_box{style: 'margin-bottom: 20px;'}
          %ol
            %li
              %b Content:
              As with the Biology Section, its best to establish a foundation of knowledge to begin with and then develop your problem-solving skills in the context of this applying this knowledge.

            %li
              %b Questions:
              As previously discussed, this is the best way to improve your analytical skills. Once you have completed them, note down the areas/topics you are struggling with and allocate more time to these.

            %li
              %b Exams:
              Important in allowing you to familiarise yourself with the time pressure of the GAMSAT
              %sup ®
              exam and developing the mental endurance necessary to focus for the entirety of the exam.

            %li
              %b Review:
              Review your correct and incorrect answers and see what you’re doing well and what needs improvement. Once you have identified your weaknesses create a learning plan to address these. The process of review is ongoing and will continue throughout the entire process of GAMSAT
              %sup ®
              preparation. It allows you to focus your studies and get the most out of the effort you put in.
        %p
          Another important factor in studying for the
          %a{href: 'https://gradready.com.au/gamsat-chemistry', target: :_blank}
            %strong
              Chemistry component of the GAMSAT
              %sup ®
          Exam, and really, with any section at all, is creating a study schedule. Having one allows you to keep track of your progress and make sure that you hit your key goals.

        %p For example -
        .highlight_box.gamsat-prep.mbot20
          %ul
            %li
              %b Monthly Goal:
              Completing 400 MCQs, 2 ACER booklets and 2 Online Practice exams
            %li
              %b Weekly Goal:
              Look at what you want to get done for Chemistry, whilst taking into account the other sections you need to prepare for. For example set yourself a certain amount of topics to revise and then aim to complete ~20 Questions for each topic within an allocated time frame.
        %p
          Having a schedule allows you to revisit concepts multiple times over your GAMSAT
          %sup ®
          study. Spaced repetition has a plethora of evidence behind it for being an effective way to develop your content base and your analytical skills.
        %p
          For more advice on how to schedule and plan your GAMSAT
          %sup ®
          study, you can visit our guide here:
          %a{href: "/gamsat-preparation", target: :_blank}
            %strong
              Planning your GAMSAT
              %sup ®
              Preparation.
          For further advice and tips, head to our
          %a.green{href: "/gamsat-chemistry", target: :_blank}
            %strong
              specific guide for GAMSAT
              %sup ®
              Chemistry.
        %p
          You can also sign up for our
          %a{href: "/gamsat-preparation-courses/free-gamsat-trial", target: :_blank}
            %strong Free Trial
          which includes a GAMSAT
          %sup ®
          Study Guide with a week-by-week study schedule for Section 3 Chemistry (as well as Section 1 & 2) to help you plan out your preparation.
        .boxed
          Get Access to:
          %ul{:style => "list-style-type:none;padding: 13px 0px;"}
            %li 50 Free MCQs
            %li Week-By-Week Study Guide
            %li Complete Session 3 Topic List
            %li Recorded Webinars
          .free_gamsat_icon
            = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/free_trial.png', class: "icon30"
          .button_right_section
            %a.free_trial_btn.hvr-shutter-in-horizontal{href: "/gamsat-preparation-courses/free-gamsat-trial", target: :_blank} GAMSAT Free Trial
      .preparation_col.head_aftr_none
        %h3.mtop10.mbot20#section3ChemistryFreeResources
          GAMSAT Section 3 Chemistry: Free Online Resources

        .highlight_box.gamsat-prep.mbot20
          .diffr_country
            %ul.cstm_list_style
              %li.mtop_zero
                %a{href: "https://www.khanacademy.org/science/chemistry", target: :_blank}
                  Khan Academy
              %li.mtop_zero
                %a{href: "https://www.chemguide.co.uk/", target: :_blank}
                  Chemguide
              %li.mtop_zero
                %a{href: "https://www.youtube.com/user/crashcourse", target: :_blank}
                  Youtube - Crash Course
              %li.mtop_zero
                %a{href: "https://www.youtube.com/channel/UCEWpbFLzoYGPfuWUMFPSaoA", target: :_blank}
                  Youtube - Organic Chemistry Tutor
              %li.mtop_zero
                %a{href: "https://www.youtube.com/user/Mousentel", target: :_blank}
                  Youtube - Elise Ashley
              %li.mtop_zero
                %a{href: "https://www.youtube.com/user/Leah4sciMCAT", target: :_blank}
                  Youtube - Leah4Sci
        %p
          For further advice and tips, head to our
          %a.green{href: "/gamsat-chemistry", target: :_blank}
            %strong
              specific guide for GAMSAT
              %sup ®
              Chemistry.

        %p.mtop_zero
          Download our GAMSAT
          %sup ®
          Study Syllabus for a full list of Section 3 topics as well as tips and advice for Section 1 and 2:
        .full_width
          .gamsat_study_syllabus
            .gamsat_study_syllabus_icon{:style => "margin-right: 50px"}
              = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/gamsatstudysyllabus.png', class: "icon40"
            .button_right_section_study_syllabus
              %a.gamsat_study_syllabus.hvr-shutter-in-horizontal{href: "/gamsat-study-syllabus", target: :_blank} GAMSAT STUDY SYLLABUS


        .preparation_col.head_aftr_none
          %h3.mbot20
            GAMSAT Section 3 Chemistry: Exam Tips

          %p.mtop_zero
            Our experienced tutors have provided the below GAMSAT
            %sup ®
            chemistry exam tips:

        .highlight_box.gamsat-prep.mbot20
          .diffr_country
            %ul.cstm_list_style
              %li.mtop_zero
                %b Read the Questions correctly & Answer Options correctly:
                MCQs that involve chemistry in Section 3 of the exam will often swap the units. For example, this could be from Celsius to Kelvin or mmol to mol. Pay attention to detail.
              %li.mtop_zero
                %b Visualise:
                If you struggle to answer a GAMSAT
                %sup ®
                MCQ purely from the words, create flow charts, rules, and diagrams summarising the question stem on the scrap paper provided.
              %li.mtop_zero
                %b Equations:
                If an equation is provided, it’s likely there for a reason. Even if you don’t need it for maths, make sure you can understand the relationships between different parameters.
              %li.mtop_zero
                %b Develop a system or method to read and answer questions:
                This is commonly known as an MCQ Strategy or Exam Strategy and is one of the most important things we cover as part of our courses. This is important as it provides you with a tried and tested process to tackling questions which can help minimise stress on the day.
              %li.mtop_zero
                %b Know your Strengths and Weaknesses:
                Some students prefer to answer their strongest areas first, e.g. biology and chemistry first and then physics last. The essential point is to recognise your weaknesses and avoid wasting time on questions you know you will struggle on – move on to the next question and come back later if you have time.
      .preparation_col.head_aftr_none
        %h2#howPrepareSection3Physics
          GAMSAT Section 3 Physics Guide

        %p.mtop_zero
          The process of preparing for the
          %a{href: 'https://gradready.com.au/gamsat-physics', target: :_blank}
            %strong
              Physics component of GAMSAT
              %sup ®
          Section 3 largely follows the guidelines provided under
          %a{href: "#preparingforgamsatsection3"}
            %strong
              GAMSAT
              %sup ®
              Section 3 Preparation Strategy:

        %ol
          %li
            Build up foundational
            %a{href: 'https://gradready.com.au/gamsat-physics', target: :_blank}
              GAMSAT
              %sup ®
              Physics
            knowledge
          %li
            Begin practising your application of this knowledge with GAMSAT
            %sup ®
            ="-Style MCQs"
          %li
            As you become familiar with the style of MCQs, build up an MCQ Strategy
          %li
            Make sure to track which areas and topics you are struggling with
          %li
            Gradually build up to answering MCQs under realistic conditions (i.e. time pressure)

        %p
          Physics is perhaps the most feared GAMSAT
          %sup ®
          Section 3 topic, especially since the majority of medical school hopefuls come from a bioscience background and might not have done physics since high school. Many students adopt the strategy of ignoring physics questions and trying to “wing it”, or simply guessing, thinking that, after all,
          %i
            “physics only makes up 20% of GAMSAT
            %sup ®
            Section 3 questions and there are more important subjects to study”.

        %p
          This is generally an unwise strategy – GAMSAT
          %sup ®
          marks are allocated based on question difficulty and thus, some correct answers in those physics questions that few people might have tried can give you the advantage that gets you into medical school – This is a bit of a simplification of the Item Response Theory that is used for GAMSAT
          %sup ®
          scoring. To learn more about how your GAMSAT
          %sup ®
          scores work you can visit our guide:
          %a{href: "/gamsat-scores", target: :_blank}
            %strong
              Understanding your GAMSAT
              %sup ®
              Results.

        .thought_col
          %p.quotes_para.no_name
            %i
              Your Study Goal should include becoming familiar with the patterns of questions asked so that you have a rough idea about how to answer an MCQ in the first 20 or so seconds
            = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/quotes_rht.png'
        %p
          The fear of physics is understandable but irrational. With all the pressure of expectation and time constraints, physics stems appear very difficult at just a glance. Out of the sciences, the format physics takes is often the most unfamiliar; there will be an emphasis on formulas, equations and graphs, even the options may appear alien. You will however often find that after reading through the stem and having a think about the ideas put forth, the reasoning and interpretation is mostly the same. It is the format that may be off-putting: instead of reasoning with words you might be reasoning with formulas. The important thing is to always make an honest attempt.
        %p
          With that said, it might be worth reflecting on why physics is such a difficult subject in the GAMSAT
          %sup ®
          exam. Apart from lack of familiarity with the subject, time pressure and having to perform mental calculations are challenges even for those with a background in mathematical sciences. These considerations should give you an indication on how to study for the GAMSAT
          %sup ®
          Physics questions.
        %p As with other sections of the exam, your study goal should be to become familiar with the patterns of questions so that you have a rough idea about how to answer it in the first 20 or so seconds; if you are unable to find an answer in that short time span, at least make sure you have an idea on how to make a sensible guess.
        %p
          For further advice and tips, head to our
          %a.green{href: "/gamsat-physics", target: :_blank}
            %strong
              specific guide for GAMSAT
              %sup ®
              Physics.
      .preparation_col.head_aftr_none
        %h3.mtop10.mbot20#section3PhysicsTopics
          Physics Topics covered in GAMSAT Section 3
        %p
          We can organise the Physics topics that we regularly see in the GAMSAT
          %sup ®
          exam into the broad topics below.  Remember, when looking at these topics you only want to know the principles underpinning Physics. It is unlikely that you’ll be asked any direct recall questions, but the principles and ideas are often incorporated into MCQ Stems.
        .highlight_box.gamsat-prep.green_box.mbot20.mob_padlft30
          %ol
            %li
              Motion (1D and 2D Motion, Acceleration and Graphs)
            %li
              Newton’s Laws (in particular Equilibrium) and Torque
            %li
              Energy, Work and Conservation of moment
            %li
              Physics of Liquids (especially Pressure, Archimedes’ Principle, Buoyant Force)
            %li
              Electricity and Magnetism (electrostatic and magnetic forces)
            %li
              Electric Circuits
            %li
              Optics
            %li
              Radioactive Decay and other exponential-type mathematical laws
            %li
              Mathematical Operations, Fractions and Scientific Notation
            %li
              Mathematical Functions (especially logarithmic and trigonometric functions)

        %p
          Even if you have started early, learning everything to the level required in the GAMSAT
          %sup ®
          exam might be difficult – especially if you are starting from scratch with physics. If your time is very limited, it is a good idea to focus on the topics covered in the GAMSAT
          %sup ®
          papers sold by
          %a{href: "https://gamsat.acer.org/", target: :_blank}
            %strong
              ACER.
          These topics are the ones listed above.
        %p
          This is not an exhaustive list but should cover quite a lot in the GAMSAT
          %sup ®
          exam. An additional piece of advice: It is suggested that you acquire some “cultural” knowledge of physics, or in other words, learn about the important historical experiments and how physics’ principles are used in biology or chemistry research (e.g. one GAMSAT physics question we’ve seen in the past was based on the design of a mass spectrometer).
        %p
          Make sure you also download our GAMSAT® Physics Formula Sheet:
        .full_width
          .gamsat_study_syllabus
            .gamsat_study_syllabus_icon{:style => "margin-right: 50px"}
              = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/GAMSAT_physics_formulas.png', class: "icon40"
            .button_right_section_study_syllabus
              %a.gamsat_study_syllabus.hvr-shutter-in-horizontal{href: "/gamsat-physics-formula-sheet", target: :_blank} DOWNLOAD YOUR PHYSICS FORMULA SHEET
      .preparation_col.head_aftr_none
        %h3.mtop10.mbot20
          GAMSAT Section 3 Physics Study Approach
        %p.mtop_zero
          Again, the process of preparing for
          %a{href: 'https://gradready.com.au/gamsat-physics', target: :_blank}
            GAMSAT
            %sup ®
            Physics
          is nearly identical to that of preparing for Biology in the GAMSAT
          = succeed '.' do
            %sup ®
          Nevertheless, you can find some additional Physics tips below:

        .highlight_box.gamsat-prep.mbot20
          .diffr_country
            %ol
              %li
                %b Content:
                Develop an appreciation of the processes and principles.
              %li
                %b Questions:
                Answer GAMSAT
                %sup ®
                = "-Style Questions and develop your problem-solving skills."
              %li
                %b Discussion:
                Test your understanding and way of approaching questions with other students.
              %li
                %b Exams:
                Develop your exam technique and learn to cope with time pressure.
              %li
                %b Review:
                Make sure you understand why you answered a question incorrectly.

        %p
          It is important to understand that there is no one-size-fits-all model. The best way for you to study
          %a{href: 'https://gradready.com.au/gamsat-physics', target: :_blank}
            %strong
              GAMSAT
              %sup ®
              Physics
          will depend on your learning style and what you are comfortable with. That said, a few principles apply:

        .highlight_box.gamsat-prep.mbot20
          .diffr_country
            %ul.cstm_list_style
              %li.mtop_zero Avoid just solving questions mindlessly and moving on to the next problem. Try to grasp the pattern for certain types of physics problems.

              %li.mtop_zero For example, many physics questions involve time evolution where an initial state is given and a final state is obtained through a time evolution equation. You can develop such insights by solving many problems on the same topic and appreciating how one physics equation/principle can be applied to many different situations.

              %li.mtop_zero
                Focus on solving problems quickly. For example, learn to leave mathematical simplifications to the last step of solving a problem, learn when unit conversions are unnecessary (e.g. in many problems involving torque). Finally, once you solve a
                %a{href: 'https://gradready.com.au/gamsat-physics', target: :_blank}
                  GAMSAT
                  %sup ®
                  Physics
                question your job is not finished – try to find alternative ways that would have saved you time.

              %li.mtop_zero
                Develop an understanding of simple physical systems and their variations. For example, what happens to the total current in a circuit when you add one resistor in parallel? Does it go up, down, or stay the same? Many
                %a{href: 'https://gradready.com.au/gamsat-physics', target: :_blank}
                  GAMSAT
                  %sup ®
                  Physics
                questions are designed to be answered quickly by one being able to answer such questions without flinching.
      .preparation_col.head_aftr_none
        %h3.mtop10.mbot20#section3PhysicsFreeResources
          GAMSAT Section 3 Physics: Free Online Resources

        .highlight_box.gamsat-prep.mbot20
          .diffr_country
            %ul.cstm_list_style
              %li.mtop_zero
                One way to develop an intuitive feeling of physical systems is using interactive simulations, which can be found here:
                %a{href: "https://phet.colorado.edu/en/simulations/category/new", target: :_blank}
                  %strong
                    https://phet.colorado.edu/en/simulations/category/new
              %li.mtop_zero
                For those who did not study physics and want something more basic, the book “
                %a{href: "https://www.amazon.com/Conceptual-Physics-Eleventh-international-Hewitt/dp/B007YXXQVQ/ref=mt_paperback?_encoding=UTF8&me=", target: :_blank}
                  %strong
                    Conceptual Physics
                ” by Paul Hewitt is quite fun to read and very insightful. You might be able to get a free e-copy through your university library.
              %li.mtop_zero
                %a{href: "#"}
                For fast track students with a background in calculus, Feynman Lectures on physics might have some useful insights:
                %a{href: "http://www.feynmanlectures.caltech.edu", target: :_blank}
                  %strong
                    http://www.feynmanlectures.caltech.edu
              %li.mtop_zero
                %a{href: "https://www.khanacademy.org/science/chemistry", target: :_blank}
                  %strong Khan Academy
              %li.mtop_zero
                %a{href: "https://www.youtube.com/user/crashcourse", target: :_blank}
                  %strong Youtube - Crash Course
        %p
          For further advice and tips, head to our
          %a.green{href: "/gamsat-physics", target: :_blank}
            %strong
              specific guide for GAMSAT
              %sup ®
              Physics.
        %p.mtop_zero
          You can also sign up for our
          %a{href: "/gamsat-preparation-courses/free-gamsat-trial",target: :_blank}
            %strong Free Trial
          which includes a GAMSAT
          %sup ®
          Study Guide with a week-by-week study schedule for Section 3 Physics (as well as Section 1 & 2) to help you plan out your preparation.
        .boxed.mbot20
          Get Access to:
          %ul{:style => "list-style-type:none;padding: 13px 0px;"}
            %li 50 Free MCQs
            %li Week-By-Week Study Guide
            %li Complete Session 3 Topic List
            %li Recorded Webinars
          .free_gamsat_icon
            = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/free_trial.png', class: "icon30"
          .button_right_section
            %a.free_trial_btn.hvr-shutter-in-horizontal{href: "/gamsat-preparation-courses/free-gamsat-trial", target: :_blank} GAMSAT Free Trial

        .preparation_col.head_aftr_none
          %h3.mtop10.mbot20
            Exam Tips for GAMSAT
            %sup ®
            Physics
          %p.mtop_zero
            Our experienced tutors have provided the below
            %a{href: 'https://gradready.com.au/gamsat-physics', target: :_blank}
              %strong
                GAMSAT
                %sup ®
                Physics
            exam tips:

        .highlight_box.gamsat-prep.mbot20
          .diffr_country
            %ul.cstm_list_style
              %li.mtop_zero
                %b Be familiar with concepts:
                Many
                %a{href: 'https://gradready.com.au/gamsat-physics', target: :_blank}
                  GAMSAT
                  %sup ®
                  Physics
                Questions can be solved without any calculation, simply by thinking about the physics concepts. Many students think of physics as “memorising formulas” and pay little attention to its conceptual framework; however, the GAMSAT
                %sup ®
                relies on students being familiar with the physics concepts to be able to solve a question under pressure and in a short amount of time.

              %li.mtop_zero
                %b Check what options are given:
                Check what options are given: ‘unphysical’ answers can be eliminated just by glancing at the question.

              %li.mtop_zero
                %b Keep your calculations tidy:
                Keep your calculations tidy: it saves you time and make silly mistakes less likely

              %li.mtop_zero
                %b Write down the data given in the question:
                This helps you to avoid re-reading the question many times.

        %p
          For further general GAMSAT
          %sup ®
          Preparation and GAMSAT
          %sup ®
          Exam tips, you can visit our overall breakdown of how to study for the GAMSAT
          %sup ®
          = ":"
          %a{href: "/gamsat-preparation", target: :_blank}
            %strong
              How to Prepare for the GAMSAT
              %sup ®
              Exam
      .preparation_col.head_aftr_none
        %h2#section3Maths
          GAMSAT Section 3 Maths
        %p
          While there is no specific section that tests Maths in the GAMSAT
          %sup ®
          exam, Section 3 does require a certain level of  basic mathematical skills or manipulation. Many students underestimate the importance of mathematics when it comes to the GAMSAT
          %sup ®
          exam which may result in them neglecting this during their GAMSAT
          %sup ®
          preparation. The reality is that while there are no specific mathematical questions in the GAMSAT
          %sup ®
          exam, a candidate without a strong understanding of concepts such as algebraic manipulation will limit their capacity to interpret the data provided in the Section 3 stems. 
        %p
          Unlike the three GAMSAT
          %sup ®
          sciences of Section 3, there is no explicit information in the syllabus as to what level or topics of mathematics will be included in the exam. Nevertheless, we can put together a core list of skills and tips, based on expert tutor experiences, to keep in mind for Section 3 of the GAMSAT
          %sup ®
          exam:
        %ol
          %li
            Approximation and estimation - involves combining, rounding up numbers and simplifying the equations 
          %li
            Watch out for units - manipulation of units to ensure consistency across multi-step calculations 
          %li
            Familiarise yourself with functions, graphs, logarithm and the exponential law 
          %li
            Improve the speed of mental algebraic calculation
          %li
            Understand trigonometry
        %p
          If you are interested in learning more, check out further tips and tricks from our separate guides on
          %a{href: 'https://gradready.com.au/gamsat-physics', target: :_blank}
            %strong
              GAMSAT
              %sup ®
              Physics
          and
          %a{href: 'https://gradready.com.au/gamsat-chemistry', target: :_blank}
            %strong
              GAMSAT
              %sup ®
              Chemistry.
      .preparation_col.head_aftr_none
        %h2#furtherPrepMat
          Further Preparation Materials
        %p.mtop_zero
          %ol.ordr_list
            %li
              %h5
                %a{href: "/what-is-gamsat", target: :_blank}
                  What is the GAMSAT
                  %sup ®
                  ?
              %p.mtop_zero
                Everything you need to know about the GAMSAT
                %sup ®
                Exam from structure and overview to which universities require the GAMSAT
                %sup ®
                = '.'

            %li
              %h5
                %a{href: "/gamsat-scores", target: :_blank}
                  Understanding your GAMSAT
                  %sup ®
                  Results
              %p.mtop_zero
                Covers everything you need to know about your GAMSAT
                %sup ®
                Results – how the scoring works, result release dates, and even GAMSAT
                %sup ®
                score cutoffs.

            %li
              %h5
                %a{href: "/gamsat-preparation", target: :_blank}
                  How to study for the GAMSAT
                  %sup ®
                  Exam
              %p.mtop_zero
                A breakdown of how to approach study effectively and how to set up a GAMSAT
                %sup ®
                study schedule.
            %li
              %h5
                %a{href: "/gamsat-section-1", target: :_blank}
                  How to prepare for GAMSAT
                  %sup ®
                  Section 1
              %p.mtop_zero
                An overview of what to expect in Section 1 of the GAMSAT
                %sup ®
                Exam, how to prepare.
            %li
              %h5
                %a{href: "/gamsat-section-2", target: :_blank}
                  How to prepare for GAMSAT
                  %sup ®
                  Section 2
              %p.mtop_zero
                An overview of what to expect in Section 2 of the GAMSAT
                %sup ®
                Exam and how to perfect your essay technique.
            %li
              %h5
                %a{href: "/gamsat-biology", target: :_blank}
                  How to prepare for GAMSAT
                  %sup ®
                  Biology
              %p.mtop_zero
                Get even further details and specific tips for the Biology component of Section 3 of the GAMSAT
                %sup ®
                Exam
            %li
              %h5
                %a{href: "/gamsat-chemistry", target: :_blank}
                  How to prepare for GAMSAT
                  %sup ®
                  Chemistry
              %p.mtop_zero
                Further advice and information specific to GAMSAT
                %sup ®
                Section 3 Chemistry - Get a detailed breakdown of various topics.
            %li
              %h5
                %a{href: "/gamsat-physics", target: :_blank}
                  How to prepare for GAMSAT
                  %sup ®
                  Physics
              %p.mtop_zero
                Not sure about the value of preparing for GAMSAT
                %sup ®
                Physics? Think again - The Physics component of Section 3 can be a key separator of student performance, get further details on how to prepare.
        %p
          For further tips and advice make sure you sign up for our
          %a{href: "https://gradready.com.au/gamsat-preparation-courses/free-gamsat-trial", target: :_blank}
            %strong
              GAMSAT
              %sup ®
              Free Trial
          to watch a recording of our GAMSAT
          %sup ®
          Section 3 Workshop - Check out the 10 minute excerpt below
        .tab-content
          .container.video_container_width
            #grad_video_testimonial.carousel.slide.blog_slider.result_slider{"data-ride" => "carousel", "data-interval" => "false"}
              .carousel-inner.tab1
                .item.active
                  %video.video-js.vjs-default-skin.test_slide_height{controls: "", "data-autoplay" => "false", "data-autoresize" => "fit", "data-controls" => "true", "data-setup" => "{ \"playbackRates\": [2, 1.5, 1.2, 1, 0.5] }"}
                    %source{src: "https://gradready-prod.s3-ap-southeast-2.amazonaws.com/public/Section3HowtoPrepareVideoExcerpt.mp4", type: "video/mp4"}
        %p.mtop_zero
          %ol.ordr_list
            .boxed
              Get Access to:
              %ul{:style => "list-style-type:none;padding: 16px 0px;line-height: 0.9;"}
                / Get Access to:
                %li 50 Free MCQs
                %li Week-By-Week Study Guide
                %li Complete Session 3 Topic List
                %li Recorded Webinars
              .free_gamsat_icon
                = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/free_trial.png', class: "icon30"
              .button_right_section
                %a.free_trial_btn.hvr-shutter-in-horizontal{href: "/gamsat-preparation-courses/free-gamsat-trial", target: :_blank} GAMSAT Free Trial


:javascript
  $(".open_recommender").click(function(){
    $("#course-recommender .cr").addClass("cr--on")
  });
  // Select all links with hashes
  $('a[href*="#"]')
  // Remove links that don't actually link to anything
  .not('[href="#"]')
  .not('[href="#0"]')
  .click(function(event) {
    // On-page links
    if (
      location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
      &&
      location.hostname == this.hostname
    ) {
      // Figure out element to scroll to
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      // Does a scroll target exist?
      if (target.length) {
        // Only prevent default if animation is actually gonna happen
        event.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top-74
        }, 1000, function() {
          // Callback after animation
          // Must change focus!

        });
      }
    }
  });
:css
    @media only screen and (min-width: 260px) and (max-width: 767px){
    .highlight_box{
    padding: 10px 0px;
    }
     .green_box .div_left.pad_lf80 {
       padding-left: 20px;
      }
      .green_box .div_ryt.pad_lf130{
      padding-left: 30px;
      }
      .highlight_box .div_ryt {
        width: 47%;
    }
    .mob_padlft30{
     padding-left:30px;
    }
  }