- title "GAMSAT Biology: How to Prepare for Section 3 Biology"
- meta_description "40% of Section 3 of the GAMSAT exam will test your Biology knowledge and reasoning skills. Learn the best ways to prepare for GAMSAT Biology and succeed in the exam in 2022."
- meta_keywords "gamsat biology"

%section.talk_to_bg.home_faq.dashboard_bg
  #typed.notification_bar
    %p
      = render 'pages/partial/announcement', product_line: map_path_to_prodline(request.env['PATH_INFO']), relative: false
  .container.public_container
    .support_col.looking_corse.text-center.gradready_question
      %h1
        GAMSAT Biology: How to Prepare in 2022
%section.faq_wrapper.faq_details
  .row
    .container.public_container
      .download-counter-badge
        %p.download_read= show_estimated_read_time rescue nil
        %span|
        %i.fa.fa-user{'aria-hidden': "true"}
        %p.download_read= show_download_hit_count rescue nil
      .preparation_col.head_aftr_none
        %p
          GAMSAT
          %sup ®
          Biology is often somewhat neglected by students preparing for the GAMSAT
          %sup ®
          exam - Biology is often considered a ‘comfort zone’ by many students, particularly those from a bioscience background. As such, there is a false assumption that the Biology component of GAMSAT® Section 3 will be a straightforward walk in the park, that questions will consist of topics and concepts already seen and examined throughout their undergraduate degrees, and that students will be able to ace these questions with little to no preparation. 
        %p
          Unfortunately, the reality is far less simple. Yes, students may be faced with Biology concepts and principles they may have seen throughout their studies, but these will almost always be provided in novel and unfamiliar scenarios that will push students to their limits in applying logical reasoning skills, rather than any simple knowledge recall questions. With GAMSAT
          %sup ®
          Biology making up 40% of Section 3, it would be foolish to disregard it. This guide on GAMSAT
          %sup ®
          Biology will help you to understand why Biology is important for both the GAMSAT® exam and in medical/health professional education and will provide you with tips on how to prepare for GAMSAT
          %sup ®
          Biology, and what you can expect from the Biology component of GAMSAT
          %sup ®
          Section 3.
        %ol
          %li
            %a{href: "#whatIsBiology"}
              Why is Biology in the GAMSAT
              %sup ®
              ?
          %li
            %a{href: "#whatToExpect"}
              What to Expect from GAMSAT
              %sup ®
              Biology
          %li
            %a{href: "#bestWaysStudyBiology"}
              How to prepare for GAMSAT
              %sup ®
              Biology
          %li
            %a{href: "#biologyTopics"}
              GAMSAT
              %sup ®
              Biology Topics
          %li
            %a{href: "#tipsForStudyingBiology"}
              GAMSAT
              %sup ®
              Biology Study Tips
          %li
            %a{href: "#importantCognitiveSkills"}
              Important Cognitive Skills for GAMSAT
              %sup ®
              Biology
          %li
            %a{href: "#approachingBiology"}
              Approaching GAMSAT
              %sup ®
              Biology Questions on Exam Day
          %li
            %a{href: "#freeOnlineResources"}
              Free Online GAMSAT
              %sup ®
              Biology Resources
          %li
            %a{href: "#furtherPreparationResources"}
              Further Preparation Resources

      .preparation_col.head_aftr_none
        %h2#whatIsBiology
          Why is Biology in the GAMSAT?
        %p.mtop_zero{:style => "margin-bottom: auto;"}
          Biology is the study of living things, and is therefore very important in the study of medicine. By covering biology, you’ll learn how organisms function, from the level of individual cells and even molecules up to how organisms work as a whole. Furthermore, biology applies many concepts from physics and chemistry, so it’s helpful to consolidate your knowledge in these other fields as well (e.g. studying chemistry may help in understanding the structure of DNA and other molecules in the body, whereas studying physics may help in understanding processes such as blood flow). Therefore, building a solid foundation in the biological sciences is not only important for the GAMSAT
          %sup ®
          exam, but for medical school as well.
        %p
          Reasoning in the biological sciences is something medical professionals and students do day-to-day - It requires a strong understanding of the human biological systems and then an ability to reason through and analyse the different ways modern medicine tinkers with and tests these systems. For example, take blood pressure: As a medical student and professional you need to both understand how blood pressure is regulated as well as what factors may influence it - You then need to apply this knowledge in considering the effects of different medications or procedures, combining these, and even the flow-on consequences this may have for patients, both in long-term and acute scenarios. Take another example of hyperthyroidism - You’ll need to have an appreciation of the underlying biology of the thyroid gland and thyroid hormone production before being able to understand how different tests can help differentiate between causes and diagnoses.

        %p
          GAMSAT
          %sup ®
          Biology is designed to test these sorts of skills that will be your bread-and-butter as a future medical professional - The key difference is that it often takes students outside of the human biological systems (as some concepts may be familiar to students from a biomedical background) and levels the playing ground by testing the same sorts of skills in novel contexts. GAMSAT
          %sup ®
          Biology makes up a fairly large chunk of
          %a{href: 'https://gradready.com.au/gamsat-section-3', target: :_blank}
            %strong
              section 3 of the GAMSAT
              %sup ®
              exam.
          A general rule of thumb is that around 40% of MCQs will cover Biology; However, do keep in mind that many questions incorporate multiple science disciplines (
          %a{href: 'https://gradready.com.au/gamsat-physics', target: :_blank}
            %strong physics
          ,
          %a{href: 'https://gradready.com.au/gamsat-chemistry', target: :_blank}
            %strong chemistry
          , biology). When you consider that many medical schools place more weight on
          %a{href: 'https://gradready.com.au/gamsat-section-3', target: :_blank}
            %strong
              section 3 of the GAMSAT
              %sup ®
          in
          %a{href: 'https://gradready.com.au/gamsat-scores', target: :_blank}
            %strong
              calculating your overall GAMSAT
              %sup ®
              score
          , the importance of biology study in scoring well becomes even more evident.

        %p
          If you’re new to the GAMSAT
          %sup ®
          exam, this guide to the exam in general is a useful starting point:
          %a{href: 'https://gradready.com.au/what-is-gamsat', target: :_blank}
            %strong
              What is the GAMSAT
              %sup ®
              Exam?
      .preparation_col.head_aftr_none 
        %h2#whatToExpect
          What to Expect from GAMSAT Biology
        %p
          Recall that
          %a{href: 'https://gradready.com.au/gamsat-section-3', target: :_blank}
            Section 3 of the GAMSAT
            %sup ®
            exam
          is designed to examine your reasoning and problem-solving skills rather than your recall of specific content. This section is not a test of theoretical knowledge or memory but rather the ability to reason, make logical deductions and form judgements by assessing the information provided.
        %p
          Because GAMSAT
          %sup ®
          Biology is typically the area in which students sitting the exam have the most background knowledge, ACER will largely avoid questions based on assumed biology knowledge and focus on those that are designed to test the application of this knowledge. Note however that the principles and ideas are often incorporated into MCQ Stems. 
        %p
          You will instead be faced with advanced-level, novel content designed to assess your reasoning skills; content often presented in the form of graphs, tables, diagrams and mathematical relationships. Having said all that, a good level of basic scientific knowledge and familiarity with more advanced scientific concepts will improve the speed at which you comprehend and answer the time-pressured GAMSAT
          %sup ®
          Biology questions.
        %p
          A common example that helps students put this into perspective is that of positive and negative feedback loops. Almost all students from a biosciences background will be familiar with the concept of positive and negative feedback - This may be in the context of blood pressure regulation, the menstrual cycle, etc. It is highly unlikely that you’ll see such familiar topics in Section 3 of the GAMSAT
          %sup ®
          exam,
          %b but
          you could see the principles of positive and negative feedback loops applied in a novel scenario with additional pieces of information. For example, a question might discuss the migratory cycles of salmon, or the growth of a new bacteria or virus, and test students on their ability to recognise and integrate feedback systems with additional information presented in tables or graphs. This is just one possible example of how fundamental Biology concepts and principles can be applied in new scenarios. 

      .preparation_col.head_aftr_none
        %h2#bestWaysStudyBiology
          How to Prepare for GAMSAT Biology
        %p
          The overarching process can be best summarised as the following:
        %ol
          %li
            Build up foundational GAMSAT
            %sup ®
            Biology knowledge
          %li
            Begin practising your application of this knowledge with GAMSAT
            %sup ®
            = '-Style MCQs'
          %li
            As you become familiar with the style of MCQs, build up an MCQ Strategy
          %li
            Make sure to track which areas and topics you are struggling with
          %li
            Gradually build up to answering MCQs under realistic conditions (i.e. time pressure)
        %p
          This is essentially a roadmap to preparing for
          %a{href: 'https://gradready.com.au/gamsat-section-3', target: :_blank}
            %strong
              Section 3 of the GAMSAT
              %sup ®
              exam
          in general, but we can tailor our approach to specifically focus on GAMSAT
          %sup ®
          Biology.
        %h3#biologyTopics
          GAMSAT Biology Topics
        %p
          We can organise the Biology topics that we regularly see in the GAMSAT
          %sup ®
          exam into the broad topics below. Remember, when looking at these topics you only want to know the principles underpinning these areas.
        .highlight_box.gamsat-prep.green_box.mbot20
          %ol
            .div_left.pad_lf80
              %li
                Biomolecules & the Cell
              %li
                Enzymes, Cellular Metabolism & the Central Dogma
              %li
                Cell Division
              %li
                Nervous System
              %li
                Musculoskeletal System
              %li
                Cardiovascular System 
              %li
                Respiratory System
            .div_ryt.pad_lf130
              %li
                Gastrointestinal System
              %li
                Renal System
              %li
                Endocrine System
              %li
                Immune System
              %li
                Genetics & Evolution
              %li
                Reproductive System
              %li
                Experimental Design and Data Analysis
        .thought_col.mbot20
          %p.quotes_para
            %i
              Remember, when looking at these topics you only want to know the principles underpinning the biology.
            = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/quotes_rht.png'
        %h3
          How to study for GAMSAT Biology
        %p
          The list of GAMSAT
          %sup ®
          Biology topics above should provide you with a good place to start your GAMSAT
          %sup ®
          study. However, the amount to cover can be quite overwhelming with its level of detail, especially as you’re just beginning to start your preparation. While it is tempting to try and learn as many details as you can, this approach is not helpful for the GAMSAT
          %sup ®
          Exam, where the focus is on the process of applying information rather than on the amount of knowledge. The most important parts of studying GAMSAT
          %sup ®
          biology are:
        .highlight_box.gamsat-prep.mbot20
          .diffr_country
            %ol
              %li
                %b Content:
                Know the basics and know them well. Develop an appreciation of the processes and principles.
              %li
                %b Questions:
                Apply the knowledge, answer GAMSAT®-Style Questions, and Develop your problem-solving skills. Practise reading many different types of graphs and diagrams - GAMSAT
                %sup ®
                biology questions tend to require data interpretation
              %li
                %b Discussion:
                Test your understanding and way of approaching questions with other students. 
              %li
                %b Exams:
                Develop your exam technique and learn to cope with time pressure.
              %li
                %b Review:
                Make sure you understand why you answered a question incorrectly.
        %h4
          Learn the Content
        %p
          As stated above, a foundation of content is essential. Having a foundation for each area is akin to having a puzzle with some pieces already put together for you - you just have to figure out how new pieces fit in. As you can imagine, this is much more efficient than starting a puzzle completely from scratch. Your learning does not need to include memorising facts and information; rather try to appreciate the broader processes that underpin each concept and consider the consequences of changes and manipulations to these processes. Familiarity with scientific vocabulary will also allow you to navigate complex ideas more quickly. If you think about it, learning foundational content is akin to practice for dissecting and understanding new information in the GAMSAT
          %sup ®
          exam!
        %p
          It’s best to focus on active learning and engaging with the content. This usually involves comparing concepts, answering questions, and manipulating the content, rather than writing out paragraphs and trying to memorise details. As you study GAMSAT
          %sup ®
          Biology, aim to continuously build upon your level of knowledge by relating new concepts back to what you already know. This will not only make it easier to learn the new concepts, but also consolidate the old concepts as well.
        .thought_col.mbot20
          %p.quotes_para
            %i
              Focus your time on familiarising yourself with big-picture concepts (e.g. the role of enzymes) rather than remembering minor specific details (e.g. names of enzymes). That time is better spent developing skill through practice (e.g. doing practice questions).
            = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/quotes_rht.png'
        %h4
          Practice Questions
        %p
          This is the most important way to prepare for the GAMSAT
          %sup ®
          Biology. Ideally you revise the content at the beginning and then spend the majority of your
          %a{href: 'https://gradready.com.au/gamsat-preparation', target: :_blank}
            %strong
              GAMSAT
              %sup ®
              study
          answering MCQs. The GAMSAT
          %sup ®
          exam is about applying knowledge and interpreting problems and these skills improve with practice, so practice!
        %p
          Do as many
          %a{href: 'https://gradready.com.au/gamsat-free-practice', target: :_blank}
            %strong
              practice GAMSAT
              %sup ®
              questions
          as you can get your hands on. Firstly, doing practice questions will familiarise you with the style of questions used in the GAMSAT
          %sup ®
          Exam. This is important as GAMSAT
          %sup ®
          questions focus less on prior knowledge and more on interpretation, which is likely quite different to exams that you have done in the past. Secondly, doing practice questions will help you to identify your weak areas. The best way to develop an effective study plan is to know what you need to work on.
        %p
          GradReady has over 4000 MCQs in our Intelligent MCQ Bank which features an online learning system that tracks your performance across 43 different categories of topics and helps you identify your strengths and weaknesses. To test our MCQ Bank for yourself, sign up for our
          %a{href: 'https://gradready.com.au/gamsat-preparation-courses/free-gamsat-trial', target: :_blank}
            Free Trial
          now and get access to 50 free MCQs.
        %h4
          Discuss the Questions
        %p
          Having people to study with and being able to discuss answers to GAMSAT
          %sup ®
          Biology questions is a great way to check if your logic is sound. If you can defend why something is wrong or right, then you’ve understood the problem and solved it in a logical way. This can most easily be done in groups following a set of MCQs or a practice exam. For more tips on how to build your own GAMSAT
          %sup ®
          Study Group click here:
          %a{href: 'https://gradready.com.au/posts/gamsat-preparation-courses/life-hacks-organising-a-study-group', target: :_blank}
            %strong Organising a Study Group.
        %h4
          Sit Practice and Mock Exams 
        %p
          This is less about question technique and more about time. You need to be able to answer questions to get a good score, so you need the time to be able to adequately do this. Developing your endurance and time management skills during the marathon that is the GAMSAT
          %sup ®
          exam is absolutely crucial and shouldn’t be overlooked. As you approach exam day, allocate time to stimulate a real GAMSAT
          %sup ®
          exam day in GAMSAT
          %sup ®
          conditions. It familiarises you with the time pressure, and makes the day feel less alien which all leads to improved concentration and mental endurance if you are mentally prepared for what lies ahead.
        .thought_col.mbot20
          %p.quotes_para
            %i
              Managing time pressure is often quoted as one of the hardest aspects of the GAMSAT
              %sup ®
              exam so developing your endurance and time management skills is absolutely crucial and shouldn’t be overlooked
              = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/quotes_rht.png'
        %p
          You can also opt to sit a Mock Exam. GradReady runs Online Mock Exams before the September and March GAMSAT® exams. Do a test run, followed by a day-long review of the toughest and most high-yield questions from the Mock Exam. You’ll receive an Overall Percentile Score in addition to individual scores for each section. The Mock Exam is included in all of our Attendance Courses but can also be purchased separately. To learn more click here:
          %a{href: 'https://gradready.com.au/gamsat-preparation-courses/custom', target: :_blank}
            %strong
              GradReady GAMSAT
              %sup ®
              Mock Exam
        %h4
          Review your Answers
        %p
          It’s a good idea to keep a log of the GAMSAT
          %sup ®
          Biology topics and questions you struggle with. Once you have completed a set of MCQs or an exam, review what you got wrong and write down why. Did you read it wrong, interpret the problem incorrectly, or have flaws in your knowledge? Once you have found the issue, create a plan to fix it and implement those fixes for your next practice session. Making sure that you can quickly understand the principles behind questions will reduce this basal level of stress, give you confidence when answering the questions and allow you to answer questions faster and more accurately.
        %p
          If you misread a double negative, be aware that you have been doing this and create a strategy to mitigate it (e.g. underlining negative terms within questions/stems as you go through the exam). If it’s content, then make sure to revise the area that you’re struggling with.
        %p
          For more advice on how to schedule and plan your GAMSAT
          %sup ®
          Exam study in general, you can visit our guide here:
          %a{href: "https://gradready.com.au/gamsat-preparation", target: :_blank}
            %strong
              Planning your GAMSAT
              %sup ®
              Preparation.
        %p
          You can also sign up for our Free Trial which includes 50 free GAMSAT
          %sup ®
          questions from our intelligent MCQ Bank, as well as heaps of other free resources!
        %p.mtop_zero
          %ol.ordr_list
            .boxed
              Get Access to:
              %ul{:style => "list-style-type:none;padding: 16px 0px;line-height: 0.9;"}
                %li 50 Free MCQs
                %li Week-By-Week Study Guide
                %li Complete Session 3 Topic List
                %li Recorded Webinars
              .free_gamsat_icon
                = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/free_trial.png', class: "icon30"
              .button_right_section
                %a.free_trial_btn.hvr-shutter-in-horizontal{href: "https://gradready.com.au/gamsat-preparation-courses/free-gamsat-trial", target: :_blank} GAMSAT Free Trial

      .preparation_col.head_aftr_none.mtop35
        %h2#tipsForStudyingBiology
          GAMSAT Biology Study Tips
        %p
          It all starts with
          %a{href: 'https://gradready.com.au/gamsat-preparation', target: :_blank}
            %strong making a plan.
          This  is key to ensuring that you get through not only GAMSAT
          %sup ®
          Biology, but also humanities,
          %a{href: 'https://gradready.com.au/gamsat-chemistry', target: :_blank}
            %strong chemistry
          , and
          %a{href: 'https://gradready.com.au/gamsat-physics', target: :_blank}
            %strong physics.
          Use study tools like a revision list to identify topics and areas you find difficult so that you can revise and improve.
        %p
          It is critically important to let your mind rest and refresh between study sessions so that your sessions are of high quality. Be sure to prioritise activities that keep you physically well, such as eating well, sleeping well, and getting some exercise, as keeping yourself physically well is also the key to making sure that your brain will work well too.
        %p
          As a general rule, you likely will not need to know more detail than what is listed in the chapter summaries of an average undergraduate human biology textbook. GAMSAT
          %sup ®
          Biology study can be overwhelming with its amount of content and detail, but the content can seem much more reasonable once distilled down to core principles. 

        %p Below are the main topics and concepts that you should get a good grasp on, and from there you can build on your foundation.
        .diffr_country
          %ul.cstm_list_style
            %li.mtop_zero
              %h3 Biochemistry
              %p Cells are basically the building blocks of humans, so while this topic may seem quite dry, it is an important foundation topic for the rest of biology. You should aim to understand the basic structure of a human cell and some of the main organelles (parts of cells that perform specific functions), such as the nucleus, mitochondria, and endoplasmic reticulum. You should also aim to understand DNA as the “genetic code” of the cell, which is transcribed into messenger RNA and then translated into proteins. The specific steps of how this process takes place are not necessary for you to know- simply knowing what DNA is and what it does is sufficient.
              %p Another important concept that you need to know is the role of enzymes. Enzymes are biological catalysts (molecules that speed up a reaction without being consumed), and so learning about enzymes should tie in nicely with your chemistry study. While you do not need to know the names of specific enzymes, it is important to know what they do and what would happen if enzymes were to become dysfunctional.
            %li.mtop_zero
              %h3 Genetics
              %p
                Genetics is the study of how characteristics are passed down from one generation to the next, and is therefore also key to learning about genetic diseases and about more complex phenomena such as evolution. While you are unlikely to encounter a question about simple Mendelian genetics (inheritance of simple traits that are influenced by a limited number of genes), understanding this basic concept and some of the terminology around it should provide you with a starting point for encountering more complex problems.
            %li.mtop_zero
              %h3 Organ Systems
              %p
                Learning about the organ systems can seem daunting, as there are so many of them. As you learn about the organ systems, try and relate what you are learning back to your physics and chemistry study. For example, moving air in and out of the lungs relies on changes in pressure and air moving from areas of higher pressure to areas of lower pressure. Furthermore, try and relate what you are learning about in one organ system to what you have learned in others. Don’t forget that while we often learn about organ systems one at a time for simplicity, in reality all of the organ systems of the body work together and influence each other - Changes in one system will often impact others.
            %li.mtop_zero
              %h3 Experimental Design and Data Analysis
              %p
                GAMSAT
                %sup ®
                MCQ writers like to present data in unusual ways, and the best way to get better at reading and interpreting such data is to practice, practice, practice. GradReady has an MCQ bank that is being continuously updated with new questions to reflect this particular style and the changes in the exam over time. Other sources for interesting graphs include academic journals and perhaps higher level textbooks. In terms of content, it may be useful to learn some of the basics of different types of studies, and general principles of scientific experiments in general (e.g. different types of variables).
            %li.mtop_zero
              %h3 Graphical Representation of Data
              %p
                Not just for GAMSAT
                %sup ®
                Biology but for
                %a{href: 'https://gradready.com.au/gamsat-section-3', target: :_blank}
                  Section 3 of the GAMSAT
                  %sup ®
                  exam
                in general, information is often presented in the form of graphs, tables, diagrams, and mathematical relationships. Look for trends within the data points and refer back to the stems of the MCQs. Develop techniques that allow you to confidently analyse unfamiliar graphs and figures.
        %p
          To see the full list of the Biology topics regularly asked in the GAMSAT
          %sup ®
          exam, check out our full list of
          %a{href: '#biologyTopics'}
            %strong
              GAMSAT
              %sup ®
              Biology topics above.
        %p
          For further free GAMSAT
          %sup®
          Exam resources, including a complete topic list for Section 3, check out a complete list here:
          %a{href: "https://gradready.com.au/free-gamsat-preparation-materials", target: :_blank}
            %strong
              Free GAMSAT
              %sup ®
              Preparation Materials
        %p
          Download our GAMSAT
          %sup ®
          Exam Study Syllabus for a full list of Section 3 topics as well as tips and advice for Section 1 and 2:
        .fr_text_center
          .full_width
          .gamsat_study_syllabus
            .gamsat_study_syllabus_icon{:style => "margin-right: 50px"}
              = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/gamsatstudysyllabus.png', class: "icon40"
          .button_right_section_study_syllabus
            %a.gamsat_study_syllabus.hvr-shutter-in-horizontal{href: "https://gradready.com.au/gamsat-study-syllabus", target: :_blank}
              GAMSAT
              %sup ®
              Study Syllabus
      .preparation_col.head_aftr_none
        %h2#importantCognitiveSkills
          What are the most important cognitive skills for GAMSAT Biology?
        %p
          Section 3 of the GAMSAT
          %sup ®
          is designed to examine your reasoning and problem-solving skills rather than your recall of specific content. This section is not a test of theoretical knowledge or memory knowledge but rather the ability to reason, make logical deductions and form judgements by assessing the information provided. So in order to successfully answer GAMSAT
          %sup ®
          Biology questions, it is critical to develop an ability to integrate new information into an existing framework of knowledge. 
        %p
          The key cognitive skill you will require is to be able to break down long and confusing questions into relevant ‘chunks’ of information. You will then need to connect these fundamental pieces of information in a meaningful way to arrive at a logical answer.
        %p
          Why do you need this skill? As a clinician, you will constantly be facing similar situations where there is a need to combine knowledge across multiple disciplines such as microbiology, anatomy, physiology and pharmacology to arrive at an accurate diagnosis. This is why the GAMSAT
          %sup ®
          exam prepares you for the demands of the medical field.
      .preparation_col.head_aftr_none.mtop35
        %h2#approachingBiology
          Approaching GAMSAT Biology Questions on Exam Day
        %p.mtop_zero
          On exam day, GAMSAT
          %sup ®
          Biology MCQs can seem daunting, with long stems and even longer and more confusing names (of organisms, enzymes, etc.). Furthermore, GAMSAT
          %sup ®
          MCQs often test relatively obscure topics that candidates are not expected to know, as it’s a test of how well candidates can apply new information. One way to approach these questions is to view them as logic puzzles dressed up with science terms, as this may help them to seem less daunting. Focus on determining a logical approach that you can follow to get to the correct answer, and work methodically, as this will help you find the correct answer with greater certainty.

        %p
          It goes without saying that
          %a{href: "https://gradready.com.au/gamsat-preparation", target: :_blank}
            %strong
              general exam strategies
          will also work here. Be sure to get sufficient rest before exam day, and let your brain have a break between
          %a{href: 'https://gradready.com.au/gamsat-section-2', target: :_blank}
            %strong Sections 2
          and 3. Do easier questions first so that you can get as many “points” as possible before tackling the harder questions and/or the wordier, more time-consuming questions. If you are unable to figure out the correct answer, try ruling out some of the answer options so that you have a higher chance of guessing correctly, and know when to cut your losses and move to the next unit.
        .thought_col.mbot20
          %p.quotes_para
            %i
              Managing time pressure is often quoted as one of the hardest aspects of the GAMSAT
              %sup ®
              exam so developing your endurance and time management skills is absolutely crucial and shouldn’t be overlooked
              = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/quotes_rht.png'
        %p
          Biology is an important field for budding medical practitioners to understand, which is why it’s featured so heavily on the GAMSAT
          %sup ®
          Exam. When studying GAMSAT
          %sup ®
          Biology, a focus on big-picture concepts should help to build a solid foundation for GAMSAT
          %sup ®
          and for future study. Data interpretation is likewise very important and, just like with other sections of the GAMSAT
          %sup ®
          Exam, the importance of practice questions in honing your skills cannot be overstated. With a strong foundation of basic knowledge and skills, you’ll be well on your way to preparing for GAMSAT
          %sup ®
          biology!
      .preparation_col.head_aftr_none
        %h2#freeOnlineResources
          Free Online GAMSAT Biology Resources
        %ul.sub_listing
          %li
            %a.green{href: 'https://www.khanacademy.org/science/chemistry', target: :_blank}
              Khan Academy
          %li
            %a.green{href: 'https://www.chemguide.co.uk/', target: :_blank}
              Chemguide
          %li
            %a.green{href: 'https://www.youtube.com/user/crashcourse', target: :_blank}
              Youtube - Crash Course
          %li
            %a.green{href: 'https://www.youtube.com/channel/UCEWpbFLzoYGPfuWUMFPSaoA', target: :_blank}
              Youtube - Organic Chemistry Tutor
          %li
            %a.green{href: 'https://www.youtube.com/user/Mousentel', target: :_blank}
              Youtube - Elise Ashley
          %li
            %a.green{href: 'https://www.youtube.com/user/Leah4sciMCAT', target: :_blank}
              Youtube - Leah4Sci
        %p
          Our GAMSAT
          %sup ®
          Free Trial includes an in-depth, day-by-day study guide for different areas of the GAMSAT
          %sup ®
          exam: Humanities, Biology, Chemistry and Physics. You can also find a wealth of further free resources including 50 free MCQs.
        %p.mtop_zero
          %ol.ordr_list
            .boxed
              Get Access to:
              %ul{:style => "list-style-type:none;padding: 16px 0px;line-height: 0.9;"}
                %li 50 Free MCQs
                %li Week-By-Week Study Guide
                %li Complete Session 3 Topic List
                %li Recorded Webinars
              .free_gamsat_icon
                = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/free_trial.png', class: "icon30"
              .button_right_section
                %a.free_trial_btn.hvr-shutter-in-horizontal{href: "/gamsat-preparation-courses/free-gamsat-trial", target: :_blank} GAMSAT Free Trial
        %h3
          Conclusion 
        %p
          The GAMSAT
          %sup ®
          exam is a fundamental part of your medical school application and is one of the most important considerations for admission. The GAMSAT® exam is meant to provide the admission committees in medical schools a way to compare students from a varied range of backgrounds. 
        %p
          With such a huge task ahead, it can often seem very daunting to know where to start. Hopefully by following the tips and tricks above, this has provided you some clarity on what you can do to better equip yourself for the GAMSAT
          %sup ®
          exam.
        %p
          GAMSAT
          %sup ®
          Biology is usually the section where students do best. However it is important to remember that it is equally as important to prepare for
          %a{href: 'https://gradready.com.au/gamsat-chemistry', target: :_blank}
            %strong Section 3 Chemistry
          and
          %a{href: 'https://gradready.com.au/gamsat-physics', target: :_blank}
            %strong Physics
          as the harder questions carry more weight. Just keep in mind that the GAMSAT® exam is not a test of knowledge but of your ability to reason and make connections when presented with complicated information. 
        %p
          %a{href: 'https://gradready.com.au/gamsat-preparation', target: :_blank}
            %strong Start early, study hard and practice, practice, practice!
          The more questions you are exposed to, the easier it becomes to identify the pattern/style of questions that emerge from the actual GAMSAT
          %sup ®
          exam and the thought process required.
        %p
          Lastly, do
          %b YOUR
          best! While the GAMSAT
          %sup ®
          is just an exam, it is an IMPORTANT hurdle not just to get into a medical school but also developing your sense of character! You will have to face many more exams in your future medical career so treat the GAMSAT
          %sup ®
          as the first in the line of many to conquer along the way.
      .preparation_col.head_aftr_none
        %h2#furtherPreparationResources
          Further Preparation Resources
        %p.mtop_zero
          %ol.ordr_list
            %li
              %h5
                %a{href: "/what-is-gamsat", target: :_blank}
                  What is the GAMSAT
                  %sup ®
                  ?
              %p.mtop_zero
                Everything you need to know about the GAMSAT
                %sup ®
                exam from structure and overview to which universities require the GAMSAT
                %sup ®
                = '.'

            %li
              %h5
                %a{href: "/gamsat-scores", target: :_blank}
                  Understanding your GAMSAT
                  %sup ®
                  Results
              %p.mtop_zero
                Covers everything you need to know about your GAMSAT
                %sup ®
                Results - How the scoring works, result release dates and even GAMSAT
                %sup ®
                score cutoffs.

            %li
              %h5
                %a{href: "/gamsat-section-1", target: :_blank}
                  How to prepare for GAMSAT
                  %sup ®
                  Section 1
              %p.mtop_zero
                An overview of what to expect in Section 1 of the GAMSAT
                %sup ®
                exam, and how to prepare.
            %li
              %h5
                %a{href: "/gamsat-section-2", target: :_blank}
                  How to prepare for GAMSAT
                  %sup ®
                  Section 2
              %p.mtop_zero
                An overview of what to expect in Section 2 of the GAMSAT
                %sup ®
                exam, how to prepare, and how to perfect your essay technique.
            %li
              %h5
                %a{href: "/gamsat-section-3", target: :_blank}
                  How to prepare for GAMSAT
                  %sup ®
                  Section 3
              %p.mtop_zero
                An overview of what to expect in Section 3 of the GAMSAT
                %sup ®
                exam, and how to prepare for each of the topics – Biology, Chemistry, & Physics.
            %li
              %h5
                %a{href: "/gamsat-chemistry", target: :_blank}
                  How to prepare for GAMSAT
                  %sup ®
                  Chemistry
              %p.mtop_zero
                What to expect and how to prepare for Chemistry in the GAMSAT
                %sup ®
                exam.
            %li
              %h5
                %a{href: "/gamsat-physics", target: :_blank}
                  How to prepare for GAMSAT
                  %sup ®
                  Physics
              %p.mtop_zero
                What to expect and how to prepare for Physics in the GAMSAT
                %sup ®
                exam.
        %p
          For further tips and advice make sure you sign up for our
          %a{href: "https://gradready.com.au/gamsat-preparation-courses/free-gamsat-trial", target: :_blank}
            %strong
              GAMSAT
              %sup ®
              Free Trial
          to watch a recording of our GAMSAT
          %sup ®
          Section 3 Workshop - Check out the 10 minute excerpt below
        .tab-content
          .container.video_container_width
            #grad_video_testimonial.carousel.slide.blog_slider.result_slider{"data-ride" => "carousel", "data-interval" => "false"}
              .carousel-inner.tab1
                .item.active
                  %video.video-js.vjs-default-skin.test_slide_height{controls: "", "data-autoplay" => "false", "data-autoresize" => "fit", "data-controls" => "true", "data-setup" => "{ \"playbackRates\": [2, 1.5, 1.2, 1, 0.5] }"}
                    %source{src: "https://gradready-prod.s3-ap-southeast-2.amazonaws.com/public/Section3HowtoPrepareVideoExcerpt.mp4", type: "video/mp4"}
        %p.mtop_zero
          %ol.ordr_list
            .boxed
              Get Access to:
              %ul{:style => "list-style-type:none;padding: 16px 0px;line-height: 0.9;"}
                %li 50 Free MCQs
                %li Week-By-Week Study Guide
                %li Complete Session 3 Topic List
                %li Recorded Webinars
              .free_gamsat_icon
                = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/free_trial.png', class: "icon30"
              .button_right_section
                %a.free_trial_btn.hvr-shutter-in-horizontal{href: "/gamsat-preparation-courses/free-gamsat-trial", target: :_blank} GAMSAT Free Trial

:css
  .preparation_col h3 {
    font-size: 20px !important;
  }
  @media only screen and (min-width: 260px) and (max-width: 767px){
    .highlight_box{
      padding: 10px 0px;
  }
  .green_box .div_left.pad_lf80 {
    padding-left: 20px;
    }
    .green_box .div_ryt.pad_lf130{
    padding-left: 30px;
    }
    .highlight_box .div_ryt {
      width: 47%;
  }
  .mob_padlft30{
   padding-left:30px;
  }
  }



