
- title "Medical Pathways in Australia"
- meta_description "Navigating the complex medical pathways available to students in Australia can be a real challenge. The journey to becoming a doctor is varied and long - This guide will break down the differences in pre-requisites, scores, application processes and timelines to make navigating medical pathways in Australia easier for you."
- meta_keywords "Medical Pathways in Australia"

%section.talk_to_bg.home_faq.dashboard_bg
  #typed.notification_bar
    %p
      = render 'pages/partial/announcement', product_line: map_path_to_prodline(request.env['PATH_INFO']), relative: false
  .container.public_container
    .support_col.looking_corse.text-center.gradready_question.head_sec
      %h1.custm_h1
        Medical Pathways in Australia
%section.faq_wrapper.faq_details
  .row
    .container.public_container
      .download-counter-badge
        %p.download_read= show_estimated_read_time rescue nil
        %span|
        %i.fa.fa-user{'aria-hidden': "true"}
        %p.download_read= show_download_hit_count rescue nil
      .preparation_col.head_aftr_none

        
        %p
          Medical school is the dream for so many of us - So how exactly can you get into medical school and what are the different pathway options available to students? This page will explore the different medical pathways in Australia and break down the differences in pre-requisites, scores, application processes and timelines. For further information about each specific medical school in Australia, visit the
          %a{href: "/australian-medical-schools", target: :_blank}
            %strong  Australian Medical Schools Guide.
          If you’re looking for specific information on admission requirements and GAMSAT 
          %sup ®
          score cut-offs, head to our guide to

          %a{href: "/medical-school-entry-requirements", target: :_blank}
            %strong  Medical School Admission Requirements. 
          

        %ol
          %li
            %a{href: '#doctor_pathways'} Pathways to Become a Doctor in Australia
          %li
            %a{href: '#med_school'} Medical Pathways in Australia - Undergraduate Entry
          %li
            %a{href: '#entry-criteria'} Undergraduate Medicine: Admissions & Criteria
          %li
            %a{href: '#timeline'} Undergraduate Medicine: Timeline
          %li
            %a{href: '#undergraduate-checklist'} Undergraduate Medicine: Checklist
          %li
            %a{href: '#medical_path'} Medical Pathways in Australia - Graduate Entry
          %li
            %a{href: '#graduate-entry-criteria'} Graduate Medicine: Admissions & Criteria
          %li
            %a{href: '#graduate-pathway-timeline'} Graduate Medicine: Timeline
          %li
            %a{href: '#graduate-checklist'} Graduate Medicine: Checklist
          

      .preparation_col.head_aftr_none
        %h2.mtop10.mbot20#doctor_pathways
          Pathways to Become a Doctor in Australia
        %p
          Simply speaking, there are 2 broad pathways to becoming a doctor in Australia - undergraduate or graduate entry into medical school.
        %h3.mtop10.mbot20
          What is the difference between the Undergraduate and Graduate Medical Entry Pathways?
        %h4.mtop10.mbot20
          Undergraduate vs Graduate Medicine Pathways
        .tbl_responsive.fl_none
          %table.table.cstm_tbl.table-bordered.table-condensed.custom_table_data
            %thead
              %tr
                %th.text-center 
                %th.text-center Undergraduate
                %th.text-center Graduate
            %tbody
              %tr.text-center
                %td.green Previous Study
                %td Direct entry from year 12, no previous tertiary education required
                %td Previous tertiary education (minimum Bachelor's degree) required


              %tr.text-center
                %td.green General Entry Requirements
                %td 
                  ATAR + UCAT
                  %sup ® 
                  + Interview
                %td 
                  GPA + GAMSAT
                  %sup ®
                  + Interview
               
              %tr.text-center
                %td.green Duration
                %td 5-6 years
                %td 4 years

        %p
          The key difference between the undergraduate and graduate medical pathways is the point in time in which you can commence your medical studies. Undergraduate courses are primarily designed for students who are leaving high school and who haven’t yet completed an undergraduate degree (note that there are a few exceptions, with some undergraduate medical schools providing broader entry options - Refer to our guide on 
          %a{href: "/australian-medical-schools", target: :_blank}
            %strong  Australian Medical Schools 
          for further information). As a result, undergraduate courses generally rely on a combination of ATAR, 
          %a{href: "https://gradready.com.au/what-is-ucat", target: :_blank}
            %strong
              UCAT
              %sup ® 
              exam performance, 
          and interview scores. As students haven’t yet completed any tertiary level studies, undergraduate courses are longer in length (around 5-6 years depending on the exact university). 
        %p
          On the other hand, graduate courses require students to have completed a Bachelor's degree (3 years) before commencing the course. Instead of taking ATAR and UCAT
          %sup ® 
          scores into account, graduate programs generally use GPA (from the previous degree/s) and 
          %a{href: "https://gradready.com.au/gamsat-scores", target: :_blank}
            %strong
              GAMSAT
              %sup ® 
              scores 
          plus an interview score - Some graduate entry medical schools also require a portfolio submission. As students have already completed a tertiary degree and have extra knowledge and experience under their belts, the graduate programs are considered a Masters degree and are shorter, typically lasting 4 years. This means that overall, graduate students will have been undertaking tertiary studies for a minimum of 7 years by the end of their medical degree.
        %p
          Specific universities across both undergraduate and graduate programs may have additional pre-requisites or admissions criteria, and these details can be found in our 
          %a{href: "/australian-medical-schools", target: :_blank}
            %strong  Australian Medical Schools Guide. 
          Whichever medical pathway you take, you will complete your degree with an AHPRA registration and be allowed to practise medicine as a doctor, thus starting the next stage of your learning and journey as a registered medical professional.


        %h3.mtop10.mbot20
          Which Universities offer Undergraduate vs Graduate Entry Medicine in Australia?
        .tbl_responsive.fl_none
          %table.table.cstm_tbl.table-bordered.table-condensed.custom_table_data
            %thead
              %tr
                %th.text-center Undergraduate (Direct Entry)
                %th.text-center Graduate 
                %th.text-center Provisional Degrees
            %tbody
              %tr.text-center
                %td University of Newcastle (UoN) / University of New England (UNE)
                %td Australian National University (ANU)
                %td University of Queensland (UQ) and Central Queensland University (CQU), via UQ
              %tr.text-center
                %td University of New South Wales (UNSW
                %td University of Notre Dame Sydney (UNDS)
                %td Flinders University SA and Charles Darwin NT, via Flinders University SA
              %tr.text-center
                %td University of Western Sydney (UWS) / Charles Sturt University (CSU)
                %td University of Sydney (USyd)
                %td University of Western Australia (UWA)
              %tr.text-center
                %td University of Adelaide (UniAdelaide)
                %td University of Wollongong (UoW)
                %td 
                  Griffith University and Sunshine Coast University, via Griffith University 
                  %sup ^
                
              %tr.text-center
                %td 
                  Bond University
                  %sup *
                %td Macquarie University (MU)
                %td 
              %tr.text-center
                %td 
                  James Cook University (JCU)
                  %sup *
                %td Griffith University
                %td 
              %tr.text-center
                %td Monash University
                %td University of Queensland (UQ)
                %td 
              %tr.text-center
                %td University of Tasmania
                %td Flinders University 
                %td 
              %tr.text-center
                %td Curtin University
                %td Deakin University
                %td 
              %tr.text-center
                %td 
                %td University of Melbourne (UniMelb)
                %td 
              %tr.text-center
                %td 
                %td 
                  Monash University
                  %sup #
                %td 
              %tr.text-center
                %td 
                %td University of Notre Dame Fremantle (UNDF)
                %td 
              %tr.text-center
                %td 
                %td University of Western Australia (UWA)
                %td 
              
        %ul.pad_lt.pad_rt.padd_top.padd_bot.cstm_tbl_list.mbot20
          %li
            %i
              %span
                %small
                  %sup> *
                  Bond University and James Cook University do not require the UCAT
                  %sup ®
          %li
            %i
              %span
                %small
                  %sup> #
                  Monash University graduate entry does not require the GAMSAT® and is only available to students who have completed an approved Bachelor’s degree at Monash University (i.e. external domestic applicants are not accepted)
                  

          %li
            %i
              %span
                %small
                  %sup> ^
                  Provisional entry to Griffith graduate medicine does not require the UCATBond University and James Cook University do not require the UCAT
                  %sup ®
        %p
          In addition to the simple undergraduate vs graduate schema, there are 4 universities which offer provisional entry to graduate medical degrees for high school leavers. This essentially means that students apply in high school with their UCAT
          %sup ® 
          and ATAR results, and are provisionally accepted by the university into a graduate medical degree following the completion of an approved Bachelor’s degree at the university. These students will need to maintain a high GPA, but do not need to sit the GAMSAT
          %sup ® 
          or resubmit an application prior to commencing their graduate medical degree. For further information on these universities, you can refer to their individual descriptions on the 
          %a{href: "/australian-medical-schools", target: :_blank}
            %strong Australian Medical Schools Guide.
          
      .preparation_col.head_aftr_none
        %h2#med_school Medical Pathways in Australia - Undergraduate Entry
        %h3.mtop10.mbot20  
          Undergraduate Entry Medical Schools Australia 
        .tbl_responsive.fl_none
          %table.table.cstm_tbl.table-bordered.table-condensed.custom_table_data
            %thead
              %tr
                %th State
                %th University
            %tbody
              %tr
                %td{:rowspan => "3"} NSW
                %td University of Newcastle (UoN) / University of New England (UNE)
              %tr
                %td University of New South Wales (UNSW)
              %tr
                %td University of Western Sydney (UWS) / Charles Sturt University (CSU, Orange)

              %tr
                %td{:rowspan => "1"} VIC
                %td Monash University
              

              %tr
                %td{:rowspan => "6"} QLD
                %td Bond University
              %tr
                %td James Cook University
              %tr
                %td University of Queensland (UQ)*
              %tr
                %td Central Queensland University (CQU) via UQ*
              %tr
                %td Griffith University*
              %tr
                %td Sunshine Coast University via Griffith University*

              
              %tr
                %td{:rowspan => "2"} SA
                %td University of Adelaide (UniAdelaide)
              %tr
                %td Flinders University*

              %tr
                %td{:rowspan => "2"} WA
                %td Curtin University
              %tr
                %td University of Western Australia (UWA)*
                
              %tr
                %td{:rowspan => "1"} TAS
                %td University of Tasmania


              %tr
                %td{:rowspan => "1"} NT
                %td Charles Darwin University via Flinders University* 

        %span
          %small
            %sup> *
            Provisional offers to complete undergraduate degree followed by graduate medicine (see below section), but application and entry is based on ATAR and 
            UCAT 
            %sup ®
            scores (except for Griffith provisional entry which does not require 
            UCAT
            %sup ® )

        .preparation_col.head_aftr_none
          %h3.mtop10.mbot20#entry-criteria Undergraduate Medicine: Admissions & Entry Criteria
          %h4.mtop10.mbot20 Which admissions tests do undergraduate medical schools accept?

          %p
            The UCAT
            %sup ® 
            is the admissions exam used by undergraduate entry medical schools. Almost all universities offering undergraduate medicine degrees require the UCAT
            %sup ® 
            exam, with the exception of Bond University and James Cook University. The UCAT
            %sup ®
            , or University Clinical Aptitude Test, is a 2 hour online multiple choice exam that is divided into 5 subsections - Verbal Reasoning, Decision Making, Quantitative Reasoning, Abstract Reasoning and Situational Judgement. As students will largely be applying directly as school-leavers, the exam is designed not to test scientific or medical knowledge, but rather to assess broader skills such as verbal, quantitative and abstract reasoning, as well as attributes such as empathy that are all considered desirable and advantageous for future doctors. For further information on the UCAT
            %sup ®
            exam, check out our guide:
            %a{href: "https://gradready.com.au/what-is-ucat", target: :_blank}
              %strong
                What is the UCAT
                %sup ®
                ?
          %h4 Undergraduate Medicine: Pre-requisites

          %p 
            Generally speaking, the prerequisites for medicine through the undergraduate medical pathway are satisfactory results in the UCAT
            %sup ®
            , a high ATAR score and successful completion of an interview. Some universities may additionally set subject prerequisites, such as for English or Sciences (Biology/Chemistry/Physics). This is dependent on the university, and a breakdown can be found below, with further details on our 
            %a{href: "/australian-medical-schools", target: :_blank}
              %strong 
                Australian Medical Schools Guide.
             

          .tbl_responsive.fl_none
          %table.table.cstm_tbl.table-bordered.table-condensed.custom_table_data
            %thead
              %tr
                %th.text-center University
                %th.text-center Prerequisite Subjects    
            %tbody
              %tr.text-center
                %td UQ, CQU, Flinders, CDU, UWS/CDU, UNSW, UoN/UNE
                %td No pre-requisite subjects necessary

              %tr.text-center
                %td UniAdelaide
                %td SACE stage 2 biology OR chemistry OR mathematical methods (or equivalent)

              %tr.text-center
                %td Griffith (+USC)
                %td English Units 3&4, C (or equivalent)
              %tr.text-center
                %td Monash
                %td 25/50 in English as an Alternate Language or 30/50 in English, AND 30/50 in Chemistry (or equivalent)
              %tr.text-center
                %td UTas
                %td 
                  Satisfactory achievements in year 12 Chemistry
                  %sup * 
                  AND one of English, English Literature or English Writing 
                  %sup *
                  Can completed UTas Chemistry Foundation Unit instead

              %tr.text-center
                %td Curtin
                %td Year 12 Chemistry (or CHEM1003 and CHEM1005 through Curtin University for non-high school leavers)
              %tr.text-center
                %td UWA
                %td English OR Literature OR English as an Additional Language or Dialect ATAR: scaled mark of 50 or above (or equivalent)
              %tr.text-center
                %td JCU
                %td English Units 3&4, C AND Mathematical Methods Units 3&4, C AND Chemistry Units 3&4, C (or equivalent)
              %tr.text-center
                %td Bond
                %td English OR English as an Additional Language OR Literature OR English and Literature Extension: Units 3&4, C (or equivalent)
          
          %p 
            Another important criterion to look out for is the highest level of study you have completed. Most undergraduate medicine universities will require you to be a high school leaver with no previous tertiary study experience, however some do allow you to have already commenced or even completed another degree. Again, a comparison can be found below or on our 
            %a{href: "/australian-medical-schools", target: :_blank}
              %strong  Australian Medical Schools Guide.

          .tbl_responsive.fl_none
          %table.table.cstm_tbl.table-bordered.table-condensed.custom_table_data
            %thead
              %tr
                %th.width11 University
                %th.text-center Previous Study
            %tbody
              %tr
                %td.text-center
                  %a.green{href: "https://www.newcastle.edu.au/joint-medical-program/selection-process/academic-eligibility", target: "_blank"} UoN/UNE
                %td
                  %table.table.cstm_tbl.inner_tbl.table-condensed
                    %tbody
                      %td.width132
                      Your previous university study will be used to assess your academic eligibility if you have completed at least one year full-time in a single program of study (full academic load, excluding credit) or its part-time equivalent at a recognised higher education institution in Australia or overseas by the end of the application year. In this case, you will not be considered based on your Year 12 results. 
                      %br
                      %br
                      Recognised courses/units/awards include Higher Doctorate, Doctor of Philosophy, Masters by research, Masters by coursework, Graduate Diploma, Bachelor degree (including Honours), Associate degree, Diploma.

              %tr
                %td.text-center
                  %a.green{href: "https://www.unsw.edu.au/study/undergraduate/bachelor-of-medical-studies-doctor-of-medicine?studentType=Domestic", target: "_blank"} UNSW
                %td
                  %table.table.cstm_tbl.inner_tbl.table-condensed
                    %tbody
                      %tr
                        %td.width132
                        All tertiary study accepted. If you've completed less than 0.75 FTE (full time equivalent) of university study at the end of the year prior to your desired commencement in the Medicine program, you'll be assessed only on your secondary school results.
              %tr
                %td.text-center
                  %a.green{href: "https://www.westernsydney.edu.au/future/study/how-to-apply/md-applicants/general-applicants", target: "_blank"} UWS/CSU
                %td
                  %table.table.cstm_tbl.inner_tbl.table-condensed
                    %tbody
                      %tr
                        %td.width132
                        All tertiary study accepted


              %tr
                %td.text-center
                  %a.green{href: "https://www.adelaide.edu.au/degree-finder/bms_bmedstud.html", target: "_blank"} UniAdelaide 
                %td
                  %table.table.cstm_tbl.inner_tbl.table-condensed
                    %tbody
                      %tr
                        %td.width132
                        If you wish to be considered as a Higher Education (Tertiary Transfer) applicant, your only record of study must be from the University of Adelaide. You must not have a tertiary record from any other Australian or overseas university. It must be a minimum of one year full-time equivalent study and maximum of two years full-time equivalent study.
                        %br
                        %br
                        To meet the minimum academic threshold as a Higher Education applicant:
                        %ul.sub_listing
                          %li
                            First year students must have between 18 and 24 units of level 1 study and have achieved at least a credit average (Grade Point Average (GPA) of 5.0 or more) across all subjects 
                          %li
                            Second year students must have between 27 and 48 units of level 1 and 2 study and have achieved at least a credit average (GPA of 5.0 or more) across all subjects. 
                          %li 
                            Third year students (having studied one or more level 3 subjects) are not eligible for entry into the Medical program at the University of Adelaide and should consider graduate medicine pathways.

              %tr
                %td.text-center
                  %a.green{href: "https://www.flinders.edu.au/study/courses/bachelor-clinical-sciences-doctor-medicine", target: "_blank"} Flinders
                %td
                  %table.table.cstm_tbl.inner_tbl.table-condensed
                    %tbody
                      %tr
                        %td.width132
                        Provisional entry for high schools leavers only (but graduate entry exists for students who have commenced tertiary study)


              %tr
                %td.text-center
                  %a.green{href: "https://study.csu.edu.au/courses/medicine/doctor-medicine", target: "_blank"} CSU
                %td
                  %table.table.cstm_tbl.inner_tbl.table-condensed
                    %tbody
                      %tr
                        %td.width132
                        For tertiary studies the following minimum GPAs levels apply: 
                        
                        %ul.sub_listing
                          %li
                            1 semester or more but less than 1 year undergraduate: GPA 6.4
                          %li
                            1 year or more but uncompleted undergraduate: GPA 6.2
                          %li
                            3 years or more but uncompleted undergraduate: GPA 5.5
                          %li
                            Completed undergraduate degree: GPA 5.5
                          %li
                            Completed undergraduate Honours degree, Class 1, 2A, 2B and 2d (no level specified): GPA No minimum

                          %li
                            Completed graduate certificate: GPA 6.5

                          %li
                            Completed graduate diploma: GPA 6.2
                          %li
                            Completed coursework master's: GPA 5.4
                          %li
                            Completed research master's: No minimum
                        %br
                        Applicants who have studied more than one tertiary qualification are assessed on the basis of the qualification with the highest GPA that meets the requirements (minimum of 32 credit points completed in the award, or one semester equivalent full-time).
            

              %tr
                %td.text-center
                  %a.green{href: "https://future-students.uq.edu.au/admissions/doctor-medicine/review-entry-requirements", target: "_blank"} UQ
                %td
                  %table.table.cstm_tbl.inner_tbl.table-condensed
                    %tbody
                      %tr
                        %td.width132
                        Provisional entry for high schools leavers only (but graduate entry exists for students who have commenced tertiary study)


              %tr
                %td.text-center
                  %a.green{href: "https://oztrekk.com/programs/medicine/griffith-university-bachelor-of-medical-science-doctor-of-medicine/", target: "_blank"} Griffith
                %td
                  %table.table.cstm_tbl.inner_tbl.table-condensed
                    %tbody
                      %tr
                        %td.width132
                        Provisional entry for high schools leavers only (but graduate entry exists for students who have commenced tertiary study)




              %tr
                %td.text-center
                  %a.green{href: "https://www.monash.edu/medicine/som/direct-entry/domestic", target: "_blank"} Monash
                %td
                  %table.table.cstm_tbl.inner_tbl.table-condensed
                    %tbody
                      %tr
                        %td.width132
                        Only available to applicants who have completed Year 12 studies (or VCE equivalent) no more than two years prior, and have not commenced other studies at a tertiary level during that time. Applicants who have commenced tertiary study, including AQF Level Certificate IV and above, are ineligible to apply and should consider the graduate entry program.


              %tr
                %td.text-center
                  %a.green{href: "https://www.utas.edu.au/courses/chm/courses/m3n-bachelor-of-medicine-and-bachelor-of-surgery", target: "_blank"} UTas
                %td
                  %table.table.cstm_tbl.inner_tbl.table-condensed
                    %tbody
                      %tr
                        %td.width132
                        All tertiary study accepted
                        %br
                        From the 2023 intake there will be approximately 25 places for applicants with higher education study and 50% of these places will be allocated to students completing the UTAS Bachelor of Medical Research (BMedRes). Detailed entry requirements, including any grade point average or admissions test requirements, will be published in advance of the 2023 intake period. Further details about this Graduate Entry Pathway can be found 
                        %a.green.link_font14{href: "https://courses.its.utas.edu.au/__data/assets/pdf_file/0008/233657/MBBS-Graduate-Entry-2023.pdf", target: :_blank} 
                          %strong here.
                            

              %tr
                %td.text-center
                  %a.green{href: "https://study.curtin.edu.au/offering/course-ug-bachelor-of-medicine-bachelor-of-surgery--b-mbbs/", target: "_blank"} Curtin
                %td
                  %table.table.cstm_tbl.inner_tbl.table-condensed
                    %tbody
                      %tr
                        %td.width132
                        Previous study is only accepted for current Curtin university students enrolled in their first course of study. Applicants must not have a tertiary record from any other Australian or overseas university and must not be in their final year of study in their current course.

              %tr
                %td.text-center
                  %a.green{href: "https://www.uwa.edu.au/study/how-to-apply/health-and-medical-sciences-applications/assured-pathway-md-and-dmd-domestic", target: "_blank"} UWA
                %td
                  %table.table.cstm_tbl.inner_tbl.table-condensed
                    %tbody
                      %tr
                        %td.width132
                        Provisional entry for high schools leavers only (but graduate entry exists for students who have commenced tertiary study)
              
              %tr
                %td.text-center
                  %a.green{href: "https://www.jcu.edu.au/courses/bachelor-of-medicine-bachelor-of-surgery", target: "_blank"} JCU
                %td
                  %table.table.cstm_tbl.inner_tbl.table-condensed
                    %tbody
                      %tr
                        %td.width132
                        All tertiary study accepted. The most recent course GPA (Grade Point Average) score will be used to rank applicants who have  commenced or completed tertiary studies.
           
              %tr
                %td.text-center
                  %a.green{href: "https://bond.edu.au/intl/program/medical-program/medical-program-entry-requirements", target: "_blank"} Bond
                %td
                  %table.table.cstm_tbl.inner_tbl.table-condensed
                    %tbody
                      %tr
                        %p
                          %td
                          All tertiary study accepted. Applicants should also refer to the 
                          
                          %a.green.link_font14{href: "https://bond.edu.au/intl/program/medical-program/medical-program-entry-assessment-table", target: :_blank} 
                            %strong Entry Assessment table
                              
                          for guidance on whether to apply as an undergraduate or graduate applicant. Qualifications older than nine years immediately preceding the close of applications for the relevant application period cannot be considered. Bond University will offer approximately 80% of available places to undergraduate applicants and the remainder to graduate applicants.

          %br
          %h4.mtop10.mbot20
            Undergraduate Medicine: How do I apply?

          %p 
            Students wishing to study medicine through the undergraduate pathway will need to apply to sit the UCAT
            %sup ® 
            exam in the year before they wish to start their medical degree. It is important to note that UCAT
            %sup ® 
            results cannot be carried over from one year to the next. For example, if you wish to apply for a course commencing in 2023, you will need to sit the UCAT
            %sup ® 
            exam in 2022. 

          %p 
            Students will then need to apply for their universities of choice. This is generally done through each state’s university admission service, e.g. UAC in NSW, or in some cases can be done directly to the university itself. As there is no centralised application system (unlike 
            %a{href: "#howtoapply"}
              %strong GEMSAS for graduate entry medical schools
            ) the exact opening and closing deadlines will depend on the university and state you are applying to. Applications usually open around August, but again, ensure that you check each university’s website to confirm the exact details. This will likely be earlier than application deadlines for other courses as your interview will need to be scheduled prior to the end of the year. 

          %p 
            Following review of your application, you may receive an interview offer. Interviews are held in a broad window from late-November all the way up until the end of January depending on the specific university. Once interviews are done, universities will then combine your scores and send out offers to the lucky students who have been successful in securing a place. 
        

          %h3#timeline
            Undergraduate Medicine Pathway - Timeline
          %p
            As there is no generalised body for applications through the undergraduate pathway (as there is with GEMSAS in the graduate entry pathway), the exact timeline for applications is dependent on the exact university and the state’s undergraduate admissions centre. As always, students are advised to check the key dates and deadlines on each university’s website. Below is a general guideline for the undergraduate pathway timeline:

          .aus_map
            = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/Medical+Pathways+1.png', alt: "Australian Medical Schools Admissions Timeline"

          %span
            %small
              %sup *
              Application opening dates vary depending on the state’s undergraduate admission centre, e.g. UAC, TISC, SATAC, QTAC, VTAC.
          %br
          %span
            %small
              Internal applications are needed for: UoN/UNE, UNSW, UTas, James Cook
              
          %h3#undergraduate-checklist
            Undergraduate Medicine Pathway Checklist
          %ul{:style => "list-style-type:none"}
            %li 
              %input{:type => "checkbox"}
              %a{href: "https://www.ucat.edu.au/old-pages/ucat-anz/", target: :_blank}
                %strong  Register for the UCAT by May 17
              
            %li 
              %input{:type => "checkbox"}
              Study for and sit the UCAT in July-August
            %li
              %input{:type => "checkbox"}
              Ensure you keep up with your year 12 studies as your ATAR will be just as important as your UCAT score
            %li 
              %input{:type => "checkbox"}
              If you have already commenced further tertiary studies, ensure the university you will be applying for will accept your application as a non-school leaver
            %li 
              %input{:type => "checkbox"}
              Review the details for each medical school and decide which schools you will be applying to
            %li
              %input{:type => "checkbox"}
              Ensure you have selected and met any subject prerequisites if needed 
            %li
              %input{:type => "checkbox"}
              Note down the application process, admission centre and deadlines (as each state and university will differ) for all the universities you are interested in
            %li 
              %input{:type => "checkbox"}
              Ensure you submit an application and any supporting documentation before the deadlines

            %li 
              %input{:type => "checkbox"}
              Note the interview process for each university and practice interview questions
            %li
              %input{:type => "checkbox"}
              Attend interview if invited

            %li
              %input{:type => "checkbox"}
              Accept your offer by the given deadline
        

        .preparation_col.head_aftr_none
          %h2.mtop10.mbot20#medical_path
            Medical Pathways in Australia - Graduate Entry
          %h3.mtop10.mbot20
            Which universities offer graduate-entry medicine in Australia?
          %p
            As of 2022, there are currently 13 Medical Schools that provide a Graduate Entry Medical Program, 12 of which require the GAMSAT
            %sup ® 
            exam (or 
            %a{href: "https://students-residents.aamc.org/applying-medical-school/taking-mcat-exam/", target: :_blank}
              %strong
                MCAT
                %sup ®
                Exam
            for international students). Monash University graduate entry medicine does not require the GAMSAT
            %sup ® 
            and is only available to students who have completed an approved Bachelor’s degree at Monash University (i.e. external domestic applicants are not accepted)
          %p
            Of these 12, 10 are members of the GAMSAT
            %sup ® 
            Consortium and their medical courses are participants in 
            %a{href: "http://gemsas.edu.au/", target: :_blank}
              %strong 
                GEMSAS. 
            The University of Sydney and Flinders University, are not part of GEMSAS, but still require the GAMSAT
            %sup ® 
            exam, as well as separate, direct applications.

          
          .tbl_responsive.fl_none
          %table.table.cstm_tbl.table-bordered.table-condensed.custom_table_data
            %thead
              %tr
                %th State
                %th University
            %tbody
              %tr
                %td{:rowspan => "4"} NSW
                %td University of Notre Dame Sydney (UNDS)
              %tr
                %td University of Sydney (USyd)
              %tr
                %td University of Wollongong (UoW)
              %tr
                %td Macquarie University (MU)

              %tr
                %td{:rowspan => "3"} VIC
                %td University of Melbourne (UniMelb)
              %tr
                %td Deakin University
              %tr
                %td Monash University
             
              

              %tr
                %td{:rowspan => "2"} QLD
                %td
                  University of Queensland (UQ)*
                  
              %tr
                %td 
                  Griffith University
                  %sup #

              

              
              %tr
                %td{:rowspan => "1"} SA
                %td Flinders University^
        

              %tr
                %td{:rowspan => "2"} WA
                %td University of Notre Dame Fremantle (UNDF)
              %tr
                %td 
                  University of Western Australia (UWA)
                  %sup &
                
              %tr
                %td{:rowspan => "1"} ACT
                %td Australian National University (ANU)

          %br
          %span
          %small
            %sup> *
            UQ graduate program can be via graduate entry (requiring GAMSAT® and GPA) or via provisional entry (requiring UCAT® and ATAR, followed by an approved Bachelor’s degree at UQ or CQU)

          %br
          %span
          %small
            %sup> #
            Griffith graduate program can be via graduate entry (requiring ®and GPA) or via provisional entry (requiring ATAR only, followed by a Bachelor of Medical Science at either Griffith or Sunshine Coast University)
 
          %br
          %span
          %small
            %sup> ^
            Flinders graduate program can be completed in SA or NT via graduate entry (requiring GAMSAT® and GPA) or via provisional entry (requiring UCAT® and ATAR, followed by an approved Bachelor’s degree at Flinders in SA or Charles Darwin in NT)

          %br
          %span
          %small
            %sup> &
            UWA graduate program can be via graduate entry (requiring GAMSAT® and GPA) or via provisional entry (requiring UCAT® and ATAR, followed by an approved Bachelor’s degree at UWA)


          %h3.mtop10.mbot20#graduate-entry-criteria Graduate Medicine: Admissions & Entry Criteria
          %h4.mtop10.mbot20 Which admissions tests do graduate medical schools in Australia accept?

          %p 
            The graduate medical pathway in Australia uses the 
            %a{href: "https://gradready.com.au/what-is-gamsat", target: :_blank}
              %strong 
                GAMSAT
                %sup ® 
                exam 
            as the admissions test. All universities offering graduate medicine degrees will require a GAMSAT
            %sup ® 
            score,  with the exception of Monash University. The GAMSAT
            %sup ®
            , or Graduate Medical School Admission Test, is a 5 hour exam developed by 
            %a{href: "https://gamsat.acer.org/", target: :_blank}
              %strong ACER. 
            It is broken into 3 sections - Section 1: Reasoning in Humanities, Section 2: Written Communication, and Section 3: Reasoning in Biological and Physical Sciences. It’s designed to assess your analytical and critical thinking skills, as well as how you organise and communicate your ideas. Unlike the UCAT
            %sup ®
            , the GAMSAT
            %sup ® 
            exam does draw on assumed knowledge in Biology, Chemistry, and Physics as students need to demonstrate that they are prepared to embark on a shorter and tougher graduate course. For further information on the GAMSAT
            %sup ® 
            exam itself, check out our page: 
            %a{href: "https://gradready.com.au/what-is-gamsat", target: :_blank}
              %strong 
                What is the GAMSAT
                %sup ®
                ? 
            To get additional details on how the GAMSAT® scores are calculated, check out our 
            %a{href: "https://gradready.com.au/gamsat-scores", target: :_blank}
              %strong  
                GAMSAT
                %sup ® 
                Results Guide. 
          %h4.mtop10.mbot20
            Graduate Medicine: Pre-requisites
          %p 
            The pre-requisites for graduate entry medicine are generally a high GAMSAT
            %sup ® 
            score and GPA, and satisfactory completion of an interview. Specific cut-offs and calculation methods for each university are explained in our 
            %a{href: "https://gradready.com.au/medical-school-entry-requirements", target: :_blank}
              %strong Medical Admissions Requirements
            guide. As part of the definition of graduate entry, you are required to have completed a minimum of a Bachelor’s degree before commencing the graduate medical degree (although you can sit the GAMSAT
            %sup ® 
            and apply in your final year whilst studying). The University of Wollongong, University of Notre Dame Sydney and University of Notre Dame Fremantle also require students to submit a portfolio as part of their application. The University of Queensland is the sole graduate entry medical school which requires you to complete specific subject prerequisites, with 
            %a{href: "https://medicine.uq.edu.au/future-students/changes-md-admissions/doctor-medicine-prerequisites", target: :_blank}
              %strong further details provided on their website. 
            Further information on prerequisites (including subject requirements and quotas) can be found on our 
            %a{href: "/australian-medical-schools", target: :_blank}
              %strong Australian Medical Schools Guide
            , or on each university’s website.
          %h4.mtop10.mbot20#howtoapply
            Graduate Medicine: How do I apply?

          %p 
            Students will first need to apply to sit the GAMSAT
            %sup ® 
            exam via the 
            %a{href: "https://gamsat.acer.org/", target: :_blank}
              %strong ACER website.
            The GAMSAT
            %sup ® 
            exam runs twice a year, in March and September.          
       
          .tbl_responsive.fl_none
          %table.table.cstm_tbl.table-bordered.table-condensed.custom_table_data
            %thead
              %tr
                %th.text-center
                %th.text-center 
                  March GAMSAT
                  %sup ® 
                  exam
                %th.text-center 
                  September GAMSAT
                  %sup ® 
                  exam
            %tbody
              %tr.text-center
                %td.green Test Date
                %td 18 - 23 March 2022
                %td 5 - 9 September 2022

              %tr.text-center
                %td.green Registration Opens
                %td Early November 2021
                %td Mid May 2022
            
              %tr.text-center
                %td.green Registration Closes
                %td
                  Monday 31 January 2022 
                  %br
                  10 AM GMT 
                  %br
                  9 PM AEDT

                %td
                  Friday 22 July 2022 
                  %br
                  1 PM BST 
                  %br
                  10 PM AEST


              %tr.text-center
                %td.green Late Registration Closure
                %td
                  Wednesday 9 February 2022
                  %br
                  10 AM GMT 
                  %br
                  9 PM AEDT

                %td
                  Friday 29 July 2022 
                  %br
                  1 PM BST 
                  %br
                  10 PM AEST


              %tr.text-center
                %td.green Refund/Deferral Request Closure
                %td
                  Wednesday 9 February 2022
                  %br
                  10 AM GMT 
                  %br
                  9 PM AEDT

                %td
                  Friday 29 July 2022 
                  %br
                  1 PM BST 
                  %br
                  10 PM AEST



              %tr.text-center
                %td.green Cost
                %td
                  AUD$515

                %td
                  AUD$515
                  

          %p
            Unlike the UCAT
            %sup ® 
            exam, GAMSAT
            %sup ® 
            results remain valid for 2 years, so you can sit the exam whilst you’re still studying your undergraduate degree if you choose to. If you’re planning on applying in the near future, you can use the below table to guide you:
   
          .tbl_responsive.fl_none
          %table.table.cstm_tbl.table-bordered.table-condensed.custom_table_data
            %thead
              %tr
                %th.text-center Application Details
                %th.text-center  Valid Results
            %tbody
              %tr.text-center
                %td Apply 2022 for 2023 Commencement
                %td
                  March GAMSAT
                  %sup ® :
                  2021, 2022
                  %br
                  September GAMSAT
                  %sup ® :
                  2020, 2021
              
              %tr.text-center
                %td Apply 2023 for 2024 Commencement
                %td
                  March GAMSAT
                  %sup ® :
                  2022, 2023
                  %br
                  September GAMSAT
                  %sup ® :
                  2021, 2022

              %tr.text-center
                %td Apply 2024 for 2025 Commencement
                %td
                  March GAMSAT
                  %sup ® :
                  2023, 2024
                  %br
                  September GAMSAT
                  %sup ® :
                  2022, 2023

          %p
            %a{href: "https://gradready.com.au/gamsat-scores", target: :_blank}
              %strong
                GAMSAT
                %sup ® 
                exam results
            are generally released within 2 months of sitting the exam. Regardless of the specific sitting you sat, applications for graduate programs are accepted annually through GEMSAS. 
            %a{href: "https://gemsas.edu.au/", target: :_blank}
              %strong GEMSAS
            , or the Graduate Entry Medical Schools Admissions System, manages applications, calculates grade point averages (GPAs) and applies individual school selection rules to allocate and organise interview and course offers to candidates around Australia. For further details, you can visit 
            %a{href: "http://gemsas.edu.au/", target: :_blank}
              %strong their website.
            Of the 12 graduate medical universities that use the GAMSAT® exam, 10 of them operate via GEMSAS. The University of Sydney and Flinders University are the exceptions - Both require separate direct applications. For further details head to the respective university websites. 
          %p 
            Once GEMSAS has assessed your application in line with each university’s requirements, successful candidates will receive an interview offer in line 
            %a{href: "#order_prefferences"}
              %strong with their highest preference 
            that is satisfied with their scores so far. These students will sit their interviews in September-October, after which GEMSAS will add your interview scores to your application and send out acceptance offers to successful students. For further details refer to our comprehensive guide to the
            %a{href: "https://gradready.com.au/medical-school-entry-requirements", target: :_blank}
              %strong Medical Admissions Process & Entry Requirements.
             

          .tbl_responsive.fl_none
          %table.table.cstm_tbl.table-bordered.table-condensed.custom_table_data
            %thead
              %tr
                %th.text-center Event
                %th.text-center  Dates
            %tbody
              %tr.text-center
                %td 
                  Application Period. Submit your application through GEMSAS.
                  %br  
                  %a.green.link_font14{href: "http://sydney.edu.au/medicine/study/md/", target: :_blank}
                    %strong University of Sydney, 
                  %a.green.link_font14{href: "http://www.flinders.edu.au/medicine/courses/medical-course/medical-course-home.cfm", target: :_blank}
                    %strong Flinders University
                  & 
                  %a.green.link_font14{href: "https://www.monash.edu/medicine/som/grad-entry", target: :_blank}
                    %strong 
                      Monash Uni
                  are not part of GEMSAS
                %td April - May 2022
              
              %tr.text-center
                %td 
                  GAMSAT
                  %sup ® 
                  Results Released.
                %td Late May 2022

              %tr.text-center
                %td Interview Offers Released
                %td August - September 2022
              %tr.text-center
                %td Interviews are held
                %td September - October 2022

              %tr.text-center
                %td Medical Offers Released
                %td September - December 2022
              %tr.text-center
                %td Additional Offers made to fill vacancies
                %td December 2022 - January 2023

          %h3.mtop10.mbot20#order_prefferences
            How should I order my preferences in GEMSAS?
          %p
            The most important thing to note is that once you receive an offer from a GEMSAS school, if you decline an offer of a place, you will not be considered for another place or receive another offer. This is why it is so important to be mindful of your order of preferences (as well as specifics such as fee type and campus location) when you submit your application. 

          %p  
            Each applicant’s eligibility and competitiveness will be assessed for their number one preference. If the applicant does not meet the requirements or is not highly ranked enough to gain an interview offer at their first preference, they will be assessed for their second preference, then their third and so on until an interview offer is made or all preferences are exhausted. After interviews, the above process will be repeated using interview scores in the calculations (according to each school’s selection rules). However, a student cannot be accepted for a graduate medical school position at a school that is higher on their preference list than the school they interviewed at. For example, if you complete an interview at your fourth preference school, your application for a final offer will be considered for your fourth, then if unsuccessful your fifth preference and so on. It will not be considered for your first, second, or third preferences in such a case.  
          %p
            Clearly, it is important to choose your preferences wisely. It is important to read carefully through this page and the GEMSAS admission guide - learn about how each university weighs its admission criteria and find where you may be more competitive. You may find that you have a lot of life experience and extracurricular activities that lend well to a university that uses a portfolio. Or if you find that you have a low GPA but a high GAMSAT
            %sup ® 
            score, you may want to apply for universities that give greater weight to the GAMSAT
            %sup ® 
            score in the calculation of your final score. 
          %p
            Ultimately, however, it is most important that you order your preferences based on where you actually want to study and where you will be the happiest. A medical degree requires a lot of time, energy and commitment, and you need to know that you will be comfortable with your decision, especially if it involves moving interstate. Check out our blog article 
            %a{href: "https://gradready.com.au/posts/gamsat-preparation-courses/which-med-school-is-for-me", target: :_blank}
              %strong Which Med School is for Me?
            To learn more about what you should take into consideration when choosing medical schools.

          %h3.mtop10.mbot20
            Studying Medicine as a Mature Age Student

          %p 
            Mature age students are generally unable to apply for undergraduate medicine, as this pathway is typically limited to school leavers (or up to three years after leaving high school in some cases). Mature age students however will be eligible to apply for graduate-entry medicine if they meet the admissions criteria. Most graduate-entry universities have a 10 year rule - that is, applicants will need to have successfully completed at least a three year Bachelor degree prior to commencement of the medical program. Of note, the University of Western Australia, Monash University, and Flinders University do not have a 10 year rule. For more information, read each university profile on our guide to 
            %a{href: "/australian-medical-schools", target: :_blank}
              %strong Australian Medical Schools 
            and, as always, check with each university directly for up-to-date verified information. For further perspectives on the challenges and advantages of starting medicine as a mature age student, check out our article on 
            %a{href: "https://gradready.com.au/posts/gamsat-preparation-courses/mature-age-medical-students", target: :_blank}
              %strong Medicine for Mature Age Students.
 
          %h3#graduate-pathway-timeline
            Graduate Pathway Timeline
          .aus_map
            = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/infographoc_diagram_2022.jpg', alt: "Australian Medical Schools Admissions Timeline"
          
          .preparation_col.head_aftr_none
            %h3#graduate-checklist
              Graduate Medicine Pathway Checklist
 
          %ul{:style => "list-style-type:none"}
            %li 
              %input{:type => "checkbox"}
              If you are wishing to apply for the next intake, ensure you are eligible for your universities of choice, e.g. have/will have the correct tertiary study requirements, have/will have a valid GAMSAT result

              
            %li 
              %input{:type => "checkbox"}
              Register for the March GAMSAT and/or the September GAMSAT by their respective due dates. It’s generally recommended that you first sit the GAMSAT exam in your penultimate year of study to ensure that you have additional sittings in case you need to aim for a higher score.

            %li 
              %input{:type => "checkbox"}
              Study for and sit the March and/or September GAMSAT


            %li 
              %input{:type => "checkbox"}
              The GEMSAS Admissions guide is generally released in April of each year - Review the details for each medical school by looking through the GEMSAS guide and the individual university guides for medical schools that operate outside of GEMSAS.

            %li 
              %input{:type => "checkbox"}
              It can often be useful to calculate your GPA when reviewing the admissions criteria to understand how competitive you are at different medical schools - The 
              %a{href: "https://applygemsas.edu.au/gemsas/#/gpa-calc", target: :_blank}
                %strong GEMSAS GPA calculator
              is useful for this purpose. 


            %li 
              %input{:type => "checkbox"}
              Decide which schools you will be applying to and how you wish to order your preferences

            %li 
              %input{:type => "checkbox"}
              Begin organising any supporting documentation early on to account for any potential delays. Make a note of important submission deadlines.

            %li 
              %input{:type => "checkbox"}
              Submit your application to GEMSAS by May 31, and directly to USyd, Monash and Flinders if chosen

            %li 
              %input{:type => "checkbox"}
              Ensure all supporting documentation (e.g. for alternative pathways or rural applications) has been completed and sent to the relevant institutions by their deadlines


            %li 
              %input{:type => "checkbox"}
              Start preparing for a medical interview - Review the interview process for each university and starting doing practice interview questions

            %li 
              %input{:type => "checkbox"}
              Accept interview offer if provided and sit your medical interview



            %li 
              %input{:type => "checkbox"}
              Accept your offer by the given deadline

      .preparation_col.head_aftr_none
        %h2#resources Useful Resources
        %ol.ordr_list
          %li
            %h5
              %a{href: "/what-is-gamsat", target: "_blank"}>
                What is the GAMSAT
                %sup ®
                ?
            %p.mtop_zero
              Everything you need to know about the GAMSAT
              %sup ®
              Exam from structure and overview to which universities require the GAMSAT
              %sup ®
          %li
            %h5
              %a{href: "https://gradready.com.au/what-is-ucat", target: "_blank"}>
                What is the UCAT
                %sup ®
                ?
            %p.mtop_zero
              Everything you need to know about the UCAT
              %sup ®
              Exam from structure and overview to key dates and test locations.



          %li
            %h5
              %a{href: "https://gradready.com.au/gamsat-preparation", target: "_blank"}>
                How to study for the GAMSAT
                %sup ®
                Exam
            %p.mtop_zero
              A breakdown of how to approach study effectively and how to set up a GAMSAT
              %sup ® 
              study schedule.

          %li
            %h5
              %a{href: "https://gradready.com.au/gamsat-scores", target: "_blank"}>
                Understanding your GAMSAT
                %sup ®
                Results
            %p.mtop_zero
              Covers everything you need to know about your GAMSAT
              %sup ® 
              Results - From how scoring works to the results release dates.

          %li
            %h5
              %a{href: "/medical-school-entry-requirements", target: "_blank"}>
                Australian Graduate Medical Schools Guide - Admission Requirements

            %p.mtop_zero
              Covers everything you need to know about Australian graduate medical school admission requirements and GAMSAT
              %sup® 
              score cut-offs.

          %li
            %h5
              %a{href: "/australian-medical-schools", target: "_blank"}>
                Australian Medical Schools Overview

            %p.mtop_zero
              An overview of Australian Medical Schools, both undergraduate and graduate, with details on the course and entry criteria for each medical school.



          %li
            %h5
              %a{href: "https://gradready.com.au/gamsat-preparation-courses", target: "_blank"}>
                GradReady GAMSAT Preparation Courses


            %p.mtop_zero
              The Best Results at the Best Value - The only provider with statistically significant results over 8 years - Average student improvement of 20+ Percentile Points.
        
          %li
            %h5
              %a{href: "https://gradready.com.au/gamsat-preparation-courses/interview-attendance-comprehensive", target: "_blank"}>
                InterviewReady Courses


            %p.mtop_zero
              Get ready for your medical application interview with tailored preparation for specific universities and formats. 90% Medical School Admission Rate over 4 years.





        %p 
          Preparing for the GAMSAT
          %sup ® 
          Exam is one of the first and most important steps to studying medicine in Australia. Sign up for our 
          %a{href: "https://gradready.com.au/gamsat-preparation-courses/free-gamsat-trial", target: "_blank"}
            %strong
              GAMSAT
              %sup ® 
              Free Trial 
          for detailed week by week plans of how you should be spending your time and tips on the best preparation strategy as well as free practice MCQs.
 

          .boxed.new_box
            %div
              %h4 Get Access to:
              %ul{:style => "list-style-type:none;padding: 16px 0px;line-height: 0.9;"}
                %li 50 Free MCQs
                %li Week-By-Week Study Guide
                %li Complete Session 3 Topic List
                %li Recorded Webinars
            %a.free_trial_btn.hvr-shutter-in-horizontal{href: "/gamsat-preparation-courses/free-gamsat-trial"} GAMSAT Free Trial
:css
  .boxed.new_box{
    display: flex;
    justify-content: space-around;
    align-content: center;
  }
  .boxed.new_box ul li{
    margin-bottom:10px;
  }

  .h3_new:before{
    width: 0px;
  }

  .h3_new:after{
    width: 0px;
  }