- title "UCAT vs GAMSAT: All You Need to Know"
- meta_description "Confused by the difference between the UCAT and the GAMSAT? Read this article to find out how the UCAT and GAMSAT differ, which one you should sit depending on your medical school entry goals, and other things you need to take into consideration when weighing up UCAT vs GAMSAT."
- meta_keywords "ucat vs gamsat"

%section.talk_to_bg.home_faq.dashboard_bg
  #typed.notification_bar
    %p
      = render 'pages/partial/announcement', product_line: map_path_to_prodline(request.env['PATH_INFO']), relative: false
  .container.public_container
    .support_col.looking_corse.text-center.gradready_question
      %h1
        UCAT vs GAMSAT: Everything You Need to Know
%section.faq_wrapper.faq_details
  .row
    .container.public_container
      .download-counter-badge
        %p.download_read= show_estimated_read_time rescue nil
        %span|
        %i.fa.fa-user{'aria-hidden': "true"}
        %p.download_read= show_download_hit_count rescue nil
      .preparation_col
        %p
          The UCAT
          %sup ®
          exam and the GAMSAT
          %sup ®
          exam are two of the most important exams for any aspiring medical student. They both function as a requirement for medical school entry, but at the same time, they are fundamentally different, and are used for different entry points. Our UCAT
          %sup ®
          and GAMSAT
          %sup ®
          tutors have put together this guide to help explain the difference and cover everything you need to know about the UCAT
          %sup ®
          vs GAMSAT
          %sup ®
          exam.

        %ol
          %li
            %a{href: "#what_is_ucat_and_gamsat"}
              What is the UCAT
              %sup ®
              and GAMSAT
              %sup ®
              ?
          %li
            %a{href: "#which_one_should_i_sit"}
              UCAT
              %sup ®
              vs GAMSAT
              %sup ®
              = ': Which One Should I Sit?'
          %li
            %a{href: "#what_is_the_difference"}
              UCAT
              %sup ®
              vs GAMSAT
              %sup ®
              = ': What is the Difference?'
          %li
            %a{href: "#pros_and_cons"}
              UCAT
              %sup ®
              vs GAMSAT
              %sup ®
              = ': Pros, Cons and Other Considerations'
          %li
            %a{href: "#conclusion"}
              UCAT
              %sup ®
              vs GAMSAT
              %sup ®
              = '- Conclusion'
          %li
            %a{href: "#further_resources"}
              Further Resources

      .preparation_col.head_aftr_none
        %h2#what_is_ucat_and_gamsat
          What is the UCAT and GAMSAT?
        %p
          The benefits of a career in the field of Medicine are numerous and as such, it remains one of the most competitive fields to enter. As a result,
          %a{href: 'https://gradready.com.au/australian-medical-schools', target: :_blank}
            %strong
              universities
          utilise additional entry exams on top of already stringent academic requirements (such as ATAR and WAM/GPA), to help differentiate students for selection. These entry exams come in the form of the UCAT
          %sup ®
          exam for undergraduate entry and the GAMSAT
          %sup ®
          exam for graduate entry. As these acronyms are often thrown around without much context, this article will explain what they are and which test you should be taking depending on your current qualifications and
          %a{href: 'https://gradready.com.au/how-to-become-a-doctor', target: :_blank}
            %strong
              when you plan to begin your medical degree.
        %p
          The University Clinical Aptitude Test (or UCAT
          %sup ®
          = ')'
          = 'is a standardised computer-based test contributing to the selection process for a consortium of Australian and New Zealand universities. More specifically, the UCAT'
          %sup ®
          exam assesses skills that are useful in degrees in Medicine, Dental and other clinical science programmes. This two hour computer-based exam consists of a total of 228 multiple choice questions
          %a{href: 'https://gradready.com.au/ucat-structure', target: :_blank}
            %strong
              divided into five subtests,
          each designed to test different skills.The UCAT
          %sup ®
          exam is targeted towards those who have completed or are completing their final year of secondary school and opens up applications to undergraduate medicine programs. For further information, read our guide:
          %a{href: 'https://gradready.com.au/what-is-ucat', target: :_blank}
            %strong
              What is the UCAT
              %sup ®
              exam?
        %p
          In contrast,
          %a{href: 'https://gradready.com.au/what-is-gamsat', target: :_blank}
            %strong
              the Graduate Medical School Admissions Test (GAMSAT
              %sup ®
              = ')'
          = ' is targeted towards applicants who have completed an undergraduate degree and are aiming to enter a graduate-entry medicine program. Whereas the UCAT'
          %sup ®
          exam may be a sprint, the GAMSAT
          %sup ®
          exam is a marathon as a 5.25 hour digital test, divided into 3 unique sections.
          %a{href: 'https://gradready.com.au/gamsat-section-1', target: :_blank}
            %strong
              GAMSAT
              %sup ®
              Section 1
          is 100 minutes long, consists of 62 MCQs, and is designed to assess your ability to interpret qualitative information as well as your reading comprehension skills.
          %a{href: 'https://gradready.com.au/gamsat-section-2', target: :_blank}
            %strong
              GAMSAT
              %sup ®
              Section 2
          involves essay writing and assesses your ability to express your thoughts in a clear and logical manner in response to two sets of stimuli. Finally,
          %a{href: 'https://gradready.com.au/gamsat-section-3', target: :_blank}
            %strong
              GAMSAT
              %sup ®
              Section 3
          is designed to assess your advanced reasoning skills in a scientific context.
        %p
          Ultimately, given the extreme competitiveness of entry into Medicine, the UCAT
          %sup ®
          and GAMSAT
          %sup ®
          exams play an important role in admission criteria along with academic marks and the interview.
      .preparation_col.head_aftr_none
        %h2#which_one_should_i_sit
          UCAT vs GAMSAT: Which One Should I Sit?
        %p
          So should you sit the GAMSAT
          %sup ®
          or the UCAT
          %sup ®
          exam? This is ultimately
          %a{href: 'https://gradready.com.au/how-to-become-a-doctor', target: :_blank}
            %strong
              dependent on your situation and your goals.
          Any candidate who is completing or has completed Year 12 is eligible to sit the UCAT
          %sup ®
          for entry into undergraduate medical programs. Notably, some universities will only accept highschool leavers - This means that some undergraduate medical schools may not accept students who have already completed or even commenced an undergraduate degree. In contrast, the GAMSAT
          %sup ®
          is perfect for students who have already completed an undergraduate degree and are looking for entry into
          %a{href: 'https://gradready.com.au/medical-school-entry-requirements', target: :_blank}
            %strong
              graduate medicine programs.
        %h3
          How does the UCAT help me get into medicine?
        %p
          As mentioned, the UCAT
          %sup ®
          exam plays a role in the admissions criteria for several universities offering undergraduate programs. These include:
        .tbl_responsive.mtop20.mbot20
          %table.table.cstm_tbl.table-bordered.table-condensed.custom_table_data
            %thead
              %tr
                %th University
                %th Programme
            %tbody
              %tr
                %td The University of Adelaide
                %td
                  Medicine
                  %br
                  Dental Surgery
                  %br
                  Oral Health

              %tr
                %td Central Queensland University
                %td Medical Science (Regional Medical Pathway provisional entry to UQ)
              %tr
                %td Charles Sturt University
                %td
                  Dental Science
                  %br
                  Medicine (Joint Program in Medicine)
              %tr
                %td Curtin University
                %td Medicine
              %tr
                %td Flinders University
                %td Clinical Sciences/Medicine
              %tr
                %td Griffith University
                %td Dental Health Science
              %tr
                %td Monash University
                %td Medicine
              %tr
                %td The University of Newcastle / University of New England
                %td Joint Medical Program
              %tr
                %td The University of New South Wales
                %td Medicine
              %tr
                %td The University of Queensland
                %td
                  Medicine (Provisional Entry Pathway)
                  %br
                  Dental Science
              %tr
                %td University of Tasmania
                %td Medicine
              %tr
                %td The University of Western Australia
                %td
                  Medicine (Direct Pathway)
                  %br
                  Dental Medicine (Direct Pathway)
              %tr
                %td Western Sydney University
                %td Medicine (Joint Program in Medicine)
              %tr
                %td The University of Auckland
                %td Medicine
              %tr
                %td University of Otago
                %td
                  Medicine
                  %br
                  Dentistry
        %p
          For further information, review our breakdown of
          %a{href: 'https://gradready.com.au/australian-medical-schools', target: :_blank}
            %strong
              Australian Medical Schools.
          It is also important to understand that for these universities, the UCAT
          %sup ®
          exam is only one part of the admission criteria. Competitive academic scores (e.g. ATAR) and interview scores are necessary to score a place in an undergraduate medicine program.
        %h3
          How does the GAMSAT help me get into medicine?
        %p
          The
          %a{href: 'https://gradready.com.au/gamsat-2022', target: :_blank}
            %strong
              GAMSAT
              %sup ®
              exam
          is part of the
          %a{href: 'https://gradready.com.au/medical-school-entry-requirements', target: :_blank}
            %strong
              admission criteria for graduate-entry medicine programs,
          which require applicants to have completed an undergraduate degree prior to entry.
        .tbl_responsive.mtop20.mbot20
          %table.table.cstm_tbl.table-bordered.table-condensed.custom_table_data
            %thead
              %tr
                %th University
                %th Programme
            %tbody
              %tr
                %td Australian National University
                %td Medicine

              %tr
                %td Deakin University
                %td Medicine
              %tr
                %td Flinders University
                %td Medicine
              %tr
                %td Griffith University
                %td Medicine
              %tr
                %td Macquarie University
                %td Medicine
              %tr
                %td The University of Queensland
                %td Medicine
              %tr
                %td The University of Melbourne
                %td
                  Medicine
                  %br
                  Dentistry
                  %br
                  Optometry
              %tr
                %td The University of Notre Dame (Fremantle)
                %td Medicine
              %tr
                %td The University of Notre Dame (Sydney)
                %td Medicine
              %tr
                %td The University of Sydney
                %td
                  Medicine
                  %br
                  Dentistry
                  %br
                  Optometry
              %tr
                %td The University of Western Australia
                %td
                  Medicine
                  %br
                  Dentistry
                  %br
                  Podiatric Medicine
              %tr
                %td The University of Wollongong
                %td Medicine
        %p
          For further information, review our breakdown of
          %a{href: 'https://gradready.com.au/australian-medical-schools', target: :_blank}
            %strong
              Australian Medical Schools.
          The GAMSAT
          %sup ®
          exam is ultimately designed to assess the capacity to undertake and perform well in a challenging medical degree. It does so through evaluating the use of concepts in basic science as well as more broad skills in problem solving, writing and critical evaluation.
        %p
          Visit our comprehensive guide on
          %a{href: 'https://gradready.com.au/medical-school-entry-requirements', target: :_blank}
            %strong
              Australian Graduate Medical Schools - Admission Requirements
          for more information about the role the GAMSAT
          %sup ®
          exam plays in your medical admissions journey and all the other requirements.
      .preparation_col.head_aftr_none
        %h2#what_is_the_difference
          UCAT vs GAMSAT: What is the Difference?
        %h3
          Difference Between UCAT and GAMSAT - Comparison Table
        #table_below.tbl_responsive.mtop20.mbot20
          %table.table.cstm_tbl.table-bordered.table-condensed.custom_table_data
            %thead
              %tr
                %th Differences
                %th UCAT
                %th GAMSAT
            %tbody
              %tr
                %td
                  %strong
                    Eligibility
                %td Must be undertaking or completed the final year of secondary school or higher.
                %td Must have completed a Bachelor or undergraduate degree or be in the final/penultimate year of study
              %tr
                %td
                  %strong
                    Dates
                %td The test cycle runs annually in July.
                %td Two testing windows each year in March and September.
              %tr
                %td
                  %strong
                    Universities
                %td
                  The University of Adelaide
                  %br
                  Central Queensland University
                  %br
                  Charles Sturt University
                  %br
                  Curtin University
                  %br
                  Flinders University
                  %br
                  Griffith University
                  %br
                  Monash University
                  %br
                  The University of Newcastle / University of New England
                  %br
                  The University of New South Wales
                  %br
                  The University of Queensland
                  %br
                  University of Tasmania
                  %br
                  The University of Western Australia
                  %br
                  Western Sydney University
                  %br
                  The University of Auckland
                  %br
                  University of Otago
                %td
                  Australian National University
                  %br
                  Deakin University
                  %br
                  Flinders University
                  %br
                  Griffith University
                  %br
                  Macquarie University
                  %br
                  The University of Queensland
                  %br
                  The University of Melbourne
                  %br
                  The University of Notre Dame (Fremantle)
                  %br
                  The University of Notre Dame (Sydney)
                  %br
                  The University of Sydney
                  %br
                  The University of Western Australia
                  %br
                  The University of Wollongong
            %thead
              %tr
                %th{colspan: 3}
                  %strong
                    Format
            %tbody
              %tr
                %td
                  %strong
                    Questions
                %td 228 Multiple Choice Questions
                %td 137 Multiple Choice Questions and 2 Essay Prompts
              %tr
                %td
                  %strong
                    Timing
                %td 2 Hours
                %td 5.25 Hours testing time but around 8 hours including administrative time and lunch break
              %tr
                %td
                  %strong
                    Sections
                %td
                  Five Subtests:
                  %ul{style: 'list-style: disc;'}
                    %li Verbal Reasoning
                    %li Decision Making
                    %li Quantitative Reasoning
                    %li Abstract Reasoning
                    %li Situational Judgement
                %td
                  Three Sections
                  %ul{style: 'list-style: disc;'}
                    %li Section I: Reasoning in Humanities
                    %li Section II: Written Communication
                    %li Section III: Reasoning in Biological and Physical Sciences
              %tr
                %td
                  %strong
                    Style
                %td Time-pressured exam with many questions
                %td Long exam with endurance required.
            %thead
              %tr
                %th{colspan: 3}
                  %strong
                    Test Details
            %tbody
              %tr
                %td
                  %strong
                    Assumed Knowledge
                %td No assumed knowledge.
                %td
                  First year university level Biology and Chemistry
                  %br
                  Year 12 equivalent level Physics
              %tr
                %td
                  %strong
                    Skills Tested
                %td Critical evaluation of both written and numerical forms, decision making, inferring abstract relationship, appropriate behaviour in real world scenarios
                %td Critical thinking and logical reasoning in both a scientific context (requiring adequate levels of basic Biology, Chemistry, and Physics knowledge) and within a humanities and social sciences domain. Also tests your ability to effectively communicate ideas in a written format with the essay marking section.
              %tr
                %td
                  %strong
                    Scoring
                %td
                  Out of 3600 marks.
                %td
                  Scores provided in a scale out of 100 marks. Refer to our
                  %a{href: 'https://gradready.com.au/gamsat-scores', target: :_blank}
                    %strong
                      GAMSAT Scores guide
                  for further information.
        %h3
          GAMSAT vs UCAT: Which One is Harder?
        %p
          Which is harder, GAMSAT
          %sup ®
          or UCAT
          %sup ®
          exam? In short, the GAMSAT
          %sup ®
          exam is considered the harder of the two exams. This is primarily due to the nature of the ‘assumed knowledge’ in the GAMSAT
          %sup ®
          = ', whereby candidates are expected to understand first year university level biology and chemistry and Year 12 equivalent physics. Moreover, despite the longer timeframe provided for each question and the lower number of questions, the questions are of considerably higher difficulty. The exams are fundamentally different: the UCAT'
          %sup ®
          exam can be considered an aptitude test whereas the GAMSAT
          %sup ®
          exam is aimed at testing advanced reasoning skills.
      .preparation_col.head_aftr_none
        %h2#pros_and_cons
          UCAT vs GAMSAT: Pros, Cons and Other Considerations
        %h3
          Pros and Cons of Graduate vs Undergraduate
        %p
          When considering the advantages, or ‘pros’ of the
          %a{href: 'https://gradready.com.au/how-to-become-a-doctor', target: :_blank}
            %strong
              Undergraduate pathway,
          some include graduating earlier, comparatively easier entry, and being with a cohort of similarly aged students. As mentioned, if your main concern is which of the two entry exams is easier, then yes, the UCAT
          %sup ®
          exam is considerably easier when comparing UCAT
          %sup ®
          vs GAMSAT
          %sup ®
          and as such, entry can be considered less competitive albeit still extremely difficult. A notable counter-argument however is that a greater number of students take the UCAT
          %sup ®
          exam, and as such, you will be competing against a larger pool of students, potentially negating the fact that it may be easier.
        %p
          An additional advantage for some is the fact that most undergraduate medical students will have either just finished high school or only finished within the last couple of years. As such, you will have a cohort of much more similarly aged students graduating together with yourself. This could be seen as both a pro or a con depending on your preferences. However, an undoubted advantage is the fact that you will graduate earlier, and begin working and earning a salary before your graduate-entry counterparts. Getting through medical school however is only the start of your medical journey - Depending on your speciality of choice, you may have many more years of study and development ahead of you.
        %p
          Conversely, with graduate programs, students come from various backgrounds and as such you may see a higher level of diversity and maturity when it comes to this
          %a{href: 'https://gradready.com.au/how-to-become-a-doctor', target: :_blank}
            %strong
              entry pathway.
          Many graduate-entry medical students may have worked for a number of years in various professions and bring a greater wealth of experience with them. This is by no means saying that undergraduate students are immature, but if you are someone who values an additional level of maturity or more time to decide on a career path before you lock yourself into a medical pathway, a
          %a{href: 'https://gradready.com.au/medical-school-entry-requirements', target: :_blank}
            %strong
              graduate-entry option
          may be more suitable. Furthermore, the graduate pathway may be perfect for someone who has only just decided to pursue medicine after completing a full degree. This leaves candidates with more options and is preferable for students who want to explore other disciplines and have a wider education before delving into a medicine degree.
        %h3
          When and where can I sit the UCAT and GAMSAT Exam?
        %p
          The UCAT
          %sup ®
          testing cycle runs in July of each year and Australian testing centre locations can be found in many locations.
        .tbl_responsive.mtop20.mbot20
          %table.table.cstm_tbl.table-bordered.table-condensed.custom_table_data
            %thead
              %tr
                %th State
                %th
                  UCAT
                  %sup ®
                  Test Centre
            %tbody
              %tr
                %td ACT
                %td Canberra
              %tr
                %td NSW
                %td
                  Armidale
                  %br
                  Newcastle
                  %br
                  Orange
                  %br
                  Parramatta
                  %br
                  Port Macquarie
                  %br
                  Sydney
                  %br
                  Wagga Wagga
              %tr
                %td
                  NT
                %td
                  Alice Springs
                  %br
                  Darwin
              %tr
                %td
                  QLD
                %td
                  Brisbane
                  %br
                  Cairns
                  %br
                  Gold Coast
                  %br
                  Rockhampton
                  %br
                  Toowoomba
                  %br
                  Townsville
              %tr
                %td
                  SA
                %td
                  Adelaide
                  %br
                  Port Augusta
              %tr
                %td TAS
                %td
                  Hobart
                  %br
                  Launceston
              %tr
                %td VIC
                %td
                  Ballarat
                  %br
                  Bendigo
                  %br
                  Churchill
                  %br
                  Geelong
                  %br
                  Melbourne
                  %br
                  Mildura
              %tr
                %td WA
                %td
                  Bunbury
                  %br
                  Perth
        %p
          There are also test locations in New Zealand at:
          %ul{style: 'list-style: disc;'}
            %li Auckland
            %li Christchurch
            %li Dunedin
            %li Invercargill
            %li New Plymouth 
            %li Wellington
        %p
          Visit our
          %a{href: 'https://gradready.com.au/ucat-2022', target: :_blank}
            %strong
              UCAT
              %sup ®
              2022
          page for more detailed information about UCAT
          %sup ®
          2022 dates, how to register, and more. 
        %p
          For the GAMSAT
          %sup ®
          exam there are two test windows, with a sitting in March and September. It’s important to note that only the March sittings are valid if you wish to apply in the same year - Students sitting the September sitting will need to apply in the following year. Testing centre locations include:
        %table.table.cstm_tbl.table-bordered.table-condensed.custom_table_data
          %thead
            %tr
              %th March 2022
              %th September 2022
          %tbody
            %tr
              %td
                Adelaide
                %br
                Albury
                %br
                Alice Springs
                %br
                Ballarat
                %br
                Brisbane
                %br
                Broome
                %br
                Canberra
                %br
                Darwin
                %br
                Dubbo
                %br
                Geraldton
                %br
                Hobart
                %br
                Melbourne
                %br
                Newcastle
                %br
                Perth
                %br
                Sunshine Coast
                %br
                Sydney
                %br
                Townsville
                %br
                Whyalla
                %br
                Wollongong
              %td
                Adelaide
                %br
                Albury
                %br
                Brisbane
                %br
                Canberra
                %br
                Darwin
                %br
                Dubbo
                %br
                Geraldton
                %br
                Melbourne
                %br
                Perth
                %br
                Sydney
                %br
                Townsville
        %p
          Visit our
          %a{href: 'https://gradready.com.au/gamsat-2022', target: :_blank}
            %strong
              GAMSAT
              %sup ®
              2022
          page for more detailed information about GAMSAT® 2022 dates, how to register, and more. 
        %h3
          Is there assumed knowledge in the UCAT and GAMSAT exams?
        %p
          For the GAMSAT
          %sup ®
          exam, most candidates have much more knowledge and experience due to having completed a degree. As such, candidates are expected to prepare for the exam by having a level of assumed knowledge equivalent to first year university levels of Biology and Chemistry along with a Year 12 level of Physics. It is important to understand that although assumed knowledge is required the
          %a{href: 'https://gradready.com.au/gamsat-preparation', target: :_blank}
            %strong
              GAMSAT
              %sup ®
              exam is fundamentally designed to test advanced reasoning skills
          rather than any recall of content. On the other hand, there is no assumed knowledge at all needed to do the UCAT
          %sup ®
          exam.
        %h3
          UCAT vs GAMSAT Fees
        %p
          Candidates applying for the GAMSAT
          %sup ®
          exam are required to pay a fee of $515 (including GST) in Australia. In contrast, the UCAT
          %sup ®
          exam costs $305 for tests taken in Australia and New Zealand. This price is definitely a consideration but ultimately shouldn't alter your decision in whether to do the UCAT
          %sup ®
          or GAMSAT
          %sup ®
          exam as they align with different points in your tertiary education pathways. In terms of preparation fees, the UCATANZ, the body that coordinates the UCAT
          %sup ®
          exam, offers many free resources on their website whereas ACER, the body that runs the GAMSAT
          %sup ®
          exam, offers few materials in the way of official preparation resources.
        %p
          In saying that, there are GAMSAT
          %sup ®
          preparation course providers that provide useful free resources to help you kickstart your preparation. Check out our
          %a{href: 'https://gradready.com.au/gamsat-preparation-courses/free-gamsat-trial', target: :_blank}
            %strong
              GAMSAT
              %sup ®
              Free Trial
          for detailed week-by-week plans of how you should be spending your time and tips on the best preparation strategy as well as free practice MCQs.
        %br
        %br
        .boxed
          Get Access to:
          %ul{:style => "list-style-type:none;padding: 13px 0px;"}
            %li 50 Free MCQs
            %li Week-By-Week Study Guide
            %li Complete Session 3 Topic List
            %li Recorded Webinars
          .free_gamsat_icon
            = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/free_trial.png', class: "icon30"
          .button_right_section
            %a.free_trial_btn.hvr-shutter-in-horizontal{href: "/gamsat-preparation-courses/free-gamsat-trial", target: :_blank} GAMSAT Free Trial
      .preparation_col.head_aftr_none
        %h2#conclusion
          UCAT vs GAMSAT - Conclusion
        %p
          So which exam should you sit? Well, the UCAT
          %sup ®
          exam is designed for those coming out of high school or who have completed highschool and want to pursue an undergraduate medicine degree. The GAMSAT
          %sup ®
          exam is for students who have completed, or are currently completing, their undergraduate studies and who are interested in pursuing entry into a graduate medicine program. Now that you know what is the difference between UCAT
          %sup ®
          and GAMSAT
          %sup ®
          exam, the decision of which one you should sit is yours to make. At the end of the day, upon completing the degree, whether it be graduate or undergraduate, medicine is an extremely rewarding career and the opportunities for graduates remain the same.
      .preparation_col.head_aftr_none
        %h2#further_resources
          Further Resources
        %p
          Now that you understand the difference between UCAT
          %sup ®
          vs GAMSAT
          %sup ®
          exam, it’s time to make your decision and start preparing. The below free resources might be helpful:
        %ol
          %li
            %a{href: 'https://gradready.com.au/gamsat-2022', target: :_blank}
              GAMSAT
              %sup ®
              2022
            %br
            Everything you need to know about the GAMSAT
            %sup ®
            Exams in 2022 from registration dates to locations.
          %li
            %a{href: 'https://gradready.com.au/what-is-ucat', target: :_blank}
              What is the UCAT
              %sup ®
            %br
            An introduction to the UCAT
            %sup ®
            exam including which universities require the UCAT®
          %li
            %a{href: 'https://gradready.com.au/what-is-gamsat', target: :_blank}
              What is the GAMSAT
              %sup ®
            %br
            Everything you need to know about the GAMSAT
            %sup ®
            Exam from structure and overview to which universities require the GAMSAT®
          %li
            %a{href: 'https://gradready.com.au/how-to-become-a-doctor', target: :_blank}
              Pathways to Medicine
            %br
            A guide on how to become a doctor in Australia, with an overview of the different pathways. 
          %li
            %a{href: 'https://gradready.com.au/australian-medical-schools', target: :_blank}
              Australian Medical Schools Overview
            %br
            An overview of Australian Medical Schools, both undergraduate and graduate, with details on the course and entry criteria for each medical school.
          %li
            %a{href: 'https://gradready.com.au/medical-school-entry-requirements', target: :_blank}
              Graduate Entry Medicine Admission Requirements
            %br
            A detailed breakdown of graduate medical school entry requirements, including cut-offs, how students are ranked and more.

:javascript
  // Select all links with hashes
  $('a[href*="#"]')
  // Remove links that don't actually link to anything
  .not('[href="#"]')
  .not('[href="#0"]')
  .click(function(event) {
    // On-page links
    if (
      location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
      &&
      location.hostname == this.hostname
    ) {
      // Figure out element to scroll to
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      // Does a scroll target exist?
      if (target.length) {
        // Only prevent default if animation is actually gonna happen
        event.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top-74
        }, 1000, function() {
          // Callback after animation
          // Must change focus!

        });
      }
    }
  });

:css
  #table_below a {
    font-size: inherit;
    color: #007ecc;
    text-decoration: underline;
  }

  .preparation_col ol li a, .preparation_col ul li a{
    font-size: 14px;
    color: #007ecc;
    line-height: 25px;
    font-weight: 600;
  }
  .preparation_col ol li h3 a {
    font-size: 18px;
    color: #007ecc;
  }
  .preparation_col h3 {
    font-size: 18px;
    color: #007ecc;
    margin-top: 0px;
  }
  .cstm_tbl thead {
    background: #007ecc;
    color: #fff;
  }
  .download-counter-badge .fa {
    color: #007ecc !important;
    padding: 5px 5px !important;
    font-size: 17px !important;
  }
  .preparation_col p a {
    font-size: 14px;
    color: #007ecc;
  }
  .tbl_responsive span {
    font-size: 14px;
    margin-top: 4px;
    display: block;
  }
