- title "UCAT Dentistry | UCAT Pathways to Dentistry"
- meta_description "Learn all about using the UCAT exam for dentistry - From which universities provide undergraduate dental pathways and which require a UCAT score, to the UCAT cutoffs for Dentistry programs that you should aim for to be accepted into an undergraduate dental program in Australia."
- meta_keywords "ucat dentistry"

%section.talk_to_bg.home_faq.dashboard_bg
  #typed.notification_bar
    %p
      = render 'pages/partial/announcement', product_line: map_path_to_prodline(request.env['PATH_INFO']), relative: false
  .container.public_container
    .support_col.looking_corse.text-center.gradready_question
      %h1
        UCAT Dentistry: Guide to UCAT for Dentistry
%section.faq_wrapper.faq_details
  .row
    .container.public_container
      .download-counter-badge
        %p.download_read= show_estimated_read_time rescue nil
        %span|
        %i.fa.fa-user{'aria-hidden': "true"}
        %p.download_read= show_download_hit_count rescue nil
      .preparation_col
        %p
          The Undergraduate Clinical Aptitude Test (UCAT
          %sup ®
          = ') is an entry exam that is designed to test the qualities and skill sets that are required of a future doctor or dentist. This guide will look at the importance and role of the UCAT'
          %sup ®
          exam as an entry criteria for dentistry programs, the UCAT
          %sup ®
          cutoff scores for dentistry courses across Australia and alternative pathways into dentistry for a low UCAT
          %sup ®
          score
        %ol
          %li
            %a{href: "#is_it_required"}
              UCAT
              %sup ®
              Dentistry: Is It Required?
          %li
            %a{href: "#accept_dentistry_scores"}
              Which Universities Accept UCAT
              %sup ®
              Dentistry Scores?
          %li
            %a{href: "#low_dentistry_score"}
              Low UCAT
              %sup ®
              Dentistry Score: Can You Still Get Into Dentistry?
          %li
            %a{href: "#advice"}
              Advice for Those Applying for Dentistry with UCAT
              %sup ®
          %li
            %a{href: "#what_do_i_do"}
              Receiving a High UCAT
              %sup ®
              Dentistry Score: What Do I Do Now?

      .preparation_col.head_aftr_none
        %h2#is_it_required
          UCAT Dentistry: Is It Required?
        %p
          Like medicine, dentistry is a highly competitive career option - Dentists are able to make significant improvements in the wellbeing of their patients, and the profession offers a stable and rewarding lifelong career that is attractive to many students. It’s no wonder then that, like medicine, many undergraduate dentistry programs require an entry exam, i.e.
          %a{href: 'https://gradready.com.au/what-is-ucat', target: :_blank}
            %strong
              the UCAT
              %sup ®
              exam,
          to help differentiate between the many applicants.
        %h3
          What UCAT Score is Needed for Dentistry in Australia?
        %p
          For the 2022 admissions cycle, the lowest UCAT
          %sup ®
          score cutoff for entry into a dentistry program was the 78th percentile for Griffith University. However, to realistically achieve an admissions place for dentistry in 2023, a much higher UCAT
          %sup ®
          score is needed, often in the 90th+ percentile range.
        %h3
          What is the Average UCAT Score for Dentistry?
        %p
          The UCAT
          %sup ®
          cutoff scores for undergraduate dentistry programs in Australia can often range from the 85th to 95th percentile, and will depend on a number of factors including rurality, location of home state, and preferencing of offers. This means that the scores are often equally as competitive when compared to medicine, and a high UCAT
          %sup ®
          score will be of great benefit to applicants looking to get into dentistry programs.
        %p
          If you’d like to learn more about how UCAT
          %sup ®
          scores are calculated, when UCAT
          %sup ®
          results are released, and what constitutes a good UCAT
          %sup ®
          score, check out our
          %a{href: 'https://gradready.com.au/ucat-scores', target: :_blank}
            %strong
              Definitive Guide to UCAT Results. 
      .preparation_col.head_aftr_none
        %h2#accept_dentistry_scores
          Which Universities Accept UCAT Dentistry Scores?
        %p
          Out of the 9 dentistry schools across Australia, 5 require you to undertake the UCAT® exam to apply and potentially receive an interview offer.
          %a{href: '#table_below'}
            %strong
              See the table below
          for more information about undergraduate dental programs in Australia.
        %h3
          What is Considered a Dental Program?
        %p
          A dental program is an undergraduate or graduate degree following which you will graduate as a dentist with a licensed registration, much like studying medicine. You will be accredited with the
          %a{href: 'https://racds.org/', target: :_blank}
            %strong
              RACDS (Royal Australian College of Dental Surgeons)
          once you receive your registration and complete further training programs post-graduation.
        %p
          The degrees that are accredited can often be phrased as “Bachelor of Dental Science”, “Doctor of Dentistry”, or “Bachelor of Dental Surgery”. It is important to note that oral health therapy degrees are a completely different profession, and should not be confused with dentistry.
        %h3
          Undergraduate Dental Programs in Australia
        %p
          It is important to note that the following table only serves as a guide, and is not representative of actual UCAT® dentistry cut off scores nor university guidelines, as most admission processes are confidential. Few, if any, universities will provide exact cut-off scores, and as such, many of the details below are derived from self-reported student data.

        .tbl_responsive.mtop20.mbot20#table_below
          %table.table.cstm_tbl.table-bordered.table-condensed.custom_table_data
            %thead
              %tr
                %th
                  %strong
                    DENTISTRY SCHOOL
                %th
                  %strong
                    STATE
                %th
                  %strong
                    ATAR/GPA
                %th
                  %strong
                    UCAT
                    %sup ®
                    CUT-OFF
                %th
                  %strong
                    OFFER WEIGHTING                    
                %th
                  %strong
                    PLACES AVAILABLE
                %th
                  %strong
                    OTHER
            %tbody
              %tr
                %td
                  %a{href: 'https://study.csu.edu.au/courses/medical-dentistry/bachelor-dental-science', target: :_blank}
                    %strong
                      Charles Sturt University
                %td
                  NSW
                %td
                  %strong
                    Non-CSU:
                  %br
                  ATAR - 90+ GPA - 5.5+
                  %br
                  %br
                  %strong
                    CSU:
                  %br
                  GPA- 5.5+
                %td
                  91st percentile
                %td
                  100% interviews
                %td
                  21 CSP
                  17 Rural or Aboriginal/Torres Strait Islander
                %td
                  Length - 5 years
              %tr
                %td
                  %a{href: 'https://www.sydney.edu.au/courses/courses/pc/doctor-of-dental-medicine0.html', target: :_blank}
                    %strong
                      University of Sydney
                  %br
                  Doctor of Dental Medicine - provisional
                %td
                  NSW
                %td
                  ATAR: 99.6+
                  %br
                  Non-standards ineligible
                %td
                  N/A
                %td
                  100% interviews
                %td
                  20 CSP
                %td
                  Length - 3 years undergraduate, 4 years post-graduate
              %tr
                %td
                  %a{href: 'https://study.uq.edu.au/study-options/programs/bachelor-dental-science-honours-2367', target: :_blank}
                    %strong
                      University Of Queensland
                %td
                  QLD
                %td
                  %strong
                    Non-UQ:
                  %br
                  ATAR: 99+
                  %br
                  GPA: 6.5+
                  %br
                  %strong
                    UQ:
                  %br
                  GPA: 5.8+
                %td
                  89th percentile
                %td
                  100% UCAT
                  %sup ®
                  exam
                %td
                  34 CSP
                %td
                  Length - 3 years undergraduate, 4 years post-graduate
              %tr
                %td
                  %a{href: 'https://www.jcu.edu.au/courses/bachelor-of-dental-surgery', target: :_blank}
                    %strong
                      James Cook University
                %td
                  QLD
                %td
                  ATAR: 87+
                  %br
                  GPA: 4+
                %td
                  N/A
                %td
                  ATAR + Written Application + rurality level
                %td
                  113 CSP
                %td
                  Length - 5 years
              %tr
                %td
                  %a{href: 'https://www.griffith.edu.au/study/degrees/bachelor-of-dental-health-science-1577', target: :_blank}
                    %strong
                      Griffith
                %td
                  QLD
                %td
                  ATAR: 99.85
                  %br
                  GPA: 6.875

                %td
                  N/A
                %td
                  100% ATAR
                %td
                  60 CSP/FFP*
                %td
                  Length - 3 years undergraduate, 2 years post-graduate
              %tr
                %td
                  %a{href: 'https://www.latrobe.edu.au/courses/bachelor-of-dental-science-honours', target: :_blank}
                    %strong
                      Latrobe University
                %td
                  VIC
                %td
                  ATAR: 99.20
                  %br
                  GPA: Unknown
                %td
                  School leaver: N/A
                  %br
                  %br
                  Non-standard: 96th percentile
                %td
                  School leaver: 100% ATAR
                %td
                  54 CSP
                %td
                  Length - 5 years
              %tr
                %td
                  %a{href: 'https://study.unimelb.edu.au/find/pathways/dentist/', target: :_blank}
                    %strong
                      University Of Melbourne
                  %br
                  Doctor of Dentistry - provisional
                %td
                  VIC
                %td
                  ATAR: 99.85+ (CSP)
                  %br
                  %br
                  ATAR: 99+ (FFP)
                %td
                  N/A
                %td
                  N/A
                %td
                  91 CSP for postgraduate component
                %td
                  Length - 3 years undergraduate, 4 years post-graduate
              %tr
                %td
                  %a{href: 'https://www.uwa.edu.au/study/how-to-apply/health-and-medical-sciences-applications/assured-pathway-md-and-dmd-domestic', target: :_blank}
                    %strong
                      University Of Western Australia
                  %br
                  Doctor of Dental Medicine - provisional
                %td
                  WA
                %td
                  ATAR: 99+
                %td
                  86th percentile
                %td
                  33% ATAR
                  %br
                  33% UCAT®
                  %br
                  33% Interviews

                %td
                  = '-'
                %td
                  Length - 3 years undergraduate, 4 years post-graduate
              %tr
                %td
                  %a{href: 'https://www.adelaide.edu.au/degree-finder/bds_bds.html', target: :_blank}
                    %strong
                      University Of Adelaide
                %td
                  SA
                %td
                  ATAR: 90+
                  %br
                  GPA: 5+ (cut-off, will likely require higher scores)
                %td
                  87th percentile
                %td
                  1st: Interview ranking
                  %br
                  2nd: UCAT
                  %sup ®
                  ranking
                  %br
                  3rd: ATAR ranking**
                %td
                  38 CSP
                %td
                  Length - 5 years
        %p
          %sup
            *Griffith University is a commonwealth supported place (CSP) for the undergraduate component of the degree, but Full-Fee paying (FFP) for the graduate component of the degree.
        %p
          %sup
            **University of Adelaide will rank applicants based on their interview score, and if applicants are tied in interview scores, they will then proceed to rank UCAT
            %sup ®
            and ATAR.
      .preparation_col.head_aftr_none
        %h2#low_dentistry_score
          Low UCAT Dentistry Score: Can You Still Get Into Dentistry?
        %p
          The UCAT
          %sup ®
          exam is generally a key part of the entry requirements for the majority of universities offering undergraduate dentistry programs. However, there are many alternative pathways available for gaining admissions to a dental program. Some universities do not require a UCAT
          %sup ®
          score, and some universities offer non-standard entry, much like medicine.
        %h3
          Getting into Dentistry with a Low UCAT Score
        %p
          Receiving a low UCAT
          %sup ®
          score does not mean you lose your chance to get into dentistry entirely. There are several pathways to get into dentistry, and each has its own advantages and disadvantages.
          %ol
            %li
              %a{href: '#without_ucat'}
                Option 1: Universities without the UCAT® exam 
            %li
              %a{href: '#non_standard'}
                Option 2: Non-standard entry
            %li
              %a{href: '#gap_year'}
                Option 3: Gap Year
            %li
              %a{hreF: '#grad_degrees'}
                Option 4: Graduate degrees
        %h4#without_ucat
          Option 1: Universities without UCAT
        %p
          Out of the 9 universities in Australia which offer dentistry programs, 4 of them do not require the UCAT
          %sup ®
          exam. In the scenario where you may receive a low UCAT
          %sup ®
          score, these universities are still an option for gaining an entrance into another dentistry degree that primarily uses your academic performance in the form of your ATAR score, or through an interview process. These universities include JCU, USYD, Griffith and LaTrobe University Dentistry.
        %h4#non_standard
          Option 2: Non-standard entry
        %p
          Another option is to resit the UCAT
          %sup ®
          exam during the first year of a different undergraduate degree and reapply to dentistry. This is a common pathway for many students due to the highly competitive nature of the admissions process and it’s important to note that there are no age restrictions to the UCAT
          %sup ®
          exam. In Australia, 6 out of the 9 universities accept these so-called non-standard applicants. It allows a high degree of flexibility as you will still be studying and progressing your career on a different pathway, often as a back-up option, whether that may be allied health, engineering, or another industry. This means that if you do not make it into dentistry when you resit your UCAT
          %sup ®
          exam, you will still have a back-up plan where you will still be progressing onto a career path.
        %h4#gap_year
          Option 3: Gap Year
        %p
          This option is often chosen by high achievers in high school. Those with a very high ATAR such as 99.5+ would benefit from this option, as you can take a gap year and your ATAR score will remain valid. Students can take a year off and solely focus on resitting the UCAT
          %sup ®
          exam. This pathway would allow you to focus entirely on getting into dentistry, however it is important to note that you will be wasting a year of study, as you purely focus on dentistry entrance - If you are successful, you will be commencing the degree 1 year later than most other students.As such, you may decide to weigh up the benefits of starting another undergraduate degree as a back-up career option and preparing to resit the UCAT® exam at the same time, or taking a year off to follow other passions and
          %a{href: 'https://gradready.com.au/ucat-preparation', target: :_blank}
            %strong
              study for the UCAT
              %sup ®
              exam.
        %h4#grad_degrees
          Option 4: Graduate degrees
        %p
          There are several graduate dentistry programs in Australia. For this option, you will need to complete an undergraduate degree first and sit the GAMSAT
          %sup ®
          exam for entrance into dentistry. It is also a common pathway, especially for those who aren’t entirely sure they want to do dentistry straight out of high school. The additional time and undergraduate degree will allow you to gain more life experience that may aid you in your decision to pursue dentistry. Learn more about the GAMSAT
          %sup ®
          exam through our guide on
          %a{href: 'https://gradready.com.au/what-is-gamsat', target: :_blank}
            %strong
              What is the GAMSAT
              %sup ®
              (Graduate Medical Schools Admission Test).
          The obvious disadvantage however is that you will graduate as a dentist later in life compared to the undergraduate pathway.
        %p
          Hence, it is important to not become discouraged during the process of getting into dentistry if your UCAT
          %sup ®
          score is low. This does not automatically mean that you lose all chance of receiving a dentistry offer, as there are many alternative pathways.
      .preparation_col.head_aftr_none
        %h2#advice
          Advice: Applying for Dentistry with the UCAT
        %p
          When you apply to study dentistry, it is important to reflect on your motivations to study and pursue this career. In most cases, there are several clear benefits in pursuing the dental profession, such as the pay, work-life balance and the prestige and reputation of the profession. However, these should not be your main driving factors. This is because there are also disadvantages to studying dentistry, such as the difficult task of getting into dental programs, sitting the UCAT
          %sup ®
          exam and actually getting through dental school. As such, it is important that you are aware of these downsides so you are able to make an informed decision to pursue such a career. 
        %p
          Ask yourself what you see yourself doing in 10 years down the line? Why do you prefer to study dentistry over other careers? Although these sound very similar to interview questions, it is important to have the correct motivation to pursue this career, and it will greatly aid your interview selection process as your answers will become genuine rather than rehearsed.
        %p
          Lastly, once you have decided to pursue dentistry, stick with this motivation and drive. Many of us will face setbacks of some sort but remember that even if it takes you a few goes, the amount of time between leaving school and starting a dentistry degree is often trivial in the field of health. This is because everyone in this field will end up at the same end-point in their career, and that is as a medical/dental specialist.
      .preparation_col.head_aftr_none
        %h2#what_do_i_do
          Receiving a High UCAT Dentistry Score: What Do I Do Now?
        %p
          If you have received a high UCAT
          %sup ®
          score, then congratulations, you have completed one of the first hurdles to gaining an offer into dentistry! However, it is important to avoid becoming complacent. A high UCAT
          %sup ®
          score does not guarantee a dentistry offer, as in most cases there is still the interview selection process. There is often an academic component (i.e ATAR, GPA), and it is important to not let these scores slip up.
        %p
          The interview selection process is very similar to medicine, and is often just as competitive. Although the questions are different, there is often overlap between the interview stations. It is important to start practising early, whether that may be with your peers, or with
          %a{href: 'https://gradready.com.au/gamsat-preparation-courses/interview-attendance-comprehensive', target: :_blank}
            %strong
              GradReady’s InterviewReady courses.

:javascript
  // Select all links with hashes
  $('a[href*="#"]')
  // Remove links that don't actually link to anything
  .not('[href="#"]')
  .not('[href="#0"]')
  .click(function(event) {
    // On-page links
    if (
      location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
      &&
      location.hostname == this.hostname
    ) {
      // Figure out element to scroll to
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      // Does a scroll target exist?
      if (target.length) {
        // Only prevent default if animation is actually gonna happen
        event.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top-74
        }, 1000, function() {
          // Callback after animation
          // Must change focus!

        });
      }
    }
  });

:css
  #table_below a {
    font-size: inherit;
    color: #007ecc;
    text-decoration: underline;
  }

  .preparation_col ol li a, .preparation_col ul li a{
    font-size: 14px;
    color: #007ecc;
    line-height: 25px;
    font-weight: 600;
  }
  .preparation_col ol li h3 a {
    font-size: 18px;
    color: #007ecc;
  }
  .preparation_col h3 {
    font-size: 18px;
    color: #007ecc;
    margin-top: 0px;
  }
  .cstm_tbl thead {
    background: #007ecc;
    color: #fff;
  }
  .download-counter-badge .fa {
    color: #007ecc !important;
    padding: 5px 5px !important;
    font-size: 17px !important;
  }
  .preparation_col p a {
    font-size: 14px;
    color: #007ecc;
  }
  .tbl_responsive span {
    font-size: 14px;
    margin-top: 4px;
    display: block;
  }
