- title "UCAT Preparation: How to Study for the UCAT"
- meta_description "Preparation for the UCAT requires time and a targeted approach, identifying weaknesses and honing your exam strategy.  Learn more about how to study for the UCAT with study tips and tricks from our expert tutors. Make sure to check out our free comprehensive UCAT guide to help you direct your UCAT Preparation."
- meta_keywords "umat preparation, umat structure"
%section.talk_to_bg.home_faq.dashboard_bg
  #typed.notification_bar
    %p
      = render 'pages/partial/announcement', product_line: map_path_to_prodline(request.env['PATH_INFO']), relative: false
  .container.public_container
    .support_col.looking_corse.text-center.gradready_question
      %h1
        How to Prepare for the UCAT
%section.faq_wrapper.faq_details
  .row
    .container.public_container
      .download-counter-badge
        %p.download_read= show_estimated_read_time rescue nil
        %span|
        %i.fa.fa-user{'aria-hidden': "true"}
        %p.download_read= show_download_hit_count rescue nil
      .preparation_col.head_aftr_none
        %p.mtop_zero
          There’s no doubt that the UCAT
          %sup ®
          is a challenging exam, designed to differentiate the already competitive pool of medical and dental school applicants. However, one of the main reasons that students find the UCAT
          %sup ®
          exam difficult is not always the questions themselves, but rather the sheer number of questions - 233 questions in 2 hours, or to put it another way, a question every 31 seconds!
        %p
          Many students fail to finish the exam at all due to the intense time pressure, needing to complete 2 MCQs every minute. In addition to a high level of concentration and strong cognitive skills, the UCAT
          %sup ®
          exam requires exceptional time-management to do well.
        %p
          As such, preparation is key and preparing for the UCAT
          %sup ®
          exam  requires consistent practice over time and a targeted approach towards identifying strengths and weaknesses. Preparing for the UCAT
          %sup ®
          exam can best be summarised as the following:

        .diffr_country
          %ul.cstm_list_style
            %li.mtop_zero
              Understanding the UCAT
              %sup ®
              exam and the skills required for each section
            %li.mtop_zero
              Practice, Practice, Practice!
            %li.mtop_zero
              Develop and refine your exam strategies and approach.
            %li.mtop_zero
              Identify your weaknesses & track your improvement across these areas.
            %li.mtop_zero
              Practice with a wide variety of resources and question types.
            %li.mtop_zero
              Simulate sitting the UCAT
              %sup ®
              exam under accurate conditions
        %p
          The above is only a summary, the below guide is designed to provide you with further tips and information on how you can organise and approach your UCAT
          %sup ®
          prep to give you the best chance of success.
        %ol
          %li
            %a{href: "#ucatPreparingExam"}
              Preparing for the UCAT
              %sup ®
              Exam
          %li
            %a{href: "#ucatPreparationTips"}
              General UCAT
              %sup ®
              Preparation Tips
          %li
            %a{href: "#ucatVerbalReasoning"}
              UCAT
              = succeed " : " do
                %sup ®
              Verbal Reasoning Tips
          %li
            %a{href: "#ucatDecisionMaking"}
              UCAT
              = succeed " : " do
                %sup ®
              Decision Making Tips
          %li
            %a{href: "#ucatQuantitativeReasoning"}
              UCAT
              = succeed " : " do
                %sup ®
              Quantitative Reasoning Tips
          %li
            %a{href: "#ucatAbstractReasoning"}
              UCAT
              = succeed " : " do
                %sup ®
              Abstract Reasoning Tips
          %li
            %a{href: "#ucatSituationalJudgement"}
              UCAT
              = succeed " : " do
                %sup ®
              Situational Judgement Tips

      .preparation_col.head_aftr_none
        %h2.mtop10.mbot20#ucatPreparingExam
          Preparing for the UCAT Exam
        %ol
          %li{style: "font-size: 18px"}
            %h4
              Understanding the UCAT
              %sup ®
              exam
            %p
              In order to properly prepare for the UCAT
              %sup ®
              exam, it is important to first understand its importance in the medical school applications process. For many universities, the UCAT
              %sup ®
              score carries as much weight in your application as your ATAR. To put this into perspective, the total sum of Year 12 examinations and the intense hours of study behind these scores has as much importance as the score from the 2 hour long UCAT
              %sup ®
              exam. Even with a phenomenal ATAR or even a star performance at the interview, a poor UCAT
              %sup ®
              score could potentially outweigh these achievements. To learn more, head to our guide:
              %a{href: "/what-is-ucat", target: :_blank}
                %strong
                  What is the UCAT
                  %sup ®
                  exam?
          %li{style: "font-size: 18px"}
            %h4
              Nail down Test-Taking Strategies
            %p
              The UCAT
              %sup ®
              is quite a nuanced exam with specific question types and various levels of difficulty between each question type. Thus, it is important to understand the different formats of each section as well as the unique strategies and shortcuts you can use to select the correct answer and save yourself time. It’s important to acknowledge as well that students will often have varying strengths and weaknesses and it’s important to work out early which sections are going to play to your strengths, and which sections will require the most improvement.
          %li{style: "font-size: 18px"}
            %h4
              Practicing with a wide variety questions
            %p
              Whilst the UCAT
              %sup ®
              consortium provides
              %a{href: "https://www.ucat.edu.au/ucat-anz/practice-tests/", target: :_blank}
                %strong
                  a small pool of questions and tests
              , their explanations are often short and poorly explained. Practice is essential towards working faster and increasing your accuracy for the UCAT
              %sup ®
              exam. GradReady’s MCQ bank provides students with the opportunity to assess themselves and evaluate their weaknesses with our detailed explanations and test-accurate question types.
          %li{style: "font-size: 18px"}
            %h4
              Attempting full mock exams
            %p
              After practice, the next step is to undergo time-pressured exam simulations that evaluate a proper UCAT
              %sup ®
              score. These mock exams allow you to assess your readiness to sit the exam under accurate conditions. This will also help to hone your exam-taking techniques such as using shortcuts, the calculator function as well as applying time-management skills.
          %li{style: "font-size: 18px"}
            %h4
              Reviewing mistakes and improving weaknesses
            %p
              Finally, after every practice and mock exam, it is essential to look back on what can be improved. Our detailed worked solutions provide students with the ability to quickly identify their mistakes and help reduce the chances of making the same error in the future.

      .preparation_col.head_aftr_none
        %h2.mtop10.mbot20#ucatPreparationTips
          General UCAT Preparation Tips
        %p.mtop_zero
          Our tutors have put together some additional tips below to help you direct your UCAT
          %sup ®
          preparation and exam strategy:

        %h3 General Time Management
        %p
          Most students will be undertaking the UCAT
          %sup ®
          exam within Year 12 or for some during their first year of tertiary university study, and will hence also be preparing for major exams, including those that contribute to their final ATAR score. Whilst entry into medicine requires great academic standing, it is important to understand that the UCAT
          %sup ®
          plays just as significant a part in the application process. Depending on a number of personal factors, everyone will require varying amounts of preparation towards the actual exam day. Even with academic and extracurricular activities, it’s important to schedule in a specific set of hours each week for UCAT
          %sup ®
          preparation. This can even be just 2-3 hours a week when you first start - It’s more important to start early and study consistently to avoid a final push of inefficient cramming right before the exam. As you approach the exam it’s also important to begin increasing your study in anticipation for the exam day.
        %p
          Consistency and practice will give you the best chance of succeeding on the UCAT
          %sup ®
          exam - This is where a study plan is essential. Planning study by month, by week, by day, and often by hour, is typically necessary to ensure that you’re well covered on all the sections of the UCAT
          %sup ®
          exam, and allows you to achieve the necessary amount of question-based practice.
        %p
          Setting goals using the
          %a{href: "https://www.mindtools.com/pages/article/smart-goals.htm", target: :_blank}
            %strong
              SMART algorithm
          is an important aspect of the planning stage, and this acronym stands for the following (with UCAT
          = succeed "-" do
            %sup ®
          type examples to reflect upon):

        .highlight_box.gamsat-prep.mbot20
          %p
            %b S: Specific
            %br
            Is your study targeted towards a specific subtest? What level of maths do you really need to have for the quantitative maths subtest?
          %p
            %b M: Measurable
            %br
            Where does this specific part of study end? Is there a certain number of questions you aim to answer in a week?
          %p
            %b A: Achievable
            %br
            Is it realistic to achieve this? Is it realistic to achieve this within the timeframe you’ve set?
          %p
            %b R: Relevant
            %br
            Are these readings/questions relevant to the UCAT
            %sup ®
            ?
          %p
            %b T: Time-sensitive
            %br
            Are these goals defined by time? Complete by the hour/day/week?
        %p
          SMART goals are a great tool to ensure that you remain focused on what matters in your preparation and that you make real, measurable progress.
        %p
          When planning your study, a good approach is to set up a calendar or journal, and start at the very last date – usually when the UCAT
          %sup ®
          exam is scheduled, and work backwards.
        %ol
          %li
            First, put in reminders: ‘Exam Day in 1 week’, ‘1 month’ etc. This can include other major milestones/deadlines.
          %li
            Then schedule set times for study, say Sunday afternoons, one weeknight evening per week etc.
          %li
            Increase the frequency the closer you get to the exams – even up to several hours a day.
        %p
          At times, it may seem quite tedious to continuously practice UCAT
          %sup ®
          questions, but at the end of the day, the more you practice and work on your weaknesses, the greater experience and skills you will have by the time the exam period rolls around.

        %h3 Understand the Style of the UCAT
        %p
          The UCAT
          %sup ®
          exam is an inherently difficult exam due to the immense time pressures. One thing to consider when preparing and sitting the exam is that a majority of candidates don’t actually do that well, with the average score in the 2020 exam cycle being 2520 or 55% of questions correct.
        %p
          Below is a table of scores
          %a{href: "https://www.ucat.edu.au/media/1373/summary-statistics-for-2020.pdf", target: :_blank}
            %strong
              based on the data provided from the 14,092 candidates who sat the UCAT
              %sup ®
              exam in 2020

        %h4
          2020 UCAT
          %sup ®
          Student Statistics

        .tbl_responsive.mtop20.mbot20
          %table.table.cstm_tbl.table-bordered.table-condensed.custom_table_data
            %thead
            %tbody
              %tr
                %td.text-center
                %td.text-center Verbal Reasoning
                %td.text-center Decision Making
                %td.text-center Quantitative Reasoning
                %td.text-center Abstract Reasoning
                %td.text-center Total for Cognitive
                %td.text-center Situational Judgement
              %tr
                %td.text-center
                %td.text-center
                %td.text-center
                %td.text-center
                %td.text-center
                %td.text-center Subtests
                %td.text-center Test
              %tr
                %td.text-center Mean Scores
                %td.text-center
                  %p 580 (47%)
                  %p 20.7/44
                %td.text-center
                  %p 640 (57%)
                  %p 16.9/29
                %td.text-center
                  %p 660 (60%)
                  %p 21.6/36
                %td.text-center
                  %p 640 (57%)
                  %p 31.4/55
                %td.text-center
                  %p 2520 (55%)
                  %p 90.3/164
                %td.text-center
                  %p 603 (51%)
                  %p 35.2/69
              %tr
                %td.text-center 90th Percentile Scores
                %td.text-center
                  %p 670 (62%)
                  %p 27.1/44
                %td.text-center
                  %p 750 (75%)
                  %p 121.8/29
                %td.text-center
                  %p 800 (83%)
                  %p 30/36
                %td.text-center
                  %p 770 (78%)
                  %p 43/55
                %td.text-center
                  %p 920 (74%)
                  %p 121.9/164
                %td.text-center
                  %p 677 (63%)
                  %p 43/69

        %p
          From the above tabulated data, we can see that a student who achieved the 90th percentile correctly answered roughly 32 more questions across the entire exam, compared to an average student in the 50th percentile - This equates to around 8 more questions correct in each subtest.
        %p
          In other words, the average student needs to get just 8 more questions correct in each test to jump up from the 50th percentile to the 90th percentile, giving them a much more competitive chance of entry into medicine.
        %p
          As such, given that most students objectively perform poorly on the UCAT
          %sup ®
          exam, and with the view to maximise our marks, we just need to work on our exam technique, strategy and skills to answer just a few more questions correctly in order to make a significant improvement in the final results. With this in mind, students should approach the UCAT
          %sup ®
          exam with a mindset of scavenging for any and all marks possible and therefore ensuring that time is managed properly rather than aiming to answer each question correctly in chronological order. The next tip delves into this in a little bit more detail.

        %h3 Know the shortcuts and don’t be afraid to come back to a question!

        %p
          Given the immense time pressure in the UCAT
          %sup ®
          exam it is essential that you’re comfortable and familiar with the keyboard shortcuts to increase your time efficiency.
        .highlight_box.gamsat-prep.mbot20
          = succeed "ext Page: Alt + N" do
            %u N
          %br
          = succeed "revious Page: Alt + P" do
            %u P
          %br
          = succeed "lag for Review: Alt + F" do
            %u F
          %br
          Review
          = succeed "ll Questions: Alt + A" do
            %u A
          %br
          Rev
          = succeed "ew Incomplete Questions: Alt + I" do
            %span.underline_text i
          %br
          Re
          = succeed "iew Flagged Questions: Alt + V" do
            %span.underline_text v
          %br
          = succeed "nd Review: Alt + E" do
            %u E
          %br
          = succeed "alculator: Alt + C" do
            %u C
        %p
          For the Quantitative Reasoning and Decision Making subtests you’ll be able to use an onscreen calculator. It’s a good idea to familiarise yourself with the calculator and the various functions that are provided during the UCAT
          %sup ®
          exam, and ensure you’re able to quickly type in calculations.
        .text-center
          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/Calculator.png', alt: 'UCAT Exam Calculator', class: "calc_img_width"
        %p
          Another important approach is to flag questions if you are unsure or think it will take too much time to solve correctly. The UCAT
          %sup ®
          exam is designed to include questions of varying difficulties and being hindered by a difficult question early in the exam can disrupt your thinking and throw you off for the remainder of the test. Imagine spending 5 minutes on a tough question for 1 mark, only to completely miss 5 or 6 easy marks at the end of a subtest! Guessing an answer or just flagging a question before moving on with the exam allows you to scrape up as many easy marks as possible before coming back to the hard questions and is important in maximising your time.

      .preparation_col.head_aftr_none
        %h2#ucatVerbalReasoning
          UCAT: Verbal Reasoning Tips

        %h3 What does True, False or Can’t Tell really mean?
        %p
          These words have strict definitions outlined by the UCAT
          %sup ®
          consortium and should be followed for all questions. Understanding these answer options makes it easier to choose the correct response as well as to acknowledge why you got a certain question wrong. These definitions are as follows:
        .highlight_box.gamsat-prep.mbot20
          %b True:
          On the basis of the information in the passage, the statement is true.
          %br
          %b False:
          On the basis of the information in the passage, the statement is false.
          %br
          %b Can’t Tell:
          You cannot tell from the information in the passage whether the statement is true or false.
        %p
          The key here is that the statement must be assessed against the information in the passage, and
          %b only
          the information in the passage - Avoid making any assumptions or using your own pre-existing knowledge.

        %h3 Practice speed-reading
        %p
          The Verbal Reasoning (VR) subtest is one of the more time-pressured components of the UCAT
          %sup ®
          exam with 44 questions to answer in only 21 minutes. This means that you’ll need to read a 300 word passage and answer 4 questions in under 2 minutes. Speed reading is an invaluable skill across the entire UCAT
          %sup ®
          exam, and even more so for the Verbal Reasoning subtest - Reading the prompt at a faster pace will leave you more time to answer questions or solve an equation.
        %p
          That said, speed reading is not the sole key to success when it comes to the Verbal Reasoning subtest. You need to be wary of missing essential information in the pursuit of speed reading. Students can practice this skill by consistently completing practice questions under timed conditions

        %h3 Modality
        %p
          Be aware of modality in the prompt as well as the questions. High modality words like ‘always’, ‘never’, and ‘exclusively’ indicate a high level of certainty regarding an outcome. On the other hand, low modality words like ‘might’, ‘could’, ‘sometimes’, and ‘rarely’ are less definitive and are open to multiple possibilities. Being aware of how such terms may frame a provided answer can help you eliminate incorrect options.

      .preparation_col.head_aftr_none
        %h2.mtop10.mbot20#ucatDecisionMaking
          UCAT: Decision Making Tips
        %h3 Converting Syllogisms to Venn diagrams
        %p
          At times, syllogism questions can become quite convoluted, with multiple categories which interact and overlap. It is always a good idea to note down any information on the provided laminated notebook whenever parts of a question get complex and confusing. In the case of these questions, most can be converted into Venn diagrams, therefore ensuring that subsequent parts of the question are significantly easier to answer. For example:
        %p
          Of all the Academy Award Winners of the last 20 years, none were actors under the age of 20.

        .text-center
          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/VennDiagram.png', alt: 'UUCAT Decision Making Venn Diagrams', class: "venn_diagram_img_wdt"

        %h3 Revise basic probabilities
        %p
          The UCAT
          %sup ®
          exam does not assess a particularly high level of mathematics, focusing rather on Year 8 or Year 9 levels of math. Probability is often a confusing topic and can potentially confuse students, even those who are already quite proficient at maths. As such, it is a good idea to review basic probability, even if it means looking over your math notes from earlier in your secondary education. This might involve reviewing the purpose of a probability tree or even the different situations where it is appropriate to add vs multiple probabilities.

        %h3 Tabulating to reach solutions
        %p
          Logic puzzles can often become confusing with many characters with similar names and various categories such as items of clothing or orders in a race. Either way, tables make for a great way to interpret information and identify what sort of information is missing and therefore what may be necessary to find the correct answer. Students can even draw other forms of diagrams such as a timeline or a map to visualise a situation.

      .preparation_col.head_aftr_none
        %h2.mtop10.mbot20#ucatQuantitativeReasoning
          UCAT: Quantitative Reasoning Tips

        %h3 Rounding and Estimating
        %p
          When Quantitative Reasoning (QR) questions have reasonably spread apart answers, then rounding may be used. In questions with very ‘messy’ numbers such as 198 or 2703, instead of typing in many of these digits into the provided UCAT
          %sup ®
          calculator, students can perform mental maths by rounding these numbers to 200 or 2700 respectively. If these numbers are used throughout the question, you should get a rough estimate of the solution which thus provides an indication of the correct answer.

        %h3 Get comfortable with the UCAT Calculator
        %p
          You will be able to use an on-screen calculator during this section, which will look similar to the one shown below. Its functions are limited to addition, subtraction, multiplication, division, and the calculation of a square root. You will also be given access to pen and paper if you wish to perform your calculations manually. The diagram below indicates some of the functions on the calculator.

        .text-center
          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/Calculator.png', alt: 'UCAT Exam Calculator', class: "calc_img_width"

        %h3 Get Used to Mental Maths
        %p
          Practising and speeding up your mental maths can help you accelerate your exam-taking skills. Whilst the UCAT
          %sup ®
          calculator is certainly helpful in the exam, it can get quite fiddly when entering larger numbers. As such, smaller calculations can instead be done inside your head rather than through the calculator. A common issue for students is not trusting themselves with easy calculations and wasting time typing in ‘simple calculations’ such as 25 x 30. Gaining confidence in your mental maths abilities can save you time throughout the Quantitative Reasoning subtest.

      .preparation_col.head_aftr_none
        %h2.mtop10.mbot20#ucatAbstractReasoning
          UCAT: Abstract Reasoning Tips
        %h3 Practice, Practice, Practice
        %p
          Abstract reasoning patterns come in many different shapes and sizes and there is no definitive list that covers all aspects. Keeping in mind many key concepts such as shape, size, colour, placement, and number of sides is useful in identifying these patterns. Practising consistently and with a large volume of questions will expose you to different patterns and combinations of rules before the exam. This will make it easier to identify the more difficult patterns that combine several rules together when the test day rolls around.

        %h3 Manage your time effectively
        %p
          Abstract Reasoning patterns can vary greatly in difficulty from a simple matter of counting sides to a complex arrangement of compounded rules. As such, it is important not to get caught up in trying to answer harder questions, just because they appear earlier in the test. Often, if you identify just one of the several patterns, you will end up getting a few of the questions correct. This means that it is a wise decision to simply make an educated guess with the information and patterns you have already deciphered before flagging the question and moving on with the rest of the exam and coming back to the question later.

      .preparation_col.head_aftr_none
        %h2.mtop10.mbot20#ucatSituationalJudgement
          UCAT: Situational Judgement Tips
        %h3 Look over medical ethics guidelines
        %p
          Whilst you won’t ever be faced with ethically ambiguous situations such as euthanasia or abortion within the Situational Judgement Subtest, it is a good idea to know some of the basic ethical concepts that would fall under ‘presumed knowledge’ for the UCAT
          %sup ®
          exam. This would include things like confidentiality within the doctor-patient relationship, as well as professionalism, teamwork and patient autonomy. Below are some good resources for medical ethics guidelines.

        .diffr_country
          %ul.cstm_list_style
            %li.mtop_zero
              %a{href: "https://www.amc.org.au/amc-good-medical-practice/", target: :_blank}
                %strong
                  Good Medical Practice: Professionalism Ethics and Law
            %li.mtop_zero
              %a{href: "https://www.medicalboard.gov.au/codes-guidelines-policies/code-of-conduct.aspx", target: :_blank}
                %strong
                  Good Medical Practice
            %li.mtop_zero
              %a{href: "http://media.amsa.org.au/internal/official_documents/internal_policies/code_of_ethics_2003.pdf", target: :_blank}
                %strong
                  Australian Medical Student Association (AMSA) Code of Ethics
        %p
          It’s important to remember that these ethical guidelines and learning will form a key part of your professional practice as a medical student and future health professional, and situational judgement tests are often used throughout medical school for this purpose.

        %h3 Practice more questions
        %p
          As with Abstract Reasoning, practising will give you further experience with varying scenarios and help direct your understanding of what the correct actions are in any give situation. Understanding what the UCAT
          %sup ®
          is asking for is also very important when answering questions. For example many students may select what they ‘would’ do in a certain situation, rather than what they ‘should’ do. In the case of a cheating peer, some people wouldn’t report them as it could jeopardize friendships and cause a poor reputation, but in the UCAT
          %sup ®
          it would be a no-brainer to raise this information to an appropriate level.

      .preparation_col.head_aftr_none
        %h2#furtherGamsatTips
          Further Resources & Preparation Materials
        %ol.ordr_list
          %li
            %h5
              %a{href: "/what-is-ucat", target: :_blank}
                What is the UCAT
                %sup ®
                exam?
            %p.mtop_zero
              An introduction to the UCAT
              %sup ®
              exam including which universities require the UCAT
              %sup ®
          %li
            %h5
              %a{href: "/ucat-structure", target: :_blank}
                UCAT
                %sup ®
                Structure
            %p.mtop_zero
              A breakdown of the UCAT
              %sup ®
              Exam, the different sections and what to expect for each one.
          %li
            %h5
              %a{href: "/ucat-students-guide", target: :_blank}
                UCAT
                %sup ®
                Students Guide
            %p.mtop_zero
              A comprehensive breakdown for students to get them started on their UCAT
              %sup ®
              preparation.
          %li
            %h5
              %a{href: "/ucat-parents-guide", target: :_blank}
                UCAT
                %sup ®
                Parents Guide
            %p.mtop_zero
              A comprehensive guide about what parents and guardians need to know about the UCAT
              %sup ®
              including breakdown of test, test timeline and finances.

#recommender_div
  #course-recommender
    = javascript_include_tag 'course-recommender'

:javascript
  $(".open_recommender").click(function(){
    $("#course-recommender .cr").addClass("cr--on")
  });
  // Select all links with hashes
  $('a[href*="#"]')
  // Remove links that don't actually link to anything
  .not('[href="#"]')
  .not('[href="#0"]')
  .click(function(event) {
    // On-page links
    if (
      location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
      &&
      location.hostname == this.hostname
    ) {
      // Figure out element to scroll to
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      // Does a scroll target exist?
      if (target.length) {
        // Only prevent default if animation is actually gonna happen
        event.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top-74
        }, 1000, function() {
          // Callback after animation
          // Must change focus!

        });
      }
    }
  });

:css
  .preparation_col ol li a, .preparation_col ul li a{
    font-size: 14px;
    color: #007ecc;
    line-height: 25px;
    font-weight: 600;
  }
  .preparation_col ol li h3 a {
    font-size: 18px;
    color: #007ecc;
  }
  .preparation_col h3 {
    font-size: 18px;
    color: #007ecc;
    margin-top: 0px;
  }
  .cstm_tbl thead {
    background: #007ecc;
    color: #fff;
  }
  .download-counter-badge .fa {
    color: #007ecc !important;
    padding: 5px 5px !important;
    font-size: 17px !important;
  }
  .preparation_col p a {
    font-size: 14px;
    color: #007ecc;
  }
  .tbl_responsive span {
    font-size: 14px;
    margin-top: 4px;
    display: block;
  }
  .calc_img_width{
    width: 80%;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .venn_diagram_img_wdt{
    width: 40%;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .underline_text{
    text-decoration: underline;
    margin-left: -3px;
  }
