- title "What is the GAMSAT (Graduate Medical School Admissions Test)?"
- meta_description "Get an overview of the GAMSAT (Graduate Medical School Admissions Test), with everything you need to know from the Exam Structure and Exam Day Schedule to how to prepare for one of the most important exams of your career and answer the question ‘What is the GAMSAT?’"
- meta_keywords "what is the gamsat, what is gamsat"

%section.talk_to_bg.home_faq.dashboard_bg
  #typed.notification_bar
    %p
      = render 'pages/partial/announcement', product_line: map_path_to_prodline(request.env['PATH_INFO']), relative: false
  .container.public_container
    .support_col.looking_corse.text-center.gradready_question
      %h1
        What is the GAMSAT
        %br
        (Graduate Medical Schools Admission Test)
%section.faq_wrapper.faq_details
  .row
    .container.public_container
      .download-counter-badge
        %p.download_read= show_estimated_read_time
        %span|
        %i.fa.fa-user{'aria-hidden': "true"}
        %p.download_read= show_download_hit_count
      .preparation_col
        %p
          Many students ask, ‘What is the GAMSAT?’
        %p
          The Graduate Medical School Admissions Test
          %b
            = surround '(', ')' do
              GAMSAT
              %sup ®
          is a standardised exam coordinated by the Australian Council for Education Research
          %a.green{href: "https://gamsat.acer.org/", target: :_blank}
            %strong (ACER)
          designed to
          = succeed "." do
            %i ‘assess the capacity to undertake high-level intellectual studies in the medical and health professional programs’
          It is a test required for applications to all but one Graduate Entry Medical course in Australia, as well as various other dentistry, optometry and podiatry courses. In essence, the exam is designed to assess your analytical and critical thinking skills as well as how you organise and communicate your ideas in order to select candidates for Graduate Entry Medical Studies.
          %br
          %br
          %i
            Due to the COVID-19 pandemic and corresponding social distancing programs that have been implemented worldwide, the information on this page may not always be up-to-date. It is highly recommended that you check the
            %a.green{href: "https://gamsat.acer.org/", target: :_blank}
              %strong{style: 'text-decoration: underline;'} ACER website
            for the most accurate information.
        %ol
          %li
            %a{href: "#gamsat_purpose"}
              What is the purpose of the
              GAMSAT
              %sup ®
              Exam?
          %li
            %a{href: "#gamsat_complete"}
              Do I need to complete the
              GAMSAT
              %sup ®
              Exam to study medicine?
          %li
            %a{href: "#gamsat_apply"}
              How do I apply for the GAMSAT
              %sup ®
              Exam?
          %li
            %a{href: "#gamsat_eligible"}
              How do I know if I am eligible for the GAMSAT
              %sup ®
              Exam?
          %li
            %a{href: "#2020_changes"}
              2020-2022 Changes to the
              GAMSAT
              %sup ®
              Exam
          %li
            %a{href: "#exam_struct"}
              GAMSAT
              %sup ®
              Exam Structure
          %li
            %a{href: "#exam_overview"}
              GAMSAT
              %sup ®
              Exam Day Overview
          %li
            %a{href: "#exam_theory"}
              GAMSAT
              %sup ®
              Exam - Theory vs Problem Based Learning
          %li
            %a{href: "#gamsat_exam"}
              Which Universities require the GAMSAT
              %sup ®
              Exam?
          %li
            %a{href: "#prep_materials"}
              GAMSAT
              %sup ®
              Preparation Materials

      .preparation_col.head_aftr_none.mg_bottm100
        %h2#gamsat_purpose
          What is the purpose of the GAMSAT?
        %p
          So, at this point you might be asking, what is the point of the GAMSAT?
        %p
          In essence, the exam is designed to assess your analytical and critical thinking skills, as well as how you organise and communicate your ideas, in order to select candidates for
          %a{href: "https://gradready.com.au/medical-school-entry-requirements", target: :_blank}
            %strong Graduate Entry Medical Studies.
          The GAMSAT
          %sup @
          tests skills that will be needed both as a medical student and as a professional.
        %p
          In hospitals, interactions with patients begin by trying to understand the medical and social history of a patient. You must be focussed and consider all details of a patient’s story in order to determine their physical and mental state, and thus provide medical care. The best medical students and professionals are able to provide holistic care in response to a person’s situation. Imagine a person fractures their femur and comes to a hospital for care. There’s no point sending them home with a repaired femur if they live alone in an upstairs bedroom with no railing.
          %a{href: 'https://gradready.com.au/gamsat-section-1', target: :_blank}
            %strong
              GAMSAT
              %sup ®
              Section 1
          aims to evaluate a student’s ability to sift through information, identify key points, and make justifiable deductions as is critical in the life of a medical professional.
        %p
          Communication is another essential skill in all medical professions. You need to be able to convey information clearly and empathetically to patients and their families, as well as communicating concisely and accurately with other medical professionals. More broadly, scientific communication is an essential ingredient in the trust communities will place in healthcare.
          %a{href: 'https://gradready.com.au/gamsat-section-2', target: :_blank}
            %strong
              GAMSAT
              %sup ®
              Section 2
          is designed to test your ability to communicate ideas to an unknown audience under strict time pressure.
        %p
          Medical decisions and strategies are almost always based on assessments of data, scientific information and systems. The ability to interpret patterns and anomalies, and use this to make decisions regarding a person’s health, is key in life as a medical professional. This information can come in almost limitless forms, whether that be imaging, blood tests, ECGs, histories or examinations. A good medical professional and medical students will have the ability to apply their learned knowledge of physiological systems to new information or data. These are the skills that are tested in
          %a{href: 'https://gradready.com.au/gamsat-section-3', target: :_blank}
            %strong
              GAMSAT
              %sup ®
              Section 3
      .preparation_col.head_aftr_none.mg_bottm100
        %h2#gamsat_complete
          Do I need to complete the GAMSAT Exam to study medicine?
        %p
          To study medicine in Australia as a graduate, you will most likely have to complete the GAMSAT
          %sup ®
          exam . As of 2022, there are currently 13 Medical Schools that provide a Graduate Entry Medical Program, 12 of which require the GAMSAT
          %sup ®
          exam - For a full list,
          %a{href: '#gamsat_exam'}
            %strong see further down this guide here.
        %p
          The exception to the pattern is the Graduate Entry Medical Program offered at Monash University. The GAMSAT
          %sup ®
          Exam was removed as an admissions criteria for this specific course in 2017, and is no longer required. Note, however, that domestic applicants for the Graduate Entry Medical Program at Monash University must have completed one of the approved bachelor degrees at Monash University - that is to say that external domestic applicants are no longer accepted.
        %p
          For more details on the Monash University Medical School, you can visit
          %a{href: "https://www.monash.edu/medicine/som/home", target: :_blank}
            %strong their website.
      .preparation_col.head_aftr_none.mg_bottm100
        %h2#gamsat_apply
          How do I apply for the GAMSAT Exam?
        %p
          The GAMSAT
          %sup ®
          exam is offered twice a year, once in March and once in September. To find the most up-to-date information on registration dates and requirements, you should
          %a{href: "https://gamsat.acer.org/register", target: :_blank}
            %strong
              visit the official ACER website.
        %p
          There are also different fees associated with completing the GAMSAT
          %sup ®
          exam, so it is important to make sure you are aware of the registration dates and late windows.
        %p
          In order to sit the GAMSAT
          %sup ®
          exam students must
          %a{href: 'https://registration.acer.edu.au/user/new', target: :_blank}
            %strong
              create an online account
          and provide a valid email address. This account will be used for all communication with ACER, including test times, accessing the actual exam and finding your results.
      .preparation_col.head_aftr_none.mg_bottm100
        %h2#gamsat_eligible
          How do I know if I am eligible for the GAMSAT exam?
        %p
          GAMSAT
          %sup ®
          eligibility is determined mainly by your progress through a Bachelor or undergraduate degree, and your intentions to study a course where the GAMSAT
          %sup ®
          is a prerequisite. You are eligible to sit the GAMSAT
          %sup ®
          exam if you have completed a Bachelor or undergraduate honours degree, or if you will be in the penultimate or final year of your degree at the point of taking the exam. The best place to find the most up-to-date information on eligibility for the GAMSAT
          %sup ®
          exam is on the official ACER website,
          %a{href: 'https://gamsat.acer.org/about-gamsat/eligibility', target: :_blank}
            %strong
              which you can find here.


        %p
          In almost all cases, you are still eligible to take the GAMSAT
          %sup ®
          exam and be accepted into a medical school if you have studied an undergraduate degree in a non-scientific field. The good news is that very few prerequisite requirements exist for Australian graduate-entry medical schools with only the University of Queensland requiring the completion of certain subjects (or their equivalents) - For further information,
          %a{href: 'https://medicine.uq.edu.au/future-students/changes-md-admissions/doctor-medicine-prerequisites', target: :_blank}
            %strong
              refer to the UQ website here.
          Of course, these requirements can change and you should consult the official course requirements of the specific university to find out what subjects or degrees are required. It is also worth noting that while a scientific background is not essential for eligibility in the GAMSAT
          %sup ®
          exam, it is necessary to have a relatively well-founded biological and physical knowledge-set in order to perform well in the exam.
        %p
          There is a special case for students at the University of Exeter Medical School and Plymouth University Peninsula Schools of Medicine & Dentistry in the UK if you believe you have sufficient intellectual maturity and subject knowledge to meet the demands of the test.

      .preparation_col.head_aftr_none.mg_bottm100
        %h2#2020_changes
          2020-2022 Changes to the
          GAMSAT Exam
        %p.mtop_zero
          We have witnessed unprecedented changes to the GAMSAT
          %sup ®
          Format in the last 2 years due to COVID-19.
          %br
          %br
          The implementation of social distancing restrictions and lockdowns around Australia and the world have forced the exam to move away from a paper format to a digital format from 2020 onwards.
        %h3.mtop30.mbot20
          Current GAMSAT Exam Structure
        .tbl_responsive.fl_none
          %table.table.cstm_tbl.table-bordered.table-condensed.custom_table_data
            %thead
              %th
              %th.text-center Description
              %th.text-center.width11 Breakdown
              %th.text-center.width11 Duration
            %tbody
              %tr
                %td
                  Registration
                %td.text-center
                  Pre-testing procedures should be faster  as there will be fewer candidates per testing venue than in previous years. However, it is not possible to guarantee start and finish times just in case unforeseen delays occur.
                %td.text-center -
                %td.text-center ~1 hour
              %tr
                %td Section 1: Reasoning in Humanities
                %td.text-center
                  Tests critical reasoning skills as well as the ability to draw conclusions based on evidence with stimuli derived from a variety of non-scientific texts.
                %td.text-center
                  %span.bdr_bottm Reading Time
                  %span 62 MCQs
                %td.text-center
                  %span.bdr_bottm 8 Minutes
                  %span 92 Minutes
              %tr
                %td Section 2: Written Communication
                %td.text-center
                  Tests your general knowledge and ability to draw on prior knowledge under pressure to construct a cohesive argument or reflection.
                %td.text-center
                  %span.bdr_bottm Reading Time
                  %span Writing Time
                %td.text-center
                  %span.bdr_bottm 5 Minutes
                  %span 60 Minutes
              %tr
                %td Lunch
                %td.text-center
                  Take a well deserved break! Consider bringing your own lunch as the break only lasts 60 minutes and purchasing food is not always an option
                %td.text-center -
                %td.text-center 60 Minutes
              %tr
                %td Section 3: Reasoning in Biological and Physical Sciences
                %td.text-center
                  40% Biology, 40% Chemistry, 20% Physics
                %td.text-center
                  %span.bdr_bottm Reading Time
                  %span 75 MCQs
                %td.text-center
                  %span.bdr_bottm 8 Minutes
                  %span 142 Minutes
        %p
          ACER has now also released their
          %a{href: "https://gamsat.acer.org/files/GAMSAT_Info_booklet_2022.pdf", target: :_blank}
            %strong
              2022 GAMSAT
              %sup ®
              Information Booklet
          with details on the format of the exam. The key change? ACER has yet again updated the format of the exam -
          %a{href: 'https://gradready.com.au/gamsat-section-1', target: :_blank}
            %strong
              Section 1
          will now consist of
          %b 62 MCQs over 100 minutes
          instead of 47 MCQs over 70 minutes.
        %p
          From 2020 onwards, the GAMSAT
          %sup ®
          exam has been, and will continue to be delivered as a
          %b
            digital test
          at multiple venues over a set time period, usually about 2 weeks.
        .thought_col
          %p.quotes_para
            %i
              GAMSAT is offered twice a year, in March and September. GAMSAT which was previously delivered as paper based test will be delivered as a digital test
              %b from 2020 onwards.
            = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/quotes_rht.png'
          %span.authhor
            ACER
            %a.green{href: "https://gamsat.acer.org/files/GAMSAT_Info_booklet_2022.pdf", target: :_blank}
              %strong (Information Booklet)
        %p
          ACER will randomly allocate candidates to testing venues and sessions in their selected test centre location. This is subject to candidate demand and the availability of testing venues at that location. ACER advises to register early as places may be limited.
        %p
          Candidates should be aware that, if changes to government restrictions for COVID-19 mean the exam can no longer be conducted at an allocated test centre, ACER will contact all affected candidates by email with further instructions.
          %a{href: 'https://gamsat.acer.org/covid-19-advice', target: :_blank}
            %strong
              ACER notes
          as well that
          %i
            “should you choose not to, or cannot, undertake a sitting of GAMSAT
            %sup ®
            at a test centre that can remain open and host the GAMSAT
            %sup ®
            under the relevant restrictions, in those circumstances ACER is under no obligation to provide alternative arrangements for you to undertake the
            = surround '', '.' do
              GAMSAT
              %sup ®
        %p
          The structure of the GAMSAT
          %sup ®
          Exam has undergone several revisions, outlined in detail below. For the current format, there is a 60 min break between
          %a{href: 'https://gradready.com.au/gamsat-section-2', target: :_blank}
            %strong Section 2
          and 3. Although the total testing time is 5.25 hours, ACER recommends that students should anticipate being at the test centre for 8 hours with the lunch break and administrative time.
        %p
          When sitting the GAMSAT
          %sup ®
          Exam, students are allowed 2 pieces of paper per session; i.e. 2 sheets for Section 1 & 2 and 2 sheets for
          %a{href: 'https://gradready.com.au/gamsat-section-3', target: :_blank}
            %strong Section 3.
          In regards to other equipment allowed during the exam, this is comprehensively covered in pages 11-13 of the
          %a.green{href: "https://gamsat.acer.org/files/GAMSAT_Info_Booklet_2021.pdf", target: :_blank}
            %strong ACER Information Booklet
          Also outlined in the information booklet is that students should make sure that they have the correct identification documents prepared before exam day, as well as their Admission Ticket.

        %h3.mtop30.mbot20
          Previous GAMSAT Exam Structures
        %h4.mtop30.mbot20
          Paper GAMSAT Exam Structure
        .tbl_responsive.fl_none.mtop50
          %table.table.cstm_tbl.table-bordered.table-condensed.custom_table_data
            %thead
              %th
              %th.text-center Section 1
              %th.text-center.width11 Section 2
              %th.text-center.width11 Section 3
            %tbody
              %tr
                %td Number of questions
                %td.text-center 75
                %td.text-center 2
                %td.text-center 110
              %tr
                %td Reading Time
                %td.text-center 10 minutes
                %td.text-center 5 minutes
                %td.text-center 10 minutes
              %tr
                %td Writing Time
                %td.text-center 100 minutes
                %td.text-center 60 minutes
                %td.text-center 170 minutes
        %p
          A quick glance of the numbers above should reveal that the paper GAMSAT
          %sup ®
          Exam was a real marathon, with around 6 hours of testing time - Students could in fact expect to remain at the venue for roughly 8-9 hours including administrative time and the 1 hour lunch break.
        %p
          That is not to say that the new digital format is any less gruelling - Indeed there are additional challenges posed by the digital test, including an inability to directly annotate questions as well as the added element of eye strain from viewing a device screen for such an extended period of time.
        %h4.mtop30.mbot20
          May 2020 Online GAMSAT Exam Structure
        .tbl_responsive.fl_none.mtop50
          %table.table.cstm_tbl.table-bordered.table-condensed.custom_table_data
            %thead
              %th
              %th.text-center Section 1
              %th.text-center.width11 Section 2
              %th.text-center.width11 Section 3
            %tbody
              %tr
                %td Number of questions
                %td.text-center 40
                %td.text-center 2
                %td.text-center 60
              %tr
                %td Test Time (Reading & Writing time combined)
                %td.text-center 60 minutes
                %td.text-center 65 minutes
                %td.text-center 120 minutes
        %p
          Interestingly, this particular sitting was delivered remotely with online proctoring. In addition, Section 1 & 2 was conducted in a different session from Section 3. Students could sit Section 1 & 2 on a particular day and Section 3 roughly a week later. There was no separate reading time for this sitting - Reading time was incorporated into the writing time.
        %p
          It now appears that the format of the May 2020 Online GAMSAT
          %sup ®
          Exam will remain a one-off occurrence, reflective of the unique and challenging circumstances at the beginning of 2020 and COVID-19.

        %h4.mtop30.mbot20
          2021 GAMSAT Exam Structure
        .tbl_responsive.fl_none.mtop50
          %table.table.cstm_tbl.table-bordered.table-condensed.custom_table_data
            %thead
              %th
              %th.text-center Section 1
              %th.text-center.width11 Section 2
              %th.text-center.width11 Section 3
            %tbody
              %tr
                %td Number of questions
                %td.text-center 47
                %td.text-center 2
                %td.text-center 75
              %tr
                %td Reading Time
                %td.text-center 6 minutes
                %td.text-center 5 minutes
                %td.text-center 8 minutes
              %tr
                %td Writing Time
                %td.text-center 64 minutes
                %td.text-center 60 minutes
                %td.text-center 142 minutes
        %p
          From September 2020 onwards, the GAMSAT exam moved to a computer based test delivered in supervised test centres, rather than remotely. The above exam structure ran from September 2020 - September 2021, and included a 30 mins lunch break rather than a 1 hour lunch break. Due to the shortened duration, ACER ran two sittings a day, with a morning sitting at around 7 AM and an afternoon sitting at 2PM.

      .preparation_col.head_aftr_none.mg_bottm100
        %h2#exam_struct
          GAMSAT Exam Structure
        .stucture
          .strct_col
            %p
              GAMSAT Exam
              %sup ®
            %p
              (Graduate Medical School
              Admissions Test)
        %ul.exam_list_gamsat
          %li
            .strct_col
              %p Section 1:
              %p
                Reasoning in Humanities and Social Sciences
          %li
            .strct_col
              %p Section 2:
              %p
                Written Communication
          %li
            .strct_col
              %p Section 3:
              %p
                Reasoning in Biological and Physical Sciences
        %p.mtop50.flt_left
          The GAMSAT
          %sup ®
          Exam is made up of three sections:
        %ol.section_listing
          %li
            %h3
              %a{href: "/gamsat-section-1", target: :_blank} Section 1: Reasoning in Humanities and Social Sciences
            %span.time_est_col 62 MCQs, 100 Mins (including 8 mins reading time)
            %p This section utilises the multiple choice format and tests your interpretation and understanding of concepts in a cultural and social context. It involves responding to various different types of texts, from fiction and poetry to cartoons
            %p
              Visit our
              %a{href: "/gamsat-section-1", target: :_blank}
                Section 1 Guide
              to learn more on how to prepare.
          %li
            %h3
              %a{href: "/gamsat-section-2", target: :_blank} Section 2: Written Communication
            %span.time_est_col 2 Written Responses, 65 Mins (including 5 mins reading time)
            %p
              The only section of the GAMSAT
              %sup ®
              Exam that does not use the MCQ format. This section involves two 30-minute writing tasks, candidates will be expected to type their responses. For each piece of writing you are provided with a distinct set of prompts (generally quotes) that relate to a common theme to use as the basis of your response. The two pieces are usually differentiated on the basis of their focus - The first task typically deals with socio-cultural issues while the second task tends to deal with personal and social issues.
            %p
              Visit our
              %a{href: "/gamsat-section-2", target: :_blank}
                Section 2 Guide
              to learn more on how to prepare.
          %li
            %h3
              %a{href: "/gamsat-section-3", target: :_blank} Section 3: Reasoning in Biological and Physical Sciences
            %span.time_est_col 75 MCQs, 150 Mins (including 8 mins reading time)
            %p This section is multiple choice and tests your reasoning and problem solving skills within a scientific context. The questions are based on three discipline areas along the following ratios:
            %ul.sub_listing
              %li
                %a{href: 'https://gradready.com.au/gamsat-biology', target: :_blank}
                  Biology
                = '- 40%'
              %li
                %a{href: 'https://gradready.com.au/gamsat-biology', target: :_blank}
                  Chemistry
                = '- 40%'
              %li
                %a{href: 'https://gradready.com.au/gamsat-biology', target: :_blank}
                  Physics
                = '- 20%'
            %p.mg_top0
              You are advised to have a level of basic knowledge equivalent to first year university levels of biology and chemistry along with a Year 12 level of physics.
        %p.mbot40
          Download our GAMSAT
          %sup ®
          Study Syllabus for a full list of Section 3 topics as well as tips and advice for Section 1 and 2:
        .full_width
          .gamsat_study_syllabus
            .gamsat_study_syllabus_icon{:style => "margin-right: 50px"}
              = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/gamsatstudysyllabus.png', class: "icon40"
            .button_right_section_study_syllabus
              %a.gamsat_study_syllabus.hvr-shutter-in-horizontal{href: "/gamsat-study-syllabus"} GAMSAT STUDY SYLLABUS
        %p.mbot40 Your overall score is in general determined as follows:
        .full_width
          .overall_box_col
            %p Overall Score = (1 x Section I + 1 x Section II + 2 x Section III) / 4
            %span
              *This formula means that your Overall GAMSAT
              %sup ®
              score is 50% Science and 50% Non-science.
        %p
          Note however that there are some exceptions to this formula - to learn more about how GAMSAT
          %sup ®
          scoring works and view different university score cutoffs, visit our
          %a{href: "/gamsat-scores", target: :_blank}
            %strong
              GAMSAT
              %sup ®
              Results Guide
      .preparation_col.head_aftr_none.mg_bottm100
        %h2#exam_overview
          GAMSAT Exam Day Overview
        .tbl_responsive.fl_none
          %table.table.cstm_tbl.table-bordered.table-condensed.custom_table_data
            %thead
              %th
              %th.text-center Description
              %th.text-center.width11 Breakdown
              %th.text-center.width11 Duration
            %tbody
              %tr
                %td Registration
                %td Pre-testing procedures should be faster  as there will be fewer candidates per testing venue than in previous years. However, it is not possible to guarantee start and finish times just in case unforeseen delays occur.
                %td.text-center -
                %td.text-center ~ 1 Hour
              %tr
                %td Section 1: Reasoning in Humanities
                %td Tests critical reasoning skills as well as the ability to draw conclusions based on evidence with stimuli derived from a variety of non-scientific texts.
                %td.text-center
                  %span.bdr_bottm Reading Time
                  %span 62 MCQs
                %td.text-center
                  %span.bdr_bottm 8 Minutes
                  %span 92 Minutes
              %tr
                %td Section 2: Written Communication
                %td Tests your general knowledge and ability to draw on prior knowledge under pressure to construct a cohesive argument or reflection
                %td.text-center
                  %span.bdr_bottm Reading Time
                  %span Writing Time
                %td.text-center
                  %span.bdr_bottm 5 Minutes
                  %span 65 Minutes
              %tr
                %td Lunch
                %td Take a well deserved break! Consider bringing your own lunch as the break only lasts 60 minutes and purchasing food is not always an option
                %td.text-center
                  %span -
                  %span
                %td.text-center
                  %span 60 Minutes
                  %span
              %tr
                %td Section 3: Reasoning in Biological and Physical Science
                %td 40% Biology, 40% Chemistry, 20% Physics
                %td.text-center
                  %span.bdr_bottm Reading Time
                  %span 75 MCQs
                %td.text-center
                  %span.bdr_bottm 8 Minutes
                  %span 142 Minutes
        %p
          Although the total test time is itself around 5.25 hours,
          %a{href: "https://gamsat.acer.org/", target: :_blank}
            %strong ACER
          recommends that you be prepared to spend at least 8 hours at the test centre due to registration and procedural time. As such, it can be argued that the GAMSAT
          %sup ®
          Exam is as much a test of perseverance and stamina as it is a test of your analysis and critical thinking skills.
        %p
          For more information on the exam day itself and how to register for the GAMSAT
          %sup ®
          Exam, visit our guide to taking the GAMSAT
          %sup ®
          Exam in 2022:
          %br/
          %a{href: "/gamsat-2022", target: :_blank}
            %strong
              GAMSAT
              %sup ®
              2022 - What you need to know
      .preparation_col.head_aftr_none.mg_bottm100
        %h2#exam_theory
          GAMSAT Exam - Theory vs Problem Based Learning
        %p.mtop_zero
          It is important to remember that the GAMSAT
          %sup ®
          exam is focused on examining your reasoning and problem solving skills rather than your recall of specific content. This applies in particular to
          = succeed "." do
            %a{href: "/gamsat-section-3", target: :_blank}
              %strong Section 3
          Although the assumed knowledge is equivalent to first year university levels of biology and chemistry along with a Year 12 level of physics, you will largely be faced with advanced-level, novel content designed to assess your reasoning skills. In fact, over the past two years we’ve seen a shift in the GAMSAT exam away from content-based MCQs towards MCQs designed to test your reasoning skills with a greater emphasis on graphs, diagrams and mathematical relationships.

        %p
          In this sense, the GAMSAT
          %sup ®
          Exam is entirely different to a typical university assessment and as such, your preparation also needs to adapt accordingly.
        .thought_col
          %p.quotes_para
            %i
              Since problem-based learning techniques are central to modern medical
              curricula, GAMSAT
              %sup ®
              is constructed with a major focus on the assessment of problem solving ability across a wide range of subject areas.
            = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/quotes_rht.png'
          %span.authhor
            ACER
            %a.green{href: "https://gamsat.acer.org/about-gamsat/structure-and-content", target: :_blank}
              %strong (Structure and Content)
        %p
          A common error is for students to prepare for the GAMSAT
          %sup ®
          Exam as though it were a knowledge-based one. Although understanding the foundational content is absolutely key to your success, the greater focus must lie in learning to apply that knowledge, using it in a problem-solving setting, and ultimately developing your reasoning skills to equip you to properly handle novel content  - i.e. Problem Based Learning (you can learn more
          = succeed")." do
            %a.green{href: "https://citl.illinois.edu/citl-101/teaching-learning/resources/teaching-strategies/problem-based-learning-(pbl)", target: :_blank}
              %strong here
          ACER states:
        .thought_col
          %p.quotes_para
            %i
              The purpose of GAMSAT
              %sup ®
              is to assess the ability to understand and analyse written and graphically presented material. GAMSAT
              %sup ®
              measures … the ability to reason, make logical deductions and form judgments…. some specific preparation covering relevant basic sciences to first year university level is highly recommended.
            = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/quotes_rht.png'
          %span.authhor
            ACER
            %a.green{href: "https://gamsat.acer.org/prepare", target: :_blank}
              %strong (Prepare)
        .thought_col
          %p.quotes_para
            %i
              It must be stressed that success in GAMSAT
              %sup ®
              is unlikely without knowledge and ability in the biological and physical sciences.
            = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/quotes_rht.png'
          %span.authhor
            ACER
            %a.green{href: "https://gamsat.acer.org/about-gamsat/eligibility", target: :_blank}
              %strong (Eligibility)
        %p
          That’s why our GradReady
          %a{href: "/gamsat-preparation-courses", target: :_blank}
            %strong
              GAMSAT
              %sup ®
              Preparation Courses
          focus on first building the foundational content before honing in on how to best apply that knowledge in the reasoning and problem solving environment of the GAMSAT
          %sup ®
          Exam. We focus on Problem Based Learning, all whilst letting you familiarise yourself with the question formats and helping you build up MCQ strategies.
        %p
          Sign up for our GAMSAT Free Trial today which includes 50 MCQs from our Intelligent MCQ Bank, access to our week-by-week study guide for each section, and a wealth of our GAMSAT resources:
          .boxed
            Get Access to:
            %ul{:style => "list-style-type:none;padding: 13px 0px;"}
              %li 50 Free MCQs
              %li Week-By-Week Study Guide
              %li Complete Session 3 Topic List
              %li Recorded Webinars
            .free_gamsat_icon
              = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/free_trial.png', class: "icon30"
            .button_right_section
              %a.free_trial_btn.hvr-shutter-in-horizontal{href: "/gamsat-preparation-courses/free-gamsat-trial"} GAMSAT Free Trial
      .preparation_col.head_aftr_none.mg_bottm100
        %h2#gamsat_exam
          Which Universities require the GAMSAT Exam?
        %p.mtop_zero
          As of 2022, there are currently 13 Medical Schools that provide a Graduate Entry Medical Program, 12 of which require the GAMSAT
          %sup ®
          exam.
        %p
          Of these 12, 10 are members of the GAMSAT
          %sup ®
          Consortium and their medical courses are participants in
          = succeed "." do
            %a{href: "http://gemsas.edu.au/", target: :_blank}
              %strong GEMSAS (Graduate Entry Medical Schools Admissions System)
          GEMSAS acts as a single hub for applications to the 10 medical schools that make up its members. It manages applications, calculates grade point averages (GPAs) and applies individual school selection rules to allocate and organise interview and course offers to candidates around Australia. For more details, you can visit
          = succeed "and" do
            %a{href: "http://gemsas.edu.au/", target: :_blank}
              %strong their website
          review the most up to date Admissions Guide.
        %p
          Two Medical Schools, the University of Sydney and Flinders University, are not part of GEMSAS, but still require the GAMSAT
          %sup ®
          exam as well as separate, direct applications.
        %p.mtop20
          Medical Schools that require the GAMSAT
          %sup ®
          exam include:
        .diffr_country.mtop20
          %h4 Canberra
          %ul.sub_listing
            %li
              %h5
                %a.green{href: "http://medicalschool.anu.edu.au/study/degrees/mchd", target: :_blank} Australian National University (ANU)
        .diffr_country
          %h4 New South Wales
          %ul.sub_listing
            %li
              %h5
                %a.green{href: "https://www.notredame.edu.au/programs/sydney/school-of-medicine/postgraduate/doctor-of-medicine", target: :_blank} University of Notre Dame Sydney (UNDS)
            %li
              %h5
                %a.green{href: "http://sydney.edu.au/medicine/study/md/", target: :_blank} University of Sydney (USYD)
            %li
              %h5
                %a.green{href: "https://coursefinder.uow.edu.au/information/index.html?course=doctor-of-medicine", target: :_blank} University of Wollongong (UoW)
            %li
              %h5
                %a.green{href: "https://www.mq.edu.au/about/about-the-university/faculties-and-departments/medicine-and-health-sciences/macquarie-md", target: :_blank} Macquarie University
        .diffr_country
          %h4 Queensland
          %ul.sub_listing
            %li
              %h5
                %a.green{href: "https://degrees.griffith.edu.au/Program/5099#placement", target: :_blank} Griffith University
            %li
              %h5
                %a.green{href: "https://future-students.uq.edu.au/study/program/Doctor-of-Medicine-5578", target: :_blank} University of Queensland (UQ)
        .diffr_country
          %h4 South Australia
          %ul.sub_listing
            %li
              %h5
                %a.green{href: "http://www.flinders.edu.au/medicine/courses/medical-course/medical-course-home.cfm", target: :_blank} Flinders University
        .diffr_country
          %h4 Victoria
          %ul.sub_listing
            %li
              %h5
                %a.green{href: "http://www.deakin.edu.au/course/doctor-medicine", target: :_blank} Deakin University
            %li
              %h5
                %a.green{href: "https://mdhs-study.unimelb.edu.au/degrees/doctor-of-medicine/overview", target: :_blank} University of Melbourne (UniMelb)
        .diffr_country
          %h4 Western Australia
          %ul.sub_listing
            %li
              %h5
                %a.green{href: "https://www.notredame.edu.au/programs/fremantle/school-of-medicine/postgraduate/doctor-of-medicine", target: :_blank} University of Notre Dame Fremantle (UNDF)
            %li
              %h5
                %a.green{href: "http://www.meddent.uwa.edu.au/future-students/postgraduate/apply-professional/domestic-std-path/md", target: :_blank} University of Western Australia (UWA)
        %p.mtop20
          In addition, the GAMSAT
          %sup ®
          is required for the following courses:
        .diffr_country.mtop20
          %h4 University of Melbourne
          %ul.sub_listing
            %li
              %h5
                %a.green{href: "https://mdhs-study.unimelb.edu.au/degrees/doctor-of-dental-surgery/overview", target: :_blank} Doctor of Dental Surgery
            %li
              %h5
                %a.green{href: "http://mdhs-study.unimelb.edu.au/degrees/doctor-of-optometry/overview", target: :_blank} Doctor of Optometry
        .diffr_country
          %h4 University of Sydney:
          %ul.sub_listing
            %li
              %h5
                %a.green{href: "https://sydney.edu.au/courses/courses/pc/doctor-of-dental-medicine.html", target: :_blank} Doctor of Dental Medicine
        .diffr_country
          %h4 University of Western Australia:
          %ul.sub_listing
            %li
              %h5
                %a.green{href: "https://study.uwa.edu.au/courses/doctor-of-dental-medicine", target: :_blank} Doctor of Dental Medicine
            %li
              %h5
                %a.green{href: "https://study.uwa.edu.au/courses/doctor-of-podiatric-medicine", target: :_blank} Doctor of Podiatric Medicine
        %p
          Monash University is the final Medical School to provide a Graduate Entry Medical Program. However, the GAMSAT
          %sup ®
          Exam was removed as an admissions criteria in 2017, and is no longer required. Note however that domestic applicants for the Graduate Entry Medical Program at Monash University must have completed one of the approved bachelor degrees at Monash University - that is to say that external domestic applicants are no longer accepted.
        %p
          For more details on the Monash University Medical School, you can visit
          %a{href: "https://www.monash.edu/medicine/som/home", target: :_blank}
            = succeed "." do
              %strong their website
        %p
          To learn more about the different Graduate Entry Medical Schools in Australia and their different admission requirements, visit our guide:
          %a{href: "/medical-school-entry-requirements", target: :_blank}
            %strong> Australian Medical Schools: Entry Requirements
            \.
      .preparation_col.head_aftr_none.mg_bottm100
        %h2#prep_materials
          GAMSAT Preparation Materials
        %p.mtop_zero
          Now that you’ve got some background on the GAMSAT
          %sup ®
          Exam, visit some of our other free resources to learn more:
        %ol.ordr_list
          %li
            %h5
              %a{href: "/gamsat-2022", target: :_blank}
                GAMSAT
                %sup ®
                2022
            %p.mtop_zero
              Everything you need to know about the GAMSAT
              %sup ®
              Exams in 2022 from registration dates to locations.
          %li
            %h5
              %a{href: "/gamsat-preparation", target: :_blank}
                How to study for the GAMSAT
                %sup ®
                Exam
            %p.mtop_zero
              A breakdown of how to approach study effectively and how to set up a GAMSAT
              %sup ®
              study schedule
          %li
            %h5
              %a{href: "/gamsat-scores", target: :_blank}
                Understanding your GAMSAT
                %sup ®
                Results
            %p.mtop_zero
              Covers everything you need to know about your GAMSAT
              %sup ®
              Results - How the scoring works, result release dates and even GAMSAT
              %sup ®
              score cutoffs.
          .boxed
            Get Access to:
            %ul{:style => "list-style-type:none;padding: 16px 0px;line-height: 0.9;"}
              / Get Access to:
              %li 50 Free MCQs
              %li Week-By-Week Study Guide
              %li Complete Session 3 Topic List
              %li Recorded Webinars
            .free_gamsat_icon
              = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/free_trial.png', class: "icon30"
            .button_right_section
              %a.free_trial_btn.hvr-shutter-in-horizontal{href: "/gamsat-preparation-courses/free-gamsat-trial"} GAMSAT Free Trial
          %p
            In addition, you can read this 10 year retrospective overview of the GAMSAT
            %sup ®
            Exam which includes a breakdown of candidates’ performance:
            %a{href: "https://bmcmededuc.biomedcentral.com/articles/10.1186/s12909-015-0316-3", target: :_blank}
              %strong
                GAMSAT
                %sup ®
                Exam - Retrospective Review
      .preparation_col.head_aftr_none.mg_bottm100
        %h2
          GradReady GAMSAT Preparation Courses
        %p.mtop_zero
          At GradReady, we pride ourselves on providing students with the
          %strong Best Value:
        .diffr_country
          %ul.cstm_list_style
            %li.mtop_zero
              Our team is consistently reinvesting in our internal operational technology to ensure that we're constantly improving our efficiency and productivity. The end result for our students is that we stand head and shoulders above our competition in the comprehensiveness of the tools we offer and the effectiveness of our teachings -
              %a.green{href: "/gamsat-preparation-courses#comparison_table", target: :_blank}
                %strong> all at the best value
                \.
            %li.mtop_zero
              We believe in a data-driven approach - using student performance data to fine tune our practice questions, study content and teaching styles has allowed us to achieve
              %a.green{href: "/gamsat-preparation-courses/student_testimonials#2017_perform", target: :_blank}
                %strong unparalleled results
              for our students.
            %li.mtop_zero
              We are the only provider with Statistically Significant Proven Results - Our students achieved an
              %a{href: 'https://gradready.com.au/gamsat-preparation-courses/student_testimonials', target: :_blank}
                %strong average improvement of 20+ Percentile Points, 8 years in a row.
            %li.mtop_zero
              We achieve these results through our interactive teaching style and adaptive online learning technologies. Our classes are capped at 21 students, and taught by a specialist tutor for each subject, tutors who are themselves Medical Students who have sat the
              = surround '', '.' do
                GAMSAT
                %sup ®
            %li.mtop_zero Our online systems make learning into a science and we are the only provider with a proprietary online system that uses algorithmic-assisted, targeted learning - Unlike other providers who purchase a 3rd Party System, the targeted system that we've developed tracks your performance, quickly identifying your weaknesses and pointing you to the most relevant materials and even tutor assistance.
        %p.mtop20.flt_left
          To learn more about our courses and compare us to the competition visit:
          %a.green{href: "/gamsat-preparation-courses", target: :_blank}
            %strong
              GradReady GAMSAT
              %sup ®
              Preparation Courses
:javascript
  // Select all links with hashes
  $('a[href*="#"]')
  // Remove links that don't actually link to anything
  .not('[href="#"]')
  .not('[href="#0"]')
  .click(function(event) {
    // On-page links
    if (
      location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
      &&
      location.hostname == this.hostname
    ) {
      // Figure out element to scroll to
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      // Does a scroll target exist?
      if (target.length) {
        // Only prevent default if animation is actually gonna happen
        event.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top-74
        }, 1000, function() {
          // Callback after animation
          // Must change focus!

        });
      }
    }
  });
