.review_wrapper
  .row.feat_row
    .row.mg_left.mg_right
      .col-lg-6.feat_col
        %p
          Can't say enough good things about the course. Highly recommended!
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Yayin D
            / %small March 2018 GAMSAT Student
          .pull-right
            = render_stars 10
      .col-lg-6.feat_col
        %p
          The MCQ Bank was the best thing. Would have liked more in depth questions though
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Bill V
            / %small March 2018 GAMSAT Student
          .pull-right
            = render_stars 8
      .col-lg-6.feat_col
        %p
          Online questions, classes, videos were awsome. But I would like to see less focus on science knowledge.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Justin B
            / %small March 2018 GAMSAT Student
          .pull-right
            = render_stars 10
      .col-lg-6.feat_col
        .review_hover
          %p The best parts of the comprehensive attendance course was the tutors (very inspiring and uplifting)...
          %p.review_text_wrapper
            The best parts of the comprehensive attendance course was the tutors (very inspiring and uplifting), and the way they encouraged us to reason (why did you pick that answer?)
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Mila V
            / %small March 2018 GAMSAT Student
          .pull-right
            = render_stars 10

      .col-lg-6.feat_col
        .review_hover
          %p Everything was very well put together, from how the online system helps...
          %p.review_text_wrapper
            Everything was very well put together, from how the online system helps you to access content to how the tutors take you through the material. Helped me to improve a lot
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Danielle G
            / %small March 2018 GAMSAT Student
          .pull-right
            = render_stars 10

      .col-lg-6.feat_col
        %p
          The course gave me content and structure
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Moses F
            / %small March 2018 GAMSAT Student
          .pull-right
            = render_stars 10
      .col-lg-6.feat_col
        %p
          Personalised study plans, practice problems and essay topic brainstorming.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Charles B
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 8
      .col-lg-6.feat_col
        %p
          Personalised study plans, practice problems and essay topic brainstorming.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Charles B
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 8

      .col-lg-6.feat_col
        .review_hover
          %p
            The strategies behind studying the material were focused on critical thinking, patterns, and time...
          %p.review_text_wrapper The strategies behind studying the material were focused on critical thinking, patterns, and time management rather than simply memorising and regurgitating content. I&rsquo;m a science student so this was a great help.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Phil H
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 9

      .col-lg-6.feat_col
        %p
          The essay feedback offered was really helpful as were the online MCQ's.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Nishita D
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 7

      .col-lg-6.feat_col
        .review_hover
          %p
            The responsiveness of both tutors and admin staff was exceptional. The tutors went through the...
          %p.review_text_wrapper The responsiveness of both tutors and admin staff was exceptional. The tutors went through the material in-depth and explained the theory behind the concepts, rather than simply providing the answer like some other preparation providers.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Laura Q
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 9

      .col-lg-6.feat_col
        %p
          Section II preparation (classes and practice materials were really helpful)
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Brian K
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 8

      .col-lg-6.feat_col
        .review_hover
          %p
            It assisted me and encouraged me to practice and improve my essay writing skills. The marked essays...
          %p.review_text_wrapper It assisted me and encouraged me to practice and improve my essay writing skills. The marked essays were amazing. The mock exam also was great preparation for the real thing, especially for timing purposes. It was also great speaking to the tutors who have been in our position before and had lots of insight to share.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Catherine F
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 10

      .col-lg-6.feat_col
        .review_hover
          %p
            Marked essays were great. Science tutorials consolidated knowledge. Humanities wasn't as...
          %p.review_text_wrapper Marked essays were great. Science tutorials consolidated knowledge. Humanities wasn't as useful as there was always contention between the answers even after model answers were released.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text John S
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 7

      .col-lg-6.feat_col
        .review_hover
          %p
            I attended all the live classes, mock exam weekend in addition to the online videos, questions and...
          %p.review_text_wrapper I attended all the live classes, mock exam weekend in addition to the online videos, questions and essay submissions. The practice section one questions were helpful as to the section 3 content for grasping the content basics.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Jo M
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 9

      .col-lg-6.feat_col
        .review_hover
          %p
            GradReady was great for the MCQs and the written essays with feedback. I felt the latter was...
          %p.review_text_wrapper GradReady was great for the MCQs and the written essays with feedback. I felt the latter was the most valuable when it came to the feedback
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Barry T
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 8

      .col-lg-6.feat_col
        %p
          Pushed me to do more work than I usually do, especially in regard to essay writing.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Avalon M
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 8

      .col-lg-6.feat_col
        %p
          The tutors at the Adelaide live courses were excellent. Also, the online tutors were very prompt in providing feedback.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Kalyani H
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 8

      .col-lg-6.feat_col
        %p
          I thought it helped with question preparation and overall concept learning.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Aaron B
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 6

      .col-lg-6.feat_col
        %p
          Gave me a large question base and built on some existing knowledge. The most helpful part was the Mock exam
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Conner B
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 7

      .col-lg-6.feat_col
        .review_hover
          %p
            Develop better study techniques, and helped me feel a lot more confident leading up to the exam. It...
          %p.review_text_wrapper Develop better study techniques, and helped me feel a lot more confident leading up to the exam. It was very reassuring to realise that the GAMSAT really was something we could prepare for.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Wendy Z
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 9

      .col-lg-6.feat_col
        .review_hover
          %p
            I liked that the tutors didn't use the slides much. They seemed to be really knowledgeable...
          %p.review_text_wrapper I liked that the tutors didn't use the slides much. They seemed to be really knowledgeable in their areas. Would definitely recommend!
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Cindy Z
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 10

      .col-lg-6.feat_col
        %p
          Practice essays hands down the most rewarding feature. Worth every dollar. Rest of course was awesome!
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Mohammed U
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 9

      .col-lg-6.feat_col
        %p
          Great content, very worthwhile
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Kim Q
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 8

      .col-lg-6.feat_col
        %p
          I would rate my experience 10/10. Thanks a lot!!!
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Cassandra G
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 10

      .col-lg-6.feat_col
        %p
          Very glad I chose the comprehensive course, I found the mock exam day to be extremely beneficial in my GAMSAT preparation
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Megan Z
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 10

      .col-lg-6.feat_col
        %p
          Other than a few minor issues with my MCQ bank, I gained a lot of knowledge and confidence from the course.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Neil Y
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 8
