.review_wrapper
  .row.feat_row
    .row.mg_left.mg_right
      .col-lg-6.feat_col
        %p
          Helped me understand what the gamsat contained
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Jess B
            / %small March 2018 GAMSAT Student
          .pull-right
            = render_stars 10
      .col-lg-6.feat_col
        %p
          Great workshops, mock exam and practice MCQ's.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Raddle D
            / %small March 2018 GAMSAT Student
          .pull-right
            = render_stars 10
      .col-lg-6.feat_col
        .review_hover
          %p
            Working through all the online materials and attending the tutorials...
          %p.review_text_wrapper
            Working through all the online materials and attending the tutorials. Much improved in sciences and other sections even with handy hints on how to avoid traps in section 1
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Allan S
            / %small March 2018 GAMSAT Student
          .pull-right
            = render_stars 10
      .col-lg-6.feat_col
        %p
          Allocated protected time to study in live course
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Melissa N
            / %small March 2018 GAMSAT Student
          .pull-right
            = render_stars 9
      .col-lg-6.feat_col
        .review_hover
          %p
            Giving an overview of the topics covered, insight into what the exam would...
          %p.review_text_wrapper
            Giving an overview of the topics covered, insight into what the exam would be like and feedback on my work.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Brad D
            / %small March 2018 GAMSAT Student
          .pull-right
            = render_stars 10
      .col-lg-6.feat_col
        %p
          A little bit I felt actual questions were harder, less theory based
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Jacintha F
            / %small March 2018 GAMSAT Student
          .pull-right
            = render_stars 10
      .col-lg-6.feat_col
        %p
          Practice resource availability was key to enabling me to put in hour after hour of concept reinforcement
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Michael I
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 10

      .col-lg-6.feat_col
        %p
          It has been great help to direct my studies. All the online questions and mock exams have been helpful.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Jiayi K
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 8

      .col-lg-6.feat_col
        %p
          Practice resource availability was key to enabling me to put in hour after hour of concept reinforcement
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Michael I
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 8

      .col-lg-6.feat_col
        .review_hover
          %p
            I really liked the humanities explanations to the practice questions, they really delved into why certain answers...
          %p.review_text_wrapper I really liked the humanities explanations to the practice questions, they really delved into why certain answers are correct. Biology and physics were really good too! Especially the practice questions and class structure.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Tom G
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 8

      .col-lg-6.feat_col
        .review_hover
          %p
            Being able to book a tutor online then just meet up has been great. I have had tutors in the past but never as...
          %p.review_text_wrapper Being able to book a tutor online then just meet up has been great. I have had tutors in the past but never as easy as this! It would be cool if there was an online tutor option though.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Dhana Y
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 9

      .col-lg-6.feat_col
        %p
          I was really satisfied with this course. I feel like everything was included and I am as prepared as possible for my exam. Thanks!
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text May E
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 10

      .col-lg-6.feat_col
        .review_hover
          %p
            The only thing missing from this course was more emphasis on chemistry. Chemistry is something I really...
          %p.review_text_wrapper The only thing missing from this course was more emphasis on chemistry. Chemistry is something I really struggled with, and I could have benefited from more resources. Other than that, I loved it!
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Jeryl M
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 8

      .col-lg-6.feat_col
        %p
          Good course, solid content and no issues
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Hamed H
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 6

      .col-lg-6.feat_col
        %p
          Loved it!
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text John Y
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 8

      .col-lg-6.feat_col
        %p
          I just wish I had started this earlier, some of the content you need to know for the GAMSAT did not come easy to me.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Lachlan J
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 10

      .col-lg-6.feat_col
        %p
          I think it's pretty good for the price, fingers crossed for my results!
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Steph F
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 10

      .col-lg-6.feat_col
        .review_hover
          %p
            By far the best prep course I have ever done, I sat the GAMSAT last year but was not happy with the...
          %p.review_text_wrapper By far the best prep course I have ever done, I sat the GAMSAT last year but was not happy with the prep provider I went with or my result.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Tim W
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 10

      .col-lg-6.feat_col
        %p
          I really enjoyed the course, especially being able to work 1 on 1 with tutors - really helpful!!
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Amanda E
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 8

      .col-lg-6.feat_col
        .review_hover
          %p
            I had no idea these online courses existed, I thought I would be stuck reading from a textbook for...
          %p.review_text_wrapper I had no idea these online courses existed, I thought I would be stuck reading from a textbook for my study. GradReady was pleasantly surprising!
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Tim W
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 10

      .col-lg-6.feat_col
        %p
          Worth every cent, I would do it again
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Xu F
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 10

      .col-lg-6.feat_col
        .review_hover
          %p
            I couldn't access my account for a few days due to a system issue, but the staff sorted it out really...
          %p.review_text_wrapper I couldn't access my account for a few days due to a system issue, but the staff sorted it out really quickly and were very helpful. Apart from that hiccup, I am pleased with my experience
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Jacob M
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 8

      .col-lg-6.feat_col
        %p
          One thing missing was a hard copy textbook. Maybe it should be included in the comprehensive course.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Brittany G
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 7

      .col-lg-6.feat_col
        %p
          Enjoyed the live courses, tutors were knowledgeable, even made a few friends at the tutorials!
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Xiao B
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 8

      .col-lg-6.feat_col
        .review_hover
          %p
            Marked essays were a life saver. I struggled with S2 last time so really needed that extra help. Felt...
          %p.review_text_wrapper Marked essays were a life saver. I struggled with S2 last time so really needed that extra help. Felt really confident in my preparation this year
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Violet V
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 10

      .col-lg-6.feat_col
        %p
          Great value, I learned a lot
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Greg W
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 10
