.review_wrapper
  .row.feat_row
    .row.mg_left.mg_right
      .col-lg-6.feat_col
        %p
          Gave me confidence
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Cindy F
            / %small March 2018 GAMSAT Student
          .pull-right
            = render_stars 9
      .col-lg-6.feat_col
        %p
          It was quite helpful, especially with S1
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Jody S
            / %small March 2018 GAMSAT Student
          .pull-right
            = render_stars 10

      .col-lg-6.feat_col
        %p
          It was useful for the essay questions. And my science scores improved heaps!
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Lauren C
            / %small March 2018 GAMSAT Student
          .pull-right
            = render_stars 10
      .col-lg-6.feat_col
        .review_hover
          %p Tips for humanities questions, overview videos for science topics, and practice...
          %p.review_text_wrapper
            Tips for humanities questions, overview videos for science topics, and practice questions for science and humanities were great. Would have wanted long division/multiplication on paper though
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Grace K
            / %small March 2018 GAMSAT Student
          .pull-right
            = render_stars 9
      .col-lg-6.feat_col
        %p
          The tutors here were out of this world - very caring and always doing the best job possible.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Lana F
            / %small March 2018 GAMSAT Student
          .pull-right
            = render_stars 10

      .col-lg-6.feat_col
        %p
          More S3 questions to help practice - S2 tutor was extremely helpful and marked essay feedback was good.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Nicole C
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 8

      .col-lg-6.feat_col
        .review_hover
          %p
            I really struggled with S2 in my first exam, but the marked essays feature has helped out a lot! Just keep...
          %p.review_text_wrapper I really struggled with S2 in my first exam, but the marked essays feature has helped out a lot! Just keep in mind that the essays are due at a certain time - something I missed!
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Jayene P
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 10

      .col-lg-6.feat_col
        %p
          The tutors provided great support, really helped me understand the underlying theory - especially physics!
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Zhu Q
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 10

      .col-lg-6.feat_col
        .review_hover
          %p
            The MCQ bank variety and large amount of available questions, coupled with the face-to-face sessions..
          %p.review_text_wrapper The MCQ bank variety and large amount of available questions, coupled with the face-to-face sessions and interactive working out/problem solving was so helpful. The continuous practice testing and timed exams really did prepare me for the GAMSAT exam.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Lauren L
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 9

      .col-lg-6.feat_col
        .review_hover
          %p
            I loved the practice questions, open and safe environment where I could ask any questions, and lots...
          %p.review_text_wrapper I loved the practice questions, open and safe environment where I could ask any questions, and lots of helpful resources available on the website and in-person!
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Amanda A
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 8

      .col-lg-6.feat_col
        %p
          Ensured a certain amount of study each week. Also ensured the relevant information was covered.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Zoe
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 8

      .col-lg-6.feat_col
        .review_hover
          %p
            The online questions were good for study and assessing where you need to improve. The classes were also...
          %p.review_text_wrapper The online questions were good for study and assessing where you need to improve. The classes were also useful to get feedback and go through problems and also meet other people to form study groups.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Felix
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 9

      .col-lg-6.feat_col
        %p
          The tutors were really knowledgeable and the applicable online content was great. The MCQ bank has been the most help!
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Lachlan
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 8

      .col-lg-6.feat_col
        .review_hover
          %p
            I really loved having Rose as a chemistry tutor as her explanations suited the way I learn and she made...
          %p.review_text_wrapper I really loved having Rose as a chemistry tutor as her explanations suited the way I learn and she made me feel less stressed about the chemistry section!
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Pei-long X
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 10

      .col-lg-6.feat_col
        .review_hover
          %p
            Helped improve essay structure and content. Biggest help was science content review in class along...
          %p.review_text_wrapper Helped improve essay structure and content. Biggest help was science content review in class along with strategies for answering common gamsat questions.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Louise W
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 9

      .col-lg-6.feat_col
        %p
          I wish I did this course before my first GAMSAT attempt... I feel so much more confident now.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Chang U
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 9

      .col-lg-6.feat_col
        %p
          Two of my friends did this course with me, none of us had any issues! If you put the effort in and attend all the sessions, it's very rewarding!!
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Michael Y
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 8

      .col-lg-6.feat_col
        .review_hover
          %p
            I would have liked to see some more videos, but the live courses made up for it. Much better to learn...
          %p.review_text_wrapper I would have liked to see some more videos, but the live courses made up for it. Much better to learn from a person than a video anyway
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Daniel H
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 7

      .col-lg-6.feat_col
        .review_hover
          %p
            Humanities is very good. The lecturer is excellent and helps us understand topics. Physics, absolute...
          %p.review_text_wrapper Humanities is very good. The lecturer is excellent and helps us understand topics. Physics, absolute legend! Biology she was a little slow at times but that made her more helpful
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text John G
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 10

      .col-lg-6.feat_col
        %p
          My chemistry tutor really made sense of some of the more complex theories. I never would have learned this much on my own, thanks!!
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Angus W
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 8

      .col-lg-6.feat_col
        .review_hover
          %p
            There are a few free GAMSAT preparation materials out there but paying for the online systems and...
          %p.review_text_wrapper There are a few free GAMSAT preparation materials out there but paying for the online systems and tutorials was worth it in my opinion. Tutors, content, and staff were great
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Niall H
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 10

      .col-lg-6.feat_col
        .review_hover
          %p
            Did fairly poorly in my first GAMSAT attempt, so decided to bite the bullet and buy a course. Glad I did, I...
          %p.review_text_wrapper Did fairly poorly in my first GAMSAT attempt, so decided to bite the bullet and buy a course. Glad I did, I feel so much more confident going into my second exam
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text C'nedra P
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 8

      .col-lg-6.feat_col
        %p
          Physics and biology tutors were great
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Lily U
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 10

      .col-lg-6.feat_col
        %p
          Thoroughly enjoyed the course, especially the live component
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Zauhu R
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 10

      .col-lg-6.feat_col
        %p
          MCQ bank was awesome, liked all the other tools too
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Jake O
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 10
