.review_wrapper
  .row.feat_row
    .row.mg_left.mg_right
      .col-lg-6.feat_col
        %p
          Good bank of mcqs
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Susan B
            / %small March 2018 GAMSAT Student
          .pull-right
            = render_stars 10
      .col-lg-6.feat_col
        %p
          by providing MCQs for me to use as practice questions
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Lucy S
            / %small March 2018 GAMSAT Student
          .pull-right
            = render_stars 10
      .col-lg-6.feat_col
        .review_hover
          %p
            I used the MCQ question bank. My score for section 3 wasn't the best but I absolutely would’ve failed...
          %p.review_text_wrapper I used the MCQ question bank. My score for section 3 wasn't the best but I absolutely would’ve failed that section without having used the question bank (especially for organic Chem)
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Serena M
            / %small March 2018 GAMSAT Student
          .pull-right
            = render_stars 10

      .col-lg-6.feat_col
        %p
          Good online MCQ bank.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text India A
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 8

      .col-lg-6.feat_col
        .review_hover
          %p
            Pro tip, do the diagnostics assessment straight away! I didn't and I can't tell how much I improved! However...
          %p.review_text_wrapper Pro tip, do the diagnostics assessment straight away! I didn't and I can't tell how much I improved! However, I certainly have improved a lot and am looking forward to smash my GAMSAT exam!
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Tomas G
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 10

      .col-lg-6.feat_col
        %p
          I've used other providers before but GradReady has been the most comprehensive. Definitely recommend.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Aleksei D
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 10

      .col-lg-6.feat_col
        %p
          Course was great. The GradReady facebook page has heaps of good stuff too!
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Will TD
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 8

      .col-lg-6.feat_col
        %p
          Really interesting method of teaching you difficult concepts, I have never come across something like this before
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Nikishia E
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 8

      .col-lg-6.feat_col
        %p
          Pretty expensive, but worth it in the end. I would probably take an attendence course next time
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Zahan B
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 8

      .col-lg-6.feat_col
        %p
          MCQ bank by far was soo helpful. I had no idea how useful it would be until I started using it
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Fong M
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 8

      .col-lg-6.feat_col
        %p
          Really helpful
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Natasha R
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 8

      .col-lg-6.feat_col
        %p
          I wish I did this course before my first GAMSAT attempt... I feel so much more confident now.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Chang U
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 9

      .col-lg-6.feat_col
        .review_hover
          %p
            Humanities is very good. The lecturer is excellent and helps us understand topics. Physics, absolute...
          %p.review_text_wrapper Humanities is very good. The lecturer is excellent and helps us understand topics. Physics, absolute legend! Biology she was a little slow at times but that made her more helpful
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text John G
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 10

      .col-lg-6.feat_col
        %p
          Thoroughly enjoyed the course, especially the live component
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Zauhu R
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 10

      .col-lg-6.feat_col
        %p
          Practice essays hands down the most rewarding feature. Worth every dollar. Rest of course was awesome!
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Mohammed U
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 9

      .col-lg-6.feat_col
        %p
          I would rate my experience 10/10. Thanks a lot!!!
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Cassandra G
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 10

      .col-lg-6.feat_col
        .review_hover
          %p
            I loved the practice questions, open and safe environment where I could ask any questions, and lots of...
          %p.review_text_wrapper I loved the practice questions, open and safe environment where I could ask any questions, and lots of helpful resources available on the website and in-person!
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Amanda A
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 8

      .col-lg-6.feat_col
        .review_hover
          %p
            I really liked the humanities explanations to the practice questions, they really delved into why certain...
          %p.review_text_wrapper I really liked the humanities explanations to the practice questions, they really delved into why certain answers are correct. Biology and physics were really good too! Especially the practice questions and class structure.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Tom G
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 8

      .col-lg-6.feat_col
        .review_hover
          %p
            Being able to book a tutor online then just meet up has been great. I have had tutors in the past but never...
          %p.review_text_wrapper Being able to book a tutor online then just meet up has been great. I have had tutors in the past but never as easy as this! It would be cool if there was an online tutor option though.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Dhana Y
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 9

      .col-lg-6.feat_col
        %p
          Loved it!
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text John Y
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 8

      .col-lg-6.feat_col
        %p
          I think it's pretty good for the price, fingers crossed for my results!
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Steph F
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 10

      .col-lg-6.feat_col
        %p
          I really enjoyed the course, especially being able to work 1 on 1 with tutors - really helpful!!
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Amanda E
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 8

      .col-lg-6.feat_col
        %p
          Worth every cent, I would do it again
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Xu F
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 10
