.review_wrapper
  .row.feat_row
    .row.mg_left.mg_right
      .col-lg-6.feat_col
        %p I was skeptical coming into the course, but was definitely proven wrong though the fatanstic content and professional staff.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Alice H
            / %small March 2018 GAMSAT Student
          .pull-right
            = render_stars 10
      .col-lg-6.feat_col
        .review_hover
          %p Amazing example essays, and heaps of MCQs for S1. Maybe send an email reminder with a quick link to say “complete the...
          %p.review_text_wrapper Amazing example essays, and heaps of MCQs for S1. Maybe send an email reminder with a quick link to say “complete the questions from this passage” to force people to keep on studying.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Chad F
            / %small March 2018 GAMSAT Student
          .pull-right
            = render_stars 10
      .col-lg-6.feat_col
        %p Could not have done it without these guys - the online system was next to none!
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Zoe N
            / %small March 2018 GAMSAT Student
          .pull-right
            = render_stars 9
      .col-lg-6.feat_col
        %p The essay markers were amazing!
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Darren B
            / %small March 2018 GAMSAT Student
          .pull-right
            = render_stars 10
      .col-lg-6.feat_col
        %p Practice questions were awsome.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Victoria Q
            / %small March 2018 GAMSAT Student
          .pull-right
            = render_stars 10

      .col-lg-6.feat_col
        %p Videos clarified scientific concepts for me
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Fiona T
            / %small March 2018 GAMSAT Student
          .pull-right
            = render_stars 8

      .col-lg-6.feat_col
        %p I fully utilised all the resources and performed much better!
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Monique S
            / %small March 2018 GAMSAT Student
          .pull-right
            = render_stars 10

      .col-lg-6.feat_col
        %p The multiple choice questions were gold, it made such a difference having a bank of questions to practise with.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Llana S
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 10

      .col-lg-6.feat_col
        %p The video lectures and the practice questions were the most helpful.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Braden P
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 9

    .row.mg_left.mg_right
      .col-lg-6.feat_col
        %p The multi choice questions were amazing
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Ariljeet P
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 10

      .col-lg-6.feat_col
        %p The GAMSAT style questions were very useful, especially physics.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Carlos M
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 10

    .row.mg_left.mg_right
      .col-lg-6.feat_col
        %p Just the questions, however similar Gamsat style questions would help in preparation.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Narendran K
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 8

      .col-lg-6.feat_col
        %p It provided me with the necessary tools to improve my GAMSAT by 10 points overall in 1 sitting!
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Megha K
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 10

    .row.mg_left.mg_right
      .col-lg-6.feat_col
        .review_hover
          %p All the MCQs were great. I also bought the textbook which I loved since it had all the science content in one place...
          %p.review_text_wrapper All the MCQs were great. I also bought the textbook which I loved since it had all the science content in one place. Did the mock exam with GradReady a couple of years ago too (before my first GAMSAT attempt) and found it really helpful.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Hasini P
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 9

      .col-lg-6.feat_col
        %p I loved the essay feedback. It helped me to redevelop my essay writing skills.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Jackson D
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 8

    .row.mg_left.mg_right
      .col-lg-6.feat_col
        %p The science practice questions were invaluable.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text George W
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 8

      .col-lg-6.feat_col
        %p I really liked the variety of questions available! Only thing I would have liked to see is more course videos for hard concepts.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Tao F
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 7

    .row.mg_left.mg_right
      .col-lg-6.feat_col
        .review_hover
          %p It was really useful being able to attend free essay writing and other similar seminars to get insider knowledge about how to approach...
          %p.review_text_wrapper It was really useful being able to attend free essay writing and other similar seminars to get insider knowledge about how to approach the exams. The online MCQ's and essay questions were also particularly useful, and enabled me to continuously practice my physics and chemistry with useful explanations on how to answer question I got incorrect. I would recommend the online GradReady course to anyone.......in fact I actually have to my friend taking the GAMSAT next year!
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Hannah P
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 10

      .col-lg-6.feat_col
        %p The teaching theory is very relevant to the practice questions, so that we can understand questions with clarity.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Jordan G
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 10

    .row.mg_left.mg_right
      .col-lg-6.feat_col
        %p Course was great. The GradReady facebook page has heaps of good stuff too!
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Will T
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 8

      .col-lg-6.feat_col
        %p I was expecting some dodgy online setup, but was thoroughly impressed with everything straight away. Loved the MCQ bank
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Atong N
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 8

    .row.mg_left.mg_right
      .col-lg-6.feat_col
        %p Website can be a little confusing at times, but the actual content and features were sooo helpful!
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Victor C
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 9

      .col-lg-6.feat_col
        %p I've used other providers before but GradReady has been the most comprehensive. Definitely recommend
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Aleksei D
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 10

    .row.mg_left.mg_right
      .col-lg-6.feat_col
        .review_hover
          %p I was on a budget, so I could only afford the essentials component, it was more than what I was expecting. If I had more funds...
          %p.review_text_wrapper I was on a budget, so I could only afford the essentials component, it was more than what I was expecting. If I had more funds I would have definitely purchased a more expensive course.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Margaret C
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 8

      .col-lg-6.feat_col
        .review_hover
          %p Pro tip, do the diagnostics assessment straight away! I didn't and I can't tell how much I improved! However, I certainly have...
          %p.review_text_wrapper Pro tip, do the diagnostics assessment straight away! I didn't and I can't tell how much I improved! However, I certainly have improved a lot and am looking forward to smash my GAMSAT exam!
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Tomas G
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 10

    .row.mg_left.mg_right
      .col-lg-6.feat_col
        %p Great course, no complaints
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Elaine H
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 10

      .col-lg-6.feat_col
        %p Really interesting method of teaching you difficult concepts, I have never come across something like this before.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Nikishia E
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 8

