.review_wrapper
  .row.feat_row
    .row.mg_left.mg_right
      .col-lg-6.feat_col
        .review_hover
          %p
            Gave me feedback for my essays, highlighted areas which I needed to improve on (eg. poetry, motion in physics), provided...
          %p.review_text_wrapper
            Gave me feedback for my essays, highlighted areas which I needed to improve on (eg. poetry, motion in physics), provided lots of practice questions and allowed me to choose specific areas to focus on, provided work-through answers to show how to get to the answer, provided teaching material to fill gaps in knowledge (the lecture slides, videos and readings)
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Rachel D
            / %small March 2018 GAMSAT Student
          .pull-right
            = render_stars 10
      .col-lg-6.feat_col
        .review_hover
          %p
            The multi-choice question bank was unreal. Having the ability to choose how many questions, the difficulty level...
          %p.review_text_wrapper
            The multi-choice question bank was unreal. Having the ability to choose how many questions, the difficulty level, the question types and time limit was honestly so helpful in dragging my section 1 score up (58 to 72!). A lot of people will say you can't improve on Section 1, and to them I say "Practice with the GradReady online question bank, then tell me you can't improve." Best part is you can see your progress over time, and know which question types are your weak points. Awesome for knowing your exam ability inside and out. Just an awesome experience! Already recommended to friends for next time!
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Delora J
            / %small March 2018 GAMSAT Student
          .pull-right
            = render_stars 10
      .col-lg-6.feat_col
        .review_hover
          %p
            S2 essay feedback helped S3 GradReady prep focused a lot on science theory however in the exam there was a lot more...
          %p.review_text_wrapper
            S2 essay feedback helped S3 GradReady prep focused a lot on science theory however in the exam there was a lot more critical thinking and problem solving.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Anuj C
            / %small March 2018 GAMSAT Student
          .pull-right
            = render_stars 10
      .col-lg-6.feat_col
        .review_hover
          %p
            The videos were a good way for me to relearn / revise for section 3. Practice MCQs were good especially because of the...
          %p.review_text_wrapper
            The videos were a good way for me to relearn / revise for section 3. Practice MCQs were good especially because of the provided reasoning for answers. ometimes the questions felt too easy in the practice exams online.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Vincent V
            / %small March 2018 GAMSAT Student
          .pull-right
            = render_stars 8
      .col-lg-6.feat_col
        %p
          Awesome number of practice questions
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Michael S
            / %small March 2018 GAMSAT Student
          .pull-right
            = render_stars 10
      .col-lg-6.feat_col
        %p
          Online videos, notes, and tips we awesome!
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text An C
            / %small March 2018 GAMSAT Student
          .pull-right
            = render_stars 10

      .col-lg-6.feat_col
        %p
          The practice questions and the marked essays were the most helpful in improving my scores.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Thomas L
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 8

      .col-lg-6.feat_col
        .review_hover
          %p
            The physics portion of the course was done really well! The overall structure of the course was really helpful too...
          %p.review_text_wrapper
            The physics portion of the course was done really well! The overall structure of the course was really helpful too, by going through the important content within each section then following it up with relevant MCQs
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Vanessa C
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 10

      .col-lg-6.feat_col
        %p
          Assisted me in feeling confident and well prepared for the exam. Marked essays were amazing.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Tegan M
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 10

      .col-lg-6.feat_col
        .review_hover
          %p
            The admin staff were really great and provided awesome customer service. I had a small issue with my course...
          %p.review_text_wrapper
            The admin staff were really great and provided awesome customer service. I had a small issue with my course and they sorted it out straight away!
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Violet S
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 10

      .col-lg-6.feat_col
        %p
          Extensive exposure to GAMSAT style MCQs. Marked essays with good feedback, although hard to get in touch with marker at times.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Ruth U
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 8

      .col-lg-6.feat_col
        %p
          Provided content lectures and practice questions.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Jordan S
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 7

      .col-lg-6.feat_col
        .review_hover
          %p
            The written component of the GAMSAT was where I was lacking competence, and so I found that GradReady...
          %p.review_text_wrapper
            The written component of the GAMSAT was where I was lacking competence, and so I found that GradReady prepared me most for this area.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Gabrielle H
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 9

      .col-lg-6.feat_col
        %p
          S1 was my weakest point, I was honestly lost. The massive amount of S1 MCQs were really helpful.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Tim I
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 10

      .col-lg-6.feat_col
        %p
          Really good course, 10/10
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Obeng N
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 10

      .col-lg-6.feat_col
        %p
          Pretty expensive, but worth it in the end. I would probably take an attendence course next time.
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Zahan B
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 8

      .col-lg-6.feat_col
        %p
          No complaints, thanks
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Brendan B
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 8

      .col-lg-6.feat_col
        %p
          I tried the free trial and liked it, so paid for the full course. Glad I did!
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Rachael N
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 10

      .col-lg-6.feat_col
        %p
          MCQ bank by far was soo helpful. I had no idea how useful it would be until I started using it
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Fong M
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 8

      .col-lg-6.feat_col
        .review_hover
          %p
            The diagnostics assessment and course videos are a great way for a beginner like me to start my GAMSAT study. I liked...
          %p.review_text_wrapper
            The diagnostics assessment and course videos are a great way for a beginner like me to start my GAMSAT study. I liked the nice, easy transition into the harder stuff - certainly would recommend!
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Edward K
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 10

      .col-lg-6.feat_col
        %p
          I didn't use it much, but seemed good
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Xu V
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 7

      .col-lg-6.feat_col
        %p
          My friend used this course last year and told me about it. Very interesting and good content, I liked
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Jonas P
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 10

      .col-lg-6.feat_col
        %p
          Had no idea this stuff was online, so far so good!
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Bart O
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 8

      .col-lg-6.feat_col
        .review_hover
          %p
            I think the best feature is the MCQ bank, it gave me a good idea how I was travelling (I struggled with...
          %p.review_text_wrapper
            I think the best feature is the MCQ bank, it gave me a good idea how I was travelling (I struggled with S1 and I definitely improved)
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Ellen S
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 8

      .col-lg-6.feat_col
        .review_hover
          %p
            You can compare your results with other people taking the course. It gives you a percentile ranking...
          %p.review_text_wrapper
            You can compare your results with other people taking the course. It gives you a percentile ranking which I found very intuitive. Great stuff
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Alexandra V
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 10

      .col-lg-6.feat_col
        %p
          Really helpful
        .col-lg-12.pad_lt.pad_rt
          .pull-left
            %span.gmsat_text Natasha R
            / %small March 2017 GAMSAT Student
          .pull-right
            = render_stars 8
