.page_Wrapper.width100
  .header
    .top_header
      .head_title
        %h2
          Practice
          = succeed "est" do
            %span.tile_t T
    .btm_header.padd
      %a.calc.ins{"data-target" => "#instructions_modal", "data-toggle" => "modal", href: "#"}
        %i.fa.fa-file-text{"aria-hidden" => "true"}>
        Ins
        %span> t
        ructions
  .faq_head.width100
    %h3.fqq_hdng Postscore: see which items are incorrect and return to them to see the solution
  .para_contant.faq_contant.contant_scroll
    #accordionExample.test_score
      .card
        #headingOne.card-header
          %h2.mb-0
            %button.btn.btn-link{"data-target" => "#collapseOne", "data-toggle" => "collapse", type: "button"}
              %i.fa.fa-plus-square-o{"aria-hidden" => "true"}>
              Practice Material - Practice Test A - VR Section
              %span ( 44 Questions , 44 Incorrect )
        #collapseOne.collapse.in{"aria-labelledby" => "headingOne", "data-parent" => "#accordionExample"}
          .card_body_wrap
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 1
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 2
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 3
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 4
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 4
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 6
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 7
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 8
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 9
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 10
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 11
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 12
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 13
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 14
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 15
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 16
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 17
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 18
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 19
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 20
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 21
              .ques_option
                %a{href: "#"} Incomplete
      .card
        #headingTwo.card-header
          %h2.mb-0
            %button.btn.btn-link.collapsed{"data-target" => "#collapseTwo", "data-toggle" => "collapse", type: "button"}
              %i.fa.fa-plus-square-o{"aria-hidden" => "true"}>
              Practice Material - Practice Test A - DM Section
              %span ( 29 Questions , 29 Incorrect )
        #collapseTwo.collapse{"aria-labelledby" => "headingTwo", "data-parent" => "#accordionExample"}
          .card_body_wrap
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 1
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 2
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 3
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 4
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 4
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 6
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 7
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 8
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 9
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 10
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 11
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 12
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 13
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 14
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 15
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 16
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 17
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 18
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 19
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 20
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 21
              .ques_option
                %a{href: "#"} Incomplete
      .card
        #headingThree.card-header
          %h2.mb-0
            %button.btn.btn-link.collapsed{"data-target" => "#collapseThree", "data-toggle" => "collapse", type: "button"}
              %i.fa.fa-plus-square-o{"aria-hidden" => "true"}>
              Practice Material - Practice Test A - QR Section
              %span ( 36 Questions , 36 Incorrect )
        #collapseThree.collapse{"aria-labelledby" => "headingThree", "data-parent" => "#accordionExample"}
          .card_body_wrap
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 1
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 2
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 3
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 4
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 4
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 6
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 7
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 8
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 9
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 10
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 11
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 12
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 13
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 14
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 15
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 16
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 17
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 18
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 19
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 20
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 21
              .ques_option
                %a{href: "#"} Incomplete
      .card
        #headingFour.card-header
          %h2.mb-0
            %button.btn.btn-link.collapsed{"data-target" => "#collapseFour", "data-toggle" => "collapse", type: "button"}
              %i.fa.fa-plus-square-o{"aria-hidden" => "true"}>
              Practice Material - Practice Test A - AR SectionSection
              %span ( 55 Questions , 55 Incorrect )
        #collapseFour.collapse{"aria-labelledby" => "headingFour", "data-parent" => "#accordionExample"}
          .card_body_wrap
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 1
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 2
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 3
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 4
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 4
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 6
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 7
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 8
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 9
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 10
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 11
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 12
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 13
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 14
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 15
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 16
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 17
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 18
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 19
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 20
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 21
              .ques_option
                %a{href: "#"} Incomplete
      .card
        #headingFive.card-header
          %h2.mb-0
            %button.btn.btn-link.collapsed{"data-target" => "#collapseFive", "data-toggle" => "collapse", type: "button"}
              %i.fa.fa-plus-square-o{"aria-hidden" => "true"}>
              Practice Material - Practice Test A - SJT Section
              %span ( 69 Questions , 69 Incorrect )
        #collapseFive.collapse{"aria-labelledby" => "headingFive", "data-parent" => "#accordionExample"}
          .card_body_wrap
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 1
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 2
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 3
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 4
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 4
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 6
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 7
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 8
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 9
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 10
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 11
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 12
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 13
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 14
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 15
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 16
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 17
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 18
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 19
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 20
              .ques_option
                %a{href: "#"} Incomplete
            .card-body
              .ques_flag
                %a.calc{href: "#"}
                  %i.fa.fa-flag-checkered{"aria-hidden" => "true"}
                  Question 21
              .ques_option
                %a{href: "#"} Incomplete
  .footer.final_step_ftr
    .end_exam
      %button.ftr_btn.btn_bdr_rgt{"data-target" => "#last_end_review_modal", "data-toggle" => "modal"}
        %i.fa.fa-step-forward{"aria-hidden" => "true"}
        = succeed "nd" do
          %span e
    .end_exam.step_btn_wrap
      %button.ftr_btn.btn_bdr_lft
        %i.flg_mrg5.fa.fa-flag-checkered{"aria-hidden" => "true"}>
        Review
        = succeed "ll" do
          %span A
      %button.ftr_btn.btn_bdr_lft
        %i.flg_mrg5.fa.fa-times{"aria-hidden" => "true"}>
        Review
        = succeed "ncomplete" do
          %span I
      %button.ftr_btn.btn_bdr_lft
        %i.flg_mrg5.fa.fa-flag-checkered{"aria-hidden" => "true"}>
        Re
        %span> v
        iew Flagged
#last_end_review_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog.exam_ready_modal.end_review_modal{role: "document"}
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title End Review
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          / %img{src: "images/close.png"}/
          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/ucat/close.png"
      .modal-body
        %p{style: "margin-bottom: 15px;"}
          / %img{src: "images/warning.png"}>/
          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/ucat/warning.png"
          You have chosen to end the current review, but have
          36 incomplete questions.  If you click Yes, you will NOT
          be able to return to this review
        %p Are you sure you want to end this review?
      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", onclick: "window.location.href='/ucat/dashboard/home'", type: "button"} yes
        %button.btn.btn-secondary{"data-dismiss" => "modal", type: "button"} no

#instructions_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog.exam_ready_modal.instctn_modal{role: "document"}
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title Review Instructions
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/ucat/close.png"
      .modal-body
        %p
          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/ucat/que_not.png"
          Below is a summary of your answers. You can review your questions in three (3) different ways.
        %p The buttons in the lower right-hand corner correspond to these choices:
        %ul.mdl_list
          %li Review all of your questions and answers.
          %li Review questions that are incomplete.
          %li Review questions that are flagged for review. (Click the 'flag' icon to change the flag for review status.)
      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", type: "button"} close

:javascript
  $(document).ready(function(){
    // Add minus icon for collapse element which is open by default
    $(".collapse.show").each(function(){
      $(this).prev(".card-header").find(".fa").addClass("fa-minus-square-o").removeClass("fa-plus-square-o");
    });

    // Toggle plus minus icon on show hide of collapse element
    $(".collapse").on('show.bs.collapse', function(){
      $(this).prev(".card-header").find(".fa").removeClass("fa-plus-square-o").addClass("fa-minus-square-o");
    }).on('hide.bs.collapse', function(){
      $(this).prev(".card-header").find(".fa").removeClass("fa-minus-square-o").addClass("fa-plus-square-o");
    });
  });
