.panel.panel-default
  .panel-body
    = simple_form_for(@surveys_survey_question) do |f|
      = f.error_notification

      .form-inputs
        - if params[:survey_id]
          = f.association :survey, :selected => params[:survey_id]
        - else
          = f.association :survey
        = f.input :question, as: :ckeditor, :input_html => { :ckeditor => { :height => 400 } }

      .form-actions
        = f.button :submit, class: 'btn btn-primary'
