%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    :css
      *{
      padding: 0px;
      margin: 0px;
      }
  %body
    .wrapper{style: "padding: 30px 0px; font-family:arial"}
      %table{style: "margin: 0 auto;max-width: 810px;width: 100%; font-family:arial;margin-top: 50px;padding: 12px 12px;"}
        %tbody
          -if @student.present?
            %tr
              %td{style: "font-weight: 700;"}
                = "Dear #{@student.first_name} #{@student.last_name},"
            %tr
              %td{style: "margin-top: 10px; float: left; line-height: 25px; font-size: 15px;"}
                = "Thank you for purchasing from Gradready."
            %tr
              %td{style: "font-weight: 700; margin-top: 10px; float: left; line-height: 25px; font-size: 15px;"}
                Please ensure the following invoice is correct
            %tr
              %td{style: "margin-top: 10px; float: left; line-height: 25px; font-size: 15px;"}
                Your orders unique reference number is <b> #{@reference_number} </b>
            %tr
              %td{style: "margin-top: 10px; float: left; line-height: 25px; font-size: 15px;"}
                Your total amount is <b> #{number_to_currency @amount} </b>
            %tr
              %td{style: "margin-top: 10px; float: left; line-height: 25px; font-size: 15px;"}
                Your online material has been activated. You should receive an email regarding the individual purchases


          %tr
            %td{style: "font-weight: 700; margin-top: 10px; float: left; line-height: 25px; font-size: 15px;"}
              "Order #{@order.reference_number} was successfully purchased"
          %tr
            %td{style: "font-weight: 700; margin-top: 10px; float: left; line-height: 25px; font-size: 15px;"}
              Invoice
          %tr
            %td{style: "margin-top: 22px; float: left; line-height: 25px;font-size: 15px;"}
              %table{class:'table'}
                %theader
                  %tr
                    %td Item
                    %td Description
                    %td Amount
                    %td GST
                    %td Method Fee (if present)
                    %td Discount
                    %td Total
                %tbody
                  -@purchase_items.each do |item|

                    %tr
                      %td= "#{item.purchasable_type}"
                      %td= "#{item.purchase_description}"
                      %td= "#{number_to_currency(item.initial_cost).to_s}"
                      %td= "#{number_to_currency(item.added_gst).to_s}"
                      - if item.method_fee.present?
                        %td= "#{number_to_currency(item.method_fee).to_s}"
                      -else
                        %td N/A
                      %td= "#{number_to_currency(item.discount_applied).to_s}"
                      %td= "#{number_to_currency(item.total_item_cost ).to_s}"
                %tfoot
                  %td Total Amount:
                  %td
                  %td= "#{number_to_currency(@order.total_initial_cost).to_s}"
                  %td= "#{number_to_currency(@order.total_added_gst).to_s}"
                  %td= "#{number_to_currency(@order.total_method_fee).to_s}"
                  %td= "#{number_to_currency(@order.total_discount).to_s}"
                  %td
                    %b= "#{number_to_currency(@order.total_cost).to_s}"

          %tr
            %td{style: "margin-top: 22px; line-height: 25px; margin-bottom: 60px; float: left; font-size: 15px;"}
              -if @order.generated_promo.present? && @order.generated_promo.token.present?
                %p Share this link to give discounts to friends and earn a 5% cashback for each person you refer!
                %p= link_to user_promo_link_url(@order.generated_promo.token), user_promo_link_url(@order.generated_promo.token), style: "color: #007833; text-decoration: underline; font-style: italic; font-weight: 700;"

          %tr
            %td{style: "margin-bottom: 24px; float: left;font-size: 15px;"}
              Kind regards,
          %tr
            %td{style: "margin-bottom: 34px; float: left;font-size: 15px;"}
              GradReady Student Success Team


