= simple_form_for( @mock_essay_feedback, url: mock_essay_mock_essay_feedback_path(mock_essay_id: @mock_exam_essay.id, id: @mock_essay_feedback.id)) do |f|
  .panel.panel-warning
    .panel-heading
      .panel-title
        %h3
          - index = params[:index].to_i + 1
          %strong= "Essay #{index} Tutor Feedback"
    .panel-body.line-40
      .row
        .col-md-2
          %strong= "Essay #{index}"
        .col-md-8
          %strong
            = @mock_essay_feedback.mock_essay.title
        .col-md-2
          %strong= link_to 'Download', download_file_mock_essay_path(@mock_essay_feedback, format: :pdf), class: 'btn btn-info btn-sm'
      .row
        .col-md-12
          %strong Give Rating out of 100
          .form-inputs{class: ('has_error_mock' if flash[:error].present?)}
            = f.input :rating, :as => :select, :collection => (1..100), selected: @mock_essay_feedback.rating.to_i, label: false
      .row
        .col-md-12
          %strong Feedback
          .form-inputs{class: ('has_error_mock' if flash[:error].present?)}
            = f.input :response, label: false, as: :ckeditor, input_html: { ckeditor: { height: 200 }, id: "mock_essay_feedback_response"}
      .row
        .col-md-12
          .form-actions
            = f.button :submit, :class => "btn btn-gradready green", value: "Update Feedback"
