.container.scrolling_table#gamsat-courses-comparison
  .table_scroll.tbl_wrap
    .row.m_zero.desk_row
      .col-md-4.col-sm-4.padd0.pckge_cntnt_col
        .price_table_container
          .price_table_heading.bg_transparent.new_empty_space &nbsp
          .price_table_body.flex_css.just_cntnt
            .tbl_row_col.grey_bg_col
              .price_table_row.pkg_bg
                %h4
                  %strong ONLINE COMPONENT
            .tbl_row_col.grey_bg_col.sec_sub_lvl
              .price_table_row.pkg_bg
                %h4
                  %strong PREPARATION MATERIAL
              .price_table_row
                Diagnostic Assessment
                .price_tbl_row_hover
                  60 question test to assess your familiarity of the fundamental concepts covered in the GAMSAT
                  %sup ®
                  exam.
              .price_table_row
                MCQs with Full Explanations
                .price_tbl_row_hover 4000+ MCQs which are systematically categorised in 43 subtopics.
              .price_table_row
                MCQ Tracking System
                .price_tbl_row_hover Able to track your weakness and point you to the appropriate corresponding material.
              .price_table_row
                Exams (Online or Paper)
                .price_tbl_row_hover
                  GAMSAT
                  %sup ®
                  style exams.
              .price_table_row
                Advanced Auto Reporting System
                .price_tbl_row_hover See exact points of your weaknesses and compare your performance with 1000s of other GradReady students in each section and overall.
              .price_table_row
                1200+ Page Textbook
                .price_tbl_row_hover
                  Textbook comprehensively covers the GAMSAT
                  %sup ®
                  exam topics.
              .price_table_row
                22+ Hours of Videos
                .price_tbl_row_hover
                  %ul
                    %li Humanities (5 hrs).
                    %li Physics (3 hrs).
                    %li Biology (7 hrs).
                    %li Chemistry (7 hrs).
            .tbl_row_col.grey_bg_col.sec_sub_lvl
              .price_table_row.pkg_bg
                %h4
                  %strong LEARNING TOOLS
              .price_table_row
                Study Timeline and Prep Guide
                .price_tbl_row_hover
                  Helping to navigate through the GAMSAT
                  %sup ®
                  exam journey.
              .price_table_row
                Essay Guide
                .price_tbl_row_hover Detailed 8-step guide to crafting the perfect essay.
              .price_table_row
                %span
                  GAMSAT
                  %sup ®
                  Preparation Strategy
                  .price_tbl_row_hover
                    Perform your best by understanding what makes the GAMSAT
                    %sup ®
                    exam different to other tests.
              .price_table_row
                Quality Assurance System
                .price_tbl_row_hover Able to provide feedback on everything within the GradReady web system - from MCQs to videos.
              .price_table_row
                Cross Referencing System
                .price_tbl_row_hover Match MCQs to precise videos and textbook chapters.
              .price_table_row
                Supplemental Resources
                .price_tbl_row_hover Access additional documents and resources uploaded by our tutors.
              / .price_table_row
              /   My Performance Profile
              /   %sup{style: "margin-left: 0px;"} ®
              /   .price_tbl_row_hover Compare your progress with GradReady students across Australia.
              .price_table_row
                Mobile Friendly - Study on the Go
                .price_tbl_row_hover You are able to access every single one of our desktop features seamlessly via your mobile
            .tbl_row_col.grey_bg_col
              #go_down_live.price_table_row.pkg_bg
                %h4
                  %strong LIVE COMPONENT (100+ hours, 19 days)
              .price_table_row
                Weekly Support Sessions
                .price_tbl_row_hover At GradReady we offer extra online sessions to support you through the multi-month long preparation process.
              .price_table_row
                Study Buddy Matching
                .price_tbl_row_hover We will help connect you with 1 or more of the thousands of students who use GradReady's services every year.
              .price_table_row
                Live Classes (6 core days)
                .price_tbl_row_hover
                  %ul
                    %li Humanities (9 hrs).
                    %li Physics (7 hrs).
                    %li Biology (8 hrs).
                    %li Chemistry (7 hrs).
              .price_table_row
                Mock Exam + Recap (2 core days)
                .price_tbl_row_hover Providing students with the most realistic mock exam experience available.
              .price_table_row
                Mock Exam Percentile Reporting
                .price_tbl_row_hover Compare your performance with GradReady students across Australia.
              .price_table_row
                Online Interactive Tutorial (8 optional days)
                .price_tbl_row_hover Throughout the evenings of 2 weeks, we will be repeating the concepts and content covered in our 6 day MCQ PBL courses again online through interactive webinars.
              .price_table_row
                Weekend Tutorial (2 optional days)
                .price_tbl_row_hover Recapping some of the issues covered in the 6 day course - for those who want to be taken through some of the content just 1 more time.
              .price_table_row
                Home Mock Exam Day (1 optional day)
                .price_tbl_row_hover Join other students online from your home and complete the day together under real time pressure. Just like the attendance Mock Exam Day, you will be able to receive a percentile ranking and be walked through the answers.

          .price_table_body.first_pkg_visible
            .tbl_row_col.grey_bg_col.mtop169
              .price_table_row.pkg_bg.new_padd_height
                %h4
                  %strong ONLINE COMPONENT
            .tbl_row_col.grey_bg_col.sec_sub_lvl
              .price_table_row.pkg_bg.new_padd_height
                %h4
                  %strong TARGETTED 1 ON 1 TUTOR ASSISTANCE
              .price_table_row
                Marked Essays
                .price_tbl_row_hover Our Tutors provide detailed feedback and advice to ensure you improve your essay writing skills.
              .price_table_row
                GetClarity
                %sup ®
                System for MCQ
                .price_tbl_row_hover Ask our excellent tutors relevant questions about MCQs at the click of a button.
              .price_table_row
                GetClarity
                %sup ®
                System for Online Exams
                .price_tbl_row_hover Ask our excellent tutors relevant questions about Online Exams at the click of a button.
              .price_table_row
                GetClarity
                %sup ®
                System for Videos
                .price_tbl_row_hover Ask our excellent tutors relevant questions about Videos at the click of a button.
          .price_table_body.first_pkg_visible.second_pkg_visible
            .tbl_row_col.grey_bg_col.mtop169
              .price_table_row.pkg_bg
                %h4
                  %strong LIVE COMPONENT
              .price_table_row
                Diagnostics Results Discussion
                .price_tbl_row_hover
                  Formulate a plan of attack with our expert tutors.
              .price_table_row
                Private Tutoring sessions
                .price_tbl_row_hover
                  Receive 1 on 1 assistance from the best GAMSAT
                  %sup ®
                  tutors.
      / .col-md-3.col-sm-3.col-xs-3.padd0.pckg_col
      /   .price_table_container
      /     .float-shadow
      /       .price_table_heading STARTER
      /       .price_table_body.flex_css
      /         .tbl_row_col.grey_bg_col
      /           .price_table_row.warning-bg.bg_transparent.pckg_ht
      /             %strong  
      /           .price_table_row  
      /         .tbl_row_col.wht_bg_col
      /           .price_table_row  
      /           .price_table_row
      /             %strong 500
      /           .price_table_row
      /             = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
      /           .price_table_row  
      /           .price_table_row  
      /           .price_table_row
      /             = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
      /           .price_table_row  
      /         .tbl_row_col.grey_bg_col
      /           .price_table_row.warning-bg.bg_transparent.pckg_ht
      /             %strong  
      /         .tbl_row_col.wht_bg_col
      /           .price_table_row
      /             = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
      /           .price_table_row
      /             = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
      /           .price_table_row
      /             = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
      /           .price_table_row
      /             = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
      /           .price_table_row
      /             = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
      /           .price_table_row
      /             = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
      /         .tbl_row_col.grey_bg_col
      /           .price_table_row.warning-bg.bg_transparent
      /             %strong  
      /         .tbl_row_col.wht_bg_col
      /           .price_table_row  
      /           .price_table_row  
      /           .price_table_row  
      /           .price_table_row  
      /           .price_table_row  
      /         .tbl_row_col.wht_bg_col
      /           .pkg_cost
      /             %span Component value
      /             %a.strike 333
      /             %span.marg_4
      /               = gamsat_product_info['starter'][:early_bird] == true ? "Early Bird" : "  "
      /             %span.fnt_size.marg_4
      /               %strong
      /                 - st_price = gamsat_product_info['starter'][:price]
      /                 - if st_price
      /                   = st_price.round.to_s
      /             %span.fnt_size.price_fnt
      /               - if st_price
      /                 = "+ 10% GST = #{(st_price * 1.1 ).round}"
      /               .clearfix
      /             %a.buy_btn{:type => "click", :href => dynamic_product_version_uri("starter", "gamsat")} Secure your place
      /             %span.fs13 Starter Course
      .col-md-4.col-sm-4.padd0.pckg_col
        .price_table_container
          .scond_levl_hover
            .float-shadow
              .price_table_heading
                %h3
                  ONLINE
                  / <p>(ESSENTIALS)</p>
              .price_table_body.flex_css
                .tbl_row_col.grey_bg_col
                  .price_table_row.primary-bg.bg_transparent.pckg_ht
                    %strong  
                  .price_table_row  
                .tbl_row_col.wht_bg_col
                  .price_table_row
                    = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
                  .price_table_row
                    %strong 4000+
                  .price_table_row
                    = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
                  .price_table_row
                    %strong 8
                  .price_table_row
                    = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
                  .price_table_row
                    = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
                  .price_table_row
                    = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
                .tbl_row_col.grey_bg_col
                  .price_table_row.warning-bg.bg_transparent.pckg_ht
                    %strong  
                .tbl_row_col.wht_bg_col
                  .price_table_row
                    = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
                  .price_table_row
                    = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
                  .price_table_row
                    = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
                  .price_table_row
                    = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
                  .price_table_row
                    = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
                  .price_table_row
                    = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
                  .price_table_row
                    = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
                  .price_table_row
                    = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
                .tbl_row_col.grey_bg_col
                  .price_table_row.warning-bg.bg_transparent
                    %strong  
                .tbl_row_col.wht_bg_col
                  .price_table_row
                    = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
                  .price_table_row
                    = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
                  .price_table_row  
                  .price_table_row  
                  .price_table_row  
                  .price_table_row  
                  .price_table_row
                  .price_table_row
                .tbl_row_col
                  .pkg_cost.online_frst_pkg#sign_up
                    %span Component value
                    %a.strike 979

                    %span.marg_4
                      = gamsat_product_info['online-basic'][:early_bird] == true ? "Early Bird" : "  "
                    %span.fnt_size.marg_4
                      %strong
                        - oe_price = gamsat_product_info['online-basic'][:price]
                        = oe_price.round.to_s
                    %span.fnt_size.price_fnt
                      = "+ 10% GST = #{(oe_price * 1.1 ).round}"
                    .clearfix
                    %a.buy_btn{:type => "click", :href => dynamic_product_version_uri("online-basic", "gamsat")} Secure your place
                    %span.fs13 Essential Online Course
            .price_table_body.second_level_col.online_second
              .tbl_row_col.grey_bg_col
                .price_table_row.warning-bg.bg_transparent.pckg_ht
                  %strong  
                .price_table_row
                  %strong Includes everything above plus:
              .tbl_row_col.wht_bg_col
                .price_table_row
                  %strong 10
                .price_table_row
                  = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
              .tbl_row_col.wht_bg_col
                .price_table_row
                  = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
              .tbl_row_col.wht_bg_col
                .price_table_row
                  = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
              .tbl_row_col
                .pkg_cost
                  %span Component value
                  %a.strike 1632
                  %span.marg_4
                    = gamsat_product_info['online'][:early_bird] == true ? "Early Bird" : "  "
                  %span.fnt_size.marg_4
                    %strong
                      - oc_price = gamsat_product_info['online'][:price]
                      = oc_price.round.to_s
                  %span.fnt_size.price_fnt
                    = "+ 10% GST = #{(oc_price * 1.1 ).round}"
                  .clearfix
                  %a.buy_btn{:type => "click", :href => dynamic_product_version_uri("online", "gamsat")} Secure your place
                  %span.fs13 Comprehensive Online Course
          .price_table_body.bg_transparent
            .tbl_row_col
              .price_table_row  
            .tbl_row_col
              .price_table_row  
      .col-md-4.col-sm-4.padd0.pckg_col
        .price_table_container
          .third_levl_hover
            .scond_levl_hover
              .float-shadow
                .price_table_heading
                  %h3
                    ATTENDANCE
                    / <p>(ESSENTIALS)</p>
                .price_table_body.flex_css
                  .tbl_row_col.grey_bg_col
                    .price_table_row.success-bg.bg_transparent.pckg_ht
                      %strong  
                    .price_table_row  
                  .tbl_row_col.wht_bg_col
                    .price_table_row
                      = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
                    .price_table_row
                      %strong 4000+
                    .price_table_row
                      = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
                    .price_table_row
                      %strong 8
                    .price_table_row
                      = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
                    .price_table_row
                      = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
                    .price_table_row
                      = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
                  .tbl_row_col.grey_bg_col
                    .price_table_row.warning-bg.bg_transparent.pckg_ht
                      %strong  
                  .tbl_row_col.wht_bg_col
                    .price_table_row
                      = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
                    .price_table_row
                      = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
                    .price_table_row
                      = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
                    .price_table_row
                      = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
                    .price_table_row
                      = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
                    .price_table_row
                      = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
                    .price_table_row
                      = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
                    .price_table_row
                      = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
                  .tbl_row_col.grey_bg_col
                    .price_table_row.warning-bg.bg_transparent.pckg_ht
                      %strong  
                  .tbl_row_col.wht_bg_col
                    .price_table_row
                      = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
                    .price_table_row
                      = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
                    .price_table_row
                      = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
                    .price_table_row
                      = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
                    .price_table_row
                      = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
                    .price_table_row
                      = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
                    .price_table_row
                      = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
                    .price_table_row
                      = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
                  .tbl_row_col
                    .pkg_cost.attend_frst_pkg
                      %span Component value
                      %a.strike 3055
                      %span.marg_4
                        = gamsat_product_info['attendance-basic'][:early_bird] == true ? "Early Bird" : "  "
                      %span.fnt_size.marg_4
                        %strong
                          - ae_price = gamsat_product_info['attendance-basic'][:price]
                          = ae_price.round.to_s
                      %span.fnt_size.price_fnt
                        = "+ 10% GST = #{(ae_price * 1.1 ).round}"
                      .clearfix
                      %a.buy_btn{:type => "click", :href => dynamic_product_version_uri("attendance-basic", "gamsat")} Secure your place
                      %span.fs13 Essential Attendance Course
              .price_table_body.second_level_col.attendence_second
                .price_table_body
                  .tbl_row_col.grey_bg_col
                    .price_table_row.warning-bg.bg_transparent.pckg_ht
                      %strong  
                    .price_table_row
                      %strong Includes everything above plus:
                  .tbl_row_col.wht_bg_col
                    .price_table_row
                      %strong 10
                    .price_table_row
                      = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
                  .tbl_row_col.wht_bg_col
                    .price_table_row
                      = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
                  .tbl_row_col.wht_bg_col
                    .price_table_row
                      = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
                  .tbl_row_col
                    .pkg_cost.attend_second_pkg
                      %span Component value
                      %a.strike 3493
                      %span.marg_4
                        = gamsat_product_info['attendance'][:early_bird] == true ? "Early Bird" : "  "
                      %span.fnt_size.marg_4
                        %strong
                          - ac_price = gamsat_product_info['attendance'][:price]
                          = ac_price.round.to_s
                      %span.fnt_size.price_fnt
                        = "+ 10% GST = #{(ac_price * 1.1 ).round}"
                      .clearfix
                      %a.buy_btn{:type => "click", :href => dynamic_product_version_uri("attendance", "gamsat")} Secure your place
                      %span.fs13 Comprehensive Attendance Course
            .price_table_body.third_level_col
              .tbl_row_col.grey_bg_col
                .price_table_row
                  %strong Includes everything above plus:
              .tbl_row_col.wht_bg_col
                .price_table_row
                  = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
              .tbl_row_col.wht_bg_col
                .price_table_row
                  %strong 6
              .tbl_row_col
                .pkg_cost
                  %span Component value
                  %a.strike 4254
                  %span.marg_4
                    = gamsat_product_info['attendance-all'][:early_bird] == true ? "Early Bird" : "  "
                  %span.fnt_size.marg_4
                    %strong
                      - acc_price = gamsat_product_info['attendance-all'][:price]
                      = acc_price.round.to_s
                  %span.fnt_size.price_fnt
                    = "+ 10% GST = #{(acc_price * 1.1 ).round}"
                  .clearfix
                  %a.buy_btn{:type => "click", :href => dynamic_product_version_uri("attendance-all", "gamsat")} Secure your place
                  %span.fs13 Complete Care Course
      .text-center.gst
        %a{href: faq_topic_path(type: 'gamsat-preparation-courses', topic: 'enrolment-and-payment', anchor: 'What is GST')} * What is GST?

    .row.mobile_row.m_zero
      .col-xs-12
        %ul.cstm_tab_lst.wdth100
          %li.active
            %label.cstm_label
              Online
              %input#online.gam_courses{:checked => "checked", :name => "gam-radio-group", :type => "radio"}/
              %span.checkmark

          %li
            %label.cstm_label
              Attendance
              %input#attendance.gam_courses{:name => "gam-radio-group", :type => "radio"}/
              %span.checkmark


      .tbl_wrapper.wdth100
        #gam_tbl.online
          .row.mobile_row.m_zero
            .col-xs-12
              .price_table_body.flex_css.just_cntnt
                .tbl_row_col.grey_bg_col
                  .price_table_row.mob_pkg_bg
                    %strong ONLINE COMPONENT
                .tbl_row_col.grey_bg_col.sec_sub_lvl
                  .mobile_tbl_row.pkg_bg.wdth100
                    .panel-heading
                      %a{:href => "#ol_prep", "data-toggle" => "collapse"}
                        %strong PREPARATION MATERIALS
                        %i.fa.fa-plus{"aria-hidden" => "true"}

                    #ol_prep.collapse
                      .price_table_row
                        %span.tbl_col1
                          Diagnostic Assessment
                          .price_tbl_row_hover
                            60 question test to assess your familiarity of the fundamental concepts covered in the GAMSAT
                            %sup ®
                            exam.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'

                      .price_table_row.bg_white
                        %span.tbl_col1
                          MCQs with Full Explanations
                          .price_tbl_row_hover 4000+ MCQs which are systematically categorised in 43 subtopics.
                        %span.tbl_col2
                          %strong 4000+

                      .price_table_row
                        %span.tbl_col1
                          MCQ Tracking System
                          .price_tbl_row_hover Able to track your weakness and point you to the appropriate corresponding material.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'

                      .price_table_row.bg_white
                        %span.tbl_col1
                          Online Exams
                          .price_tbl_row_hover
                            GAMSAT
                            %sup ®
                            style exams.
                        %span.tbl_col2
                          %strong 8

                      .price_table_row
                        %span.tbl_col1
                          Advanced Auto Reporting System
                          .price_tbl_row_hover See exact points of your weaknesses and compare your performance with 1000s of other GradReady students in each section and overall.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'

                      .price_table_row.bg_white
                        %span.tbl_col1
                          1200+ Page Textbook
                          .price_tbl_row_hover
                            Textbook comprehensively covers the GAMSAT
                            %sup ®
                            exam topics.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'

                      .price_table_row
                        %span.tbl_col1
                          22+ Hours of Videos
                          .price_tbl_row_hover
                            %ul
                              %li Humanities (5 hrs).
                              %li Physics (3 hrs).
                              %li Biology (7 hrs).
                              %li Chemistry (7 hrs).
                        %span.tbl_col2
                          = image_tag 'public_pages/right_tick.png'

                .tbl_row_col.grey_bg_col.sec_sub_lvl
                  .mobile_tbl_row.pkg_bg.wdth100
                    .panel-heading
                      %a{:href => "#ol_learning_tool", "data-toggle" => "collapse"}
                        %strong LEARNING TOOLS
                        %i.fa.fa-plus{"aria-hidden" => "true"}
                    #ol_learning_tool.collapse
                      .price_table_row
                        %span.tbl_col1
                          Study Timeline and Prep Guide
                          .price_tbl_row_hover
                            Helping to navigate through the GAMSAT
                            %sup ®
                            exam journey.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'

                      .price_table_row.bg_white
                        %span.tbl_col1
                          Essay Guide
                          .price_tbl_row_hover Detailed 8-step guide to crafting the perfect essay.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'

                      .price_table_row
                        %span.tbl_col1
                          GAMSAT
                          %sup ®
                          Strategy Preparation
                          .price_tbl_row_hover
                            Perform your best by understanding what makes the GAMSAT
                            %sup ®
                            exam different to other tests.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'

                      .price_table_row.bg_white
                        %span.tbl_col1
                          Quality Assurance System
                          .price_tbl_row_hover Able to provide feedback on everything within the GradReady web system - from MCQs to videos.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'

                      .price_table_row
                        %span.tbl_col1
                          Cross Referencing System
                          .price_tbl_row_hover Match MCQs to precise videos and textbook chapters.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'

                      .price_table_row.bg_white
                        %span.tbl_col1
                          Supplemental Resources
                          .price_tbl_row_hover Access additional documents and resources uploaded by our tutors.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'

                      / .price_table_row
                      /   %span.tbl_col1
                      /     My Performance Profile
                      /     %sup{style: "margin-left: 0px;"} ®
                      /     .price_tbl_row_hover Compare your progress with GradReady students across Australia.
                      /   %span.tbl_col2
                      /     = image_tag 'public_pages/right_tick.png'

                      .price_table_row.prfrmnc_pro.bg_white
                        %span.tbl_col1
                          Mobile Friendly - Study on the Go
                          .price_tbl_row_hover You are able to access every single one of our desktop features seamlessly via your mobile
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'
                .tbl_row_col.grey_bg_col
                  .price_table_row.mob_pkg_bg
                    %a.diffr_anchor{:href => "#ol_live", "data-toggle" => "collapse"}
                      %strong LIVE COMPONENT (100+ hours, 19 days)
                      %i.fa.fa-plus{"aria-hidden" => "true"}
                  #go_down_live.mobile_tbl_row.pkg_bg.wdth100
                    #ol_live.collapse
                      .price_table_row
                        %span.tbl_col1
                          Weekly Support Sessions
                          .price_tbl_row_hover
                            At GradReady we offer extra online sessions to support you through the multi-month long preparation process.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'

                      .price_table_row.bg_white
                        %span.tbl_col1
                          Study Buddy Matching
                          .price_tbl_row_hover
                            We will help connect you with 1 or more of the thousands of students who use GradReady's services every year.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'

                  .price_table_body.flex_css.just_cntnt
                    %a#online_gamsat_upgrade.cstm_green_txt.add_mob_course{:href => "#comp_ol", "data-toggle" => "collapse"}
                      %strong Upgrade to Comprehensive Online Course
                      %i.fa.fa-plus{"aria-hidden" => "true"}

                #comp_ol.collapse.wdth100
                  .tbl_row_col.grey_bg_col
                    .price_table_row.mob_pkg_bg
                      %strong ONLINE COMPONENT
                  .tbl_row_col.grey_bg_col.sec_sub_lvl
                    .mobile_tbl_row.pkg_bg.wdth100
                      .price_table_row.padd20
                        %strong Includes everything from the Essential course plus:
                      .panel-heading
                        %a{:href => "#ol_tutor", "data-toggle" => "collapse"}
                          %strong TARGETTED 1 ON 1 TUTOR ASSISTANCE
                          %i.fa.fa-plus{"aria-hidden" => "true"}
                      #ol_tutor.collapse
                        .price_table_row
                          %span.tbl_col1
                            Marked Essays
                            .price_tbl_row_hover Our Tutors provide detailed feedback and advice to ensure you improve your essay writing skills.
                          %span.tbl_col2
                            %strong 10

                        .price_table_row.bg_white
                          %span.tbl_col1
                            GetClarity
                            %sup ®
                            System for MCQ
                            .price_tbl_row_hover Ask our excellent tutors relevant questions about MCQs at the click of a button.
                          %span.tbl_col2
                            = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'

                        .price_table_row
                          %span.tbl_col1.dsp_block
                            GetClarity
                            %sup ®
                            System for Online Exams
                            .price_tbl_row_hover Ask our excellent tutors relevant questions about Online Exams at the click of a button.
                          %span.tbl_col2
                            = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'

                        .price_table_row.bg_white
                          %span.tbl_col1
                            GetClarity
                            %sup ®
                            System for Videos
                            .price_tbl_row_hover Ask our excellent tutors relevant questions about Videos at the click of a button.
                          %span.tbl_col2
                            = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'

                      .tbl_row_col.text-center
                        .pkg_cost
                          %span Component value
                          %a.strike 1632
                          %span.marg_4
                            = gamsat_product_info['online'][:early_bird] == true ? "Early Bird" : "  "
                          %span.fnt_size.marg_4
                            %strong
                              - oc_price = gamsat_product_info['online'][:price]
                              = oc_price.round.to_s
                          %span.fnt_size.price_fnt
                            = "+ 10% GST = #{(oc_price * 1.1 ).round}"
                          .clearfix
                          %a.buy_btn{:type => "click", :href => dynamic_product_version_uri("online", "gamsat")} Secure your place
                          %span.fs13 Comprehensive Online Course
                .tbl_row_col.grey_bg_col.sec_sub_lvl#online_downgrade_purchase
                  #go_down_live.mobile_tbl_row.pkg_bg.wdth100
                    .tbl_row_col.text-center
                      .pkg_cost.online_frst_pkg
                        %span Component value
                        %a.strike 979
                        %span.marg_4
                          = gamsat_product_info['online-basic'][:early_bird] == true ? "Early Bird" : "  "
                        %span.fnt_size.marg_4
                          %strong
                            - oe_price = gamsat_product_info['online-basic'][:price]
                            = oe_price.round.to_s
                        %span.fnt_size.price_fnt
                          = "+ 10% GST = #{(oe_price * 1.1 ).round}"
                        .clearfix
                        %a.buy_btn{:type => "click", :href => dynamic_product_version_uri("online-basic", "gamsat")} Secure your place
                        %span.fs13 Essential Online Course

          .row.mobile_row.m_zero
            .col-xs-12

        #gam_tbl.attendance
          .row.mobile_row.m_zero
            .col-xs-12
              .price_table_body.flex_css.just_cntnt
                .tbl_row_col.grey_bg_col
                  .price_table_row.mob_pkg_bg
                    %strong ONLINE COMPONENT
                .tbl_row_col.grey_bg_col.sec_sub_lvl
                  .mobile_tbl_row.pkg_bg.wdth100
                    .panel-heading
                      %a{:href => "#at_prep", "data-toggle" => "collapse"}
                        %strong PREPARATION MATERIALS
                        %i.fa.fa-plus{"aria-hidden" => "true"}
                    #at_prep.collapse
                      .price_table_row
                        %span.tbl_col1
                          Diagnostic Assessment
                          .price_tbl_row_hover
                            60 question test to assess your familiarity of the fundamental concepts covered in the GAMSAT
                            %sup ®
                            exam.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'

                      .price_table_row.bg_white
                        %span.tbl_col1
                          MCQs with Full Explanations
                          .price_tbl_row_hover 4000+ MCQs which are systematically categorised in 43 subtopics.
                        %span.tbl_col2
                          %strong 4000+

                      .price_table_row
                        %span.tbl_col1
                          MCQ Tracking System
                          .price_tbl_row_hover Able to track your weakness and point you to the appropriate corresponding material.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'

                      .price_table_row.bg_white
                        %span.tbl_col1
                          Exams (Online or Paper)
                          .price_tbl_row_hover
                            GAMSAT
                            %sup ®
                            style exams.
                        %span.tbl_col2
                          %strong 8

                      .price_table_row
                        %span.tbl_col1
                          Advanced Auto Reporting System
                          .price_tbl_row_hover See exact points of your weaknesses and compare your performance with 1000s of other GradReady students in each section and overall.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'

                      .price_table_row.bg_white
                        %span.tbl_col1
                          1200+ Page Textbook
                          .price_tbl_row_hover
                            Textbook comprehensively covers the GAMSAT
                            %sup ®
                            exam topics.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'

                      .price_table_row
                        %span.tbl_col1
                          22+ Hours of Videos
                          .price_tbl_row_hover
                            %ul
                              %li Humanities (5 hrs).
                              %li Physics (3 hrs).
                              %li Biology (7 hrs).
                              %li Chemistry (7 hrs).
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'

                .tbl_row_col.grey_bg_col.sec_sub_lvl
                  .mobile_tbl_row.pkg_bg.wdth100
                    .panel-heading
                      %a{:href => "#at_learn", "data-toggle" => "collapse"}
                        %strong LEARNING TOOLS
                        %i.fa.fa-plus{"aria-hidden" => "true"}
                    #at_learn.collapse
                      .price_table_row
                        %span.tbl_col1
                          Study Timeline and Prep Guide
                          .price_tbl_row_hover
                            Helping to navigate through the GAMSAT
                            %sup ®
                            exam journey.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'

                      .price_table_row.bg_white
                        %span.tbl_col1
                          Essay Guide
                          .price_tbl_row_hover Detailed 8-step guide to crafting the perfect essay.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'

                      .price_table_row
                        %span.tbl_col1
                          GAMSAT
                          %sup ®
                          Preparation Strategy
                          .price_tbl_row_hover
                            Perform your best by understanding what makes the GAMSAT
                            %sup ®
                            exam different to other tests.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'

                      .price_table_row.bg_white
                        %span.tbl_col1
                          Quality Assurance System
                          .price_tbl_row_hover Able to provide feedback on everything within the GradReady web system - from MCQs to videos.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'

                      .price_table_row
                        %span.tbl_col1
                          Cross Referencing System
                          .price_tbl_row_hover Match MCQs to precise videos and textbook chapters.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'

                      .price_table_row.bg_white
                        %span.tbl_col1
                          Supplemental Resources
                          .price_tbl_row_hover Access additional documents and resources uploaded by our tutors.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'

                      / .price_table_row
                      /   %span.tbl_col1
                      /     My Performance Profile
                      /     %sup{style: "margin-left: 0px;"} ®
                      /     .price_tbl_row_hover Compare your progress with GradReady students across Australia.
                      /   %span.tbl_col2
                      /     = image_tag 'public_pages/right_tick.png'

                      .price_table_row.bg_white
                        %span.tbl_col1
                          Mobile Friendly - Study on the Go
                          .price_tbl_row_hover You are able to access every single one of our desktop features seamlessly via your mobile
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'

                .tbl_row_col.grey_bg_col
                  .price_table_row.mob_pkg_bg
                    %a.diffr_anchor{:href => "#at_live", "data-toggle" => "collapse"}
                      %strong LIVE COMPONENT (100+ hours, 19 days)
                      %i.fa.fa-plus{"aria-hidden" => "true"}
                  .price_table_body.flex_css.just_cntnt
                    %a.upgrade_complte.cstm_green_txt.add_mob_course{:href => "#comp_at", "data-toggle" => "collapse"}
                      %strong Upgrade to Comprehensive Attendance Course
                      %i.fa.fa-plus{"aria-hidden" => "true"}
                    #comp_at.collapse.wdth100
                      .tbl_row_col.grey_bg_col
                        .price_table_row.mob_pkg_bg
                          %strong ONLINE COMPONENT
                      .tbl_row_col.grey_bg_col.sec_sub_lvl
                        .mobile_tbl_row.pkg_bg.wdth100
                          .price_table_row.padd20
                            %strong Includes everything from the Essential course plus:
                          .panel-heading
                            %a{:href => "#at_tutor", "data-toggle" => "collapse"}
                              %strong TARGETTED 1 ON 1 TUTOR ASSISTANCE
                              %i.fa.fa-plus{"aria-hidden" => "true"}
                          #at_tutor.collapse
                            .price_table_row
                              %span.tbl_col1
                                Marked Essays
                                .price_tbl_row_hover Our Tutors provide detailed feedback and advice to ensure you improve your essay writing skills.
                              %span.tbl_col2
                                %strong 10

                            .price_table_row.bg_white
                              %span.tbl_col1
                                GetClarity
                                %sup ®
                                System for MCQ
                                .price_tbl_row_hover Ask our excellent tutors relevant questions about MCQs at the click of a button.
                              %span.tbl_col2
                                = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'

                            .price_table_row
                              %span.tbl_col1.dsp_block
                                GetClarity
                                %sup ®
                                System for Online Exams
                                .price_tbl_row_hover Ask our excellent tutors relevant questions about Online Exams at the click of a button.
                              %span.tbl_col2
                                = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'

                            .price_table_row.bg_white
                              %span.tbl_col1
                                GetClarity
                                %sup ®
                                System for Videos
                                .price_tbl_row_hover Ask our excellent tutors relevant questions about Videos at the click of a button.
                              %span.tbl_col2
                                = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'

                      .tbl_row_col.text-center
                        .pkg_cost.attend_second_pkg
                          %span Component value
                          %a.strike 3493
                          %span.marg_4
                            = gamsat_product_info['attendance'][:early_bird] == true ? "Early Bird" : "  "
                          %span.fnt_size.marg_4
                            %strong
                              - ac_price = gamsat_product_info['attendance'][:price]
                              = ac_price.round.to_s
                          %span.fnt_size.price_fnt
                            = "+ 10% GST = #{(ac_price * 1.1 ).round}"
                          .clearfix
                          %a.buy_btn{:type => "click", :href => dynamic_product_version_uri("attendance", "gamsat")} Secure your place
                          %span.fs13 Comprehensive Attendance Course
                  .price_table_body.flex_css.just_cntnt
                    %a.upgrade_complte.cstm_green_txt.add_mob_course{:href => "#at_cc", "data-toggle" => "collapse"}
                      %strong Upgrade to Complete Care Course
                      %i.fa.fa-plus{"aria-hidden" => "true"}
                    #at_cc.collapse.wdth100
                      .tbl_row_col.grey_bg_col
                        .price_table_row.mob_pkg_bg
                          %a.diffr_anchor
                            %strong LIVE COMPONENT
                      .tbl_row_col.grey_bg_col.sec_sub_lvl
                        .mobile_tbl_row.pkg_bg.wdth100
                          .price_table_row.padd20
                            %strong Includes everything from the Comprehensive course plus:
                          .price_table_row.bg_white
                            %span.tbl_col1
                              Private Tutoring sessions
                              .price_tbl_row_hover Receive 1 on 1 assistance from the best GAMSAT tutors.
                            %span.tbl_col2
                              6


                          .tbl_row_col.text-center
                            .pkg_cost
                              %span Component value
                              %a.strike 4254
                              %span.marg_4
                                = gamsat_product_info['attendance-all'][:early_bird] == true ? "Early Bird" : "  "
                              %span.fnt_size.marg_4
                                %strong
                                  - acc_price = gamsat_product_info['attendance-all'][:price]
                                  = acc_price.round.to_s
                              %span.fnt_size.price_fnt
                                = "+ 10% GST = #{(acc_price * 1.1 ).round}"
                              .clearfix
                              %a.buy_btn{:type => "click", :href => dynamic_product_version_uri("attendance-all", "gamsat")} Secure your place
                              %span.fs13 Complete Care Course
                    .tbl_row_col.grey_bg_col.sec_sub_lvl
                  #go_down_live.mobile_tbl_row.pkg_bg.wdth100
                    #at_live.collapse
                      .price_table_row
                        %span.tbl_col1
                          Weekly Support Sessions
                          .price_tbl_row_hover
                            At GradReady we offer extra online sessions to support you through the multi-month long preparation process.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'

                      .price_table_row.bg_white
                        %span.tbl_col1
                          Study Buddy Matching
                          .price_tbl_row_hover
                            We will help connect you with 1 or more of the thousands of students who use GradReady's services every year.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'

                      .price_table_row
                        %span.tbl_col1
                          Live Classes (6 core days)
                          .price_tbl_row_hover
                            %ul
                              %li Humanities (9 hrs).
                              %li Physics (7 hrs).
                              %li Biology (8 hrs).
                              %li Chemistry (7 hrs).
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'

                      .price_table_row.bg_white
                        %span.tbl_col1
                          Mock Exam + Recap (2 core days)
                          .price_tbl_row_hover Providing students with the most realistic mock exam experience available.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'

                      .price_table_row
                        %span.tbl_col1
                          Mock Exam Percentile Reporting
                          .price_tbl_row_hover Compare your performance with GradReady students across Australia.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'

                      .price_table_row.bg_white
                        %span.tbl_col1
                          Online Interactive Tutorial
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'

                      .price_table_row
                        %span.tbl_col1
                          Weekend Tutorial
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick.png'

                    #care_component
                      .tbl_row_col.text-center
                        .pkg_cost.attend_frst_pkg
                          %span Component value
                          %a.strike 3055
                          %span.marg_4
                            = gamsat_product_info['attendance-basic'][:early_bird] == true ? "Early Bird" : "  "
                          %span.fnt_size.marg_4
                            %strong
                              - ae_price = gamsat_product_info['attendance-basic'][:price]
                              = ae_price.round.to_s
                          %span.fnt_size.price_fnt
                            = "+ 10% GST = #{(ae_price * 1.1 ).round}"
                          .clearfix
                          %a.buy_btn{:type => "click", :href => dynamic_product_version_uri("attendance-basic", "gamsat")} Secure your place
                          %span.fs13 Essential Attendance Course

          .row.mobile_row.m_zero
            .col-xs-12


          .row.mobile_row.m_zero
            .col-xs-12


:javascript

  $(".panel-heading a").click(function(){
    $(this).find("i").toggleClass("fa-plus fa-minus");
  });

  $('#online_gamsat_upgrade').click(function(){
    $('#online_downgrade_purchase').toggleClass('hide');
  })

  $('.upgrade_complte').click(function(){
    $('#care_component').toggleClass('hide');
  })
