.mobile_menu_wrapper
  %a.close_menu{href: "javascript:void(0)"}
    %i.fa.fa-times{"aria-hidden" => "true"}
  %ul
    %li
      %a{href: "/gamsat-preparation-courses"}
        GAMSAT
        %sup> ®
        Courses
    %li
      %a{href: "/umat-preparation-courses"}
        UCAT
        %sup> ®
        Courses
    %li
      %a.show_submenu{href: "javascript:void(0)"}
        GAMSAT
        %sup{style: 'margin-left: -3px'} ®
        #{Date.today.year}
        %span.down_submenu
          %i.fa.fa-angle-down{"aria-hidden" => "true"}
      %ul.mobile_submenu_col
        %li
          GAMSAT
          = succeed "Overview" do
            %sup{style: 'margin-left: -3px'} ®
          %ul
            %li
              %a{href: "/gamsat-2022"}
                GAMSAT
                %sup{style: 'margin-left: -3px'} ®
                #{Date.today.year}
            %li
              %a{href: "/what-is-gamsat"}
                What is GAMSAT
                %sup{style: 'margin-left: -3px'} ®
            %li
              %a{href: "/gamsat-scores"}
                GAMSAT
                %sup{style: 'margin-left: -3px'} ®
                Results Guide
                #{Date.today.year}
           
        %li      
          MEDICAL SCHOOLS
               
          %ul
            %li
              %a{href: "/australian-medical-schools"}
                Australian Medical Schools Overview
                  
            %li
              %a{href: "/medical-school-entry-requirements"}
                Medical School Entry Requirements
                  
            %li
              %a{href: "/how-to-become-a-doctor"}
                Pathways to Medicine
    %li
      %a.show_submenu{href: "javascript:void(0)"}
        Free GAMSAT
        %sup{style: 'margin-left: -3px'} ®
        %span.down_submenu
          %i.fa.fa-angle-down{"aria-hidden" => "true"}
      %ul.mobile_submenu_col
        %li
          GAMSAT
          = succeed "Tips" do
            %sup{style: 'margin-left: -3px'} ®
          %ul
            %li
              %a{href: "/gamsat-preparation"}
                How to study for the GAMSAT
                %sup{style: 'margin-left: -3px'} ®
            %li
              %a{href: "/gamsat-section-1"}
                GAMSAT
                %sup{style: 'margin-left: -3px'} ®
                Section 1 Prep
            %li
              %a{href: "/gamsat-section-2"}
                GAMSAT
                %sup{style: 'margin-left: -3px'} ®
                Section 2 Prep
            %li
              %a{href: "/gamsat-section-3"}
                GAMSAT
                %sup{style: 'margin-left: -3px'} ®
                Section 3 Prep
            %li
              %a{href: "/gamsat-biology"}
                GAMSAT
                %sup{style: 'margin-left: -3px'} ®
                Biology
            %li
              %a{href: "/gamsat-chemistry"}
                GAMSAT
                %sup{style: 'margin-left: -3px'} ®
                Chemistry
            %li
              %a{href: "/gamsat-physics"}
                GAMSAT
                %sup{style: 'margin-left: -3px'} ®
                Physics
            %li
              %a{href: "/gamsat-non-science-background"}
                GAMSAT
                %sup{style: 'margin-left: -3px'} ®
                Preparation for a Non-Science Background
        %li
          GAMSAT
          = succeed "Resources" do
            %sup{style: 'margin-left: -3px'} ®
          %ul
            %li
              %a{href: "/free-gamsat-preparation-materials"}
                Free GAMSAT
                %sup{style: 'margin-left: -3px'} ®
                Resources
            %li
              %a{href: "/gamsat-preparation-courses/free-gamsat-trial"}
                GAMSAT
                %sup{style: 'margin-left: -3px'} ®
                Free Trial
            %li
              %a{href: "/gamsat-quote-generator"}
                GAMSAT
                %sup{style: 'margin-left: -3px'} ®
                Quote Generator
            %li
              %a{href: "/gamsat-free-practice"}
                GAMSAT
                %sup{style: 'margin-left: -3px'} ®
                Practice Questions
            %li
              %a{href: "/gamsat-example-essay"}
                GAMSAT
                %sup{style: 'margin-left: -3px'} ®
                Example Essays
            %li
              %a{href: "/gamsat-study-syllabus"}
                GAMSAT
                %sup{style: 'margin-left: -3px'} ®
                Study Syllabus
            %li
              %a{href: "/gamsat-podcast"}
                GradReady GAMSAT
                %sup{style: 'margin-left: -3px'} ®
                Podcast
    %li
      %a.show_submenu{href: "javascript:void(0)"}
        Contact Us
        %span.down_submenu
          %i.fa.fa-angle-down{"aria-hidden" => "true"}
      %ul.mobile_submenu_col
        %li
          GAMSAT Exam
          %ul
            %li
              %a{href: "/gamsat-preparation-courses/faq"} FAQ
            %li
              %a{href: "/gamsat-preparation-courses/contact"} Get In Touch
            %li
              %a{href: "/blog/gamsat-preparation-courses"} Blog
            %li
              %a{href: "/gradready-partners"} GradReady Partners
            %li
              %a{href: "/jobs/available_positions"} JOIN US 
        / %li
        /   UCAT Exam
        /   %ul
        /     %li
        /       %a{href: "/umat-preparation-courses/faq"} FAQ
        /     %li
        /       %a{href: "/umat-preparation-courses/contact"} Get In Touch
        /     %li
        /       %a{href: "/blog/umat-preparation-courses"} Blog
    - if user_signed_in?
      %li
        %a.show_submenu{href: "javascript:void(0)"}
          .fa.fa-cart-plus
          %span.down_submenu
            %i.fa.fa-angle-down{"aria-hidden" => "true"}
        - if current_user.student?
          %ul.mobile_submenu_col
            %li
              Cart
              %ul
                %li
                  = link_to 'Cart', user_ongoing_order_link if current_user.student?
                %li
                  = link_to "Past Orders", orders_path if current_user.student? && current_user.orders.where.not(status: 0).present?
      %li
        %a.show_submenu{href: "javascript:void(0)"}
          Account
          %span.down_submenu
            %i.fa.fa-angle-down{"aria-hidden" => "true"}
        %ul.mobile_submenu_col
          %li
            Account
            %ul
              %li
                %a{href: '/dashboard/home'} Dashboard
              %li
                = link_to 'Profile', edit_user_registration_path
              %li
                = link_to "Log out", destroy_user_session_path, :method => :delete
    - else
      %li
        %a{href: "/login"} Login
.overlay_show  
.body_overlay_home  
.fixed_social_icon
  .content.shake.shake-constant
    %a{href: root_path + "#free_study_guide"}
      %span.clock
        Free Study Guide
        = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/clock_icn.svg', alt: 'Free Trial'
  .content
    %a{id: 'public_course_recommender', href: "javascript:void(0)"}
      %span.book
        Course Recommender
        = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/book_icn.svg', alt: 'Course Recommender'
  .content
    %a{href: gamsat_path + "#student_infographic"}
      %span.monitor
        Who Uses GradReady
        = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/monitr_icn.svg', alt: 'Course Recommender'

#recommender_div
  #course-recommender
  = javascript_include_tag 'course-recommender'

:javascript
  $("#public_course_recommender").click(function(){
    $("#course-recommender .cr").addClass("cr--on")
  });
