.container.scrolling_table#umat-courses-comparison
  .table_scroll.tbl_wrap
    .row.m_zero.desk_row
      .col-md-4.col-sm-4.padd0.pckge_cntnt_col
        .price_table_container
          .price_table_heading.bg_transparent.new_empty_space &nbsp
          .price_table_body.flex_css.just_cntnt
            .tbl_row_col.grey_bg_col
              .price_table_row.pkg_bg
                %h4
                  %strong ONLINE COMPONENT
            .tbl_row_col.grey_bg_col.sec_sub_lvl
              .price_table_row.pkg_bg
                %h4
                  %strong PREPARATION MATERIAL
              .price_table_row
                %span
                  UCAT
                  %sup ®
                  Diagnostic test
                  .price_tbl_row_hover
                    50 question test to assess your familiarity of the fundamental concepts covered in the UCAT
                    %sup ®
                    exam.
              .price_table_row
                MCQs with Full Explanations
                .price_tbl_row_hover 2000+ MCQs which are systematically categorised in 19 subtopics.
              .price_table_row
                MCQ Tracking System
                .price_tbl_row_hover Able to track your weakness and point you to the appropriate corresponding material.
              .price_table_row
                %span
                  Full Length Online Practise UCAT
                  %sup ®
                  Exams
                .price_tbl_row_hover
                  UCAT
                  %sup ®
                  style exams.
              .price_table_row
                Advanced Auto Reporting System
                .price_tbl_row_hover See exact points of your weaknesses and compare your performance with 1000s of other GradReady students in each section and overall.
              .price_table_row
                %span
                  UCAT
                  %sup ®
                  Logical Reasoning Text Guide
                  .price_tbl_row_hover
                    Textbook comprehensively covers the UCAT
                    %sup ®
                    exam Logical Reasoning Topics.
              .price_table_row
                %span
                  UCAT
                  %sup ®
                  Understanding People Text Guide
                .price_tbl_row_hover
                  Textbook comprehensively covers the UCAT
                  %sup ®
                  exam Understanding People Topics.
              .price_table_row
                %span
                  UCAT
                  %sup ®
                  Non-Verbal Reasoning Text Guide
                .price_tbl_row_hover
                  Textbook comprehensively covers the UCAT
                  %sup ®
                  exam Non-Verbal Reasoning Topics.
              .price_table_row
                %span
                  UCAT
                  %sup ®
                  Logical Reasoning Tutorial Videos
                .price_tbl_row_hover
                  Logical Reasoning - 4 Hours.
              .price_table_row
                %span
                  UCAT
                  %sup ®
                  Understanding People Tutorial Videos
                .price_tbl_row_hover
                  Understanding People - 1.5 Hours.
              .price_table_row
                %span
                  UCAT
                  %sup ®
                  Non-Verbal Resoning Tutorial Videos
                .price_tbl_row_hover
                  Non-verbal Reasoning - 3 Hours.
            .tbl_row_col.grey_bg_col.sec_sub_lvl
              .price_table_row.pkg_bg
                %h4
                  %strong LEARNING TOOLS
              .price_table_row
                %span
                  UCAT
                  %sup ®
                  Study Timeline Guide
                  .price_tbl_row_hover
                    Helping to navigate through the UCAT
                    %sup ®
                    exam journey.
              .price_table_row
                %span
                  UCAT
                  %sup ®
                  General Strategy Guide
                  .price_tbl_row_hover
                    Help navigate through general strategies for UCAT
                    %sup ®
                    exam  preparation.
              .price_table_row
                %span
                  UCAT
                  %sup ®
                  Preparation Strategy
                  .price_tbl_row_hover
                    Perform your best by understanding what makes the UCAT
                    %sup ®
                    exam different to other tests.
              .price_table_row
                Quality Assurance System
                .price_tbl_row_hover Able to provide feedback on everything within the GradReady web system - from MCQs to videos.
              .price_table_row
                Content Cross-Referencing System
                .price_tbl_row_hover Match MCQs to precise videos and textbook chapters.
              .price_table_row
                Access to Supplemental Resources
                .price_tbl_row_hover Access additional documents and resources uploaded by our tutors.
            .tbl_row_col.grey_bg_col
              #go_down_live.price_table_row.pkg_bg
                %h4
                  %strong LIVE COMPONENT (50+ hours, 8 days)
              .price_table_row
                %span
                  UCAT
                  %sup ®
                  Workshop (6 full days)
                  .price_tbl_row_hover
                    %ul
                      %li Logical Reasoning - 12 hours.
                      %li Understanding People - 7 Hours.
                      %li Non-verbal Reasoning - 11 Hours.
              .price_table_row
                Mock Exam + Recap (2 full days)
                .price_tbl_row_hover
                  UCAT
                  %sup ®
                  Exam drill which provide students with actual exam-live experience.
              .price_table_row
                Mock Exam Percentile Reporting
                .price_tbl_row_hover Compare your performance with GradReady students across Australia.
          .price_table_body.first_pkg_visible
            .tbl_row_col.grey_bg_col.mtop231
              .price_table_row.pkg_bg.new_padd_height
                %h4
                  %strong ONLINE COMPONENT
            .tbl_row_col.grey_bg_col.sec_sub_lvl
              .price_table_row.pkg_bg.new_padd_height
                %h4
                  %strong TARGETTED 1 ON 1 TUTOR ASSISTANCE
              .price_table_row
                GetClarity
                %sup ®
                System for MCQ
                .price_tbl_row_hover Ask our excellent tutors relevant question about MCQs at the click of a button.
              .price_table_row
                GetClarity
                %sup ®
                System for Online Exams
                .price_tbl_row_hover Ask our excellent tutors relevant question about Online Exams at the click of a button.
              .price_table_row
                GetClarity
                %sup ®
                System for Videos
                .price_tbl_row_hover Ask our excellent tutors relevant question about Videos at the click of a button.
          .price_table_body.first_pkg_visible.second_pkg_visible
            .tbl_row_col.grey_bg_col.mtop231
              .price_table_row.pkg_bg
                %h4
                  %strong LIVE COMPONENT
              .price_table_row
                Private Tutoring sessions
                .price_tbl_row_hover
                  Receive 1 on 1 assistance from the best UCAT
                  %sup ®
                  tutors.
      / .col-md-3.col-sm-3.col-xs-3.padd0.pckg_col
      /   .price_table_container
      /     .float-shadow
      /       .price_table_heading STARTER
      /       .price_table_body.flex_css
      /         .tbl_row_col.grey_bg_col
      /           .price_table_row.warning-bg.bg_transparent.pckg_ht
      /             %strong  
      /           .price_table_row  
      /         .tbl_row_col.wht_bg_col
      /           .price_table_row  
      /           .price_table_row
      /             %strong 500
      /           .price_table_row
      /             = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
      /           .price_table_row.flex_hhgt  
      /           .price_table_row  
      /           .price_table_row
      /             = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
      /           .price_table_row.flex_hhgt
      /             = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
      /           .price_table_row.flex_hhgt
      /             = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
      /           .price_table_row.flex_hhgt  
      /           .price_table_row.flex_hhgt  
      /           .price_table_row.flex_hhgt  
      /         .tbl_row_col.grey_bg_col
      /           .price_table_row.warning-bg.bg_transparent.pckg_ht
      /             %strong  
      /         .tbl_row_col.wht_bg_col
      /           .price_table_row
      /             = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
      /           .price_table_row
      /             = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
      /           .price_table_row
      /             = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
      /           .price_table_row
      /             = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
      /           .price_table_row
      /             = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
      /           .price_table_row
      /             = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
      /         .tbl_row_col.grey_bg_col
      /           .price_table_row.warning-bg.bg_transparent
      /             %strong  
      /         .tbl_row_col.wht_bg_col
      /           .price_table_row  
      /           .price_table_row  
      /           .price_table_row  
      /         .tbl_row_col.wht_bg_col
      /           .pkg_cost
      /             %span Component value
      /             %a.strike 265
      /             %span.marg_4
      /               = umat_product_info['starter'][:early_bird] == true ? "Early Bird" : "  "
      /             %span.fnt_size
      /               %strong
      /                 - st_price = umat_product_info['starter'][:price]
      /                 - if st_price
      /                   = st_price.round.to_s
      /             %span.fnt_size.price_fnt
      /               - if st_price
      /                 = "+ 10% GST = #{(st_price * 1.1 ).round}"
      /             .clearfix
      /             %a.buy_btn{:type => "click", :href => dynamic_product_version_uri("starter", "umat")} Secure your place
      /             %span.fs13 Starter Course
      .col-md-4.col-sm-4.padd0.pckg_col
        .price_table_container
          .scond_levl_hover
            .float-shadow
              .price_table_heading
                %h3
                  ONLINE
                  / <p>(ESSENTIALS)</p>
              .price_table_body.flex_css
                .tbl_row_col.grey_bg_col
                  .price_table_row.primary-bg.bg_transparent.pckg_ht
                    %strong  
                  .price_table_row  
                .tbl_row_col.wht_bg_col
                  .price_table_row
                    = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                  .price_table_row
                    %strong 2000+
                  .price_table_row
                    = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                  .price_table_row
                    %strong 4
                  .price_table_row
                    = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                  .price_table_row
                    = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                  .price_table_row
                    = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                  .price_table_row
                    = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                  .price_table_row
                    = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                  .price_table_row
                    = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                  .price_table_row
                    = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                .tbl_row_col.grey_bg_col
                  .price_table_row.warning-bg.bg_transparent.pckg_ht
                    %strong  
                .tbl_row_col.wht_bg_col
                  .price_table_row
                    = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                  .price_table_row
                    = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                  .price_table_row
                    = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                  .price_table_row
                    = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                  .price_table_row
                    = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                  .price_table_row
                    = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                .tbl_row_col.grey_bg_col
                  .price_table_row.warning-bg.bg_transparent
                    %strong  
                .tbl_row_col.wht_bg_col
                  .price_table_row  
                  .price_table_row  
                  .price_table_row  
                .tbl_row_col
                  .pkg_cost.online_frst_pkg
                    %span Component value
                    %a.strike 979
                    %span.marg_4
                      = umat_product_info['online-basic'][:early_bird] == true ? "Early Bird" : "  "
                    %span.fnt_size
                      %strong
                        - oe_price = umat_product_info['online-basic'][:price]
                        = oe_price.round.to_s
                    %span.fnt_size.price_fnt
                      = "+ 10% GST = #{(oe_price * 1.1 ).round}"
                    .clearfix
                    %a.buy_btn{:type => "click", :href => dynamic_product_version_uri("online-basic", "umat")} Secure your place
                    %span.fs13 Essential Online Course
            .price_table_body.second_level_col.online_second
              .tbl_row_col.grey_bg_col
                .price_table_row.warning-bg.bg_transparent.pckg_ht
                  %strong  
                .price_table_row
                  %strong Including everything above plus:
              .tbl_row_col.wht_bg_col
                / <div class="price_table_row"><strong>10</strong></div>
                .price_table_row
                  = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
              .tbl_row_col.wht_bg_col
                .price_table_row
                  = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
              .tbl_row_col.wht_bg_col
                .price_table_row
                  = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
              .tbl_row_col
                .pkg_cost
                  %span Component value
                  %a.strike 1254
                  %span.marg_4
                    = umat_product_info['online'][:early_bird] == true ? "Early Bird" : "  "
                  %span.fnt_size
                    %strong
                      - oc_price = umat_product_info['online'][:price]
                      = oc_price.round.to_s
                  %span.fnt_size.price_fnt
                    = "+ 10% GST = #{(oc_price * 1.1 ).round}"
                  .clearfix
                  %a.buy_btn{:type => "click", :href => dynamic_product_version_uri("online", "umat")} Secure your place
                  %span.fs13 Comprehensive Online Course
          .price_table_body.bg_transparent
            .tbl_row_col
              .price_table_row  
            .tbl_row_col
              .price_table_row  
      .col-md-4.col-sm-4.padd0.pckg_col
        .price_table_container
          .third_levl_hover
            .scond_levl_hover
              .float-shadow
                .price_table_heading
                  %h3
                    ATTENDANCE
                    / <p>(ESSENTIALS)</p>
                .price_table_body.flex_css
                  .tbl_row_col.grey_bg_col
                    .price_table_row.success-bg.bg_transparent.pckg_ht
                      %strong  
                    .price_table_row  
                  .tbl_row_col.wht_bg_col
                    .price_table_row
                      = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                    .price_table_row
                      %strong 2000+
                    .price_table_row
                      = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                    .price_table_row
                      %strong 4
                    .price_table_row
                      = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                    .price_table_row
                      = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                    .price_table_row
                      = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                    .price_table_row
                      = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                    .price_table_row
                      = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                    .price_table_row
                      = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                    .price_table_row
                      = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                  .tbl_row_col.grey_bg_col
                    .price_table_row.warning-bg.bg_transparent.pckg_ht
                      %strong  
                  .tbl_row_col.wht_bg_col
                    .price_table_row
                      = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                    .price_table_row
                      = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                    .price_table_row
                      = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                    .price_table_row
                      = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                    .price_table_row
                      = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                    .price_table_row
                      = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                  .tbl_row_col.grey_bg_col
                    .price_table_row.warning-bg.bg_transparent.pckg_ht
                      %strong  
                  .tbl_row_col.wht_bg_col
                    .price_table_row
                      = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                    .price_table_row
                      = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                    .price_table_row
                      = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                  .tbl_row_col
                    .pkg_cost.attend_frst_pkg.hide_pkg_box
                      %span Component value
                      %a.strike 1556
                      %span.marg_4
                        = umat_product_info['attendance-basic'][:early_bird] == true ? "Early Bird" : "  "
                      %span.fnt_size
                        %strong
                          - ae_price = umat_product_info['attendance-basic'][:price]
                          = ae_price.round.to_s
                      %span.fnt_size.price_fnt
                        = "+ 10% GST = #{(ae_price * 1.1 ).round}"
                      .clearfix
                      %a.buy_btn{:type => "click", :href => dynamic_product_version_uri("attendance-basic", "umat")} Secure your place
                      %span.fs13 Essential Attendance Course
              .price_table_body.second_level_col.attendence_second
                .price_table_body
                  .tbl_row_col.grey_bg_col
                    .price_table_row.warning-bg.bg_transparent.pckg_ht
                      %strong  
                    .price_table_row
                      %strong Including everything above plus:
                  .tbl_row_col.wht_bg_col
                    / <div class="price_table_row"><strong>12</strong></div>
                    .price_table_row
                      = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                  .tbl_row_col.wht_bg_col
                    .price_table_row
                      = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                  .tbl_row_col.wht_bg_col
                    .price_table_row
                      = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                  .tbl_row_col
                    .pkg_cost.attend_second_pkg.hide_pkg_box
                      %span Component value
                      %a.strike 1831
                      %span.marg_4
                        = umat_product_info['attendance'][:early_bird] == true ? "Early Bird" : "  "
                      %span.fnt_size
                        %strong
                          - ac_price = umat_product_info['attendance'][:price]
                          = ac_price.round.to_s
                      %span.fnt_size.price_fnt
                        = "+ 10% GST = #{(ac_price * 1.1 ).round}"
                      .clearfix
                      %a.buy_btn{:type => "click", :href => dynamic_product_version_uri("attendance", "umat")} Secure your place
                      %span.fs13 Comprehensive Attendance Course
            .price_table_body.third_level_col
              .tbl_row_col.grey_bg_col
                .price_table_row
                  %strong Including everything above plus:
              .tbl_row_col.wht_bg_col
                .price_table_row
                  %strong 6
              .tbl_row_col
                .pkg_cost
                  %span Component value
                  %a.strike 2376
                  %span.marg_4
                    = umat_product_info['attendance-all'][:early_bird] == true ? "Early Bird" : "  "
                  %span.fnt_size
                    %strong
                      - acc_price = umat_product_info['attendance-all'][:price]
                      = acc_price.round.to_s
                  %span.fnt_size.price_fnt
                    = "+ 10% GST = #{(acc_price * 1.1 ).round}"
                  .clearfix
                  %a.buy_btn{:type => "click", :href => dynamic_product_version_uri("attendance-all", "umat")} Secure your place
                  %span.fs13 Complete Care Course
      .text-center.gst
        %a{href: faq_topic_path(type: 'umat-preparation-courses', topic: 'enrolment-and-payment-queries', anchor: 'what-is-gst')} * What is GST?


    .row.mobile_row.m_zero
      .col-xs-12
        %ul.cstm_tab_lst.wdth100
          %li.active
            %label.cstm_label
              Online
              %input#online.umat_courses{:checked => "checked", :name => "radio-group", :type => "radio"}/
              %span.checkmark

          %li
            %label.cstm_label
              Attendance
              %input#attendance.umat_courses{:name => "radio-group", :type => "radio"}/
              %span.checkmark

      .tbl_wrapper.wdth100
        #umat_tbl.online
          .row.mobile_row.m_zero
            .col-xs-12
              .price_table_body.flex_css.just_cntnt
                .tbl_row_col.grey_bg_col
                  .price_table_row.mob_pkg_bg
                    %strong ONLINE COMPONENT
                .tbl_row_col.grey_bg_col.sec_sub_lvl
                  .mobile_tbl_row.pkg_bg.wdth100
                    .panel-heading
                      %a{:href => "#umat_ol_prep", "data-toggle" => "collapse"}
                        %strong PREPARATION MATERIALS
                        %i.fa.fa-plus{"aria-hidden" => "true"}

                    #umat_ol_prep.collapse
                      .price_table_row
                        %span.tbl_col1
                          UCAT
                          %sup ®
                          Diagnostic test
                          .price_tbl_row_hover
                            50 question test to assess your familiarity of the fundamental concepts covered in the UCAT
                            %sup ®
                            exam.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'

                      .price_table_row.bg_white
                        %span.tbl_col1
                          MCQs with Full Explanations
                          .price_tbl_row_hover 2000+ MCQs which are systematically categorised in 19 subtopics.
                        %span.tbl_col2
                          %strong 2000+

                      .price_table_row
                        %span.tbl_col1
                          MCQ Tracking System
                          .price_tbl_row_hover Able to track your weakness and point you to the appropriate corresponding material.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'

                      .price_table_row.bg_white
                        %span.tbl_col1.dsp_block
                          Full Length Online Practise UCAT
                          %sup ®
                          Exams
                          .price_tbl_row_hover
                            UCAT
                            %sup ®
                            style exams.
                        %span.tbl_col2
                          %strong 4

                      .price_table_row
                        %span.tbl_col1
                          Advanced Auto Reporting System
                          .price_tbl_row_hover See exact points of your weaknesses and compare your performance with 1000s of other GradReady students in each section and overall.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'

                      .price_table_row.bg_white
                        %span.tbl_col1.dsp_block
                          UCAT
                          %sup ®
                          Logical Reasoning Text Guide
                          .price_tbl_row_hover
                            Textbook comprehensively covers the UCAT
                            %sup ®
                            exam Logical Reasoning Topics.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'

                      .price_table_row
                        %span.tbl_col1.dsp_block
                          UCAT
                          %sup ®
                          Understanding People Text Guide
                          .price_tbl_row_hover
                            Textbook comprehensively covers the UCAT
                            %sup ®
                            exam Understanding People Topics.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'

                      .price_table_row.bg_white
                        %span.tbl_col1.dsp_block
                          UCAT
                          %sup ®
                          Non-Verbal Reasoning Text Guide
                          .price_tbl_row_hover
                            Textbook comprehensively covers the UCAT
                            %sup ®
                            exam Non-Verbal Reasoning Topics.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'

                      .price_table_row
                        %span.tbl_col1.dsp_block
                          UCAT
                          %sup ®
                          Logical Reasoning Tutorial Videos
                          .price_tbl_row_hover
                            Logical Reasoning - 4 Hours.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'

                      .price_table_row.bg_white
                        %span.tbl_col1.dsp_block
                          UCAT
                          %sup ®
                          Understanding People Tutorial Videos
                          .price_tbl_row_hover
                            Understanding People - 1.5 Hours.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'

                      .price_table_row
                        %span.tbl_col1.dsp_block
                          UCAT
                          %sup ®
                          Non-Verbal Resoning Tutorial Videos
                          .price_tbl_row_hover
                            Non-verbal Reasoning - 3 Hours.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'

                .tbl_row_col.grey_bg_col.sec_sub_lvl
                  .mobile_tbl_row.pkg_bg.wdth100
                    .panel-heading
                      %a{:href => "#ol_learning_tool", "data-toggle" => "collapse"}
                        %strong LEARNING TOOLS
                        %i.fa.fa-plus{"aria-hidden" => "true"}
                    #ol_learning_tool.collapse
                      .price_table_row
                        %span.tbl_col1
                          UCAT
                          %sup ®
                          Study Timeline Guide
                          .price_tbl_row_hover
                            Helping to navigate through the UCAT
                            %sup ®
                            exam journey.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'

                      .price_table_row.bg_white
                        %span.tbl_col1
                          UCAT
                          %sup ®
                          General Strategy Guide
                          .price_tbl_row_hover
                            Help navigate through general strategies for UCAT
                            %sup ®
                            exam  preparation.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'

                      .price_table_row
                        %span.tbl_col1
                          UCAT
                          %sup ®
                          Preparation Strategy
                          .price_tbl_row_hover
                            Perform your best by understanding what makes the UCAT
                            %sup ®
                            exam different to other tests.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'

                      .price_table_row.bg_white
                        %span.tbl_col1
                          Quality Assurance System
                          .price_tbl_row_hover Able to provide feedback on everything within the GradReady web system - from MCQs to videos.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'

                      .price_table_row
                        %span.tbl_col1
                          Content Cross-Referencing System
                          .price_tbl_row_hover Match MCQs to precise videos and textbook chapters.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'

                      .price_table_row.bg_white
                        %span.tbl_col1
                          Access to Supplemental Resources
                          .price_tbl_row_hover Access additional documents and resources uploaded by our tutors.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'

                    .tbl_row_col.text-center
                      .pkg_cost.online_frst_pkg
                        %span Component value
                        %a.strike 979
                        %span.marg_4
                          = umat_product_info['online-basic'][:early_bird] == true ? "Early Bird" : "  "
                        %span.fnt_size
                          %strong
                            - oe_price = umat_product_info['online-basic'][:price]
                            = oe_price.round.to_s
                        %span.fnt_size.price_fnt
                          = "+ 10% GST = #{(oe_price * 1.1 ).round}"
                        .clearfix
                        %a.buy_btn{:type => "click", :href => dynamic_product_version_uri("online-basic", "umat")} Secure your place
                        %span.fs13 Essential Online Course

          .row.mobile_row.m_zero
            .col-xs-12
              .price_table_body.flex_css.just_cntnt
                %a.cstm_green_txt.add_mob_course{:href => "#comp_ol", "data-toggle" => "collapse"}
                  %strong Upgrade to Comprehensive Online Course
                  %i.fa.fa-plus{"aria-hidden" => "true"}

                #comp_ol.collapse.wdth100
                  .tbl_row_col.grey_bg_col
                    .price_table_row.pkg_bg
                      %strong ONLINE COMPONENT
                  .tbl_row_col.grey_bg_col.sec_sub_lvl
                    .mobile_tbl_row.pkg_bg.wdth100
                      .price_table_row
                        %strong Includes everything from the Essential course plus:
                      .panel-heading
                        %a{:href => "#ol_tutor", "data-toggle" => "collapse"}
                          %strong TARGETTED 1 ON 1 TUTOR ASSISTANCE
                          %i.fa.fa-plus{"aria-hidden" => "true"}
                      #ol_tutor.collapse
                        .price_table_row.bg_white
                          %span.tbl_col1
                            GetClarity
                            %sup ®
                            System for MCQ
                            .price_tbl_row_hover Ask our excellent tutors relevant question about MCQs at the click of a button.
                          %span.tbl_col2
                            = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'

                        .price_table_row
                          %span.tbl_col1.dsp_block
                            GetClarity
                            %sup ®
                            System for Online Exams
                            .price_tbl_row_hover Ask our excellent tutors relevant question about Online Exams at the click of a button.
                          %span.tbl_col2
                            = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'

                        .price_table_row.bg_white
                          %span.tbl_col1
                            GetClarity
                            %sup ®
                            System for Videos
                            .price_tbl_row_hover Ask our excellent tutors relevant question about Videos at the click of a button.
                          %span.tbl_col2
                            = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'

                      .tbl_row_col.text-center
                        .pkg_cost
                          %span Component value
                          %a.strike 1254
                          %span.marg_4
                            = umat_product_info['online'][:early_bird] == true ? "Early Bird" : "  "
                          %span.fnt_size
                            %strong
                              - oc_price = umat_product_info['online'][:price]
                              = oc_price.round.to_s
                          %span.fnt_size.price_fnt
                            = "+ 10% GST = #{(oc_price * 1.1 ).round}"
                          .clearfix
                          %a.buy_btn{:type => "click", :href => dynamic_product_version_uri("online", "umat")} Secure your place
                          %span.fs13 Comprehensive Online Course

        #umat_tbl.attendance
          .row.mobile_row.m_zero
            .col-xs-12
              .price_table_body.flex_css.just_cntnt
                .tbl_row_col.grey_bg_col
                  .price_table_row.pkg_bg
                    %strong ONLINE COMPONENT
                .tbl_row_col.grey_bg_col.sec_sub_lvl
                  .mobile_tbl_row.pkg_bg.wdth100
                    .panel-heading
                      %a{:href => "#at_prep", "data-toggle" => "collapse"}
                        %strong PREPARATION MATERIALS
                        %i.fa.fa-plus{"aria-hidden" => "true"}
                    #at_prep.collapse
                      .price_table_row
                        %span.tbl_col1
                          UCAT
                          %sup ®
                          Diagnostic test
                          .price_tbl_row_hover
                            50 question test to assess your familiarity of the fundamental concepts covered in the UCAT
                            %sup ®
                            exam.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'

                      .price_table_row.bg_white
                        %span.tbl_col1
                          MCQs with Full Explanations
                          .price_tbl_row_hover 2000+ MCQs which are systematically categorised in 19 subtopics.
                        %span.tbl_col2
                          %strong 2000+

                      .price_table_row
                        %span.tbl_col1
                          MCQ Tracking System
                          .price_tbl_row_hover Able to track your weakness and point you to the appropriate corresponding material.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'

                      .price_table_row.bg_white
                        %span.tbl_col1.dsp_block
                          Full Length Online Practise UCAT
                          %sup ®
                          Exams
                          .price_tbl_row_hover
                            UCAT
                            %sup ®
                            style exams.
                        %span.tbl_col2
                          %strong 4

                      .price_table_row
                        %span.tbl_col1
                          Advanced Auto Reporting System
                          .price_tbl_row_hover See exact points of your weaknesses and compare your performance with 1000s of other GradReady students in each section and overall.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'

                      .price_table_row.bg_white
                        %span.tbl_col1.dsp_block
                          UCAT
                          %sup ®
                          Logical Reasoning Text Guide
                          .price_tbl_row_hover
                            Textbook comprehensively covers the UCAT
                            %sup ®
                            exam Logical Reasoning Topics.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'

                      .price_table_row
                        %span.tbl_col1.dsp_block
                          UCAT
                          %sup ®
                          Understanding People Text Guide
                          .price_tbl_row_hover
                            Textbook comprehensively covers the UCAT
                            %sup ®
                            exam Understanding People Topics.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'

                      .price_table_row.bg_white
                        %span.tbl_col1.dsp_block
                          UCAT
                          %sup ®
                          Non-Verbal Reasoning Text Guide
                          .price_tbl_row_hover
                            Textbook comprehensively covers the UCAT
                            %sup ®
                            exam Non-Verbal Reasoning Topics.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'

                      .price_table_row
                        %span.tbl_col1.dsp_block
                          UCAT
                          %sup ®
                          Logical Reasoning Tutorial Videos
                          .price_tbl_row_hover
                            Logical Reasoning - 4 Hours.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'

                      .price_table_row.bg_white
                        %span.tbl_col1.dsp_block
                          UCAT
                          %sup ®
                          Understanding People Tutorial Videos
                          .price_tbl_row_hover
                            Understanding People - 1.5 Hours.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'

                      .price_table_row
                        %span.tbl_col1.dsp_block
                          UCAT
                          %sup ®
                          Non-Verbal Resoning Tutorial Videos
                          .price_tbl_row_hover
                            Non-verbal Reasoning - 3 Hours.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'

                .tbl_row_col.grey_bg_col.sec_sub_lvl
                  .mobile_tbl_row.pkg_bg.wdth100
                    .panel-heading
                      %a{:href => "#at_learn", "data-toggle" => "collapse"}
                        %strong LEARNING TOOLS
                        %i.fa.fa-plus{"aria-hidden" => "true"}
                    #at_learn.collapse
                      .price_table_row
                        %span.tbl_col1
                          UCAT
                          %sup ®
                          Study Timeline Guide
                          .price_tbl_row_hover
                            Helping to navigate through the UCAT
                            %sup ®
                            exam journey.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'

                      .price_table_row.bg_white
                        %span.tbl_col1
                          UCAT
                          %sup ®
                          General Strategy Guide
                          .price_tbl_row_hover
                            Help navigate through general strategies for UCAT
                            %sup ®
                            exam  preparation.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'

                      .price_table_row
                        %span.tbl_col1
                          UCAT
                          %sup ®
                          Preparation Strategy
                          .price_tbl_row_hover
                            Perform your best by understanding what makes the UCAT
                            %sup ®
                            exam different to other tests.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'

                      .price_table_row.bg_white
                        %span.tbl_col1
                          Quality Assurance System
                          .price_tbl_row_hover Able to provide feedback on everything within the GradReady web system - from MCQs to videos.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'

                      .price_table_row
                        %span.tbl_col1
                          Content Cross-Referencing System
                          .price_tbl_row_hover Match MCQs to precise videos and textbook chapters.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'

                      .price_table_row.bg_white
                        %span.tbl_col1
                          Access to Supplemental Resources
                          .price_tbl_row_hover Access additional documents and resources uploaded by our tutors.
                        %span.tbl_col2
                          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'


                    .tbl_row_col.grey_bg_col
                      #go_down_live.mobile_tbl_row.pkg_bg.wdth100
                        .panel-heading
                          %a{:href => "#at_live", "data-toggle" => "collapse"}
                            %strong LIVE COMPONENT (50+ hours, 8 days)
                            %i.fa.fa-plus{"aria-hidden" => "true"}
                        #at_live.collapse
                          .price_table_row
                            %span.tbl_col1
                              UCAT Workshop (6 full days)
                              .price_tbl_row_hover
                                %ul
                                  %li Logical Reasoning - 12 hours.
                                  %li Understanding People - 7 Hours.
                                  %li Non-verbal Reasoning - 11 Hours.
                            %span.tbl_col2
                              = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'

                          .price_table_row.bg_white
                            %span.tbl_col1
                              Mock Exam + Recap (2 full days)
                              .price_tbl_row_hover
                                UCAT
                                %sup ®
                                Exam drill which provide students with actual exam-live experience.
                            %span.tbl_col2
                              = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'

                          .price_table_row
                            %span.tbl_col1
                              Mock Exam Percentile Reporting
                              .price_tbl_row_hover Compare your performance with GradReady students across Australia
                            %span.tbl_col2
                              = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'

                    .tbl_row_col.text-center
                      .pkg_cost.attend_frst_pkg
                        %span Component value
                        %a.strike 1556
                        %span.marg_4
                          = umat_product_info['attendance-basic'][:early_bird] == true ? "Early Bird" : "  "
                        %span.fnt_size
                          %strong
                            - ae_price = umat_product_info['attendance-basic'][:price]
                            = ae_price.round.to_s
                        %span.fnt_size.price_fnt
                          = "+ 10% GST = #{(ae_price * 1.1 ).round}"
                        .clearfix
                        %a.buy_btn{:type => "click", :href => dynamic_product_version_uri("attendance-basic", "umat")} Secure your place
                        %span.fs13 Essential Attendance Course

          .row.mobile_row.m_zero
            .col-xs-12
              .price_table_body.flex_css.just_cntnt
                %a.cstm_green_txt.add_mob_course{:href => "#comp_at", "data-toggle" => "collapse"}
                  %strong Upgrade to Comprehensive Attendance Course
                  %i.fa.fa-plus{"aria-hidden" => "true"}
                #comp_at.collapse.wdth100
                  .tbl_row_col.grey_bg_col
                    .price_table_row.pkg_bg
                      %strong ONLINE COMPONENT
                  .tbl_row_col.grey_bg_col.sec_sub_lvl
                    .mobile_tbl_row.pkg_bg.wdth100
                      .price_table_row
                        %strong Includes everything from the Essential course plus:
                      .panel-heading
                        %a{:href => "#at_tutor", "data-toggle" => "collapse"}
                          %strong TARGETTED 1 ON 1 TUTOR ASSISTANCE
                          %i.fa.fa-plus{"aria-hidden" => "true"}
                      #at_tutor.collapse


                        .price_table_row.bg_white
                          %span.tbl_col1
                            GetClarity
                            %sup ®
                            System for MCQ
                            .price_tbl_row_hover Ask our excellent tutors relevant question about MCQs at the click of a button.
                          %span.tbl_col2
                            = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'

                        .price_table_row
                          %span.tbl_col1.dsp_block
                            GetClarity
                            %sup ®
                            System for Online Exams
                            .price_tbl_row_hover Ask our excellent tutors relevant question about Online Exams at the click of a button.
                          %span.tbl_col2
                            = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'

                        .price_table_row.bg_white
                          %span.tbl_col1
                            GetClarity
                            %sup ®
                            System for Videos
                            .price_tbl_row_hover Ask our excellent tutors relevant question about Videos at the click of a button.
                          %span.tbl_col2
                            = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'

                      .tbl_row_col.text-center
                        .pkg_cost.attend_second_pkg
                          %span Component value
                          %a.strike 1831
                          %span.marg_4
                            = umat_product_info['attendance'][:early_bird] == true ? "Early Bird" : "  "
                          %span.fnt_size
                            %strong
                              - ac_price = umat_product_info['attendance'][:price]
                              = ac_price.round.to_s
                          %span.fnt_size.price_fnt
                            = "+ 10% GST = #{(ac_price * 1.1 ).round}"
                          .clearfix
                          %a.buy_btn{:type => "click", :href => dynamic_product_version_uri("attendance", "umat")} Secure your place
                          %span.fs13 Comprehensive Attendance Course

          .row.mobile_row.m_zero
            .col-xs-12
              .price_table_body.flex_css.just_cntnt
                %a.cstm_green_txt.add_mob_course{:href => "#at_cc", "data-toggle" => "collapse"}
                  %strong Upgrade to Complete Care Course
                  %i.fa.fa-plus{"aria-hidden" => "true"}
                #at_cc.collapse.wdth100
                  .tbl_row_col.grey_bg_col
                    .price_table_row.mob_pkg_bg
                      %a.diffr_anchor
                        %strong LIVE COMPONENT
                  .tbl_row_col.grey_bg_col.sec_sub_lvl
                    .mobile_tbl_row.pkg_bg.wdth100
                      .price_table_row.pad_15
                        %strong.pad_15 Includes everything from the Comprehensive course plus:
                      .price_table_row.bg_white
                        %span.tbl_col1
                          Private Tutoring sessions
                          .price_tbl_row_hover Receive 1 on 1 assistance from the best UCAT tutors.
                        %span.tbl_col2
                          6


                      .tbl_row_col.text-center
                        .pkg_cost
                          %span Component value
                          %a.strike 2376
                          %span.marg_4
                            = umat_product_info['attendance-all'][:early_bird] == true ? "Early Bird" : "  "
                          %span.fnt_size
                            %strong
                              - acc_price = umat_product_info['attendance-all'][:price]
                              = acc_price.round.to_s
                          %span.fnt_size.price_fnt
                            = "+ 10% GST = #{(acc_price * 1.1 ).round}"
                          .clearfix
                          %a.buy_btn{:type => "click", :href => dynamic_product_version_uri("attendance-all", "umat")} Secure your place
                          %span.fs13 Complete Care Course

        .text-center.gst.mob_gst
          %a{href: faq_topic_path(type: 'gamsat-preparation-courses', topic: 'enrolment-and-payment', anchor: 'What is GST')} * What is GST?

:javascript

  $(".panel-heading a").click(function(){
    $(this).find("i").toggleClass("fa-plus fa-minus");
  });

  $(".diffr_anchor").click(function(){
    $(this).find("i").toggleClass("fa-plus fa-minus");
  });
