%section#comparison_table.pad50
  .text-center.container.mbot48
    %h2.aos-item{"data-aos" => "fade-up", "data-aos-duration" => "1200"}
      UCAT
      %sup ®
      Preparation Provider Comparison Table
    %p.aos-item.sub_heading_txt{"data-aos" => "fade-up", "data-aos-duration" => "1300"} We believe in making well informed decisions, therefore we have made an easy to use comparison table for you. We also encourage you to do your own research on each provider thoroughly and dig into the details. To help you in your own research process, we have made a course research template for you to use. Do your own research, find the information yourself, and see GradReady's unparalleled value.
    %a.research_temp.aos-item.default_btn.hvr-shutter-in-horizontal.fl_none.aos-init.mbot30{"data-aos" => "fade-left", "data-aos-duration" => "1200", href: pages_download_umat_pdf_path(format: "pdf")} Research Template
    .temp_down.hide File Downloaded Successfully
  .comparison_table_tabbing
    %ul.nav.attendce_tabbing{role: "tablist"}
      %li.active{role: "presentation"}
        %a#attendce_pack{"aria-controls" => "attendence_tab", "data-toggle" => "tab", href: "#attendence_tab", role: "tab"}
          %h3
            ATTENDANCE PACKAGE
      %li{role: "presentation"}
        %a#non_attendce_pack{"aria-controls" => "non_attendence_tab", "data-toggle" => "tab", href: "#non_attendence_tab", role: "tab"}
          %h3
            ONLINE PACKAGE
    .container.scrolling_table
      .table_scroll.tbl_wrap
        .tab-content
          #attendence_tab.tab-pane.active{role: "tabpanel"}
            .container.attenden_header
              .row.m_zero.desk_row
                .col-md-4.col-sm-4.col-xs-4.float-shadow.no_mouse
                  .price_table_container
                    .price_table_body
                      .tbl_row_col
                        .pkg_cost.bg_none.new_empty_space
                          %span.fnt_size  
                      .price_table_container
                        .price_table_body.flex_css.just_cntnt
                          .tbl_row_col.grey_bg_col
                            .price_table_row.pkg_bg
                              %h4
                                %strong LIVE COMPONENT
                            / <div class="price_table_row">Statistically Significant Track Record</div>
                            .price_table_row Hours of Live Teaching
                            .price_table_row Number of Students per Class
                            .price_table_row Teaching Style
                            .price_table_row Specialist Tutor in Each Subject
                            .price_table_row Mock Exam Day
                            .price_table_row Dedicated Review Day
                            .price_table_row Mock Exam Percentile Reported
                          .tbl_row_col.grey_bg_col
                            .price_table_row.pkg_bg
                              %h4
                                %strong PRACTICE MATERIAL
                            .price_table_row Diagnostics Test
                            .price_table_row Auto Reporting System for Diagnostics
                            .price_table_row Number of MCQs Available
                            .price_table_row Performance Tracking System
                            .price_table_row Customisable MCQs
                            .price_table_row Practice Exams
                            .price_table_row.flex_hhgt Sophisticated Auto Reporting System for Practice Exams
                            .price_table_row Exam Percentile Reported
                          .tbl_row_col.grey_bg_col
                            .price_table_row.pkg_bg
                              %h4
                                %strong LEARNING TOOLS
                            .price_table_row Textbook
                            .price_table_row Interactive Online Textbook
                            .price_table_row Videos
                            .price_table_row Advanced Quality Assurance System
                            .price_table_row Cross Referencing System
                          .tbl_row_col.grey_bg_col
                            .price_table_row.pkg_bg
                              %h4
                                %strong 1 ON 1 TUTOR ASSISTANCE
                            .price_table_row.flex_hhgt Able to Ask Tutor About Specific Material at Click of Button
                          .tbl_row_col
                            .pkg_cost.bg_none
                              %span.fnt_size  
                .col-md-4.col-sm-4.col-xs-4.float-shadow.pckg_col
                  .price_table_container
                    .price_table_body.flex_css
                      .tbl_row_col
                        .pkg_cost
                          %h4
                            %span.fnt_size GRADREADY
                      .tbl_row_col.wht_bg_col
                        .price_table_row.warning-bg.bg_transparent
                          %strong  
                        / <div class="price_table_row">3 years</div>
                        .price_table_row 50+ hours
                        .price_table_row 18 max
                        .price_table_row Interactivity Focused
                        .price_table_row
                          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                        .price_table_row
                          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                        .price_table_row
                          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                        .price_table_row
                          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                      .tbl_row_col.wht_bg_col
                        .price_table_row.warning-bg.bg_transparent
                          %strong  
                        .price_table_row
                          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                        .price_table_row
                          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                        .price_table_row 1200 and growing weekly
                        .price_table_row
                          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                        .price_table_row
                          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                        .price_table_row
                          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                        .price_table_row.flex_hhgt
                          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                        .price_table_row
                          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                      .tbl_row_col.wht_bg_col
                        .price_table_row.warning-bg.bg_transparent
                          %strong  
                        .price_table_row
                          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                        .price_table_row
                          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                        .price_table_row
                          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                        .price_table_row
                          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                        .price_table_row
                          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                      .tbl_row_col.wht_bg_col
                        .price_table_row.warning-bg.bg_transparent
                          %strong  
                        .price_table_row.flex_hhgt
                          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                      / .tbl_row_col.wht_bg_col
                      /   .pkg_cost
                      /     %span.fnt_size $586
                .col-md-4.col-sm-4.col-xs-4.float-shadow.pckg_col
                  .price_table_container
                    .price_table_body.flex_css
                      .tbl_row_col
                        .pkg_cost
                          %h4
                            %span.fnt_size Other Providers
                      .tbl_row_col.wht_bg_col
                        .price_table_row.warning-bg.bg_transparent
                          %strong  
                        .price_table_row 8-16 hrs
                        .price_table_row Usually Uncapped
                        .price_table_row Usually Traditional Seminar
                        .price_table_row
                          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/close_icon.png"
                        .price_table_row Usually Yes
                        .price_table_row
                          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/close_icon.png"
                        .price_table_row Usually NO
                      .tbl_row_col.wht_bg_col
                        .price_table_row.warning-bg.bg_transparent
                          %strong  
                        .price_table_row
                          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                        .price_table_row
                          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/close_icon.png"
                        .price_table_row 1000 - 1300
                        .price_table_row
                          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/close_icon.png"
                        .price_table_row
                          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/close_icon.png"
                        .price_table_row Usually Yes
                        .price_table_row.flex_hhgt
                          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/close_icon.png"
                        .price_table_row Usually No
                      .tbl_row_col.wht_bg_col
                        .price_table_row.warning-bg.bg_transparent
                          %strong  
                        .price_table_row Usually Yes
                        .price_table_row
                          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/close_icon.png"
                        .price_table_row Usually Yes
                        .price_table_row
                          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/close_icon.png"
                        .price_table_row
                          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/close_icon.png"
                      .tbl_row_col.wht_bg_col
                        .price_table_row.warning-bg.bg_transparent
                          %strong  
                        .price_table_row.flex_hhgt
                          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/close_icon.png"

              .row.mobile_row.m_zero
                .col-xs-12
                  %ul.cstm_tab_lst.wdth100
                    %li.active
                      %label.cstm_label
                        GRADREADY
                        %input#at_grad.at_comparison{:checked => "checked", :name => "comp-radio-group", :type => "radio"}/
                        %span.checkmark

                    %li
                      %label.cstm_label
                        OTHER PROVIDERS
                        %input#at_other.at_comparison{:name => "comp-radio-group", :type => "radio"}/
                        %span.checkmark
                .tbl_wrapper.wdth100
                  #comp_tbl
                    .row.mobile_row.m_zero
                      .price_table_body.flex_css.just_cntnt
                        .tbl_row_col.grey_bg_col
                          .price_table_row.mob_pkg_bg
                            %strong LIVE COMPONENT
                        .tbl_row_col.grey_bg_col.sec_sub_lvl
                          .mobile_tbl_row.pkg_bg.wdth100
                            #ol_prep.collapse.in
                              .price_table_row
                                %span.tbl_col1.wdth71
                                  Hours of Live Teaching
                                %span.tbl_col2.at_grad.wdth32
                                  %strong 50+ hours
                                %span.tbl_col2.at_other.wdth32
                                  %strong 8-16 hrs

                              .price_table_row.bg_white
                                %span.tbl_col1.wdth71
                                  Number of Students per Class
                                %span.tbl_col2.at_grad.wdth32
                                  %strong 18 max
                                %span.tbl_col2.at_other.wdth32
                                  %strong Usually Uncapped

                              .price_table_row
                                %span.tbl_col1.wdth71
                                  Teaching Style
                                %span.tbl_col2.at_grad.wdth32
                                  %strong Interactivity Focused
                                %span.tbl_col2.at_other.wdth32
                                  %strong Traditional Seminar

                              .price_table_row.bg_white
                                %span.tbl_col1.wdth71
                                  Specialist Tutor in Each Subject
                                %span.tbl_col2.at_grad.wdth32
                                  = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                                %span.tbl_col2.at_other.wdth32
                                  = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/close_icon.png'

                              .price_table_row
                                %span.tbl_col1.wdth71
                                  Mock Exam Day
                                %span.tbl_col2.at_grad.wdth32
                                  = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                                %span.tbl_col2.at_other.wdth32
                                  %strong Usually Yes

                              .price_table_row.bg_white
                                %span.tbl_col1.wdth71
                                  Dedicated Review Day
                                %span.tbl_col2.at_grad.wdth32
                                  = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                                %span.tbl_col2.at_other.wdth32
                                  = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/close_icon.png'

                              .price_table_row
                                %span.tbl_col1.wdth71
                                  Mock Exam Percentile Reported
                                %span.tbl_col2.at_grad.wdth32
                                  = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'
                                %span.tbl_col2.at_other.wdth32
                                  %strong Usually No


                        .tbl_row_col.grey_bg_col.sec_sub_lvl
                          .mobile_tbl_row.pkg_bg.wdth100
                            .panel-heading.mob_pkg_bg
                              %a{:href => "#ol_learning_tool", "data-toggle" => "collapse"}
                                %strong PRACTICE MATERIAL
                            #ol_learning_tool.collapse.in
                              .price_table_row
                                %span.tbl_col1.wdth71
                                  Diagnostics Test
                                %span.tbl_col2.at_grad.wdth32
                                  = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'
                                %span.tbl_col2.at_other.wdth32
                                  = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'

                              .price_table_row.bg_white
                                %span.tbl_col1.wdth71
                                  Auto Reporting System for Diagnostics
                                %span.tbl_col2.at_grad.wdth32
                                  = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'
                                %span.tbl_col2.at_other.wdth32
                                  = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/close_icon.png'

                              .price_table_row
                                %span.tbl_col1.dsp_block.wdth71
                                  Number of MCQs Available
                                %span.tbl_col2.at_grad.wdth32
                                  %strong 1200 and growing
                                %span.tbl_col2.at_other.wdth32
                                  %strong 1000 - 1300

                              .price_table_row.bg_white
                                %span.tbl_col1.wdth71
                                  Performance Tracking System
                                %span.tbl_col2.at_grad.wdth32
                                  = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'
                                %span.tbl_col2.at_other.wdth32
                                  = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/close_icon.png'

                              .price_table_row
                                %span.tbl_col1.wdth71
                                  Customisable MCQs
                                %span.tbl_col2.at_grad.wdth32
                                  = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'
                                %span.tbl_col2.at_other.wdth32
                                  = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/close_icon.png'

                              .price_table_row.bg_white
                                %span.tbl_col1.wdth71
                                  Practice Exams
                                %span.tbl_col2.at_grad.wdth32
                                  = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'
                                %span.tbl_col2.at_other.wdth32
                                  %strong Usually Yes

                              .price_table_row
                                %span.tbl_col1.wdth71
                                  Sophisticated Auto Reporting System ...
                                  .price_tbl_row_hover Sophisticated Auto Reporting System for Practice Exams
                                %span.tbl_col2.at_grad.wdth32
                                  = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'
                                %span.tbl_col2.at_other.wdth32
                                  = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/close_icon.png'

                              .price_table_row.bg_white
                                %span.tbl_col1.wdth71
                                  Exam Percentile Reported
                                %span.tbl_col2.at_grad.wdth32
                                  = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'
                                %span.tbl_col2.at_other.wdth32
                                  %strong Usually No

                            .tbl_row_col.grey_bg_col
                              #go_down_live.mobile_tbl_row.pkg_bg.wdth100
                                .panel-heading.mob_pkg_bg
                                  %a{:href => "#ol_live", "data-toggle" => "collapse"}
                                    %strong LEARNING TOOLS
                                #ol_live.collapse.in
                                  .price_table_row
                                    %span.tbl_col1.wdth71
                                      Textbook
                                    %span.tbl_col2.at_grad.wdth32
                                      = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'
                                    %span.tbl_col2.at_other.wdth32
                                      %strong Usually Yes

                                  .price_table_row.bg_white
                                    %span.tbl_col1.wdth71
                                      Interactive Online Textbook
                                    %span.tbl_col2.at_grad.wdth32
                                      = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'
                                    %span.tbl_col2.at_other.wdth32
                                      = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/close_icon.png'

                                  .price_table_row
                                    %span.tbl_col1.wdth71
                                      Videos
                                    %span.tbl_col2.at_grad.wdth32
                                      = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'
                                    %span.tbl_col2.at_other.wdth32
                                      %strong Usually Yes

                                  .price_table_row.bg_white
                                    %span.tbl_col1.wdth71
                                      Advanced Quality Assurance System
                                    %span.tbl_col2.at_grad.wdth32
                                      = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'
                                    %span.tbl_col2.at_other.wdth32
                                      = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/close_icon.png'

                                  .price_table_row
                                    %span.tbl_col1.wdth71
                                      Cross Referencing System
                                    %span.tbl_col2.at_grad.wdth32
                                      = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'
                                    %span.tbl_col2.at_other.wdth32
                                      = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/close_icon.png'

                            .tbl_row_col.grey_bg_col
                              #go_down_live.mobile_tbl_row.pkg_bg.wdth100
                                .panel-heading.mob_pkg_bg
                                  %a{:href => "#ol_live", "data-toggle" => "collapse"}
                                    %strong 1 ON 1 TUTOR ASSISTANCE
                                #ol_live.collapse.in
                                  .price_table_row
                                    %span.tbl_col1.wdth71
                                      Able to Ask Tutor About Specific Material ...
                                      .price_tbl_row_hover Able to Ask Tutor About Specific Material at Click of Button
                                    %span.tbl_col2.at_grad.wdth32
                                      = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'
                                    %span.tbl_col2.at_other.wdth32
                                      = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/close_icon.png'


          #non_attendence_tab.tab-pane{role: "tabpanel"}
            .container.attenden_header
              .row.m_zero.desk_row
                .col-md-4.col-sm-4.col-xs-4.float-shadow.no_mouse
                  .price_table_container
                    .price_table_body.flex_css.just_cntnt
                      .tbl_row_col
                        .pkg_cost.bg_none.new_empty_space
                          %span.fnt_size  
                      .tbl_row_col.grey_bg_col
                        .price_table_row.pkg_bg
                          %h4
                            %strong PRACTICE MATERIAL
                        .price_table_row Diagnostics Test
                        .price_table_row Auto Reporting System for Diagnostics
                        .price_table_row Number of MCQs Available
                        .price_table_row Performance Tracking System
                        .price_table_row Customisable MCQs
                        .price_table_row Practice Exams
                        .price_table_row.flex_hhgt Sophisticated Auto Reporting System for Practice Exams
                        .price_table_row Exam Percentile Reported
                      .tbl_row_col.grey_bg_col
                        .price_table_row.pkg_bg
                          %h4
                            %strong LEARNING TOOLS
                        .price_table_row Textbook
                        .price_table_row Interactive Online Textbook
                        .price_table_row Videos
                        .price_table_row Advanced Quality Assurance System
                        .price_table_row Cross Referencing System
                      /
                        <div class="tbl_row_col">
                        <div class="price_table_row pkg_bg"><strong>1 ON 1 TUTOR ASSISTANCE</strong></div>
                        <div class="price_table_row">Number of Essays Marked</div>
                        </div>
                      .tbl_row_col
                        .pkg_cost.bg_none
                          %span.fnt_size  
                .col-md-4.col-sm-4.col-xs-4.float-shadow.pckg_col
                  .price_table_container
                    .price_table_body.flex_css
                      .tbl_row_col
                        .pkg_cost
                          %h4
                            %span.fnt_size GRADREADY
                      .tbl_row_col.wht_bg_col
                        .price_table_row.warning-bg.bg_transparent
                          %strong  
                        .price_table_row
                          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                        .price_table_row
                          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                        .price_table_row 1200 and growing weekly
                        .price_table_row
                          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                        .price_table_row
                          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                        .price_table_row
                          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                        .price_table_row.min_hgt70.flex_hhgt
                          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                        .price_table_row
                          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                      .tbl_row_col.wht_bg_col
                        .price_table_row.warning-bg.bg_transparent
                          %strong  
                        .price_table_row
                          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                        .price_table_row
                          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                        .price_table_row
                          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                        .price_table_row
                          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                        .price_table_row
                          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"

                .col-md-4.col-sm-4.col-xs-4.float-shadow.pckg_col
                  .price_table_container
                    .price_table_body.flex_css
                      .tbl_row_col
                        .pkg_cost
                          %h4
                            %span.fnt_size Other Providers
                      .tbl_row_col.wht_bg_col
                        .price_table_row.warning-bg.bg_transparent
                          %strong  
                        .price_table_row
                          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png"
                        .price_table_row
                          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/close_icon.png"
                        .price_table_row 1000 - 1300
                        .price_table_row
                          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/close_icon.png"
                        .price_table_row
                          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/close_icon.png"
                        .price_table_row Usually Yes
                        .price_table_row.min_hgt70.flex_hhgt
                          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/close_icon.png"
                        .price_table_row Usually No
                      .tbl_row_col.wht_bg_col
                        .price_table_row.warning-bg.bg_transparent
                          %strong  
                        .price_table_row Usually Yes
                        .price_table_row
                          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/close_icon.png"
                        .price_table_row Usually Yes
                        .price_table_row
                          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/close_icon.png"
                        .price_table_row
                          = image_tag "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/close_icon.png"

              .row.mobile_row.m_zero
                .col-xs-12
                  %ul.cstm_tab_lst.wdth100
                    %li.active
                      %label.cstm_label
                        GRADREADY
                        %input#ol_grad.ol_comparison{:checked => "checked", :name => "radio-group", :type => "radio"}/
                        %span.checkmark

                    %li
                      %label.cstm_label
                        OTHER PROVIDERS
                        %input#ol_other.ol_comparison{:name => "radio-group", :type => "radio"}/
                        %span.checkmark
                .tbl_wrapper.wdth100
                  #comp_tbl
                    .row.mobile_row.m_zero
                      .price_table_body.flex_css.just_cntnt
                        .tbl_row_col.grey_bg_col
                          .price_table_row.mob_pkg_bg
                            %strong PRACTICE MATERIAL
                        .tbl_row_col.grey_bg_col.sec_sub_lvl
                          .mobile_tbl_row.pkg_bg.wdth100
                            #ol_prep.collapse.in
                              .price_table_row
                                %span.tbl_col1.wdth71
                                  Diagnostics Test
                                %span.tbl_col2.ol_grad.wdth32
                                  = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'
                                %span.tbl_col2.ol_other.wdth32
                                  = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'

                              .price_table_row.bg_white
                                %span.tbl_col1.wdth71
                                  Auto Reporting System for Diagnostics
                                %span.tbl_col2.ol_grad.wdth32
                                  = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'
                                %span.tbl_col2.ol_other.wdth32
                                  = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/close_icon.png'

                              .price_table_row
                                %span.tbl_col1.wdth71
                                  Number of MCQs Available
                                %span.tbl_col2.ol_grad.wdth32
                                  %strong 1200 and growing
                                %span.tbl_col2.ol_other.wdth32
                                  %strong 1000 - 1300

                              .price_table_row.bg_white
                                %span.tbl_col1.wdth71
                                  Performance Tracking System
                                %span.tbl_col2.ol_grad.wdth32
                                  = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'
                                %span.tbl_col2.ol_other.wdth32
                                  = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/close_icon.png'

                              .price_table_row
                                %span.tbl_col1.wdth71
                                  Customisable MCQs
                                %span.tbl_col2.ol_grad.wdth32
                                  = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'
                                %span.tbl_col2.ol_other.wdth32
                                  = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/close_icon.png'

                              .price_table_row.bg_white
                                %span.tbl_col1.wdth71
                                  Practice Exams
                                %span.tbl_col2.ol_grad.wdth32
                                  = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'
                                %span.tbl_col2.ol_other.wdth32
                                  %strong Usually Yes

                              .price_table_row
                                %span.tbl_col1.wdth71
                                  Sophisticated Auto Reporting System ...
                                  .price_tbl_row_hover Sophisticated Auto Reporting System for Practice Exams
                                %span.tbl_col2.ol_grad.wdth32
                                  = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'
                                %span.tbl_col2.ol_other.wdth32
                                  = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/close_icon.png'

                              .price_table_row.bg_white
                                %span.tbl_col1.wdth71
                                  Exam Percentile Reported
                                %span.tbl_col2.ol_grad.wdth32
                                  = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'
                                %span.tbl_col2.ol_other.wdth32
                                  %strong Usually No

                        .tbl_row_col.grey_bg_col.sec_sub_lvl
                          .mobile_tbl_row.pkg_bg.wdth100
                            .panel-heading.mob_pkg_bg
                              %a{:href => "#ol_learning_tool", "data-toggle" => "collapse"}
                                %strong LEARNING TOOLS
                            #ol_learning_tool.collapse.in
                              .price_table_row
                                %span.tbl_col1.wdth71
                                  Textbook
                                %span.tbl_col2.ol_grad.wdth32
                                  = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'
                                %span.tbl_col2.ol_other.wdth32
                                  %strong Usually Yes

                              .price_table_row.bg_white
                                %span.tbl_col1.dsp_block.wdth71
                                  Interactive Online Textbook
                                %span.tbl_col2.ol_grad.wdth32
                                  = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'
                                %span.tbl_col2.ol_other.wdth32
                                  = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/close_icon.png'

                              .price_table_row
                                %span.tbl_col1.wdth71
                                  Videos
                                %span.tbl_col2.ol_grad.wdth32
                                  = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'
                                %span.tbl_col2.ol_other.wdth32
                                  %strong Usually Yes

                              .price_table_row.bg_white
                                %span.tbl_col1.wdth71
                                  Advanced Quality Assurance System
                                %span.tbl_col2.ol_grad.wdth32
                                  = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'
                                %span.tbl_col2.ol_other.wdth32
                                  = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/close_icon.png'

                              .price_table_row
                                %span.tbl_col1.wdth71
                                  Cross Referencing System
                                %span.tbl_col2.ol_grad.wdth32
                                  = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/right_tick_umat.png'
                                %span.tbl_col2.ol_other.wdth32
                                  = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/close_icon.png'


:javascript

  $(".research_temp").click(function(){
    setTimeout(function(){
       $(".temp_down").removeClass("hide");
   }, 900);
  });
