!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    :css
      *{
      padding: 0px;
      margin: 0px;
      }
  %body
    .wrapper{style: "padding: 30px 0px; font-family:arial"}
      %table{style: "margin: 0 auto;max-width: 677px;width: 100%; font-family:arial;margin-top: 50px;padding: 12px 12px;"}
        %tbody
          %tr
            %td{style: "margin-top: 10px; float: left; line-height: 25px; font-size: 15px;"}
              = "#{@student.full_name}, Submitted an essay"
          %tr
            %td{style: "margin-top: 10px; float: left; color: #FFF; margin-bottom: 20px; font-size: 15px; padding: 5px 14px; font-weight: 600; background: #007833;"}
              Date Submitted:
            %td{style: "margin-top: 10px; float: left; margin-bottom: 20px; font-size: 15px; padding: 5px 14px; font-weight: 600;"}
              = @essay_response.time_submited.in_time_zone("Australia/Melbourne").strftime('%a, %d %b %Y %H:%M').to_s if @essay_response.time_submited.present?
          %tr
            %td{style: "margin-top: 10px; float: left; line-height: 25px; font-size: 15px;"}
              Question
              = sanitize @essay_response.essay.question
          %tr
            %td{style: "margin-top: 10px; float: left; line-height: 25px; font-size: 15px;"}
              Tags:
              - @essay_response.essay.tags.pluck(:name).each do |tag|
                %p= tag
          %tr
            %td{style: "margin-top: 10px; float: left; line-height: 25px; font-size: 15px;"}
              Response:
              = sanitize @essay_response.response
          %tr
            %td{style: "margin-top: 10px; line-height: 25px; margin-bottom: 60px; float: left; font-size: 15px;"}
              Click
              = link_to 'here', url_for(@essay_response), style: "color: #007833; text-decoration: underline; font-style: italic; font-weight: 700;"
              to mark the essay.
          %tr
            %td{style: "margin-bottom: 24px; float: left;font-size: 15px;"}
              Kind regards,
          %tr
            %td{style: "margin-bottom: 34px; float: left;font-size: 15px;"}
              GradReady Student Success Team
