%section.talk_to_bg.home_faq
  .container
    .support_col.looking_corse.text-center
      %h1 STYLE GUIDE
%section
  .text-center.container
    .row
      .col-lg-12.pguide_col.text-center
        %h1 H1 / .H1 - THE H1 IS THE MAIN PAGE HEADING
  %figure.highlight
    %pre
      %code.language-html{"data-lang" => "html"}
        %span='<h1>H1 / .H1 - THE H1 IS THE MAIN PAGE HEADING</h1>'
%section
  .text-center.container
    .row
      .col-lg-12.pguide_col.text-center
        %h2
          H2 / .H2 - GAMSAT
          %sup> ®
          Courses &amp; UCAT
          %sup> ®
          Courses at
          %span.grad_logo_head
            %span.green Grad
            %span.black Ready
  %figure.highlight
    %pre
      %code.language-html{"data-lang" => "html"}
        %span='<h2>H2 / .H2 - THE H2 IS THE PAGE LEVEL OR SECTION </h2>'
%section
  .text-center.container
    .row
      .col-lg-12.pguide_col.text-center
        %br/
        .guide_heading Body Paragraph
        %p PARAGRAPH - A lede, or lead, paragraph in literature is the opening paragraph of an article, essay, news story or book chapter. It usually occurs together with the headline or title. It precedes the main body of the article, and it gives the reader the main idea of the story. In both spellings, the word rhymes with the word need. A lede, or lead, paragraph in literature is the opening paragraph of an article, essay, news story or book chapter. It usually occurs together with the headline or title. It precedes the main body of the article, and it gives the reader the main idea of the story. In both spellings, the word rhymes with the word need.
        %p PARAGRAPH - A lede, or lead, paragraph in literature is the opening paragraph of an article, essay, news story or book chapter. It usually occurs together with the headline or title. It precedes the main body of the article, and it gives the reader the main idea of the story. In both spellings, the word rhymes with the word need. A lede, or lead, paragraph in literature is the opening paragraph of an article, essay, news story or book chapter. It usually occurs together with the headline or title. It precedes the main body of the article, and it gives the reader the main idea of the story. In both spellings, the word rhymes with the word need.
  %figure.highlight
    %pre
      %code.language-html{"data-lang" => "html"}
        %span='<p>A lede, or lead, paragraph in literature is the opening paragraph of an article </p>'
%section
  .text-center.container
    .row
      .col-lg-12.pguide_col.text-center.para_fs14
        %br/
        .guide_heading Small font-size entire Paragraph
        %p PARAGRAPH - A lede, or lead, paragraph in literature is the opening paragraph of an article, essay, news story or book chapter. It usually occurs together with the headline or title. It precedes the main body of the article, and it gives the reader the main idea of the story. In both spellings, the word rhymes with the word need. A lede, or lead, paragraph in literature is the opening paragraph of an article, essay, news story or book chapter. It usually occurs together with the headline or title. It precedes the main body of the article, and it gives the reader the main idea of the story. In both spellings, the word rhymes with the word need.
        %p PARAGRAPH - A lede, or lead, paragraph in literature is the opening paragraph of an article, essay, news story or book chapter. It usually occurs together with the headline or title. It precedes the main body of the article, and it gives the reader the main idea of the story. In both spellings, the word rhymes with the word need. A lede, or lead, paragraph in literature is the opening paragraph of an article, essay, news story or book chapter. It usually occurs together with the headline or title. It precedes the main body of the article, and it gives the reader the main idea of the story. In both spellings, the word rhymes with the word need.
  %figure.highlight
    %pre
      %code.language-html{"data-lang" => "html"}
        %span='<div class="para_fs14">'
        %span='<p>A lede, or lead, paragraph in literature is the opening paragraph of an article </p>'
        %span= '<p>A lede, or lead, paragraph in literature is the opening paragraph of an article </p>'
        %span='</div>'
%section
  .text-center.container
    .row
      .col-lg-12.pguide_col.text-center
        %br/
        .guide_heading Small font-size specific Paragraph
        %p.fs14 PARAGRAPH - A lede, or lead, paragraph in literature is the opening paragraph of an article, essay, news story or book chapter. It usually occurs together with the headline or title. It precedes the main body of the article, and it gives the reader the main idea of the story. In both spellings, the word rhymes with the word need. A lede, or lead, paragraph in literature is the opening paragraph of an article, essay, news story or book chapter. It usually occurs together with the headline or title. It precedes the main body of the article, and it gives the reader the main idea of the story. In both spellings, the word rhymes with the word need.
        %p.fs14 PARAGRAPH - A lede, or lead, paragraph in literature is the opening paragraph of an article, essay, news story or book chapter. It usually occurs together with the headline or title. It precedes the main body of the article, and it gives the reader the main idea of the story. In both spellings, the word rhymes with the word need. A lede, or lead, paragraph in literature is the opening paragraph of an article, essay, news story or book chapter. It usually occurs together with the headline or title. It precedes the main body of the article, and it gives the reader the main idea of the story. In both spellings, the word rhymes with the word need.
  %figure.highlight
    %pre
      %code.language-html{"data-lang" => "html"}
        %span= '<p class="fs14">A lede, or lead, paragraph in literature is the opening paragraph of an article </p>'
%section
  .text-center.container
    .row
      .col-lg-12.pguide_col.text-center
        %br/
        .guide_heading General Style
        %ul.vertical_lines
          %li
            %code &lt;a&gt;
            \-
            %a{href: "#"} This is a text link
          %li
            %code &lt;strong&gt;
            \-
            %strong Strong is used to indicate strong importance
          %li
            %code &lt;em&gt;
            \-
            %em This text has added emphasis
          %li
            %code &lt;b&gt;
            \- The
            %b b element
            is stylistically different text from normal text, without any special importance
          %li
            %code &lt;i&gt;
            \- The
            %i i element is text that is set off from the normal text
          %li
            %code &lt;u&gt;
            \- The
            %u u element
            is text with an unarticulated, though explicitly rendered, non-textual annotation
          %li
            %code &lt;del&gt; &amp; &lt;ins&gt;
            \- This text is
            %del deleted
            and
            %ins This text is inserted
          %li
            %code &lt;s&gt;
            \-
            %s This text has a strikethrough
          %li
            %code &lt;sup&gt;
            \- Superscript
            %sup ®
          %li
            %code &lt;sub&gt;
            \- Subscript for things like H
            %sub> 2
            O
%section
  .text-center.container
    .row
      .col-lg-12.pguide_col.text-center
        %br/
        .guide_heading Button style
        %a.default_btn.hvr-shutter-in-horizontal{href: "javascript:void(0)"} Default Btn Link
        %button.default_btn.hvr-shutter-in-horizontal{type: "button"} Default Button
        %button.default_btn.small_btn.hvr-shutter-in-horizontal{type: "button"} Small Default Button
  %figure.highlight
    %pre
      %code.language-html{"data-lang" => "html"}
        %span= '<a href="" class="default_btn hvr-shutter-in-horizontal">Default Btn Link</a>'
        %span= '<button class="default_btn hvr-shutter-in-horizontal" type="button">Default Button</button>'
        %span= '<button class="default_btn small_btn hvr-shutter-in-horizontal" type="button">Small Default Button</button>'
%section
  .text-center.container
    .row
      .col-lg-12.pguide_col.text-center
        %br/
        .guide_heading General Spacing Style
        %ul.vertical_lines
          %li
            %code .pad_lt
            \- padding-left: 0;
          %li
            %code .pad_rt
            \- padding-right: 0;
          %li
            %code .marg25
            \- margin: 25px 0px;
          %li
            %code .mtop0
            \- margin-top: 0px;
          %li
            %code .mtop5
            \- margin-top: 5px;
          %li
            %code .mtop10
            \- margin-top: 10px;
          %li
            %code .mtop15
            \- margin-top: 15px;
          %li
            %code .mtop20
            \- margin-top: 20px;
          %li
            %code .mtop30
            \- margin-top: 30px;
          %li
            %code .mtop40
            \- margin-top: 40px;
          %li
            %code .mtop50
            \- margin-top: 50px;
          %li
            %code .mbot0
            \- margin-bottom: 0;
          %li
            %code .mbot5
            \- margin-bottom: 5px;
          %li
            %code .mbot10
            \- margin-bottom: 10px;
          %li
            %code .mbot15
            \- margin-bottom: 15px;
          %li
            %code .mbot20
            \- margin-bottom: 20px;
          %li
            %code .mbot30
            \- margin-bottom: 30px;
          %li
            %code .mbot40
            \- margin-bottom: 40px;
          %li
            %code .mbot50
            \- padding-left: 0;
%section
  .text-center
    .row
      .col-lg-12.text-center
        %br/
        .guide_heading background Image Style
        .join_gradready_col
          %h2 Didn't Find the Question You Were Searching For?
          .clear
          %a.default_btn.hvr-shutter-in-horizontal{href: "#"} CONTACT US
  %figure.highlight
    %pre
      %code.language-html{"data-lang" => "html"}

        %span= '<div class="join_gradready_col">'
        %span= "<h2>Didn't Find the Question You Were Searching For?</h2>"
        %span= '<div class="clear"></div>'
        %span= '<a href="" class="default_btn hvr-shutter-in-horizontal">CONTACT US</a> </div>'
%section
  .text-center
    .row
      .col-lg-12.pguide_col.text-center
        %br/
        .guide_heading Collapse/Accordian
        .faq_list{style: "text-align: left; float: none;width: 630px; margin: 0 auto;"}
          .faq_list_col
            %h3.faq_question.collapsed{"aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", href: "#anne_qualities_tab", role: "button"}
              %i.fa.pull-right.fa-angle-down{"aria-hidden" => "true"}>
              Accordian 1
            #anne_qualities_tab.panel-collapse.collapse{"aria-expanded" => "false", style: "height: 0px;"}
              %p Accordian Text
          .faq_list_col
            %h3.faq_question{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#anne_drive_tab", role: "button"}
              %i.fa.fa-angle-down.pull-right{"aria-hidden" => "true"}
              Accordian 2
            #anne_drive_tab.panel-collapse.collapse
              %p Accordian 2 Text
  %figure.highlight
    %pre
      %code.language-html{"data-lang" => "html"}
        %span= '<div class="faq_list_col">'
        %span= '<h3 class="faq_question collapsed" data-parent="#accordion" data-toggle="collapse"'
        %span= 'href="#dynamic_id" role="button">'
        %span= '<i class="fa pull-right fa-angle-down" aria-hidden="true"> </i> Accordian 1</h3>'
        %span= '<div class="panel-collapse collapse"id="dynamic_id">Accordian Text</div></div>'
