- product_versions = ['online-basic', 'online', 'attendance-basic', 'attendance', 'attendance-all']
- if product_line == "vce"
  %center
    #vce-sec-1.comm-sec
      %h3
        English
      = render 'product_versions_row',product_versions: product_versions, product_line: product_line, subject: 'english', trial_course: trial_course
    #vce-sec-2.comm-sec
      %h3
        Mathematical Methods (CAS)
      = render 'product_versions_row',product_versions: product_versions, product_line: product_line, subject: 'math', trial_course: trial_course
- elsif product_line == "hsc"
  %center
    #hsc-se-1.comm-sec
      %h3
        English Advanced
      = render 'product_versions_row', product_versions: product_versions, product_line: product_line, subject: 'english', trial_course: trial_course
    #hsc-se-2.comm-sec
      %h3
        Mathematics Extension 1
      = render 'product_versions_row', product_versions: product_versions, product_line: product_line, subject: 'math', trial_course: trial_course
- else
  .comm-sec{:style => "width: 100%;float: left;" }
    = render 'product_versions_row', product_versions: product_versions, product_line: product_line, subject: nil, trial_course: trial_course
