!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    :css
      *{
      padding: 0px;
      margin: 0px;
      }
  %body
    .wrapper{style: "padding: 30px 0px; font-family:arial"}
      %table{style: "margin: 0 auto;max-width: 677px;width: 100%; font-family:arial;margin-top: 50px;padding: 12px 12px;"}
        %tbody
          %tr
            %td{style: "font-weight: 700;"}
              = "User did not receive the sufficient amount of essays from enrolment:  #{@student.first_name} #{@student.last_name}"
          %tr
            %td{style: "margin-top: 10px; float: left; line-height: 25px; font-size: 15px;"}
              = "In #{@course.name}"
          %tr
            %td{style: "margin-top: 22px; float: left; line-height: 25px; font-size: 15px;"}
              %h3 Student Info
              %h4 Contact
          %tr
            %td{style: "margin-top: 10px; float: left; line-height: 25px; font-size: 15px;"}
              <b>Student</b> #{@student.full_name}
          %tr
            %td{style: "margin-top: 10px; float: left; line-height: 25px; font-size: 15px;"}
              <b>Email</b> #{@student.email}
          %tr
            %td{style: "margin-top: 10px; float: left; line-height: 25px; font-size: 15px;"}
              <b>City</b> #{@course.city}
          %tr
            %td{style: "margin-top: 10px; float: left; line-height: 25px; font-size: 15px;"}
              If this course requires essays to be given upon enrolment ensure that there are sufficient essays then
          %tr
            %td{style: "margin-top: 10px; line-height: 25px; margin-bottom: 60px; float: left; font-size: 15px;"}
              manually assign the essays to the student
          %tr
            %td{style: "margin-bottom: 24px; float: left;font-size: 15px;"}
              Kind regards,
          %tr
            %td{style: "margin-bottom: 34px; float: left;font-size: 15px;"}
              GradReady Student Success Team
