- content_for :page_heading, 'Attempted Diagnostic Test'
.dashbord_right
  .resource_col.mbot21.martopbot10
    %h4.fl Attempted Diagnostic Test
  .statics_static_table.online_exam
    %ul
      %li
        %span Title :
        = @diagnostic_test_attempt.assessable
      %li.instruction_font
        %span Instruction :
        = @diagnostic_test_attempt.assessable.instruction
      %li
        %span Mark :
        = @diagnostic_test_attempt.mark.nil? ? 'N/A' : "#{@diagnostic_test_attempt.mark} / #{@diagnostic_test_attempt.mcqs.count }"
      %li
        %span Percentile :
        = @diagnostic_test_attempt.percentile.round(1) if @diagnostic_test_attempt.percentile.present?
      - if @diagnostic_test_attempt.assessable.show_stat
        %li
          %span Attempted by (no. of student) :
          = @diagnostic_test_attempt.assessable.assessment_attempts.completed.count

  = render 'section_attempts/index', section_attempts: @diagnostic_test_attempt.section_attempts, attemptable: @diagnostic_test_attempt
  = link_to 'Back', online_exam_attempts_path, class: 'black_default_btn resp_btn hvr-shutter-in-horizontal'
