.footer
  .container
    = render 'layouts/public_gamsat_footer'
    -# if product_line_type == 'umat'
      =# render 'layouts/public_umat_footer'
    -# else
      =# render 'layouts/public_gamsat_footer'

    .copyright_cntnt
      %p Copyright © GradReady Pty. Ltd. All rights reserved
      %p.fs_12
        GradReady is not in any way affiliated with ACER, nor are any materials produced or services offered by it relating to the GAMSAT
        %sup ®
        test endorsed or approved by ACER.

    %a.support_icon.hvr-shutter-in-horizontal#support-icon-btn{href: "javascript:void(0)"}
      %i.fa.fa-question{"aria-hidden" => "true"}>
      Support
    .qa_query_form.home_support_tab
      = simple_form_for(Ticket.new, html: {}) do |f|
        = f.invisible_captcha :subtitle
        .qa_form_header
          %h3 Got a Question?
          %span#qa_header_click.qa_close_icon_col
            %i.fa.fa-times{"aria-hidden" => "true"}
        .form_body
          .form-group
            %p.add_details
            %label Email:
            = f.input :email, as: :email, label: false, required: true, input_html: {value: current_user.present? ? current_user.email : ''}, class: "form-control", id: 'f_name'
            = f.hidden_field :signup_form_start_time
            = f.hidden_field :signup_form_end_time
          .form-group
            %label Name:
            - current_user_name = current_user.first_name if current_user.present?
            = f.input :first_name, label: false, input_html: {value: current_user_name.present? ? current_user.first_name : ''}, class: "form-control"
            = f.hidden_field :last_name
          .form-group
            %label Phone:
            - current_user_phone_no = current_user.phone_number if current_user.present?
            = f.input :phone_number, as: :tel, required: true, label: false, input_html: {value: current_user_phone_no.present? ? current_user.phone_number : ''}, class: "form-control", id: 'email_id'
          .form-group
            %label Topic:
            = select_tag "ticket[tag_ids][]", options_for_select(Tag.public_tags.order(:name).map{|t| [t.name, t.id]}), id: "answer_tag_id", class: "form-control", prompt: 'Please select a Topic', required: true
          .form-group
            %label Title:
            = f.input :title, label: false, required: true,class: "form-control", id: 'title'
          .form-group
            %label Message
            = f.input :question, label: false, required: true, input_html: { rows: 3 }
          - if current_user.nil?
            = f.input :public, as: :hidden, input_html: { value: true }
          - else
            = f.association :asker, as: :hidden, input_html: { value: current_user.id }
            = f.input :public, as: :hidden, input_html: { value: false }
          = hidden_field_tag 'query_path', request.path
          - if current_user.nil?
            %p.add_capctha
            - if recaptcha_rendered?
              %div#g-recaptcha2
            - else
              = recaptcha_tags
          .text-center
            %button.qa_submit_btn{type: "submit", value: 'public_query', name: 'commit'}
              Submit
= render 'pages/faq_direct_modal'
%a#back-to-top{href: "#", title: "Back to top"}

- if current_user.nil?
  :javascript
    $(".qa_query_form").addClass("captacha_form_tab")

:javascript
  $("#support-icon-btn").click(function(){
    $('#faqDirect').modal('show');
  });

  $("#faq-yes-btn").click(function(){
    window.location.href = "/gamsat-preparation-courses/faq";
  });

  $("#faq-no-btn").click(function(){
    $(".qa_query_form").addClass("show_qa_query_form");
    $(".qa_query_form").find('.qa_form_header h3').html("Got a Question?");
  });

  if($('#g-recaptcha2').length > 0){
    var widget2Recaptcha;
    var onload = function() {
      widget2Recaptcha =  grecaptcha.render('g-recaptcha2', {'sitekey' : "#{Rails.application.secrets[:recaptcha_public_key]}"});
    };
  }

  var signupFormStartTime = null;
  var signupFormEndTime = null;

  $(document).ready(function() {
    setTimeout(function() {
      $(".g-recaptcha").addClass("resize_capctha");
    }, 500);

    $('#ticket_email, #ticket_first_name, #ticket_phone_number, #ticket_title, #ticket_question').on('input', function(e){
      if ($('#ticket_signup_form_start_time').val() === '') {
        signupFormStartTime = (new Date()).getTime();

        $('#ticket_signup_form_start_time').val(signupFormStartTime);
      } else {
        signupFormEndTime = (new Date()).getTime();

        $('#ticket_signup_form_end_time').val(signupFormEndTime);
      }
    });

    $('#answer_tag_id').on('change', function(e){
      if ($('#ticket_signup_form_start_time').val() === '') {
        signupFormStartTime = (new Date()).getTime();

        $('#ticket_signup_form_start_time').val(signupFormStartTime);
      } else {
        signupFormEndTime = (new Date()).getTime();

        $('#ticket_signup_form_end_time').val(signupFormEndTime);
      }
    });
  });

  function validateEmail(ticket_email) {
    var filter = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
    if (filter.test(ticket_email)) {
        return true;
    }
    else {
        return false;
    }
  }

  $('#new_ticket').submit(function( e ){
      var ticket_email = $('#ticket_email').val();
      var ticket_phone_number = $('#ticket_phone_number').val();
      var ticket_topic = $('#answer_tag_id').val();
      var ticket_question = $('#ticket_question').val();
      $('#ticket_email').removeClass('error_box');
      $('#ticket_phone_number').removeClass('error_box');
      $('#answer_tag_id').removeClass('error_box');
      $('#ticket_question').removeClass('error_box');
      $('.add_details').text('');
      var filter = /^\+?[\d ]/;

      if (ticket_topic == ""){
        $('.add_details').text('Please enter valid details');
        $('#answer_tag_id').addClass('error_box');
        e.preventDefault();
      }

      if (ticket_question == ""){
        $('.add_details').text('Please enter valid details');
        $('#ticket_question').addClass('error_box');
        e.preventDefault();
      }

      if ($.trim(ticket_email).length == 0) {
        $('.add_details').text('Please enter valid details');
        $('#ticket_email').addClass('error_box');
        e.preventDefault();
      }
      ticket_phone_number =  ticket_phone_number.replace(/ /g,'');
      if (ticket_phone_number.length < 8 || ticket_phone_number.length > 15){
        $('.add_details').text('Please enter valid details');
        $('#ticket_phone_number').addClass('error_box');
        e.preventDefault();
      }
      if (filter.test(ticket_phone_number)) {
      }
      else
      {
        $('.add_details').text('Please enter valid details');
        $('#ticket_phone_number').addClass('error_box');
        e.preventDefault();
      }

      if($('#g-recaptcha2').length > 0){
        if(grecaptcha.getResponse(widget2Recaptcha) == "") {
          $('.add_capctha').text('Please verify CAPCTHA');
          e.preventDefault();
        }
      }
      else{
        if(grecaptcha.getResponse() == "") {
          $('.add_capctha').text('Please verify CAPCTHA');
          e.preventDefault();
        }
      }

      if (validateEmail(ticket_email)) {
      }
      else
      {
        $('.add_details').text('Please enter valid details');
        $('#ticket_email').addClass('error_box');
        e.preventDefault();
      }

  });

    $('.ask_ques_sec').on('click', function(){
      $('.qa_query_form').addClass('mob_responsive');
    });

    $('.qa_close_icon_col').on('click', function(){
      $('.qa_query_form').removeClass('mob_responsive');
    });
    $('.submit_tkt').on('click', function(){
      $('.qa_query_form').addClass('mob_responsive_new');
    });

    $('.qa_close_icon_col').on('click', function(){
      $('.qa_query_form').removeClass('mob_responsive_new');
    });
      $('#faq-no-btn').on('click', function(){
      $('.qa_query_form').addClass('mob_responsive');
    });

    $('.qa_close_icon_col').on('click', function(){
      $('.qa_query_form').removeClass('mob_responsive');
    });
:css
  @media only screen and (min-width: 260px) and (max-width: 767px){
    .mob_responsive {
      position:absolute;
      top: 95%;
      bottom: auto!important;
    }
    .mob_responsive_new {
      position:absolute;
      top: 245%;
      bottom: auto!important;
    }
  }
